[2019-02-27 08:24] nim65s commented on #686
Well, today @jcarpent should be able to make the source release of 2.1.0.

Then I will be able to start the work to put this source release on robotpkg, which will lead to having a binary release. But this work is not instantaneous, as we have to test and release [a lot of other softwares that depend on pinocchio](http://homepages.laas.fr/gsaurel/graph.svg).

Most of the work is already done, so t

[2019-02-27 10:35] littleggghost opened #705 "Usage about gepetto-gui?"
Hi, @jcarpent
Sorry to bother you again, but I can't make through the visualization. I have two questions here.
1. I install _gepetto-viewer_ v4.3.0 through `sudo apt install robotpkg-gepetto-viewer`, and
_gepetto-viewer-corba_ through `sudo apt install robotpkg-qt4-gepetto-viewer-corba`.
After I run `python load-urdf.py` on one terminal (I toggle DISPLAY=True here), the output of `gepetto-gui` sh

[2019-02-27 10:44] jcarpent commented on #705
You need to install the osg plugin for DAE.
You can proceed as follows:
`sudo apt-get install robotpkg-osg-dae`

[2019-02-27 10:46] jcarpent commented on #705
Concerning your second remark, current use of gepetto-gui is in Python with Pinocchio for easy prototyping. I would advise you to do all the developments you have to perform in Python by using bindings of critical code written in C++.

[2019-02-27 11:33] littleggghost commented on #705
The osg has been installed `robotpkg-osg-dae is already the newest version (3.2.1r1)` . But it stills the same.

[2019-02-27 12:00] nim65s commented on #705
It looks like this package should be on `3.2.1r2`.
Can you check that you have the lines
[code]
Where the `xenial` part should correspond to the output of the command `lsb_release -cs`,  somewhere in your `/etc/apt/sources.list` or in a `.list` file in `/etc/apt/sources.list.d`, and then run `apt update`, to check that you have the right version of the repository ?

[2019-02-27 12:02] jmirabel commented on #705
Check that /opt/openrobots/lib64 is in your LD_LIBRARY_PATH.

[2019-02-27 12:04] nim65s commented on #705
@jmirabel : the `r2` remove the need for `lib64`, as this this the convention in robotpkg, so I think @littleggghost should better get this `r2`.

[2019-02-27 12:16] littleggghost commented on #705
Yes, you are right. It's OK now.

[2019-02-27 12:16] littleggghost commented on #705
For the second question, I wonder if there has a direct way to perform robot from `c++` to `gepetto` through `C++ plugins`.
I will develop my own core algorithms using c++. If I have to rewrite many codes just for visualization using python bindings, then it really inconvenient. What's your opinion about this?

[2019-02-27 12:35] jcarpent commented on #686
The release has been pushed online. It is currently available on branch [v2.1.0](https://github.com/stack-of-tasks/pinocchio/tree/v2.1.0).
I will update master and devel branches as soon as hpp-fcl v1.0.0 is packaged.

[2019-02-27 12:37] jcarpent commented on #705
The C++ API is made for implementing critical codes. It is then easier to deploy scripts using Python, also for the visualization part.
If you plan to use Plugins, please see with @jmirabel who is the master of these.

[2019-02-27 12:48] jmirabel commented on #705
This question becomes out of scope of Pinocchio, except if Pinocchio is interested in a GUI for class Model.

It depends on what you want but, in both cases, you will have to work a bit. Likely, you should have a look at the usage of class gepetto.corbaserver.Client in robot_wrapper and mimic it in C++ (for the viewer side).

There are two ways:
- through CORBA: use the C++ class `Client` provided

[2019-02-27 12:48] nim65s commented on #686
I will put hpp-fcl v1.0.1 & pinocchio v2.1.0 on robotpkg ASAP.

[2019-02-27 15:24] proyan commented on #700
I have seen before that boost::serialization is not forward compatible. This was especially a problem when I serialized an object in 16.04 (boost 1.58) and deserialized in 14.04 (boost version 1.54). I can forsee that this would be a problem again when alternating between 16.04 and 18.04 (boost version 1.65). And I don't think the solution is in the pipeline. See for reference https://github.com/b

[2019-02-27 15:34] jcarpent commented on #700
@proyan Thanks for this useful feedback. But I guess you were using binaries and not text or XML?

[2019-02-27 16:38] proyan commented on #700
I was using text serialization.

[2019-02-27 17:09] olivier-stasse commented on #705
You may consider continue the discussion here:
https://github.com/Gepetto/gepetto-viewer

IMHO a lot of people are using rviz or rqt_gui to make C++ display of their algorithms.

The main reason behind gepetto-viewer is to avoid relying on ROS.

[2019-02-28 02:47] littleggghost commented on #705
Hi, @olivier-stasse
Could `pinocchio` use rviz to achieve visualization?
I want to use pinocchio with c++, and the visualization is confusing me now.

[2019-02-28 12:15] littleggghost opened #706 "Error about collision checking in practical-exercises?"
Hi, there
I recently do the practical-exercises as your tutorial says [4.3) Collision checking](http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_4-dyn.html)
But when I run in python, I meet an error:
[code]
As the tutorial says: **Pinocchio also implement a complete and efficient collision checking based on FCL, also not used in the tutorial**, which

[2019-02-28 12:26] jcarpent commented on #706
Will fix it. Thanks for this report.

[2019-02-28 12:26] jcarpent commented on #706
What do you mean by tutorial?

[2019-02-28 12:35] littleggghost commented on #706
The way used for collision checking in `robot_hand.py` is not the FCL way. Maybe use FCL in `robot_hand.py` will better as a tutorial.
We should use native API as much as possible, rather than "make" a new one.

[2019-02-28 12:37] jcarpent commented on #706
You're right. We wanted to mask a lot of FCL API to allow end users.
But it remains possible to use the classic API of FCL.

Maybe, it would be nice for someone to do it. @littleggghost Do you think you may write such an example? Thanks in advance for your contribution to Pinocchio.

[2019-02-28 12:42] littleggghost commented on #706
Well, I will do that if I have the time. As a beginner, there is still a long way to go.

[2019-02-28 12:56] jcarpent commented on #706
If you already know FCL, it just a matter of seeing how the functions for collision detection are working. All these details are located here: [here](https://github.com/stack-of-tasks/pinocchio/blob/9f7aba293c3df696dc9896e1b8a7b88b937f2e0f/src/algorithm/geometry.hxx#L29) for updating the placement of the collision meshes and [here](https://github.com/stack-of-tasks/pinocchio/blob/9f7aba293c3df696d

[2019-02-28 13:17] littleggghost commented on #706
Is these functions have python wrapper now?

[2019-02-28 13:22] littleggghost commented on #706
I want to make a collision test:
A box falls freely to the ground, causing bouncing and rolling till stop, and we can check it on gepetto-viewer.
Should I start a new issue?
And any advices?

[2019-02-28 14:00] nmansard commented on #638
yes sorry, i did not resolved this problem yet.

[2019-02-28 14:00] nmansard commented on #706
I started to change this tutorial to go to FCL detection collision. I then stopped because of some data resulting of FCL algorithms not properly bound to python-pinocchio. Related to #638

[2019-02-28 14:08] littleggghost commented on #706
Hi, @nmansard
What do you think of my collision test as I mentioned above?

[2019-02-28 15:18] jcarpent commented on #180
I think we can consider this issue solved finally!

[2019-02-28 15:18] #180 closed

[2019-02-28 15:19] jcarpent commented on #545
Solved by #698 .

[2019-02-28 15:19] #545 closed

[2019-02-28 15:20] jcarpent commented on #657
Also solved by #662

[2019-02-28 15:20] #657 closed

[2019-02-28 15:21] jcarpent commented on #208
@aelkhour Do you still need this featue?

[2019-02-28 15:22] jcarpent commented on #195
This issue has been partially solved by Pinocchio 2.0.0

[2019-02-28 15:22] #195 closed

[2019-02-28 15:23] jcarpent commented on #269
Most Spatial traits have been cleaned since Pinocchio 2.0.0.

[2019-02-28 15:23] #269 closed

[2019-02-28 15:28] aelkhour commented on #208
No you can close it.

[2019-02-28 15:37] #208 closed

[2019-03-01 03:14] littleggghost commented on #706
I want to make a collision test:
A box falls freely to the ground, causing bouncing and rolling till stop, and we can check it on gepetto-viewer.
Should I start a new issue @jcarpent
And any advices?

[2019-03-01 04:18] littleggghost opened #707 "Error about createData() in practical-exercises?"
Hi, all
I do the practical-exercises in [1.1) Creating and displaying the robot](http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_1-directgeom.html)
I meet an error:
`Traceback (most recent call last):
  File "exercise_1_1.py", line 29, in <module>
    robot = RobotWrapper(URDF, [PKG])
  File "/usr/local/lib/python2.7/site-packages/pinocchio/robot_wr

[2019-03-01 07:10] jcarpent commented on #707
Yes, the code needs to be updated according to the new signature of the RobotWrapper constructor.

[2019-03-01 07:13] littleggghost commented on #707
Then where can I find the newest code?

[2019-03-01 07:24] littleggghost commented on #638
I wish to know how long will this correction take?

[2019-03-01 10:00] jcarpent commented on #707
We just need to update the exercises. Can you do it please?

[2019-03-01 10:32] littleggghost commented on #707
I'm tring to do this. While I learn how to use pinocchio, I meet quite much errors.
I wish the bug issues can be solved so that I can proceed.

[2019-03-01 11:31] littleggghost commented on #707
For this error, where should I start? or who could I contact that in charge of this before?

[2019-03-01 11:51] littleggghost commented on #707
Or where to find the related function of `self.model`? It seems the functions are under libpinocchio_pywrap.so file.

[2019-03-01 12:09] littleggghost commented on #707
I got it. The bug is right for v1.3.3, but for v2.0.0, it should be:
[code]

[2019-03-01 12:11] littleggghost commented on #707
Should this correction make by you or a pull request by me?

[2019-03-01 12:19] littleggghost commented on #706
Hi, @jmirabel
I noticed you are familiar with FCL. Could you check this exercise?

[2019-03-01 12:25] littleggghost commented on #707
By the way, there are still some changes should make in `ur5_gripper.urdf` and `ur5.urdf` files.
`ur_description` should be replaced as `ur5_description`.

[2019-03-01 13:02] jcarpent commented on #707
You may open a PR and I will review it. It will avoid being overloaded for us.

[2019-03-01 14:11] nmansard commented on #638
somebody should investigate. I guess it should be me. But I cannot put that as an active task in my todolist yet ... sorry.
Do you want guidance to investigate?

[2019-03-01 14:13] littleggghost opened #708 "Segmentation fault when using computeCollision() or computeCollisions()?"
Hi
While I do this  [5.0) prerequisites](http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_5-planner.html) in python,  like calling:
`se3.computeCollision(robot.collision_model, robot.collision_data, 2)` or
`se3.computeCollisions(robot.collision_model, robot.collision_data, False)`
the program only crashed with `Segmentation fault (core dumped)`.
I ev

[2019-03-01 20:56] jcarpent commented on #708
Good catch. I will work on it next week. Thanks @littleggghost for this nice and helpful feedback.

[2019-03-04 01:14] ddliugit opened #709 "Mac Pinocchio install failure"
I would like to install Pinocchio on Mac. When I try to import Pinocchio in the python2, I met the following error:

ImportError: dlopen(/usr/local/lib/python2.7/site-packages/pinocchio/libpinocchio_pywrap.so, 2): Symbol not found: __ZN5boost6system16generic_categoryEv
Referenced from: /usr/local/lib/libhpp-fcl.dylib
Expected in: /usr/local/opt/boost/lib/libboost_system-mt.dylib
in /usr/local/lib/

[2019-03-04 01:18] ddliugit opened #710 "Tutorial link cannot be opened"
On the website(https://stack-of-tasks.github.io/pinocchio/) the tutorial cannot be opened

See this link http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-labs_1-directgeom.html

[2019-03-04 07:11] nim65s commented on #710
Thanks for the report, I will fix this shortly

[2019-03-04 07:13] jcarpent commented on #709
What is your Mac version?

[2019-03-04 10:31] jcarpent commented on #709
I have updated the brew formula for **pinocchio** and **hpp-fcl**. @ddliugit Can you tell me if everything goes fine now?

[2019-03-04 16:17] ddliugit commented on #709
Mac Mojave version:10.14.3

Thanks, I will try it again

[2019-03-04 17:00] ddliugit commented on #709
I tried it just now and found the problem changed.

I guess there exists problem in hpp-fcl library.

The following is the log in my terminal.

Can you help me find the problem?

My Mac version is Mojave 10.14.3

$ python2
Python 2.7.16 (default, Mar  4 2019, 09:01:38)
[GCC 4.2.1 Compatible Apple LLVM 10.0.0 (clang-1000.11.45.5)] on darwin
Type "help", "copyright", "credits" or "license" for more

[2019-03-04 17:04] ddliugit commented on #709
Not solved
https://github.com/stack-of-tasks/pinocchio/issues/709

[2019-03-04 17:23] jcarpent commented on #709
can you do `brew reinstall hpp-fcl`?

[2019-03-04 19:03] ddliugit commented on #709
Yes, I tried it just now

The problem still exists and this is the log in the system

$ brew reinstall hpp-fcl
==> Reinstalling gepetto/gepetto/hpp-fcl
==> Downloading https://github.com/humanoid-path-planner/hpp-fcl/releases/downlo
Already downloaded: /Users/dongdong/Library/Caches/Homebrew/downloads/6d8c8e604ca0a47222d1ff471ebaf21f0597701a7dd83742eb7e7e9338c8bf96--hpp-fcl-1.0.1.mojave.bottle.1.t

[2019-03-04 19:06] ddliugit commented on #709
What is this problem

Did you test in MAC Mojave

[2019-03-04 20:31] jcarpent commented on #709
Yes, I'm on Mojave.
The problem is that you do not have the missing hpp::fcl namespace.

[2019-03-04 20:32] jcarpent commented on #709
Can you try to reinstall from source both hpp-fcl and pinocchio:
``` brew reinstall --build-from-source hpp-fcl```
and
``` brew reinstall --build-from-source pinocchio ```

[2019-03-04 20:35] jcarpent commented on #709
In fact, I think you need to reinstall pinocchio too. This is the problem here.

[2019-03-04 21:12] ddliugit commented on #709
I just tried to reinstall and build from source, but the same problem happened again

The log info from the terminal:

$ python2
Python 2.7.16 (default, Mar  4 2019, 09:01:38)
[GCC 4.2.1 Compatible Apple LLVM 10.0.0 (clang-1000.11.45.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File

[2019-03-04 21:16] ddliugit commented on #709
Does it work well on your Mac Mojave?

$ brew reinstall --build-from-source hpp-fcl
==> Reinstalling gepetto/gepetto/hpp-fcl
==> Downloading https://github.com/humanoid-path-planner/hpp-fcl/releases/downlo
==> Downloading from https://github-production-release-asset-2e65be.s3.amazonaws
######################################################################## 100.0%
==> cmake .. -DCMAKE_C_FLAGS_RELE

[2019-03-04 22:04] jcarpent commented on #709
As written in the log, you forgot to `brew link --overwrite pinocchio`. Please do it and try it again.

[2019-03-04 22:09] ddliugit commented on #709
Yes, it worked!!

Thanks a lot.

[2019-03-04 22:09] #709 closed

[2019-03-04 22:10] ddliugit commented on #710
Is there a walking tutorial about Pinocchio?

[2019-03-04 23:19] ddliugit opened #713 "Pinocchio Mac Model importation problem"
1. Does robot wrapper support model importation on Mac?

2. Also, can Mac user use the graphic interface to show the robot motion on Mac like in ubuntu?

I tried to install gepetto-viewer  on Mac, but it fails to compile.

Can you help me find the problem

In [1]: from pinocchio.robot_wrapper import RobotWrapper
   ...:
   ...: pkg  = '$root_vol$HOME/Desktop/models'
   ...: urdf = pkg + '/ur_descr

[2019-03-05 05:58] jcarpent commented on #713
To install gepetto-viewer, you just need to do
```brew reinstall gepetto-viewer-corba```.
For the rest, it is related to #707.

[2019-03-05 06:03] jcarpent commented on #713
@ddliugit Where have you found these instructions to use RobotWrapper?

[2019-03-05 07:21] gabrielebndn commented on #713
Dear @ddliugit, are you installing Pinocchio 2.0, from source? In this case, the constructor RobotWrapper(urdf) is outdated. For a similar behavior, you should use the static method RobotWrapper.BuildFromURDF

[2019-03-05 07:49] jcarpent commented on #713
@gabrielebndn Can you update the related examples and tutorials?

[2019-03-05 07:57] jcarpent commented on #686
Pinocchio 2.1.0 is now available on robotpkg.

[2019-03-05 07:57] #686 closed

[2019-03-05 09:35] jcarpent commented on #708
@littleggghost I have pushed a new Python example doing collision checking. Can you try it?
See this README: https://github.com/stack-of-tasks/pinocchio/tree/devel/examples/python

[2019-03-05 09:35] jmirabel commented on #706
We have in mind to make hpp-fcl more robust (and unit-tested) but there is no timeline yet. I have no time to allocate to this. I could provide some guideline if anyone is willing to handle this.

[2019-03-05 09:43] olivier-stasse commented on #706
@littleggghost To make the story short, when starting hpp-fcl the team did not wanted to redo another collision library. But all the PR to fcl were ignored forcing us to do a fork. When the fcl library was reboot it was mostly to work on the CPP interface not on correcting the algorithms. @florent-lamiraux could give a more accurate account on this.

[2019-03-05 10:09] gabrielebndn opened #715 "centerOfMass<bool do_position, bool do_velocity, bool do_acceleration>"
Pinocchio 1 had a template function called `centerOfMass<bool do_position, bool do_velocity, bool do_acceleration>(model,data)`
It has been replaced by `centerOfMass(model,data,LEVEL)`, plus a `centerOfMass(model,data)` which basically defaults to `LEVEL=2`.
May I know why? I think the old interface was more flexible and should be restored.

[2019-03-05 10:11] jcarpent commented on #715
The two options provide the same results, with similar performances. The second signature was simpler to handle and to bind.

[2019-03-05 10:28] gabrielebndn commented on #715
Actual use case: an algorithm fills com and vcom as side-effect. But we also need acom. The old signature provided a way to compute acom without re-computing com and vcom. The new one does not.
But I do agree the Python signature would come out as a mess.

[2019-03-05 10:55] jcarpent commented on #715
But you need the vcom to compute the acom, and so on

[2019-03-05 11:39] wxmerkt commented on #686
v2.0.0 is available via ROS (without HPP-FCL) as of today as well via `sudo apt-get install ros-[kinetic/melodic]-pinocchio`

[2019-03-05 11:44] jcarpent commented on #715
One thing which can be done is to add an enum which will define `POSITION=1`, `VELOCITY=2`, 'ACCELERATION=4` and `POSITION | ACCELERATION` will just proceed to the position and acceleration updates.

[2019-03-05 11:49] littleggghost commented on #708
After a little modify for v2.0.0, it meets an error:
[code]
I'm sure the dae file is exists.

[2019-03-05 11:51] littleggghost commented on #708
By the way, it will be better if it can add a ground collision box and be visualized on gepetto-viewer.

[2019-03-05 12:57] jcarpent commented on #708
It is very hard to identify such a bug, as it is working on a clean installation.
can you show that the file exists?
By the way, I won't be able to provide additional help. I think this is the max that I can do remotely.

[2019-03-05 13:16] ddliugit commented on #713
@jcarpent followed your instructions and installed the gepetto-viewer-corba, but do you know how to start it like the command in the tutorial? "gepetto-gui" doesn't work any more

@gabrielebndn I followed your instructions to use build from URDF, it worked well!!
Thanks a lot!
In the official website you mentioned there is 20 hours of tutorial about walking, can you tell me where it is?

[2019-03-05 13:24] jcarpent commented on #713
What do you mean by does not work anymore?

[2019-03-05 13:26] jcarpent commented on #708
Sorry, but I cannot provide more help for this feature. The only thing I can tell you is I'm willing to help you build such an example.

[2019-03-05 13:29] ddliugit commented on #713
I just followed the tutorial and would like to show the robot movement
$ gepetto-gui
-bash: gepetto-gui: command not found

[2019-03-05 13:30] jcarpent commented on #713
Which tutorial? and how do you install gepetto-viewer and so gepetto-gui?

[2019-03-05 13:31] ddliugit commented on #713
http://homepages.laas.fr/nmansard/teach/robotics2018/tp1.html

I followed your instruction:  brew reinstall gepetto-viewer-corba

[2019-03-05 13:32] jcarpent commented on #713
gepetto-gui is located there: `/usr/local/opt/gepetto-viewer-corba/bin`
Can you show the content of this directory?

[2019-03-05 13:35] ddliugit commented on #713
I think I installed it, but I cannot find this directory

$ cd /usr/local/opt/gepetto-viewer-corba/bin
-bash: cd: /usr/local/opt/gepetto-viewer-corba/bin: No such file or directory

[2019-03-05 13:36] ddliugit commented on #713
I will this command again:brew reinstall gepetto-viewer-corba

[2019-03-05 13:37] littleggghost commented on #708
You can check this pic:
![romeo](https://user-images.githubusercontent.com/5058791/53809056-cf757c80-3f8e-11e9-8ec1-b1c5992b784a.PNG)

[2019-03-05 13:38] ddliugit commented on #713
The content is:
$cd /usr/local/opt/gepetto-viewer-corba/bin
$ ls
gepetto-gui		gepetto-viewer-server	urdf_to_blender.py

[2019-03-05 13:40] ddliugit commented on #713
Oh, I think I didn't install it well before, now the problem changed

$ gepetto-gui
dyld: Library not loaded: @@HOMEBREW_PREFIX@@/opt/open-scene-graph/lib/libosg.157.dylib
  Referenced from: /usr/local/bin/gepetto-gui
  Reason: image not found
Abort trap: 6

[2019-03-05 13:41] jcarpent commented on #708
You've commented line 17  the correct line and put another one.

[2019-03-05 13:43] jcarpent commented on #713
I will fix this issue soon. I know the reason.

[2019-03-05 13:46] littleggghost commented on #708
Or I will get:
`Traceback (most recent call last):
  File "collision-detection.py", line 17, in <module>
    geom_model = pin.buildGeomFromUrdf(model,urdf_model_path,[model_path],pin.GeometryType.COLLISION)
Boost.Python.ArgumentError: Python argument types in
    pinocchio.libpinocchio_pywrap.buildGeomFromUrdf(Model, str, list, GeometryType)
did not match C++ signature:
    buildGeomFromUrdf(pinoc

[2019-03-05 13:47] jcarpent commented on #708
Have you reinstalled pinocchio from devel?

[2019-03-05 13:47] littleggghost commented on #708
I install v2.1.0 today through robotpkg

[2019-03-05 13:50] jcarpent commented on #708
Ok. You can then replace `[model_path]` by `pin.utils.fromListToVectorOfString([model_path])`.
The current devel branch is in advance and it is now more flexible.

[2019-03-05 14:16] littleggghost commented on #708
I modified two lines here and it has no error now:
1. change `pin.removeCollisionPairs(model,geom_model,srdf_model_path)`
to             `pin.removeCollisionPairs(model,geom_model,srdf_model_path, True)`
2. change `pin.loadReferenceConfigurations(model,srdf_model_path)`
to             `pin.loadReferenceConfigurations(model,srdf_model_path, True)`
Is there some packages version is out of date?

[2019-03-05 14:32] littleggghost commented on #708
I will keep exploring pinocchio!

[2019-03-05 14:44] jcarpent commented on #708
You have to install the devel version, which supports this new signatures.

[2019-03-05 14:48] nim65s commented on #708
Or wait for a new release ;)

[2019-03-05 15:10] jcarpent commented on #708
I close this issue as it seems to be solved.

[2019-03-05 15:10] #708 closed

[2019-03-05 15:17] jcarpent commented on #686
Maybe, @wxmerkt you meant v2.1.0?

[2019-03-05 15:53] wxmerkt commented on #686
No, I released v2.0.0 and did not yet re-release v2.1.0. This will happen later this week (and then take 2-2.5 weeks to propagate through buildfarm).

[2019-03-05 15:54] jcarpent commented on #686
Ok. Got it. I didn't know that it will take so much time to propagate. Thanks a lot for this feedback.

[2019-03-05 16:09] ddliugit opened #717 "mprint issue on os"
When I run mprint, I found the following problem, can you help me solve it?

In [17]: mprint(rand([6,6]))       # Matlab-style print
ans  =

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-17-35cbe44e74d9> in <module>()
----> 1 mprint(rand([6,6]))       # Matlab-style print

/usr/

[2019-03-05 16:52] jcarpent commented on #717
I solved this issue with 33ed834f13d42ff66661111cf2c3601227236a42
Solving this issue was really easy. I think you should think to solve some of them by yourself: it allows you to get into Pinocchio very efficiently, and it will the supporting team too.

[2019-03-05 16:54] jcarpent commented on #717
you can reinstall Pinocchio from the devel branch using:
```brew reinstall pinocchio --devel```

[2019-03-05 16:54] #717 closed

[2019-03-05 16:58] ddliugit commented on #717
Sorry, it seems not working for me

$ brew reinstall pinocchio --devel
Usage: brew reinstall [options] formula

Uninstall and then install formula (with existing and any appended install options).

Unless HOMEBREW_NO_INSTALL_CLEANUP is set, brew cleanup will be run for the reinstalled formulae or, every 30 days, for all formulae.

    -d, --debug                      If brewing fails, open an inte

[2019-03-05 17:00] ddliugit commented on #717
I don't know how to revise the source code and install it to my computer.

I am very interested into contributing to this software, especially for the installation tutorial on Mac

Can you tell me the procedure of revising code in GitHub

[2019-03-05 17:02] jcarpent commented on #717
You should then do
`brew uninstall pinocchio` followed by
`brew install pinocchio --devel`

[2019-03-05 17:07] ddliugit commented on #717
I met this problem after doing this command:

$ brew uninstall pinocchio
Uninstalling /usr/local/Cellar/pinocchio/2.1.0... (1,845 files, 31.2MB)

$ brew install pinocchio --devel
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> New Formulae
dockerize                                zydis
==> Updated Formulae
akamai              dav1d               jo

[2019-03-05 17:09] jcarpent commented on #717
I've just pushed. Could you try it again?

[2019-03-05 17:11] ddliugit commented on #717
Problem changed:

$ brew install pinocchio --devel
Error: invalid attribute for formula 'gepetto/gepetto/pinocchio': version (nil)
Please report this bug:
  https://docs.brew.sh/Troubleshooting
/usr/local/Homebrew/Library/Homebrew/formula.rb:257:in `validate_attributes!'
/usr/local/Homebrew/Library/Homebrew/formula.rb:204:in `initialize'
/usr/local/Homebrew/Library/Homebrew/formulary.rb:112:in `ne

[2019-03-05 17:26] jcarpent commented on #717
Brew has changed. So the new policy is now:
```brew install pinocchio --HEAD```

[2019-03-05 18:13] ddliugit commented on #717
Built failed:

dongdong$ brew install pinocchio --HEAD
==> Auto-updated Homebrew!
Updated 1 tap (gepetto/gepetto).
==> Updated Formulae
gepetto/gepetto/gepetto-viewer ✔
Updating Homebrew...

==> Installing pinocchio from gepetto/gepetto
==> Cloning https://github.com/stack-of-tasks/pinocchio.git
Cloning into '/Users/dongdong/Library/Caches/Homebrew/pinocchio--git'...
==> Checking out branch devel

[2019-03-05 18:16] jcarpent commented on #705
@littleggghost Do you think we can close this issue?

[2019-03-05 18:17] jcarpent commented on #710
The walking tutorials are old now. They will need a serious refresh.

[2019-03-05 18:51] jcarpent commented on #717
@ddliugit I have updated the Formula. You can retry again. It should work fine now.

[2019-03-05 19:14] jcarpent commented on #707
@littleggghost Can you provide the fix you suggested last week?

[2019-03-05 19:21] ddliugit commented on #717
It worked!!

Thanks

[2019-03-05 19:35] ddliugit commented on #710
Are these tutorials in the repository?

I just would to calculate the M inertia matrix in the equtation

https://latex.codecogs.com/gif.latex?M%28%5Ctheta%29%5Cddot%7B%5Ctheta%7D&plus;%20C%28%5Ctheta%2C%5Cdot%7B%5Ctheta%7D%29%5Cdot%7B%5Ctheta%7D&plus;G%28%5Ctheta%29%3D%20S%5ET%5Ctau&plus;J_c%28%5Ctheta%29f_c

Is there a function which can calculate this matrix after importing the Urdf model in Pin

[2019-03-05 20:27] jcarpent commented on #710
You can use:
[code]
where `q` is your configuration vector.

[2019-03-05 20:36] #713 closed

[2019-03-05 20:39] gabrielebndn commented on #710
Hi @ddliugit, can you check whether the link is working now?

[2019-03-06 00:23] ddliugit commented on #713
Sorry, I am still confused about this problem. Did you fix it?

[2019-03-06 00:27] ddliugit commented on #713
I tried to reinstall the problem, but this error appears

$ brew reinstall gepetto-viewer-corba
Error: No available formula with the name "gepetto/gepetto/open-scene-graph-with-colladadom" (dependency of gepetto/gepetto/gepetto-viewer-corba)

[2019-03-06 03:06] littleggghost commented on #705
Sure.

[2019-03-06 03:06] #705 closed

[2019-03-06 03:28] littleggghost commented on #707
I noticed that this changes belong to `robotpkg-ur5-description`, and I should't make a PR here.
I post it here just for reference.
[urdf.zip](https://github.com/stack-of-tasks/pinocchio/files/2934176/urdf.zip)

[2019-03-06 03:28] #707 closed

[2019-03-06 10:09] olivier-stasse commented on #705
@littleggghost Yes sure, we tend to separate core libraries like pinocchio from their implementation inside control structure (such as the SoT). For rviz, in our structure we simply create a topic which is giving the state of the robot (or the state of the robot after applying the control). You can then use a robot_state_publisher node to compute the pose of each bodies in the tf frame and then us

[2019-03-06 10:34] jcarpent commented on #713
I was closing this issue because the rest was not related to Pinocchio.
I fixed the issue now, you can proceed as follows:
```brew install gepetto-viewer-corba```

[2019-03-06 10:45] jcarpent commented on #671
@proyan You can get a look to this new Python helper https://github.com/stack-of-tasks/pinocchio/blob/bbe7d0d0c949100ec909d6eb30ee4ce8aa024773/bindings/python/utils/namespace.hpp#L23
to implement the namespace in Python.

[2019-03-06 13:11] ddliugit commented on #713
I found this problem when I tried to install it

$ brew install gepetto-viewer-corba
==> Installing gepetto-viewer-corba from gepetto/gepetto
Error: No available formula with the name "gepetto/gepetto/open-scene-graph-with-colladadom" (dependency of gepetto/gepetto/gepetto-viewer-corba)
==> Searching for a previously deleted formula (in the last month)...
Warning: gepetto/gepetto is shallow clone.

[2019-03-06 13:17] littleggghost opened #720 "Error about omniORB.CORBA.BAD_PARAM?"
Hi, there
I test the tutorial in [4.1) Direct dynamics](http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_4-dyn.html)
and got an error:
[code]
This error **not** happens with v2.0.0, and occurs with v2.1.0.

[2019-03-06 13:21] jcarpent commented on #713
Sorry, I have forgotten to publish the missing formula.
Can you try it again?

[2019-03-06 13:31] jmirabel commented on #720
Related to https://github.com/stack-of-tasks/pinocchio/pull/702.

Try to replace `se3ToXYZQUAT(M)` by `se3.se3ToXYZQUATtuple(M)`.

[2019-03-06 13:38] littleggghost commented on #720
Thanks. I think some docs should be updated.

[2019-03-06 13:38] #720 closed

[2019-03-06 13:38] jcarpent commented on #720
@jmirabel Thanks for this quick reply.
@littleggghost Thanks for raising this issue.
I'm fixing it on the devel branch.

[2019-03-06 13:52] ddliugit commented on #713
I tried it and problem is like this:

$ brew install gepetto-viewer-corba
==> Installing gepetto-viewer-corba from gepetto/gepetto
==> Downloading https://github.com/humanoid-path-planner/gepetto-viewer-corba/re
Already downloaded: /Users/dongdong/Library/Caches/Homebrew/downloads/9aabd3039d6aa91690e3b631b5da7160858b2b77716bceef1be214a9429cabca--gepetto-viewer-corba-5.1.3.mojave.bottle.tar.gz
==>

[2019-03-06 13:54] ddliugit commented on #713
Same problem? Did I install the wrong package

[2019-03-06 14:20] ddliugit commented on #713
I found reading dae model error in this Gui:

$ gepetto-gui
libpng warning: iCCP: known incorrect sRGB profile
qt.qpa.window: Window position QRect(208,-55 1023x1009) outside any known screen, using primary screen
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
List of GroupNodes :
   hpp-gui

[2019-03-06 14:34] jcarpent commented on #713
Can you do:
```brew unlink open-scene-graph```
then:
```brew link open-scene-graph-with-colladadom```

[2019-03-06 15:02] ddliugit commented on #713
I tried, the error is like this after loading the model:

gepetto-gui
libpng warning: iCCP: known incorrect sRGB profile
qt.qpa.window: Window position QRect(208,-55 1023x1009) outside any known screen, using primary screen
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
List of GroupNodes :

[2019-03-06 15:18] jcarpent commented on #713
Is `/usr/local/lib` inside your LD_LIBRARY_PATH?

[2019-03-06 16:18] ddliugit commented on #713
Yes
This is my .bash_profile
export PATH=/usr/local/bin:$PATH
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
export PYTHONPATH=/usr/local/lib/python2.7/site-packages:$PYTHONPATH

[2019-03-06 16:19] jcarpent commented on #713
Then, can you show the content of:
```ls -l /usr/local/opt/open-scene-graph-with-colladadom/lib/osgPlugins-3.6.3/```
and
```ls -l /usr/local/lib/osgPlugins-3.6.3/```

[2019-03-06 16:20] ddliugit commented on #713
$ ls -l /usr/local/opt/open-scene-graph-with-colladadom/lib/osgPlugins-3.6.3/
total 33800
-r--r--r--  1 dongdong  staff    73032 Mar  6 08:50 osgdb_3dc.so
-r--r--r--  1 dongdong  staff   311744 Mar  6 08:50 osgdb_3ds.so
-r--r--r--  1 dongdong  staff   176988 Mar  6 08:50 osgdb_ac.so
-r--r--r--  1 dongdong  staff   127188 Mar  6 08:50 osgdb_avfoundation.so
-r--r--r--  1 dongdong  staff    49424 Mar

[2019-03-06 16:21] ddliugit commented on #713
$ ls -l /usr/local/lib/osgPlugins-3.6.3/
total 33800
-r--r--r--  1 dongdong  staff    73032 Mar  6 08:50 osgdb_3dc.so
-r--r--r--  1 dongdong  staff   311744 Mar  6 08:50 osgdb_3ds.so
-r--r--r--  1 dongdong  staff   176988 Mar  6 08:50 osgdb_ac.so
-r--r--r--  1 dongdong  staff   127188 Mar  6 08:50 osgdb_avfoundation.so
-r--r--r--  1 dongdong  staff    49424 Mar  6 08:50 osgdb_bmp.so
-r--r--r--  1

[2019-03-06 16:21] jcarpent commented on #713
`ls -l /usr/local/lib/osgPlugins-3.6.3/` ??

[2019-03-06 16:22] jcarpent commented on #713
Sorry. And this one `ls -l /usr/local/lib/`

[2019-03-06 16:22] ddliugit commented on #713
$ ls -l /usr/local/lib/osgPlugins-3.6.3/
total 33800
-r--r--r--  1 dongdong  staff    73032 Mar  6 08:50 osgdb_3dc.so
-r--r--r--  1 dongdong  staff   311744 Mar  6 08:50 osgdb_3ds.so
-r--r--r--  1 dongdong  staff   176988 Mar  6 08:50 osgdb_ac.so
-r--r--r--  1 dongdong  staff   127188 Mar  6 08:50 osgdb_avfoundation.so
-r--r--r--  1 dongdong  staff    49424 Mar  6 08:50 osgdb_bmp.so
-r--r--r--  1

[2019-03-06 16:23] ddliugit commented on #713
$ ls -l /usr/local/lib/
total 16584
lrwxr-xr-x    1 dongdong  admin       47 Mar  5 08:09 Qt3Support.framework -> ../Cellar/qt@4/4.8.7_5/lib/Qt3Support.framework
lrwxr-xr-x    1 dongdong  admin       43 Mar  5 08:09 QtCore.framework -> ../Cellar/qt@4/4.8.7_5/lib/QtCore.framework
lrwxr-xr-x    1 dongdong  admin       50 Mar  5 08:09 QtDeclarative.framework -> ../Cellar/qt@4/4.8.7_5/lib/QtDeclarativ

[2019-03-06 16:25] jcarpent commented on #713
You should do `brew switch collada-dom 2.4.4`

[2019-03-06 16:33] ddliugit commented on #713
I don't have that version

$ brew switch collada-dom 2.4.4
Error: collada-dom does not have a version "2.4.4" in the Cellar.
collada-dom installed versions: 2.4.0

[2019-03-06 16:34] ddliugit commented on #713
how do I install that version

[2019-03-06 16:55] jcarpent commented on #713
As usual, or by googling:
`brew upgrade collada-dom`

[2019-03-06 16:56] ddliugit commented on #713
Actually I tried this command, but it seems this is the latest version

$ brew upgrade collada-dom
Error: collada-dom 2.4.0 already installed

[2019-03-06 16:57] jcarpent commented on #713
brew install collada-dom --HEAD

[2019-03-06 17:06] ddliugit commented on #713
I think this command is used to install the latest version 2.5 instead of 2.4.4

see the following error message:

 gepetto-gui
libpng warning: iCCP: known incorrect sRGB profile
qt.qpa.window: Window position QRect(208,-55 1023x1009) outside any known screen, using primary screen
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning:

[2019-03-06 17:07] ddliugit commented on #713
Also, I tried to check the directory for the newly installed Collada-dom:

It is like this

$ ls /usr/local/opt/collada-dom/lib/
cmake					libcollada-dom2.5-dp.dylib
libcollada-dom2.5-dp.0.dylib		pkgconfig
libcollada-dom2.5-dp.2.5.0.dylib

[2019-03-06 17:08] ddliugit commented on #713
The problem is how to install the certain version 2.4.4 you mentioned

[2019-03-06 17:32] jcarpent commented on #713
The problem is comming from homebrew itself. I will try to make a PR there.

[2019-03-06 18:42] jcarpent commented on #713
@ddliugit See Homebrew/homebrew-core#37658

[2019-03-06 18:51] ddliugit commented on #713
Do I need to reinstall it now

[2019-03-07 07:00] jcarpent commented on #713
@ddliugit You can now reinstall osg:
`brew reinstall open-scene-graph-with-colladadom`

[2019-03-07 08:33] jcarpent commented on #710
@ddliugit I think the problem is now solved. To no hesitate to reopen this issue if needed.

[2019-03-07 08:33] #710 closed

[2019-03-07 13:42] ddliugit commented on #713
Do I need to update the Collada-dom version?

I tried, but it doesn't work

Same problem happened again

$ gepetto-gui
libpng warning: iCCP: known incorrect sRGB profile
qt.qpa.window: Window position QRect(208,-55 1023x1009) outside any known screen, using primary screen
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: kno

[2019-03-07 13:43] ddliugit commented on #713
$ brew reinstall open-scene-graph-with-colladadom
==> Reinstalling gepetto/gepetto/open-scene-graph-with-colladadom
==> Downloading https://github.com/Gepetto/OpenSceneGraph/releases/download/Open
Already downloaded: /Users/dongdong/Library/Caches/Homebrew/downloads/70cd19f617f7360a71789edb206def44abcd6d5d94d7d51460c587c5c71f7c4e--open-scene-graph-with-colladadom-3.6.3.mojave.bottle.tar.gz
==> Pou

[2019-03-07 13:50] ddliugit commented on #713
I think the problem is caused by the Collada dom version

[2019-03-07 13:54] jcarpent commented on #713
Sorry, I put the file at a wrong place. Can you retry:
`brew reinstall open-scene-graph-with-colladadom`

[2019-03-07 13:57] ddliugit commented on #713
Same issue:

$ gepetto-gui
libpng warning: iCCP: known incorrect sRGB profile
qt.qpa.window: Window position QRect(208,-55 1023x1009) outside any known screen, using primary screen
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
List of GroupNodes :
   hpp-gui
   python-pinocchio
BOX does not e

[2019-03-07 14:01] jcarpent commented on #713
Can you do:
`brew uninstall open-scene-graph-with-colladadom`first, and then
`brew install open-scene-graph-with-colladadom`
And also provides the output of
`ls /usr/local/opt/collada-dom/lib`

[2019-03-07 14:01] ddliugit commented on #713
The problem still exists due to the lack of colladamdom version 2.4 referred by osg

[2019-03-07 14:02] jcarpent commented on #713
Yes, but the new bottle version of `open-scene-graph-with-colladado` is linking to collada-dom 2.5

[2019-03-07 14:17] ddliugit commented on #713
Yes, it worked now.

Thanks a lot!

[2019-03-07 14:21] ddliugit commented on #713
But I found this error after I tried to move the object in the window

visualObj  = robot.visual_model.geometryObjects[4] # 3D object represent
   ...: ing the robot forarm
   ...: visualName = visualObj.name                        # Name associated to
   ...: this object
   ...: visualRef  = robot.viewerNodeNames(visualObj)      # Viewer reference (s
   ...: tring) representing this object
   ...

[2019-03-07 14:39] jcarpent commented on #713
@ddliugit Please send a clear and self-contained example, otherwise it will be a mess to debug this kind of stuff.

[2019-03-07 14:40] ddliugit commented on #713
http://homepages.laas.fr/nmansard/teach/robotics2018/tp1.html

[2019-03-07 14:44] jcarpent commented on #713
Can you simply provide a self content *.py file that highlight this behavior? Thanks.

[2019-03-07 14:49] ddliugit commented on #713
[example.txt](https://github.com/stack-of-tasks/pinocchio/files/2941772/example.txt)

[2019-03-07 14:52] jcarpent commented on #713
These are old TPs, the API has changed.
I would suggest you to directly start with this page:
http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_intro.html

[2019-03-07 16:11] ddliugit commented on #713
I met the same problem, too:
<img width="1107" alt="screen shot 2019-03-07 at 11 10 27 am" src="https://user-images.githubusercontent.com/38701021/53970945-d05ef900-40c9-11e9-960f-16442a8acf68.png">

visualRef = robot.viewerNodeNames(visualObj)
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ip

[2019-03-07 16:14] jcarpent commented on #713
It is `getViewerNodeName`instead of `viewerNodeName`. Often, the modifications in the naming of functions are very small. It should not be hard to find them by yourself I would say.

[2019-03-07 16:28] ddliugit commented on #713
I see and I will try to look it up the source code by myself

[2019-03-07 16:29] ddliugit commented on #713
Another issue is that it seems the robot just struck at one place

even I applied the position

<img width="755" alt="screen shot 2019-03-07 at 11 27 16 am" src="https://user-images.githubusercontent.com/38701021/53972153-419fab80-40cc-11e9-816b-04da95f29a00.png">

[2019-03-07 16:35] gabrielebndn opened #726 "Visualization of sample model not working"
The following minimal example
[code]
is not working. The model is not loaded inside gepetto-gui and it does not show up.
However, gepetto-gui itself seems to be fine (`examples/python/gepetto-viewer.py`, which loads DAE files for romeo, is working for me).

On `loadDisplayModel()`, I get a bunch of errors like this
[code]
followed by errors that look like
[code]

I don't know where this problem mi

[2019-03-07 16:51] jcarpent commented on #726
I don't think that hpp-fcl basic geometries are parsed by the viewer.

[2019-03-07 17:15] gabrielebndn commented on #726
I don't think there is any parsing involved. Plus, I remember @nmansard made the `buildSampleGeometryModel` methods, and they were working on gepetto-viewer. If it does not, I think it should. @nmansard, may you verify this?

[2019-03-07 18:26] nmansard commented on #726
robot wrapper does not create the simple geometry. And it cannot do it because we don't have the bindings for the simple geometries.

I started to map the simple geometries to the GUI, but manually. And I stopped in the middle.

@jcarpent I think you told me that you had some piece of code to expose hpp-fcl simple geometries. I believe we even have an issue for that open since a long time.

[2019-03-07 18:45] olivier-stasse opened #727 "Problem in linking with retrieveCollisionGeometry"
Should we not have an inline for retrieveCollisionGeometry ?
https://github.com/stack-of-tasks/pinocchio/blob/db8fe0add7d10ea31ff13aa677e30fcc3b569e42/src/parsers/urdf/geometry.hxx#L98

[2019-03-07 22:15] jcarpent commented on #727
Solved by #728

[2019-03-07 22:15] #727 closed

[2019-03-07 23:13] jviereck opened #729 "Optinal dependency on hpp-fcl but fails to build if not found"
Trying to compile the code (master=db8fe0add7d10ea31) from source on 16.04 Ubuntu for python2, I get the error:

[code]

Note that it looks like my `cmake ..` configuration doesn't find the optinal hpp-fcc package. If the package is optional, I wonder why the compilation is breaking still.

[2019-03-08 08:03] jcarpent commented on #729
@jviereck Thanks for reporting this bug. I've proposed a fix for it #730.

[2019-03-08 08:05] jcarpent commented on #706
This issue has been fixed by #725.

[2019-03-08 08:05] #706 closed

[2019-03-08 08:43] jcarpent commented on #729
Fixed by #730.

[2019-03-08 08:43] #729 closed

[2019-03-08 08:44] gabrielebndn commented on #726
The issue was #548, but it was closed, I don't know why.

[2019-03-08 08:46] gabrielebndn commented on #715
Finally, I think it's not really worth it. The current interface is intuitive enough, changing it would just complicate it and the gains would be negligible. I'll close this issue.

[2019-03-08 08:46] #715 closed

[2019-03-08 08:50] jcarpent commented on #726
I'm not able to find them. They seem to be on my previous laptop, which has been reformated since then :(

[2019-03-08 10:00] littleggghost opened #731 "robot.collisionPairs.append() can't attach witness points to body?"
Hi
In chapter [4.3) Collision checking](http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_4-dyn.html)
After I add the witness points, I find they did't move with links, here the pics:
before apply torque:
![coll0](https://user-images.githubusercontent.com/5058791/54021835-f967b280-41cb-11e9-8f2a-4f057ddea38a.PNG)
after apply torque:
![coll1](https://u

[2019-03-08 12:42] jcarpent commented on #731
@nmansard As you are the author of these exercises, can you look at this display problem?

[2019-03-11 17:00] jcarpent commented on #700
Solved by #734

[2019-03-11 17:00] #700 closed

[2019-03-13 02:03] ShihaoWang opened #735 "How to interpret model.nq and model.nv?"
Dear,

I find the meaning of model.nq confusing in my c++ version of Pinocchio. I think that for a given robot model, the number of configurations should equal to the number of velocity variables. However, there exists discrepancies between these two numbers. For example, when I import a HRP2 robot model with `pinocchio::urdf::buildModel` method, ideally the DOFs should be (30 + 6 = 36). When I pr

[2019-03-13 02:55] littleggghost commented on #735
Same ask.

[2019-03-13 09:21] nmansard commented on #735
This comes from complex joint, like 3d spherical joints and 6d free
flyer joints. These cases are the easier to understand. Part of the
joint configuration is a rotation, that is conveniently represented by a
quaternion (dimension 4) but only has 3 degrees of freedom. The velocity
of this joint is not represented by the derivative of the quaternion but
by the angular velocity (dimension 3). Then n

[2019-03-13 09:24] jcarpent commented on #735
Dear @ShihaoWang,
The question is indeed important. The idea is that you have Configuration vector of dimension nq, typically denoted by `q` and the Tangent vector of dimension nv, usually denoted by `v` and corresponds to velocity or acceleration vectors.
Then, in the context of spherical joint for instance, the idea in Pinocchio is to parametrize it using a  Quaternion (a vector of dimension 4 h

[2019-03-13 09:25] jcarpent commented on #735
Woo, I've just seen that @nmansard also replies. So the two answers are related and complementary on some points.

[2019-03-13 16:44] ShihaoWang commented on #735
Dear Justin and Nicolas,

Thank you very much your detailed explanations. It makes sense to me now why for an imported ATLAS robot, its model.nq is 30 and model.nv is 29, and for an imported TALOS robot, its model.nq is 32 so is its model.nv. After I manually change the joint type from `continuous` to `revolute`, my HRP2 model reports consistent numbers from model.nq and model.nv. Just to confirm

[2019-03-13 16:51] jcarpent commented on #735
Yes indeed. If you, there are some helpers functions in Python that you can replicate in C++ too.
`pin.utils.XYZQUATToSe3` and `pin.utils.se3ToXYZQUAT' to transform one config vector into a SE3 element and vis-versa.

[2019-03-13 17:14] gabrielebndn commented on #735
Hi @ShihaoWang, I recommend you one thing:
when you do
[code]
the obtained model will NOT have the floating-base joint, as it is not in the URDF.
Instead, the robot will be considered as fixed-base, i.e. the base of the robot will be attached to the universe.
In other words, the configuration `q` will NOT contain the position and orientation of the base.

For a humanoid robot, normally what you wa

[2019-03-13 18:58] ShihaoWang commented on #735
Hi @gabrielebndn,
Yes, thanks for pointing this out clearly. With the introduction of the FreeFlyer into the humanoid model using the provided command `pinocchio::JointModelFreeFlyer root_joint;`, I got the same number of `model.nq=39` and `model.nv=38`. This also matches my expectation.

Shihao

[2019-03-13 19:10] jcarpent commented on #735
I will close now this issue. @ShihaoWang Feel free to reopen it if needed.

[2019-03-13 19:10] #735 closed

[2019-03-19 01:22] ddliugit commented on #710
The tutorial is closed. Can you open it

[2019-03-19 01:22] ddliugit commented on #710
The website is closed.

[2019-03-19 08:59] nim65s commented on #710
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_1-directgeom.html seems OK for me.

[2019-03-19 09:00] nim65s commented on #710
Oh, your link was wrong, and I fixed it without noticing, sorry.

[2019-03-21 08:00] aelkhour opened #740 "v2.1.0 : Build error when hpp-fcl optional dependency is not available"
pinocchio v2.1.0 does not seem to build when hpp-fcl optional dependency is not available.

[code]

I've seen that there are `#ifdef PINOCCHIO_WITH_HPP_FCL` lying around in the code which could help fix this, but I'm not sure how to deal with this error as a hpp-fcl type is passed in the function signature.

[2019-03-21 08:03] jcarpent commented on #740
It has been fixed on the devel branch which will be released soon (next week). Is it fine for you?

[2019-03-21 08:06] aelkhour commented on #740
Yes perfect, thanks !

[2019-03-21 08:12] aelkhour commented on #740
By the way, would you consider making a more complete CI pipeline (typically covering the case of missing dependencies) for the releases ?

[2019-03-21 14:31] jcarpent commented on #740
It would be essential, but it would make explosive the number of CI instances. On Gitbal, we are already checking 16 different configurations (Ubuntu versions + Debug or Release + Python 2 or 3) which reach the limits I think.

[2019-03-21 14:42] gabrielebndn commented on #740
I think we should have at least one build without any dependency (except for Python-related stuff). For this one, we don't need to go through all the combinations of Ubuntu versions, Debug vs Release, Python 2 vs 3, nor through all the combinations of possible dependencies. Just one will be enough to catch (most) bugs like this one. It is not the first time it happens.

[2019-03-21 15:00] gabrielebndn opened #741 "Inertial information in frames"
In URDF, links are systematically connected by joints. Inertial information is attached to links. Each joint has exactly one parent link and one child link. Joints may be fixed.

In Pinocchio, however, there are no fixed joints, and inertial information is associated directly to the (movable) joints.

When parsing an URDF joint, there are basically two main cases:
- The joint is an *actual*, confi

[2019-03-21 16:08] jmirabel opened #742 "Fusion of Models"
I would like to be able to append a Model to a specific joint of another Model. I cannot think of any easy way of doing it.

Using Pinocchio, I would have to write:
- an algo like buildModel. That's the easy part.
- an algo that reorder the joints so that all the children of a joint are contiguous. This looks a bit more tricky as they are many fields to be updated, both in Model and GeomModel. it'

[2019-03-21 16:24] jcarpent commented on #741
I think you should first think why you really need to keep the inertia of a fixed link?
Is it because you want to know exactly the inertia of the torque sensor unit?

In this context, I think you should have a dedicated way to retrieve this information from URDF.

A frame only contains geometric information on purpose, it is not a quantity which contains a dynamical quantity. For instance, for geo

[2019-03-21 16:25] jcarpent commented on #740
You're right!

[2019-03-21 16:27] jcarpent commented on #742
You should follow this strategy if you want Pinocchio to be efficient and it is mandatory in the context of CRBA algorithms for instance.
I would say that is better to create a new model from two existing ones. It is just a call to appendJoint method, which is pretty sufficient.

[2019-03-21 16:30] gabrielebndn commented on #741
@jcarpent I was thinking something like your last suggestion. However, I realize it might not only add complication to the code, but also add a lot of redundant information. It might end up just bloating the `Model` class.
I am open to the idea of a dedicated way to retrieve the information from the URDF.

[2019-03-21 16:32] jmirabel commented on #742
For my application, it doesn't have to be efficient.

I will have a look at the second option.

[2019-03-21 16:44] jcarpent commented on #742
I would prefer to implement directly the final solution, which means having continuous ordering for directly parent joints. It will avoid additional work later and full compatibility with all the existing algo.

[2019-03-22 08:04] jmirabel commented on #742
what do you mean ?

[2019-03-22 08:07] jmirabel commented on #740
In the same vein, is it relevant to compile both in debug and release for all the combination ?

[2019-03-22 08:49] jcarpent commented on #740
It depends, because some bugs are appearing only in debug mode, for certain distributions only!

[2019-03-22 08:51] jcarpent commented on #742
I mean, the solution of merging two models in a new model, having all the index of a given subtree represented by a continuous collection (again, this is mandatory for most dynamics algo).

[2019-03-22 08:52] nim65s commented on #740
https://gepgitlab.laas.fr/gsaurel/hpp-pinocchio/pipelines/3686 worked on 16.04-debug, 16.04-release, 18.04-release and failed in 18.04 release.

But maybe when we can easily have errors in debug and not in release, the other way is far less usual.

[2019-03-22 09:12] jmirabel commented on #740
Any reason to compile in release mode then ?

[2019-03-22 09:14] nim65s commented on #740
We can still have some class of errors only in release mode. Plus running tests can be an order of magnitude faster.

[2019-03-22 09:19] jmirabel commented on #740
Removing compilation in release mode will make it faster.

The question is whether those errors are more important that *with / without hpp-fcl*... CI should target first what matters the most. We may have two layers of CI. One light on devel branch and one heavier on master.

[2019-03-22 09:23] gabrielebndn commented on #740
@nim65s I think this is I typo. From what you said afterwards, I guess you meant it was working on release and failing in debug?

[2019-03-22 09:24] nim65s commented on #740
Jobs are running in parallel, so no, if we remove the faster, the slower will not finish earlier. And if you made a typo, you would be glad to know it in 3min instead of 30min, be able to cancel all the slower builds, push the fix and continue what you were doing.

[2019-03-22 09:26] jmirabel commented on #740
you have no control for this on Travis. They may but they may not.

Compilation should be faster in debug than in release.

[2019-03-22 09:46] nim65s commented on #740
I was thinking about gitlab. On pinocchio there are only 2 builds (16.04 & 18.04) on travis.

This is true for the build time, I was thinking about test time, but you are right.

[2019-03-22 09:46] nim65s commented on #740
So what should we do on Gitlab ? Build everything in devel, then add only one job in release, and one other job with only the required dependencies and not the optional ones ?

Vote with :+1: / :-1: :)

[2019-03-22 09:47] wxmerkt commented on #740
All Eigen `assert` (e.g. resizing or wrong access via segment) are disabled in Release.

[2019-03-22 09:50] jmirabel commented on #740
We may want to do something different in branch devel and master. We don't really care if master takes some time. We do if devel does.

[2019-03-22 09:50] jcarpent commented on #740
I'm doing some modifications on the way we integrate dependencies.
I want to remove the notion of OPTIONAL to make then either active or inactive.

Then, for Travis, I'm also checking that everything goes fine on devel branch with and without hpp-fcl

[2019-03-22 09:57] nim65s commented on #740
Then all I have to do is to add `only: master` in all the builds we don't want to test anymore on devel.
But we should not do something special "if we are on devel", because we don't want to work only on devel, but usually we create other branches.

This is the reason why I was not able to split the PR https://github.com/humanoid-path-planner/hpp-doc/pull/46 : the CI run only if the branch is name

[2019-03-22 09:59] jcarpent commented on #740
But the merges are only on the base branches: master or devel. So everything goes fine.

[2019-03-22 10:02] olivier-stasse opened #745 "Keeping a ROS free version"
@wxmerkt thanks a lot for making pinocchio available on ROS.

But would it be possible to have it optional ?
This line
https://github.com/stack-of-tasks/pinocchio/blob/db8fe0add7d10ea31ff13aa677e30fcc3b569e42/CMakeLists.txt#L82
is breaking when trying to compile pinocchio in a free ROS environment.

[2019-03-22 10:02] gabrielebndn commented on #740
What? Why dropping the checks on devel? We always work on devel! Master is usually simply updated from master. Checking devel will allow to catch errors much earlier.

[2019-03-22 10:10] jmirabel commented on #740
We are not talking about dropping the checks. As you say, we always work on devel. We want to avoid time increase of the checks on this branch (or on branch different from master). Compiling only in debug mode won't miss most of the bugs and will make checks faster.

[2019-03-22 10:14] olivier-stasse commented on #745
Sorry I have doubt now about this.
So I will close it and reopen it if needed.

[2019-03-22 10:14] #745 closed

[2019-03-22 16:10] jcarpent commented on #740
I've fixed the main concerns of this issue via #744.
I will close this issue. Feel free to reopen it needed.

[2019-03-22 16:10] #740 closed

[2019-03-25 18:25] gabrielebndn opened #747 "Index types"
I feel the index types in Pinocchio are unnecessarily complicated.

Right now, [src/multibody/fwd.hpp](https://github.com/stack-of-tasks/pinocchio/blob/devel/src/multibody/fwd.hpp) defines `Index`, `JointIndex`, `GeomIndex`, `FrameIndex`, and `PairIndex`, all typedefs of `std::size_t`. This is fine, I guess. Although they are all the same, it is nice to denote clearly which index stands for what,

[2019-03-26 09:14] sheim opened #748 "Installation from source fails on master"
Hi, when building from source for release on ubuntu 16.04, I get the following error on the `master` branch (the `devel` branch builds fine though...):

[code]

[2019-03-26 09:15] jcarpent commented on #748
The problem has been solved as explained in #740. @sheim Thanks for this report anyway.

[2019-03-26 09:17] jcarpent commented on #748
@sheim I will provide a new release of the devel tomorrow. Hope it will be helpful for you too.

[2019-03-26 09:26] jcarpent commented on #747
@gabrielebndn You're totally right. But unfortunately, it would require a long time and hard work to uniformize this part of the API.
If you are willing to do this operation, I will really appreciate.

So if you do so, then I will suggest using the std::size_t everywhere with a typedef in order to comply with the std::vector.
Another good solution is to rely on a signed type to detect anomalies wh

[2019-03-26 13:44] gabrielebndn commented on #747
Eigen defaults to `std::ptrdiff_t`. If we were to go for a signed type, that would be the right way to do it, I think. But I would rather stick to `std::size_t`.
Also, Eigen makes it globally configurable through the macro `EIGEN_DEFAULT_INDEX_TYPE`. I like that.

[2019-03-26 14:52] jmirabel commented on #747
The idea may look nice but:
- I don't think it's a good idea to changes this. You would have to make sure all libraries using Eigen do the same.
- I don't know how tested it is. Eigen::Dynamic is set to -1 so you may have a hard time...

My advice on this is: keep it simple.

[2019-03-26 15:15] gabrielebndn commented on #747
Not following you. I am definitely not suggesting to play with EIGEN_DEFAULT_INDEX_TYPE. I would just define a new macro called PINOCCHIO_DEFAULT_INDEX_TYPE, which would be e.g. `std::size_t` if not user-defined

Agreed, it might be very complicated to test

This has nothing to do with what we are saying. That concerns `Matrix` template parameters `RowsAtCompileTime` and `ColsAtCompileTime`, which

[2019-03-26 16:25] jmirabel commented on #747
I wasn't clear then, sorry.

Don't do that. Just choose a type (signed or not signed) and stick to it.

I think it is pointless to do that. It adds an untested features, which may add *hard to find* bugs for someone who takes the risk of using this (as I believe it is the case for Eigen).

[2019-03-26 23:27] ddliugit opened #749 "Mac pinocchio import failure"
I found the problem like the following when I tried to import the Pinocchio library:
I have installed the boost, I am wondering why this happened.

$ python
Python 2.7.16 (default, Mar  4 2019, 09:01:38)
[GCC 4.2.1 Compatible Apple LLVM 10.0.0 (clang-1000.11.45.5)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>",

[2019-03-27 08:30] jmirabel commented on #742
In which file should this be ? My first thought is `algorithm/model.hpp`.

[2019-03-27 08:31] jmirabel commented on #742
It could also go into `algorithm/copy.hpp`.

[2019-03-27 08:44] jmirabel commented on #742
It could also be a constructor of Model class. It may be a little awkward though.

[2019-03-27 09:29] gabrielebndn commented on #742
Related to #470.
A new file called `algorithm/model.hpp` could contain all algorithms related to directly manipulating the model, such as the proposed fusion of models, the extraction of subtrees, and possibly joint reordering (see #379).
My feeling though is that all these features would be best implemented as instance methods of the `Model` class.

[2019-03-27 10:06] jcarpent commented on #742
I would do it in `multibody/model.hxx`

[2019-03-27 10:10] jcarpent commented on #749
I think you simply  need to reinstall `hpp-fcl`:
`brew reinstall hpp-fcl`

[2019-03-27 10:43] jcarpent commented on #741
@gabrielebndn Do you want to implement the proposed solution?

[2019-03-27 12:48] gabrielebndn commented on #741
@jcarpent which solution are you talking about?

or

The more I think about it, the more I am in favour of the first solution. Adding inertia information to each `BODY_FRAME` would add a lot of redundant information and make a model heavier, for something which is not super-essential. A way to reduce this problem would be to only add this information for frames of type `FIXED_JOINT`.

But in both

[2019-03-27 13:01] ddliugit commented on #749
Same issue:

$brew reinstall hpp-fcl
==> Tapping brewsci/science
Cloning into '/usr/local/Homebrew/Library/Taps/brewsci/homebrew-science'...
remote: Enumerating objects: 439, done.
remote: Counting objects: 100% (439/439), done.
remote: Compressing objects: 100% (436/436), done.
remote: Total 439 (delta 1), reused 129 (delta 1), pack-reused 0
Receiving objects: 100% (439/439), 400.98 KiB | 2.52 Mi

[2019-03-27 14:52] jcarpent commented on #749
brew reinstall pinocchio too

[2019-03-27 14:58] jcarpent commented on #748
The devel branch has been merged in the master one. Issue solved.

[2019-03-27 14:58] #748 closed

[2019-03-27 15:07] ddliugit commented on #749
Thanks. It worked well! @jcarpent

[2019-03-27 15:07] #749 closed

[2019-03-27 15:19] jcarpent commented on #749
Your welcome!

[2019-03-28 14:10] jcarpent commented on #742
solved by #752.

[2019-03-28 14:10] #742 closed

[2019-03-28 19:28] francofusco opened #753 "Using CodeGen utilities"
Hello,
I successfully built Pinocchio and played a little with the algorithms, and I have few questions about the generation of code. Specifically, I would like to understand which is the intended procedure to generate and use a given algorithm.

I gave it a try myself, considering RNEA, and wrote the following:
[code]
After compiling and running, I can see the generated library in the same folder

[2019-03-29 08:13] jcarpent commented on #753
The first question I need you to answer is: why do you need code generation? Are the current algorithms not fast enough for your current setup?

[2019-03-29 08:18] jcarpent commented on #753
Concerning your current issue, it is true that the `CodeGenX` classes are not exposing their results in the current version. I will modify this behavior as soon as possible.
The current implementation has been done for benchmarking the code generation mostly but never used for a dedicated application.
When is your deadline in terms of using this code generation features? According to your answer,

[2019-03-29 08:21] jcarpent commented on #753
The idea of the current CodeGen classes is to replace a direct call to the standard algorithms and to remove any notion of *Model* and *Data* structure. The compiler is making additionnal simplifications which allows to improve (a lot) the performances. See this paper https://hal.laas.fr/hal-01866228 for the benchmarks values.

[2019-03-29 09:52] francofusco commented on #753
Thanks for such a quick reply!

I had already read the paper about Pinocchio and that is why I was really interested in the code generation feature. I have an idea for my work that involves Nonlinear Model Predictive Controls, and I will need to evaluate some kinematics/dynamics quantities (and their derivatives) many times. I do not really know how fast I need to get, but while looking for a comp

[2019-03-29 12:23] jcarpent commented on #753
At first glance, I would suggest you use the current API without code generation for getting your derivatives.
At the current stage of your developments, you do not need the code generation but we already have a lot of algorithms that implement the derivatives you need and with a very efficient implementation (you should expect to divide by two the computations without code generation).
You can ev

[2019-03-29 13:09] francofusco commented on #753
Sure, I was planning to make a first version without CodeGen utils and eventually to use them if I need a little boost.

I would be glad to! I will go on with my idea and write you in case of need, and as soon as something is up it would be nice to get some ideas to imprve it. So, thanks again for everything!

[2019-03-29 13:09] #753 closed

[2019-03-29 15:50] jcarpent commented on #753
@francofusco No problem. Good luck with your project!

[2019-03-31 15:36] jcarpent commented on #639
Solved by #754.

[2019-03-31 15:36] #639 closed

[2019-03-31 20:18] jcarpent commented on #747
I will now close this issue. @gabrielebndn feel free to reopen it if needed.

[2019-03-31 20:18] #747 closed

[2019-04-02 14:18] littleggghost opened #756 "How to add ground in pinocchio?"
Hi, @cmastalli
I have seen your new progress about quadruped through youtube https://www.youtube.com/watch?v=C0h-NLdMVuc.
Here I have a question, considering you use gepetto in this video, then is that done by pinocchio?
It has been a long time that I tried to add ground collision in pinocchio.
Thanks.

[2019-04-02 15:28] cmastalli commented on #756
As you said, I displayed the planned motion using Gepetto viewer (GV). Planned motions are generated by an optimal control solvers that I've working on. And Pinocchio is used to model the robot's dynamics and its derivatives.

On the other hand, we use RobotWrapper from displaying the robot posture. Inside it wraps some GV functionalities. And you can't add other objects with it.

I would suggest

[2019-04-02 15:28] #756 closed

[2019-04-03 03:36] littleggghost commented on #756
Hello @cmastalli
I know how to add the floor in "visual", but here my focus is on the ground collision with foot. I really want to know how to set the collision property of floor.
Thanks in advance!

[2019-04-03 12:02] cmastalli commented on #756
I'm not the best person to ask this, you might want to ask @jmirabel.

[2019-04-03 12:21] littleggghost commented on #756
Hi, @jmirabel
What is your advice about ground collision?

[2019-04-03 19:57] jviereck opened #757 "Gepetto support broken"
Hi folks,

building current master, visualizing the robot using gepetto does not work properly for me on macOS. The mesh_scale for the visual nodes are all 1.

I think this comes from commit ccf91776cde0aba005f75e8e907faee6d6912b1b:

- There is a `BUILD_WITH_HPP_FCL_SUPPORT` variable defined, but above there is an optional variable `BUILD_WITH_COLLISION_SUPPORT`
- When I fix this and enable buildi

[2019-04-03 20:39] jcarpent commented on #757
This seems to be fixed on the devel branch by @jmirabel. Can you confirm it?

[2019-04-03 21:28] jviereck commented on #757
@jcarpent Two things:

1) building the current devel branch gives me the error shown below
2) if you know that master is broken, why wasn't the fix ported back to master already? My understanding is that `master` is supposed to be stable. Spending 4 hours to track down a bug and getting told it is already fixed on devel is frustrating.

[code]

[2019-04-03 22:04] jcarpent commented on #757
To be honest, the things are that currently, I'm trying to be at best as I can available for Pinocchio but it is not always possible mainly due to professional reasons. I'm really sorry that you spent so many times on this error which has been introduced by me.

Second, for the first point, can you confirm that you are not compiling with the COLLISION SUPPORT?

[2019-04-03 22:12] jcarpent commented on #757
I have found the error number 1, which has been introduced by @jmirabel in a recent commit.

[2019-04-03 22:15] jcarpent commented on #757
@jviereck I've proposed a fix in #758. Hope it will be useful for you tonight!

[2019-04-04 03:19] jviereck commented on #757
Hi @jcarpent, I am sorry if my previous comment in point 2) was not constructive and upset you. I appreciate the effort you put into this library!

Thanks for providing the PR #758. As noted in the PR, there is still a problem when compiling with COLLISION support enabled. In addition, when the COLLISION is not enabled, the mesh visualization is still wrong.

[2019-04-04 08:15] jmirabel commented on #757
Yes, I confirm.

[2019-04-04 08:19] gabrielebndn commented on #757
I think the fix should be cherry-picked to master. Either this or a new release should be made. It is bad to have build failures on the master branch.

[2019-04-04 08:24] jcarpent commented on #757
@gabrielebndn We cannot go faster than the music, I will try to fix correctly all the remaining bugs revealed by @jviereck first.

[2019-04-04 08:41] jmirabel commented on #757
@gabrielebndn do you talk about Pinocchio or GV ? There is no build failure on any master branch. There is a build failure on devel branch of Pinocchio. And there is a bug at execution time for GV on the master branch.

[2019-04-04 08:58] gabrielebndn commented on #757
@jmirabel, @jcarpent, sorry, bad wording on my part. I meant the original problem found by @jviereck, which was fixed on the devel branch but not on the master branch. It is not a build failure, but still, if I understand well, the whole part of Pinocchio related to HPP-FCL is not building anymore on the master branch. This problem manifested itself as an execution bug for GV, but it will be a bui

[2019-04-04 09:06] jmirabel commented on #757
I misread something. I think the bug here has nothing to do with GV:

[2019-04-04 09:25] jcarpent commented on #757
@jviereck Anyway, we need feedbacks as yours in order to make Pinocchio stable and robust. Next time, it will be even faster if you directly post a new issue here directly.

@gabrielebndn I will make a new release fix very soon indeed, to stabilize everything.

@nim65s Will you be available for publishing the next release in robotpkg?

[2019-04-04 09:51] jmirabel commented on #756
You can represent the floor with a box of the right shape for collision detection. But it won't make your example work. You have to handle yourself the different phases (free drop and contact with ground) with a suitable contact model.

The practical exercise "Snap your finger" in the doc may help you.

[2019-04-04 21:06] jcarpent commented on #757
Solved by #758.

[2019-04-04 21:06] #757 closed

[2019-04-05 14:30] jcarpent commented on #757
The new release with fixes is now out.

[2019-04-08 03:10] littleggghost commented on #756
Hi, @jmirabel  Sorry for my late reply!
What I am concern here is only about the collision. The walk phase is not needed, but I want a stick or a box or a boll just contact with **ground box**.
About the exercise you mentioned, I have asked an issue before: https://github.com/stack-of-tasks/pinocchio/issues/731.
And, how many **collisionPairs** should be added? Because the **ground box** will be h

[2019-04-08 03:14] littleggghost commented on #756
Hello @cmastalli
I really think this issue should be re-opened.

[2019-04-08 09:32] matthieuvigne opened #759 "Meaning of joint-configuration::dIntegrate"
I'm a bit confused about the meaning of the ```dIntegrate_dq``` and ```dIntegrate_dv``` functions. I read https://github.com/stack-of-tasks/pinocchio/issues/542, but I still feel there is a dimension error: as you write it, if

[code]

then f takes values in SE3 (i.e. dim nq), and so does ```\dot{f}``` - however ```dIntegrate``` takes values in se3 (i.e. dim nv). From what I understand, ```dIntegr

[2019-04-08 09:37] jcarpent commented on #759
With Pinocchio, you are always working in the tangent of the configuration space when dealing with derivatives. The dimension of the configuration is always the dimension of its tangent.

Therefore, you need to play with the integrate (exponential map) and the differentiate (log map) operations, and their Jacobians.
In your context, `dIntegrate_dq` is the partial derivative of the integral operato

[2019-04-08 09:38] jcarpent commented on #759
If you want to also include the acceleration value in the integration scheme, you should rely on the classic semi-explicit Euler integrator rules.

[2019-04-08 10:07] matthieuvigne commented on #759
That's the part I don't understand. For me integrate goes from the tangent space to the configuration space (dim nq), so it's jacobian (in the mathematical sense) shoud have nq lines.

The semi-explicit Euler scheme is obviously a solution, and what we have been doing so far. But I thought that, if the jacobians are made available, I could get something more accurate by using the full second-order

[2019-04-08 11:06] nmansard commented on #759
That is correct, but the derivative will always be written in the
tangent space, i.e the derivative of integrate with respect to q is
written as a function of the displacement (tangent) applied on q.

On 4/8/19 12:07 PM, Matthieu Vigne wrote:

[2019-04-08 11:14] jcarpent commented on #759
@matthieuvigne You won't earn so much by using the second-order version of integration wrt semi-explicit. For both, you will obtain an O(dt^2) error.
I would say, keep it simple, if you don't any trouble with simple things. If it is not the case, then we can discuss offline them and find a solution if you need help.

[2019-04-08 12:38] matthieuvigne commented on #759
Actually, if you do integration using the first two terms of the Taylor serie, you get an error that is a o(dt^2) - or a O(dt^3) (in other words, a second-order scheme).  For the trivial case where v is just the term by term derivative of q (i.e. 1DoF joints), the semi-explicit scheme yields an error wrt to Taylor serie of dt^2/2 dv. So one can argue that the first method is more accurate than the

[2019-04-08 12:50] jmirabel commented on #759
Did you check the unit-tests of this derivative against finite difference ?

[2019-04-08 14:59] matthieuvigne commented on #759
Ah I think I understand now - I was confused because I was looking for a jacobian in terms of vector space, whereas in fact you consider only the configuration as part of a Lie group - so instead of using the vector space difference operator, you use the Lie group \ominus (```pinocchio::difference```).

As such, dIntegrate_dv satisfies the following identity:

[code]

which looks similar to a vect

[2019-04-08 15:28] jmirabel commented on #759
Yes, `integrate` and `difference` and their Jacobians must be understood as functions exactly as you wrote it. Feel free to propose a clearer doc.

[2019-04-10 13:03] jcarpent commented on #759
@matthieuvigne Do you think this issue can be closed now?
Are you willing to suggest some modifications of the documentation?

[2019-04-10 15:44] matthieuvigne commented on #759
@jcarpent Sorry I didn't take the time to write the documentation.
Here is a proposal, feel free to discuss and reword it in the PR. For me the issue is solved, but I think it would make sense to close it when the PR is integrated.

Btw, the documentation on https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/ is a bit old.

[2019-04-10 15:47] nim65s commented on #759
Completely outdated is a bit more accurate :/

[2019-04-10 21:33] dicta opened #762 "cmake: configure error on archlinux / cmake 3.14"
Pinocchio version: tag v2.1.2 (dbcfbcb283eea486e1f5279c5e40cecdb6e87fad)
CMake version: 3.14.0

The following error is generated when trying to run cmake to configure a build:

[code]

Reproduction steps:
[code]

I believe this is caused by the target directory not existing in the SYMLINK_AND_INSTALL_HEADERS() macro. The following one-line patch appears to resolve things for me:

[code]

[2019-04-11 06:44] jcarpent commented on #762
The problem has been solved in #763. A file was not ignored while it should have been.
@dicta Thanks a lot for this report.

I have then opened a PR on the devel branch. You will then need to sync on it in order to recover a compiling version of Pinocchio.

[2019-04-11 07:57] nim65s commented on #762
Hi @dicta

Just for information, Pinocchio is available on ArchLinux both on [robotpkg](http://robotpkg.openrobots.org/install.html) and on [AUR](https://aur.archlinux.org/packages/pinocchio/). The first one is beeing upadted to v2.1.2, and the second one is not really used for now, so it is lagging behind, but if we get more interest from Arch users I will gladly improve AUR support.

[2019-04-11 09:14] jcarpent commented on #762
Solved by #763

[2019-04-11 09:14] #762 closed

[2019-04-11 11:53] nmansard opened #764 "Strange behavior of geom.removeCollisonPair"
I don't understand what happens here:

p=gmodel.collisionPairs[1]
print(p)    # display    collision pair (4,0)
gmodel.removeCollisionPair(gmodel.collisionPairs[0])
print(p)   # display collision pair (6,0)
print( gmodel.collisionPairs[0]) # display collision pair (4,0)
print(gmodel.collisionPairs[1]) # display collision pair (6,0)

Is p a fake index on the collision-pair array?

[2019-04-11 12:18] jmirabel commented on #764
Did you check that pair (4,0) is not duplicated in the beginning ?

[2019-04-11 12:21] nmansard commented on #764
It is not (the first is (0,3)). Even if it was, I don't see how this would explain the behavior.

[2019-04-11 13:08] jviereck opened #765 "Release version 2.1.2 on robotpkg"
hi folks,

the current version (Date 11 April 2019) of pinocchio at openrobots

  http://robotpkg.openrobots.org/robotpkg/math/pinocchio/index.html

is 2.1.0. Is there a chance to release version 2.1.2 there?

Best,
Julian

\cc @nim65s

[2019-04-11 15:11] nim65s commented on #765
Hi @jviereck

I'm currently on on it, the binary will be available soon :)

[2019-04-12 20:34] jcarpent commented on #759
Solved by #761

[2019-04-12 20:34] #759 closed

[2019-04-12 20:54] jcarpent commented on #765
@nim65s it should be nice if you can provide a clear deadline for this release, in such a way everybody is aware of it.

[2019-04-12 21:59] gabrielebndn commented on #764
The problem is in the way the bindings of `collisionPairs` are implemented. When you do
[code]
`p` is a *pointer* to the location of `gmodel.collisionPairs[1]`.

Then, you do
[code]
Here, you are removing element zero from `gmodel.collisionPairs`. `collisionPairs` is a `std::vector`. Internally, it stores its data in an array. To execute this operation, it shifts all elements of the array back one

[2019-04-12 22:39] jviereck commented on #765
Could it be that the current robotpkg-pinocchio package in version 2.1.0 is also broken? When I try to install it the python files are not installed. When I look at the content of the package, no python files are listed :/

[code]

[2019-04-12 23:00] olivier-stasse commented on #765
@jviereck The python files are installed in a different package
[code]
because they are tested against several version of python.
We are preparing the switch to python 3 which will be mandatory in 2020.
All our binaries packages are trying to follow this policy.
So if you wish you can use
[code]

[2019-04-15 08:51] littleggghost opened #771 "How to apply ground collision?"
Hi, @jmirabel  @jcarpent
Afaik, if I want to add a ground collision, then I should add a big box which represents the ground collision box.
But the question is, how many **collisionPairs** should be added? The ground box will be huge and I don't know where the collision will happen. The concept of **collisionPairs** is introduced in [4.1) Direct dynamics](http://projects.laas.fr/gepetto/doc/stack-

[2019-04-15 10:12] jcarpent commented on #771
I'm not so familiar with FCL. I think @jmirabel may help you for the first issue which is: how to get the collision point between a Mesh and a Plane with FCL. @jmirabel Can you provide some insights for this question?
I will then provide the rest of the answer later for the computation of the contact dynamics.

[2019-04-15 10:37] littleggghost commented on #771
I agree with you @jcarpent .Hope @jmirabel will have the time to answer.

[2019-04-15 11:08] jmirabel commented on #771
A collision pair is a pair of geometry indices in the geometry model. A collision checking algorithm will be run for each *active* specified pairs, upon collision queries.
In your case, you must add a collision pair between the world and each robot bodies.

[2019-04-15 11:39] littleggghost commented on #771
Thanks your reply.
But the ground box is huge, and robot bodies have many curved surfaces, as you said "**add a collision pair**", then can one pair enough to handle this? And where should this pair locate at?

[2019-04-15 11:57] jmirabel commented on #771
Class GeometryModel has several geometries. It can be one for each link of your robot and some more for the environment. A collision pair is a pair of geometries, however complex these geometries are. It is **not** a pair of points, as you seem to be thinking. It is something like the pair ( "link 4 of the robot", "ground" ), replacing geometry names by their indices.

[2019-04-15 14:51] littleggghost commented on #771
Thanks @jmirabel
Here I have two questions:
1. As the issue https://github.com/stack-of-tasks/pinocchio/issues/731 mentioned, the collision model not move with the visual model. I do as the exercise tutorial do, but I failed on this.
2. How to apply the ground collision box as **static** that will not move after contact.

[2019-04-15 21:49] jviereck commented on #765
Thanks a lot @olivier-stasse !

[2019-04-15 21:53] jviereck opened #773 "Compute jacobians in local world oriented frame"
Hi folks,

at this point the jacobians can be computed in the world or local frame. I propose to add another reference frame that is the local_cartesian_oriented frame. This is useful when dealing with point contacts.

The code to compute this boils down to:

[code]

As this is a convenient method to have, I would like to add it to the pinocchio se3/RobotWrapper Jacobian's C++ API but would like t

[2019-04-16 02:49] littleggghost commented on #731
Hi, @jmirabel
Have you ever meet this problem? Hope you can give me an advice, thanks.

[2019-04-16 04:11] littleggghost commented on #731
Finally, I found function robot.visuals.append() works.

[2019-04-16 04:11] #731 closed

[2019-04-16 06:21] nim65s commented on #765
Done

[2019-04-16 06:21] #765 closed

[2019-04-16 07:04] jcarpent commented on #771
For 1., @nmansard did the writing. @nmansard can you provide some fix to it?
For 2., when you will apply contact dynamics, only the joint velocity or acceleration  of the robot will be affected either by the impact or by the contact dynamics. In the equation, the ground variables are not involved. Which also means that the static floor won’t move. It is not the same as the hand you have done in th

[2019-04-16 07:04] #741 closed

[2019-04-16 07:09] jcarpent commented on #773
This feature is mainly worthy when you want to track a velocity field expressed at the origin of the moving frame, but with quantities expressed in the world axis.
It can then be worthy to have it, but it will also means that we will lose the fondamental relations that:
Jworld_body_i = oMi.act(Jlocal_body_i)
Then, the documentation has to be pretty clear on this point.

[2019-04-16 08:07] gabrielebndn commented on #773
I would love to see more support for the traditional Cartesian way of understanding frames.

[2019-04-16 08:52] gabrielebndn opened #774 "Broken 2.1.2 binaries on robotpkg?"
Robotpkg-pinocchio updated itself to 2.1.2. Now the Python bindings do not work
If I just do:
[code]
this is the error I get
[code]

What I have tried:
[code]
to no avail

[2019-04-16 08:53] gabrielebndn commented on #774
I am not the only one experiencing this. I know @Fannyris at least in the same situation. @nim65s clues on this?

[2019-04-16 08:54] proyan commented on #774
By the way, just for info, c++filt is a useful tool to decipher the jumbled symbols

`c++filt _ZN9pinocchio6python9exposeFCLEv`
`pinocchio::python::exposeFCL()`

[2019-04-16 08:55] jcarpent commented on #774
This is because by default, Pinocchio is not looking for FCL when generating the makefile. I think @nim65s did not force this on robotipkg.

[2019-04-16 08:57] gabrielebndn commented on #774
`c++filt _ZN9pinocchio6python9exposeFCLEv`
`pinocchio::python::exposeFCL()`

Well, that wasn't so difficult to decipher visually, but thanks for the suggestion ^^

[2019-04-16 09:02] gabrielebndn commented on #774
@jcarpent ou mean there is no way for me to fix it other than switching to installation from source?

[2019-04-16 09:06] jcarpent commented on #774
In fact, I do not understand why this symbol is missing while it is not known at compile time because the support of FCL has been deactivated.
This should be investigated deeper.

@gabrielebndn I think you have to switch a compile from source version while @nim65s is fixing the bug. Sorry for that.

[2019-04-16 09:27] littleggghost commented on #771
Thanks @jcarpent
I found function robot.visuals.append() can stick collision model on visual model which will move together. But it seems that only work with revolute joint, not free-flyer joint.
The robot.visuals.append() needs a parameter called joint_id, so it's easy to use that a revolute joint has only one id, but a free-flyer joint has 7 id, and it did't works.

[2019-04-16 09:32] jcarpent commented on #771
The id of a joint is unique, and independent from the number of DOF a joint.
If you do model.joints[1].id will give you the id of the joint in the model tree (here, `model.joints[1].id = 1` corresponding to the first joint).

[2019-04-16 09:46] gabrielebndn commented on #774
Ok, not a big deal. Thanks!

[2019-04-16 09:46] littleggghost commented on #771
Yes, I'm wrong and you are right.
Now the problem is I can't stick the collision model to visual model which has a free-flyer joint as I did with revolute joint.

[2019-04-16 11:57] littleggghost commented on #771
In more detail, the [hand](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_4-dyn.html) can attach witness point to move, but not work if I use in free-flyer scene.

[2019-04-16 12:04] nim65s commented on #774
Fixed. A revision is on its way.

[2019-04-16 12:29] jcarpent commented on #771
Sorry @littleggghost, but I do get the end of your previous remark. What do you mean by a free-flyer scene?

[2019-04-16 12:45] littleggghost commented on #771
Like I drop a ball or a cylinder or a box from one meter height and then contact with ground box.

[2019-04-16 15:23] jcarpent commented on #771
It is hard for me to help you on this point remotely. Maybe, you may provide some source code example and explain inside which problem you are currently facing.

[2019-04-16 19:33] nim65s commented on #774
An update is available

[2019-04-16 19:33] #774 closed

[2019-04-17 09:26] cmastalli opened #775 "SRDF conventions and parsing"
Hi guys,

I want to raise a discussion and potential actions to be tackled regarding SRDF convention. My motivation is to have relevant semantic information that is used for motion planners, controllers, etc. Specifically I have these two points in mind:
 1. Defining set of foot and hand end-effectors
 2. Describing unimportant joints (i.e. joints that are not needed to be considered for planning,

[2019-04-17 15:53] markusgft opened #776 "Questionable hard-coded joint limit value in urdf-parsers for "continous" joints."
https://github.com/stack-of-tasks/pinocchio/blob/43e43293033b7f0b239869241c6cf780917164cf/src/parsers/urdf/model.hxx#L312

Dear all,
why is the joint limit value set to 1.01 ?

[2019-04-17 16:01] markusgft opened #777 "lowerPositionLimit and upperPositionLimit in pinocchio::Model have unexpected dimensions for unbounded joints - how to read them correctly?"
https://github.com/stack-of-tasks/pinocchio/blob/904d7f9cfab86269487cd59ce9efd3f640fad8e1/src/multibody/joint/joint-revolute-unbounded.hpp#L23

Dear all,

a quick question for understanding. Can you give a hint why the dimension of the config-vector for an unbounded joint is 2?

The question is motivated as follows: it leads to (at least for me) **unexpected behaviour when reading joint limits fro

[2019-04-17 16:02] jcarpent commented on #776
There is no good reason for that. It just to have something greater than one. Because continuous revolute joints do not have bounds.

[2019-04-17 16:07] jcarpent commented on #777
Unbounded joints are single dof joints, but without bounds. Which means that the velocity vector is represented by \dot{theta} and the configuration vector is of dimension two with [cos(theta);sin(theta)] as representation.
The idea of having this representation is very similar to the Quaternion convention, but here, it is just limited by the fact you are rotating around a fixed axis.

Then, if yo

[2019-04-17 16:59] cmastalli commented on #776
I would expect to have the greatest value that it's possible, e.g.:

[code]

[2019-04-17 17:32] jcarpent commented on #776
@cmastalli This is indeed one solution.

[2019-04-17 19:46] jmirabel commented on #776
If I remember well, I think I am the one who set it to 1.01. The motivations were:
- to help tracking errors. Since then, we added a isNormalized, which is the proper way of tracking an error.
- to easily (i.e. without visitor) know whether a joint is bounded or not. If you put the max double, then you lose the information that this value is bounded.

The bounds are on the configuration vector par

[2019-04-17 19:58] gabrielebndn commented on #777
My bit: what we call "unbounded" joint in Pinocchio is the equivalent of what is called "continuous" joint in URDF convention.
I believe the name "unbounded" is a bit misleading and "continuous" would have been better. I also believe it is not worth changing the name.

[2019-04-17 20:06] wxmerkt commented on #775
We do this by defining the corners/contact points as relative offset frames of the foot frame. This allows us to handle the points for contact wrenches explicitly (and also add intermediate points instead of just the four corners, if desired). Perhaps something like this would be better than specifying the dimension and _assuming_ implicitly that the foot is a rectangle.

[2019-04-17 20:09] gabrielebndn commented on #776
I don't think max double makes sense. A continuous joint is never expected to exceed `. It should be as close as possible to 1, but not exactly 1, just slightly greater.

Also, putting max double will likely create problems to `randomConfiguration(model)`, which uses the limits

[2019-04-17 20:20] gabrielebndn commented on #776
Actually, I've just read the code computing a random configuration for an unbounded joint. It seems the bounds are ignored. You can find it in [src/multibody/liegroup/special-orthogonal.hpp](https://github.com/stack-of-tasks/pinocchio/blob/devel/src/multibody/liegroup/special-orthogonal.hpp). Method `randomConfiguration_impl` does not employ the bounds. Is this right? I know it does not make a lot

[2019-04-17 20:27] gabrielebndn commented on #776
Also, I've noticed an incoherence: when *parsing* an URDF model, the default limit is 1.01. But when you use `addJoint`, *without* specifying the limits, then the limits are indeed max double.

(also, `addJoint` with limits is not exposed in Python, I'll fix this)

[2019-04-17 20:36] cmastalli commented on #776
@jmirabel thanks for the explanation.

Do you think the following code makes sense?

[code]

[2019-04-17 20:47] gabrielebndn commented on #776
No. That expression is equal to 1. The resolution of `double` around 1 is not enough.

[code]

[2019-04-17 21:08] gabrielebndn commented on #776
The way to obtain a floating-point value that is *just smaller* or *just larger* than another one is using [nextafter](http://www.cplusplus.com/reference/cmath/nextafter/).

Just tested it
[code]
On my PC, it seems to work even for types other than `double`, but I am not sure it is a good idea using it, it might reduce portability and/or complicate the code.

[2019-04-17 22:25] jcarpent commented on #777
Following the precepts of @jmirabel, the naming of the standard URDF is not always the best imho.

[2019-04-17 22:31] gabrielebndn commented on #777
Yeah, I don't like it either

[2019-04-18 05:30] markusgft commented on #777
Hi guys, your response times are amazing, thank you! :) Your explanations, and the definition of the continuous joint make a lot of sense.
We will check out the "difference" method for computing the joint limits in minimal coordinates. Thanks again!

[2019-04-18 05:30] #777 closed

[2019-04-18 07:49] jmirabel commented on #776
@gabrielebndn `randomConfiguration(model)` samples uniformly an angle theta in [-pi, pi] and set the configuration to `cos(theta), sin(theta)`.

@cmastalli What matters is the coherence between different functions in Pinocchio (integrate, difference...). I can't come up with a good method to determine the value. IMHO, we shouldn't touch it. I would rather add a comment in the code to justify it.

[2019-04-18 08:03] jmirabel commented on #775
For contacts, I implemented the following convention (https://gepettoweb.laas.fr/hpp/hpp-manipulation-urdf/doxygen-html/index.html):
[code]

[2019-04-18 09:10] jcarpent commented on #776
I will close this issue as it seems no obvious solutions are coming out. Feel free to reopen it if needed.

[2019-04-18 09:10] #776 closed

[2019-04-18 10:00] gabrielebndn commented on #776
Yes, I've seen it. So, it does not impose limits

[2019-04-18 12:44] jcarpent commented on #773
@jviereck Are you still willing to implement this feature?

[2019-04-18 13:39] jviereck commented on #773
@jcarpent, if someone else jumps on it, I would not mind. Otherwise I want to make a first few steps on Friday.

[2019-04-18 15:13] jcarpent commented on #773
From my side, I may help by reviewing the code and providing some hints if needed.
Maybe @gabrielebndn would like to do it?

[2019-04-18 15:17] gabrielebndn commented on #773
I like the idea and I approve of it fully, but I am quite busy with a lot of stuff at the moment :)
I have just a few recommendations:
- if you do it for the frames, do not forget doing it for the joints too
- I think the best way to do it would be adding another element to the `enum` called `ReferenceFrame` and take the new value into account inside the existing functions

[2019-04-19 12:19] littleggghost commented on #771
Hi, @jcarpent  @jmirabel
I post my test example here. I want to use the FCL to calc the collision, so I did't add any witness point as I do at issue https://github.com/stack-of-tasks/pinocchio/issues/731.
Here is the code:
[code]

[2019-04-19 14:31] jcarpent commented on #771
@littleggghost Thanks for your example. I will be off these next few days. I will try to have a look at it as soon as possible in order to provide the help you need.

[2019-04-19 14:44] littleggghost commented on #771
Thanks.
I really hope the box can bound.
Hope for your next advice!

[2019-04-23 07:29] littleggghost commented on #771
Hi, @jcarpent
I wonder if there has been some progress recently?

[2019-04-25 10:49] gabrielebndn commented on #764
So, it was decided in #782 to maintain the current behavior.
My recommendation is to always explicitly make a copy when retrieving collision pairs, using the `copy()` method introduced by #769, as in
[code]
@jcarpent can we close this issue?

[2019-04-25 11:06] olivier-stasse opened #784 "Documentation not being displayed properly in Chrome - 16.04"
Chrome: Version 72.0.3626.96
Pb: After
[code]
when going to
[code]
I got the following blank page:
![Screenshot from 2019-04-25 13-03-06](https://user-images.githubusercontent.com/400341/56731465-cb7a0580-675a-11e9-816f-e5756aa5f784.png)

Where as it is displayed properly on Firefox.
Any idea why ?
Branch devel, commit 3ffa704d9612dc87fbdbbeeda8df8d070f8dd0d3

[2019-04-25 12:08] gabrielebndn commented on #784
This is surprising because the doc is working properly in Chrome on my (old) Macbook (El Capitan).

[2019-04-28 07:33] littleggghost commented on #771
Hi, @jcarpent
I wonder if there has been some progress recently?

[2019-04-29 07:21] aelkhour opened #786 "Build error with C++17"
When trying to build pinocchio 2.1.1 with gcc-8 and the flag `-std=c++17`, I get a lot of build errors like this one:

[code]

I'm not familiar with dynamic exception specifications, but according to [cppref](https://en.cppreference.com/w/cpp/language/except_spec), they were deprecated since c++11 and removed in c++17. Is it a good idea to remove them from pinocchio ?

[2019-04-29 09:28] jcarpent commented on #786
Hi @aelkhour, thanks a lot for this feedback.
We indeed need to make our code compliant with C++17 and C++11. It would be interesting to make them silent for the new versions of C++ I think.

[2019-04-29 12:16] #764 closed

[2019-04-30 08:19] jcarpent commented on #786
Solved by #788.

[2019-04-30 08:19] #786 closed

[2019-04-30 10:28] aelkhour commented on #786
Thanks @jcarpent ! Would it be possible to tag a new release?

[2019-04-30 16:40] jcarpent commented on #786
@aelkhour Done!

[2019-04-30 16:45] aelkhour commented on #786
Thanks!

[2019-04-30 17:59] wxmerkt opened #790 "Automatically setting PYTHON_DEB_LAYOUT"
Hi,
While this issue technically belongs to https://github.com/jrl-umi3218/jrl-cmakemodules, the discussion upstream has been postponed several times and referred to user configuration (e.g., https://github.com/jrl-umi3218/jrl-cmakemodules/pull/47).
One of the most common problems users have experienced with the JRL-UMI cmake module is that the Python paths are not set correctly and require manual

[2019-04-30 19:52] jmirabel commented on #790
A few questions regarding SETUPTOOLS_DEB_LAYOUT:
- Who provides it ? catkin ?
- Is its meaning documented somewhere ?
- Why don't they also provide PYTHON_DEB_LAYOUT along with SETUPTOOLS_DEB_LAYOUT automatically ?

[2019-04-30 19:55] jmirabel commented on #784
The developer tools contains a tab that lists the errors. Can you provide them ?

[2019-04-30 20:45] jcarpent commented on #790
I am not so familiar with ROS, but regarding your comments, I would suggest putting it directly in the JRL Cmake module.

[2019-04-30 21:15] wxmerkt commented on #790
- Yes, catkin sets it if `find_package(catkin)` is called in a project CMake/or if it's a catkin_make/catkin-tools built workspace. It is set [here](https://github.com/ros/catkin/blob/928c2025206e1a3f0d9d504ef5b26efe1cc95d8b/cmake/python.cmake#L10-L14) and was introduced in https://github.com/ros/catkin/pull/114
- I am not too familiar with this - is `PYTHON_DEB_LAYOUT` a standard or is it a jrl-s

[2019-05-01 12:34] jcarpent commented on #773
Solved by #781

[2019-05-01 12:34] #773 closed

[2019-05-02 09:59] jmirabel commented on #790
I understand your point now. Thanks for the clarification.

The option in catkin and in the JRL CMake module are very similar, if not exactly the same. Is there a CMake variable that can be checked for in order to know whether we are in a catkin environment ? As such, I would prefer to encapsulate the check in a sort of IF(CATKIN).

[2019-05-02 11:04] wxmerkt commented on #790
I looked deeper into it and from what it seems we need to first search for catkin in quiet mode before checking whether any of the variables is defined (e.g., `CATKIN_ENV`, `CATKIN_DEVEL_PREFIX`, `SETUPTOOLS_DEB_LAYOUT`). The issue here is that (at least on 18.04) this throws CMP0048 policy warnings that I have not yet been able to turn off by setting the cmake-policy to old.

[code]

But since in

[2019-05-02 11:43] jmirabel commented on #790
Shouldn't it be this snippet instead:
[code]

Checking whether `/etc/debian_version` exists will be blocking for the JRL CMake module. It prevents cross-compilation.
I agree with @thomas-moulard when he said

Then, it is up to you to set it to the correct value.

The best for me would be to replace the following line in pinocchio CMakeLists:
[code]
Ideally, it shouldn't depend on PYTHON_SITELIB, b

[2019-05-02 12:24] jcarpent commented on #790
What do you mean here by preventing? I don't get your point sorry.

[2019-05-02 12:34] wxmerkt commented on #790
It wouldn't prevent cross compilation if it's turn off-able.

I added `find_package(catkin QUIET)` in `python.cmake` and it triggered CMP0048 from `googletest` which is apparently also searched for.  Setting the cmake-policy for it to OLD didn't change it, alas.

[2019-05-02 12:45] jmirabel commented on #790
That's true. But if CMake had been developed with this policy, cross-compilation would be a nightmare. The ideal should be that CMake tells us where to install Python files. But that goes beyond the scope of this discussion.

I don't think that's what we want. I think we should merely add
[code]
and let users ensure that catkin is looked for before `FINDPYTHON` is called. This is a bit weak and re

[2019-05-02 19:32] olivier-stasse commented on #784
Nothing more than this:
[code]
Not sure that this is really related.

[2019-05-05 01:58] littleggghost commented on #771
Hi, @jcarpent
Have you made some progress?

[2019-05-06 01:16] ddliugit opened #792 "About the Urdf"
I am trying to build a simple bipedal robot and using Pinocchio for Jacobian calculation. I import my robot into Pinocchio and cannot display it in gepetto-gui.
The error is like this:

libpng warning: iCCP: known incorrect sRGB p
rofile
qt.qpa.window: Window position QRect(208,-55
 1023x1009) outside any known screen, using
primary screen
libpng warning: iCCP: known incorrect sRGB p
rofile
libpng

[2019-05-06 01:23] ddliugit opened #793 "About the joint setting of floating body in Urdf"
Is there an example of setting up a floating joint in Urdf?

Basically, I want to set up the 6 degrees of freedom for the torso of a humanoid model.

Currently, the torso is the first link in Urdf, like this:
[code]

Printing out the model shows that the torso is the universe in Pinocchio(joint is 0).

How to setup the floating joint which can be well recognized by Pinocchio?

[2019-05-06 08:17] jmirabel commented on #792
I have no idea of what's going on. Can you provide the robot description, whatever method you use ?

[2019-05-06 11:22] jcarpent commented on #793
When loading a model in Pinocchio,
[code]
The last argument allows you to specify the root joint to be a JointModelFreeFlyer for instance.

[2019-05-06 12:14] jcarpent commented on #792
@ddliugit It seems that you have not provided the path where the description of your robot is located. It is required to retrieve the full path of the visual and collision objects.

[2019-05-06 12:15] jcarpent commented on #792
An example is located here: https://github.com/stack-of-tasks/pinocchio/blob/master/examples/python/load-urdf.py

[2019-05-06 18:51] ddliugit commented on #792
Thanks. I solved it. I didn't setup the base_link in urdf and the directory of meshes is wrong

[2019-05-06 18:51] #792 closed

[2019-05-06 18:52] ddliugit commented on #793
I am using python.

`robot = pinocchio.RobotWrapper.BuildFromURDF(urdf_model_path,[mesh_dir],pinocchio.JointModelFreeFlyer())`

The above code worked!

[2019-05-06 18:52] #793 closed

[2019-05-07 11:54] mkatliar opened #794 "Continuous joint in URDF adds 2 elements to the configuration space"
Example:
[code]

This code results in `model.nq == 2` and the assert fails. Changing joint type to "revolute" results in `model.nq == 1`, as expected.

According to http://wiki.ros.org/urdf/XML/joint,
[code]
Therefore I expect a continuous joint to add 1 element to the configuration space, the same way as a revolute joint would do.

This issue seems also to be related to this question: https://git

[2019-05-07 11:57] jmirabel commented on #794
For continuous joints, Pinocchio uses the complex representation of SO(2). The 2 elements are thus cos(theta), sin(theta).

[2019-05-07 12:02] jcarpent commented on #794
We use `cos(theta), sin(theta)` to represent the configuration vector of a Continuous joint while only `theta` for a revolute joint.
This expected because continuous means that there are no bounds on the configuration vectors.
But for both cases, we have `\dot{theta}`which corresponds to the velocity of the joint.

We also use `cos(theta), sin(theta)` for continuous joints in a similar way we use

[2019-05-07 12:10] gabrielebndn commented on #794
This was already the subject of a previous issue: #777

[2019-05-07 13:56] jcarpent commented on #794
I will close this issue. @mkatliar Feel free to open it again if needed.

[2019-05-07 13:56] mkatliar commented on #794
Thank you very much for your replies, now it is clear. Would it be possible to add this explanation somewhere in the docs?

[2019-05-07 13:57] jcarpent commented on #794
Sorry. I was too fast. We will add it in the doc very soon.

[2019-05-07 13:58] jcarpent commented on #794
@gabrielebndn Can you help me to structure the documentation of the Joint classes inside the Pinocchio doc?

[2019-05-10 06:48] littleggghost commented on #771
('~')

[2019-05-13 02:08] littleggghost commented on #771
Hi, @jcarpent
One month passed.

[2019-05-13 06:16] jcarpent commented on #771
@littleggghost I think you may understand that the delay in our answers may vary according to our job load. And personally, I only have few times free to answer questions like yours which are a bit aside of the Pinocchio developments as you might guess.

Concerning your issue, you need to check whenever the two objects collide and then add an `impactDynamics` with the appropriate Jacobian (the Jac

[2019-05-13 06:25] jcarpent commented on #790
@wxmerkt @jmirabel I At the end, what is the final solution to implement in the JRL CMake Module?
Thanks a lot for the great discussion.

[2019-05-13 06:26] jcarpent commented on #663
Done with #795.

[2019-05-13 06:26] #663 closed

[2019-05-13 08:06] jmirabel commented on #790
I would go for the above code snippet. We may want to use a variable different from CATKIN_ENV to check for catkin. Maybe CATKIN_FOUND ?

[2019-05-13 08:20] wxmerkt commented on #790
I have tried a few cases to include the above snippet (or similar) in the JRL CMake Module and wasn't fully satisfied with any solution - the reason is without using cache the variables aren't passed down and we would need another `find_package(catkin QUIET)` (they are not defined otherwise or available to projects in the workspace).

As I don't have more cycles to test right now, I am using a cus

[2019-05-13 08:52] jmirabel commented on #790
Then I don't know how to achieve it.

[2019-05-13 09:13] wxmerkt commented on #790
Me neither - while I still think resolving this issue would make packaging/wrapping a lot easier, I don't see an easy solution out of the impasse. Hence, closing the issue for now.

[2019-05-13 09:13] #790 closed

[2019-05-13 17:14] gabrielebndn commented on #771
@littleggghost, other than what @jcarpent explained, I add a few comments on your code:

[code]
This is not the proper way of creating a random configuration for a Pinocchio model. If your model contains non-trivial configuration types (and I see your model contains quaternions) the corresponding configuration will not be normalized. So either you normalize it _a posteriori_, or you use Pinocchio'

[2019-05-14 02:09] littleggghost commented on #771
Thanks for your instructions @gabrielebndn
I will correct the wrong code.
Do you have some advice about the collision simulation as I mentioned?

[2019-05-14 08:53] gabrielebndn commented on #771
Hi @littleggghost,
sorry I can't help you on that. I suggest you to follow the steps suggested by @jcarpent, which are quite clear, and to take a look at the example pointed out by him, which seems exhaustive, in order to check the implementation. For a simple problem such as computing the impact of a single ball, I expect this to be very simple. You can find the source code for the examples in [d

[2019-05-14 09:53] littleggghost commented on #771
Hi, @jcarpent @gabrielebndn
Thanks your advises and there still has some key difficulties:
1. About collision check, should I directly calculate the distance of two objects? Or call an function?
2. How to add impactDynamics and contact jacobian?
3. How to implement an LCP solver? That's really difficult for a new comer. Is there some tutorial about this?
I have already read the [exercises](https:/

[2019-05-15 14:26] jcarpent commented on #771
You can use the GeometryModel and GeometryData associated to your URDF model in order to compute collision with `computeCollisions`.

The contact Jacobian corresponds to the Jacobian of the contact points when you perform a collision detection to get the list of the current collision points.

What do you want to do exactly? If you need to do simulation, I would suggest relying on Gazebo, which is

[2019-05-15 14:37] littleggghost commented on #771
For the third question, if I create an ground robot using pinocchio, then I don't care visual simulation,  I just want the state (position, velocity and acceleration ) of all robot links and joints when interacting with ground.

[2019-05-15 14:49] jcarpent commented on #771
Yes, you can do that by using the impulseDynamics and the contactDynamics to compute all those quantities indeed.
Unfortunately, I don't have time to provide you a short example and the tutorial contains all the information to do it.

[2019-05-15 15:07] littleggghost commented on #771
Can you tell me the location of API about impulseDynamics and contactDynamics?

[2019-05-15 16:07] jcarpent commented on #771
Sorry, it was forwardDynamics: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#a8b7d42cb4e87d9de4ae108919fa3d2cc
and for inpulseDynamics: https://github.com/stack-of-tasks/pinocchio/blob/master/src/algorithm/contact-dynamics.hpp

[2019-05-15 23:02] mkatliar opened #796 "sincos unit test fails when compiled with clang-8.0"
Build commands:
[code]

Run test:
[code]

Test output:
[code]

By changing `BOOST_CHECK` lines in the code to
[code]
I can see the values:
[code]
So the difference between the actual and the reference sin and cos values is very small but not 0.

Compiler version:
[code]

Exact compile command:
[code]

CPU info: [cpuinfo.txt](https://github.com/stack-of-tasks/pinocchio/files/3184741/cpuinfo.txt)

W

[2019-05-15 23:06] mkatliar commented on #796
In Debug configuration, I get only 1 failure in the test:
[code]
Compiler command line:
[code]

[2019-05-15 23:31] mkatliar commented on #796
The issue appears only for Scalar = double. For other types, the match is exact.

[2019-05-15 23:34] mkatliar commented on #796
Proposed solution: for the `double` type, check that the values are close with ~1e-16 absolute tolerance, instead of exact match.

[2019-05-16 05:33] stonneau commented on #796
A more general remark is that as far as I know
BOOST_CHECK_CLOSE is not recommended to compare to 0, but that BOOST_CHECK_SMALL should rather be used.
See
https://stackoverflow.com/questions/1093453/difference-between-boost-check-close-and-boost-check-close-fraction#1093530

and https://www.boost.org/doc/libs/1_34_0/libs/test/doc/components/test_tools/floating_point_comparison.html

[2019-05-16 06:05] littleggghost commented on #771
Does _impulseDynamics_ used as a callback? Because I don't know when to call it?
Or just run it in loop no matter if contact happens?

[2019-05-16 06:27] mkatliar commented on #796
@stonneau we don't compare to 0, we compare two numbers -- the actual and the reference sin/cos value. What I do is
[code]

[2019-05-16 07:13] jmirabel commented on #796
To be sure you never compare to zero, you could replace
[code]
by
[code]
This way we are sure that both the sine and the cosine are not close to zero.

[2019-05-16 08:22] jcarpent commented on #771
`impulseDynamics` should be used when two objects collide in order to reset the normal vertical velocity and the tangential one (depending on your contact model). Then, when the two objects are in contact, you have to simulate the dynamics of your system with `forwardDynamics`.

[2019-05-16 08:54] littleggghost commented on #771
My understand:
The `forwardDynamics` is always running in the loop, and `impulseDynamics` only runs when `computeCollisions` returns true, which might be a few microseconds.
And, need I implement an LCP solver in such circumstance?

[2019-05-16 09:36] jcarpent commented on #771
If there is not contact, then you must run aba which is the classic forwardDynamics.
At the instant of contact, you must run impulseDynamics and when the two objects remain in contact, you must run forwardDynamics which accounts for the forward Dynamics with Contact.
This will behave similarly to a minimal LCP, even if an LCP solver would be more generic.

[2019-05-16 09:43] gabrielebndn commented on #771
For such a simple problem as a ball bouncing on the ground, I don't think it is needed.
An LCP solver would be necessary for much more complex cases such as simulating legged locomotion.
For a bouncing ball, I think all you need is a simple criterion to determine when the ball remains in contact with the ground and stops bouncing. You might base this on the vertical velocity of the ball (such as,

[2019-05-16 11:17] jcarpent commented on #796
I've suggested a workaround proposed by Boost.Test itself in #797, which does not require such a trick.

[2019-05-16 11:57] littleggghost commented on #771
I think LCP solver still needed. Because my ground robot is a bipped robot, and the ball is just for test.

[2019-05-17 04:23] littleggghost commented on #771
Hi, @gabrielebndn
Could you post a simple example about how to implement an LCP solver?

[2019-05-17 07:07] jcarpent commented on #784
I will close this issue. @olivier-stasse feel free to reopen it if needed.

[2019-05-17 07:07] #784 closed

[2019-05-17 07:58] gabrielebndn commented on #771
@littleggghost, I am sorry, I can't. This completely falls outside the scopes of Pinocchio API. Pinocchio provides the tools for performing dynamical computations, but in no way at all it contains any numerical solver or any full-scale simulation engine.

I hope you understand making a good, stable LCP solver is no trivial task, which would cost me a non-negligible amount of work for something tha

[2019-05-17 08:56] nmansard commented on #771
Dear @littleggghost,

I am Nicolas Mansard, senior researcher in CNRS and one of the team leader behind the software you are apparently extensively using for your work. We are very happy that you find interest in our work. However, I believe that you are not interacting properly with the development team, and I would like you to adapt your behavior accordingly.

First, you have to understand that

[2019-05-17 08:56] #771 closed

[2019-05-17 14:10] jcarpent commented on #796
Solved by #797.

[2019-05-17 14:10] #796 closed

[2019-05-17 15:31] littleggghost commented on #771
Hi, @nmansard
I am a nameless junior researcher. Your team made a good work.
Forgive me if I bring trouble to your team. I didn't mean to.
I has submitted many issues about how to use Pinocchio, and I gave my acknowledgement to whom helped me. To be honest, the documents have extremely limited effect, and tutorials are the same. So I have to ask issues.
I guess many member of your team might be pe

[2019-05-23 05:35] markusgft opened #801 "What's the correct way to subscribe to release notifications?"
Dear all,
i was wondering if you maintain a mailing list or similar, where you announce releases or major merges to the master branch?
I am tracking the pinocchio master branch in one my projects and the latest release (3-4 weeks ago) unfortunately broke some of my interfaces. Of course I am aware that I could simply freeze my version to a specific pinocchio release, but still, I'd like to know if

[2019-05-23 07:07] jmirabel commented on #801
Personally, I receive an email when someone adds a new release to github. Is this sufficient for you ?

[2019-05-23 07:11] olivier-stasse commented on #801
With respect to the interface, Justin is usually trying to specifiy which methods will be deprecated through warnings during compilation from a version to another.
In addition the group is trying the semantic versionning approach which is usually recommended:
MAJOR.MINOR.PATCH
where MINOR means that the API has been changed,
and MAJOR means that the structure has been changed.
Hope that this  help

[2019-05-23 15:07] jcarpent commented on #801
Dear @markusgft,
I'm very sorry if you've encountered some breakings with latest versions of Pinocchio.
We are trying to always make deprecated former signatures, and we avoid to remove them directly.

Can you tell us which signatures have been broked?

By the way, as mentioned by @jmirabel, all the release are officially published using the GitHub.
Do you think another channel would be useful?

[2019-05-24 15:53] markusgft commented on #801
Dear all,
I think I have to rephrase this ... actually it appeared to me that all is fine on your side. The issue is rather that the [pinocchio ROS-release](https://github.com/ipab-slmc/pinocchio_catkin) by @wxmerkt was forwarded to the new release, which means by default all changes get installed when doing
`sudo apt-get upgrade`.
I think we should migrate the discussion to a separate issue withi

[2019-05-24 15:53] #801 closed

[2019-05-24 16:21] wxmerkt commented on #801
Hi @markusgft,
Apologies for the issues and inconvenience - I did upgrade the ROS release to be inline with release `2.1.3` here - and didn't realise some APIs had been removed from `2.0.x` to `2.1.x`. I'm planning to stay on the `2.1.x` line for Kinetic/Melodic going forward. Happy to hear your feedback and comments - especially in case there is an incompatibility or other underlying issue. [We h

[2019-05-24 17:46] jcarpent commented on #801
@wxmerkt and @markusgft Thanks a lot for this nice collaboration.
@wxmerkt Is `hpp-fcl` available on ROS. In this case, you have to set up the `BUILD_WITH_COLLISION_SUPPORT` variable.

[2019-05-24 23:14] wxmerkt commented on #801
I’ve released hpp-fcl but the released Pinocchio is without collision support (there have been challenges setting all variables and paths manually - which we are required to do as the python layout isn’t correctly set automatically otherwise).

We are building packages based on (and using the python bindings of) the ROS released versions - is there’s anything broken I’ve missed please open an issu

[2019-05-27 12:26] alejandroastudillo opened #802 "End-effector position and rotation"
Hi guys, thank you very much for all your effort building this amazing framework.

I just noticed that after building a model from an URDF ([Kinova Gen3 robot](https://github.com/Kinovarobotics/ros_kortex/blob/master/kortex_description/urdf/JACO3_URDF_V11.urdf), KUKA iiwa 14, etc), the variable `model.njoints` is missing one fixed joint which represents the end-effector. Then, for a 7-dof robot, `

[2019-05-27 12:42] jcarpent commented on #802
@alejandroastudillo

First of all, thanks a lot for using our tools.
Concerning your issue, in Pinocchio, we do not append fixed in the vector of joints (model.joints[]).
We want to avoid to have additional computation burdens when adding a fixed joint.

The idea we follow in Pinocchio is to append the fixed joints as a frame (model.frames[]). You can then retrieve its id with `id = model.getFrame

[2019-05-27 13:19] gabrielebndn commented on #802
Hi @alejandroastudillo,
as @jcarpent just said, "fixed" joints are not represented as joints in Pinocchio, but as frames.
You can get the corresponding frame id with `frameId = model.getFrameId("name")`. Then, the frame placement is found in `data.oMf[frameId]`.

Notice frame placements are *not* computed by `forwardKinematics`. To compute frame placements, you have thee options:
- *after* running

[2019-05-27 13:49] alejandroastudillo commented on #802
Thank you very much @jcarpent and @gabrielebndn
I was able to get the end-effector pose with that.

On the other hand, I have another two questions. I don't know if this is the correct place to ask them or should I open a new issue?

The first one is still related to the forward kinematics function. Since the dimension of the configuration vector representation `nq` is not the same as the dimensio

[2019-05-27 14:13] gabrielebndn commented on #802
@alejandroastudillo you can easily find the index of joint `i` in the configuration vector through `model.joints[i].idx_q()`. The index in the velocity vector is `model.joints[i].idx_v()`. `model.joints[i].nq()` and `model.joints[i].nv()` give the size of the configuration and of the velocity for joint `i`.

[2019-05-27 14:57] gabrielebndn opened #803 "Wrong joint printing"
The following code:
[code]

prints
[code]

which is wrong since it should be
[code]

This is weird because
[code]
prints  correct values
[code]

The same happens in Python.
Although I think this problem may be fairly easy to solve, I do not understand why it happens.

[2019-05-27 15:20] jcarpent commented on #803
I know the origin of this issue. I will solve it asap.
@gabrielebndn Thanks for raising it.

[2019-05-27 15:35] jcarpent commented on #802
Yes, sure. You can use Pinocchio with CppaAD and CppADCodeGen.
If you have installed CppAD and the counterpart CppADCodeGen, you can activate the compilation of the tests by setting ON the two Cmake variables: `BUILD_WITH_AUTODIFF_SUPPORT` and `BUILD_WITH_CODEGEN_SUPPORT`

Currently, I do not have concrete examples of how to use it, but the unit tests should be sufficient at first glance. I will t

[2019-05-27 16:17] jcarpent commented on #803
Fixed by #804.

[2019-05-27 16:17] #803 closed

[2019-05-28 08:51] alejandroastudillo commented on #802
thanks for your answers. You really helped me a lot.

[2019-05-28 08:51] #802 closed

[2019-06-04 09:33] JasonChmn opened #807 "Serialization : "Boost::serialization" to "Protobuf""
Should we implement a serialization using protobuf instead of boost ?
This topic was discussed previously and protobuf seems to be the best option.
This will add another dependency to the project but which could also be used in Curves API.

[2019-06-04 09:39] jcarpent commented on #807
@JasonChmn Maybe, it is important to remind people the topic of the discussion, because it was done in a private channel for a project relying on Pinocchio.

Concerning the support of Protobuf, I think it is a good idea. But we should keep the Boost.Serialization codes because it supports binaries formats, while Protobuf is a mix of both worlds.

[2019-06-04 11:38] nmansard commented on #807
Thanks for the quick answer.
We are seeking for opinion whether it would be a good choice to migrate our serialization toward protobuf. I would agree that, in a first time, we could keep two serialization options (boost as already implemented, and protobuf). However, it is likely that only one would be kept in the longer term. If we choose to integrate protobuf, I believe it should be to replace b

[2019-06-04 11:38] nmansard commented on #807
I would very much like to have the opinions of @nim65s about this issue, and possibly of @wxmerkt if available.

[2019-06-04 11:48] wxmerkt commented on #807
I have not yet used serialization with Pinocchio and thus cannot comment, I am afraid. What does serialization in Pinocchio do and are there examples? If it's about robot structure etc that does not create reference-counted/pointers, [Cereal](https://uscilab.github.io/cereal/) may be an option as well and header-only.

For the multicontact-API, I believe a structure like protobuf or similar would

[2019-06-04 12:51] jcarpent commented on #807
Boost.Serialization is also back compatible. It is just a matter of dealing with the version flag.
The problem of @proyan was appearing at the XML level, the other formats remain valid.

[2019-06-04 12:53] jcarpent commented on #807
Boost.Serialization is very easy to use too. I have done all the major works to deal with Eigen and the different output formats (XML, text or binary).
I think it would not be a mistake to support both of them, as the number of data structure in Pinocchio are not so numerous.

[2019-06-04 12:58] jcarpent commented on #807
Serialization in Pinocchio is only for data structure, in order to be able to save and load those pieces of information. This is mandatory when one's work on clusters and parallel computations for instance.

Concerning Cereal, it seems that the framework is only C++11 compatible, that we should avoid currently as some external users are still following the C++98/C++03 standards.

[2019-06-05 13:02] gabrielebndn opened #808 "Axis order in JointSphericalZYX"
JointSphericalZYX represents the angular quantities in the following order, as the name suggests:
- rotation around Z
- rotation around Y
- rotation around X

with the rotation matrix given as

<a href="https://www.codecogs.com/eqnedit.php?latex=R&space;=&space;R_z(q_0)&space;R_y(q_1)&space;R_x(q_2)" target="_blank"><img src="https://latex.codecogs.com/gif.latex?R&space;=&space;R_z(q_0)&space;R_y(

[2019-06-05 16:55] jmirabel commented on #808
I agree it is misleading. From ZYX, I would have understood your second equation:

<a href="https://www.codecogs.com/eqnedit.php?latex=R&space;=&space;R_z(q_2)&space;R_y(q_1)&space;R_x(q_0)" target="_blank"><img src="https://latex.codecogs.com/gif.latex?R&space;=&space;R_z(q_2)&space;R_y(q_1)&space;R_x(q_0)" title="R = R_z(q_2) R_y(q_1) R_x(q_0)" /></a>

so XYZ seems better to me. This convention

[2019-06-05 18:06] gabrielebndn commented on #808
I understand what you mean. The problem is, if we just silently change the convention in `JointSphericalZYX`, it risks to create *very* nasty bugs in code that is currently using it. I do not expect this code to be much (normally, `JointSpherical` is recommended, using a quaternion) but it is something we should avoid.
If we want to change it, the good way to proceed is to find a new name and depr

[2019-06-05 18:21] jmirabel commented on #808
I think the people doing bio-engineering are using JointSphericalZYX. At least, they used it.

I suggested to change the name to JointSphericalXYZ.

[2019-06-05 19:10] gabrielebndn commented on #808
I don't know whether this is more intuitive or not. Whether the appropriate name for the current convention is `JointSphericalXYZ` or `JointSphericalZYX` is subjective, I think. I, for one, think `JointSphericalZYX` is more intuitive because it reflects the order of the joints in the configuration. I would avoid introducing such a heavy change for something which I see dubious. My point was more o

[2019-06-05 19:15] jmirabel commented on #808
I understand your point.

ZyYpXr or ZYX_ypr ?

[2019-06-05 19:43] jcarpent commented on #808
@gabrielebndn The choice originally comes from the book of Featherstone that I followed when implementing Pinocchio. He chose the ZYX convention, which as fine as the XYZ convention.

For me, it makes no difference to use one or the other convention.

In the same way, we do not have to reflect the choice made for Python for the C++ case. The fact that sot-core has its own convention is internal to

[2019-06-05 19:54] gabrielebndn commented on #808
Of course it's fine, it's absolutely equivalent. I just found the resulting configuration vector to be not intuitive, but if you disagree that's absolutely fine.

That's a great idea, but I see two drawbacks:
1) Supporting *all* Euler angles means to add 12, if not 24 (fixed+moving axes) concrete joint classes. As the algorithms need to compile for each joint, I would expect the compilation time t

[2019-06-05 19:59] jmirabel commented on #808
I don't think this solves this issue. I see no difference in `SphericalEulerAngles<Z,Y,X>` and `SphericalEulerAnglesZYX`. Both are as obscure regarding to the angle order. Or you must add another template argument...

[2019-06-05 20:01] jmirabel commented on #808
It may be even worse if you have something like `SphericalEulerAngles<2,1,0>`...

[2019-06-05 20:01] gabrielebndn commented on #808
O.O Forget me I was wrong! The formula suggested by Featherstone, thus implemented in Pinocchio, is

<a href="https://www.codecogs.com/eqnedit.php?latex=R_x(q_2)R_y(q_1)R_z(q_0)" target="_blank"><img src="https://latex.codecogs.com/gif.latex?R_x(q_2)R_y(q_1)R_z(q_0)" title="R_x(q_2)R_y(q_1)R_z(q_0)" /></a>

which is different from what I wrote above

[2019-06-05 20:08] gabrielebndn commented on #808
To be completely unambiguous with respect to the order, one should specify whether it is moving axes or rotation axes. For instance, this is what [tf.transformations](http://docs.ros.org/jade/api/tf/html/python/transformations.html) does:

[2019-06-05 21:14] jcarpent commented on #808
To be efficient, this has to be done with respect to the moving rotation axis as suggest in the Featherstone book. We should follow these rules in such a way the concatenation of 3 revolute joints behaves the same.

[2019-06-06 13:57] mkatliar opened #809 "Using CasADi automatic differentiation is not possible"
[The paper](https://hal.laas.fr/hal-01866228v2/document) says:
[code]

I tried to use `casadi::SX` type as a scalar type for Pinocchio algorithms, but the code does not compile. Here is a code snippet:
[code]
Here is the relevant compiler output: [make.log](https://github.com/stack-of-tasks/pinocchio/files/3261876/make.log)

[2019-06-06 14:07] jcarpent commented on #809
Nice to try with Casadi.
Before starting with Pinocchio, I would suggest to test with Eigen first and to make sure that everything works well.
Do you have a unitary example of Eigen + Casadi?

From what I've seen from your log, the problem comes from there.

[2019-06-06 14:08] mkatliar commented on #809
I see at least two sources of the problem:
1. The non-specialized implementation of `SINCOSAlgo` calls `std::sin()` and `std::cos()`:
[code]
    It would be more appropriate to just do `sin(a)`, `cos(a)` and let [argument-dependent lookup](https://en.cppreference.com/w/cpp/language/adl) do the job. For `casadi::SX` argument type, the calls would resolve to `casadi::sin()` and `casadi::cos()`. Noti

[2019-06-06 14:19] jcarpent opened #810 "SINCOS"
I've just opened this new issue to discuss the point of how to handle the SINCOS operation in the most generic to handle all the Scalar types.

[code]
It would be more appropriate to just do `sin(a)`, `cos(a)` and let [argument-dependent lookup](https://en.cppreference.com/w/cpp/language/adl) do the job. For `casadi::SX` argument type, the calls would resolve to `casadi::sin()` and `casadi::cos()`

[2019-06-06 14:26] jcarpent commented on #810
To really take care of both classic scalar types (double, float, ...) as well as overloaded types (CppAD::AD or casadi::SX).
Originally, we were using the sincos instruction to compute `sin` and `cos` at the same time, which is much more efficient than computing the two separated.
Of course, some recent compilers are able to guess it.
So, maybe it would be worth to just allows ADL to work for each

[2019-06-06 15:05] mkatliar commented on #809
@jcarpent it is [this line](https://github.com/stack-of-tasks/pinocchio/blob/38948878fc81b6c5f904ff071dfba075cd5a3dae/src/algorithm/aba.hxx#L208)

[code]
which produces the error message
[code]

I was unable to reproduce the same error with a simplified example so far. For example, the following code compiles without errors:
[code]

[2019-06-06 15:13] cmastalli commented on #809
Are you sure if this possible? So far I know, CasADi has its own algebra software.

I think what you need is to pass derivatives from Pinocchio + CppAD to the interface of your solver. CasADi has several interfaces such as Ipopt. But some of them you can use without the CasADi framework

[2019-06-06 15:30] mkatliar commented on #809
@cmastalli what do you mean by "solver" here? You mentioned Ipopt -- yes, CasADi does provide interface to NLP solvers, but we are not speaking about optimization here. We are discussion automatic differentiation issues. And yes, CasADi does provide means for automatic differentiation:
[code]
See https://web.casadi.org/ for more details.

[2019-06-06 15:40] jmirabel commented on #809
Could you try:
[code]

[2019-06-06 15:44] mkatliar commented on #809
@jmirabel your (the edited and the original) snippet compiles without errors.

[2019-06-06 15:45] mkatliar commented on #809
@jmirabel can it have something to do with `.noalias()`?

[2019-06-06 15:57] jmirabel commented on #809
It could but my guesses are:
- either one of typedef defined by Pinocchio does not handle properly the Scalar,
- casADI wasn't meant to be used the way you use it...

From the log you provided, I can see that the matrices in the expression are of type `Eigen::Matrix<casadi::Matrix<casadi::SXElem>, ...>`. Does this make sense ?

[2019-06-06 17:39] gabrielebndn commented on #810
There is a function is_fundamental in boost. Maybe the solution is to add a second template argument, which is boolean and computed through is_fundamental

[2019-06-06 17:44] mkatliar commented on #809
Hello @jmirabel ,
to address your second point, I wrote a working example which demonstrates the use of CasADi AD in combination with functions working with Eigen matrices:

[code]

It outputs:
[code]

This is the way how I see CasADi can be used in combination with code which has the scalar type as a template.

[2019-06-06 17:51] mkatliar commented on #810
@gabrielebndn why would we need `is_fundamental()`? `SINCOSAlgo` is already specialized for `float`, `double` and `long double`. For other types (like `casadi::SX` of `CppAD::AD<Scalar>`) we can assume that the `sin()` and `cos()` are defined in corresponding namespaces.

[2019-06-06 18:00] gabrielebndn commented on #810
@mkatliar, I wanted to be generic with respect to any primitive type, but in effect float, double and long double cover all possible types of real numbers in C++ and it would not make sense at all to use integers, so that's probably useless, you are right

[2019-06-06 18:01] mkatliar commented on #809
It does make sense to me, because `casadi::SX` is a matrix, and in CasADi a scalar is an equivalent of a 1x1 matrix.

[2019-06-06 20:08] jmirabel commented on #809
Shouldn't you define `Eigen::NumTraits<casadi::Matrix<casadi::SXElem> >` too then ?

[2019-06-06 20:14] jcarpent commented on #809
Yes, indeed. I've done it in #813.

[2019-06-07 08:04] cmastalli commented on #809
I meat NLP solvers such as Ipopt or its own SQP one. So far, I understand the benefits of using automatic differentiation from CasADi is the easy integration to NLP solvers, instead CppAD is more efficient and it can generate the AD code, isn't it?

[2019-06-07 09:12] mkatliar commented on #809
@jmirabel `casadi::SX` is a typedef for `casadi::Matrix<casadi::SXElem>`.

[2019-06-07 11:11] jcarpent commented on #810
Solved by #812.

[2019-06-07 11:11] #810 closed

[2019-06-07 12:35] jcarpent commented on #808
@gabrielebndn @jmirabel What is the status of this discussion?

1. We need to improve the documentation to reflect the current observations
2. Do we really need to support other Euler Angles types?

[2019-06-07 13:00] gabrielebndn commented on #808
1. The behavior of `JointSphericalZYX` should be well documented. This can be done in conjunction with the documentation effort for all joints, as suggested in #794

1.5 I think we should not change the name of `JointSphericalZYX`

2. I do not think we need to support all Euler angles types, it will just make Pinocchio much heavier. If someone *really* wants it, they may still achieve it through a

[2019-06-07 13:16] gabrielebndn commented on #808
If I might add: from what I can understand, Featherstone's joint model is specifical for a spherical socket, i.e. it is equivalent to a sequence JointModelRZ + JointModelRY + JointModelRX. This is the correct way to model it. For the orientation of a rigid object, in contexts where quaternions cannot be used, it is more common to employ the RPY formula I presented above

[2019-06-20 09:23] alejandroastudillo opened #815 "Error when building from source (python bindings)"
Hi,
I have been trying to build pinocchio from source both from the `master` and `devel` branches but I haven't succeed. After the `make` command,  I always got the following error:
[code]
Do you have any idea on what is causing that error?
Thanks in advance

[2019-06-20 09:24] jcarpent commented on #815
On which OS are you working on? If you want, they are some instructions here: https://stack-of-tasks.github.io/pinocchio/download.html

[2019-06-20 09:26] jcarpent commented on #815
By the way, can you provide the complete log of the compilation? It will be easier to identify the compilation error.

[2019-06-20 09:54] alejandroastudillo commented on #815
Sorry for forgetting to mention the OS. I am working on Ubuntu 16.04.
I did succeed with the installation using `sudo apt install robotpkg-py27-pinocchio` or `sudo apt install robotpkg-py35-pinocchio`, and have been using pinocchio since some weeks ago. But now, I would like to go for the source builds since I would like to be up to date with the `devel` branch, or more specifically with the `topi

[2019-06-20 12:33] jcarpent commented on #815
Which version of boost are you using now? Because travis is happy when compiling `topic/casadi` under 16.04. It seems the compilation error is coming from your system set up.
Can you try on a clean 16.04 distribution?

[2019-06-20 12:42] alejandroastudillo commented on #815
These are the versions I am using:
[code]

Not right now, but I will try asap.

BTW, should I remove all `robotpkg-*` packages before trying to build pinocchio from sources?

[2019-06-20 13:29] alejandroastudillo commented on #815
So, if I try to compile without Python interface (`-DBUILD_PYTHON_INTERFACE=OFF`), it is able to compile and my C++ examples seem to be working fine. Now, I have turned on the variable `BUILD_WITH_CASADI_SUPPORT` but cmake is not able to find my version of casadi. Can you tell me what additional command should I use to specify casadi's location? (sorry if this is a stupid question)

[2019-06-20 13:42] stonneau opened #816 "[python bindings] can't import eigenpy and Quaternion within the same script"
Hi, with the latest version of Pinocchio, the following two lines won't work:

[code]

Conversely, the other way around things seem fine. This is not high priority.

Thanks

Steve

[2019-06-20 13:44] nim65s commented on #816
Quaternion is in eigenpy, isn't it ?

[code]

[2019-06-20 13:50] stonneau commented on #816
It is, however the import is not mine, but comes from a file that I include.
If your answer is the answer to the issue, then I guess it means Quaternion must be removed from pinocchio don't you think ?

[2019-06-20 13:51] nim65s commented on #816
No, sorry, I misunderstood the question. Yes this is an issue, and yes this is minor :)

[2019-06-20 13:52] jcarpent commented on #815
Yes, otherwise you may have conflicts.

[2019-06-20 13:54] jcarpent commented on #815
I have opened an issue in CasADi (https://github.com/casadi/casadi/pull/2446), to add the support of pkgconfig. If you install my version (master branch in https://github.com/jcarpent/casadi), you will be able to find casadi with Pinocchio

[2019-06-20 14:07] jcarpent commented on #816
I think the bug is related to EigenPy instead. It is due to the default exposition of Quaternion by the two applications. So if eigenpy is loaded first, then pinocchio will not expose it and the class Quaternion won't appear in the namespace of Pinocchio.

Thanks @stonneau for raising this bug.

[2019-06-20 14:30] alejandroastudillo commented on #815
Thanks, I will try with that and see what happens.

[2019-06-20 21:29] jcarpent commented on #816
Solved by #817

[2019-06-20 21:29] #816 closed

[2019-06-24 09:02] jcarpent commented on #809
fixed by #813.

[2019-06-24 09:02] #809 closed

[2019-06-24 12:16] jcarpent commented on #815
Any feedback?

[2019-06-25 06:50] alejandroastudillo commented on #815
I tried with casadi supporting pkgconfig, but when building pinocchio, the `casadi/casadi.hpp` was not found. I added casadi to pinocchio's CMakeLists.txt (using `find_library` and `include_directories`) and it is finding casadi now.
The new error is this one:
[code]
BTW, I will be able to try in a clean 16.04 distribution later today or tomorrow.

[2019-06-25 07:55] jcarpent commented on #815
Yes, I would suggest working with a clean Ubuntu environment.
Can you provide me the whole log of the compilation issue (you don't provide the whole information needed to investigate your issue)?

[2019-06-25 08:07] alejandroastudillo commented on #815
I just pulled the updated version of pinocchio from your topic/casadi branch. Here's the whole compilation log.
[make_output.txt](https://github.com/stack-of-tasks/pinocchio/files/3324174/make_output.txt)

[2019-06-25 09:39] jcarpent commented on #815
@alejandroastudillo I found the bug which is coming from Eigen in fact. They changed their mind since then. I fixed it in #821. I'm waiting for Travis and it will be merged on devel.

[2019-06-25 12:30] jcarpent commented on #815
This problem has been solved in #821.

[2019-06-25 14:24] alejandroastudillo commented on #815
Thank you very much @jcarpent. I was able to build pinocchio's `devel` branch from source (haven't tried with python interface). I think that I will test it tomorrow morning and let you know how it goes.

[2019-06-26 09:39] alejandroastudillo commented on #815
Dear @jcarpent. I have been testing the aba algorithm and forward kinematics interfacing casadi. Almost everything is working fine. However, since I need to calculate the casadi expressions which define the pose of a robot's end-effector, I must update the frame placements like this:
[code]
or just: `pinocchio::framesForwardKinematics(casadi_model,casadi_data,q_casadi); `
taking into account that

[2019-06-26 10:13] jcarpent commented on #815
Ok I will have a look and do the appropriate modifications. Thanks for reporting this new issue.

[2019-06-26 12:36] jcarpent commented on #815
@alejandroastudillo I've just made some fixes in #823.

[2019-06-26 13:13] alejandroastudillo commented on #815
Thank you very much @jcarpent. Built, tested, and working.
I'll now try to build with python interface and see what happens.

[2019-06-29 14:56] grozail opened #824 "Make pinocchio pip installable as python package"
Are there any thoughts on making pip-installable package?

[2019-06-29 21:40] nim65s commented on #824
Hi @grozail,

We already started discussions about that, yes.
This is not trivial, but not impossible, especially since [PEP 571](https://www.python.org/dev/peps/pep-0571/).

If I recall correctly, @jcarpent said that someone from his team wanted to work on that.
Otherwise, I could handle this, but not before fall, or even winter.

[2019-07-01 07:52] jcarpent commented on #824
Dear @grozail,

We are about to put **pinocchio** in `anaconda`. Does this feature fill your needs? Or `pip` is really your target and needs? Indeed, we are also planning put **pinocchio** inside, but this feature will be achieved later on.

[2019-07-01 18:51] grozail commented on #824
@nim65s I understand that this task is not trivial at all. Keeping in mind all the required dependencies.
@jcarpent Anaconda would be enough for now.
Maybe I will implement packaging by myself in free time.
Thanks for your work and attention.

[2019-07-03 15:13] alejandroastudillo commented on #815
Dear @jcarpent,

Calling cmake with:
[code]
gave me an error related to not finding `numpy/numpyconfig.h`, but that error was not present when I tried calling cmake with:
[code]
But now, I am having an error related to the `apply_visitor`:
[code]
The log of this compilation is here: [log_compilation.txt](https://github.com/stack-of-tasks/pinocchio/files/3355602/log_compilation.txt)

[2019-07-03 21:28] jcarpent commented on #815
A simple question, are you compiling with C++11 or C++14 on? The error coming from `/usr/include/boost/variant/detail/apply_visitor_unary.hpp:160` is raised only if flags C++11 or C++14 are activated. @alejandroastudillo Can you check your current configuration?

[2019-07-04 07:23] alejandroastudillo commented on #815
I didn't set any additional flag for `C++11` or `C++14`, but I was using `GCC 7.4.0` which needs no flag for enabling C++11 features. I went back to `GCC 5.5.0` and now the compilation with python bindings is completed without errors. Thank you very much.

It is worth clarifying that, with `GCC 7.4.0`, Pinocchio is building without errors only if the python interface is not being built.

[2019-07-04 07:52] jcarpent commented on #815
The issue here is that GCC >= 7.4.0 is complying by default with C++11 enable. Which is not a correct thing (made in the back of users), IMHO. It seems then the problem is coming from Boost 1.58 (on your computer).
In general, I would suggest people relying on the compiler which comes with the distribution, and not to try the most advanced one on an already old Ubuntu distribution (16.04).

@aleja

[2019-07-04 08:23] alejandroastudillo commented on #815
Ok. Thank you very much for your advice and help.
Sure, I think this issue can be closed now.

[2019-07-04 08:23] #815 closed

[2019-07-08 09:06] alejandroastudillo commented on #802
Hi, one small question to add here: Is it possible to retrieve the joint type ('Continuous, 'Revolute', etc) from the `model` or `data` structs?

[2019-07-08 09:12] jmirabel commented on #802
There is a one to one mapping between C++ joint types and URDFs.
Have a look here: https://github.com/stack-of-tasks/pinocchio/blob/8e8f0711b1efa18e8dbc3ee0eea5693cb2cdd2b4/src/parsers/urdf/model.hxx#L223

[2019-07-08 13:22] jcarpent commented on #802
@alejandroastudillo In the field `model.joints[id].shortname()`you can retrieve this information with the high-level interface (`id` is the id of the joint).
Another solution would be to do a dynamic cast, but this is not recommended.

[2019-07-09 09:52] alejandroastudillo commented on #802
@jmirabel @jcarpent thank you very much. The `shortname` was what I was looking for.

[2019-07-11 19:42] jcarpent commented on #808
@gabrielebndn Sorry for my late reply. Go ahead for your proposal. I do agree with your suggestions.

[2019-07-11 21:26] wxmerkt opened #827 "Turn BUILD_UNIT_TESTS option OFF by default?"
Unit tests are most interesting to Pinocchio developers and CI, but less so for end users/consumers of the library and take lots of time and memory to compile. Would it be an acceptable suggestion to switch the default behaviour of `BUILD_UNIT_TESTS` to `OFF`?

[2019-07-11 21:28] jcarpent commented on #827
Yes, this is fine for me.

[2019-07-12 07:11] jcarpent commented on #827
Solved by #829

[2019-07-12 07:11] #827 closed

[2019-07-12 07:51] gabrielebndn commented on #808
@jcarpent, you mean implementing `JointModelSphericalRPY` and/or adding documentation?

[2019-07-12 11:18] jcarpent commented on #808
Implementing JointModelSphericalRPY ;)

[2019-07-12 12:24] gabrielebndn commented on #808
Ok. Just to be 100% clear. This post

was incorrect. I was mislead by the way the joint is presented in the book. My first intuition was right. The current `JointModelSphericalZYX` implements

<a href="https://www.codecogs.com/eqnedit.php?latex={}^{\lambda(i)}R_i&space;=&space;R_z(q_0)&space;R_y(q_1)&space;R_x(q_2)" target="_blank"><img src="https://latex.codecogs.com/gif.latex?{}^{\lambda(i)}R_i&

[2019-07-12 12:44] jcarpent commented on #808
Yes, I do agree that it should straightforward thanks to `JointModelSphericalZYX`

[2019-07-15 13:05] pariterre opened #831 "pkg-config doesn't allow for conda environment"
Hi there,

I've spent some time trying to sort this, but it seems that pkg-config won't work with environment like anaconda. However, I am developing other libraries that required specific versions of boost and eigen and therefore I cannot afort to install libraries in my main /usr/ folder!
Is there something I am supposed to do so pkg-config will find the dependencies installed in CMAKE_INSTALL_P

[2019-07-15 13:13] jcarpent commented on #831
Dear @pariterre,

With @lesteve, we are putting some similar efforts in the same direction than you.  See https://github.com/conda-forge/staged-recipes/pull/8820 for instance.
We are making a first trial for EigenPy and we will try Pinocchio next.

To help you, we would need some specific output of your current bugs?

In the meantime, I will add the generation of eigenpyConfig.cmake and pinocchioC

[2019-07-15 13:14] nim65s commented on #831
Hi @pariterre

You can install those libraries anywhere. You just need to set `PKG_CONFIG_PATH` afterwards, eg.:
`export PKG_CONFIG_PATH=~dev/lib/pkgconfig` if you want to install your eigen / boost in `~/dev`.

[2019-07-15 13:52] jcarpent commented on #824
@grozail With @lesteve, we are currently working on the integration of Pinocchio inside conda.

[2019-07-15 16:48] pariterre commented on #831
Thanks for your answer
In the mean time, I removed locally the "pkg" calls and changed them for find_package() and it sets the cmake properly (wrong path for boost though, because Boost_INCLUDE_DIRS is indeed not defined, but that is an easy fix)

Thanks for the workaround @nim65s . So far, I was unsuccessful using ```export``` for finding Eigen and Boost, but it did find eigenpy (compiled by hand

[2019-07-15 17:07] alaurenzi opened #832 "Hints on automatic differentiation and code generation"
Hi all, and first off thanks for sharing this work.
I was looking for a multibody kinematics/dynamics library that can be integrated in a symbolic framework (e.g. Casadi) for optimal control purposes.  I have seen that the implementation of pinocchio is fully templatized on the scalar type, which allows to use it for code generation of derivatives via e.g. CppAD, however I couldn't find any exampl

[2019-07-15 17:12] jcarpent commented on #832
Dear @alaurenzi,

Thanks a lot for using our codes.
Some basic examples of using Pinocchio with CppAD are located in the unit tests (`cppad-*` files). I will try to provide a complete set of examples asap.

Concerning your code, the idea is to cast a standard model (using doubles) to your desired types as follows:
[code]

[2019-07-16 07:01] lesteve commented on #831
Inside a conda environment, it should be reasonably straightforward. For example this works for me for eigenpy:
[code]

Note:
- `PKG_CONFIG_PATH` is needed for eigen which puts its `.pc` in a different place than other packages (at least inside a conda environment). The default location for `.pc` inside a conda environment is `$CONDA_PREFIX/lib/pkgconfig` and packages there are found automatically

[2019-07-16 08:22] pariterre commented on #831
Hi!

From the suggestion of @lesteve, I could actually making things work. However, there is no need to set by hand the PKG_CONFIG_PATH by hand. The relevant lines are :
[code]
That is to say that pkg-config must be install inside the environment (one must not use the pkg-config installed on the root) **AND** the environment **must** be activated while running cmake. Like this, pkg is properly con

[2019-07-16 10:00] alaurenzi commented on #832
Thanks for the prompt answer. I still have compilation issues. Below you can find the exact snippet:
[code]

The error is
[code]
caused by a conversion attempt
[code]

The strange thing is that compiling pinocchio with AUTODIFF_SUPPORT results in the same error. Any clue?

[2019-07-16 10:02] jcarpent commented on #832
Dear @alaurenzi. I will have a look this afternoon. Best

[2019-07-16 12:24] lesteve commented on #831
Your error looks like you are not using the `pinocchio` `devel` branch, it seems very similar to the one I was having a few weeks ago before things got fixed on `devel` (a few days ago roughly).

Things to try:
* `git submodule --update --init --recursive` to make sure the cmake-related things utilities have the fixed version
* I am a `cmake` newbie so I don't know whether there is a nicer way to

[2019-07-16 12:30] lesteve commented on #831
And good point about having pkg-config installed, you don't need PKG_CONFIG_PATH anymore, thanks for this, this will simplify the conda recipe.

[2019-07-16 13:23] pariterre commented on #831
I am using GitKraken which initiate submodules automatically. But in one of my projects (biorbd, ezc3d) I actually run the submodule initiation command if the user didn't run it themselves while they run CMake. I think this is a nice way to ease things to people :)

I am on commit id : 0853bfe732fdf83c17405b919f07871ce3ea9ee8
Do you actually build cmake and run it from the external dependencies? I

[2019-07-16 14:14] lesteve commented on #831
This commit is 6 days ago (maybe a copy and paste problem from you part). Can you try the latest commit on the `devel` branch i.e. (at the time of writing) https://github.com/stack-of-tasks/pinocchio/commit/0bc84d286cf47afbff7e246fa35271392f77ee60.

To try to tackle a slightly simpler problem, does the snippet I posted for you for eigenpy (rather than pinocchio) in https://github.com/stack-of-task

[2019-07-16 14:22] lesteve commented on #831
Silly suggestion since boost seems to be the issue and eigenpy is not using boost. Anyway if you still have problems, it would be great if you can post a reproducible snippet similar to https://github.com/stack-of-tasks/pinocchio/issues/831#issuecomment-511692617.

[2019-07-16 14:29] pariterre commented on #831
Using
[code]
works for eigenpy

For the commit, I forgot that I forked pinocchio and that I was on my fork. I am having trouble with Git right now, so in few minutes, I will test using the latest version of pinocchio

[2019-07-16 15:47] alaurenzi commented on #832
Latest news: I tried the code above (including unit tests) on the devel branch and it compiles!

[2019-07-16 17:57] pariterre commented on #831
Allright,
So with your last commit, everything seems to work :)
I tried using eigenpy compiled by hand (didn't tried the conda-forge channel)
You can close the issue!

[2019-07-16 20:56] jcarpent commented on #832
Good to hear this news. Sorry, finally I did have time to take a look at your issue.
Hope everything works fine for you. I will now close the issue.

Thanks again for using Pinocchio.

[2019-07-16 20:56] #832 closed

[2019-07-16 20:57] jcarpent commented on #831
Sounds great.
Thanks for using Pinocchio and your user feedback.

[2019-07-16 20:57] #831 closed

[2019-07-19 12:42] cmastalli opened #837 "Compilation problem (boost python) of a thirdparty library that depends on `pinocchio::Model` in v2.1.5"
I detected a problem in v2.1.5 during the boost python compilation of a class with a `pinocchio::Model` object. This problem doesn't appears in v2.1.3.

[code]

**I don't have any clue of what it's going on**

[2019-07-21 19:39] jcarpent commented on #837
I think the issue is coming from your configuration setup, not from Pinocchio itself.
The only we can advise is to build Pinocchio from a clean build directory.

[2019-07-21 19:39] #837 closed

[2019-07-22 10:56] PepMS opened #838 "Error when parsing a URDF"
When I try to load my urdf file with the following code:

[code]

I get the following error:
[code]
I thought I could have a wrong urdf file. I actually do not know how to check that but I load the model with [this app](https://github.com/OTL/urdf-viz) and everything seemed fine.

If you could point me where to check would be very nice. I'll keep investigating!

Thank you very much,

Pep

PS: I at

[2019-07-22 11:11] jcarpent commented on #838
It seems this error is coming from hpp-fcl (which is forked version of the original FCL project).
The error seems to come from your files link1.{dae,stl} which define a face with only two vertices.

Can you check it?
I think certainly @jmirabel might provide an help on this issue.

[2019-07-22 13:01] PepMS commented on #838
Ok, I think it is fixed.

I've repaired the .dae mesh files with FreeCAD and the problem is solved. Robot shown in gepetto-gui. :smile:

Thanks!

[2019-07-22 13:16] jcarpent commented on #838
Very nice. Great continuation and hope you will enjoy Pinocchio!

[2019-07-22 13:16] #838 closed

[2019-07-22 15:38] matthieuvigne opened #839 "Compute CoM jacobian of subtrees"
Currently pinocchio computes the CoM of subtrees, but only the jacobian of the total model CoM. To implement tasks on a specific limb of a robot, I would like to have the jacobian of the subtree CoM as well.

This could be done by adding a ```std::vector<Matrix3x> Jcom;``` to the Data object that would be filled during the JacobianCenterOfMassBackwardStep

[2019-07-22 15:54] jcarpent commented on #839
Adding `std::vector<Matrix3x> Jcom` would not be efficient, because I guess you only need one center of mass Jacobian for a specific subtree, not for all them.

I would suggest implementing a dedicated function called `computeCoMSubtreeJacobian` which will fill a matrix given as output argument, and doing the job you want.

@matthieuvigne Are you willing to fulfill this task?

[2019-07-22 16:03] matthieuvigne commented on #839
I felt doing a vector was closer to what pinocchio usually does in having one algorithm compute everything as it goes and storing the results for latter use ; this is exactly what is being done for subtree CoMs for instance (in ```container::aligned_vector<Vector3> com```). So I thought it made sense to do the same thing for the Jacobian. But yes for my use case a function would be enough.

And ye

[2019-07-22 16:11] jmirabel commented on #839
Jacobian for all subtrees consumes a lot of memory. Typically, you will flood your CPU cache. This can cause inefficiencies.

[2019-07-22 16:24] matthieuvigne commented on #839
Good point, I hadn't thought of that. I'll go with a basic function then.

[2019-07-22 16:37] jcarpent commented on #839
I do agree. This is also why we only store the Jacobians of all the joints in `data.J` and extract then the right Jacobians when needed.

[2019-07-22 16:46] jcarpent commented on #839
Sounds good. Thanks a lot!

[2019-07-22 16:50] cmastalli commented on #837
This problem persists after fixing issues with my setup. I believe it's needed to include some header file whenever you want to binding a code using `pinocchio::Model`.

[2019-07-22 17:00] cmastalli commented on #837
The new error message is:

[code]

[2019-07-23 13:07] jcarpent commented on #837
Which command do you run?

[2019-07-23 13:09] cmastalli commented on #837
I compiled Crocoddyl with Python bindings. The branch is cpp_devel. Maybe do you want to move this discussion here https://gepgitlab.laas.fr/loco-3d/crocoddyl/issues/200?

[2019-07-23 13:13] jcarpent commented on #837
I think it depends on the order of file inclusions.
You should first include `pincchio/fwd.hpp` before anything to correctly setup the default size of the boost::variant.

[2019-07-23 13:29] cmastalli commented on #837
I just tried this, and it doesn't solve my issue :(

Any other suggestion?

[2019-07-23 18:31] jcarpent commented on #824
@grozail `EigenPy` is now inside conda-force (https://github.com/conda-forge/eigenpy-feedstock/).
Next step is Pinocchio.

[2019-07-23 19:59] grozail commented on #824
@jcarpent Nice to hear!

[2019-07-23 20:49] jcarpent commented on #837
The easiest way for me to debug your current setup would be to provide a docker container with the issue. Can you do it?

[2019-07-27 10:09] jcarpent commented on #839
See #843 for a full and efficient solution.

[2019-07-27 12:08] jcarpent commented on #839
fixed by #843.

[2019-07-27 12:08] #839 closed

[2019-07-29 09:52] cmastalli commented on #837
I asked @nim65s. As soon as possible we'll share it with you.

[2019-07-31 21:51] Ryangupta8 opened #844 "appendModel Question"
Hi, I am trying to use the library for object collision avoidance. I have had some issues when creating a model and geometry model for a robot combined with an object. Appending the object model and geometry model occurs at some frame on the base model.
appendModel( parent model, child model, parent geomModel, child geomModel, frame number, SE3, output model, output geomModel)

Initially I was app

[2019-08-05 13:20] jmirabel commented on #844
I use Pinocchio in the way you mention and it works fine. You may want to have a look at the code of this function: https://github.com/humanoid-path-planner/hpp-pinocchio/blob/77296185e895b9f6e42fa1408b44bbbf89a8cdf3/src/urdf/util.cc#L195

If the base frame is 0, I do not call appendModel. I call `buildModel` with the model into which I want to append.

If appendModel with a base frame index equal

[2019-08-05 13:41] jmirabel commented on #844
I couldn't reproduce the assertion you mention. I added the following lines in the unit test model.cpp, at the commit above.
[code]

[2019-08-05 13:46] jcarpent commented on #844
@jmirabel A simple check, have you checked in debug mode?

[2019-08-05 13:54] jmirabel commented on #844
Yes.

[2019-08-05 14:11] jcarpent commented on #844
@Ryangupta8 Can you provide a simple example of your issue? It will be easier for us to provide guidance and help.

[2019-08-06 08:04] cmastalli opened #845 "Minv computation - bug or inconvient behaviour?"
Hi guys,

I have a question regarding the computation of the inverse of the inertial matrix using Pinocchio Cholesky. First, why we cannot use the `data.Minv` in `computeMinv`, e.g.:

[code]

From my perspective it would be nice to reuse this matrix, avoiding to create an extra matrix.

My second question is: why do I need to set to zero Minv?, e.g.

[code]

I would strongly suggest to avoid the s

[2019-08-06 08:11] jcarpent commented on #845
You're not using the right computeMinv. You should use the computeMinv from the global `pinocchio` namespace. It is defined in `<pinocchio/algorithm/aba.hpp>`.

[2019-08-06 08:13] jcarpent commented on #845
The computeMinv you were using is performed by using the Sparse Cholesky decomposition of the Joint Space Inertia Matrix, which needs a call to CRBA first, then to the decomposition and then to the computeMinv.

For the second point, I will have a look, but I think this is due to the InPlace way of performing the computations.

[2019-08-06 08:22] jmirabel commented on #845
InPlace way of performing the computations.

It is worth an assertion, isn't it ?

[2019-08-06 08:26] cmastalli commented on #845
In my case I need to add the armature in the inertial matrix, e.g.

[code]

is this proper way of doing it?

[2019-08-06 08:30] jcarpent commented on #845
I will change the behavior of the algorithm to make it compliant.

[2019-08-06 08:45] jcarpent commented on #845
Yes, indeed. This is the correct way.
I will change the behavior and fix the consistency of the second call.

[2019-08-06 08:56] cmastalli commented on #845
Thank you guys for your very fast and efficient responses!

 @jcarpent feel free to close this issue if you want to create another one for point 2.

[2019-08-06 11:26] jcarpent commented on #845
Solved by #846.

[2019-08-06 11:26] #845 closed

[2019-08-06 14:26] Ryangupta8 commented on #844
`pinocchio::urdf::buildModel(filename, pinocchio::JointModelFreeFlyer(),model1)
pinocchio::urdf::buildModel(filename, pinocchio::JointModelFreeFlyer(),model2);
pinocchio::urdf::buildGeom(mode1, filename, pinocchio::COLLISION, geomModel1, packageDirs );
pinocchio::urdf::buildGeom(mode2, filename, pinocchio::COLLISION, geomModel2, packageDirs );`
- set the current configuration for each, run forward

[2019-08-06 14:33] jmirabel commented on #844
When do you create the data for model 3 ?

[2019-08-06 14:36] Ryangupta8 commented on #844
After appendModel. In the structure we created to hold these models we hold these as pointers, so those functions like forwardKinematics(model3, *data, q_update)
`data3 = std::unique_ptr<pinocchio::Data>(new pinocchio::Data(model3));
geomData3 = std::unique_ptr<pinocchio::GeometryData>(new pinocchio::GeometryData(geomModel3));`

[2019-08-06 14:52] jmirabel commented on #844
What version of Pinocchio do you use ?

[2019-08-06 14:54] Ryangupta8 commented on #844
v2.1.3

[2019-08-06 15:31] jcarpent commented on #844
@Ryangupta8 Could you try with the latest release 2.1.6?

[2019-08-06 15:40] jmirabel commented on #844
I used v2.1.3 for my test. Can you make a minimal working example (with your URDF if it is publicly available) ?

[2019-08-06 16:40] fabioexavier opened #849 "Build error when porting from v2.1.3 to v2.1.6"
When upgrading from v2.1.3 to v2.1.6, this existing block of code fails to build:

[code]

[code]

Did the API change between these two versions regarding joint model manipulation? could this be due to the recent addition of new joints types like JointMimic?

[2019-08-06 16:51] jcarpent commented on #849
@fabioexavier First of all, thanks for reporting this bug.

By adding JointMimic, we have increased the size of the boost::vector internally defined by the the boost::variant class. In other words, we had to set BOOST_MPL_LIMIT_LIST_SIZE to 30.

This quantity is defined in this file: [src/container/boost-container-limits.hpp](https://github.com/stack-of-tasks/pinocchio/blob/master/src/container/bo

[2019-08-06 16:51] Ryangupta8 commented on #844
[minimal example with urdf.zip](https://github.com/stack-of-tasks/pinocchio/files/3473290/minimal.example.with.urdf.zip)
- Here is a zip with a minimal example and two urdf files: one for a cart and one for valkyrie robot

[2019-08-06 17:07] fabioexavier commented on #849
We narrowed it down to this code, uncommenting the first include triggers the same build error, otherwise it works.

[code]

[2019-08-06 17:26] jcarpent commented on #849
On my OS, your code is compiling well.
Can you tell me on which distribution are you working on? and the version of UDRFDOM you are using?

[2019-08-06 17:27] jcarpent commented on #849
Can you also switch the two includes and give me the outcome?

[2019-08-07 08:46] jmirabel commented on #844
I was able to reproduce the bug. It comes from the fact that you merge two models with conflicting joint or frame names. At the moment, this issue is not checked for. I don't know why the problem appears only when using frame 0...

A workaround is to add the following code after creating `cart_model`.
[code]

[2019-08-07 10:14] fabioexavier commented on #849
I'm using Ubuntu 18.04.2 with urdfdom 0.3.0.

Interestingly, if I switch the two includes, the code compiles and I don't get any errors.

[2019-08-07 10:37] jmirabel commented on #849
This file https://github.com/stack-of-tasks/pinocchio/blob/master/src/container/boost-container-limits.hpp must be included before boost MPL is included.

There should be a compilation error, based on the existence of the header guard of boost MPL. @jcarpent any reason not to have included it ?

[2019-08-07 11:36] jcarpent commented on #844
Solved by #851.

[2019-08-07 11:36] #844 closed

[2019-08-07 11:38] jcarpent commented on #849
@jmirabel It is already included in  https://github.com/stack-of-tasks/pinocchio/blob/master/src/fwd.hpp.

[2019-08-07 12:11] jcarpent commented on #849
@fabioexavier Could you try #852 please?

[2019-08-07 12:14] jmirabel commented on #849
I meant why something like this:
[code]
in https://github.com/stack-of-tasks/pinocchio/blob/master/src/container/boost-container-limits.hpp

But your patch #852 works too.

[2019-08-07 13:47] jcarpent commented on #849
Solved by #852.

[2019-08-08 12:40] jcarpent commented on #849
@fabioexavier Any news?

[2019-08-08 12:56] jcarpent commented on #824
@grozail After a long trip inside the twists and turns of Conda, and thanks to the amazing help of @lesteve and @wolfv, Pinocchio can now be installed through `conda`.
Please refer to https://github.com/conda-forge/pinocchio-feedstock#installing-pinocchio for the installation details.

[2019-08-08 12:56] jcarpent commented on #824
I will now close this issue as it is now solved. @grozail Feel free to reopen it if necessary.

[2019-08-08 12:56] #824 closed

[2019-08-09 08:32] cmastalli opened #855 "Why doesn't getJointAccelerationDerivatives compute v_partial_dv?"
Hi guys,

I was looking this detail inside the paper and I didn't find it. Is there a mathematical reason for this? If not, I suggest to retrieve this partial derivatives too. Otherwise we need to run getJointVelocityDerivatives, which I assume it's not the most efficient way of doing things.

Yours,
Carlos

[2019-08-09 08:49] jcarpent commented on #855
This is because v_partial_dv = a_partial_da. This is written in the documentation of the function.

[2019-08-09 08:50] cmastalli commented on #855
Thank you for the clarification

[2019-08-09 08:50] #855 closed

[2019-08-12 15:06] jcarpent commented on #807
I will close this issue as it seems Protobuff is no more the priority for LAAS now. @JasonChmn Feel free to reopen this issue if you need.

[2019-08-12 15:06] #807 closed

[2019-08-12 17:33] cmastalli opened #858 "Why dIntegrate creates a NaN block in the Jacobian for floating-base systems?"
Hi guys,

Would someone can explain me (or share with me a link) this question?

One of my goals is to compute the Jacobian of the difference operator too. As we know, we can compute this from the Jacobian of integrate operator, but this creates a the block term with NaN values. I suspect this is wrong!

It would be also important to implement dDifference, and therefore avoid any inversion of Jint

[2019-08-12 17:43] jcarpent commented on #858
If your configuration vector is not normalized, this is expected.

[2019-08-12 17:51] cmastalli commented on #858
What exactly means normalize?

[2019-08-12 17:52] jcarpent commented on #858
Quaternions part of the config vector should be normalized.

[2019-08-12 17:58] cmastalli commented on #858
This happens even when the quaternion is normalized

[2019-08-12 18:54] jmirabel commented on #858
Weird. Could you add `feenableexcept(FE_DIVBYZERO | FE_INEXACT | FE_INVALID)` before the call to dIntegrate and provide gdb backtrace of the thrown exception ?

Do you have any piece of code ? A reproducible code ?

[2019-08-13 08:42] cmastalli commented on #858
I inspected a little more this problem. It happens when I used this model:
[code]

[2019-08-13 09:56] jmirabel commented on #858
In your example, `q` has infinite values.

[2019-08-13 10:15] cmastalli commented on #858
Yes, and this is another problem in `buildSampleModelHumanoid `. Do you think is the reason?

[2019-08-13 10:37] cmastalli opened #859 "There is Eigen memory allocation in computeABADerivatives"
Hi guys,

I reported that there is memory allocation by Eigen expressions in compute `computeABADerivatives`. This is piece of the code:

[code]

I didn't try it yet the other method with the derivatives as in/out argument.

Carlos

[2019-08-13 11:41] cmastalli commented on #859
I suspect this line creates memory allocation: https://github.com/stack-of-tasks/pinocchio/blob/master/src/algorithm/aba-derivatives.hxx#L429

[2019-08-13 12:44] jmirabel commented on #858
The 3 first DoFs have no bounds. You must first set the upper and lower position limits.

With finite values for q and v, I don't get any errors.

[2019-08-13 12:56] #858 closed

[2019-08-13 13:55] jcarpent commented on #859
@cmastalli Thanks for raising it. I would say it really depends on the version of Eigen this kind of stuff. And I won't be surprised that there is some memory allocation in Pinocchio.

[2019-08-13 13:56] jcarpent commented on #859
For sure, the line you mention is only a static_cast. And in this way, there is no memory allocation at all here. The memory allocation is certainly deeper in the code I would say.

[2019-08-13 13:57] cmastalli commented on #859
Do you think we should test the memory allocation in Pinocchio unit-test? I asked myself the same question in Crocoddyl.

[2019-08-13 15:02] jcarpent commented on #859
It can be useful, but again, it depends on Eigen itself which might do some memory allocation or not depending on its Version. It is hard to do it well.

[2019-08-16 11:33] cmastalli opened #861 "forwardDynamics is not very descriptive"
Hi guys,

I proposed  to rename this class, which in my humble opinion doesn't have a proper name. For instance, "forward dynamics" is a very broad term and maybe the first thing that comes to our minds is the free case. On the other hand, "contactForwardDynamics" or any reference to contacts is wrong since it doesn't model neither a contact.

My suggestion is to rename the class as `forwardDynami

[2019-08-16 13:19] jcarpent commented on #861
First of all, you are talking about functions and not classes.
Your suggestions are not totally correct as the original `forwardDynamics` can deal with both holonomic and non-holonomic constraints. As I already told you during private discussions, the original naming of forwardDynamics is correct in a similar way we can call ABA forwardDynamics. But I do agree on the fact that this naming may not

[2019-08-16 13:19] #861 closed

[2019-08-21 11:58] pFernbach opened #862 "namespace error in spatial/explog-quaternion.hpp"
https://github.com/stack-of-tasks/pinocchio/blob/11e195bb5ae57bb0d3010642608cf836620bf14e/src/spatial/explog-quaternion.hpp#L191

This line cause compilation error when I include this file :
[code]

It is solved by either changing it to `pinocchio::quaternion::Jlog3` or just `Jlog3`.

[2019-08-22 09:36] jcarpent commented on #862
I think the issue is coming from your inclusions.
Can you provide a minimal example showing your issue?

[2019-08-22 09:37] jcarpent commented on #862
You should include `#include "pinocchio/spatial/explog.hpp" to get access to the signatures of exp and log functions with Quaternion inputs.

[2019-08-22 11:53] gabrielebndn commented on #862
I see `pinocchio/spatial/explog.hpp` includes `pinocchio/spatial/explog-quaternion.hpp` *at the end*. So the user should never include `pinocchio/spatial/explog-quaternion.hpp` directly, they should only care about `pinocchio/spatial/explog.hpp`.

I think this is not intuitive and the error made by @pFernbach is natural. If `explog-quaternion.hpp` is not meant to be employed by the user, I suggest

[2019-08-22 14:13] jcarpent commented on #862
@gabrielebndn I do agree on the third option which allows a perfect clean of this part of the coder.
On my side, I have already performed a deeper splitting with log.{hpp,hxx} and exp.{hpp,hxx}.
This is on a branch which currently under development.

Before submitting this PR, I have a quick fix in mind which consists of adding these lines in the `explog-quaternion.hpp` file:
[code]
@gabrielebndn

[2019-08-22 14:14] jcarpent commented on #862
@gabrielebndn If you are interested to implement the complete splitting, you can go ahead if you want.

[2019-08-22 14:32] gabrielebndn commented on #862
I think the `#ifndef` is not strictly needed, the include guard inside `explog.hpp` should be enough.
Also, I don't think the fix itself is needed. The problem at hand is solved by including the correct header, that is `explog.hpp` instead of `explog-quaternion.hpp`

I am not sure the third proposal is clear. I do not want a complete split. What I propose is:

`explog.hpp`:
[code]

So that the use

[2019-08-22 14:38] jcarpent commented on #862
To simplify maintenance and to not have hundred of line of codes in the same file.

[2019-08-23 11:59] SebastianRiedel opened #864 "Compile errors when casting model to ADScalar / CGScalar"
Based on the comments in #753, I'm trying to evaluate the code generation functionality of Pinocchio using the example code provided in https://github.com/stack-of-tasks/pinocchio/blob/11e195bb5ae57bb0d3010642608cf836620bf14e/unittest/cppadcg-algo.cpp#L27

On compilation, I get error at the line casting from the "double" model to the "ADScalar" model.

Any ideas or obvious mistakes (version incomp

[2019-08-23 12:02] jcarpent commented on #862
Solved by #863

[2019-08-23 12:02] #862 closed

[2019-08-23 13:58] jcarpent commented on #864
@SebastianRiedel Thanks a lot for raising this issue.
I think commit b35bb4bc29e1b56298a40797742e04f1511f032d has solved your issue.
Could you try with the current devel branch https://github.com/stack-of-tasks/pinocchio/tree/devel?

[2019-08-24 07:10] jcarpent commented on #864
@SebastianRiedel I confirm that your example is passing with the current devel branch. Do you need a release?

[2019-08-24 08:09] SebastianRiedel commented on #864
@jcarpent Thanks a lot for your quick reply, for now I think it is just fine if I can test/play with it. I can use devel for that then and will give some feedback and/or close the issue on Monday.

[2019-08-26 15:51] SebastianRiedel commented on #864
Was able to compile the example code on devel. Thanks!

[2019-08-26 15:51] #864 closed

[2019-08-27 06:57] olivier-stasse opened #865 "No MathJax rendering anymore"
A small issue:
for some reason the documentation at the following address:
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/
does not render the mathjax formulas anymore.

[2019-08-27 07:43] jmirabel commented on #865
The reason is this: https://www.mathjax.org/cdn-shutting-down/

[2019-08-27 08:54] jcarpent commented on #865
Solved by #866

[2019-08-27 08:54] #865 closed

[2019-08-27 08:55] jcarpent commented on #865
@olivier-stasse Thanks for the raising and @jmirabel thanks for the quick fix.

[2019-08-27 08:56] jcarpent commented on #864
@SebastianRiedel Happy that your issue is now solved.

[2019-08-27 15:41] proyan commented on #648
Hi Justin,
Is there any activity on this issue?

[2019-08-29 08:14] Leph opened #867 "Kinematics Hessian -- Jacobian derivatives"
First, I would like to thank you all a lot for your great open source work and implementation.

The analytical derivatives of the dynamics are a very valuable feature of the library.
Is there a way using the currently implemented Pinnochio primitives to efficiently compute the kinematics Hessian -- the partial derivatives of a Jacobian of a frame ; which is a tensor of
(6 x nv x nv) ?

Thanks very

[2019-08-29 08:18] jcarpent commented on #867
@Leph Thanks @Leph for your interests in our project.

There is no yet a public interface for it.
I plan to add in the future. If it is important for your applications, I can implement it in the very next days.

Otherwise, you can still use the automatic differentiation layer with CppAD to do that from the classic Jacobians. Are you familiar with such things?

[2019-08-29 08:29] Leph commented on #867
@jcarpent, thanks for your answer.

I have already prototyped my code with classic numerical finite differences.
Thanks to the already implemented partial derivatives, the Hessian is the last piece of the puzzle
preventing me to reach the 1ms computation time.

This is not highly critical, but I will be happy to experiment it as soon as it will be included.

Thank you again.

[2019-08-29 10:33] jcarpent commented on #867
Ok. I may implement them soon.

[2019-08-29 11:59] nmansard commented on #867
Thanks @traversaro for referring to this discussion in the idyntree project.
@Leph: are you sure you need H directly, and not for computing a quantity that we be easier to compute directly. I don't know the context of this question, but for an example: if you want H to finally compute H.v_q (the product of the tensor with the robot velocity), then we may already have this quantity computed. And it

[2019-08-29 13:17] Leph commented on #867
@nmansard, I am differentiating the equation of motion under contacts and using it within a QP formulation. You are right, I am actually looking for a kind of Hessian-vector product. It would have been indeed much simplier, but unfortunately, the differentation ends up with a "H.lambda" tensor product against the *first* tensor dimention instead of the classical last one (resulting with an (nv x n

[2019-08-29 13:22] nmansard commented on #867
Do you have some maths to describe what you are doing, maybe in a scientific paper?
How is that different from equation (12) of this paper https://hal.archives-ouvertes.fr/hal-01851596v2/document

[2019-08-29 14:28] jcarpent commented on #867
I think your current is also related to #648. I will provide soon all the API for dealing with contacts dynamics and so on, in the correct manner with Pinocchio.

[2019-08-29 14:37] jcarpent commented on #867
Indeed, for the Hessian part, the idea is really to provide the tensor * vector operation.
Not really to provide the tensor in its own which is often not necessary.

[2019-08-29 17:13] Leph commented on #867
@nmansard When I linearize the following term from the equation of motion: J(q+dq)^T.lambda
I get (by noting H=dJ/dq): (H.dq)^T.lambda
which can then be rewritten as M.dq with M(i,j) = Sum_k (H(k,i,j)).lambda(k).
I am trying to see if there is a way to compute M efficently.

@jcarpent, you're right. from eq.10a of your paper "Analytical Derivatives of Rigid Body Dynamics
Algorithms", the term dJ^T

[2019-09-11 13:11] Leph commented on #867
I do confirm that the derivative of the RNEA algorithm with external forces allows to access to the Hessian-wrench product I was interested.

Computations with RBDL finite differences: 0.500ms
With Pinocchio differentiated RNEA: 0.060ms

Thank you very much.

[2019-09-11 13:11] #867 closed

[2019-09-11 14:31] Leph commented on #867
The "Pinoccio" timing is taking into account the convertion from Pinocchio to RBDL format.
The raw RNEADerivatives call is around 0.035ms on my laptop.

[2019-09-11 14:33] jcarpent commented on #867
What is the robot? It still seems huge.

[2019-09-11 14:35] Leph commented on #867
This is the humanoid Valkyrie model. No much different than Atlas. nv = 32.

[2019-09-11 14:37] jcarpent commented on #867
You should be able to run them at 0.015 ms on standard laptop computers.

[2019-09-13 13:30] paLeziart opened #872 "Update Installation Instructions in the documentation."
There is a small update to do in the installation instructions of the documentation:
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_1-directgeom.html

Trying to install the package robotpkg-gepetto-viewer-corba returns:
`robotpkg-gepetto-viewer-corba : Depends on: robotpkg-gepetto-viewer (= 4.2.0) but 4.4.0 will be installed`

You have to i

[2019-09-13 13:32] jcarpent commented on #872
Thanks @paLeziart for raising this issue.
Apparently, @nim65s already solved it few days ago in #870, which has been merged in the devel branch.
For simplicity, I will update the Readme.md file on the master branch.

[2019-09-13 13:32] #872 closed

[2019-09-13 13:57] gabrielebndn commented on #859
I cannot detect any allocation. On Ubuntu 16.04, (Eigen 3.2.92), this code

[code]
compiled with this command (using Pinocchio on the current devel branch)
[code]
works perfectly fine.

[2019-09-13 14:20] jcarpent commented on #859
@gabrielebndn Thanks for the sanity check.
It may indeed depend on the eigen vesion.
Could you try with -O3 option too?

[2019-09-13 14:45] cmastalli commented on #859
I used the binary version of Ubuntu 16.04 (i.e. v3.3.2)

[2019-09-13 14:58] cmastalli commented on #859
I will do it next week.

[2019-09-13 15:02] paLeziart commented on #872
In the following there is also an issue with the creation of the RobotWrapper.

Using:
`robot = RobotWrapper(URDF, [PKG])`
Returns:
`'str' object has no attribute 'createData'`

Looking into the source code of RobotWrapper I think it is now:
`robot = RobotWrapper.BuildFromURDF(URDF, [PKG])`

[2019-09-13 15:03] jmirabel commented on #859
@cmastalli Are you sure the arguments were of the correct size ?

[2019-09-13 15:05] jcarpent commented on #872
I would suggest opening a PR with the fix. It will be easier. I will review it.

[2019-09-13 15:05] jcarpent commented on #872
@paLeziart Can you do that?

[2019-09-13 15:09] paLeziart commented on #872
@jcarpent I'm not sure `robot = RobotWrapper.BuildFromURDF(URDF, [PKG])` actually works because the urdf of ur5-description package is broken so I get an error message with this command.

ur5-description urdf ask for package://ur-description for all meshes instead of package://ur5-description

Once it will be fixed (I reported the issue) I will be able to finish the tutorial.

[2019-09-13 15:11] nim65s commented on #872
the ur5-description package has already been fixed :)
But you might need to setup some environment variables, like `ROS_PACKAGE_PATH` or `CMAKE_PREFIX_PATH` for the `package://` thing to work.

[2019-09-13 15:16] paLeziart commented on #872
@nim65s You mean it is already fixed or that the fix will be applied to the main branch in the near future?
Because I downloaded this robotpkg-ur5-description 2 hours ago so I think I got the latest version.

[2019-09-13 15:19] nim65s commented on #872
Ok, I fixed the package yesterday, so this is another issue…

[2019-09-13 16:00] cmastalli commented on #859
I am sure that I used proper matrix dimensions.

[2019-09-13 16:02] jcarpent commented on #859
The simpler is that @cmastalli shares his code. Do you have it ready?

[2019-09-16 14:21] cmastalli opened #875 "Adding damping factor to impulse dynamics"
It would be great to have a damping factor in the impulse dynamics. I could quickly add it if @jcarpent is OK with this.

[2019-09-16 15:37] jcarpent commented on #875
In similar way of constrained Dynamics you mean?

[2019-09-16 15:37] cmastalli commented on #875
Yes, I do

[2019-09-16 15:40] jcarpent commented on #875
Sure. Please you can go ahead.

[2019-09-17 09:15] cmastalli commented on #859
I tested the @gabrielebndn script and it doesn't produce any memory allocation. I think we can close this issue

[2019-09-17 09:48] jcarpent commented on #859
Thanks for this check. And thanks @gabrielebndn for the nice script.

[2019-09-17 09:48] #859 closed

[2019-09-17 19:39] jcarpent commented on #875
Solved by #876

[2019-09-17 19:39] #875 closed

[2019-09-18 11:43] cmastalli commented on #859
@jcarpent sorry if I come back to this issue.

When I detected this memory allocation I was using Python bindings and loading the Pinocchio Model using robot wrapper.
Do you think there is another explanation to this issue? For instance, it would be something regarding the wrapping Pinocchio model with boost python.

I just noticed the same problem but with `computeRNEADerivatives`. I have not ide

[2019-09-18 12:41] cmastalli opened #879 "Memory allocation in computeRNEADerivatives"
There is memory allocation when we pass `fext`. To be efficient, I created the following code where you can check this issue:

[code]

Remember that you need to compile in debug mode. If you name this file as `test_rnea_derivatives.cpp`, then this is a suggested compilation command:
[code]

[2019-09-18 12:47] jcarpent commented on #879
Thanks for the report. I will check it now.

By the way, please use this line instead which is much more generic:
[code]

[2019-09-18 12:52] jcarpent commented on #879
I found the bug. I will provide a fix in few minutes. Thanks @cmastalli for your concerns.

[2019-09-18 12:52] cmastalli commented on #879
Awesome!

[2019-09-18 14:06] cmastalli opened #881 "Memory allocation in impulseDynamics"
This code detects memory allocation on the `impulseDynamics`. It's used the current signature in v2.7.1, I didn't try the latest changes, however, I believe the problem could be still there:

[code]

Remember that you need to compile in debug mode. If you name this file as `test_impulse_derivatives.cpp`, then this is a suggested compilation command:

[code]

[2019-09-18 14:11] jcarpent commented on #881
This is expected. As J and Gamma do not have fixed sizes.

[2019-09-18 14:12] jcarpent commented on #881
The next release with new contact solver won't have this trouble.

[2019-09-18 14:12] jcarpent commented on #881
I will close this issue. Feel free to reopen it if needed.

[2019-09-18 14:12] cmastalli commented on #881
Ok, thanks for the support. I

[2019-09-18 14:12] jcarpent commented on #879
Solved by #880.

[2019-09-18 14:12] #879 closed

[2019-09-19 08:18] blooop opened #883 "Python warns against using np.Matrix class"
When I use ```pin.computeGeneralizedGravity()```
A numpy matrix is returned which then fires this warning:

``` PendingDeprecationWarning: the matrix subclass is not the recommended way to represent matrices or deal with linear algebra (see https://docs.scipy.org/doc/numpy/user/numpy-for-matlab-users.html). Please adjust your code to use regular ndarray.```

Are there plans to depreciate the use o

[2019-09-19 08:36] nim65s commented on #883
Hi @blooop,

This issue concerns [eigenpy](https://github.com/stack-of-tasks/eigenpy), and its behavior can be changed with `eigenpy.switchToNumpyArray()`

[2019-09-19 08:38] nim65s commented on #883
ref https://github.com/stack-of-tasks/eigenpy/issues/41

[2019-09-19 08:50] jmirabel commented on #883
I can reformulate the question like this.
Are there any plans to change eigenpy such that it uses arrays instead of matrices by default ?

At some point, this will be necessary. I have no idea of the timeline though.

[2019-09-19 08:51] jcarpent commented on #883
Yes, in future release of Pinocchio we plan to do it. We managed to handle both cases thanks to EigenPy.

[2019-09-19 08:52] jcarpent commented on #883
Yes, for sure. We need to decide when? The smooth solution is already implemented, which means that we have the option to change the conversion convention online. We just need to setup the default value (this can already be performed in each package depending on EigenPy).

[2019-09-19 08:57] jmirabel commented on #883
I opened an issue on Eigenpy to discuss about that: https://github.com/stack-of-tasks/eigenpy/issues/87

[2019-09-19 16:01] jcarpent commented on #883
Dear @blooop,

First of all, thanks for raising this issue. I've just released a new release of EigenPy which will lead to a new release of Pinocchio in the very few next days.
You can already suppress your current warning by using `numpy.array`in all your code thanks to `eigenpy.switchToNumpyArray()`.

I will close this issue as it seems to be solved. Feel free to reopen it if needed.

[2019-09-19 16:01] #883 closed

[2019-09-19 16:10] blooop commented on #883
Excellent, thanks!

[2019-09-20 14:01] blooop opened #884 "Installation fails on Bionic due to eigenpy, robotpkg-pinocchio, robotpkg-hpp-fcl version mismatches"
The installation outlined here is not working at the moment:
https://stack-of-tasks.github.io/pinocchio/download.html

[code]
I was able to fix this manually, but I thought I should let someone know.  Fix:
[code]

[2019-09-20 14:13] nim65s commented on #884
Hi @blooop,

Thanks for raising the issue.
This is because the buildfarm is currently rebuilding everything, to update Pinocchio & Eigenpy to their last versions.

You can follow the progression here: http://robotpkg.openrobots.org/rbulk/rbulk-dispatchd.html

I'll close the issue, please re-open it if necessary.

[2019-09-20 14:13] #884 closed

[2019-09-20 14:36] wxmerkt commented on #884
For understanding @nim65s: Does this mean there is no staging until all packages are rebuilt, i.e., if I pull or install at the wrong time it fails?

[2019-09-20 15:00] nim65s commented on #884
@wxmerkt that's right.

The eigenpy package is ready, but the pinocchio package is not yet available.

So the old pinocchio package is not compatible with the new eigenpy, and apt tries to upgrade eigenpy anyways, so this fails. But the workaround is straightforward, and @blooop found it: just say to apt that you want the old version.

[2019-09-20 15:10] wxmerkt commented on #884
Okay that is a bit worrying. Would it be possible to have newly built packages be in a staging and only move them to the main repository everybody is pulling from on completion of the full rebuild/release? [Given that it is a lot of packages in the queue as per your dependency diagram]

[2019-09-20 15:15] nim65s commented on #884
I agree, we should work on it.

I opened an issue there: https://git.openrobots.org/issues/214

[2019-09-21 20:32] nim65s opened #885 "Const correctness issue on Ubuntu 19.04 & Fedora 28"
Hi,

In the current devel branch, build fails with the following message:
[code]

It is possible to workaround that issue with this patch: https://github.com/nim65s/robotpkg/blob/master/math/pinocchio/patches/patch-af

To reproduce that, I made a [Dockerfile](https://github.com/nim65s/gepetto-utils/blob/master/docker/pinocchio/Dockerfile.nolts), so :
`docker run --rm -it gepetto/utils:pinocchio-19

[2019-09-23 08:15] jmirabel commented on #849
As you can see, this issue has a very broad impact. It may even lead to unsolvable setups. I think we should do something about it.

@jcarpent the container that needs to have a larger storage capacity is `boost::variant`, right ? Do you see any other requirements ?

[2019-09-23 09:02] jcarpent commented on #849
Yes, only boost::variant. What is the current issue?

[2019-09-23 09:05] jmirabel commented on #849
1. The number of places where this has had impact.
2. The possible binary incompatibility between pinocchio and any library using boost variants with the default limit size.

[2019-09-23 10:01] jcarpent commented on #885
Solved by #886

[2019-09-23 10:01] #885 closed

[2019-09-23 11:33] jmirabel commented on #849
After looking at boost variant code, it seems that the BOOST_MPL_LIMIT_LIST_SIZE is used only when boost cannot use variadic templates. This happens either by a user request or when the compiler or C++ standard is too old. My conclusion is that it isn't necessary to set BOOST_MPL_LIMIT_LIST_SIZE to 30 for c++11 and above (though I didn't try myself). I think c++0x is sufficient.

See https://githu

[2019-09-24 08:27] jmirabel commented on #849
I reopened the issue because I stumbled upon this again just now. I can open another issue if desired.

A first step towards solving this is not to set BOOST_MPL_LIMIT_LIST_SIZE for C++11. @jcarpent if it works, would you agree with this ?

[2019-09-24 08:37] jcarpent commented on #849
I can take it in charge. But, this also means that we need to remove the flags from the *.pc file. Is it OK for you?

[2019-09-24 08:40] jmirabel commented on #849
Thank you.
For c++11, yes, of course.

[2019-09-24 08:45] jcarpent commented on #849
Just to be sure, for both C++98 and C++11, I will remove the forcing flags in the `*.pc` file.

[2019-09-24 08:49] jmirabel commented on #849
For c++98, you think the `pragma error` is sufficient ?

[2019-09-24 09:22] jmirabel commented on #849
Then, to make Pinocchio backward compatible, I suggest that for C++ < 11, we stick to a limit of 20 for the variant.

[2019-09-24 09:47] jcarpent commented on #849
I think this is not the correct way of doing this compatibility. We should keep the current Variant, and to set the `BOOST_MPL_LIMIT_LIST_SIZE` only for versions of C++ before C++11.

[2019-09-24 09:59] jmirabel commented on #849
*This change was not backward compatible*. Most of the source files of SoT and HPP must be changed. Being forced to include `pinocchio/fwd.hpp` before `boost/...` is bad idea.

Moreover, at the moment, the need for more than 20 elements is for mimic joints (am I wrong here ?) and, as of now, they are not ready for deployment.

I am open to other solutions if you have one to suggest.

[2019-09-24 10:01] jcarpent commented on #849
Yes, but we cannot backward as the releases have been done. So, normally, in your context, the *.pc lines should make the job.

[2019-09-24 11:15] jcarpent commented on #849
And then it means that we have to make silent the `pragma error` in the context where `BOOST_MPL_LIMIT_LIST_SIZE` is defined.

[2019-09-24 11:33] jmirabel commented on #849
The written discussion is a bit tedious. If possible, I would prefer a phone call. I am available today before 3pm or after 4:30pm.

[2019-09-24 15:28] jcarpent commented on #849
Solved by #889.

[2019-09-26 22:18] ddliugit opened #893 "Gepetto-gui installation problem on Mac"
brew reinstall gepetto-viewer-corba

gepetto-gui

I found the following error:

yld: Symbol not found: __ZN5boost11basic_regexIcNS_12regex_traitsIcNS_16cpp_regex_traitsIcEEEEE9do_assignEPKcS7_j
  Referenced from: /usr/local/bin/gepetto-gui
  Expected in: /usr/local/opt/boost/lib/libboost_regex-mt.dylib
 in /usr/local/bin/gepetto-gui

Can you help me out?

[2019-09-27 06:30] jcarpent commented on #893
Dear @ddliugit
It makes a while I did not update the packages according to new Boost versions. I would suggest reinstalling them from sources, using the `--build-from-source` option of brew.
I will generate the packages on Monday. Is it fine for you?