[2022-08-09 19:30] jcarpent commented on #1730
@fabinsh Could you have a look on it?

[2022-08-09 19:31] jcarpent commented on #1729
ldd /usr/local/lib/python3/dist-packages/pinocchio/pinocchio_pywrap_default.cpython-38-x86_64-linux-gnu.so

[2022-08-09 19:59] jcarpent commented on #1730
You then should use it. This is expected by CppADCodeGen if I remember well.
I close the issue as it seems to be solving your issue.

[2022-08-09 19:59] #1730 closed

[2022-08-09 21:13] jameswzhu opened #1731 "Constraint Dynamics Drift"
I am trying to simulate a quadruped robot using the constraintDynamics function on pinocchio3. However, there sometimes seems to be drift where the feet sink into the ground. Is there a straightforward way to add in something like constraint stabilization to fix this?

[2022-08-09 21:27] FenglongSong commented on #1729
[code]

[2022-08-09 21:31] fabinsch commented on #1731
Hello, can you provide some code snippet please to understand how you are using the constraintDynamics and how you implement the constraints? In my opinion, you should use the BaumgarteCorrectorParameters Kp and Kd to stabilize the constraint. Have a look at the contraint-dynamics unittest for example: https://github.com/stack-of-tasks/pinocchio/blob/pinocchio3-preview/unittest/constrained-dynamic

[2022-08-10 05:37] jcarpent commented on #1729
@nim65s Do you know what happens?
I'm pretty sure the env used by @FenglongSong is not clean, but I do not know how to fix it.
Yet, I do think @FenglongSong you should instead use conda to be sure to have isolated Python env or simply reinstall your OS to start from a fresh env (or use Docker).

In the meantime, I will close this issue as it is not related to Pinocchio itself, but it is more relat

[2022-08-10 05:37] #1729 closed

[2022-08-10 07:48] nim65s commented on #1729
I'll double check pinocchio3-preview with our recent packaging changes, and provide a clean procedure here to @FenglongSong in the day.

[2022-08-10 08:27] fenaux commented on #1728
Thanks, I indeed find the right repo
I was directed to this adress https://stack-of-tasks.github.io/pinocchio/ by a link in https://github.com/zongmianli/Estimating-3D-Motion-Forces.
May be you can add a warning in this page as it seems deprecated

Well I removed previous installation with sudo apt remove robotpkg-\*
and the paths with conda-develop -u path_name

But I am afraid something is going

[2022-08-10 08:29] jcarpent commented on #1728
Use mamba then.

[2022-08-10 08:30] jcarpent commented on #1728
Could you open a PR and make some suggestions for further readers?

[2022-08-10 08:30] nim65s commented on #1728
This is not deprecated, just another way to install, using the standard Debian / Ubuntu packages and package manager.

in your case, as you want Python 3.9, this can't work with the standard packages from your ubuntu 20.04, because ubuntu 20.04 provides Python 3.8.

[2022-08-10 09:43] fenaux commented on #1728
I got the same difficulties to solve the environment to install namba
Then I decided to clean my environment with conda update anaconda
And then ran again conda install pinocchio -c conda-forge and it works :+1 :)

Many thanks for you support(s)

[2022-08-10 10:18] nim65s commented on #1729
Ok, so here is a Dockerfile which work:
[code]

Is this helping, @FenglongSong ?

[2022-08-10 10:28] FenglongSong commented on #1729
@nim65s Thanks a lot! I will have a try today and let you know if I have any updates.

[2022-08-10 10:31] FenglongSong commented on #1730
Hi @xeonz1, I also encounter this issue some days ago with CppADCideGen. I wasn't able to make it work, so I turned to compute the mass matrix using CRBA and then do the matrix inverse to compute forward dynamics, at a cost of higher computational complexity. Did you manage to solve it? I will be happy to know your update :)

[2022-08-10 11:56] jcarpent commented on #1730
aba is ready. It is just the need of using the right flags of compilation for CppADCodeGen.

[2022-08-10 11:57] jcarpent commented on #1730
As mentioned by @xeonz1, you have to use `fun.optimize("no_compare_op")`.

[2022-08-10 12:03] FenglongSong commented on #1729
Hi @nim65s , thanks for your nice help. The docker file you provided is working prefectly, `import pinocchio` is successful. But when I tired to use `import pinocchio.casadi as cpin`, it fails. Do you have any suggestions for this?
[code]

[2022-08-10 12:17] nim65s commented on #1729
Ok I forgot that when installing in `/usr/local`, python on ubuntu wants modules in `/usr/local/lib/python3.8/dist-packages`. This can be set with `-DPYTHON_STANDARD_LAYOUT=ON -DPYTHON_DEB_LAYOUT=ON` cmake options.

In other words, I added this at the end of the dockerfile:
[code]

But now I have:
[code]

 And for this issue, I don't have an answer. Maybe someone else can help, otherwise I'm afrai

[2022-08-10 12:48] FenglongSong commented on #1729
I also tried the modified Dockerfile and had exactly the same error as you. It's a little disappointing but anyway thanks for your help!

[2022-08-11 13:19] jameswzhu commented on #1731
Thanks, I will look into that. Here's what I'm doing now; looping over this section of code that integrates the current dynamics and checks if a new mode has been entered based on touchdown or liftoff conditions.

            # get state and velocity vectors
            current_q = current_state[0:19]
            current_v = current_state[19:]

            # get feedforward inputs and mode

[2022-08-12 08:39] fenaux opened #1733 "'GepettoVisualizer' object has no attribute 'viewer'"
I continue my journey in pinocchio world

I could run the examples as described in example page of this repo.
But the ones with viewer give this error message :
 command line : python -i gepetto-viewer.py
display
/home/fenaux/Documents/robot/examples/gepetto-viewer.py:26: UserWarning: Error while starting the viewer client. Check whether gepetto-viewer is properly started
  viz.initViewer()
Error

[2022-08-12 08:55] jcarpent commented on #1733
Could you use meshcat solution instead?

[2022-08-12 09:06] fenaux commented on #1733
I installed it with
pip install meshcat

And error message are longer :(
python -i meshcat-viewer.py leads to

Traceback (most recent call last):
  File "/home/fenaux/anaconda3/lib/python3.9/runpy.py", line 188, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/home/fenaux/anaconda3/lib/python3.9/runpy.py", line 111, in _get_module_details
    __i

[2022-08-12 09:27] jcarpent commented on #1731
Please share all your code if you expect help on our side.

[2022-08-12 09:30] jcarpent commented on #1733
By the way, it seems that you have installed everything in the base env of conda, while you create a new one where you install stuff. Please see with your supervisor to get some tips.

[2022-08-12 09:54] fenaux commented on #1733
Thanks for your prompt answers.
Yes everything is installed in base env of conda.

I am afraid I am my own supervisor ;)

[2022-08-12 09:57] jcarpent commented on #1733
OK. Then just start from a fresh install, without mixing different package managers and use conda env for isolating your developments. This is the only help I can provide due to my limited bandwith.

[2022-08-12 10:26] fabinsch commented on #1733
Hello @fenaux, you should get a clean conda base environment first. There are two options:
1. completely uninstall anaconda and install it again (recommend).
2. Use the conda install --revision (check how to use)

Afterwards, from a clean base environment you should create a specific conda environment for Pinocchio (see Section “Managing environments”
https://conda.io/projects/conda/en/latest/user

[2022-08-19 18:10] JackTony123 opened #1735 "Pinocchio packages import issue on Pycharm"
Hello all! I met a problem recently when I used the Pinocchio library for my robot arm simulation on Mujoco. I downloaded the Pinocchio library through conda. I can find the package on my conda environment as "home/shine/anaconda3/envs/mujoco_py/lib/python3.8/site-packages/pinocchio"
 When I run the demo program on Ubuntu through Pycharm, something wrong shows on the terminal:
[code]
I try to fix

[2022-08-19 18:31] fabinsch commented on #1735
Have a look here : https://www.jetbrains.com/help/pycharm/configuring-python-interpreter.html#interpreter

[2022-08-19 18:49] JackTony123 commented on #1735
Hi, I installed conda 4.13.0 on my Ubuntu 20.04 system. I create an specific environment name as mujoco_py and use this environment only for mujoco simulation. Each time when I download related packages or libaraies with mujoco simulation, I would choose this environment only to make sure every package on this environment. Let me see your link and know whether is can work well for me. Thanks! I wi

[2022-08-19 20:48] JackTony123 commented on #1735
Hi Fabinsch, I made a double check for my Python interpreter on PyCharm. I already choose mujoco_py(conda environment) as my Python Interpreter. Also, I can find Pinocchio package installed on the list. What's the problem for that? Still feel confused about that.....

[2022-08-19 21:07] fabinsch commented on #1735
Can you do an `import pinocchio as pin` before the import of the RobotWrapper ?

[2022-08-20 07:18] fabinsch commented on #1735
Some steps you could do to further debug your problem is to open a terminal. Conda activate your mujoco environment , do
`conda list | grep pinocchio`

`python -c "import pinocchio"`

`python -c "from pinocchio.robot_wrapper import RobotWrapper"`

If this is successful do `which python` to verify you're using the same as in pycharm.
If it doesn't work uninstall and reinstall Pinocchio again trough

[2022-08-22 16:19] JackTony123 commented on #1735
Hi Fabinsch,

Thanks for your suggestion! I followed your suggestion step by step and made a double check for my project. The problem has been solved successfully by changing the python codes. Even though the Pinocchio in the requirment.txt shows in red color, the program can also run well. Thanks for your suggestion and have a nice day!

[2022-08-22 18:20] #1735 closed

[2022-08-22 22:21] Booooooosh opened #1737 "Relocatable Library"
Hi, we have a use case where this library is built under one machine (A) and used on another machine (B). Unfortunately, machine A and B have different paths and machine B isn't able to properly load interface libraries since the path under `INTERFACE_INCLUDE_DIRECTORIES` are absolute path from machine A.

One potential root cause of this is during `TARGET_LINK_LIBRARIES` or `TARGET_INCLUDE_DIRECT

[2022-08-23 05:52] nim65s commented on #1737
Hi,
This library should be easily relocatable.

Could you provide your:
- OS
- eigen version
- cmake version
- which absolute paths and where are they in the packages build on (A)

[2022-08-23 20:54] nim65s commented on #1737
Well, clearly, if you still have `TARGET_INCLUDE_DIRECTORIES(${PROJECT_NAME}_headers SYSTEM INTERFACE ${EIGEN3_INCLUDE_DIR})` somewhere, this is can't be relocatable. You should update your version.

[2022-08-24 22:42] jcarpent commented on #1737
@Booooooosh COuld check whether https://github.com/stack-of-tasks/pinocchio/pull/1738 fixes your issue?

[2022-08-25 07:02] nim65s commented on #1737
If I understand correctly, #1737is already fixed by #1718, but @Booooooosh is not up to date.

[2022-08-25 07:04] jcarpent commented on #1737
Not really, as the target exports were containing hard coded path. #1738 Solves this.

[2022-08-26 15:49] JackTony123 opened #1739 ""buildModelFromXML()" cannot be used to import .xml file for Pinocchino 2.6.4"
Hello all! Recently I met a new problem when I use the function "buildModelFromXML()" to import my model from .XML file. Here is my code below:
`xml_path = "/home/Tony/RR_robots/robot_description/UR5/UR5.xml"
model = pin.buildModelFromXML(xml_path)
data = model.createData()
`
When I run the program, it shows on terminal as
**ValueError: The XML stream does not contain a valid URDF model.**
For the

[2022-08-26 15:56] wxmerkt commented on #1739
Can you provide the `UR5.xml` file for debugging?

[2022-08-26 16:00] JackTony123 commented on #1739
Hi, May I send you through email? The file is a little bit large. My email: jackshine97@yahoo.com
Thanks for your help!
Anyone who would like to see the XML file can send email to me and I will send you. Thanks!

[2022-08-26 16:01] JackTony123 commented on #1739
Hi, May I send you through email? The file is a little bit large. My email: [jackshine97@yahoo.com](mailto:jackshine97@yahoo.com)
Thanks for your help!
Anyone who would like to see the XML file can send email to me and I will send you. Thanks!

[2022-08-26 16:13] wxmerkt commented on #1739
Closing the issue as replied via email - the file in question is a MuJoCo MJCF file and not a URDF. Cf. https://github.com/stack-of-tasks/pinocchio/issues/1680 for MJCF support

[2022-08-26 16:13] #1739 closed

[2022-08-28 19:17] #1737 closed

[2022-08-29 05:44] khaninger commented on #1726
Hello, I am having the same issue and this is blocking using Casadi on Pinocchio. I have tried adding find_package calls for numpy to the named CMakeLists, but no success yet.

[2022-08-29 07:36] jcarpent commented on #1726
I've just made a fix on the dedicated branch

[2022-08-29 11:25] khaninger commented on #1726
It built! Thanks a lot, I really appreciate both the library and how responsive you all are to the community!

[2022-08-29 11:33] jcarpent commented on #1726
Thanks @khaninger for this nice and positive feedback.
We really appreciate it.

[2022-09-01 09:56] alexandre-blanc commented on #625
Hi, I seem to be facing a similar issue, maybe also related to #1528.
I run ubuntu 18.04 (bionic) and primarily use python 3.8.

I installed pinocchio from robotpkg following the instructions on the stack-of-tasks website. I selected the py36 version.
I set up the environment variables accordingly. Then, I tried to import the pinocchio package from python 3.6 and python 3.8 interpreters, with the

[2022-09-01 11:36] alexandre-blanc opened #1740 "ImportError: libpinocchio.so.2.6.9: cannot open shared object file and ModuleNotFoundError: No module named 'pinocchio.pinocchio_pywrap'"
Hi, I seem to be facing an issue similar to #625, maybe also related to #1528.

I already described the issue in a comment in #625 but decided to file a new issue instead for visibility/traceability and also because the problem seem to be different.

I run ubuntu 18.04 (bionic) and primarily use python 3.8.

I installed pinocchio from robotpkg following the instructions on the stack-of-tasks websi

[2022-09-01 11:48] jcarpent commented on #1740
You can see that you are using Python 3.8 while your default system is 3.6.
It seems your system is a bit messy. Could you rather use conda, unset the env variables and everything will go fine.

[2022-09-01 14:09] jcarpent commented on #1740
Could you show the content of /opt/openrobots/lib and /opt/openrobots/lib64?

[2022-09-01 15:17] alexandre-blanc commented on #1740
I'd rather not use conda if an alternative exists. I typically use virtualenv and pip instead.
As you can see in the initial report, the import fails with python 3.6 as well (first promp, `python3`). I'll update with the contents of the lib and lib64 folders as soon as possible.

[2022-09-01 15:39] nim65s commented on #1740
Hi @alexandre-blanc ,

I just tested an installation and use of robotpkg-py36-pinocchio on ubuntu 18.04, and it works for me:
[code]

Can you check `apt update && apt upgrade && apt install robotpkg-py36-robotpkg` ? Maybe something went wrong during your installation.

[2022-09-02 09:08] jcarpent commented on #1740
Honestly, I do think conda is much more suited, simpler and compatible with pip.

[2022-09-02 12:26] alexandre-blanc commented on #1740
There is no directory named lib64 :
[code]

[2022-09-02 13:00] alexandre-blanc commented on #1740
I assume you meant `apt install robotpkg-py36-pinocchio`, the package `robotpkg-py36-robotpkg` does not seem to exit. Without copying the whole output, here is the result :
[code]

[2022-09-02 13:14] jcarpent commented on #1740
Donc mix pip and robotpkg, this is not really possible due to pip.
Use meshcat instead of gepetto-viewer if you absolutely need a viewer.

I will close this issue as it seems to be solved.

PS: you should force reinstall with apt.

[2022-09-02 13:14] #1740 closed

[2022-09-02 14:04] alexandre-blanc commented on #1740
I ended up solving the issue by :
- manually desinstalling all the robotpkg packages previously installed
- deleting the /opt/openrobots directory
- following _de_novo_ the instruction installations on stack-of-tasks
- using a virtual environment with python 3.6 and a .pth file pointing to /opt/openrobots/lib/python3.6/site-packages

All of this seems to work so far. I cannot make it work with pyt

[2022-09-02 14:31] jcarpent commented on #1740
APT only supports the official Python version provided by the Ubuntu version
We do support all the python versions, and if you need a more recent one, you SHOULD switch to conda.

We should update the doc accordingly, but no time yet. @alexandre-blanc Could you help us by making a PR to update the doc? Your contribution will be nice for the whole community.

[2022-09-02 14:40] alexandre-blanc commented on #1740
Understandable !

I want to say yes, but cannot make any promises...

My issue with gepetto-gui was that I was trying follow the tutorial in a jupyter notebook, like all the cool kids. It works fine when following the tutorial from a python prompt.

[2022-09-02 15:05] nim65s commented on #1740
You'll get python 3.8 with robotpkg by upgrading your ubuntu 18.04 to ubuntu 20.04, since this is the version provided by the system :)

[2022-09-06 14:57] stephane-caron opened #1741 "Mesh fails to load when filename attribute doesn't start with package://"
The description [``cf2p.urdf``](https://github.com/utiasDSL/gym-pybullet-drones/blob/master/gym_pybullet_drones/assets/cf2p.urdf) for the Crazyflie 2.0 drone does not load properly with pinocchio 2.6.3:

[code]

I believe I have configured the mesh path properly. Here is why:

- The URDF loads the mesh file using a relative path: ``<mesh filename="./cf2.dae" scale=" 1 1 1"/>``
- If we add the ``pa

[2022-09-06 16:12] jcarpent commented on #1741
I think relative paths are not supported by the convention.
Package relates to some known placement for the ROS ecosystem.

At first glance, we should be able to robustify to also handle relative path wrt the current file. @fabinsch Could you handle this issue?

[2022-09-07 14:51] stephane-caron commented on #1741
Thanks for checking :slightly_smiling_face: Unfortunately there are several URDFs out there that use relative paths, I just took that one as an example.

From the sentence you quote, what the spec says is: "**if** you want to make the path relative to a package, **then** use ``package://``". Unfortunately this is incomplete as it does not specify whether relative paths without ``package://`` are a

[2022-09-07 17:32] jcarpent commented on #1741
Solved by #1742.

[2022-09-07 17:32] #1741 closed

[2022-09-08 06:32] Jaesoon-Lee opened #1743 "issue for buildmodel function in gazebo simulator"
I have a problem when i used buildmodel function, owing to build continously this function.

Can I use this function only once in a gazebo simulation?

thank you.

[2022-09-08 06:57] jcarpent commented on #1743
Your issue is not very clear. Could you please provide a tiny reproducing example?

[2022-09-08 12:54] jcarpent commented on #1731
I'm closing the issue due to the lack of activity.

[2022-09-08 12:54] #1731 closed

[2022-09-13 01:52] Jaesoon-Lee commented on #1743
i'm using as below example code

`
void ROBOT_INFO::InverseDynamics(const Vector & q, const Vector & v, const std::string & filename,
                                VectorXd & tau)
{

    Model model;

    pinocchio::urdf::buildModel(filename, model);
    VectorXd a = VectorXd::Zero(model.nq);

    Data data(model);

    nonLinearEffects(model, data, q, v);

    tau = data.nle;

}
`

The real tim

[2022-09-13 09:26] fabinsch commented on #1743
Hello, I think you should create the model and data object outside the function and then pass it to your custom function. something like:
[code]

[2022-09-13 15:24] stephane-caron opened #1745 "Next PyPI release"
This issue is to keep track of the next PyPI release :pray:

Presently PyPI is still at 2.6.4 while Pinocchio is at 2.6.9. More recent versions ship features and fixes that downstream projects rely on, e.g. https://github.com/stephane-caron/robot_descriptions.py/issues/6

[2022-09-13 15:25] jcarpent commented on #1743
Yes, you can create your model once and for all as suggested by @fabinsch. The same for the data (less costly).

And then you use your model as you want. Please look at the concept of singleton in C++ to help you define global variables safely.

I'm closing the issue as the suggestion seems to fulfil your need.

[2022-09-14 03:06] Benjamin-Tan opened #1746 "ROS2 Humble Release"
The pinocchio humble release PR has been merged into rosdistro, however the build is failing as described [here](https://discourse.ros.org/t/humble-pinoccio-package-missing-from-latest-sync/27288). Is there any ongoing work to get this fix?

[2022-09-14 05:53] olivier-stasse commented on #1746
Dear @Benjamin-Tan  we are very committed to make it work on ROS-2 Humble.

From the log it looks like this is still the python bindings which are consuming too much memory. This is a recurring problem on which @wxmerkt, @jcarpent and @nim65s have been working a lot.
It created problems as well on our buildfarm. AFAIK it was fixed on our buildfarms, and we were hoping that it would also work on RO

[2022-09-14 09:06] Benjamin-Tan commented on #1746
Dear @olivier-stasse , it is good to know that. Looking forward to the fix! Really appreciate the great work and commitment.

[2022-09-14 21:58] jcarpent commented on #1745
The release of Pinocchio 2.6.10 is now out. We can proceed to an upgrade on PyPi from it.

[2022-09-15 12:40] stephane-caron opened #1747 "URDF relative paths that don't start with "./""
The update from https://github.com/stack-of-tasks/pinocchio/pull/1742 addressed https://github.com/stack-of-tasks/pinocchio/issues/1741, but people are inventive and there is another relative-path syntax out there :wink:

There are currently 5 / 45 descriptions configured in [robot_descriptions.py](https://github.com/stephane-caron/robot_descriptions.py) that use relative paths:

| Description | P

[2022-09-15 12:44] jcarpent commented on #1747
@fabinsch COuld you handle it?

[2022-09-15 12:53] stephane-caron commented on #1747
I don't have a Pinocchio build environment to test it right now, but the fix may be simple.

In:

[code]

Can the calls to ``substr(2)`` be removed?  Substrings like "/./" (or "/./.././../") shouldn't hurt the path.

Also note that a URDF may do ``<mesh filename="../foo/bar">``.

[2022-09-15 15:46] fabinsch commented on #1747
Hey @stephane-caron , thanks for raising the issue. You are right, and the solution that you're proposing works. I created a PR #1748 which should fix your loading issues in https://github.com/stephane-caron/robot_descriptions.py/issues/6.

[2022-09-15 20:00] jcarpent commented on #1747
@stephane-caron I have merged #1748. Could you check if it is now working well on your side?

[2022-09-16 12:27] #1747 closed

[2022-09-16 18:43] shubhamsingh91 opened #1749 "Derivatives using CppADCodegen for Floating Base Models"
Hi Justin and other Pinocchio Developers

First of all, thank you for the excellent library you guys created and your constant support. My Ph.D. research wouldn't have been possible without it. For the past few months, I had been working on getting the first and second-order derivatives of Inverse/Forward Dynamics to work using the Automatic Differentiation toolbox CppAD and CasADi in Pinocchio. W

[2022-09-26 09:06] stephane-caron opened #1751 "Documentation for JointModelRevoluteUnbounded (why nq=2?)"
TL;DR: why do unbounded revolute joints have ``nq=2`` while bounded ones have ``nq=1``?

I'm running into an instance of https://github.com/stack-of-tasks/pinocchio/issues/65 for the [JointModelRevoluteUnbounded](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/structpinocchio_1_1JointModelRevoluteUnboundedTpl.html), which appears when a URDF has ``continuous`` joints.

[2022-09-26 09:15] wxmerkt commented on #1751
The complex representation of SO(2) of the unbounded rotation is represented as `cos(theta), sin(theta)` - cf. https://github.com/stack-of-tasks/pinocchio/issues/794 - particularly https://github.com/stack-of-tasks/pinocchio/issues/794#issuecomment-490049010 and https://github.com/stack-of-tasks/pinocchio/issues/794#issuecomment-490050573

[2022-09-26 09:18] #1751 closed

[2022-09-26 12:03] stephane-caron opened #1752 "Difference() behavior not consistent between joint types"
As of Pinocchio 2.6.4, ``pin.difference`` doesn't behave the same for different joint types when infinity is involved:

### Free flyers:

[code]

### Revolute joints:

[code]

### Expected behavior:

I think the second behavior is the right one, as it is expected that "+infinity - finite = +infinity". (Also, that's the one that would trivialize computing joint limits in IK, which is my current use

[2022-09-26 12:59] cmastalli commented on #1752
I believe it should report `inf` for undefined limits. Moreover, the result of `diff` should be also `inf`.

[2022-09-27 14:01] jcarpent commented on #1752
If you have an unbounded joint, then you should instead use the unbounded joint type, which is done for that.
The default value for the joint limits is +inf: the results you obtained come from internal computations.
We cannot guarantee a fixed output, as it really depends on the compiler in use.

I would say that it is the role of the end-user to properly use the correct input and output of the di

[2022-09-27 14:02] jcarpent commented on #1752
For the case of FreeFlyer, the bounds on the rotation part have no meaning in general. The NaN comes from there.

[2022-09-28 11:34] stephane-caron commented on #1752
OK, I see the stakes better. I agree it would make sense to have well-formed configurations as a pre-requisite for ``difference``. Then the next thing to do would be to document this assumption, e.g. with a ``@note`` stating that the function's behavior is unspecified otherwise. (Ideally the type system could actually check this assumption for us, rather than delegating the task to end users.)

By

[2022-09-28 11:38] jcarpent commented on #1752
Good idea to add the notion of hasConfigurationLimits() for each joint.
@fabinsch Could you handle this feature and extend the documentation accordingly?

[2022-09-28 11:39] jcarpent commented on #1752
About this notion of limits, a FreeFlyer will have a bound on the translation but not on the rotation.

[2022-09-28 15:28] manumerous opened #1754 "Cmake fails to find pinocchio when building with colcon"
Hi I am trying to include pinocchio in a ocs2_pinocchio_interface in a larger software project that is using using colcon as its build system.

I can succesfully compile Pinocchio using:

[code]

If I try to include pinocchio in the CMakeLists of another colcom package and compiling all packages:

[code]
I get the following error:
[code]
If I replace `pkg_check_modules(pinocchio REQUIRED pinocchio

[2022-09-28 15:49] jcarpent commented on #1754
Thanks for raising this issue @manumerous.
@wxmerkt Do you know the correct solution for ROS settings? Thanks in advance for your help.

[2022-09-28 16:47] wxmerkt commented on #1754
Hi @manumerous
Colcon works well as a buildsystem from source and from binary. I wonder if the included plugins in this project could cause an issue. Have you tried it with a minimal project in the same workspace? E.g. try https://github.com/wxmerkt/pinocchio_ros_example to see if you experience the same error above. I've tried this one in a colcon workspace on Ubuntu 20.04 using the latest Pinocc

[2022-09-29 09:25] huihuishen opened #1755 "Calculate the velocity at the center of mass"
Is there a python function to get the robot's velocity at the center of mass  ？

[2022-09-29 09:57] jcarpent commented on #1755
[code]

[2022-09-29 09:57] #1755 closed

[2022-09-29 10:03] huihuishen commented on #1755
Thank you very much. I'll try that. By the way, where can I get the doc of full python api about
pinocchio？

[2022-09-29 10:07] jcarpent commented on #1755
Locally, you have it. With @fabinsch, we plan to release it online along with the C++ doc (https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/) and this [cheat sheet](https://github.com/stack-of-tasks/pinocchio/raw/master/doc/pinocchio_cheat_sheet.pdf).

[2022-09-29 10:59] manumerous commented on #1754
Hi Thanks a lot for your inputs. They helped a lot. I switched from master to devel this morning and downloaded your repository. Compiling the pinocchio_ros_example using colcon worked.

I figured out that the issue was that I disabled hpp-fcl in the Pinocchio CMakeLists.txt. compiling hpp-fcl with colcon and adding it back to the CMakeLists.txt solved the issue since my package seems to depend on

[2022-09-29 11:40] nim65s commented on #1754
There are several places in `pinocchioConfig.cmake` which could set `pinocchio_FOUND` to false. You could reproduce your issue, then edit this file, look for those places, and add some debug with `message(WARNING "something")` inside to find the culprit. This would be a first step to help adding a better error message I guess.

[2022-09-29 14:02] stephane-caron commented on #1752
I should have made it explicit, but what I have in mind are runtime limits, *i.e.* whether the user/URDF specified a limit explicitly.

[2022-09-29 14:29] stephane-caron commented on #1752
That works with configurations, the question is how to do the same with tangent vectors?

[code]

Exposing ``min_config`` and ``max_config`` would do the job :+1:

[2022-09-29 14:32] jcarpent commented on #1752
This is in the Model, no?

[2022-09-29 14:33] jcarpent commented on #1752
I don't understand your approach in fact. @stephane-caron Do you think is the right one?

[2022-09-29 14:35] jcarpent commented on #1752
What we can do for sure, is to set the real bounds on the configuration for non-Euclidian manifolds.

[2022-09-29 17:57] ddliu365 opened #1757 "Visualize texture from Dae file"
Hi, folks,

I am using meshcat to visualize the Pinocchio robot and found the texture is missing. My visual files are using `*.dae`.

I checked API "pinocchio: mesh cat-viewer-dae" and it seems only the geometry shape has been imported to the viewer.

https://docs.ros.org/en/melodic/api/pinocchio/html/meshcat__visualizer_8py_source.html

Is there any way to show the texture from dae file? I might

[2022-09-30 09:21] jcarpent commented on #1757
It has been fixed in Pinocchio 3.x. We hope to be able to release it soon.

[2022-09-30 09:21] #1757 closed

[2022-09-30 09:22] jcarpent commented on #1752
@stephane-caron To move forward in the current issue, I would suggest you clamp the limit values in the set [-1e20, 1e20] for instance to get correct output from `difference`.

[2022-09-30 14:39] stephane-caron opened #1758 "Map from configuration to tangent coordinates"
For bounded joints (translations or bounded revolute joints), there is a one-to-one mapping between configuration and tangent coordinates. It would be convenient if Pinocchio computed it, as it would allow things like:

[code]

For an unbounded rotational joint (revolute, spherical, ...), this map could be either undefined, or map the joint's configuration coordinates to the joint's first tangent

[2022-09-30 14:40] stephane-caron commented on #1752
Yep, that's in essence how [joint limits are implemented in Pink v0.5](https://github.com/tasts-robots/pink/blob/510a702996411a4528b274b4351d53a20760a4be/pink/limits.py#L30). What's not great about this approach is that in relies on how Pinocchio is implemented, rather than on its API.

To keep things in scope, let me spin a separate issue on this point: https://github.com/stack-of-tasks/pinocchio

[2022-09-30 14:49] jcarpent commented on #1758
This is not really ideal, as a configuration vector has not necessarily a 1-to-1 mapping between config coordinate and tangent coordinate. I think you are mixing stuff here.
The way Pinocchio operates on Manifold seems appropriate as many other software already use it.
Thinking twice, we should not try to hack it.
It would be better to have a clear discussion on the way you proceed, and to think h

[2022-09-30 14:55] jcarpent commented on #1752
I don't understand this point.

[2022-09-30 15:33] stephane-caron commented on #1752
Arh, sorry you meant clamping the _inputs_ to ``difference`` to get correct outputs, while I was looking at clamping its outputs.

Clamping the inputs is not sufficient in itself because ``difference`` is not meant to handle out-of-manifold rotation coordinates. For example:

[code]

But if we make sure unbounded rotations have proper coordinates, then we get correct outputs for the other coordina

[2022-09-30 16:16] wxmerkt commented on #1752
@stephane-caron The first example does not have the quaternion normalised which is likely why things break in unexpected ways. It's assumed that the quaternion being passed in has been normalised before

[2022-09-30 17:06] iBims1JFK opened #1759 "Bullet Velocity vs Pinocchio Velocity"
Hello and thank you for your work and support,
I am using PyBullet for the simulation of a Barret WAM and it seems that the velocity of Pinocchio and Bullet are not the same.

What you can see is just the Y axis. It is the axis along which the endeffector falls.
![Figure_1](https://user-images.githubusercontent.com/35470554/193320013-5b08c04c-f687-476d-a029-1ac89adafa00.png)
As you can see, both e

[2022-09-30 17:14] stevenjj commented on #1759
Check which frame J is computed in from pinocchio. If you request the frame LOCAL_WORLD_ALIGNED, the values should look similar.

[2022-09-30 17:21] iBims1JFK commented on #1759
Thank you, it seems to be working. Could you tell me, that is the difference between WORLD and LOCAL_WORLD_ALIGNED? Do I also need to get the dJ in that specific Frame than?

[2022-09-30 17:59] stevenjj opened #1760 "Removing boost-container-limits.hpp or Boost in the future? Suggestions for modularity?"
Hi all, this library has been really great to use.

However, one issue with integrating large code bases with pinocchio is that to use pinocchio with other Boost dependent libraries (e.g. ROS 1),  the forward declaration needs to be included first e.g.: `#include <pinocchio/fwd.hpp>` Specifically, `#include "pinocchio/container/boost-container-limits.hpp"` needs to occur before any Boost related h

[2022-09-30 18:09] stevenjj commented on #1759
The frame WORLD has the spatial velocity described in fixed-frame. Very often, this is not what you want LOCAL_WORLD_ALIGNED is the same as the LOCAL body Jacobian except the Jacobian has been rotated to be align with the world frame.
A simple relationship between the LOCAL jacobian and LOCAL_WORLD_ALIGNED is the following:
`J_local_world_aligned = [R, 0; 0, R] * J_local ` where `J_local` has been

[2022-09-30 20:59] ddliu365 commented on #1757
Hi,

I built the pinocchio3-preview from source and install it, but it seems this issue still exist.

Should I try it by myself?

I used this function in `pinocchio` to visualize my dae file, maybe different API?

[code]

[2022-10-01 08:38] huihuishen opened #1761 "Jacobian and ReferenceFrame understanding prolem"
My robot is floating, I now want to calculate the Jacobian matrix of the end of the robot arm in the world coordinate system (fixed), I use pinocchio::computeFrameJacobian(Model, Data, q, eeFrameId_, pinocchio::ReferenceFrame::LOCAL, J); I noticed similar questions before, like confused Jacobian computation #1222, but combined with the explanation of ReferenceFrame in the help documentation, I am

[2022-10-01 09:16] huihuishen commented on #1761
Is world/WORLD frame not fixed from innitial?

[2022-10-01 12:00] iBims1JFK commented on #1759
Thank you very much

[2022-10-01 12:00] #1759 closed

[2022-10-01 15:33] jcarpent commented on #1761
Dear @huihuishen,

Your issue is not crystal clear. I suggest looking at the [cheat sheet](https://github.com/stack-of-tasks/pinocchio/blob/master/doc/pinocchio_cheat_sheet.pdf) and to clearly simplify your wording to help us to provide you a clear and precise answer.

[2022-10-01 15:35] jcarpent commented on #1752
We need to fix in Pinocchio the proper value for the bounds limit for unbounded joints.
We will do that with the neutral element of the given joint type.

[2022-10-01 15:52] jcarpent commented on #1760
The quick answer to this long detailed issue is that:
1. Pinocchio needs Boost variant to be both efficient and flexible. (std::variant is not as mature as boost variant).
2. We can find an easy way to get everything working smoothly. Importantly, we can try to robustify how we check the desired length for MPL vectors. And we can check whether we can use variadic templates to properly use boost va

[2022-10-02 05:42] huihuishen commented on #1761
In the doc:
The WORLD frame convention corresponds to the frame concident with the Universe/Inertial frame but moving with the moving part (Joint, Frame, etc.).
It said that the WORLD cs is moving with the  joint. Is the world frame moving?  What's the fixed frame? Universe/Inertial frame?

[2022-10-02 06:00] huihuishen commented on #1761
If the world is moving with joint, I changed the X of root_joint, the data shouldn't change, but the actual result is that the positon data changed. It's incompatible. Where did I misunderstand？Looking forward to your reply.

[2022-10-02 19:11] jcarpent commented on #1761
No, the universe is fixed, but the coincident point moves when the body moves.
Please look at Featherstone's book if you need a reference.

[2022-10-03 07:32] huihuishen commented on #1761
Sorry, I don't get your point. I use the following: robot1 = RobotWrapper.BuildFromURDF(urdf_model_path, mesh_dir, pin.JointModelFreeFlyer())  to load my robot. I just want to know the position of the root_joint of my robot in world frame. As you said, the world frame is moving with robot's body. I use the code : idx= robot1.index('root_joint')
print(robot1.placement(q0, idx)). In the doc, it said

[2022-10-03 07:37] huihuishen commented on #1761
By the way, what's is the Featherstone's book? Which one should I read? Thank you very much!

[2022-10-03 07:37] huihuishen commented on #1761
Sorry, I don't get your point. I use the following: robot1 = RobotWrapper.BuildFromURDF(urdf_model_path, mesh_dir, pin.JointModelFreeFlyer()) to load my robot. I just want to know the position of the root_joint of my robot in world frame. As you said, the world frame is moving with robot's body. I use the code : idx= robot1.index('root_joint')
print(robot1.placement(q0, idx)). In the doc, it said

[2022-10-03 07:38] huihuishen commented on #1761
Sorry, I don't get your point. I use the following: robot1 = RobotWrapper.BuildFromURDF(urdf_model_path, mesh_dir, pin.JointModelFreeFlyer()) to load my robot. I just want to know the position of the root_joint of my robot in world frame. As you said, the world frame is moving with robot's body. I use the code : idx= robot1.index('root_joint')
print(robot1.placement(q0, idx)). In the doc, it said

[2022-10-03 11:42] fabinsch commented on #1761
Hi @huihuishen , the book of Featherstone can be found [here](https://bcourses.berkeley.edu/files/70847609/download?download_frd=1). You can find some additional material about Pinocchio in the [memmo summer school](https://memory-of-motion.github.io/summer-school/materials).

[2022-10-03 18:49] jcarpent commented on #1761
Starting from simple. @huihuishen What do you want to do? What is your goal?

[2022-10-04 02:05] huihuishen commented on #1761
Now, I have a floating robot. I want apply a force on the robot. The force is described in the fixed frame.To get the corresponding Torque, I should calculate the Jocabian in a fixed frame. As we discussed above, if I use "computeFrameJacobian(Model, Data, q, eeFrameId_, pinocchio::ReferenceFrame::WORLD, J)", It seems  not correct. Because the world frame is moving. Do I understand right?

[2022-10-04 09:17] jcarpent commented on #1761
Use the `LOCAL_WORLD_ALIGNED` frame.

[2022-10-04 09:17] #1761 closed

[2022-10-04 10:29] jcarpent commented on #1759
Thanks @stevenjj for nicely answering this issue.

[2022-10-04 20:52] #1758 closed

[2022-10-04 20:53] jcarpent commented on #1754
I'm closing the issue. Hope @manumerous you have found a solution.

[2022-10-04 20:53] #1754 closed

[2022-10-07 13:15] iBims1JFK opened #1762 "Unexplainable Damping"
Hey, I am really sorry to bother you again, but I encountered another problem which I cannot solve after endless hours of investigation. I just hope, that this is a problem that you may have seen so far and thus can help me. As described in #1696, I am trying to stabilize a spherical pendulum on a 4-DOF Barrett WAM. Futhermore, I am using PyBullet for simulating the system and Pinocchio for transf

[2022-10-08 06:16] jcarpent commented on #1762
@iBims1JFK It seems that your issue is not directly related to Pinocchio, but to a broader topic related to your activities.
I would like to move it to a discussion.
In addition, I would encourage you sharing your code with other people.
From our side, we received hundreds of solicitations like yours every year, which drastically limits our capacity to answer your current issue while having to dev

[2022-10-08 06:17] #1762 closed, assigned to nobody

[2022-10-09 08:24] jcarpent commented on #1721
@olivier-stasse @waillyam23 What is your status on this issue?

[2022-10-09 16:25] flilqhu opened #1765 "Ubuntu22 installation problem"
The environment is the ubuntu22

'https://stack-of-tasks.github.io/pinocchio/download.html'
I follow the instruction "build from source"
but when I  enter the follow code

'cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local'

The error message is
'
-- Package version (ROS package.xml): 2.6.10
-- Found Doxygen: /usr/bin/doxygen (found version "1.9.1") found components: doxygen do

[2022-10-09 16:32] jcarpent commented on #1765
Please use apt directly instead: `sudo apt-get install robotpkg-py310-pinocchio` or conda.

[2022-10-09 16:32] #1765 closed

[2022-10-10 04:57] olivier-stasse commented on #1721
Hi @jcarpent , @pFernbach and myself talk about it one or two weeks ago. He has to go over his archives. Will try to come with something about it during this week.

[2022-10-10 06:14] nim65s commented on #1765
Ubuntu 22.04 has python 3.10, so you should install `robotpkg-py310-eigenpy` instead, but as @jcarpent says, binary installs will lead to less troubles.

[2022-10-11 16:45] shbang91 opened #1766 "Assimp library linking error using pinocchio in ROS"
Hello,

Thank you for your great effort in maintaining this awesome repo.

I have a question regarding the assimp library linking error.

I created my own library (let's say Library A) which is ROS-independent by using pinocchio installed from source (/usr/local/lib). I did several testing but the Library A works fine without any problem.

However, when I installed the Library A in the system (/us

[2022-10-12 09:26] wxmerkt commented on #1766
I am afraid I cannot debug based on the information given. It's a bit unclear how Pinocchio was installed (from source, then globally isntalled) but with which version of EigenPy and HPP-FCL? And whether ROS-Pinocchio is installed at the same time? Where is assimp from? Is Pinocchio linked _publicly_ based on the targets to the library or with pkg-config or explicit name?

[2022-10-12 09:27] jcarpent commented on #1766
Thanks @wxmerkt for the quick feedback. @shbang91 Could you provide the missing info?

[2022-10-12 13:07] pFernbach commented on #1721
Hello, sorry for the very late answer but I missed the first notification, thanks Olivier for the ping.

There is several main differences of convention between rbdl and pinocchio

## Main differences:

* The configuration vector with a freeflyer:
  * pinocchio = [x, y, z, qx, qy, qz, qw, joints ....]
  * rbdl: [x, y, z, qx, qy, qz, joints ...., qw]

* All the forces/momentum/ect in pinocchio are

[2022-10-13 06:13] shbang91 commented on #1766
@jcarpent In my machine, I used assimp version 4.0 and I also looked into [https://github.com/dartsim/dart/issues/549](url). It seems same error but mine is runtime error instead of build error.

@wxmerkt Since I only use cpp version of pinocchio and some functions like (getjacobian, getmassmatrix, forwardkinematics, etc), I did not install EigenPy and HPP-FCL. Also, I did not install ROS-Pinocchi

[2022-10-13 16:06] shbang91 commented on #1766
I just tried that but it gives me the same error.

[2022-10-13 16:08] wxmerkt commented on #1766
My hunch is that the assimp requirement comes from urdfdom which is used by Pinocchio's URDF parser. As such, I wonder if the dependency has not been correctly exported. However, without access to a minimally reproducible example (e.g. a Docker image) I am afraid I wont be able to provide further insight

[2022-10-13 16:23] shbang91 commented on #1766
Thank you for your comment. One more question from my side is that do you think ROS environment somehow messes up the assimp dependency to Pinocchio? When I used Library B (robot controller) that I mentioned above without ROS, it works perfectly without any error (no assimp-related runtime error).

[2022-10-13 16:25] jcarpent commented on #1766
assimp is linked to pinocchio via hpp-fcl.

[2022-10-13 16:29] shbang91 commented on #1766
@jcarpent Do you think hpp-fcl is the only place where the assimp is linked to Pinocchio or there are somewhere else?

[2022-10-13 16:32] jcarpent commented on #1766
This is the only place. But you have a too-old version of assimp apparently as I mentioned this morning.

[2022-10-13 16:35] shbang91 commented on #1766
@wxmerkt Yes, I did not install Eigen-py and HPP-FCL.

[2022-10-13 17:01] shbang91 commented on #1766
@wxmerkt One another information I would like to provide is that when I do `ldd Library_A, Library_B, Libray_C` I don't see any libassimp.so dependency at all.

[2022-10-13 17:13] jcarpent commented on #1766
@shbang91 The best would be to share a docker image which replicates your issue.
This minimal effort will help us to find your issue.

[2022-10-13 18:40] shbang91 commented on #1766
@jcarpent Thank you for the suggestion. I'll try to share the docker image and get back to you soon.

[2022-10-13 19:54] hh2564 opened #1767 "Segmentation fault (core dumped) when calculating Jacobian time variation"
Hi,

When I tried to calculate the dJ using the following lines
[code]
I got the following error:
[code]
However when I tried to change reference frame to local or world, this error disappear. However I'll need to use the Jacobian with the reference frame of local_world_aligned. Is there anyway I can solve this problem?

Many thank in advance!

Best,
Heming

[2022-10-13 20:40] fabinsch commented on #1767
Hi @hh2564 ,

we have a cpp unittest for this function which is using the frame LOCAL_WORLD_ALIGNED ([here](https://github.com/stack-of-tasks/pinocchio/blob/master/unittest/joint-jacobian.cpp#L120)) and our ci is passing. So the function should be working, can you check the unittest joint-jacobian on your machine?

I see that you are using the python bindings, but this function is just calling the

[2022-10-13 20:52] fabinsch commented on #1767
Also, did you use the function computeJointJacobiansTimeVariation before calling getJointJacobianTimeVariation ?

[2022-10-13 21:02] hh2564 commented on #1767
Hi Fabian,

Thank you very much for your response! I'm not sure about the unittest joint-jacobian you mentioned about. Here's the code I implemented:
[code]

And attaining J doesn't have any issue.

[2022-10-13 21:38] fabinsch commented on #1767
Your example is not self-containted. I did a quick check on my machine running the following code I had open anyway and it is working without any segfault.
[code]

the output is
[code]

[2022-10-13 22:42] wxmerkt commented on #1767
@hh2564 how do you retrieve `controlled_frame` - and is it perhaps greater than `nframes` or `njoints`?

[2022-10-13 22:48] hh2564 commented on #1767
I tried to take a look at the sample model and the following code works:

[code]
and the output
[code]

However when I turns to the case with my customized urdf:
[code]
it's still gives me a segfault
[code]
and @wxmerkt  it's true that when I looked at the controlled_frame, it's greater than njoints and less than nframes. Do you have any suggestion for fixing this? Thanks!

[2022-10-13 22:52] hh2564 commented on #1767
I'm using
[code]

[2022-10-14 06:07] jcarpent commented on #1767
This means that your "endEffector" does not exist in your model (you can use `model.existFrame`).

[2022-10-14 21:37] hh2564 commented on #1767
In my urdf the "endEffector" is connecting to one of the existing frame with a fixed joint. Is there any way I can add the frame manually to the model, or is there anyway I can modifty the urdf to make the function buildModelsFromUrdf being able to identify this frame? Thanks a lot!

[2022-10-15 08:57] whtqh opened #1768 "Add cone support in meshcat visualizer"
Cone shape is supported in HPP-FCL, however, the cone is replaced by a cylinder in [ Meshcat-python](https://github.com/rdeits/meshcat-python/blob/master/src/meshcat/geometry.py)
We can still transform cone shape to cylinder in [meshcat_visualizer.py](https://github.com/stack-of-tasks/pinocchio/blob/2a4953eca3886d7cfcc3037c6944fe2b892d70fb/bindings/python/pinocchio/visualize/meshcat_visualizer.py#

[2022-10-15 09:03] jcarpent commented on #1768
Could you open a PR and provides the requested feature?
On our side, we have limited resources to handle such kind of request.

Thanks in advanced for your contribution

[2022-10-15 09:04] jcarpent commented on #1767
You can have the method `model.addFrame` to perform what you need. Please refer to the doc or the cheat sheet for more information which are referenced in the readme.

[2022-10-15 09:04] #1767 closed

[2022-10-15 09:30] cmastalli commented on #1768
We have implemented the display of cones in Crocoddyl (using Meshcat). This PR is under review, however, I could point out to the code if this helps you.

[2022-10-15 09:37] jcarpent commented on #1768
@cmastalli Why did you put that in Croco and not Pinocchio?

[2022-10-15 09:38] jcarpent commented on #1768
@cmastalli Could you transfer it to Pinocchio then?

[2022-10-15 10:09] whtqh commented on #1768
haha~Thanks a lot! I am amazed at such a quick response and it's my pleasure to make any tiny contribution.
Btw, I haven't implemented an arrow shape cause I am still a fresh bird for pinocchio~
Pinocchio and Crocoddyl are both great repos to learn something!

[2022-10-15 12:13] cmastalli commented on #1768
We have to take friction cone information via Crocoddyl API. I believe it could potentially remove it with the new contact API from Pinocchio v3.

We also have implemented other display options that could be potentially moved to Pinocchio, e.g., swing trajectory, contact forces. Note that we have done this for both: GV and Meshcat.

[2022-10-15 12:14] cmastalli commented on #1768
Could you let me know where I should include this? (I could try to find a time for doing)

[2022-10-15 12:21] cmastalli commented on #1768
You might be faster than me as I have limited time. This is how we do it in Crocoddyl. Here, we create a cone:
https://github.com/cmastalli/crocoddyl/blob/dbe58bd83c8acb6c8835ca6d0925f5a933eec4c8/bindings/python/crocoddyl/__init__.py#L383-L393. And then, we update its information here: https://github.com/cmastalli/crocoddyl/blob/dbe58bd83c8acb6c8835ca6d0925f5a933eec4c8/bindings/python/crocoddyl/__

[2022-10-15 13:46] whtqh commented on #1768
I personally think that cone shape is easy to add(2 lines should be ok), but actually I want to realize an arrow(just like what in rviz) in meshcat, so I need some time to find a proper way, too.

[2022-10-15 13:50] jcarpent commented on #1768
@ManifoldFR Do you have such tools in your toolbox?

[2022-10-15 14:07] ManifoldFR commented on #1768
I don't, though it would be good to add

[2022-10-15 14:31] whtqh commented on #1768
Copy display-shapes.py to display-shapes-meshcat.py with a tiny changes, and the result looks like ↓
<img width="987" alt="image" src="https://user-images.githubusercontent.com/7485005/195990640-9998b036-e8de-4e80-80bf-bae1cf3260e2.png">
And a real arrow should be another problem, thus not discussed here anymore.

[2022-10-15 16:06] jcarpent commented on #1768
So, seems to work properly, no?

[2022-10-16 16:38] wxmerkt commented on #1746
Hi @Benjamin-Tan
The builds for Humble and Rolling are now building and should be available with the next sync of the respective distributions and available from now on the testing/staging server

[2022-10-16 16:38] #1746 closed

[2022-10-16 16:51] olivier-stasse commented on #1746
Thank you very much @wxmerkt for finding that `-g1` was enough.
Out of curiosity how did you check that it was passing apart trying it on a local docker ?
On my side I was trying with `-fvisibilty=hidden` but handling properly the exported symbol seems to be not so simple.

[2022-10-16 17:00] olivier-stasse commented on #1746
I guess this is through the pre-release tests.

[2022-10-16 17:14] wxmerkt commented on #1746
I compiled locally many times measuring the memory consumption for different build options, with different linkers, etc. - in the end the only thing that measurably had an impact was `-g1` (or `-g0` of course). The options to encourage the linker to reduce memory use did not help. For what it's worth, we currently need about ~1.8GB for the largest individual compilation unit outside of linking usi

[2022-10-17 07:30] undefinedcodezhong commented on #1646
Sorry, I didn't notice your reply before due to my carelessness. I apologize for my previous behavior sincerely. @jcarpent

[2022-10-17 08:21] whtqh commented on #1768
I think cone could be resolved by my latest PR, arrow should be added later.

[2022-10-17 08:21] #1768 closed

[2022-10-18 12:54] whtqh commented on #1395
- [x] using dJ_spatial to calculate dJ_classic, derived from
[code]
dJac6D_classic = pin.frameJacobianTimeVariation(model, data, q, dq, frame_id, pin.WORLD)
dJac6D_classic[0:3,:] += np.dot(pin.skew(np.dot(Jacobian[3:6,:], dq)), Jacobian[0:3, :])

[2022-10-18 15:28] wxmerkt opened #1771 "Check that joint and link names are unique"
We recently noticed the assertion in model.hxx triggering that indicates that we have two equally named frames:
https://github.com/stack-of-tasks/pinocchio/blob/1127321ea77e99876eb3cb8293847f785f41880d/src/multibody/model.hxx#L264-L266

The issue came from a URDF that had the name of a joint match the name of a link - which I believe is valid under the URDF specification which specifies that name

[2022-10-18 15:51] wxmerkt commented on #1771
I am quite busy right now but might get a chance at some point next week

[2022-10-18 16:44] jcarpent commented on #1771
Perfect. If this is not urgent for you, it can wait next week ;)

[2022-10-19 14:13] KaufmannDavid opened #1772 "Segmentation Fault when importing pinocchio in python on M1 Mac"
Hey everyone, I'm trying to get a python program using pinocchio to run on my M1 mac. Unfortunately I always encounter a segmentation fault when trying to run the program. I'm using a conda environment and installed pinocchio through conda-forge. Every program importing pinocchio fails with the same fault. When running the program with a fault handler this stack is returned:
[code]
The Programm ex

[2022-10-19 14:59] jcarpent commented on #1772
Could you replace `import pinocchio`  by `import numpy`?
Could also try to install Pinocchio via brew?

@lmontaut Could you try it on your side?

[2022-10-19 15:12] fabinsch commented on #1772
@lmontaut is using Pinocchio on M1 by compiling eingenpy himself, otherwise he got also import errors in python.

[2022-10-19 15:14] jcarpent commented on #1772
Do you have the error?

[2022-10-19 15:43] jcarpent commented on #1772
There is an issue in the conda pipeline for ARM64 (https://github.com/conda-forge/hpp-fcl-feedstock/commit/b9bb331958b7c6716c1f8b241aa7f3c75584c1d1#annotation_4774332301). I've relaunched the binary generation.

[2022-10-19 16:37] Gregwar opened #1773 "Creating C++ methods with Python binding"
Hello,

I am writing C++ methods that I would like to bind to Python (using Boost Python).
Is there a way to make argument types `pinocchio.SE3` converted automatically from numpy, the same way it works with Eigen types calling `eigenpy::enableEigenPy();` ?

[2022-10-19 16:43] Gregwar commented on #1773
Ex. if I do:

[code]

And bind it:
[code]

I get:
[code]

While I see that it works with:
[code]

[2022-10-19 16:49] Gregwar commented on #1773
Ok, I see!
I missed that you exposed `log6` with a `Matrix4d` as well, I thought it was some automatic conversions done by Boost bindings

Thanks

[2022-10-19 16:51] jcarpent commented on #1773
We could add it, but it might be dangerous.

[2022-10-19 18:23] KaufmannDavid commented on #1772
Thanks a lot for the quick replies. I tried it with `import numpy` and `import eigenpy`, both work fine. What is meant by "compiling eigenpy himself"?

[2022-10-19 19:45] fabinsch commented on #1772
It should mean compile from source. But actually it seems to be coming from a conda problem with hpp-fcl as @jcarpent mentioned in his last comment.

Can you try to install pinocchio via brew?

[2022-10-19 22:10] nim65s commented on #1772
universal2 wheels are available on PyPI, so `pip install pin` might work on M1, but I didn't test yet.

As always, if anyone try this, please double and triple check that you have only one package manager for those packages, so boost+eigenpy+hpp-fcl+pinocchio by pip, and no brew / conda / custom builds / etc.

[2022-10-19 22:17] jcarpent commented on #1772
@traversaro It seems that we have an issue with conda on M1 arch.
Indeed, `conda install -c conda-forge hppfcl` works perfectly, but `python -c "import hppfcl"` fails with the following error:
[code]
Have you heard of such issue with conda on M1?

[2022-10-19 22:17] jcarpent commented on #1772
Thanks in advance @traversaro for your help.

[2022-10-19 22:20] traversaro commented on #1772
Could it be connected to the clang version/boost-python problem that was worked around by setting clang 13 around? Is hpp-fcl using boost-python. I do not have an M1 machine now, but just to check can you try on bash instead of zsh?

[2022-10-19 22:23] traversaro commented on #1772
Perhaps here:   https://github.com/conda-forge/hpp-fcl-feedstock/blob/main/recipe/conda_build_config.yaml#L2 we should not have  # [osx and x86_64] but just # [osx] ? Perhaps we just had the problem in ci with x86_64 as we do not test the import in M1 with CI

[2022-10-19 22:27] jcarpent commented on #1772
OK. I will try your suggestion. Thanks a lot @traversaro for the quick feedback.

[2022-10-20 07:29] jcarpent commented on #1772
It looks like the suggestion made by @traversaro works perfectly. Thanks to him for the very useful feedback.
@KaufmannDavid You should be able to do:
`conda install -c conda-forge pinocchio --force-reinstall`

[2022-10-20 07:30] #1772 closed

[2022-10-20 08:13] traversaro commented on #1772
Great! Let's hope this is just a temporary problem, otherwise we may neeed to think a more robust solution.

[2022-10-20 19:25] jmirabel commented on #1773
You can also wrap the function in Python. Depending on what you want to do, it is sometimes easier.

[2022-10-23 06:00] typon opened #1774 "brew install on MacOS Monterey 12.6 fails"
Commands I ran are:
[code]

[code]

I edited the brew formula manually to upgrade to 2.6.10 instead of 2.6.3 and I no longer see this error - I can successfully install pinocchio and its dependencies. The default formula should probably be updated.

[2022-10-23 14:18] jcarpent commented on #1774
Pinocchio is about to be fully integrated in HomeBrew core: https://github.com/Homebrew/homebrew-core/pull/111722
Please use this updated formula in the near future, before switching to the official homebrew core to get Pinocchio via brew.

[2022-10-23 14:18] #1774 closed

[2022-10-24 08:56] jcarpent commented on #1745
It is now online ;)
Thanks @nim65s for the great job.

[2022-10-24 08:56] #1745 closed

[2022-10-24 08:56] jcarpent commented on #1715
@stephane-caron Should we keep it open?

[2022-10-24 08:57] jcarpent commented on #1766
I will close this issue as there is no more activity on it.

[2022-10-24 08:57] #1766 closed

[2022-10-25 10:16] JonathanKuelz opened #1778 "Python 3.11 compatability"
Dear pinocchio-Team,

just today, Python 3.11 was released -- and it seems there have been updates to PyBoost, s.t. the pinocchio-bindings are not longer compatible. Steps to reproduce:
[code]
raises
[code]

just wanted to report this issue - keeping an older Python version is no problem, but of course it would be nice to being able to use pinocchio with the latest Python version again.

[2022-10-25 11:31] jcarpent commented on #1778
Thanks @JonathanKuelz, for reporting this issue.
We will wait for Conda updates to properly update all the packages related to Pinocchio for Python 3.11.
It is an automatic process normally ;).

[2022-10-25 12:05] nim65s commented on #1778
Thanks for the report. This issue is independent of conda, as I can reproduce it with this Dockerfile:

[code]

I'll try to fix this this week.

[2022-10-25 12:16] jcarpent commented on #1778
Seems indeed related to https://github.com/boostorg/python/pull/385

[2022-10-25 12:45] Betancourt20 opened #1779 "Question about external force and impedance control"
Hi,

First of all, thank you so much for the framework. It is really interesting.
I'm trying to implement an simple impedance control but my force seems to be in another frame, which I don't understand in which one. I'm using the kinova Jaco as a manipulator. The manipulator moves but not as defined in the documentation of the robot. I'm pretty sure that I'm not doing in the best way the transform

[2022-10-25 13:11] jcarpent commented on #1779
`model.frames[model.getFrameId("j2s6s200_end_effector")].placement` contains the relative placement between the LOCAL frame associated to the Frame itself, and its parent joint.
In your case, `J=pin.getFrameJacobian(model,data,frameIndex,pin.LOCAL)` is already taking things into account, meaning that the Jacobian is already expressed in the LOCAL frame of the Frame.
The question is in which frame

[2022-10-25 13:25] Betancourt20 commented on #1779
Thanks a lot for your fast answer and for the simplification of the code. You are totally right.
Well, following the ideas of the impedance control, I believe the wrench should be described in the end-effector frame. I implemented this control on MATLAB and the results that I'm looking for are the following: If I remember well, the force (different from the wrench) control was described in the glo

[2022-10-25 13:30] jcarpent commented on #1779
So, if your `wrench` quantity is expressed in the LOCAL frame, nothing needs to be changed.
Otherwise, you can use `oMdes= data.oMf[model.getFrameId("j2s6s200_end_effector")].actInv(wrench)` to transform a wrench expressed at the origin of the world aligned with the world coordinate systems to the LOCAL frame of the Frame.

I hope this answer helps you. Could we close this issue then?

[2022-10-25 13:31] #1779 closed

[2022-10-28 03:56] SwonGao commented on #1574
hello, have you fixed the issue?

[2022-10-28 06:40] jcarpent commented on #1574
Yes, there was no issue on Pinocchio's side.
You need to correctly set-up the compilation flags ;)

[2022-10-28 08:07] SwonGao commented on #1574
can you help me with it... i got

[2022-10-28 08:11] jcarpent commented on #1574
Your message is incomplete @SwonGao

[2022-10-28 17:09] stephane-caron commented on #1715
It can be tested again now that Pinocchio 2.6.10 is on PyPI https://github.com/stack-of-tasks/pinocchio/issues/1745#issuecomment-1288679235. I will take a look at it next week.

[2022-10-28 17:28] #1749 closed

[2022-10-29 06:40] jcarpent commented on #1778
We are making progress on this line of work with https://github.com/conda-forge/boost-feedstock/pull/156.

[2022-11-01 11:11] jcarpent commented on #1771
Solved via #1781.

[2022-11-01 11:11] #1771 closed

[2022-11-02 13:49] nim65s commented on #1778
Thanks @jcarpent for these refs. I applied that in https://github.com/cmake-wheel/cmeel-boost/commit/d9c611e99cea23abe270b5dec2daceeffcd007ae, and it looks like this is fixed now.

Can you confirm for your side, @JonathanKuelz, and close the issue ?

[2022-11-04 04:58] Benjamin-Tan opened #1783 "import pinocchio seg fault with ros-humble-pinocchio 2.6.11-1jammy"
Hi, I have installed ros-humble-pinocchio on the humble base docker image. However, as i tried to import pinocchio in a python script, it results in segmentation fault.

The following are the gdb backtrace logs with import pinocchio.
[code]

I have installed ros-humble-eigenpy, ros-humble-hpp-fcl. import eigenpy and import hpp-fcl has no issue.
Anyone has any idea how to resolve this?

[2022-11-04 09:08] jcarpent commented on #1783
Hi @Benjamin-Tan,

Could you provide a docker image to reproduce the bug you have?
Do you have a unique version of Pinocchio installed?

@wxmerkt Have you been able to reproduce this bug on your side?

Best,
Justin

[2022-11-04 09:37] Benjamin-Tan commented on #1783
@jcarpent, below is the docker image to reproduce the bug. It is only the ros humble version of pinocchio is installed.

[code]

[2022-11-04 10:31] wxmerkt commented on #1783
Thank you very much for reporting the issue and the Dockerfile to reproduce @Benjamin-Tan. I can reproduce the issue but do not know the source of it - and I dont have the bandwidth to debug right now. @jcarpent, the change introduced to make it build on humble was to add the `-g1` flag to reduce the amount of debug symbols. Otherwise it's a standard build with clang.

[2022-11-04 10:41] jcarpent commented on #1783
I can debug if you can provide me with the command lines to build Pinocchio from source in the docker image ...

[2022-11-04 10:49] wxmerkt commented on #1783
This should be:
[code]

Note that we have extra arguments exported in the `ENV` such that the compile commands show (per [this log](https://build.ros2.org/job/Rbin_uJ64__pinocchio__ubuntu_jammy_amd64__binary/101/consoleFull)):
[code]

Note that EigenPy and HPP-FCL are built with g++ whereas Pinocchio is built with clang. This has not been an issue in the past on other distros, but may factor in he

[2022-11-04 14:08] jcarpent commented on #1783
@olivier-stasse Could you try on your side the building from source?

[2022-11-05 09:47] jcarpent commented on #1783
I've been able to identify clang as the faulty guy.
@wxmerkt Would it be possible to switch back to GCC?

[2022-11-05 17:22] wxmerkt commented on #1783
We could try, but are likely to hit out of memory again - the reason for switching gcc to clang was for (a) reduce out of memory compilation issues and (b) higher performance of Pinocchio when compiled with clang. Is there a workaround for the issue with clang or could we change the clang version used? Do you know what the issue is / is there an upstream bug report?

[2022-11-06 14:11] jcarpent commented on #1783
@wxmerkt I've found the bug, which is a bit hard to diagnosis, but #1784 has been tested successfully on the docker image.
Could you make a patch on it, or maybe I can make a new release?

Let me know what is the best solution for you.

[2022-11-06 16:03] #1778 closed

[2022-11-06 18:22] wxmerkt commented on #1783
Great find, although it's hard to follow why this would have caused a bug with clang. Thank you for creating the release - I'll release them now to the buildfarm.

[2022-11-06 19:41] jcarpent commented on #1783
Perfect. Thanks for your help.
Yes, this is a bizarre bug which occurs sometimes.

[2022-11-07 07:32] JonathanKuelz commented on #1778
Sorry for the late replay, I can also confirm it working in my environment again now - thanks for the fast fix!

[2022-11-07 15:10] stephane-caron opened #1786 "Loading a description with relative paths that don't start with ./"
This is a follow-up https://github.com/stack-of-tasks/pinocchio/issues/1747 on relative paths in URDF.

Checking back on the issue today, I found that this [mini_cheetah_urdf](https://github.com/Derek-TH-Wang/mini_cheetah_urdf) description does not load in Pinocchio. This is what I get with ``package_dirs`` set to the root of the repository:

[code]

The description loads fine if we manually prefi

[2022-11-07 15:11] stephane-caron commented on #1747
Sorry this one went out of my radar. I've opened a follow up at https://github.com/stack-of-tasks/pinocchio/issues/1786

[2022-11-07 15:34] ghost opened #1787 "Crashing using computeAllTerms with composite root joint"
I have encountered the following problem:
[code]
The model is build from
[code]

[2022-11-07 15:45] jcarpent commented on #1787
Could you provide the full code to reproduce the issue?
Currently, the model is missing. COuld you also provide the version of Pinocchio and Eigen you're using?

[2022-11-07 15:46] jcarpent commented on #1786
Thanks @stephane-caron for reporting this issue.
@fabinsch Could you handle this issue and add a test for it?

[2022-11-07 16:31] jcarpent commented on #1787
I don't have any issue on my side with this code:
[code]

[2022-11-07 16:42] #1787 closed, assigned to nobody

[2022-11-07 17:09] stephane-caron commented on #1715
OK, so I've tried and getting it to work with Bazel may be a low-hanging fruit. Although, I don't understand what's happening with cmeel and cmeel.prefix, so it may also not be, you tell me :wink:

Here is a reproduction repo: [bazel_pinocchio](https://github.com/stephane-caron/bazel_pinocchio). This should run the overview Python example from Pinocchio:

[code]

Currently it results in:

[code]

[2022-11-07 17:24] nim65s commented on #1715
through `cmeel.pth`.

Thanks for the example, I'll have a look

[2022-11-07 17:33] stephane-caron commented on #1715
OK sounds good :smiley: I've added bazelisk to the repo so that you can test it without installing anything: from the cloned working directory, just run

[code]

[2022-11-07 18:10] fabinsch commented on #1786
Hello @stephane-caron , I tried your code on my machine and I cannot reproduce your error. Which version of Pinocchio are you using. I am on the current devel and can see this in python 3.9
[code]

[2022-11-08 09:11] stephane-caron commented on #1786
OK, looks like the previous fix didn't make it to 2.6.10 then? I'm running the latest version available from PyPI:

[code]

[2022-11-08 12:43] fabinsch commented on #1786
Yes, [here](https://github.com/stack-of-tasks/pinocchio/releases/tag/v2.6.11) we can see that the fix was introduced in Pinocchio v2.6.11. We have do update the PyPI and conda to the latest Pinocchio version.

[2022-11-08 13:14] stephane-caron commented on #1786
Thanks for checking @fabinsch. Let's close the issue here then. I'll keep track and close https://github.com/robot-descriptions/robot_descriptions.py/issues/15 when 2.6.12 hits PyPI (currently it's only conda that's at 2.6.12).

[2022-11-08 13:14] #1786 closed

[2022-11-09 12:55] jcarpent commented on #1783
Should be fixed now.

[2022-11-09 14:46] Benjamin-Tan commented on #1783
@wxmerkt @jcarpent really appreciate for the quick update and fix for such a bug! Thanks a lot!

I’m wondering how did you manage to find this bug?

[2022-11-10 10:12] JonathanKuelz opened #1788 "pin fails to import due to liboctomap"
Dear pinocchio team,

since yesterday, if I freshly install pin from PyPi it fails to import with the following message:
[code]

The error can be reproduced with the following Dockerfile:
[code]
and `docker build .`

Edit: At first I though this was due to the update to pin3.12, but the same error occured with older versions now

[2022-11-10 10:14] nim65s commented on #1788
HI,

This package is currently beeing rebuild: https://github.com/cmake-wheel/pinocchio/actions/runs/3435153904

[2022-11-10 10:17] JonathanKuelz commented on #1788
Hello,

thanks for the fast reply -- just wanted to correct myself: It seems to be a general problem atm, not pin2.6.12 - related. I will wait for the rebuild then.

[2022-11-10 17:13] JonathanKuelz commented on #1788
The new build seems to be pushed to PyPi, but unfortunately I still get the same error.

[2022-11-10 18:57] nim65s commented on #1788
Thanks for the report. I wasn't expecting another issue, but we have the same in hpp-fcl. It is rebuilding in https://github.com/cmake-wheel/hpp-fcl/actions/runs/3439607126 ; I hope we won't have to re-rebuild pinocchio, but I'm not sure yet.

[2022-11-11 09:25] JonathanKuelz commented on #1788
Problem seems to be resolved, thanks a lot for the quick support!

[2022-11-11 09:25] #1788 closed

[2022-11-11 22:03] BolunDai0216 opened #1789 "How to use a conda installed pinocchio in ROS"
Hi,

Following what was mentioned in: https://github.com/Simple-Robotics/proxsuite/issues/108, I was able to compile a c++ project using the `conda` installed and `pinocchio`. However, when I was trying to do the same thing for ROS it shows that it cannot find the header files for `pinocchio`

[code]

The `CMakeLists.txt` file is

[code]

Would it be possible to help me understand what is the issu

[2022-11-11 22:20] BolunDai0216 commented on #1789
It was a silly mistake, I forgot to link the libraries, after doing

[code]

`catkin_make` runs fine.

[2022-11-11 22:20] #1789 closed

[2022-11-22 05:02] chenrui333 opened #1794 "pinocchio 2.9.1 build failure on osx"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>test error</summary>

[code]

</details>

full build log, https://github.com/Homebrew/homebrew-core/actions/runs/3509282025/jobs/5878306372
relates to Homebrew/homebrew-core#116238

[2022-11-22 06:43] jcarpent commented on #1794
@chenrui333 Thanks for raising this issue.
Unfortunately, we do not yet support 2.9.1 for deployment.

[2022-11-22 17:10] chenrui333 commented on #1794
Interesting, I forgot how I got that release. Closing the issue for now as it is not the release list.

[2022-11-22 17:10] #1794 closed

[2022-11-23 09:05] Berk-Tosun opened #1795 "End-Effector Velocity in Bullet vs Pinocchio"
Hello,

I have a similar issue like https://github.com/stack-of-tasks/pinocchio/issues/1759: I have a simulation in PyBullet and I am computing same terms in Pinocchio to check.

I have a system with a floating base (red), revolute joint and a fixed joint for the feet (blue):
![2022-11-23 10-06-34](https://user-images.githubusercontent.com/92121554/203489221-8e80fa79-e0ff-4099-bcdc-612b4fa3ac94.pn

[2022-11-23 09:16] jcarpent commented on #1795
Bullet uses a reference frame at the centre of mass of the links, while Pinocchio uses for a Frame the placement wrt the parent joint supporting the frame in question.
You can add frames in Pinocchio to match the convention of Bullet, as you have started to do.

You can recover the inertia of the foot expressed in the joint frame as `I = model.inertias[2]`
And use `I.lever` as the offset to positi

[2022-11-23 09:56] Berk-Tosun commented on #1795
Not clear.

Just to be on the same page, regarding this simple robot:
  red link: thigh
  green link: calf
  blue link: feet

Thigh is the floating base. I believe pinocchio treats calf + feet as a single link since they are connected by a fixed_joint. When I use `I.lever` as you specify, it gives me the CoM offset for the combined link. Since feet has very little inertia, it is very close to midd

[2022-11-23 10:01] jcarpent commented on #1795
So, you can recover the inertia of the foot in model.frames[6].inertia. This inertia is expressed in the frame of the Frame itself. You need to do `model.frames[6].placement.act(model.frames[6].inertia)` to get it expressed in the parent joint frame. From that, you should be able to get what you need.

[2022-11-23 10:02] jcarpent commented on #1795
For the orientation, it depends in which frame you aim to express the quantity. In the current settings, the axes of the frame are aligned with the parent joint frame.

[2022-11-23 10:25] Berk-Tosun commented on #1795
Sorry, I do not fully follow. How do I use the inertia expressed in the joint frame, to get the my target, the (feet) classical frame velocity in world coordinates?

[2022-11-23 10:28] jcarpent commented on #1795
I think we have misunderstandings.
Could tell me what is not working on your side (shortly)? Why do you want to follow the Bullet convention (which is not the one used for robot controlà?

[2022-11-23 10:52] Berk-Tosun commented on #1795
Of course.

I do not want to follow the Bullet convention, I use it as my simulation environment at the moment. I have traced the problems in my controller to the mismatch in the end-effector velocities/accelerations. I am just trying to make sure Bullet and Pinocchio agree.

---

My problem is that the linear velocity of the foot expressed in the world frame is wrong.

I am running a simulation i

[2022-11-23 10:53] jcarpent commented on #1795
How do you compute the feed vel?

[2022-11-23 10:54] Berk-Tosun commented on #1795
self.robot.forwardKinematics(q, v)
pin.computeJointJacobians(self.robot.model, self.robot.data)
pin.updateFramePlacements(self.robot.model, self.robot.data)

...

vel = pin.getFrameVelocity(
            self.robot.model,
            self.robot.data,
            self.frame_id_ee_com,
            pin.ReferenceFrame.LOCAL_WORLD_ALIGNED,
        ).linear.copy()

[2022-11-23 11:03] jcarpent commented on #1795
The len_com used does not rever to the com position of the foot.
You should use the spatial inertia of the fixed joint stored in frame.inertia field.
In the inertia, the com position is stored in the `lever` quantity. This translation should then be expressed wrt the parent joint frame (`frame.placement.act(lever)`)

[2022-11-23 12:38] Berk-Tosun commented on #1795
Is this what you meant:

[code]
I keep running the same simulation (feet slides in x-direction, no change in height). Still velocities disagree, with the modification now the feet positions disagree as well.

![Screenshot from 2022-11-23 15-32-48](https://user-images.githubusercontent.com/92121554/203547885-9f97e049-f23e-4ca0-af66-7dd6d16ad1af.png)

Thanks a lot for the support

[2022-11-23 13:00] jcarpent commented on #1795
For your info, I've never mentioned this line in the previous comments: `frame_parent = self.robot.model.frames[frame_fixed_joint.parent]`
This line is not in line with my previous comments.

[2022-11-23 13:04] jcarpent commented on #1795
[code]
should be replaced by:
[code]

[2022-11-23 13:12] Berk-Tosun commented on #1795
Bullet's official doc: https://docs.google.com/document/d/10sXEhzFRSnvFcl3XxNGhnD4N2SedqwdAvK3dsihxVUA/edit#heading=h.3v8gjd1epcrt

It is not stated in the doc very clearly; you can have a look on this issue too: https://github.com/bulletphysics/bullet3/issues/2429

[2022-11-23 13:18] jcarpent commented on #1795
So, use the link velocity expressed at the joint level directly for the Bullet side.
In the case of Pinocchio, this means at the frame level.

[2022-11-24 02:48] Benjamin-Tan commented on #1783
@wxmerkt @jcarpent After the latest ros humble sync today, using the ros-humble-pinocchio 2.6.12-1jammy, the segfault issue is still there. Does this happen on your side too?

[code]

[2022-11-24 09:09] wxmerkt commented on #1783
Hi @Benjamin-Tan,
Thank you for the update - and sorry to hear the issue is still present. I can reproduce it with the Docker image but don't know the source of it. @jcarpent do you have any insights on where it might be coming from?

To reproduce:
[code]

Inside the Docker image:
[code]

[2022-11-24 13:27] jcarpent commented on #1783
Could you try using conda and rostack instead?
If you need just Python bindings, it might be sufficient.

[2022-11-24 14:08] jcarpent commented on #1783
@wxmerkt What is the version of clang used for the build?

[2022-11-24 14:15] wxmerkt commented on #1783
Per [the last build log](https://build.ros2.org/job/Hbin_uJ64__pinocchio__ubuntu_jammy_amd64__binary/lastBuild/consoleFull) it is `clang: 1:14.0-55~exp2`, so clang-14?

[2022-11-24 14:21] jcarpent commented on #1783
For me, this docker image works:
[code]
When you do: `cd /tmp/pinocchio/build_clang/bindings/python && python -c "import pinocchio"` it works like a charm

[2022-11-24 14:23] jcarpent commented on #1783
@wxmerkt Could get into the build process of ROS at some point?
Meaning I would like to reproduce exactly what happens on ROS buildfarm similarly to what conda provides when building feedstocks?

[2022-11-24 15:00] jcarpent commented on #1783
It is weird, because this is not the same error message as before!

Before:

Now:

[2022-11-25 13:19] jmirabel opened #1798 "Shared pointers from boost and std"
Since https://github.com/humanoid-path-planner/hpp-fcl/issues/218, hpp-fcl uses `std::shared_ptr`. `GeometryObject::geometry` is however still a `boost::shared_ptr`.

This prevents someone from doing
[code]

This is done, e.g., [here](https://github.com/humanoid-path-planner/hpp-pinocchio/blob/2aa93acdc7b1a21260f416323046eb4e81fc856f/src/device.cc#L507) and prevents hpp-pinocchio to use the latest

[2022-11-25 13:29] nim65s commented on #1798
You're not the only one. Everybody is blocked for this: HPP users must use hpp-fcl < 2 for pinocchio < 3.
We discussed a workaround for this in https://github.com/humanoid-path-planner/hpp-pinocchio/pull/158, but this wasn't a good idea. Pinocchio 3 will solve this by using `std::shared_ptr` for `GeometryObject::geometry`.

[2022-11-25 13:30] jmirabel commented on #1798
At the place where I have issue, the fix is easy. I don't know whether there are many places like this. Let me check.

[2022-11-25 15:38] jmirabel commented on #1798
I made a series of PR in HPP that implements a work around for the issue.

[2022-11-27 15:33] jcarpent commented on #1783
@wxmerkt @Benjamin-Tan Could you confirm that the docker file that I've provided works fine on your side?

[2022-11-27 18:48] jcarpent commented on #1795
I will close this issue as there is no more activity on it.

[2022-11-27 18:48] #1795 closed

[2022-11-27 18:54] Berk-Tosun commented on #1795
I could not fully locate the source of the issue. I believe the problem is due to faulty urdf, and/or bullet and pinocchio do not agree on how to parse it.

Anyway, thanks for the support.

For future readers, my recommendation: getJointStates in bullet to match directly with pinocchio.

[2022-11-27 19:00] jcarpent commented on #1795
Thanks @Berk-Tosun for the clear notification. Should be helpful for people.

[2022-11-28 02:31] Benjamin-Tan commented on #1783
@jcarpent I just tried the docker file that you have provided, I can confirm it is working fine.

[2022-11-28 07:37] wxmerkt commented on #1783
@jcarpent Many thanks for your investigations and the Docker image. For the build steps, I would extract the arguments from the build log. Additionally, the following settings are applied:
[code]

I'm quite busy right now but could look into this further after December 7th

[2022-11-28 09:27] Betancourt20 opened #1800 "Experimental Test, Kinova Jaco 2 spherical"
Hi,
Thanks a lot for the framework !!
Sorry for my following dumb question:
I did some examples in python with different controller for the kinova jaco 2 spherical (6 dof) and know I compiled everything in C++ with the API of kinova. The thing is that, I do not know if I should still using the URDF model?
I left the arm in a home position and I got the states (q and $\dot{q}$) . Then I compute the

[2022-11-28 09:29] jcarpent commented on #1800
Hi @Betancourt20,
Could you provide a code associated to your experience with Pinocchio?
Without it, we cannot be very helpful.

[2022-11-28 09:50] Betancourt20 commented on #1800
Thank you for your answer.

I'll put the essential code, but If it is needed, I will share as much as you ask.

[code]
I'm trying to compare in open loop what pinocchio gives me against what the API says.
Thanks a lot !

[2022-11-28 10:03] jcarpent commented on #1800
If the robot configuration vectors, velocity, acceleration do not match between the simulated and the real robots, this is expected that the torques are not the same.

[2022-11-28 10:07] Betancourt20 commented on #1800
I completely agree with you. But here, I'm trying to compare only experimental tests: what the Kinova API gives vs what Pinocchio gives me.
My question is, even in experimental tests, am I going to use all the time model from the URDF file ?
Thanks

[2022-11-28 10:09] jcarpent commented on #1800
I don't understand your question. I do not think it is related to Pinocchio itself.
You should rather see with your post-doc advisor at ONERA.

[2022-11-28 10:10] jcarpent commented on #1800
Otherwise, please provide the values that you obtained.

[2022-11-28 10:41] Betancourt20 commented on #1800
Thank you for your answer. For sure, I was not clear with my questions.
Let's try to reformulate it.  The manipulator is in a home position (deg) :
[code]
The kinova API is reading that as the position and the torque sensors are reading
[code]
but when computing
[code]
gives me
[code]
I do not know if it is related with the model or something else?
The configuration of the arm is as
![jaco2config]

[2022-11-28 10:43] jcarpent commented on #1800
Your q is in degrees !!!

[2022-11-28 13:56] jcarpent commented on #1800
You should translate them into radians of course.

[2022-11-28 15:23] #1800 closed