[2020-03-11 09:04] jmirabel commented on #1101
For your first point, the issue is that the second call to buildModel tries to add a root_joint frame, which already exists. I am not sure whether this is a bug or a feature as this may indicate that the user does something bad.
The approach you should use at the moment is:
[code]
I don't think there are any function in pinocchio that allows to prefix a model.

[2020-03-11 09:08] jmirabel commented on #1101
I think we should be careful with this. There shouldn't be any problem if the root joint of both model is fixed (i.e. they have no root joint). In this case, the above mentioned exception is a bug.
However, when one of the root joint is not fixed, then this is likely to be a user mistake and the above mentioned exception is a feature...

[2020-03-11 17:37] gabrielebndn commented on #1101
I would rather suggest using a `Frame`
- Just after loading the model, create a new `Frame` and add it to the joints you are interested in. E.g. for joint `jointId`
[code]
- **Important**, create the data object *after* adding the frame
[code]
- When you have the contact point position, express it in the joint frame. Then
[code]
- use `getFrameJacobian` or `computeFrameJacobian`, for instance.
[co

[2020-03-11 18:33] mzwang828 commented on #1101
Thanks a lot for all the quick and helpful responses! @jcarpent @jmirabel @gabrielebndn

For the first point, the appendModel with prefix method works for me. I believe I need to add the prefix for the geometry model as well since I'm interested in calculating the contacts. (Referring to [this setPrefix function](https://github.com/humanoid-path-planner/hpp-pinocchio/blob/77296185e895b9f6e42fa1408

[2020-03-11 18:33] #1101 closed

[2020-03-11 18:35] jcarpent commented on #555
This issue is solved.

[2020-03-11 18:35] #555 closed

[2020-03-12 07:47] gabrielebndn commented on #1101
@mzwang828, one caveat: if you do use frames, then remember using the correct methods which were made for frames kinematics, i.e. not simply `forwardKinematics(model,data,q)`, but any of these:
[code]

[code]

[code]
Good work!

[2020-03-12 07:56] jmirabel commented on #1101
Then, @jcarpent was right. It is a bug :)

[2020-03-17 21:26] WangKeAlchemist opened #1106 "C++ compilation error in ubuntu 18.04"
Hi, I encountered a compilation error when I try to compile the c++ code on ubuntu 18.04:

` /opt/openrobots/include/pinocchio/parsers/urdf/geometry.hxx:256:7: error: template-id ‘getLinkGeometry<urdf::Collision>’ for ‘urdf::CollisionConstSharedPtr pinocchio::urdf::details::getLinkGeometry(urdf::LinkConstSharedPtr)’ does not match any template declaration
       getLinkGeometry< ::urdf::Collision>

[2020-03-17 21:39] WangKeAlchemist commented on #1106
It seems that there is something wrong with the URDF parser, and I tested in ubuntu 16.04 and it indicates that it is not the problem with my code, so really weird

[2020-03-17 23:11] aykutonol commented on #1106
I just installed pinocchio via Homebrew and get the same problem with previously working code.

[2020-03-18 06:24] jcarpent commented on #1106
@WangKeAlchemist and @aykutonol which version of Pinocchio are you currently using (devel, master or an existing release)?

By the way, could you provide a code example and the command lines to compile it?

It will be really helpful to fix the bug if any.

[2020-03-18 12:28] cmastalli opened #1107 "Loading pinocchio model fails"
After updating Pinocchio to the latest devel branch, I found a problem in the loading of a Pinocchio model. For instance, if I run the following code
[code]
it fails and says:
[code]

Then I run the unittest code in Pinocchio, and I found the follows:
[code]

This code is reported in Ubuntu 16.04 with all required dependencies installed from binaries.

[2020-03-18 12:45] jmirabel commented on #1107
On 18.04, your snippet works.

[2020-03-18 12:46] cmastalli commented on #1107
Yes, it works on 18.04

[2020-03-18 12:48] jmirabel commented on #1107
Can you run it with gdb and provide the backtrace ?

[2020-03-18 12:49] jcarpent commented on #1107
Are you working from a clean installation? Could you also provide the ldd output related to Pinocchio pywrap lib.

[2020-03-18 12:53] cmastalli commented on #1107
I will run it as soon as Pinocchio finish to compile (in my old laptop takes easily 30 minutes)

No, I don't; just `make clean` then `make install`. But note that it was working before
However, I am trying now to clean my PC, to be sure that it is not installation related.

I will report you as soon as I have tested both things

[2020-03-18 12:57] jmirabel commented on #1107
`make clean` is not always sufficient. You may have run into a CMake caching issue.

[2020-03-18 13:22] jcarpent commented on #1107
@cmastalli Just to mention that everything is running well on the CI. So, the issue seems to come from your side. As mentionned by @jmirabel or me, working with a clean build directory should solve your issue.

[2020-03-18 13:23] jcarpent commented on #1107
In addition, remove any installed library. Because the new thing with the current devel branch is that we have moved the URDF parser back to the libpinocchio.so file in order to avoid the managment of borring compilation flags that were only related to URDF, which is a compiled lib.

[2020-03-18 13:41] cmastalli commented on #1107
I fixed this issue in my installation by doing:
[code]

So @jmirabel was right, cmake did a mess in my PC.

Thank you for the support!

[2020-03-18 13:41] #1107 closed

[2020-03-18 15:36] proyan opened #1109 "possible bug in computeFrameJacobian LOCAL case"
Hi,
There seems to be a possible bug in the `computeFrameJacobian` algorithm, for the LOCAL case at https://github.com/stack-of-tasks/pinocchio/blob/master/src/algorithm/frames.hxx#L198

`JointJacobianForwardStep` computes the jacobian in the world frame and stores it in `J`, but there is no conversion from the world frame to the reference of the frame.

Am I missing something?

[2020-03-18 15:39] jcarpent commented on #1109
There is `JointJacobianForwardStep`and `JointJacobian`**s**`ForwardStep` ;)

[2020-03-18 15:49] proyan commented on #1109
The conversion from jointjacobian to framejacobian still seems to be missing.
There is an assignment of frame.placement in https://github.com/stack-of-tasks/pinocchio/blob/devel/src/algorithm/frames.hxx#L200, however, I don't see this being used for the LOCAL case.

[2020-03-18 15:52] jcarpent commented on #1109
You should look at these lines: https://github.com/stack-of-tasks/pinocchio/blob/8bf540d25066496e2efb3f29fe974d8639bf490a/src/algorithm/jacobian.hxx#L229

[2020-03-18 16:01] proyan commented on #1109
Thanks. I was just looking at that myself.
(I had thought that all computations related to the frame were done inside frame.h*.)

I'll close this.

[2020-03-18 16:01] #1109 closed

[2020-03-18 16:02] jcarpent commented on #1109
No problem. With @gabrielebndn, we have tried to avoid repetitive code at most.

[2020-03-18 19:21] WangKeAlchemist commented on #1106
Hi @jcarpent I install the newest version of Pinocchio through robotpkg following the procedure on https://stack-of-tasks.github.io/pinocchio/download.html.

The code i write has

#define OSC_H_

#define PINOCCHIO_URDFDOM_TYPEDEF_SHARED_PTR
#define PINOCCHIO_WITH_URDFDOM

#include "pinocchio/multibody/model.hpp"
#include "pinocchio/parsers/urdf.hpp"
#include "pinocchio/algorithm/joint-configuratio

[2020-03-18 20:00] jviereck opened #1110 "Add way to call ccrba from RobotWrapper"
In Pinocchio 2.2.2, calling

[code]

fills the `robot.data.Ag` entries. Having version 2.3.1 installed it's necessary to call

[code]

It would be great if there would be a call like `robot.computeCentroidalMomentumMatrix(q, dq)` or similar on the RobotWrapper.

[2020-03-18 20:12] jcarpent commented on #1110
Yes, sure. Then the API could be simply:
`robot.computeCentroidalMomentumMatrix(q)`
and we may also add something like:
`robot.computeCentroidalData(q,v)` or maybe a better would be appreciate here.

[2020-03-18 20:12] jcarpent commented on #1110
Yes, sure. Then the API could be simply:
`robot.computeCentroidalMomentumMatrix(q)`
and we may also add something like:
`robot.computeCentroidalData(q,v)` or maybe a better would be appreciate here.

[2020-03-18 20:15] jcarpent commented on #1106
On 18.04 and contrary to 16.04, you need to compile with C++11 set to on, because urdfdom is using std::shared_ptr. To do so, either you add `-std=c++11` in the field CMAKE_CXX_FLAGS of CMake. Or in your project, you can add `SET(CMAKE_CXX_STANDARD 11)`inside your CMakeLists.txt.

[2020-03-18 20:20] jcarpent commented on #1106
In addition, @WangKeAlchemist you may improve the packaging of your project by using these lines:
[code]
or
[code]
If you need further guidance, you can refer to this issue https://github.com/stack-of-tasks/pinocchio/issues/1056

[2020-03-18 20:21] jcarpent commented on #1106
@aykutonol Could you tell me the error you encounter? Yours seems indeed different from the one encountered by @WangKeAlchemist as you are on OS X.

[2020-03-18 20:53] gabrielebndn commented on #1110
Why not simply `robot.ccrba`? I don't see the point of having a name which does not resemble at all the one of the normal API

[2020-03-18 20:55] jviereck commented on #1110
`ccrba` is an algorithm. The other `robot.` method are also rather descriptive, like `robot.mass` instead of `robot.crba`. That's why I proposed the name `computeCentroidalMomentumMatrix`.

[2020-03-18 21:14] jcarpent commented on #1110
@jviereck I would just remove `compute` to mimic the current API of RobotWrapper ;)

[2020-03-19 01:18] WangKeAlchemist commented on #1106
Hi @jcarpent , thanks for your reply! I added the C++ 11 flag, as well as the packaging as you mentioned, however I still get the same error. Below is my CMakeList, maybe you can diagnose some issues:

cmake_minimum_required(VERSION 2.8.3)
project(slider_controller)

find_package(gazebo REQUIRED)

include_directories(
  "/usr/include/eigen3/"
  "/usr/local/include"
  "/opt/openrobots/include/"
)

[2020-03-19 07:05] jcarpent commented on #1106
hard to debug remotely. Could you prepare a docker image with all the necessary content and share it with me ?

[2020-03-19 07:10] jcarpent commented on #1106
@WangKeAlchemist Could you also send the full compilation log? It is hard to make a diagnosis from the 4 lines you have sent.

[2020-03-19 07:14] jcarpent commented on #1106
@WangKeAlchemist You've missed to add `{PINOCCHIO_CFLAGS_OTHER}`in the compilation flags as I've suggested before. This flag is mandatory for 18.04, as URDF is using std::shared_ptr.
And, as you explicitly used pkg-config, this step is mandatory.

[2020-03-19 10:04] jcarpent commented on #1023
@dadouz Is this issue still up to date?

[2020-03-19 11:06] jcarpent commented on #1110
Solved by #1111.

[2020-03-19 11:06] #1110 closed

[2020-03-19 11:57] jviereck commented on #1110
Thanks for the quick fix @jcarpent !

[2020-03-19 14:28] WangKeAlchemist commented on #1106
Hi @jcarpent I partially solved the problem, the suggestion you gave me on improving the packaging of the project doesn't work previously, because the CMake cannot find the pinocchio package, even though i used
`find_package(PkgConfig REQUIRED)
pkg_check_modules(pinocchio REQUIRED pinocchio)`

I found this by print the '${PINOCCHIO_CFLAGS_OTHER}' inside CMakeList by
`message(THE CFLAGS OF PINOCCHI

[2020-03-19 14:49] jmirabel commented on #1106
If you use `pkg_check_modules(pinocchio REQUIRED pinocchio)`, shouldn't you use `pinocchio_CFLAGS_OTHER` without capital letters instead ?

[2020-03-19 15:13] wxmerkt commented on #1106
I just ran into the same issue after pulling from devel and just calling make. The solution was to fully remove all build directories, then it worked again.

[2020-03-19 15:14] jcarpent commented on #1106
@wxmerkt Do you know which change in the pull is at the origin of this behavior?

[2020-03-19 15:36] wxmerkt commented on #1106
Sadly, I don't. v2.3.1 and current devel are incompatible and the Cmake cache difference from that difference is what caused the issue in my case.

[2020-03-19 15:59] WangKeAlchemist commented on #1106
Hi, I found the problem! As @jmirabel said, instead of `PINOCCHIO_CFLAGS_OTHER` which doesn't work, `pinocchio_CFLAGS_OTHER` works for me. `target_link_libraries(my_lib PRIVATE pinocchio::pinocchio)` still doesn't work for me, but even I drop it the program can be linked properly.
`

[2020-03-19 16:39] jcarpent commented on #1106
Perfect. So, I think we can close this issue as it seems to be solved.

[2020-03-19 16:39] #1106 closed

[2020-03-19 19:14] mzwang828 commented on #638
Hi, I'm also having the problem that no contact normal is returned. I have set enable_contact as true. However, the contact results returned contain only the contact position but not the contact normal.

`collision_result.getContact(0).pos.transpose()` this gives me the contact position.
`collision_result.getContact(0).normal.transpose()` this gives me only (nan,nan,nan).

Do you have any idea why

[2020-03-19 20:27] mzwang828 commented on #1101
Just some follow-ups for the first point. I build two models as follows:
[code]
I found that even this gives me no error in the runtime, the built model actually has two "root_joint" frames (the robot model and the box model have one each). This gives me a problem when I try to call model.getFrameId("root_joint"). My temporal workaround is after adding the box model, I manually prefix the first ne

[2020-03-20 07:49] jmirabel commented on #638
Please, provide a bit of context. What geometries ? Are they truly in collision ? ...

[2020-03-20 09:54] Linjackffy opened #1112 "Support struct Data assignment operation"
I have a problem using Pinocchio as a collision detection model for path planning. The path planning library I used is OMPL. According to OMPL's document, I need to implement my StateValidityChecker.
[code]
Because of the interface of isValid function, I can not pass pinocchio::Data. Everytime isValid called, I need to create Data  and GeometryData before collision check, which I think is time-con

[2020-03-20 10:01] jmirabel commented on #1112
Cannot you use `pinocchio::Data* data` or `mutable pinocchio::Data data` instead ?

I don't see any clean solution.

[2020-03-20 10:59] Linjackffy commented on #1112
1、Using ```pinocchio::Data* data``` works.

2、But using ```mutable pinocchio::Data data``` causes an error:
no matching function for call to 'pinocchio::GeometryData::GeometryData()'

I would use the first solution.
Thanks for your reply!

[2020-03-20 10:59] #1112 closed

[2020-03-20 11:01] jmirabel commented on #1112
Yes, it isn't possible to create a Data without a Model.
Thanks for the feedback.

[2020-03-20 11:01] jcarpent commented on #1112
You can be able to allocate the data with an emtpy model and then proceed to the copy ;)

[2020-03-20 23:50] mzwang828 commented on #638
Oh sorry here are the details. I'm trying to push a box using a one DOF(prismatic) rod with a ball at the tip. Here is the code segment:
[code]
Here is the output I got:
[code]

The collision result shows the ball and the box are actually in collision and I also get the contact position (which looks right to me since the box is placed at 1.5, 0, 0). However, I only get Nan for the contact normal (

[2020-03-22 09:53] jmirabel commented on #638
1. *box.urdf* looks wrong. The collision and visual boxes do not have the same origin.
2. Could you check that the collision pair exists with *existCollisionPair* ?
3. Could you provide the pose of both geometry objects ? They are in geom_data.oMg.
4. DistanceResult has a normal field. Could you provide it ?

[2020-03-23 01:49] Linjackffy commented on #1112
@jcarpent I try to take your advice:
[code]
but this cause an error:
function 'data' cannot be declared 'mutable'

The version of pinocchio I used is 2.2.2 installed from robotpkg.  Is this a problem with the version I used or any version would cause an error?

[2020-03-23 08:14] jmirabel commented on #1112
From https://en.cppreference.com/w/cpp/language/cv:

*mutable* can only appear in class members.

[2020-03-23 09:35] Linjackffy commented on #1112
@jmirabel  I should have described it more accurately. Here is the code I used:
[code]

The difference between Model and Data is that Model has a default constructor but Data not.
So why Data struct does not include a default constructor?

[2020-03-23 16:37] mzwang828 commented on #638
Hi Joseph,
Thanks for noticing the error in my model.
Here is the additional information and I noticed that the contact normal is only returned when the min_distance (or penetration depth) is small enough.

Here are the results for  q = 1.215, 1.5, 0, 1, 0, where 1.215 is the pusher's joint value and 1.5 is the box's position along the pushing direction:
[code]

Here are the results for  q = 1.225

[2020-03-23 17:00] jcarpent commented on #1112
The error is coming from the fact you should init as follows:
[code]

[2020-03-23 17:02] jcarpent commented on #1112
The idea of not having a default constructor with no argument is to remind the user that a Data should be allocated after a Model has been created. Otherwise, you may have some inconsistencies between both, if, for instance, you add a Joint to a model, just after the creation of a Data.

[2020-03-23 18:48] Neotriple opened #1115 "Building URDF issues"
Hi all,

I'm having trouble integrating pinocchio into a framework I'm building up. I can set up two different files such that pinocchio works separately from my own framework (which is really just integrating a simulator..), however, I've run into a few issues as soon as I include some of the basic header files.

For reference, my CMakeList is setup like this:

`
find_package(PkgConfig REQUIRED)

[2020-03-23 19:04] jcarpent commented on #1115
You have to link your target to pinocchio.
`TARGET_LINK_LIBRARIES(vision60 PUBLIC pinocchio::pinocchio)`

[2020-03-23 19:12] Neotriple commented on #1115
Hi @jcarpent ,

You're right, however, for some reason, it's not finding the pinocchio library unless I add the two lines:

`
include_directories(
        ${PINOCCHIO_INCLUDE_DIRS} )
`

and

`
link_directories(
        ${PINOCCHIO_LIBRARY_DIRS})
`

Does this sound normal? After adding those two lines, I can link against the library via:

`
target_link_libraries(vision60
    PUBLIC
        ${PINOCC

[2020-03-23 19:18] #1115 closed

[2020-03-23 19:19] Neotriple commented on #1115
Oops, I was running into issues because I removed

`
link_directories(
        ${PINOCCHIO_LIBRARY_DIRS}
)
`

so when I included ${PINOCCHIO_LIBRARIES}, it wasn't finding it.

[2020-03-23 19:37] jmirabel commented on #638
I am able to reproduce your issue. I think you hit a bug.

[2020-03-24 06:56] Linjackffy commented on #1112
The code you provided is correct.
Thank you for your patience and helpful solution!

[2020-03-24 08:31] jmirabel commented on #638
I confirm this is a bug in hpp-fcl. I will provide a PR in the next days.

[2020-03-24 08:31] jmirabel commented on #638
Thanks for the thorough feedback.

[2020-03-24 15:06] jmirabel commented on #638
The bug is fixed on the devel branch of hpp-fcl.

[2020-03-24 23:17] aykutonol commented on #1106
@jcarpent sorry for my late response. I was previously working on Ubuntu, and I've just moved to OSX. I guess the error was caused by `${<pkg_module_name_for_pinocchio>_LDFLAGS}` being undefined on OSX. So, adding link_directories("/usr/local/lib") and explicitly linking `urdfdom_model` and `boost_system` libraries did the trick. Thanks for your help!

[2020-03-25 19:48] proyan opened #1117 "Unittest "joints" not passing with Eigen version > 3.3 on Ubuntu16.04"
I'm using Eigen Version 3.3.7 on my Ubuntu 16.04. When I try to run `make test` with the current devel 24a0940, I get the following error in test-cpp-joints:

[code]
I tried with the DEBUG mode, and it passes.

I have the same error with Eigen version 3.3 and 3.3-beta2 on RELEASE mode on my system.
However, with Eigen version 3.3-beta1 (which I think is the default version on Ubuntu 16.04), everyt

[2020-03-25 20:48] jcarpent commented on #1117
Conda and Mac are using eigen 3.3.7, and there is no issue.
I think this is coming from the compiler. Could you check that ?

[2020-03-25 20:49] jcarpent commented on #1117
Can you also prepare a docker container with your settings?

[2020-03-25 21:15] proyan commented on #1117
I'll prepare the docker.
Meanwhile, here is the gdb trace:

[code]

[2020-03-25 21:25] jcarpent commented on #1117
OK. Thanks.

[2020-03-26 11:12] jmirabel commented on #1117
The same backtrace with in debug mode would be a lot more informative.

[2020-03-26 14:58] WangKeAlchemist opened #1120 "How to compute derivative with respect to q"
Hi I am trying to compute Lie derivatives of some task space variables (for example y_com(q), y_foot(q)),  this requires computing derivatives with respect to q, does Pinocchio have such a functionality?

[2020-03-26 15:03] jcarpent commented on #1120
You can access them from two sides:
- autodiff thanks to the support of CppAD (not yet available in Python)
- or analytical derivatives that are available for some quantities. For instance, the dy_com/dq corresponds to the Jacobian of the com quantity (you can call jacobianCenterOfMass(model,data,q)`), and dy_foot/dq is the Jacobian of the frame attached to the foot, and provide by `computeJointJa

[2020-03-26 15:10] WangKeAlchemist commented on #1120
Hi @jcarpent , thanks! Any ways to get second order derivatives with respect to q, in the way of getting analytical derivatives? Because the algorithm requires second-order Lie derivative

[2020-03-26 15:17] WangKeAlchemist commented on #1120
Also, is there any example code on CppAD? Fortunately I am using C++ now

[2020-03-26 15:24] cmastalli commented on #1120
@WangKeAlchemist

Alternatively, you could always use the Gauss-Newton approximation, i.e.:
[code]

We use extensively in our optimal control software called [Crocodddyl](https://github.com/loco-3d/crocoddyl). The main benefits is fast computation.

[2020-03-26 15:32] proyan commented on #1117
The test passes in debug mode.

[2020-03-26 16:25] WangKeAlchemist commented on #1120
That is a good idea, thanks! @cmastalli

[2020-03-26 16:42] jcarpent commented on #1120
Yes, you can access at least kinematics directivities at both first and second orders analytically.

[2020-03-26 16:42] jcarpent commented on #1120
For the CppAD example, please refer to the unit tests or examples.

[2020-03-26 16:43] jcarpent commented on #1120
@WangKeAlchemist Which optimization solver do you use as backend?

[2020-03-26 16:44] WangKeAlchemist commented on #1120
I am using QPOASES

[2020-03-26 16:45] jcarpent commented on #1120
@cmastalli Gauss-Newton is only valid for residual quantities, where at optimum, the residual is close to zero. Otherwise, it is a very poor approximation which will to bad behaviours.

[2020-03-26 16:45] jcarpent commented on #1120
Are you doing Inverse Kinematics? or are you solving nonlinear optimization problems?

[2020-03-26 16:50] WangKeAlchemist commented on #1120
I am solving dynamics, I have already implemented a task space inverse dynamics controller using Pinocchio for the bipedal robot in my lab (https://www.imperial.ac.uk/robot-intelligence/robots/slider/). Now I find another inverse dynamics algorithm using Control Lyapunov Functions (https://arxiv.org/pdf/1910.10824.pdf). And their method requires second order Lie derivatives.

[2020-03-26 16:58] jcarpent commented on #1120
OK. If you need specific features, we may think to implement them if we think they might useful for other people.

[2020-03-26 17:14] WangKeAlchemist commented on #1120
Hi @jcarpent , for our case, it is enough for now to get kinematics directivities at both first and second orders analytically, If my derivation about the algorithms is correct.

[2020-03-26 17:19] jcarpent commented on #1120
OK. So referring to the unit test is currently the best choice, as we don't have enough human power to set examples. If you would like to contribute, providing examples would very useful for everyone ;)

[2020-03-26 17:23] jcarpent commented on #1120
I will close this issue as it seems to be solved. Feel free to reopen it if needed.

[2020-03-26 17:23] #1120 closed

[2020-03-26 17:57] jcarpent commented on #1112
You are welcome.

[2020-03-26 17:59] jcarpent commented on #1106
@aykutonol You may have a look to https://github.com/stack-of-tasks/pinocchio-minimal for an example on how to link your project with Pinocchio.

[2020-03-26 19:45] Neotriple opened #1122 "Generalized coordinate vector and velocity vector representation questions"
Hi all,

Just a quick question regarding the orientation and frames that you're using in Pinocchio. Since you're using Featherstone notation, this allows for both the 'world' frame and 'body' frame versions of the algorithm (from what I remember).

First question is: what is the order of the quaternion for the configuration vector q: is this w, x, y, z or x, y, z, w. (Or maybe some other format?)

[2020-03-26 19:49] jcarpent commented on #1122
We are following the Eigen convention for Quaternions (x,y,z,w)

The joint velocity is then expressed in the local frame of the joints, as Featherstone did. But for the config vector, the translation part of the free flyer (tx,ty,tz,x,y,z,w) has two components:
- the translation (tx,ty,tz) expressed in the WORLD frame
- the rotational part (x,y,z,w), corresponding to the Quaternion representing th

[2020-03-26 20:01] Neotriple commented on #1122
Hi Justin,

Thanks for that. Just to clarify, does that mean the quaternion representing the free flyer joint is in reference to free flyer frame itself?

Finally, forgot to ask; what is the angular velocity representation for the velocity vector? Is this an euler angle or some other form of representing the angular velocity?

[2020-03-26 20:06] jcarpent commented on #1122
The quaternion does any real coordinate systems quote and quote. They are then transformed as rotation to populate a SE3 element.

The angular velocity of the rotational part is nothing more than a 3D vector. So the angular velocity is expressed in the body coordinates system.
We are not relying on Euler angles and their derivatives because they own underlying singularity issues we prefer to avoid

[2020-03-26 22:04] aykutonol commented on #1106
Thank you, @jcarpent, for the reference. I installed pinocchio@2 using Homebrew, which came with eigenpy@2 2.1.0. Hence, when I link `pinocchio::pinocchio`, cmake throws the following error:
[code]
Linking the libraries explicitly is okay for me unless there is a downside.

[2020-03-26 23:05] proyan commented on #1117
I'm not sure why this bug appears, but #1123 seems to fix it.

[2020-03-27 01:03] Neotriple opened #1125 "computeCoriolisMatrix error"
Hi again,

When I use the computeCoriolisMatrix function in RNEA, I get the following error:

Aborted (core dumped)

Based on the output, I assume this is because of an error in my input configuration vector q_, however, I am unsure. This is a bit strange since forwardKinematics works fine, but I'm not sure the internal workings, and forwardKinematics may not end up calling the same assertion.

Fo

[2020-03-27 01:04] Neotriple commented on #1122
Okay thank you. I will close this for now since I think this answered my questions. :)

[2020-03-27 01:04] #1122 closed

[2020-03-27 06:09] jcarpent commented on #1125
For robotics application, it is important to stay close to the manifold on which your system evolves, to avoid numerical issues when solving optimization problems for instance.

That’s why, in Pinocchio we have introduced in the file algorithm/joint-configuration.hpp the function normalize which allows the user to normalize the configuration vector.

[2020-03-27 06:09] jcarpent commented on #1117
Solved by #1123

[2020-03-27 06:09] #1117 closed

[2020-03-27 06:34] #1023 closed

[2020-03-27 11:04] mrsp opened #1127 "Continuous joint in URDF adds 2 elements to the configuration space + ROS"
Hello I would like to append to that previous issue #794 when the joint is continuous cos(theta), sin(theta) is a better representation indeed. Nevertheless, when using ros and typical ros joint_states it is hard to distinguish which joint is continuous on the fly.

To this end, methods such as
pinocchio::forwardKinematics
pinocchio::framesForwardKinematics
pinocchio::computeJointJacobians

break

[2020-03-27 12:25] Neotriple commented on #1125
Thanks for this!

[2020-03-27 12:25] #1125 closed

[2020-03-27 12:33] florent-lamiraux commented on #1127
Hello,
You should not make any assumption about the order of the joint values. I recommend you to write a function to convert from ROS to pinocchio by
1. parsing ROS names and and values from ROS message `ros joint_states`
2. find the corresponding joint by name in pinocchio,
3. check the joint type and convert the joint angle accordingly.
I do not know whether such a code already exists somewhere

[2020-03-27 14:05] jcarpent commented on #1106
This is because I need to regenerate the images. I will try to do it in the next few hours.

[2020-03-27 14:11] jcarpent commented on #1127
I think the issue is much more related to ROS, no?
The strategy suggested by @florent-lamiraux seems to be a nice and easy solution.

From the current API, you can retrieve the class of the joint type by calling:
[code]
And the unbounded joints (aka continous) have the following name:
[code]

[2020-03-27 15:31] mrsp commented on #1127
Thanks for the answers will do that.

Quick question here, does the size of the Jacobians from pinocchio::computeJointJacobians also changes or is it the same since \dot{q} is not affected?

[2020-03-27 15:39] jmirabel commented on #1127
Continuous joints are represented by SO(2), using 2 values for the position and one for the velocity.

[2020-03-28 08:06] jcarpent commented on #1127
So, to follow the answer of @jmirabel, the velocity of Revolute and Continuous joints remain the same. And then the joint Jacobians will be the same too.
I will now close the issue as it seems solved for now. @mrsp Feel free to reopen if you need.

[2020-03-28 08:06] #1127 closed

[2020-03-31 09:29] matthieuvigne opened #1132 "Support urdf geometry types for display (and collisions ?)"
The urdf standard allows the geometry (visual or collision) for a link to be either a mesh file, or one of three simple geometric primitives: box, cylinder or sphere. However, ```pinocchio``` is only able to load meshes, and ignores the other types.

I think it would be nice to support the display of the other basic geometry types as well. It's useful for demos and examples on very simple systems

[2020-03-31 09:41] jcarpent commented on #1132
This is because you're not compiling with hpp-fcl support.

[2020-03-31 10:03] jcarpent commented on #1132
Gepetto-viewer is well supported. For Meshcat, it should be also the case, as @gabrielebndn did a very good job for supporting both.

[2020-03-31 10:13] matthieuvigne commented on #1132
Indeed, I didn't look at the code there as this seemed unrelated. One could argue that you don't need FCL to display those primitives, but it's not really important IMHO.

I'll check right away for meshcat support as well.

[2020-03-31 11:39] gabrielebndn commented on #1132
I confirm all primitive shapes are supported both on Pinocchio and Meshcat when compiling with HPP-FCL. Maybe we should make the requirement clear somewhere in the documentation (or issue appropriate warnings if the requirement is not respected), because I understand it might be confusing

[2020-03-31 12:54] matthieuvigne commented on #1132
Indeed, things were well handled by @gabrielebndn !

I'm in favor of adding a warning in the case where pinnochio is compiled without hpp_fcl and the user tries to load a geometric primitive. Something like this patch for master:

[warn_no_fcl.patch.txt](https://github.com/stack-of-tasks/pinocchio/files/4409120/warn_no_fcl.patch.txt)

[2020-03-31 13:04] gabrielebndn commented on #1132
@matthieuvigne, it looks good to me. Maybe you can open a PR with your patch. When you do it, please do it on the devel branch, that's were all PRs go :)

[2020-03-31 15:05] rstrudel opened #1133 "MeshLoader inconsistency on import switching"
Hello,

Depending on the order of import, instances of `MeshLoader` have differents methods. To reproduce, you can do:

code 1:
[code]
result:
[code]
code 2:
[code]
result:
[code]

Notice the `create` method in first case and the `load` method in the second case. This bug seens related to the interaction between pinocchio and hppfcl, it seems appropriate to also tag @jmirabel .

[2020-03-31 15:07] jmirabel commented on #1133
I encountered this some time ago and I believe I solved it. Which version do you use ?

[2020-03-31 15:09] jmirabel commented on #1133
#1084 should have solved this.

[2020-03-31 15:13] rstrudel commented on #1133
I am using (pinocchio 2.3.1)[https://anaconda.org/conda-forge/pinocchio] and (hpp-fcl 1.3.0) [https://anaconda.org/conda-forge/hpp-fcl] which are the latest versions available on conda-forge.

[2020-03-31 15:15] jcarpent commented on #1132
I think this issue is solved. I let @matthieuvigne provides his suggestion as PR.

[2020-03-31 15:15] #1132 closed

[2020-03-31 15:33] xinsongyan commented on #911
It would be very nice to have such kind of interface!

[2020-03-31 15:51] jmirabel commented on #1133
I checked and there hasn't been any release since the fix. The bindings you should use are the one from hppfcl so you should import pinocchio before hppfcl.

[2020-03-31 16:02] rstrudel commented on #1133
Yes, that is what I've been doing for a while. I checked today if things have changed and as it has not I opened this issue so that there is a trace of this problem somewhere.

[2020-04-01 07:54] jcarpent commented on #1133
As mentioned by @jmirabel, this issue has been solved in #1084. I will close it as no action is no more required.

[2020-04-01 07:54] #1133 closed

[2020-04-01 08:31] rstrudel commented on #1133
As there is no release, this is still a problem you will run into with the available packages. I opened it because I was not the only one to run into the problem.

[2020-04-01 13:27] jcarpent commented on #911
@xinsongyan If you need this feature sooner, your help is very welcome to implement the feature ;)

[2020-04-01 14:40] xinsongyan commented on #911
I am very happy to help, but how can I get involved?

[2020-04-01 14:42] alejandroastudillo commented on #911
If possible I would also like to contribute to this feature, but don’t really know how @jcarpent @xinsongyan

[2020-04-02 07:10] Linjackffy commented on #1065
I also tried to install pinocchio on an arm-based development board.
The OS run on the borad is Linux 4.1.15.
How could I get binaries provided via the ROS buildfarm?

[2020-04-03 11:33] nim65s opened #1136 "hpp-fcl 1.4.0 & test-cpp-geom"
Hi,

If I compile eigenpy 2.2.2, hpp-fcl 1.4.0 & pinocchio devel, `test-cpp-geom` is failing:

<details>
<summary>show logs</summary>
<p>

[code]
</p>
</details>

I made a [Dockerfile](https://github.com/nim65s/gepetto-utils/blob/master/docker/pinocchio/Dockerfile.nolts) to reproduce that. It can be used directly with `docker run --rm -it gepetto/utils:pinocchio-devel`.

[2020-04-03 11:37] nim65s commented on #1136
Hum, `test-py-bindings_fcl_transform` also seem to fail in some cases:

<details>
<summary>show logs</summary>
<p>

[code]
</p>
</details>

[2020-04-03 11:44] jmirabel commented on #1136
Both issues are already referenced.
- for the first: https://github.com/humanoid-path-planner/hpp-fcl/issues/147, solved by https://github.com/humanoid-path-planner/hpp-fcl/pull/149
- for the second: I briefly talked about it here but at this time, it only appeared on my computer : https://github.com/stack-of-tasks/pinocchio/pull/1084#discussion_r383207409

[2020-04-03 11:55] nim65s commented on #1136
Thanks !

[2020-04-03 12:54] jmirabel commented on #1136
I think the second issue deserves to be recorded. If you have a docker file that reproduces it (which you have, obviously), then I think it's worth opening the issue.

[2020-04-03 13:23] nim65s commented on #1136
Sure, this can still be reproduced with `docker run --rm -it gepetto/utils:pinocchio-devel` then `ctest -VV -R test-py-bindings_fcl_transform` inside the container.

[2020-04-03 13:40] jmirabel commented on #1136
Thanks. @jcarpent I tried to find the origin of the issue but failed. I don't think this is a priority but, if you have some time, I let you look at it.

[2020-04-03 14:29] gabrielebndn commented on #1136
I confirm that the second bug appears on my computer too (Ubuntu 19.04), but I don't understand why, it was not appearing when I reported the first bug

[2020-04-03 15:52] jcarpent commented on #1136
Related to an FCL downgrate. Fixed by https://github.com/humanoid-path-planner/hpp-fcl/pull/152

[2020-04-03 15:52] #1136 closed

[2020-04-03 15:55] xinsongyan opened #1137 "Floating base robot q and v"
Hi,

I am using pinocchio to calculate a floating base robot kinematics and dynamics, but I am not sure about the convention of _q_ and _v_?

I used RBDL before, the _q_ and _v_ in RBDL are defined as:
[code]

I tried a little bit pinocchio, it seems that it takes:
[code]
 I didn't find any documentation about this. Anyone can confirm this?
Thanks a lot!

[2020-04-03 15:56] jcarpent commented on #1137
You're correct. The base translation part is expressed in the parent frame (here the world coordinate system) while its velocity is expressed in the body coordinate system.

[2020-04-03 16:07] #1137 closed

[2020-04-03 16:28] jmirabel commented on #1136
Thanks.

[2020-04-03 16:44] jmirabel commented on #911
If you want to help on this topic, the first thing you should do is to get familiar with the autodiff in C++. A lot of the autodiff logic happens at C++ compile time thanks to template programming. So there are two options to bind the auto-differentiation:
- define a set of function for which the automatic differentiation will be exposed.
- find a way of postponing the autodiff logic at runtime. I

[2020-04-03 16:46] jmirabel commented on #911
rephrasing: this is very likely doable but at what price on the computation time...

[2020-04-03 17:25] jcarpent commented on #911
@alejandroastudillo @xinsongyan First of all, thanks a lot for your involvement in this project.

For Pinocchio I see the change as follows:
- change the whole c++ library to accept a macro default scalar type
- change the Python bindings to compile for any default scalar type to expose SE3<AD>, Motion<AD> everything inside a dedicated lib with a prefix (casadi, cppad, cppadcodegen, etc.). This Py

[2020-04-03 17:58] cmastalli commented on #911
@jcarpent do we need to do the same at eigenpy level? I am asking this question for CppAD case too.

[2020-04-05 09:27] jcarpent commented on #911
@jmirabel Do you know how this feature is really available. I've found only a little information on it on the web.

[2020-04-06 05:33] backtodecember opened #1138 "Including external force in aba in Python interface"
Hi,

I am trying to use the aba(model, data,q,v,tau,extf) function in the Python interface. I see that #632 has asked a similar question, but it seems that some changes have been made since then, I still do not understand exactly how to use the external force. What exactly is extf's format? (Is it a list of arrays of size 6? Is it a list of force-joint ID pairs? ) Any help would be much appreciate

[2020-04-06 05:54] backtodecember commented on #1138
Actually, followed #632 and found the fix. Thanks.

[2020-04-06 05:54] #1138 closed

[2020-04-06 06:31] jcarpent commented on #1138
OK. Nice to hear that it is working for you.
Instead of using StdVec_Force container, which mimics a list in Python, you can directly use a Python list as input argument. The bindings will perform the correct translation then.

[2020-04-06 07:46] jmirabel commented on #911
I will if I find it back, but I can't. From what I read on the web, it seems I misread something...

[2020-04-06 07:51] jcarpent commented on #911
No problem. Just to be sure that I was not looking in the correct direction.

[2020-04-07 05:09] rshum19 opened #1139 "Compiling from source in Ubuntu 16.04 and using ROS Kinetic"
Hi,

I'm trying to install Pinocchio to use in a ROS project. However, I'm having compile errors regarding my version of eigenpy

[code]

I installed eigenpy via
[code]
However after looking at the release notes I realized that for kinetic it only goes to version 1.6.9.

I've tried installing eigenpy from the robotpkg apt repository, but then I get an error that it cannot find the eigenpy library.

[2020-04-07 06:08] jcarpent commented on #1139
I think @wxmerkt may have some clues for solving this issue. @wxmerkt Do you know why eigenpy is not up to date to the version 2.3.0?

@rshum19  In the meantime, you can install eigenpy directly from source

[2020-04-07 07:51] nim65s commented on #1139
@rshum19 : on robotpkg, did you specify the python version you need ? That should be `sudo apt install robotpkg-py27-pinocchio`, which will install `robotpkg-py27-eigenpy` as a dependency.

[2020-04-07 08:46] jcarpent commented on #1139
@nim65s This a ROS installation procedure.

[2020-04-07 09:22] wxmerkt commented on #1139
I have not yet updated Kinetic to newer versions. We are still having ongoing issues with the CMake modules for Melodic. I am planning to fix the Melodic release today (the install directory for the `eigenpyConfig.cmake` in particular, and the build type).

For Kinetic, I am not sure it is worth the effort - there may be a few cycles to get it working with the changes from CMake modules.

@rshum19

[2020-04-07 09:54] jcarpent commented on #1139
@wxmerkt Thanks a lot for this helpful answer!

[2020-04-07 09:58] wxmerkt commented on #1139
If all goes well with the Melodic release, I might try to also update Kinetic.

Let's keep this issue open - I will close it once I know if we can get the Kinetic version of EigenPy also updated.

[2020-04-07 10:22] EnricoMingo opened #1140 "Computation of "Classic" Cartesian velocity of a frame"
Hi all,
I hope to fin you all good and thank you very much for your work on this very nice library.

We have a question regarding the computation of "Classical" (not Spatial) velocity of a frame, in particular we want to compute the velocity of a certain frame ![l](https://render.githubusercontent.com/render/math?math=l) wrt the world frame ![w](https://render.githubusercontent.com/render/math?mat

[2020-04-07 11:13] jcarpent commented on #1140
@EnricoMingo Thanks a lot for using Pinocchio.

At first glance, I would say you're doing the things correctly.
Are you sure that J (output argument of getFrameJacobian) is set to Zero?
Could you share the Matlab code for testing to be sure of what happens? Are you sure that
![image](https://user-images.githubusercontent.com/1567317/78662826-6834a500-78d1-11ea-8935-94fce9d0b9d6.png) is expressed i

[2020-04-07 11:17] jcarpent commented on #1140
And if you want to check against finite differences:
[code]

[2020-04-07 23:39] rshum19 commented on #1139
@jcarpent and @wxmerkt  thank you for your prompt response and suggestions. I have managed to compiled eigenpy from source successfully, but I'm still getting compiling issues please see below.

[code]

I've tried both the regular `cmake ../ && make -j8 && make install` steps as well as `catkin build` and get the same error. Is there a prefer compiling method ?

Thank you!

[2020-04-08 00:19] wxmerkt commented on #1139
Which packages with which versions do you have in your workspace? How did you build them?

- If you have pinocchio and eigenpy cloned into a catkin workspace, use the regular `catkin build`.
- If you follow a regular CMake workflow, use the `cmake ; make ; make install`.
- Doing a mix complicates things and can lead to complications.

[2020-04-08 01:25] rshum19 commented on #1139
In my catkin worskpace I have `eigenpy version 2.3.0` and `pinocchio 2.3.1`. To build them I'm using `catkin build`

[2020-04-08 05:44] jcarpent commented on #1139
What is your boost version ?

[2020-04-08 14:55] rshum19 commented on #1139
@jcarpent  I'm using version  Boost version 1.58.0.1

[2020-04-08 16:18] jcarpent commented on #1139
It seems that this is related to your compiler options. Are you using c++11?

[2020-04-08 17:00] wxmerkt commented on #1139
To follow @jcarpent's comment, you could set this with:
```catkin config --cmake-args -DCMAKE_CXX_FLAGS="-std=c++11"```

[2020-04-08 17:16] nim65s commented on #1139
or `-DCMAKE_CXX_STANDARD=11` ;)

[2020-04-08 18:22] mohamdev opened #1142 "CppAD::cg::CGException : GreaterThanZero cannot be called for non-parameters"
Hi,

First I want to thank you for your awesome work, which is very helpful to me. I would like to compute the Jacobian of the quaternions of a given joint cartesian placement relatively to joint configuration vector q (also called X or ad_q in my code). I'm trying to perform it using some code generation with CppAD and CppADCodeGen but I have the following exception :

This exception occurs only

[2020-04-08 19:02] jcarpent commented on #1142
I think you should rely on Eigen::Quaternion instance to convert a rotation matrix to a Quaternion. This should work well.

[2020-04-08 19:13] rshum19 commented on #1139
@wxmerkt using the suggested cmake arguments solved my compiling issue. May be a good idea to include this flag as part of the CMakeLists.txt file

[code]

Thanks all for your help! I'm going to close this issue now.

[2020-04-08 19:16] mohamdev commented on #1142
@jcarpent Thank you for your feedback. Actually I tried first with it, but I had exactly the same Exception, that is why I decided to right my own converting function, with no sucess.

[2020-04-08 19:57] wxmerkt commented on #1139
Glad to hear it's resolved :-).

[2020-04-08 20:39] jcarpent commented on #1142
When using CppAD code, you have to overload the if statement to allow CppAD to capture the switch. Similar tricks have been used here:
https://github.com/stack-of-tasks/pinocchio/blob/b29438da9f467329f329ad8612e00b314cfb0b4b/src/autodiff/cppad/spatial/log.hxx#L32
for instance

[2020-04-08 21:20] mohamdev commented on #1142
Great, thank you very much, I will try this

[2020-04-08 22:19] cmastalli commented on #1140
@EnricoMingo I suspect your error might be in the `diff` routine. You need to note that the system lies in a geometrical manifold, therefore you need to integrate it as shown by @jcarpent's code.

[2020-04-08 23:32] mohamdev commented on #1142
@jcarpent I just tried it with `CppAD::CondExpOp` and it worked wonderfully ! Thank you very much

[2020-04-08 23:32] #1142 closed

[2020-04-09 07:18] jcarpent commented on #1096
Seems to be solved by #1141. @tfoote Feel free to reopen this issue if needed.

[2020-04-09 08:32] cmastalli opened #1144 "Compilation issue with clang-7 under Ubuntu 18.04"
I am not sure if this is related to a Pinocchio problem or my PC setup. I would appreciate any further help.

This is my setup:
[code]

I tried to compile Pinocchio as follows:
[code]
in which I got this kind of issues when Pinocchio compiles its executables:
[code]

[2020-04-09 08:35] jcarpent commented on #1144
No, this is not related at ALL to pinocchio and much more due to your installation setups. Please check that you're compiling with C++11 and that the libstd you're using is compatible with your compiler.

[2020-04-09 08:35] #1144 closed

[2020-04-09 09:17] wxmerkt commented on #1096
Sadly, it's not:

![image](https://user-images.githubusercontent.com/1664508/78879087-52e38600-7a4b-11ea-95d8-f14e30e60425.png)

Cf. http://build.ros.org/job/Ksrc_uX__pinocchio__ubuntu_xenial__source/ (i386, first in the list)

[2020-04-09 09:21] jcarpent commented on #1096
This does not correspond to my last PR #1141 where the name of the test has been changed.

[2020-04-09 09:23] wxmerkt commented on #1096
Yes, sorry I realised this requires a new release. Could you please make a new tag?

[2020-04-09 12:24] cmastalli commented on #1144
For some reason that I don't understand, I had to linked manually (i.e. through a compilation flag) the `libstd` library.

@nim65s @jcarpent Do you know the reason?

[2020-04-09 14:56] jcarpent commented on #1140
@EnricoMingo Do you have any feedback on my answer?

[2020-04-09 16:53] jcarpent opened #1146 "Clipping values in randomConfiguration"
Currently, `randomConfiguration(model,lb,ub)` may return a non clipped vector for SO(3) segment of the configuration. One suggestion that emerges is to clip the return values inside the bounds provided by the user.

@jmirabel and others, what is your feeling?

[2020-04-09 16:58] florent-lamiraux commented on #1146
What do you mean by clipped ?

[2020-04-09 17:00] jcarpent commented on #1146
A vector which is outside the bounds for the rotational values.

[2020-04-09 17:07] florent-lamiraux commented on #1146
You mean outside [1-eps, 1+eps], with eps small ?

[2020-04-09 17:10] jcarpent commented on #1146
Yes.

[2020-04-09 17:14] florent-lamiraux commented on #1146
I have never met this problem with eps sufficiently big.

[2020-04-09 17:26] cmastalli commented on #1146
if you want to do this, then it might be useful to print a warning message.

[2020-04-09 18:01] jmirabel commented on #1146
If you encounter a problem (which I have never encountered so far), I think a more elegant fix is to make the function `quaternion::uniformRandom` return a unitary quaternion.

I am really surprised that you actually end up with coefficients strictly superior to zero. I looked at the formula and it only multiplies numbers which should all be inferior to ones. I don't think numerical imprecision ca

[2020-04-09 20:28] EnricoMingo commented on #1140
Dear @jcarpent , @cmastalli,
sorry if I have not given any feedback but I am running several tests, still without any result. We are missing something: we are running experiments with a floating-base systems and the first thing that we can not figure out is why the ```floating_base``` Jacobian, expressed in the world frame (so with ```LOCAL_WORLD_ALIGNED```), is not something like: ![\left\[\mathb

[2020-04-09 21:00] mzwang828 opened #1147 "Can I add joint frictions when simulating the dynamics?"
Hi,

I tried to simulate pushing a block on a surface with friction. The block is added to the environment with a planar root joint and I confirmed that the block is in contact with the surface. However, I found no way to confirm is there is friction between them. Can I add friction between the block and the surface through Pinocchio?

Thank you!

[2020-04-09 22:39] rshum19 commented on #1139
Hi I'm reopening this issue, because I'm having compiling issues on a different machine.  It seems that its an issue with the eigen library?

[code]

**System:**
OS: Ubuntu 16.04
Eigenpy: 2.3.0
Pinocchio: 2.2.3
Boost: 1.58.0
Eigen: 3.2.92
gcc: 6.50
python: 2.7.12

Any idea why this could be?

[2020-04-09 23:04] gabrielebndn commented on #1146
I'm not sure I understand. You mean that `randomConfiguration(model,lb,ub)` does not respect `lb` and `ub` for the quaternion part? Is this what you mean? This is a known issue, I remember talking about to somebody a while ago, @jmirabel I think. The reason why it does it is obvious reading the code: the algorithm employs `quaternion::uniformRandom` to return a random rotation (this also realtes t

[2020-04-10 04:51] jcarpent commented on #1139
Can you try the last release of Pinocchio ?

[2020-04-10 04:53] jcarpent commented on #1140
No, because the free floating Jacobian is expressed in the local frame of the joint. So its columns are then aligned with the world coordinates frame.

[2020-04-10 04:56] jcarpent commented on #1147
Bases on Pinocchio, you can compute all the quantities related to the contact dynamics. Then, you have to choose the contact model that models the interaction and implements its resolution, which seems to be a QP problem if you have only one single contact.

[2020-04-10 04:59] jcarpent commented on #1140
From my previous answer, this also means that the joint velocity of the free flyer is also expressed in the local frame of the free flyer too. Do you have this quantity rightly expressed in your setup?

[2020-04-10 05:44] jcarpent commented on #1147
If you want to add friction on the joint axes, you can do it also using a QP solver too.

[2020-04-10 06:40] jcarpent commented on #1146
Thanks a lot for your feedback. For the time being, I will just add a clip function in Pinocchio to handle it.

[2020-04-10 06:40] #1146 closed

[2020-04-10 06:46] florent-lamiraux commented on #1146
I think it would be better to uniformy sample the unit quaternion like here
https://github.com/humanoid-path-planner/hpp-model/blob/8fbbf94c8d13fbf0b856123fa45c89b4d8feb9f2/src/joint-configuration.cc#L323

[2020-04-10 07:18] jmirabel commented on #1146
This is exactly what is done in Pinocchio. There is no reason to clip @jcarpent as the values shouldn't be above 1. If by any bad luck, you find a seed for which it does, then I would be curious to see this.
Did you try something like:
[code]

[2020-04-10 08:13] jcarpent commented on #1096
I think everything is now fine. @wxmerkt Could you update https://github.com/ipab-slmc/pinocchio_catkin-release ?

[2020-04-10 08:29] wxmerkt commented on #1096
@jcarpent, yes as soon as eigenpy is passing on xenial (I updated eigenpy for kinetic last night). Despite the same patches as on bionic, it is failing.

[2020-04-10 08:39] jcarpent commented on #1096
Could you provide the link for the current status?

[2020-04-10 08:44] wxmerkt commented on #1096
I fixed it with a manual patch and need to wait for release - the issue was the `CONFIG_INSTALL_DIR` location in `package-config.cmake`. As it differs from the regular workflow, we are patching it during the release.

- Failing build status of dependent package: http://build.ros.org/job/Kbin_uX32__moveit_ros_planning_interface__ubuntu_xenial_i386__binary/41/
- Updated PR with fix: https://github.c

[2020-04-10 09:44] jcarpent commented on #1096
OK. Thank you very much. Where is the pacth you've provided?

[2020-04-10 10:05] wxmerkt commented on #1096
https://github.com/ipab-slmc/eigenpy_catkin-release/tree/patches/release/kinetic/eigenpy

[2020-04-10 12:58] proyan commented on #1144
@cmastalli you should compile with `clang++-7`, and not `clang-7`

[2020-04-10 13:18] cmastalli commented on #1144
I imagine it avoids to link manually things. Thank you for the advice.

[2020-04-10 13:49] jmirabel commented on #1146
Although not exhaustive, #1148 tends to prove that quaternion::uniformRandom does not generate coefficient outside [-1,1].

[2020-04-10 13:59] jcarpent commented on #1144
clang-7 is not a C++ compiler!

[2020-04-10 15:56] mzwang828 commented on #1147
Hi Justin,

Thanks for your quick response!
As you said, I'm solving the problem as a QP and modeled the contacts as constraints. I was uncertain about how to correctly include the frictions. To make sure I get this correctly, let's consider the simplest case and the block is simply moving on the surface. From Pinocchio, I can get the inertial matrix and the term for non linear effects. I then nee

[2020-04-10 16:16] jcarpent commented on #1147
I think you have to find your solution of this problem
You have to solve the following problem:
[code]
The multipliers related to the constraint are then the contact forces (opposite in fact). You may need to add the friction cones. Is that you also need?

[2020-04-10 16:19] rshum19 commented on #1139
@jcarpent Pulling the latest from the repository solved my issue thank you!

[2020-04-10 16:19] #1139 closed

[2020-04-10 17:03] mzwang828 commented on #1147
This is different from what I had in mind. I need to think through this and will get back to you. Thanks a lot!

[2020-04-10 22:24] wxmerkt commented on #1139
Btw: EigenPy 2.3.1 & Pinocchio 2.4.0 are now released to ROS Kinetic. They will be live with the next sync (~every two weeks, usually).

[2020-04-10 22:25] wxmerkt commented on #1096
I released 2.4.0 for Kinetic and the failures moved from the `joints` unit test to the `visitor` unit test. I am thinking about just adding a patch to disable unit tests on the ROS release altogether.

[2020-04-11 06:24] jcarpent commented on #1096
Yes sure. You can proceed.

[2020-04-13 22:19] wxmerkt commented on #1096
Most builds are back to stable now that the unit tests aren't being built. We still see memory exhaustion in e.g. `expose-aba-derivatives.cpp`.

I hope with the randomness of it sometimes grabbing more memory from other agents it can have a successful build every few builds.

I'm going ahead and will close this issue. We should still think about whether we can reduce the memory requirements during

[2020-04-13 22:19] #1096 closed

[2020-04-14 09:42] mfocchi commented on #1140
@jcarpent

I would like to ask you about this lines that are a bit obscure to me

`local_to_world_transform = pin.SE3.Identity()
local_to_world_transform.rotation = data.oMf[frame_id].rotation
frame_v = local_to_world_transform.act(frame_placement.actInv(data.v[parent_joint]))
`
we have frame_J already expressed in the LOCAL_WORLD_ALIGNED
now you need the spatial twist at frame_id expressed in LOC

[2020-04-14 10:10] cmastalli commented on #1140
@mfocchi
Your suggested code is equivalent, i.e.
[code]

Maybe what you are missing it is the fact that `data.v[parent_joint]` (i.e. <img src="https://render.githubusercontent.com/render/math?math=\mathbf{v}_j"/>) is the spatial velocity at the joint level. Furthermore, `frame_placement` defines a relative SE3 transformation between the joint and the frame. Therefore, `actInv` applies the inverse

[2020-04-14 10:22] jcarpent commented on #1140
Yes, you're correct @mfocchi. This is the same.

It is just for casting a numpy 6d array to a Motion for printing purposes.

I do agree. The documentation is not exhaustive enough. We would really appreciate contributions on this point coming from all users if they are willing to of course.

[2020-04-14 11:40] jcarpent commented on #1140
@mfocchi I've just updated my answer as I wrote something wrong before ;)

[2020-04-14 12:26] proyan opened #1149 "version compatibility between cppad and cppadcg"
Background:
1) Currently, pinocchio requires `cppad >=v2018`, and has no version requirement on cppadcg.
However, `cppad v2020` is not back-compatible with `cppad v2018`, and consequently, the recent release of `cppadcg (>=v2.4.0)`, is not compatible with the pinocchio requirement of `cppad >=v2018`.

2) Starting from `cppadcg v2.4.1`, cppadcg will also enforce a version requirement of `cppad>=v20

[2020-04-14 12:29] jcarpent commented on #1149
For both cases, the two cases will occur again in the future. The reason is that CppAD and CppADCodeGen are not developed by the same people, and the version numbering do not follow at all.

I would rather suggest to make things clear witht the two main developpers of CppAD and CppADCodeGen.

[2020-04-14 12:35] proyan commented on #1149
There is also the back compatibility issue with `cppad v2018` and `cppad v2020`.
I can confirm that the current devel in pinocchio is working with `cppad v2020`. However, I cannot say with the same confidence that it will work with `v2018`. I see that robotpkg installs `v2020`. Is pinocchio tested with `v2018` as well?

[2020-04-14 12:41] jcarpent commented on #1149
It used to be on my side. But currently, I don't have time to provide effort on it.

[2020-04-14 12:42] jcarpent commented on #1149
By the way, CppAD and CppADCodeGen are not really dependencies for Pinocchio. In a future release, there will be only TEST dependencies and BUILD dependencies for Python bindings.

[2020-04-14 12:43] jcarpent commented on #1149
Currently, you can change the minimal version, but again, we have first to convince the project leaders of CppAD and CppADCodeGen to sync their releases.

[2020-04-14 13:34] cmastalli commented on #1149
It could take a lot of time for that. If we don't want to have any action in Pinocchio, I would suggest to add in the REAME file an explanation with the working dependencies.

[2020-04-14 13:53] jcarpent commented on #1147
I will close this issue. @mzwang828 Feel free to reopen it when needed.

[2020-04-14 13:53] #1147 closed

[2020-04-14 14:23] proyan commented on #1149
So you are okay with changing the minimal version to `v2020`?

[2020-04-14 14:26] jcarpent commented on #1149
Yep, but again, this is not a long term fix.

[2020-04-14 20:21] nim65s opened #1150 "Regression in build model from URDF."
Hi,

If I try to load [baxter_simple](https://github.com/humanoid-path-planner/hpp-environments/blob/master/urdf/tests/baxter_simple.urdf), it works on pinocchio 2.3.1 and fails on pinocchio 2.4.0 with:

[code]

To reproduce this, you can run:
[code]

in `docker run --rm -it gepetto/utils:pinocchio-2.3.1` / `2.4.0` (they are coming from this [Dockerfile](https://github.com/nim65s/gepetto-utils/blo

[2020-04-14 21:25] jcarpent commented on #1150
@nim65s I think that #1151 solves the issue. Sorry for the regression. After merging #1151, I will provide a new release.

[2020-04-14 21:44] nim65s commented on #1150
Wow, that was fast, thanks a lot !

[2020-04-15 05:40] jcarpent commented on #1150
Fixed by #1151.

[2020-04-15 05:40] #1150 closed

[2020-04-15 07:51] jcarpent commented on #1149
Solved by #1152.

[2020-04-15 07:51] #1149 closed

[2020-04-15 23:04] mzwang828 commented on #1147
Thanks! This issue can be closed now. I have figured out how to include friction for my purpose.

[2020-04-16 10:22] duburcqa commented on #579
This issue should be reopened since making Pinocchio a header only library is not longer expected in the future as far as a know.

[2020-04-16 12:38] duburcqa opened #1153 "Minor syntax error"
I just wanted you to know that there is a syntax error in this header, even though it is compiling without error with the right compilation flags.

https://github.com/stack-of-tasks/pinocchio/blob/cd452efbeb3f04dc980def5fe0fc4a14edc197b7/src/parsers/urdf/types.hpp#L68

[2020-04-16 12:41] jmirabel commented on #1153
Thanks. Can you provide the compilation error please ?

[2020-04-16 13:30] EnricoMingo commented on #1140
Dear @jcarpent,
I think I solved the issue. Our basic error was due to the fact that we were not considering the floating-base velocity in local coordinates but in global. Our _quaternion propagation_ routine as well as integrator was working with everything in global therefore solutions where not compatible with the Jacobians provided by Pinocchio. Now I got the expected results I was putting in

[2020-04-16 14:03] jcarpent commented on #1140
The contact forces are currently expressed in the local frame of the joints. So you need to provide an `std::vector<Force>` with the same dimension as model.njoints. Is it answering your question?

[2020-04-16 14:05] jcarpent commented on #1153
@duburcqa Thanks for the pointer to the syntax error.

[2020-04-16 14:39] jmirabel commented on #1153
Arf, that was too obvious... maybe we should use something like https://www.codacy.com/.

[2020-04-16 14:42] jmirabel commented on #1153
@jcarpent would you agree with that ? I can try to set it up.

[2020-04-16 15:33] jcarpent commented on #1153
@jmirabel Yes please go ahead. It it help us to prevent such stupid things, I'm not against at all. Thanks a lot

[2020-04-16 15:33] #1153 closed

[2020-04-16 15:43] jmirabel commented on #263
Bumping into the issue again. Now that pinocchio has grown, when I compile it, I see many things in the bindings which aren't interesting for me. Would it make sense to gather some of them into optional groups (when compiling from source only, not for binary packages) ?

For instance, I never use the derivatives.

[2020-04-16 15:46] jmirabel commented on #1153
I made a request but I don't know who receives it (send to @stack-of-task ...).

[2020-04-16 15:49] florent-lamiraux commented on #1153
I did.

[2020-04-16 15:50] florent-lamiraux commented on #1153
I have accepted. Is it all right ?

[2020-04-16 15:53] jmirabel commented on #1153
They tell me

So @florent-lamiraux , you still have an action to do.

[2020-04-16 16:12] jmirabel commented on #1153
Thank you. It worked.

[2020-04-16 16:22] jmirabel commented on #1153
Here is the result: https://app.codacy.com/gh/stack-of-tasks/pinocchio/dashboard

It will be run on every PR (and commit ?).

[2020-04-16 16:43] cmastalli commented on #1153
This tool is cool!
@jcarpent, @nim65s  could we allow it on loco-3d? I would like to use it in Crocoddyl.

[2020-04-17 00:02] mzwang828 opened #1157 "Can I get signed distance from distianceResult?"
Hi,

I'm calculating the distance between two geometry objects, a sphere and a verticle plane to be specific. I found that I always get a positive number for min_distance no matter the sphere is right or left to the plane. I think in FCL you can get signed distance when needed but I didn't find the corresponding setting in Pinocchio. Is this function currently supported?

Thanks!

[2020-04-17 07:01] jcarpent commented on #1157
You should use halfspace shape.

[2020-04-17 08:11] nim65s commented on #1153
Codacy automatically run a bunch of linters on your code. It is not a linter by itself, is it ?
So which static analysis tool do you think would have prevented such a typo ?

[2020-04-17 08:28] jmirabel commented on #1153
I think it isn't a linter by itself.

I ran cppcheck and it does not report it. I was probably overoptimistic then.

[2020-04-17 08:40] jmirabel commented on #1157
With a plane and a sphere, you should only get a negative distance when the sphere intersect the plane. When they do not penetrate, then it is correct to have a positive distance. You should follow @jcarpent suggestion.

[2020-04-17 08:42] cmastalli commented on #911
@jcarpent toward this milestone with especial focuses on CppAD.

Do we need to first create eigenpy objects that handle different scalars?
I have in mind something like:
[code]

If my understanding is right, we need to define `dtype` for `CppAD` (see this code in pyadolc: https://github.com/b45ch1/pyadolc/blob/master/adolc/src/py_adolc.hpp#L400). It might needed to implement it inside eigenpy, not

[2020-04-17 09:27] cmastalli commented on #1153
I saw it was more than a linter, right? It is just a linter then we don't need it. I would follow the linter project developed by @nim65s, it is quite useful :)

[2020-04-17 09:30] jmirabel commented on #1153
At least, it didn't find this issue: https://app.codacy.com/gh/stack-of-tasks/pinocchio/file/43958393041/issues/source?bid=17605373&fileBranchId=17605373

[2020-04-17 10:05] proyan opened #1159 "Cannot turn BUILD_WITH_URDF_SUPPORT to OFF"
Hi,
URDF_SUPPORT cannot be turned off in the current devel. If I turn it off, either there is a simple cmake error in `CMakeLists.txt:L104`, `URDFDOM_VERSION doesn't exist`, or if I fix it, there are errors in `parsers/urdf/model.cpp`, given by:
[code]
Support would be welcome here. Thanks.

[2020-04-17 10:20] proyan commented on #1159
Thanks :)

[2020-04-17 11:13] nim65s commented on #1153
As far as I can see, it is not a linter, it's a tool that run external linters on each commit / PR and show the results in the commit / PR, and in a dashboard.

[2020-04-17 11:18] jcarpent commented on #911
Concerning CppAD, I'm implementing the Python bindings which will be sync with the official repository.

For the dtype argument, this is indeed the way to allocate a CppAD vector with numpy.
The issue is that this thing also to be implemented inside EigenPy which only supports currently complex, float, double and long double types.
This is the most blocking part currently.

[2020-04-17 11:29] cmastalli commented on #911
cool

If you have a clear path of development, then we could have a chat to define a set of tasks. I would be happy to contribute on it.

[2020-04-17 12:47] jmirabel commented on #1153
@nim65s would you know a tool that would be able to catch this kind of typo ?
Basically, a compiler which wouldn't do anything else than parsing the code (though I don't know how faster this would be).

[2020-04-17 14:32] jcarpent commented on #1159
Solved by #1160.

[2020-04-17 14:32] #1159 closed

[2020-04-17 14:35] jcarpent commented on #911
The main question is how to create Python array for a default user type, because, by default, Numpy only declares a few common types.

[2020-04-17 14:51] nim65s commented on #1153
I don't know one which would have automatically tested this with and without `PINOCCHIO_URDFDOM_USE_STD_SHARED_PTR`

[2020-04-17 14:53] nim65s commented on #1153
But I plan on adding clang-tidy & cppcheck everywhere :)

[2020-04-17 14:53] jmirabel commented on #1153
Well, if there exists a tool as fast as cppcheck but that would take the same option as a compiler (the preprocessor variables in this case), one can easily image running this tool with all the possible flags combinations.

[2020-04-17 15:06] mzwang828 commented on #1157
Thank you! @jcarpent @jmirabel
A quick follow up question. I actually modeled the sphere and the plane (as a very thin box) in URDF and built them into Pinocchio. The plane is fixed to a cubic's front surface for distance calculation (Sorry this was not clear enough in the original question). Is there a way for Pinocchio to take a geometry from URDF as halfspace? Otherwise, I think I need to use H

[2020-04-17 15:07] cmastalli commented on #911
Pyadolc is doing that. If I understood correctly the code, you need to define with all the methods that you can see here: https://github.com/b45ch1/pyadolc/blob/master/adolc/src/py_adolc.hpp#L339

[2020-04-17 15:10] jmirabel commented on #1157
The URDF format does not support half-spaces. You have to do it manually.

One could be interested in adding it as we did for capsules and convex polyhedrons, using tag *colliion_detection*.

[2020-04-17 15:22] mzwang828 commented on #1157
I see. I'll try to do it manually then. Thank you!

[2020-04-17 15:22] #1157 closed

[2020-04-17 15:37] cmastalli opened #1161 "Renaming Model.frames"
I found it a bit confusing. What about if we change its name to `Model.jMf`? It will follow the naming style of the `Data` class.

Is this make sense?

[2020-04-17 15:58] nim65s commented on #1153
I will try to do that :)

[2020-04-17 16:23] jcarpent commented on #1161
Why do want to change it? I don't get the point here?

By the way, 'jMf' would be a transform between the frame Frame and the supporting joint Frame. This is your meaning?

And finally, I don't think it is a good idea to change the API of root classes of Pinocchio.

[2020-04-17 16:25] jcarpent commented on #911
No, what you want is that a numpy Array holds some type which are CppAD::AD<Scalar>, and the same for CppAD code gen. But the thing is that you need to register this type as a Python type and to let Numpy managing the memory and so on.

[2020-04-17 16:27] jmirabel commented on #1161
What are you confusing it with ?

[2020-04-17 16:33] wxmerkt commented on #1161
I like the naming of `frames`. It's clear and descriptive without having to look at the description for a member (or searching the source code for comments, which still is frequently required). It's also clear that it's _all the frames_ defined in a scene/tree, and not just the actuated (or mimic or etc.) joints - i.e., fixed joints and custom-defined frames and everything else.

I often feel the

[2020-04-17 18:01] cmastalli commented on #1161
I wanted to say 'iMf'.

I agree with this. But we could add a deprecated thing.

I don't have any confusion. I just think users might want to confuse with `oMf` and it is nice to have same notation that in `Data`.

See my comment regarding possible confusion, I don't find it quite clear (it could represent different transform). On the other hand, `iMf` is not new notation, we use it a lot in data

[2020-04-17 18:48] gabrielebndn commented on #1161
I don't understand. `frames` contains `Frame` objects, seems right; and a `Frame` object defines a frame, name, frame type, parent frame... Not only the transformation. With the current naming, the absolute placement of `frames[i]` corresponds to `data.oMf[i]`, which is logical. `iMf` looks to me like a transformation in the current "data notation"; `iMf` would rather correspond to `frames[i].plac

[2020-04-17 18:48] edwardchaos opened #1162 "ros-melodic-pinocchio missing header files"
Goal:
Use computeCollisions in ROS system to check for collision between robot from URDF file and a mesh loaded from file.

Problem #1, Needed to manually add option to compile computeCollisions function:
target_compile_definitions(my_library PRIVATE ${pinocchio_CFLAGS_OTHER} -DPINOCCHIO_WITH_HPP_FCL)

Problem #2: Adding this flag causes build to fail because pinocchio/spatial/fcl-pinocchio-conver

[2020-04-17 18:59] jcarpent commented on #1162
This issue is due to the fact that current ROS is not compiled with hpp-fcl support.
I think @wxmerkt may provide additional info on it.

[2020-04-17 19:10] rshum19 commented on #1047
Dear @jcarpent,  I would be very interested in an example of generating latex equations using CppAD,  do you think you would be able to add this feature soon?

Thank you!

[2020-04-17 19:16] wxmerkt commented on #1162
Hi @edwardchaos,
Indeed, Pinocchio available via the ROS buildfarm does not come with HPP-FCL at this time.

The HPP-FCL on ROS Melodic is also very much out of date. I didn't have time to make newer releases for HPP-FCL due to the time taken to fix the CMake issues on EigenPy/Pinocchio. I may do this at some point in the future. When this happens, I can look at re-releasing Pinocchio with HPP-FCL

[2020-04-17 19:46] cmastalli commented on #1161
@gabrielebndn you're right. I made a mistake when I explained my point. Let me correct myself,  something like frames[i].iMf

[2020-04-17 20:02] edwardchaos commented on #1162
Thanks for the response guys, I've installed robotpkg-pinocchio and robotpkg-hpp-fcl instead.

[2020-04-17 21:13] #1162 closed

[2020-04-18 08:50] jcarpent commented on #1140
According to @EnricoMingo, this issue seems to be solved. I will close it. @EnricoMingo Do not hesitate to ask further questions if needed.

[2020-04-18 08:50] #1140 closed

[2020-04-18 09:46] proyan opened #1163 "dintegrate with the assignment operators ADDTO, SETTO, MULWITH"
I'm planning to create a new `dIntegrate` signature that uses the assignmentoperators `ADDTO`(out += res), `SETTO` (out = res), `MULWITH`(out *= res).

The default setting would be SETTO, so it doesn't effect existing code.

@jcarpent What do you think?

[2020-04-18 09:49] jcarpent commented on #1163
I'm fine, even if in the future, I think this should be made as a class operator and not through a function call.

Please rename `MULWITH`, with `APPLY_ON_THE_LEFT` and for the same price, it might be also useful to add `APPLY_ON_THE_RIGHT`.

[2020-04-19 09:42] proyan opened #1164 "Should we deal with temporary variables in the spatial classes?"
There is are a few temporary variables inside the spatial classes, where-ever lie-algebra is being used. Normally the temporary variables are small dimensional matrices, and in our robots only the free-flyer might use lie-algebra, so the performance effect would not be that big. However, they are still there.

Now that pinocchio is mature enough, is there any intention in the near future to deal w

[2020-04-19 09:43] proyan opened #1165 "BUILD_URDF_SUPPORT_OFF still tries to build examples. And examples need urdf"
All in the title.

[2020-04-19 09:45] proyan commented on #1164
As the spatial guru in the team, this might concern @jmirabel perhaps?

[2020-04-19 09:53] gabrielebndn commented on #1164
Really? Where, for instance? I am surprised. Spatial classes have a fixed size, therefore they generally use fixed-size matrices, removing issues of memory allocation.

[2020-04-19 09:59] proyan commented on #1164
So the temporary variables don't cause any heap allocation?

[2020-04-19 10:07] proyan commented on #1164
Ah I just read the doc. Only dynamic sized matrices are allocated at runtime.
So let me rephrase my question. Should we try to minimize/remove the temporary variables inside the spatial classes?

[2020-04-19 10:23] jcarpent commented on #1164
Normally, all the temporary variables in algorithms are allocated on the stack, meaning that they are transparent for the user and the performances. There are some point necessary to save intermediate computations that are used at several points of an algorithm.

Where do you have trouble or concerns @proyan? It would be worthy to provide code lines to be sure what you really mean.

[2020-04-19 10:38] proyan commented on #1164
I don't have any trouble in implementation. This is just a general line of inquiry.
What I want to understand is the effect of reducing the use of temporary variables. Or rather the effect of _re-using_ variables in some higher scopes to store the temporary quantities, instead of locally declaring a temporary variable inside a function.

[2020-04-19 10:43] jcarpent commented on #1164
The thing is that we cannot store in Data all the variables used internally inside Pinocchio, as they might be used and transformed by other algorithms. At some point, we have to make a readability choice and this what has been done in Pinocchio so far.
But again, please provide an example of your inquiry to discuss it. It is hard to follow your mind otherwise.

[2020-04-19 10:57] jcarpent commented on #1164
In a general and I think this is especially true for Pinocchio, we have to ta care of the computational complexity of the algorithms in large, and less about temporary allocated on the stack.
This is the main purpose of having new formulations of original Featherstone algorithms, that provides additional outputs that are very useful for robotics applications. To also reach this goal, there are sti

[2020-04-19 10:59] jcarpent commented on #1164
I hope my answer can close this debate and open a new one related to improving the computational complexity of most algorithms and mostly, providing a nice and easy API for code generation!

[2020-04-19 11:00] proyan commented on #1164
Thanks for the response.

[2020-04-19 11:42] gabrielebndn commented on #1164
Temporaries may introduce small inefficiencies if they cause unnecessary copies. But it is probably negligible for the spatial classes

[2020-04-19 12:11] jmirabel commented on #1164
Mind that there is something very unnatural with temporaries, which we usually forget. We see all variables as equivalent regarding memory while compilers have two ways of storing variables : registers and RAM.

Assume you want to write a function that does `a = M * a` where `a` is a 3d vector and `M` a 3x3 matrix.
[code]
`function2` seems to have a lower memory footprint because it does not have

[2020-04-19 12:30] cmastalli commented on #1164
This is an interesting comments. If you have extra source I would be happy to read. My question regarding this comment is as follows "could be possible, in some compilers, to have a benefit with function 2?

Furthermore, it would be useful to define standard CPUs for benchmarking our algorithms.

[2020-04-19 12:45] proyan commented on #1164
Is this a general statement in Eigen that if a) Matrix sizes are fixed and b) aliasing cannot be avoided, it is better to have function1 rather than function2?

[2020-04-19 13:29] jcarpent commented on #1164
To second the remark made by @jmirabel, here, for `function2`, the additional memory footprint is expected because tmp is located in the RAM, and should pass by the different memory levels. While a local variable allocated on the stack won't suffert the same travel in memory.

[2020-04-19 13:37] jcarpent commented on #1161
We might think to add a nickname for the placement quantity. Maybe be it would be worthy do discuss it later if you don't mind, when talking about Pinocchio 3.

[2020-04-19 13:37] #1161 closed

[2020-04-19 15:00] jcarpent commented on #1165
Solved by #1166.

[2020-04-19 15:00] #1165 closed

[2020-04-19 15:37] jmirabel commented on #1164
Of course, it is more complex than this. Here are some examples where it is unclear which one is better.
- if the size of the temporary cannot fit into registers.
- If your function is inline, then, it also depends on the usage of CPU registers where called.

There is only one thing you should trust (and it is not me): assembly code.

I learned this by using assembly code when working on hpp-fcl.

[2020-04-19 19:57] proyan commented on #1164
It was mostly for temporary variables like https://github.com/stack-of-tasks/pinocchio/blob/01d7e68893b3de43678462bb2c2dc04e3ac79d53/src/multibody/liegroup/special-euclidean.hpp#L309

that I opened this issue. But based on the discussion I won't change these quantities for the time being.  Thanks for the replies, I'll close this now.

[2020-04-19 19:57] #1164 closed

[2020-04-20 07:47] jmirabel commented on #1164
6x6 is already big for registers so we may gain something in removing those temporaries, *if done carefully*.

[2020-04-20 08:20] jcarpent commented on #1163
@proyan When do handle this task? Depending on your answer, it might be requested to perform a new release before this one, independendant from the status of this action.

[2020-04-20 08:34] proyan commented on #1163
Extending to the multiplication operators might take some time and ingenuity. But what I can do is push the ADDTO and RMTO operators today, and then you could make the release. Is that okay?

[2020-04-20 09:05] jcarpent commented on #1163
Yep. This is fine for me. Thanks a lot ;)

[2020-04-20 13:25] gabrielebndn opened #1171 "Support for getting velocities and accelerations?"
Hi,
traditionally, in Pinocchio, we compute `forwardKinematics()` and then we get the results directly from `data.v[i]` or `data.a[i]`. These are expressed in the LOCAL frame, and are defined according to Spatial algebra style.

However, not everybody works this way. Many people prefer to employ the "traditional" velocities, corresponding to `LOCAL_WORLD_ALIGNED`. We can see it here:
#1140
#773
#9

[2020-04-20 13:29] jcarpent commented on #1171
Yes, for sure. I had the same suggestion in mind for a while ago.
You can implement these signatures and their Python bindings.
Do you want to contribute before the next release? I will do it tonight or tomorrow morning.

[2020-04-20 13:36] cmastalli commented on #1171
I think more importantly it is to have a proper documentation. But this is nice as well.

The drawback of providing eatable food to our users is then they will be not able to write similar code which is needed when you want to retrieve a velocity / acceleration in a generic frame (not inside the model).

[2020-04-20 13:53] jcarpent commented on #1163
Partially solved by #1169. The rest will be handled latter if needed.

[2020-04-20 13:53] #1163 closed

[2020-04-20 14:58] gabrielebndn commented on #1171
Sorry, closed by mistake

[2020-04-21 08:11] jcarpent commented on #1171
@gabrielebndn Should I wait for your contribution for the next release?

[2020-04-21 08:27] gabrielebndn commented on #1171
@jcarpent, as you want. I hadn't the time to do it yesterday, but I think I might have it today. Anyhow, I think there is no reason to block a release for this :)

[2020-04-23 07:58] jmirabel opened #1178 "Update of reference configurations"
At the moment, when appending models with either `buildModel` or `appendModel`, the reference configurations are not updated.

[2020-04-23 08:03] jcarpent commented on #1178
Can you fix it?

[2020-04-23 08:16] jmirabel commented on #1178
Is there any other place than the two I mentioned ?

[2020-04-23 08:27] jcarpent commented on #1178
I don't think so. There are the two I think.

[2020-04-23 22:48] wxmerkt opened #1181 "isUnitary assert in dDifference requires high precision, does not assert on 0-vector"
Since 0d0e1e4999335da660de6bf63393448fa4d7302d was merged, we are having the `isUnitary` assert triggered regularly when passing states in where the quaternion is not explicitly normalised right before we pass it to `dDifference`. The off-axis terms are often in the range of 1e-8 - but they still trigger the `isUnitary` check since no precision is specified.

However, it still does not trigger whe

[2020-04-24 08:05] jmirabel commented on #1181
I think so too. Eigen states that the conversion from quaternion to rotation matrix yield an undefined result if the quaternion is not normalized. I have checked what it returns when given a zero quaterion.

This can only be fixed by checking the quaternion norm.

[2020-04-24 08:18] jcarpent commented on #1181
We should maybe provide a isUnitary function dedicated to Quaternions.
The remarks made by @wxmerkt mean that we are not checking sufficient cases inside unit testing.
It also means that at some point in Croco, re-normalization of the state vector should be enforced to avoid numerical drifts.

[2020-04-24 08:52] jcarpent commented on #1181
I've implemented a tiny example to check it, but I think the asserts are correct, in the sense that they were not present before, because we were not checking them, this was a mistake from the Pinocchio side.

One solution would be to allow the users to relax this constraint, by defining his/her own tolerance value. @wxmerkt This something you would use?

Here is the script compilation command:
[c

[2020-04-24 10:31] wxmerkt commented on #1181
Regarding (1): I am now renormalising the state and the assert no longer gets triggered. From experience/theory, is there are better tolerance than `dummy_precision` we should pass by default?

Regarding (2): Perhaps we should add another check checking that the norm is approximately 1 as @jmirabel also suggested: The all-zeros-uninitialised case would be caught this way.

[2020-04-24 20:36] jcarpent commented on #1181
Solved by #1182.

[2020-04-24 20:36] #1181 closed

[2020-04-25 12:10] wxmerkt commented on #1181
I still get this triggered by the latest master. Here is the use case - it involves using `integrate` and `difference` a lot, and in sequence: It's a finite difference method for a unit test (pseudo-code):

dx = zeros(NDX)
dx[i] = eps / 2.0
q_plus = pin.integrate(q, dx[:nv])
q_minus = pin.integrate(q, -dx[:nv])
jacobian[:,i] = pin.difference(q_plus, q_minus) / eps

This fails in the difference ope

[2020-04-26 18:11] a-z-e-r-i-l-a commented on #973
I also get the same error, but couldn't follow the comments here about a possible solution.
I get the following output with pkg-config:
[code]

[2020-04-27 09:30] jmirabel opened #1187 "Exposition of lie groups"
Hi all,

I would like to be able to use the R3xSO3 interpolation in Python. There are several way of doing this:
- [easy] add a function (either to SE3 or a free function),
- [hard] bind the Lie group classes.

@jcarpent I remember you were reluctant in binding the Lie group classes. For simplicity and compilation time, I understand this. However, there are still a few functionalities in Pinocchio

[2020-04-27 09:33] jcarpent commented on #1187
On the contrary, I was in favour. But I think this interface should be largely improved, by considering the use of Variant to handle all the contexts in a unified manner.

[2020-04-27 09:35] jmirabel commented on #1187
I misunderstood something then.

what do you mean ?

[2020-04-27 09:40] jcarpent commented on #1187
Depending on the Lie group type, the inputs and outputs of the methods are of different types. Similarly to what it has been done for Joints, we should have a common interface that outputs an SE3 dense element when performing the interpolation for instance.

[2020-04-27 09:51] jmirabel commented on #1187
The input and output types are different because the dimensions are different. One way of unifying is to make it possible to pass vectors of dynamic size. This would be fairly simple to achieve.

The other way, which you suggest, is to use a vector of variants as input. For instance, SpecialEuclidean<3, ...> work on SE3Tpl<...> and not on Vector<7, ...>. This will be a lot more complex to do. Addi

[2020-04-27 10:02] jcarpent commented on #1187
We can discuss it on a private oral channel if you want, it will be easier to define the structure.
I would like to take the opportunity of your suggestion to handle for instance the concept of ConfigVectorType and the associated TangentVectorType that would be associated to a Model

[2020-04-27 13:13] EnricoMingo commented on #1171
Hi all, I don't want to interfere with your decisions but I strongly believe that a _high layer_ of _classical_ kinematics and dynamics quantities computation may encourage new users which are not familiar with Featherstone formalism, to use your library. Also consider that spatial quantities sometimes are difficult to handle for practical problems, being instead super good for computation purpose

[2020-04-27 13:19] jcarpent commented on #1171
Thanks @EnricoMingo for your opinion. I think such feedback is very useful.

[2020-04-27 13:20] jcarpent commented on #1171
Solved by #1186.

[2020-04-27 13:20] #1171 closed

[2020-04-27 16:49] micko-plz commented on #973
Hi @a-z-e-r-i-l-a , I imagine that since this issue is closed the authors won't see your question. It can be tricky to set up the CMake files at the start as it seems like just adding magic words until it works.  I'll attach the CMakeLists.txt file for my own package that uses pinocchio. I've removed most of the information unimportant to your problem, but just look for any lines containing "pinoc

[2020-04-28 21:45] cmastalli opened #1189 "Panda3d viewer is broken in examples"
For more details see https://github.com/stack-of-tasks/pinocchio/pull/1183#pullrequestreview-402233989

[2020-04-28 21:51] cmastalli commented on #881
I am coming again to this topic since it's preventing the deployment of multi-threading applications in Crocoddyl.

I would like to have a better idea of why we encounter problems only for the impulse dynamics. Note that this doesn't happen in the case of `forwardDynamics`. Any idea?

[2020-04-28 22:43] gabrielebndn commented on #1189
The viewer isn't broken. The examples are broken. This is because they try to import `Panda3dViewer` (an alias of `Viewer`) and `ViewerClosedError` from `pinocchio.visualize.panda3d_visualize`, but they are not there any more. I think the changes in #1183 were correct and the solution to fix the examples is simple: just import `Viewer` and `ViewerClosedError` directly from `panda3d_viewer`.

[2020-04-28 22:47] cmastalli commented on #1189
Thanks for the clarification. Indeed, I wasn't sure about this point.

[2020-04-29 07:20] jcarpent commented on #881
impulse and forward dynamics are based on the same routines. There is no reason. Again, please provide self content examples to highlight your issues.

[2020-04-29 07:51] cmastalli commented on #881
@jcarpent thank you for your response. I checked again my implementation, and the issue could be in my side. Let me copy the part of my code for computing the impulse derivatives:
[code]

As you can see, I change the gravity which might create problems in a multithreading app. Note that my goal in this piece of code is to compute `dtau_dq`.

So my question to you is "how can I cancel `dgrav_dq` wi

[2020-04-29 07:54] jcarpent commented on #881
there is this feature already impremented in Pinocchio and called `computeGeneralizedGravityDerivatives`.

[2020-04-29 08:04] cmastalli commented on #881
Awesome, thank you so much for a prompt response.
I will try this implementation, and keep you updated.

[2020-04-29 11:12] ikalevatykh commented on #1189
@cmastalli , it is not a good idea to "fix" working code ;)

[2020-04-29 13:21] cmastalli commented on #1189
@cmastalli , it is not a good idea to "fix" working code ;)

@ikalevatykh I didn't modify that part of code. I just fixed the installation of the files. You could check the for history for details.

[2020-04-29 14:52] jcarpent commented on #1189
Solved by #1191.

[2020-04-29 14:52] #1189 closed

[2020-04-29 17:14] cmastalli opened #1192 "Pickle support is not working in Pinocchio Model + unittest"
I have installed the latest devel branch, I can confirm that the Pickle support works only in Pinocchio Data. I am using Python 2.5 under Ubuntu 18.04.

I suggest to include Pickle support unit-test for all cases, e.g. Pinocchio model and data, and vectors.

[2020-04-29 17:19] jcarpent commented on #1192
I'm sorry @cmastalli to contradict you, but I just want to mention that pickling is tested for both Model and Data. Please see the relevant Python unit tests and they are passing on Travis and Github Action.
PS: what is your Python 2.5? It looks very weird.

[2020-04-29 17:36] jcarpent commented on #1192
The way Pickling is working in Pinocchio is not traditional, in the sense that I'm using Boost.Serialization to serialize the containers. This sensibly reduces the amount of work, it is more efficient (than traditional pickling) and very flexible. In this context, it will require some additional work to support the pickling of vectors (I guess @cmastalli meant std::vector) that I do not think this

[2020-04-29 17:37] cmastalli commented on #1192
Sorry if I assumed that it was not tested.

I dig a bit into this issue. Maybe the problem is in the `RobotWrapper`, let me share my code
[code]

You can find the loading mechanism in example-robot-data (base on RobotWrapper): https://github.com/Gepetto/example-robot-data/blob/master/python/example_robot_data/robots_loader.py#L66

[2020-04-29 17:40] gabrielebndn commented on #1192
The loaders in example-robot-data add an extraneous `armature` variable to model. May this be the cause? Personally, I would suggest to get rid of it

[2020-04-29 17:43] cmastalli commented on #1192
Nice catch! I will revise the example-robot-data mechanism and include some unittests.

I think I could close this issue. Thank you guys.

[2020-04-29 17:43] #1192 closed

[2020-04-29 18:05] cmastalli commented on #881
@jcarpent I implemented this solution. I confirm you that we don't have any issue in Crocoddyl.

For more details see: https://github.com/loco-3d/crocoddyl/pull/765.

This issue is still important but not relevant for Crocoddyl. Feel free to keep open or close it!

[2020-04-30 00:01] sumedh7 opened #1193 "Error with C++ signature of computeJointJacobians and framesForwardKinematics"
`pinocchio.framesForwardKinematics(self.robot_model, self.data, joint_positions)`

ArgumentError: Python argument types in

    pinocchio.libpinocchio_pywrap.framesForwardKinematics(Model, Data, numpy.ndarray)

did not match C++ signature:

    framesForwardKinematics(pinocchio::ModelTpl<double, 0, pinocchio::JointCollectionDefaultTpl> Model, pinocchio::DataTpl<double, 0, pinocchio::JointCollectio

[2020-04-30 00:05] sumedh7 commented on #1193
I made sure the following:
1. self.robot_model is made from pinocchio.buildModelFromUrdf
2. self.data = self.robot_model.createData()
3. joint_position is np.array

My guess is, this error comes from different pinocchio version. I am working on Mac. I installed pinocchio from conda. If I'm trying to install pinocchio from brew, it installs for python3.8. I want to brew install for python3.7. Maybe

[2020-04-30 05:21] jcarpent commented on #1193
@sumedh7 to solve your issue, we need a minimal Python script which reproduces your error. Could you provide it?

I guess your error is coming from the conversation from Numpy to Eigen.
Could you also provide the version of Pinocchio and EigenPy by using the flag __version__ of the imported libs in Python.

In the meantime, please use Conda or Brew to install Pinocchio. Not both at the same time.

[2020-04-30 07:02] jcarpent commented on #1193
Please check with the following input:
[code]

[2020-04-30 17:06] sumedh7 commented on #1193
Hi, :
the code
`pinocchio.computeJointJacobians(self.robot_model, self.data, joint_positions)
  pinocchio.framesForwardKinematics(
            self.robot_model, self.data, joint_positions)`

I have 3 versions of pinocchio - 2.4.1 installed by brew and 2.1.8 and 2.3.1, installed by conda. (I was trying to install through various permutations).  EigenPy = 1.6.0 through conda forge. Which ones should

[2020-04-30 17:30] jcarpent commented on #1193
Prefer conda to brew if you are using Python.
Uninstall the brew version and the two conda versions and redo a `conda install pinocchio` to get the latest updated versions. This should also update EigenPy to the latest 2.3.2 version which provides several fixes.

[2020-05-02 07:12] jcarpent commented on #1193
@sumedh7 feel free to reopen this issue if needed.

[2020-05-02 07:12] #1193 closed

[2020-05-04 12:47] mfocchi commented on #1171
@gabrielebndn  will these changes be incorporated also in the package robotpkg-py27-pinocchio?

[2020-05-04 13:00] cmastalli commented on #1171
They are always released into Python 2.7 (at least until the team decided to do not support anymore Python 2). The release of new feature might take between few hours to weeks. You can always check if the the release versions by typing:
[code]

If you want to be faster than this, then I suggest you to install Pinocchio by source.

[2020-05-04 14:17] gabrielebndn commented on #1171
@mfocchi, I am not responsible for managing the packages, so I have no voice on the subject and only limited information :) It certainly _will_ be included, but I cannot say _when_.

I can tell you the changes have been accepted in the devel branch, which means you can already use them, and that they will denfinitely be included in next source release (when they will also be merged to the master b

[2020-05-04 14:58] mfocchi commented on #1171
ok thanks, I will keep checking the https://github.com/stack-of-tasks/pinocchio/releases site

[2020-05-04 16:22] jcarpent commented on #1171
@mfocchi If you need it soon, I can provide a release of course. I'm not making too many releases normally if it is not necessary, as it implies a lot of works to valid it.
But for collaborators, we can push a new one on demand.

By the way, you can install Pinocchio from conda which a Python package manager which allows us to release fastly Pinocchio (much faster than using robotpkg, where all th

[2020-05-05 07:36] cmastalli opened #1195 "Few unittests fails with `-march=native`"
I have compiled the latest version of Pinocchio with all the options enables (with the exception of CasADi). When I run the tests, I encountered the follows:
[code]

I decided to inspect a little the `test-cpp-urdf` using `gdb`. It seems there is an issue with the geometry stuff. This is the message
[code]
in particular, the problem seems to be in `details::parseTreeForGeom`.

Note that I didn't t

[2020-05-05 07:40] jcarpent commented on #1195
-march=native is changing the memory allocator in Eigen. So, if all the libraries that are using Eigen and are also Pinocchio's dependencies, then they should be compiled with the same compilations flags when allowing vectorization and so on.
Please redo your test by not considering `hpp-fcl`.

[2020-05-05 07:57] jmirabel commented on #1195
I think I already tried to compile both hpp-fcl and pinocchio with `-march=native` and I encountered alignment issues. This was a few months ago so I don't remember the details and I may have made a mistake when testing it.

[2020-05-05 07:58] jmirabel commented on #1195
I suspect there is a missing `EIGEN_MAKE_ALIGNED_OPERATOR_NEW` somewhere.

[2020-05-05 07:59] jcarpent commented on #1195
This should be in hpp-fcl, not in Pinocchio then.

[2020-05-05 08:01] jcarpent commented on #1195
On my side, everything works fine with alignment and so, and without setting hpp-fcl.
By the way, @cmastalli it seems that you're linking to an installed pinocchio lib. Be sure that this is the correct one.

[2020-05-05 08:03] jmirabel commented on #1195
Or in the part of Pinocchio which is enabled when compiled with hpp-fcl. At least, all the unit test in hpp-fcl were ok with native flags.

[2020-05-05 08:06] jcarpent commented on #1195
The Python bindings need alignment to work properly. So, in this way, it has been checked.
And I've checked twice, and all the geometry containers of Pinocchio have `EIGEN_MAKE_ALIGNED_OPERATOR_NEW`.

[2020-05-05 08:09] jmirabel commented on #1195
Let see if solving  humanoid-path-planner/hpp-fcl#166 fixes the issue in Pinocchio.

[2020-05-05 08:12] jmirabel commented on #1195
Isn't this the same for hpp-fcl ?

[2020-05-05 08:13] mfocchi commented on #1171
@jcarpent no worries I will need by beginning of June for some letures. In the meanwhile I will try the conda installation.

[2020-05-05 08:23] jcarpent commented on #1195
I don't think so because you are using shared_ptr to wrap them. This is not the case for Pinocchio, where Python is managing the memory.

[2020-05-05 09:05] jmirabel commented on #1195
I must have been fooled by the linker too when I tried it. I can't reproduce the issue I had and the unit test are passing.

[2020-05-05 09:15] cmastalli commented on #1195
If I compile Pinocchio without `hpp-fcl`, then the unittest are passing.

This happens to me with `hpp-fcl`. Then I didn't decide to install it with `-march=native` which is strictly necessary for compiling Pinocchio with collision support. @jcarpent there is no issue in `hpp-fcl`, neither in Pinocchio. Again this comes due to linking to installed libraries.

@jcarpent @jmirabel thank you so much

[2020-05-05 09:15] #1195 closed

[2020-05-05 09:19] jmirabel commented on #1195
This is new (from ubuntu 18.04). This issue is very annoying and even if I am aware of it, I am regularly trapped. It *should* be fixed in the JRL cmake module.

[2020-05-05 10:32] Linjackffy opened #1196 "build error after update pinocchio"
after update pinocchio to 2.4.3, I found an error like that:
[code]
But it had no error in pinocchio 2.2.0.
Could someone tell me where the problem is?
Thanks!

[2020-05-05 10:48] gabrielebndn opened #1198 "getFrameId behavior when out of range."
This is similar to #1025, however there are some specificities which encourage me to open a separate issue.

Currently, if a frame is not present, `getFrameId` returns `nframes` in Release mode _but_ it triggers an assertion in Debug mode:

https://github.com/stack-of-tasks/pinocchio/blob/8f97fda4a93e2b004cacfc29d225156c7bcfd3eb/src/multibody/model.hxx#L236

The fact that the assertion is raised i

[2020-05-05 10:54] gabrielebndn opened #1199 "addFrame should return FrameIndex"
Currently, `addFrame` returns and `int`.
There is really no reason for this to happen, since as far as I can tell the return values are never negative.

This is not only unintuitive, but it also forces explicit casts if you want to use it where a `FrameIndex` is expected.

I believe the return type should be `FrameIndex`. Changing this now should not create serious problems to users. However, it m

[2020-05-05 11:00] jmirabel commented on #1199
For me, it is fine to fix this now.

[2020-05-05 11:31] wxmerkt commented on #1196
What is your CMakeLists for linking? You need to link against `${pinocchio_LIBRARIES}` now because the URDF parser is now a library.

[2020-05-05 12:18] jcarpent commented on #1198
You can proceed to 1. Next time, I think it would be better to have the discussion in #1025, to avoid issue inflation and repetitions I would say.

[2020-05-05 12:19] jcarpent commented on #1199
This is fine for me too. You can propose a new PR. Thanks @gabrielebndn.

[2020-05-05 13:12] gabrielebndn commented on #1198
Yes, I had thought about putting it in #1025, but since there was the specific issue with the assertion I thought it was better to open a new issue. I'll do it as soon as I can

[2020-05-05 13:35] jmirabel opened #1200 "Conversion operator between SE3 and hpp::fcl::Transform3f"
What would you think of:
1. a (explicit ?) conversion operator in class SE3Tpl (or SE3Base) to hpp::fcl::Transform3f and
1. a (explicit ?) constructor of class SE3Tpl that takes a hpp::fcl::Transform3f as input ?

At the moment, there are two functions `toFclTransform3f` and `toPinocchioSE3`. They are convenient but make the code a bit less readable.

Another possible way of implementing this is t

[2020-05-05 13:38] jcarpent commented on #1200
I'm not in favour of having hpp-fcl dependencies in Spatial classes. Because at some point, hpp-fcl is optional and other frameworks for collision detection will be included in the near future.

I think the current solution is the best we can do, having implemented an easy interface for Python.
What we can add with this respect is the common interface to Eigen homogenous transform with a dedicated

[2020-05-05 13:45] jmirabel commented on #1200
I understand your point. I will stick to the existing function then. Thanks for your quick answer.

[2020-05-05 13:45] #1200 closed

[2020-05-05 13:47] jcarpent commented on #1200
We can meet your wish with my second proposition if you want ;) It will be common to all frameworks then.

[2020-05-05 13:52] cmastalli opened #1201 "pinocchio.Data(model) fails with -march=native"
Hi all,

I have spent a couple of hours understanding what it is going, however, I have to admit that I don't have any clue. I have compiled Pinocchio with `march=native` flag, without support of Codegen and Collision to narrow down the issue, and this is the problem:
[code]
Additionally, this is the detailed information error generated by `gdb`:
[code]

I inspected the `pinocchio::Data` structure

[2020-05-05 13:53] jmirabel commented on #1200
If SE3 can be converted to Eigen::Transform and Transform3f has a constructor from a Eigen::Transform, will the compiler understand:
[code]

Because if we need to add something, then, `toFclTransform3f` is good enough.

[2020-05-05 13:59] jcarpent commented on #1201
It will be hard to debug your case if you did not provide the compilation flags you're using to compile EigenPy and Pinocchio. In addition, you should provide the current version of Eigen you're using. If you are still on the master branch of Eigen (according to the output you provided, this is the case), I prefer to avoid debugging it. Please use a release version instead.

[2020-05-05 14:01] jcarpent commented on #1200
Not directly, you will need to call the cast operator to Eigen::Transform.

[2020-05-05 14:02] cmastalli commented on #1201
I compiled both in Release mode with `-march=native`, nothing else.

I am using Eigen 3.3.7. As a side comment -- there are other issues in the Eigen master but I abandon this since it is not stable neither priority.

[2020-05-05 14:12] jmirabel commented on #1201
Do you have the same behavior in C++ ?

[2020-05-05 14:13] jcarpent commented on #1201
It is weird, because in Release mode you should not see any of the assert.

[2020-05-05 14:14] jmirabel commented on #1200
So I don't think there are benefits today.

[2020-05-05 14:15] jmirabel commented on #1201
I guess it is in debug mode: */home/cmastalli/devel/pinocchio/build_debug/include/pinocchio/multibody/data.hxx*

[2020-05-05 14:16] cmastalli commented on #1201
Sorry, I meant that I encountered the issue with Release mode. Then I debugged with `gdb` and of course switch to Debug mode (only in Pinocchio).

[2020-05-05 14:17] cmastalli commented on #1201
I didn't try in c++.

[2020-05-05 14:21] jmirabel commented on #1201
It would help understanding whether the issue is at the bindings level or at the core level. Could you to it ?

[2020-05-05 14:24] jcarpent commented on #1201
The issue is coming from Python in fact. At the Boost level, we have to mention that Model has to be realigned by thanks to some template specialization provided by EigenPy.

[2020-05-05 15:18] edwardchaos opened #1203 "pinocchio buildModel seg faults after update"
build Model is called as:
temp_complete_urdf.txt is a file containing the entire urdf.
version 2.4.3 robotpkg-pinocchio

[code]
![image](https://user-images.githubusercontent.com/7596063/81082757-b08bb680-8ec1-11ea-895c-c41c3e0a26d3.png)

![image](https://user-images.githubusercontent.com/7596063/81083058-18da9800-8ec2-11ea-9e78-3b5184973785.png)

[2020-05-05 15:24] jcarpent commented on #1203
Hello (to start with),

Thanks for raising a new issue. As you can imagine, from the elements you provided it is hard for maintainers to replicate your bug. Could you provide the URDF file and also the compilation flags you have been using?
Could you also try the Python bindings to check everything works well?
A last but not least, how many installations of Pinocchio do you have on your computer?

[2020-05-05 15:31] jcarpent commented on #1203
@nim65s Could you try on your side this code?
@edwardchaos You can also try to compile Pinocchio from source and run 'make test-cpp-urdf && ./unittest/test-cpp-urdf` which is testing a case similar to yours.

[2020-05-05 16:12] nim65s commented on #1203
I can't reproduce any segfault.

Here is what I tried:
- `docker run --rm -it gepetto/buildfarm:robotpkg-18.04`
- `apt update -qqy && apt install -qqy robotpkg-pinocchio robotpkg-example-robot-data`
- `git clone https://github.com/stack-of-tasks/pinocchio-minimal.git`
- edit `main.cpp` with:

[code]
- `mkdir build; cd build; cmake ..; make; ./main`
- got `model name: talos`, as expected, without s

[2020-05-05 16:16] jcarpent commented on #1203
Thanks a lot @nim65s for the quick feedback. @edwardchaos Could you confirm this example is running well on your side?

[2020-05-05 16:21] edwardchaos commented on #1203
Thanks, after downgrading to 2.3.1, the issue is still there.

[2020-05-05 16:21] #1203 closed

[2020-05-05 16:23] jcarpent commented on #1203
@edwardchaos This is not clear your last message. Do you still have the issue or not?

[2020-05-05 16:47] edwardchaos commented on #1203
@jcarpent I still have the issue but the cause is not a version upgrade. I'm not exactly sure what it is right now, but maybe it is conflicting flag definitions or some mixture of boost/eigen versions.

locate libpinocchio.so returns only 2 so files in /opt/openrobot (I only have it installed through apt, not built from source so I only have 1 version).

I'll continue to debug and if something int

[2020-05-05 16:58] jcarpent commented on #1203
Remove all so files I would suggest and reinstall Pinocchio.

[2020-05-05 19:26] #1201 closed

[2020-05-06 03:31] Linjackffy commented on #1196
@wxmerkt Your solution fixes my problem. Thank you so much!

[2020-05-06 03:31] #1196 closed

[2020-05-06 16:35] grizzi opened #1205 "Task space controller robotic arm"
Hi,
I have been trying to write a task space controller with no success so far. If it would work, I could add it to the list of examples, since this seems to be missing.

I cannot understand what is going wrong with the code. I have been using `pinocchio` also to simulate forward the robot. Here is the main part of the code (assume variables get initialized where needed):
[code]
I was using RViz t

[2020-05-06 16:39] jcarpent commented on #1205
Nice code @grizzi ... and what is your issue?

[2020-05-06 16:41] grizzi commented on #1205
The arm is unstable and does not reach the end effector reference `x_des` which is in proximity of the current one (which I visually check through pose markers in RViz). I am concerned I am misunderstanding something.

[2020-05-06 16:41] grizzi commented on #1205
By the way, thanks for the super fast reply!

[2020-05-06 16:50] grizzi commented on #1205
I tought this was expressed through the enum `pinocchio::WORLD` but I will check that again!

[2020-05-06 16:51] jcarpent commented on #1205
```pinocchio::Motion xd = getFrameVelocity(model_, data_, frame_id_);``` is expressed in the LOCAL frame of the Frame

[2020-05-07 01:55] aykutonol opened #1206 "Constrained dynamics"
First of all, thank you very much for creating and maintaining this very useful and elegant tool!

I have a question regarding the forward dynamics and its partial derivatives with external contacts. I'd like to use contact dynamics obtained from an external solver, MuJoCo. So, I need to use the `aba() [2/2]` and `computeABADerivatives() [4/4]` methods. However, I'm having difficulty understanding

[2020-05-07 12:40] jcarpent commented on #1206
First of all, thanks for the acknowledgement of our work. It is true that this is not an easy task to maintain, extend and provide support to all the users for 'free'.

The contact forces should be expressed in the local frame of the joint to be valid. In future, additional options will be provided to mention in which the forces are expressed.
Concerning your case, lambda_c is related to a link on

[2020-05-08 06:58] andreadelprete opened #1208 "ImportError: libhpp-fcl.so: undefined symbol"
Hi,

sorry to bother you but recently I've been having lots of troubles with the installation of pinocchio. I am working on a VM with Ubuntu 16.04.

### Binary packages
If I install it with the binaries via apt then I get a segmentation fault when I import pinocchio in python (3). If before importing pinocchio I import eigenpy, then when I import pinocchio I get this error:
[code]
This is the list

[2020-05-08 07:00] andreadelprete commented on #1208
Update. I've updated to the latest version of pinocchio (branch devel) and tried to compile again. Now I get a different error
[code]

[2020-05-08 07:13] proyan commented on #1208
Hi Andrea,

In the build command, it looks like you are linking against -lpython2.7 and
-lboost_python-35

To me this seems to be the reason.

On May 8, 2020 9:00:55 AM GMT+02:00, Andrea Del Prete <notifications@github.com> wrote:

[2020-05-08 07:38] jcarpent commented on #1208
@andreadelprete if you just need the Python bindings, I would suggest to use conda. It is extremely convenient, without all the troubles you have encountered so far.

[2020-05-08 07:42] jcarpent commented on #1208
For this issue, I would advise to set OFF the compilation of unit tests and to adjust the available memory allocated for the VM.

[2020-05-08 07:50] jcarpent commented on #1208
For the assimp issue, it may be related to multiple lib installations or directly to robotpkg. I let @nim65s provide guidance for it.

[2020-05-08 07:58] jmirabel commented on #1208
Can you run `ldd /opt/openrobots/lib/python3.5/site-packages/pinocchio/libpinocchio_wrap.so` ?

[2020-05-08 08:42] andreadelprete commented on #1208
@proyan Well spotted! Indeed there was a mix of Python 2 and 3. I don't know why though. Now I've forced cmake to use python3 by manually changing the cmake variables. Is there a more elegant way to tell cmake I wanna use python 3?

@jmirabel
[code]

@jcarpent Thanks for the advice! Disabling the unit tests solved the compilation failure problem. Using Conda is a nice plan B, but I'd rather have p

[2020-05-08 09:04] cmastalli commented on #1208
I prefer to use `update-alternatives` as presented here: https://unix.stackexchange.com/questions/410579/change-the-python3-default-version-in-ubuntu

If you use `ipython` you need to remove the default version 2 described in the script inside `/usr/bin/ipython`.

[2020-05-08 09:07] jcarpent commented on #1208
`cmake .. -DPYTHON_EXECUTABLE=$(which python3)`

If you don't need fcl, it won't be compiled by default when you will compile it from source.

[2020-05-08 09:08] jcarpent commented on #1208
@andreadelprete Are you using the Python bindings of TSID or is it simply in C++?

[2020-05-08 10:26] andreadelprete commented on #1208
@jcarpent Regarding TSID, I use both the C++ and the python bindings. But regarding the current issue, I am simply trying to use pinocchio from python, so I think this has nothing to do with TSID.

I've managed to install pinocchio from source, I've uninstalled the binary version, but the problem is still there: I get segmentation fault as soon as I import pinocchio. Trying to debug python to see

[2020-05-08 15:47] jcarpent commented on #1208
I think here the issue is related much to TSID than to Pinocchio. Crocoddyl works perfectly well with Pinocchio using similar approach.
In your case, I think you have two different installations of the Python bindings of Pinocchio. This what the ouput is saying.

[2020-05-08 15:52] cmastalli commented on #1208
It seems that you have two different Python installations of Pinocchio.

[2020-05-08 20:14] andreadelprete commented on #1208
I've solved the problem, but I did not have two different installations of the Python bindings of Pinocchio (despite what the error message was saying). To solve the issue I had to uninstall hpp-fcl (previously installed with apt). Here a summary of what I did.

First I've removed all extra paths from my PYTHONPATH and made some tests to check whether I really had two installations of pinocchio.
[

[2020-05-09 02:20] aykutonol commented on #1206
Yeah, this answers my question. Thanks for your prompt and helpful reply!

[2020-05-09 02:20] #1206 closed

[2020-05-09 06:42] jmirabel commented on #1208
Not sure, but this may be your issue. I think you should use assimp from the official repositories, not from robotpkg. I am not sure though.

[2020-05-09 17:23] andreadelprete commented on #1208
Thanks @jmirabel for the suggestion. After succeeding to compile and install pinocchio from source I started experiencing many issues with other libraries (gepetto-viewer and tsid). So I gave a try to your suggestion, uninstalling robotpkg-assimp (the official version was already installed). Unfortunately that did not change anything.

Then I've simply tried re-installing all robotpkg packages (in

[2020-05-09 17:23] #1208 closed

[2020-05-11 10:12] jcarpent commented on #1199
Solved by #1209

[2020-05-11 10:12] #1199 closed

[2020-05-11 10:12] jcarpent commented on #1198
Solved by #1209

[2020-05-11 10:12] #1198 closed

[2020-05-11 10:13] jcarpent commented on #1205
@grizzi I hope the issue is fixed on your side. I will close it. Feel free to reopen it if needed.

[2020-05-11 10:17] gabrielebndn commented on #1025
For future reference: similar changes should be applied to `getFrameId` too (see #1198)

[2020-05-12 13:51] cmastalli opened #1211 "Is there a reason to have both `lambda_c` and `impulse_c`?"
The title is quite expressive. Note that I refer to Pinocchio data.

[2020-05-12 13:53] jcarpent commented on #1211
Yes: impulse (contact impulses) is for impact dynamics and lambda (contact forces) if for contact dynamics. But in future, they won't be useful anymore.

[2020-05-12 13:59] cmastalli commented on #1211
I know that, I was thinking that we could use one to store both results (for contact and impulse dynamics). However, this question is not important if they won't be useful in future.

[2020-05-12 13:59] #1211 closed

[2020-05-12 14:15] cmastalli opened #1212 "Does computeRNEADerivatives run internally computeForwardKinematicsDerivatives?"
I have a little confusion, I didn't manage to answer this question by reading the paper / code.

[2020-05-12 14:18] jcarpent commented on #1212
There is no explicit call, but it does the computations. This is written in the paper.

[2020-05-12 14:23] cmastalli commented on #1212
Thank you so for a prompt response. So could I call getJointVelocityDerivatives after running only computeRNEADerivatives?

[2020-05-12 14:46] jcarpent commented on #1212
Yes. This is explained in the doc of the function.

[2020-05-12 14:54] #1212 closed

[2020-05-12 14:55] gabrielebndn commented on #1211
Small note: even though they might not be necessary as an intermediate result to compute the joint acceleration and delta velocity, I suggest to keep these fields and retain a way of computing them. Somebody may need them per se

[2020-05-17 10:13] andreadelprete opened #1215 "Best way to compute forward dynamics and M inverse"
Hi,

it seems that pinocchio offers different ways to compute forward dynamics and M inverse. For the forward dynamics we have:
* aba: algorithm for forward dynamics
* cholesky::decompose + cholesky::solve

For computing M inverse instead we have:
* computeMinverse: it uses the Articulated Body formulation
* cholesky::computeMinv: it uses a custom Cholesky decomposition
* crba + standard inversion

[2020-05-17 14:30] edwardchaos commented on #1203
Hi @jcarpent and @nim65s , the issue was related to conflicts in different library compile options.

I had point cloud library compiling with -march compile optimization which results in memory misalignment when pinocchio enters Eigen function calls.

Turning off all architecture optimization resolves the issue. Not directly related to pinocchio but more of a system integration thing

[2020-05-18 14:16] jcarpent commented on #1215
To quickly answer your question and according to [Analytical Derivatives of Rigid Body Dynamics Algorithms](https://hal.archives-ouvertes.fr/hal-01790971), the direct computation of Minv is much faster than all the other approaches:

- using Eigen based inverse will not be able to exploit the sparsity induced by the kinematic tree, which is relevant for a legged robot (not really for a robotic arm

[2020-05-18 15:18] andreadelprete commented on #1215
Thanks for the answer @jcarpent ! I didn't know that paper also dealt with the computation of M inverse, but it actually makes a lot of sense because that's the derivative of the dynamics w.r.t. the control!

In my case I need to compute the whole matrix `J*Minv*J` because then I have to compute a matrix exponential with that. The Jacobian `J` is the contact Jacobian with `3k` rows, with `k` being

[2020-05-18 16:03] jcarpent commented on #1215
For getting this matrix, I would suggest taking insparition from this code:
https://github.com/stack-of-tasks/pinocchio/blob/ada5b11e5881e3fbc28e3bac717075ed8fa6855c/src/algorithm/contact-dynamics.hxx#L39

[2020-05-19 16:25] grizzi commented on #1205
Hi and thanks again for your work. I have jumped back on this  work and after reading about spatial algebra things are clearing up.

From my understanding, the usual Euclidean base referenced frame is expressed through `LOCAL_WORLD_ALIGNED`. To derive my task space controller I still need the `frameJacobianTimeVariation` in such frame, but I cannot get it correct.

In [issue](https://github.com/st

[2020-05-19 20:18] mzwang828 opened #1217 "Partial derivative with respect to q in forward dynamics"
Hi,

I have a question regarding partial derivatives with respect to q for a special case, in which my f_ext term is sensitive to the model configuration. Referring to Eq. 16(a) in this [paper](https://hal.laas.fr/hal-01790971/document), the f_ext term is not a function of input variables (q, q_dot or tau). However, for our cases, the f_ext is a function of q and thus the ddq_dq output from `compu

[2020-05-20 09:18] jcarpent commented on #1217
Could you send me a private email? I will forward you the technical details of this question.

[2020-05-20 11:52] andreadelprete commented on #1215
Thanks @jcarpent , but before you wrote

Instead, in the code of `contact-dynamics.hxx` you're using Cholesky. Since I have to call ABA, and I don't need M, I thought `computeMinverse` would be the best option.

[2020-05-20 16:03] #1217 closed

[2020-05-20 16:05] jcarpent commented on #1205
OK. I may implement it in the next few days. Is it fine for you?

[2020-05-20 17:16] grizzi commented on #1205
Sure, and thanks for the effort, I really apprecciate! For the moment, I am using finite differences.

[2020-05-22 08:37] olivier-stasse opened #1219 "macOS Catalina"
Dear @jcarpent,
Thanks a lot for the homebrew formula.
But when trying on a mbp using Catalina I got the following error:
[code]
It seems that the reference to cddlib is wrong. The problem may come from the fact that homebrew-science seems to be deprecated. It is indicated in the GitHub repository that most of the formula have migrated to homebrew-core but I did not find cddlib in this repository.

[2020-05-22 08:39] jcarpent commented on #1219
Yes, it is still supported. Homebrew is evolving very rapidly, making hard to track it.
I will reintegrate the cddlib inside homebrew-gepetto.

One other way to get Pinocchio working on OSX, is to rely on Conda, which very well done ;)

[2020-05-22 14:33] jcarpent commented on #1205
Solved by #1220.

[2020-05-22 14:33] #1205 closed

[2020-05-23 10:20] jcarpent commented on #1215
I will close this issue. @andreadelprete Feel free to reopen it when needed.

[2020-05-23 10:20] #1215 closed

[2020-05-24 13:12] olivier-stasse commented on #1219
Dear Justin, I fixed my problem by compiling from source:
[code]

[2020-05-24 13:12] #1219 closed

[2020-05-26 09:14] jmirabel commented on #1201
@jcarpent at the moment, is there a way to list known bugs that will not be fixed, as this one ?

[2020-05-26 21:48] jcarpent commented on #1201
Not really. The memory is currently stored in the issues.

[2020-05-26 22:46] wxmerkt commented on #1201
Perhaps let's add a label "known-bug-wont-fix". That way it can easily be filtered

[2020-05-26 23:45] coxes opened #1222 "confused Jacobian computation"
Hi, I was using the Jacobian computation but realized I might be missing something. I used the simple 2dof robot from pybullet repo: https://github.com/bulletphysics/bullet3/blob/master/data/TwoJointRobot_wo_fixedJoints.urdf
I used pinocchio and an analytical jacobian to validate. But it seems pinocchio is ignoring the first joint's contribution to the end-effector velocities, i.e., the x, y compo

[2020-05-27 05:33] jcarpent commented on #1222
Hi @coxes,
This is because the geometric model of your analytical 2D arm and the URDF model do not match.
Indeed, the URDF model is mentioning that you first have a revolute Joint around Z axis centred in (0 0 0.075), followed by a revolution Joint around Z axis located at position (1.0 0. 0.05) with respect to the first joint frame.

In the URDF, I've seen a third joint named `link_23`, which see

[2020-05-27 16:44] coxes commented on #1222
Thank you for such a fast reply! Your snippet does give the same solution as the analytical one. I have tried using `getFrameJacobian` before but mistakenly used `ReferenceFrame.WORLD`. From the documentation in `expose-jacobian.cpp`,
[code]
I thought WORLD is what I should have used, as I was interested in the change of spatial twist in fixed world frame caused by joint positions. But that gives

[2020-05-27 19:05] felixcra opened #1223 "Definition of the mass matrix"
There are many ways to write down the equations of motion of a floating-base rigid-body system, which differ primarily by whether they are of the form
M(q) ddq + b(q,dq) = tau
or
M(q) dv + b(v,dq) = tau,
where q are the generalized positions, dq the generalized velocities and ddq the generalized accelerations. v contains the velocity and the angular velocity of the floating-base as well as the joi

[2020-05-27 19:30] jcarpent commented on #1223
Pinocchio provides the second version, meaning that in Pinocchio orientations in the configuration vector are represented as quaternions and the corresponding angular velocities as 3D vectors.

I guess in

You wanted to write M(q) dv + b(q,v)= tau.

We made this choice to avoid singularities when relying on Euler angles.
Does is answer your question?

[2020-05-27 19:42] jcarpent commented on #1222
This is due to the fact that the WORLD keyword tells you that the quantity in question is expressed at the origin of the World, in the same coordinate system as the World.
In other word, when asking to a Jacobian of a given link expressed in the WORLD frame, it corresponds to the Jacobian of the frame centered at the origin of the World but moving with the given joint and expressed in a coordinate

[2020-05-27 19:49] felixcra commented on #1223
Thank you very much for your fast response! Yes this answers my question and yes I wanted to write b(q,v) instead of b(v,dq) indeed. This issue can be closed from my side.

I'm sorry for this being offtopic, but can you recommend a resource which explains how to derive the second form? I would be able to derive the first form myself, but I struggle to familiarize myself with the second one. I foun

[2020-05-27 21:13] coxes commented on #1222
Thank you! This clears my confusion. Might be useful to add that reference to the inline doc in case others have a similar question.

[2020-05-27 21:13] #1222 closed

[2020-05-27 21:14] jcarpent commented on #1223
I think the best reference is the book of Roy Featherstone called Rigid Body Dynamics Algorithms on which Pinocchio is based. The first four chapters will help you to really capture the essence, without too much difficulty.

[2020-05-27 21:17] #1223 closed

[2020-05-28 09:13] jmirabel opened #1224 "Export of symbols"
Looking at the code in the generated file *config.hpp*, shouldn't we use `PINOCCHIO_DLLAPI` instead of `PINOCCHIO_DLLEXPORT` ?

https://github.com/stack-of-tasks/pinocchio/blob/f8f3b9a24eab527df79650e3dc73410f9a46a2b2/src/parsers/urdf/model.hxx#L346

I think this will compile fine but one will not be able link to it ? At least, this is what is explained in http://gcc.gnu.org/wiki/Visibility

[2020-05-28 09:13] jmirabel commented on #1224
@francois-keith you may be competent to answer this.

[2020-05-28 09:16] jcarpent commented on #1224
Yes, I think you're right!

[2020-05-28 09:19] jcarpent commented on #1224
According to https://stackoverflow.com/questions/57999/what-is-the-difference-between-dllexport-and-dllimport, it seems that very important symbol is the export one.

[2020-05-28 12:29] Erudia commented on #1196
Hello, I have the same issue. I don't use cmakelists, I've just tried with command line g++ -I /usr/include/eigen3 -I /opt/openrobots/include PINOCCHIO_URDFDOM_TYPEDEF_SHARED_PTR -DPINOCCHIO_WITH_URDFDOM overview_urdf.cpp -lboost_system -lurdfdom_model -o overview_urdf

I don't really see how I should do the link. Could you explain, please?

[2020-05-28 12:35] jmirabel commented on #1196
The pkg-config file contains
[code]
You should use all those flags.

I advice you to use `g++ $(pkg-config --cflags --libs pinocchio) ...` if you don't want to encounter issues.

[2020-05-28 15:34] Erudia commented on #1196
Unfortunately, I have the same problem :/

[2020-05-28 17:11] jmirabel commented on #1196
Do you have several version of pinocchio installed ?

[2020-05-28 17:13] Erudia commented on #1196
Only the version from source https://github.com/stack-of-tasks/pinocchio.

[2020-05-29 12:11] francois-keith commented on #1224
Yes, you are totally right.

[2020-05-29 12:40] jmirabel opened #1225 "Bad prototype"
While try to make some code using pinocchio compile, I found stuff like this in the stack (demangled by myself)

This is very bad since the expression in the first argument will be evaluated several times. This happens in function `addSkew` and, I suppose, in many other places in pinocchio.

Looking at Eigen's class hierarchy (https://eigen.tuxfamily.org/dox/TopicClassHierarchy.html), I think Plai

[2020-05-29 13:47] jcarpent commented on #1225
I would say, yes and no. At some point, one should be aware on the way Eigen works to have efficient code. In the present case, it corresponds to the expression graph. A similar issue can then be raised for the auto keyword. In addition, in the case of dynamic sized matrix, it will lead to memory allocation on the heap.

[2020-05-29 14:06] jmirabel commented on #1225
This is very tricky. Tricky enough to have trapped one of the Pinocchio developers because the faulty caller is inside Pinocchio.

I understand that evaluation is not always faster but, even in the case of dynamic size matrix, evaluation can still be better, depending on the expression. I think there are very few places where want would like to keep the expression.

For skew function (i.e. 3D vect

[2020-05-29 14:16] jcarpent commented on #1225
Yes I totally understand. Could you just highlight one scenario where this error occurs? It will help to take a generic and clear decision.
We can also imagine adding a compilation helper to check the size of the expression at compile time.

[2020-05-29 15:18] jcarpent commented on #1225
In the present case, it seems much more that the error was coming from a bad STATIC assert, isn't it?

[2020-05-29 15:24] jmirabel commented on #1225
The compilation error was a static assert, yes. The compilation error you will get happens in `addSkew` with the template arguments mentioned above. The compilation error also tells us what is the call stack that brings to this call (The issue is not the compilation error).

[2020-06-01 16:31] skleff1994 opened #1229 "Undefined symbol error in libpinocchio_pywrap.so"
Hello,

Whenever I source my `devel/setup.bash`, I can't import Pinocchio. I get the following error

[code]
However I can import Pinocchio sucessfully when I don't source my workspace, which is confusing... Besides, I have exactly the same problem with Crocoddyl. I'm using Ubuntu 18.04 and python 2.7.17, and here's my robotpkg config

[code]
I checked `echo $LD_LIBRARY_PATH`, which returns
`/home

[2020-06-01 16:34] jcarpent commented on #1229
You have a conflict between Robotpkg and ROS.

is pointing to Melodic. While you are using Pinocchio from robotpkg. Please choose one of them by adjusting your environment variables.

[2020-06-01 16:46] skleff1994 commented on #1229
Thank you , now it works !

`libeigenpy.so => /opt/openrobots/lib/libeigenpy.so (0x00007fcaa2694000)`

[2020-06-01 16:47] #1229 closed

[2020-06-01 20:17] miker2 opened #1230 "Incorrect total system mass for non-free floating base models"
For a model that has a fixed root joint, created using:
[code]

If I call:
`pinocchio::computeSubtreeMasses(model, data);`

Then try to retrieve the total system mass by accessing the `mass` member of the `data` object, i.e.:
`data.mass[0]`

This mass appears to be missing the mass of the base link.

In order to retrieve the total system mass, I need to do the following:
`double total_mass = data.

[2020-06-01 20:48] jcarpent commented on #1230
Dear @miker2, this results is expected as your base does not contribute in terms of physics to the robot motion. Only the inertial properties of the links in motion are considered.
For instance, the base link fixed to the environment won’t appear in the mass matrix of your dynamical system. The same applies to the center of mass, total mass and so on. Does it answer your question?

[2020-06-01 20:59] miker2 commented on #1230
@jcarpent Thanks for your quick response. What I'm actually trying to accomplish is the ability to get all quantities of a floating base model in the base link frame. This works for positions and velocities of joints/frames expressed relative to the base link & expressed in the base link frame.  Would this be better accomplished by creating a floating base model but setting the base positions, ori

[2020-06-01 21:55] jcarpent commented on #1230
what is the robot you consider?
By calling centerOfMass algorithm, you can retrieve all the quantities of the dynamical system expressed in the root frame of the free floating system by calling for instance data.mass[1]. You can then also retrieve all the quantities in the world frame by just applying the rotation between the local base frame and the world frame.
I hope this clarify your issue.

[2020-06-02 00:22] miker2 commented on #1230
I'm using this urdf with slight modifications: https://github.com/unitreerobotics/laikago_ros/blob/master/laikago_description/urdf/laikago.urdf

When calling `centerOfMass` using the code I posted initially, the values for `data.com[0]` appear to be identical to those for `data.com[1]` which would be the first real joint of the model, and happens to correspond to the `FL_hip_joint`. The problem is

[2020-06-02 06:15] jcarpent commented on #1230
I would say that adding a free floating joint is really expected here, because it does correspond to the topology of the robot considered. The issue is coming from the URDF convention which is not imposing to mention the root joint in of the robot inside the URDF file.

[2020-06-02 10:02] jcarpent commented on #1196
Could you provide the results outputed on your terminal?

[2020-06-02 12:38] Erudia commented on #1196
The results outputed are:

/usr/bin/ld: /tmp/ccR38H3v.o: in function `pinocchio::ModelTpl<double, 0, pinocchio::JointCollectionDefaultTpl>& pinocchio::urdf::buildModel<double, 0, pinocchio::JointCollectionDefaultTpl>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, pinocchio::ModelTpl<double, 0, pinocchio::JointCollectionDefaultTpl>&, bool)':
overview-urdf.cp

[2020-06-03 07:21] jcarpent commented on #1230
I will close this issue. Feel free to reopen it if needed.

[2020-06-03 07:21] #1230 closed

[2020-06-05 10:25] jcarpent commented on #1196
Could you show us your CMakeFiles of your project

[2020-06-05 12:47] julesser opened #1232 "Build Reduced Model: How to Fix Joints at Specified Values?"
Hi all,

I was wondering whether it's possible to load a full urdf model and then selectively fix some joints at some specified values? Does the `buildReducedModel` API provide this functionality and is it accessible via the python bindings?

Right now I am working with Crocoddyl and utilize the robot wrapper that comes along with Pinnochio in order to build a floating base model of a humanoid rob

[2020-06-05 12:51] jcarpent commented on #1232
Hi @julesser,

From the Python documentation of Pinocchio:
[code]
I've just realized the mistakes in the doc, but should be clear enough to help you.
Best,

Justin

[2020-06-07 17:27] jcarpent commented on #1232
With no activity, I will close this questionning issue. Feel free to reopen it if needed.

[2020-06-07 19:10] jcarpent commented on #919
Solved by #1218.

[2020-06-07 19:10] #919 closed

[2020-06-07 19:10] jcarpent commented on #1224
Solved by #1218.

[2020-06-07 19:10] #1224 closed

[2020-06-08 06:37] julesser commented on #1232
@jcarpent , thanks for your kind reply. I've adapted the build procedure from the [build-reduced-model.cpp ](https://github.com/stack-of-tasks/pinocchio/blob/master/examples/build-reduced-model.cpp) example code as follows:

[code]
Two questions:
1. How to correctly specify the import? Right now I get
`NameError: name 'buildReducedModel' is not defined`
I've installed` robotpkg-py36-pinocchio` acc

[2020-06-08 09:22] julesser commented on #1232
@jcarpent I don't have permission to reopen the issue.

[2020-06-08 16:02] jcarpent commented on #1232
`buildReducedModel` is inside Pinocchio namspace.
So:
[code]

[2020-06-08 17:14] cmastalli opened #1233 "CppADCogen couldn't found in recent devel branch"
Hi guys,

I want to report this issue that I only encounter in the devel branch, just in case you're not aware of it.
This is the current error message:
[code]

[2020-06-08 17:38] jcarpent commented on #1233
This is expected because CppADCG does not come with cmake module. Could you fix it? Thanks in advance.

[2020-06-08 18:39] nim65s commented on #1233
For reference: https://github.com/loco-3d/solo-collisions/tree/master/cmake-modules

[2020-06-08 18:39] nim65s commented on #1233
@jcarpent : should I put that in the jrl-cmakemodule ?

[2020-06-09 05:13] jcarpent commented on #1233
I would say yes. Thanks a lot @nim65s.

[2020-06-09 07:34] cmastalli commented on #1233
thank @nim65s for handling this task :)

[2020-06-09 10:19] julesser commented on #1232
That did it. Thanks!

[2020-06-09 10:19] #1232 closed

[2020-06-10 06:28] julesser commented on #1232
In case someone else wants to use the `buildReducedModel` API via the Python bindings, **here is a working python code snipped**, [based on the C++ example](https://github.com/stack-of-tasks/pinocchio/blob/master/examples/build-reduced-model.cpp), for building a reduced model + geometric model. Note that also building the geometric model is necessary only if you want to display your robot in the g

[2020-06-10 07:05] olivier-stasse commented on #1232
Dear @julesser this is a welcome contribution, if @jcarpent is fine it would be nice if you could propose a PR on the documentation to have it in the repository.
It would be easier than going through the issues.
All the best.

[2020-06-10 09:14] jcarpent commented on #1232
Yes, I do agree with @olivier-stasse, it would be nice if @julesser you can provide this tiny example along with Pinocchio. It will be very helpful for orther users. Thanks in advance !

[2020-06-10 11:46] #1233 closed

[2020-06-11 13:47] mfocchi opened #1237 "update of pinocchio package"
Hi

I updated my pinocchio library (version 2.4.3) to the last one (version 2.4.5)
by running
`sudo apt-get install robotpkg-py27-pinocchio`

for some reason this didn't install also **robotpkg-pinocchio** that seems
to update the libraries and the sym links in /opt/openrobots/lib
therefore, when you try to import pinocchio got stuck because libpinocchio_pywrap it cannot find the right version of

[2020-06-11 13:52] jcarpent commented on #1237
Hi @mfocchi,

On which version of Linux are you working on now?
In the meantime, you can maybe force the installation of pinocchio on the 2.4.5 version via:
[code]
@nim65s Do you know what happens here?
Best,

Justin

[2020-06-11 13:57] nim65s commented on #1237
@mfocchi : you can fix this with a `sudo apt upgrade`.
But yes, there is an issue in the packaging:
[code]

I'll fix this.

[2020-06-11 15:10] mfocchi commented on #1237
I am on ubuntu 16.04, and that is what I did to force it without any luck. I am glad the issue was sorted out!

best,
Michele

[2020-06-12 08:41] jmirabel opened #1239 "C++ visualization"
This is just an announce that may interest people using Pinocchio in C++.

I created https://github.com/jmirabel/pinocchio-gepetto-viewer/ that enables visualization of pinocchio Model in gepetto-viewer directly in C++.

At the moment, it depends on the devel branch of gepetto-viewer (not released yet).

[2020-06-12 08:44] jcarpent commented on #1239
Maybe, you can refer to it in the documentation and in the Readme, by adding a list of the supported viewer.

[2020-06-12 08:49] cmastalli commented on #1239
It would be great (for public visibility) if you, at some point, transferred the repository to `stack-of-tasks` organization.

[2020-06-12 08:50] cmastalli commented on #1239
Btw, I know I asked this before, but I would like to make again the same question. Is there an improvement in computation performance?

[2020-06-12 09:12] jmirabel commented on #1239
This wasn't my target. There are places where the code could be optimized.
If that worries you, we can put the viewer::display code in a separate thread.

[2020-06-17 09:41] jcarpent commented on #1178
Small question regarding this issue @jmirabel : how do you want to extend the reference configurations with buildModel and appendModel? Because, some of them might be missing. Do you want to extend them with the neutral configuration?

[2020-06-17 10:52] jmirabel commented on #1178
I don't see any other choice than using the neutral configuration for the unknown part.

[2020-06-17 11:23] jcarpent commented on #1178
I do agree.

[2020-06-17 18:09] jmirabel opened #1245 "Template instantiation"
I gave a quick trial to template instantiation for C++ >= 11: dbffed2

With this commit, compiling file `lib.cc`:
[code]
with the `CMakeLists.txt`:
[code]

Then, `time make lib_linked` (using template instantiation) gives:

user	0m5,707s
sys	0m0,482s

and `time make lib_not_linked` (using template instantiation) gives:

user	0m7,591s
sys	0m0,570s

The benefits in terms of compilation time is obvio

[2020-06-17 19:24] jcarpent commented on #1245
This is duplicated with respect to #571. I will move the issue content to the correct thread.

[2020-06-17 19:24] #1245 closed

[2020-06-17 19:25] jcarpent commented on #571
I gave a quick trial to template instantiation for C++ >= 11: dbffed2

With this commit, compiling file `lib.cc`:
[code]
with the `CMakeLists.txt`:
[code]
@jmirabel wrote:

Then, `time make lib_linked` (using template instantiation) gives:

user	0m5,707s
sys	0m0,482s

and `time make lib_not_linked` (using template instantiation) gives:

user	0m7,591s
sys	0m0,570s

The benefits in terms of compilat

[2020-06-17 19:29] jcarpent commented on #571
Thanks a lot @jmirabel for this attempt and I would say this result was expected.
We just need time to handle correctly and completely this task.

I think we should wait for #911 which will impose some major modifications, and then handle this one. @jmirabel Do you agree?

[2020-06-18 06:51] jcarpent commented on #1237
Seems to be solved now. Thanks @mfocchi for raising this issue and to @nim65s for the fix.

[2020-06-18 06:51] #1237 closed

[2020-06-19 14:31] AtharvaSune opened #1250 "Pinocchio Mac Import Error: (libboost_python38-mt.dylib)"
[code]
Using MacOS Catalina, python 3.7.5

These are my env variables
[code]

[2020-06-19 14:35] jcarpent commented on #1250
You should use python3.8, on OS X, we made the choice of python3.8.

[2020-06-19 14:36] jcarpent commented on #1250
If you want, you can use Conda to get the 3.7 version of the lib.

[2020-06-21 02:02] zhangOSK opened #1251 "How to set joint limits in inverse kinematics"
Hi there, I am using the Jacobian-based iterative IK in Pinocchio.
I want to ask if pinocchio can consider the joint limits when calculating IK?

[2020-06-22 08:20] jcarpent commented on #1251
Of course, you can, you just need to handle them through a QP-based approach and to use the `difference` function to compute the distance between two configurations.

[2020-06-22 08:21] jcarpent commented on #1250
@AtharvaSune I think this issue is solved. Please reopen it if needed.

[2020-06-22 08:21] #1250 closed

[2020-06-23 07:04] zhangOSK commented on #1251
Thank you for the reply!
1. Could you please give me more description about using QP-based approach? Like some sample code or the source code related? I checked the function computeJointJacobian but didn't find anything about qp.
2. I want to make sure the difference function, do you mean the following function?
https://github.com/stack-of-tasks/pinocchio/blob/a179f5619a24000d71d748243b5068605cce4

[2020-06-23 09:31] olivier-stasse commented on #1251
Dear @zhangOSK,
pinocchio is dedicated to rigid body dynamics. They are some simple mechanisms to compute IK, but the two main libraries build on top on pinocchio to perform control are either [TSID](https://github.com/stack-of-tasks/tsid/) for torque or acceleration QP based, or [sot-core](https://github.com/stack-of-tasks/sot-core) for IK. For the latter, you can install the binaries to make Tal

[2020-06-23 11:24] zhangOSK commented on #1251
Dear Olivier, thank you very much for the explanation! Now I know where to check!

[2020-06-23 11:24] #1251 closed

[2020-06-29 00:32] rshum19 opened #1252 "Clarification on computeCentroidalMomentum()"
Hello,

I'm trying to get familiarized with the library to use it as a part of a trajectory optimization implementation based on centroidal dynamics. Looking through the doxygen documentation I came across the function `computeCentroidalMomentum()`.

I want to double-check that this function computes the Centroidal Momentum of a Rigid Body Tree as described in

- *"Centroidal dynamics of a Humanoi

[2020-06-29 07:12] jcarpent commented on #1252
Yes. This exactly what it does. It compute the total angular momentum quantity expressed in the frame centered at the center of mass and with axes aligned to the world frame.
To compute also compute the time derivative, you can call computeCentroidalMomentumTimeVariation

[2020-06-30 08:38] jcarpent commented on #1252
I will close this as it seems to be solved. Feel free to reopen it if needed.

[2020-06-30 08:38] #1252 closed

[2020-06-30 14:09] rshum19 commented on #1252
Thank you for the clarification and prompt response. these functions are great!! This has solved my query.

[2020-06-30 15:13] jcarpent commented on #1252
Cool. Glad to see Pinocchio fullfiled your needs.

[2020-07-02 12:42] akosv95 commented on #1229
Hello.
I think I am having the same problem as described here, but still don't understand how to resolve the problem. I have installed pinocchio by following the steps described here: https://stack-of-tasks.github.io/pinocchio/download.html, including saving the path variables at the end of my bashrc config. As I understand it, when I source my devel/setup.bash, it makes changes / adds further alt

[2020-07-02 12:53] wxmerkt commented on #1229
Hi @akosv95, what operating system are you on? And is it possible that you have multiple versions installed?

1. Can you confirm if you have pinocchio/eigenpy from robotpkg?
2. Do you happen to have a ROS version of eigenpy or pinocchio installed? I.e. is "ros-$ROS_DISTRO-eigenpy" installed?

You can circumvent this by adding the devel/setup.bash source before the robotpkg PATH modifications. Note

[2020-07-02 13:19] akosv95 commented on #1229
I am using Ubuntu 18.04 and ROS Melodic.

I have the following relevant packages installed:
robotpkg-pinocchio/bionic,now 2.4.6 amd64 [installed,automatic]
robotpkg-py27-eigenpy/bionic,now 2.4.0 amd64 [installed,automatic]
ros-melodic-eigenpy/bionic,now 2.3.1-1bionic.20200410.133723 amd64 [installed,automatic]

No ROS version of pinocchio as far as I can tell.

[2020-07-02 14:06] jmirabel commented on #1229
Maybe on robotpkg, eigenpy library should be suffixed with the version number. @nim65s can you handle it ?

For pinocchio, we may do the same thing although it isn't as problematic right now (but may become in the future).

[2020-07-07 00:59] fbxiang opened #1253 "CppAD module missing?"
After updating from 2.4.4 to 2.4.6, CMake cannot find CppAD. After some digging, I see
`SET(CMAKE_MODULE_PATH "${CMAKE_SOURCE_DIR}/cmake/find-external/CppAD/" ${CMAKE_MODULE_PATH})` added to the CMakeLists but the `find-external/CppAD` directory does not exist. I guess that might be the issue?

[2020-07-07 01:09] fbxiang commented on #1253
nvm I see a fix in devel

[2020-07-07 01:09] #1253 closed

[2020-07-13 13:30] ahmadgazar opened #1254 "uninstalled packages during installing pinnochio using robotpkg"
Hi,
I am using ubuntu 18.04, and I tried installing pinocchio using robot-pkg with python 3.6. I then tried to import pinocchio, but turns out that libhpp-fcl and octomap were not installed during the pinocchio installation. Problem was solved by manually reinstalling the two packages as:

sudo apt install --reinstall robotpkg-hpp-fcl
sudo apt install --reinstall robotpkg-octomap

I thought this m

[2020-07-15 07:34] jcarpent commented on #1254
They should be installed along with pinocchio. @nim65s Could you provide some feedback on this issue?

[2020-07-16 07:47] cmastalli opened #1256 "How to write the analytical derivatives of the Cartesian velocity of a given point?"
Hi guys,

I am not able to properly compute the analytical derivatives of a body-fixed point velocity which is aligned with the world, i.e. `LOCAL_WORLD_ALIGNED` velocity (named as Cartesian velocity as well). With derivatives I refer to these Jacobians: `dv_dq` and `dv_dv`. To be precise, I have troubles to compute `dv_dq`.

To make things easier, in the following code, I have written two functio

[2020-07-18 06:36] cmastalli commented on #1256
For clarity of future readers, my proposed code works well. The problem was in the numdiff routine that needs to consider the frame translation. In any case, #1255 proposes a function to retrieve it for you, i.e. `getFrameVelocityDerivatives`.

I will close this issue! @jcarpent thank you again for the code and explanations in #1255.

[2020-07-18 06:36] #1256 closed

[2020-07-18 08:56] traversaro commented on #919
If someone needs support not only for MSVC compilation with the ClangCl toolset, but also with the default v142 toolset, I was able to compile pinocchio and its tests successfully (warnings: compilation is quite slow), with the modifications in https://github.com/stack-of-tasks/pinocchio/compare/devel...traversaro:support-msvc-v142 . However, except for the enabling of `/bigobj`, the other modific

[2020-07-20 10:32] cmastalli opened #1258 "Include a function for updating the forward dynamics (updateForwardDynamics)"
This issue proposes a new signature for updating the forward dynamics. Currently, `forwardDynamics` runs internally `computeAllTerms`, however, there are cases where the user might want to decouple both things. It gives the freedom to update manually these terms.
Indeed, there is will improve the efficiency of some internal computations in Crocoddyl (see https://github.com/loco-3d/crocoddyl/blob/m

[2020-07-20 10:49] proyan commented on #1258
Hi Carlos,
I think it is already there.
https://github.com/stack-of-tasks/pinocchio/blob/master/src/algorithm/contact-dynamics.hpp#L86 ?

[2020-07-20 10:52] proyan commented on #1258
In addition to this signature, there is a new API and algorithm that Justin might push in the coming weeks. So I would suggest that you don't spend a lot of time to optimize crocoddyl's contact dynamics, as that would also need to be updated :).

[2020-07-20 11:25] jcarpent commented on #1258
I share the same opinion as @proyan. I'm entirely refactoring the contact dynamics API with new features, better robustness and faster than the current version. People just need to be a bit patient.

[2020-07-20 14:05] cmastalli commented on #1258
I see, thanks

I know you're working on it. But it might take additional time to have a working version in Crocoddyl. Turning off the flag it is a simple patch for the moment.

I will close this issue. Thanks for the answer!

[2020-07-20 14:05] #1258 closed

[2020-07-20 15:49] jcarpent commented on #1187
Solved by #1226.

[2020-07-20 15:49] #1187 closed

[2020-07-22 03:33] rshum19 opened #1259 "Linearized dynamics"
Hello,

I'm wondering if Pinocchio has methods to output the linearized dynamics of the system. I see CppAd and Casadi are dependencies of the library, thus wondering if this has been used to obtain either analytical or numerical linearized dynamics.

Thank you,
Roberto

[2020-07-22 06:24] jcarpent commented on #1259
Dear @rshum19,

Indeed, Pinocchio provides the analytical derivatives of standard algorithms for computing forward and inverse dynamics, as well as the derivatives of the kinematic quantities.
There is some tiny example in the example folder.

[2020-07-22 08:27] jcarpent commented on #1259
In addition, if you need more derivatives, I may take some time to implement them.

[2020-07-22 13:07] rshum19 commented on #1259
Hi @jcarpent

Great I think this is exactly what I was looking for. I’ll look more into this derivative.

Thank you!

[2020-07-22 13:07] #1259 closed

[2020-07-27 06:52] CWEzio opened #1261 "Comilation error with the overview example"
Hi, I am new to pinocchio and have tried the overview examples. However, I encounter compilation errors with both examples. The error seems to be related with Eigen. I install pinocchio follow the instruction here https://stack-of-tasks.github.io/pinocchio/download.html. The eigen version I used is 3.3.7. The system is Ubuntu 18.04.

Here is the detailed info
[code]

With the complex example, ther

[2020-07-27 08:23] jmirabel commented on #1261
This is a linking problem. You should link to Pinocchio library too.

Why don't you use CMake ? It would make this transparent for you.

[2020-07-27 12:30] jcarpent commented on #1261
You may also use the help of pkg-config for solving your issue:
[code]

[2020-07-27 13:08] CWEzio commented on #1261
Thanks a lot for both of your help. Using cmake solves my problem. The reason that I didn't use cmake at first is that in the documentation (https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/index.html), they use g++ to compile the example and I simply follows their procedures.

Here is the cmakelists.txt file I write, someone new to pinocchio and c++ may find it helpful.

[2020-07-27 13:17] CWEzio commented on #1261
Sadly, this also fails in my computer. It seems that boost_system lib is not linked correctly, though my LD_LIBRARY_PATH contains /usr/lib/x86_64-linux-gnu where the libboost_system.so is. Using cmake directly does not have this issue. It may because cmake finds this lib automatically. But I am still curious about why using g++  fails.....
[code]

[2020-07-27 15:08] jcarpent commented on #1261
Can you output the result of:
[code]

[2020-07-27 15:20] CWEzio commented on #1261
[code]

[2020-07-27 16:24] jcarpent commented on #1261
@nim65s Could you try it on your side?

[2020-07-28 07:20] jmirabel commented on #1261
FYI CMake does it in two steps:
[code]

If you want to do it in one step, you must put the -l arguments at the end:
`g++ $(pkg-config --cflags pinocchio) ../overview-simple.cpp -o overview-simple $(pkg-config --libs pinocchio)`

[2020-07-28 07:28] nim65s commented on #1261
I can reproduce @CWEzio output.

[2020-07-28 08:44] jcarpent commented on #1261
Thanks @jmirabel for the feedback. This issue seems to be solved then.

[2020-07-28 08:44] #1261 closed

[2020-07-30 05:34] Wenchun6 opened #1263 "model with floating joint in urdf cannot be parsed"
I want to model a floating base articulated body robot, such as humanoid or quadruped. Refer to the URDF official document, I found a joint label "floating" to discribe a floating base. But it shown a error of "The XML stream does not contain a valid URDF model" after I excute the program. While it can success run if the "floating" joint become "fix", but in this way, it seems not a dynamics syste

[2020-07-30 07:04] jcarpent commented on #1263
@Wenchun6 could you please share with us your URDF file to check the issue you have encountered? In the meantime, you might see at the examples folder located at the root of the repository. There is a file called overview-URDF.py in which you will find the related example.

[2020-07-30 07:48] Wenchun6 commented on #1263
@jcarpent actually I have no problem to load my URDF model. So let me make it clear, I have a quadrped urdf model with 12 actuated revolute joints, by running the overview-URDF.cpp example as follow
![aliengo_urdf](https://user-images.githubusercontent.com/63893624/88893668-417fed00-d279-11ea-8fe1-17be87e0d9d6.png)
The output is shown below,
![output](https://user-images.githubusercontent.com/6389

[2020-07-30 08:05] jcarpent commented on #1263
You can just provide a third argument to the function buildModel like pinocchio::JointModelFreeFlye() to mention the fact that the root joint is a free floating joint.

[2020-07-30 08:17] jmirabel commented on #1263
The problem comes from your side. With `test.urdf' being
[code]
then
[code]
outputs
[code]
[code]

[2020-07-30 09:46] Wenchun6 commented on #1263
@jmirabel well,I still get the error if I set the root joint as a 'floating' joint in my urdf file. The error show that it is not valid urdf file

[2020-07-30 09:54] jmirabel commented on #1263
The issue seems to be your URDF. You can check it with command `check_urdf`.

I close this since the issue does not seem to come from Pinocchio.

[2020-07-30 09:54] #1263 closed

[2020-07-30 09:58] Wenchun6 commented on #1263
@jcarpent That's great, thank you.So the first 7 parameters of 'q' mean the (x,y,z,quaternion), which is the position and orientation of the floating base? BTW,the quaternion in Pinocchio follows which conventions, (x,y,z,w) or (w,x,y,z)?

[2020-07-31 09:33] julesser opened #1264 "Issue related to usage of buildReducedModel in Crocoddyl"
Hi guys, I'm having issues in Crocoddyl that may or may not be related to Pinocchios `buildReducedModel `API. Consider the following two cases:
- Case 1: Use a full URDF version and apply `buildReducedModel` to lock the desired joints in a fixed position
- Case2: Use a URDF version, where the desired joints directly are set to `type="fixed"`

**Results**: For case1, the solver does not optimize an

[2020-07-31 12:15] jcarpent commented on #1264
Maybe displaying the joint placements for a given joint configuration.

[2020-08-03 06:45] jmirabel commented on #1264
I would try to make a test independent of Crocoddyl. Build the two models as you did and check that the output of the functions used by Crocoddyl are the same, on some elementary or random input.

[2020-08-03 07:24] julesser commented on #1264
Thanks for your comments. I will check these tomorrow.

[2020-08-03 13:47] cmastalli opened #1266 "Error when we code generate frame-derivatives stuff"
Dear all,

I have found a compilation error that appears in Crocoddyl when I want to code generate stuff in frame-derivatives.
This issue is not happening if we don't use the latest features in frame-derivatives.
So, I am discarding any issue from Crocoddyl side.

For more information see below:
[code]

Thanks,
Carlos

[2020-08-03 14:11] jcarpent commented on #1266
I've fixed the issue in #1267. You may provide some feedback if other compilation issues occur.

[2020-08-03 15:33] jcarpent commented on #1266
Solved by #1267

[2020-08-03 15:33] #1266 closed

[2020-08-05 10:09] jcarpent commented on #1178
@jmirabel Are you still on it?

[2020-08-06 17:07] andreadelprete opened #1269 "Broken links in documentation"
All the links to the code are broken in this page of the documentation:
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_7-learn.html

I've seen that the code is available [here](https://github.com/stack-of-tasks/pinocchio/tree/master/doc/d-practical-exercises/src), but anyway it'd be nice to fix these links.

[2020-08-06 17:16] jmirabel commented on #1269
Since here, we can change *Learning to flight* to *Learn to fly* (*Learn* for consistency with the other practical exercises.

[2020-08-07 08:25] nim65s commented on #1269
Those tutorials are currently not maintained, and they will be remplaced by a more recent version from Nicolas, as soon as I can spend some time to review and adapt them.

[2020-08-07 09:14] jcarpent commented on #1269
Thanks @andreadelprete for raising this issue. I've updated doxygen to prevent it.
You can pull it and makde doc in your build directory to get the lattest version of the doc.

[2020-08-07 10:41] andreadelprete commented on #1269
Ok, thanks! Feel free to close the issue if you want.

[2020-08-07 21:19] jcarpent commented on #1269
Solved by #1270

[2020-08-07 21:19] #1269 closed

[2020-08-08 08:56] nim65s commented on #1269
Fixed here: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/devel/doxygen-html/md_doc_d-practical-exercises_7-learn.html

[2020-08-12 09:10] jcarpent opened #1273 "Add support of SDFormat"
[SDFormat](http://sdformat.org/) is becoming a standard in Robotics to define kinematics chain + their environment (mainly for simulation purposes).
I do think that this format should be supported by Pinocchio.

I'm starting the discussion about this support via this thread. Feel free to raise some comments and suggestions about this extended feature.

[2020-08-12 09:14] jcarpent opened #1274 "Add support of closed kinematic chains"
Closed kinematic chains offer interesting features at the mechanical level for building robust and efficient robots (compared to open kinematic structure).
Definitively, it will a plus to support them in Pinocchio.

I open this thread for open discussions on this topic. Feel free to add your personal and scientific vision on this feature.

[2020-08-12 09:14] jcarpent commented on #1264
@julesser Can you share your robot model?

[2020-08-14 06:48] julesser commented on #1264
@jcarpent The problem is solved now, in fact it was an issue related to Crocoddyl. After building the latest devel branch from source, everything is working as expected. Thanks for your patience and kind support!

[2020-08-14 06:48] #1264 closed

[2020-08-14 06:49] jcarpent commented on #1264
Nice to hear that your bug is solved.

[2020-08-14 12:23] jcarpent commented on #1254
@nim65s ping.

[2020-08-14 12:26] nim65s commented on #1254
I don't unsterdand this issue, as this is working for me in a clean container:
[code]

[2020-08-14 12:43] jcarpent commented on #1254
OK. I will close this issue then. Thanks for your feedback @nim65s.

[2020-08-14 12:43] #1254 closed

[2020-08-14 13:35] JoeMWatson opened #1275 "Can't install robotpkg-py37-pinocchio on ubuntu 18"
The build appears to be broken: http://robotpkg.openrobots.org/rbulk/robotpkg/math/py-pinocchio/index.html

[2020-08-14 13:37] jcarpent commented on #1275
It is Python 3.6 the offician Python 3 on 18.04. You should then install:
robotpkg-py36-pinocchio

If you want an extended support of Python, please use conda insteal.

[2020-08-16 21:43] ddliu365 opened #1277 "About inverse rotation function"
Is it possible to implement the following the `inverse rotate` function?
[code]

[2020-08-17 05:57] jmirabel commented on #1277
Check the rpy namespace (pinocchio.rpy of pinocchio::rpy).

[2020-08-17 06:32] jcarpent commented on #1277
You can also use the Eigen functions for that. It is a direct binding of Eigen Geometry module in Python.
See AngleAxis for that.

[2020-08-17 06:39] jcarpent commented on #1277
There is also:
[code]
with following doc:
[code]

[2020-08-17 08:29] jcarpent commented on #1275
This issue seems to be solved. Feel free to reopen it @JoeMWatson.

[2020-08-17 08:29] #1275 closed

[2020-08-17 17:28] jcarpent commented on #1239
This information now appears on the Readme.md.

[2020-08-17 17:28] #1239 closed

[2020-08-18 01:54] ddliu365 commented on #1277
Thanks @jcarpent @jmirabel  It works well now. The rotation order matters for `rpy`.

[2020-08-18 01:54] #1277 closed

[2020-08-18 07:08] jmirabel commented on #1239
Thank you for taking care of this. While reading through the README, I bumped into the lines

Next time this file is updated, we may put a date on this so that people know it is recent.

[2020-08-20 07:52] jmirabel commented on #1178
I did not encounter the issue again. As this is not blocking anymore, it has become of low priority for me (and I don't think it has a high priority for Pinocchio).

We can mark this as a low priority bug and increase the priority later, if needed.

[2020-08-21 11:54] florent-lamiraux opened #1280 "macro PINOCCHIO_CHECK_INPUT_ARGUMENT"
is used at many places to check the size of input configurations or velocity vectors. When the test fails, the expected size and
the actual size are not displayed. This would be very helpful to get this information in the exception message.

One way would be to define another macros named
[code]

[2020-08-24 14:16] aelkazdadi opened #1282 "{boost,std}::is_floating_point is only true for primitive floating point types"
which excludes user defined (e.g., specializations of `boost::multiprecision::number`) and implementation defined (`__float128` on gcc and clang) floating point types.

used in:
[code]

[2020-08-24 14:18] jcarpent commented on #1282
Thanks for raising this issue @aelkazdadi. Could you elaborate a bit more?

[2020-08-24 14:28] aelkazdadi commented on #1282
code that calls `pinocchio::integrate` on vectors of `T = multiprecision::number<...>` won't compile since it has to instantiate `pinocchio::quaternion::internal::quaternionbase_assign_impl<T, boost::is_floating_point<T>::value>`

`boost::is_floating_point<T>::value` happens to be false for non primitive types, so this doesn't work in this case

mre:
[code]

[2020-08-24 14:32] aelkazdadi commented on #1282
one solution would be to specialize `boost::is_floating_point`, which is a bit intrusive. or we could define and use our own trait that inherits from `boost::is_floating point`, and allow specializing it it for float-like types.

[2020-08-24 14:32] jcarpent commented on #1282
I would suggest adding something like:
[code]
and to overload it for specific types.

[2020-08-24 14:33] jcarpent commented on #1282
@aelkazdadi Could you handle it?

[2020-08-24 14:43] jcarpent commented on #1282
Thanks a lot.

[2020-08-24 15:09] jcarpent commented on #1280
Solved by #1281.

[2020-08-24 15:09] #1280 closed

[2020-08-29 06:26] jcarpent commented on #1282
Solved by #1283

[2020-08-29 06:26] #1282 closed

[2020-08-31 14:40] zapplelove commented on #1274
and I want the support of sdf parser.

[2020-08-31 15:19] wxmerkt opened #1286 "Mass of root link ignored in computeTotalMass?"
Spotted by @oliwiermelon

Is there a reason the mass of the root link is ignored in the `computeTotalMass` and `computeSubtreeMasses` algorithms?

E.g. here the iteration starts with the 1st inertia and not the 0th:

https://github.com/stack-of-tasks/pinocchio/blob/820d0f85fbabddce20924a6e0f781fb2be5029e9/src/algorithm/center-of-mass.hxx#L21

[2020-08-31 15:36] jcarpent commented on #1286
The joint 0 corresponds to the universe. In other words, its mechanical and physical properties are not taken into accounts for all the algorithms such as CBRA, RNEA, etc.
To comply with this setting, we decided to not account for it when computing the total mass of the system, because this mass is not moved by the system when performing motions.

It is then easy to add the universe mass if you ne

[2020-08-31 17:01] wxmerkt commented on #1286
I had a suspicion that some algorithm places an assumption on skipping the 0th joint, thanks for the explanation!

I realised that the issue was that we did not specify `JointModelFreeFlyer()` upon creation. Hence, everything works as expected :-).

[2020-08-31 17:01] #1286 closed

[2020-08-31 17:02] jcarpent commented on #1286
Sounds perfect. Thanks for the feedback.

[2020-08-31 17:06] oliwiermelon opened #1287 "Computation of the combined, full-body inertia (SRBD)"
Hi,

I am trying to use Pinocchio to calculate the combined, full-body inertia of an articulated body which accounts for the floating base and the end-effectors, in their nominal configuration from a URDF for a Single Rigid Body Dynamics (SRBD) model.

I am aware of the CRBA algorithm which produces the joint-space inertia matrix (_n_  x _n_). I am looking for a function/approach that:
- that tran

[2020-08-31 17:12] jcarpent commented on #1287
Hi @oliwiermelon,

The best solution would be:

1. call `crba(model,data,q)`
2. retrieve the total spatial inertia with data.Ycrb[1], which is expressed in the base coordinate system (assuming you are working with a free floating system).
3. data.Ycrb[1].inertia() is the quantity you are looking for.

[2020-08-31 17:35] oliwiermelon commented on #1287
Thank you @jcarpent, it is exactly what I needed!
_Note:_ `data.Ycrb[1].inertia`

[2020-08-31 17:35] #1287 closed

[2020-08-31 17:36] jcarpent commented on #1287
In Python ;). In C++, `data.Ycrb[1].inertia()`.

[2020-09-09 09:24] costashatz opened #1290 "What is the status of mimic joint support?"
Hello,

Thanks for the nice library.

What is the current status of support for mimic joints?

If I use for example `forwardDynamics()` with a robot that has mimic joints, will it ensure that the mimic joints try to follow their "parent" joints?

Thanks a lot!

[2020-09-09 09:28] jcarpent commented on #1290
Hi @costashatz,

The current version of Pinocchio is not completely able to handle mimic joints (explicit loop constraint on joint motions).
We are about to release soon a new version of Pinocchio (3.0) able to handle any loop constraint in an easy and robust way.

The remaining question is in terms of API and remains an open question to me. Do you want for instance that the configuration vector a

[2020-09-09 09:29] jcarpent commented on #1290
Related to #1274.

[2020-09-09 09:49] costashatz commented on #1290
Great! How close is *soon*?  (I now when I say soon I mean 1-12 months :stuck_out_tongue:)

So my usage would be the following:

- Define a robot with mimic joints
- I get/set joint positions/velocities/accelerations/torques: here it'd be nice if there is a helper function to filter out mimic/locked joints (we are doing something similar in robot_dart, see [here](https://github.com/resibots/robot_

[2020-09-09 12:59] jcarpent commented on #1290
As joint-mimic are simple explicit constraint linking a referent joint to a mimic joint, we may imagine that the information of the current joint configuration, velocity, acceleration or torque should not be supplied by the end-user, but directly deduced from the referent joint.
I think this description is going in the sense of your way of proceeding in your previous example.

Concerning Pinocchio

[2020-09-09 13:36] costashatz commented on #1290
Indeed. You can completely remove them from the end-user.

Yes this makes sense. In robot_dart we allow online changes of types of joints, and we do not want to lose track of them (this is allowed by DART actually), but for control `locked` joints are useless and we have this map to remove them easily. This map also allows us to connect different libraries more easier (we just need to connect name

[2020-09-09 17:45] costashatz commented on #1290
@jcarpent do you want me to close this? I am satisfied with your responses..

[2020-09-09 18:28] jcarpent commented on #1290
No problem to keep this issue opened ;)

[2020-09-13 17:21] rshum19 commented on #1147
Hi I have a similar question to this. I'm trying to simulate a 7DOF robot arm and want to include joint friction and damping. In the URDF one can define the tag
[code]

I'm wondering if these parameters are used at all when loading the model?

If this is not the case, then would the best way to include joint friction be by adding a joint friction model to the joint torque vector (tau) before compu

[2020-09-13 17:25] rshum19 opened #1291 "Are joint friction parameters from URDF loaded to the robot model?"
Hi I have a similar question to #1147.  I'm trying to simulate a 7DOF robot arm and want to include joint friction and damping. In the URDF one can define the tag
[code]

I'm wondering if these parameters are used at all when loading the model?

If this is not the case, then would the best way to include joint friction be by adding a joint friction model to the joint torque vector (tau) before com

[2020-09-13 17:43] jcarpent commented on #1291
For the damping term, which affects the torque proportionally to the joint angular velocity, your trick does the job.
For handling the friction, it is a bit harder, as you have to solve a linear complementary problem:
`tau < friction is orthogonal to ddq > 0`

[2020-09-13 17:44] jcarpent commented on #1291
What we may add, is the automatic loading of these parameters in the Model when parsing the URDF file.

[2020-09-13 18:06] rshum19 commented on #1291
thank you for the fast response!

I see, so adding damping can be easily done but friction requires more effort. I will look more into friction model and adding friction. Your response clarifies my question about what gets parsed from the URDF, so I will close this issue.

[2020-09-13 18:10] #1291 closed

[2020-09-15 09:06] oliwiermelon opened #1292 "Obtaining contact forces from torques for a given joint-space configuration"
Hi,

**Desciption**
I am trying to determine the maximum contact forces at the end-effectors from peak torque values for the nominal joint-space configuration. At least one of the x, y, z components of the forces is an order of magnitude higher than expected. I hope you can identify the flaw in my approach which uses the relationship below (it assumes `J` is a square matrix) to compute the force v

[2020-09-15 09:11] jcarpent commented on #1292
You want to extract the contact forces expressed at the LF_FOOT level.
For this case, the reference frame you provide is not the correct one, meaning that WORLD refers to the origin of the world as if it was attached to the LF_FOOT frame.
In your case, you should rather use LOCAL_WORLD_ALIGNED convention, which corresponds to the Frame cenetred on the LF_FOOT frame but with axes aligned with the W

[2020-09-15 10:00] oliwiermelon commented on #1292
Thank you @jcarpent for a very prompt reply. The number make much more sense after changing the reference frame to `LOCAL_WORLD_ALIGNED`!

[2020-09-15 10:00] #1292 closed

[2020-09-15 11:38] mrsp opened #1293 "CoM Position and Jacobian Frame"
Hello

when you call
pinocchio::centerOfMass(model, data, q);
pinocchio::jacobianCenterOfMass(model, data, q);

With respect to which frame is the CoM position and the CoM Jacobian computed? Is it i.e. the "base_link" (root of chain)?

Thanks in advance

[2020-09-15 11:58] jcarpent commented on #1293
The center of mass and the related Jacobian are computed w.r.t the WORLD frame. This is written in the C++ doxygen documentation: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#aa68008ef776e6959af9884eff4514633

[2020-09-16 10:42] jcarpent commented on #1293
@mrsp Does it answer your question? If yes, could you close this issue then?

[2020-09-16 11:48] mrsp commented on #1293
yes it does.

Additionally, if you also have any documentation on all the frames used in Pinocchio  kindly share it with me!

Thanks

[2020-09-16 14:40] jcarpent commented on #1293
The frame are all mentionned in the ReferenceFrame enum. I will try to uptate the documentation to reflect their meaning.

[2020-09-16 14:40] #1293 closed

[2020-09-17 11:58] WangKeAlchemist opened #1294 "compute center of mass acceleration"
Hi,

I want to use Pinocchio to compute center of mass acceleration in world frame, so I use `pin::forwardKinematics(model,data,q); acc_x = data.acom[0][0];` in C++, for each iteration. However later I realize that the acceleration I get is always 0, have I done anything wrong?

Thanks!

[2020-09-17 12:00] jcarpent commented on #1294
No, you should just call the function to compute it, which is `centerOfMass(model,data,q,v,a)`

[2020-09-17 12:00] jcarpent commented on #1294
By the way, `centerOfMass` is already calling `forwardKinematics`

[2020-09-17 12:02] jcarpent commented on #1294
If you want to compute the CoM from the current values of the kinematics stored in Data, you should just call:
`centerOfMass(model,data,2)` where `2`means ACCELERATION level (1 means VELOCITY and 0 means POSITION).

[2020-09-17 12:15] olivier-stasse commented on #1294
Maybe an enum would be more informative ?

[2020-09-17 12:20] jcarpent commented on #1294
Yes, I do agree. This is what I realized after writing this answer.

[2020-09-17 12:55] WangKeAlchemist commented on #1294
Hi @jcarpent @olivier-stasse, your answer is very helpful and I just tried that. What I find is: if I use `centerOfMass(model,data,q,v)` only, then the resultant center of mass acceleration is still 0. That is probably because I don't provide joint acceleration (I cannot get joint acceleration directly from my simulation and can only get it by numerical differentiation). But when I use `centerOfMa

[2020-09-17 13:12] jakewelde opened #1295 "Using pinocchio with catkin"
Hi, I'm trying to build against pinocchio, which I installed by including it as a <depend> in the package.xml of a package in the catkin workspace of my ROS codebase. I then installed pinocchio using

```rosdep install --from-paths src --ignore-src -r -y```

When I try to run catkin_make, I get the error

[code]

Could anyone possibly help me understand what I'm doing wrong? My understanding of th

[2020-09-17 13:13] jcarpent commented on #1295
@wxmerkt Could you please handle this issue?

[2020-09-17 13:14] jcarpent commented on #1294
You have forgotten an argument: centerOfMass(model,data,q,v,**a**)

[2020-09-17 14:20] wxmerkt commented on #1295
Hi @jakewelde,
Happy to take a look at this. Can you please post the excerpt of the CMakeLists.txt where you find Pinocchio and how you link against it?

Please note you need to find the package in CMake as `find_package(pinocchio REQUIRED)` and not via catkin. You can then link against it using `target_link_libraries(${PROJECT_NAME} pinocchio::pinocchio)`.

[2020-09-17 14:27] jakewelde commented on #1295
Thanks so much for your quick reply! I believe I've updated my CMakeLists.txt according to your instructions. It's included below.

[2020-09-17 15:17] jakewelde commented on #1295
Not sure if this is helpful, but based on this issue #1261 I ran the command

```pkg-config --libs pinocchio```

which gave me the result

```Empty package name in Requires or Conflicts in file '/opt/ros/noetic/lib/pkgconfig/pinocchio.pc```

[2020-09-17 15:45] jakewelde commented on #1295
I've also tried to install pinocchio according to the standard instructions [here](https://stack-of-tasks.github.io/pinocchio/download.html), but when I run

```sudo apt install -qqy robotpkg-py27-pinocchio  # Adapt your desired python version here```

I get the error

```E: Unable to locate package robotpkg-py27-pinocchio```

(I am running ROS Noetic on Ubuntu 20.04)

[2020-09-17 15:50] wxmerkt commented on #1295
Hi @jakewelde,
I put together a sample project showing how to include and use Pinocchio in a catkin project: https://github.com/wxmerkt/pinocchio_ros_example

Note, this buildtests against the ROS-distributed version in Noetic as well - and this worked: https://travis-ci.com/github/wxmerkt/pinocchio_ros_example/jobs/386377260

Please note that once you start mixing robotpkg and ROS distributed Pin

[2020-09-17 16:23] jakewelde commented on #1295
Thanks so much for your detailed help!

After doing a `make clean` I was able to build the example package and then also add the code to my other package and build it. I think you're spot on that my several attempts to install pinocchio through different means confused things.

However, when I try to include both <ros/ros.h> with the example code you included for Pinocchio, I get template errors l

[2020-09-17 16:27] jakewelde commented on #1295
I just saw your comment on #1056 regarding include order and was able to build after including <ros/ros.h> after the pinocchio includes!

[2020-09-17 16:34] jakewelde commented on #1295
Thanks again for your prompt assistance on this, really appreciate it!

[2020-09-17 16:34] #1295 closed

[2020-09-17 16:36] jcarpent commented on #1295
Thanks @wxmerkt for a precise and concise answer.

[2020-09-17 17:00] WangKeAlchemist commented on #1294
Right, after adding **a** it works well, thanks!

[2020-09-17 17:07] #1294 closed

[2020-09-18 14:26] jakewelde opened #1297 "Derivative of center of mass Jacobian"
Hi, I am wondering if you could help direct me to the best way to use Pinocchio to compute the time derivative of the center of mass jacobian, i.e. for center of mass x, since x' = J v, then x'' = J v' + J' v and I want to compute J' (I am already computing the rest using jacobianCenterOfMass). Is there an analytical implementation I haven't been able to find, or could you offer a tip for where to

[2020-09-18 18:00] junhyeokahn commented on #824
How difficult it would be to make pip-installable package?
There are many packages which are not installed well with conda in my project so I would love to install pinocchio with pip.

[2020-09-18 18:43] jakewelde opened #1298 "Inertia matrix not symmetric"
Hi, I'm wondering where I can read more to understand why the inertia matrix I calculate using `pinocchio::crba(model,data,q)` is not symmetric. I dug into the unit tests a little and I see that in the [CRBA unit tests file](https://github.com/stack-of-tasks/pinocchio/blob/master/unittest/crba.cpp) the test code copies the upper triangle of entries over the lower triangles. The code snippet from t

[2020-09-18 18:47] wolfv commented on #824
you can install packages inside of conda with pip as well @junhyeokahn

What packages are not working well for you?

[2020-09-18 20:12] jcarpent commented on #1298
The Joint Space Inertia Matrix is only filled on the upper diagonal part on purpose, because most algorithms only require it. Symmetricaly, the lower diagonal part can be used too.
If you want to apply M times something, you indeed need to fill the lower diagonal part. But in general, you will never do this operation because the complexity is O(N^3) where N is the number of joints, while RNEA, whi

[2020-09-18 20:21] jcarpent commented on #1297
`computeCentroidalMapTimeVariation` will compute `dAg/dt`, the time variation of the centroidal momemtum matrix. The 3 first rows do match the center of mass Jacobian time variation.
If you need a dedicated algorithm for computing this quantity, I may implement it.

[2020-09-18 20:57] jcarpent commented on #824
In addition, I don't understand what is not working well with conda @junhyeokahn.
I've been using it for a while even when developping Pinocchio with the full dependencies behind, and it works pretty and allows me to test with isolated environments.

@junhyeokahn Could you elaborate more your issue?

[2020-09-18 21:03] jcarpent commented on #824
Concerning the pip installation of Pinocchio, there two possible intiatives:
- using the working but not yet finishied [conda-press](https://github.com/conda-incubator/conda-press) module, which will allow to export pip wheel from conda directly. Very smart idea, but I was not able to make it working with Pinocchio. @wolfv Do you have any insight on the current progress?
- @nim65s is currently wor

[2020-09-18 21:33] jakewelde commented on #1298
Thank you for this answer! Sorry that I did not find see myself as I now see it should have been obvious.

At this point I was mostly just looking to check that I was using the library correctly by comparing the dynamics I am getting using Pinocchio with the results I got from my own naive symbolic implementation. But thank you for clarifying!

[2020-09-18 21:33] #1298 closed

[2020-09-18 21:35] jakewelde commented on #1297
I think the existing functionality fully satisfies my needs! thank you again.

[2020-09-18 21:35] #1297 closed

[2020-09-19 10:08] nim65s commented on #824
This is a high priority tasks for me, and a proof of concept with everything working was already done this summer by @ozon2 : I expect this to be fully tested, integrated and available in a the coming month.

[2020-09-20 13:47] wolfv commented on #824
no unfortunately I don't know the current state of conda-press. I actually don't know exactly how it works. but it would be great if we could make that workflow work.

As far as I know, building wheels is a truly horrible experience :)

[2020-09-30 16:27] ddliu365 opened #1302 "Kinematic energy and potential energy"
Hi,

I am wondering if there is a function in `pinocchio` which can calculate potential energy and kinematic energy for each part and sum them in total?

[2020-09-30 19:20] jcarpent commented on #1302
Yes, of course. Have you taken a look into the documentation? There are functions called potentialEnergy and kineticEnergy that do the job.

[2020-10-01 11:49] gfadini commented on #1291
Hi, I see that this issue has been closed, nonetheless I think that having those parameters parsed from the URDF automatically may be useful for some applications.
In my specif case I can use the coulomb friction and viscous damping by defining them though crocoddyl, but I guess that since they actually are physical parameters of the system they may be loaded in the model itself. What do you think

[2020-10-01 12:07] jcarpent commented on #1291
Yes, this was my remark.
The new version of Pinocchio 3.x should include them. But, even with these values, the features of Crocoddyl will not allow you to handle correctly the friction, only the damping.

[2020-10-01 13:21] gfadini commented on #1291
Thanks for the answer @jcarpent , that would be a nice addition to the next version of pinocchio. I agree with you that including the static friction properly in crocoddyl won't be straightforward

[2020-10-01 13:31] cmastalli commented on #1291
@jcarpent we could boost the integration is you provide a roadmap with a rough description of the API.

[2020-10-01 13:37] jcarpent commented on #1291
I'm lacking of time for that. Sorry.

[2020-10-01 13:47] cmastalli commented on #1291
No problem at all, thanks :)

[2020-10-01 14:38] jcarpent commented on #1302
Hope the answer is precise enough. I will close the issue then.

[2020-10-01 14:38] #1302 closed

[2020-10-02 23:27] ddliu365 opened #1306 "kinetic energy"
I have a question about kinematic energy, did I call it correctly?
In the simulation, I did an experiment where the robot contact the ground by knee and it fall freely to the ground. The calculated increased kinetic energy and reduced potential energy have a big difference, which is weird. Since there is no other force to do work and we almost have nothing energy input from motors.
Can you help ch

[2020-10-03 07:09] jcarpent commented on #1306
First of all, we would really appreciate to close issues that you have opened so far (e.g. #1302, with at least a confirmation message or even better, with some thanks). We are trying to provide feedback to our users as best as we can, we may expect a similar feedback from them.

Concerning your issue, did you check on a minimal but relative simple example as an inverted pendulum to check the cons

[2020-10-03 14:39] ddliu365 commented on #1306
The collision actually occurred after a falling period. But before the contact during the falling period, the kinetic energy is not equal to potential energy and they have a big difference.

Right now I don't have a inverted pendulum model constructed for `pinocchio`.

The simulation environment is bullet physics. For kinetic energy calculation, did I make any mistake? I just found the function in

[2020-10-03 14:44] jcarpent commented on #1306
Why the kinetic energy and potential energy should be equal? The physics just tells us that the total mechanical energy is preserved when an object is falling. This is exactly what your curves show.

[2020-10-03 14:49] ddliu365 commented on #1306
Sorry, I mean the reduced part of potential energy is converted to increased part of kinetic energy. From the curve, the these two parts have a big difference.
The potential energy reduced about 2.8 J but only kinetic energy only increased about 0.45 J.
This is the reason why I doubt I make a mistake while writing the code.

[2020-10-03 14:51] jcarpent commented on #1306
It would better to ask people that are making Bullet. I would check if the models are correct and also if the gravity fields match.

[2020-10-03 14:55] ddliu365 commented on #1306
Okay. If the `pinocchio` API I am writing is fine I will check it with `bullet`. Thank you very much.

[2020-10-03 14:58] #1306 closed

[2020-10-05 09:16] matteoparigi opened #1307 "Fail to compile with scalar type = casadi::SX"
Hi all,
pinocchio (latest devel -> aa39638ffb079078c805b562f55f71cdb5fedb13) fails to compile when trying to cast an existing model to the scalar type `casadi::SX`. Attached the error by GCC 7.4

[code]

Thank you for you time,
Matteo

[2020-10-05 10:04] jcarpent commented on #1307
This is a bit weird, because casadi is compiling well on our CI: https://github.com/stack-of-tasks/pinocchio/runs/1202099992
Could you run the Pinocchio tests that involve Casadi (with ctest -R test-cpp-casadi --output-on-failure)?

[2020-10-05 20:29] Gregwar opened #1308 "Kinematics tree root and rnea()"
Hello,

Suppose, on an humanoid robot standing on one foot, I have the robot state `q` and `v`, and a target `a` acceleration for the joints.

If I want to know which torques woult it require to achieve such an acceleration on the joints I can use the inverse dynamics by calling [rnea()](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#a26d94ea648

[2020-10-06 07:47] jcarpent commented on #1308
Hi @Gregwar,

It seems you want to solve an inverse dynamics problem, meaning that you want to find the control actuation (torque) together with the contact forces to apply on the system in order to susten its weight. This called task-space inverse dynamics in the robotics jargon. I would suggest you having a look at https://github.com/stack-of-tasks/tsid, which builds on top of Pinocchio a dedica

[2020-10-06 08:22] Gregwar commented on #1308
Thanks, I will have a look at that.

I do understand that in the general case (involving multiple supports) this is a complicated problem.
However, is there an answer to my above question, since in single support case it would just be a change of the robot tree root, isn't it?

[2020-10-06 08:41] jcarpent commented on #1308
Yes, indeed. You're correct. It won't be so hard to implement an algorithm that change the root kinematic tree.

[2020-10-06 08:56] Gregwar commented on #1308
It seems that it would be useful from an API point of view (and apparently other people are pushing in this direction)

However I perfectly understand that everything could be done without changing the root of the tree. I'm curious what would be the steps in that particular case.

[2020-10-06 09:05] jcarpent commented on #1308
If you want to give a try, I may provide feedback on top of your PR.

[2020-10-06 10:57] Gregwar commented on #1308
I'm not sure I want to give a try to implementing this now since I'm new to the code base

What I meant is that I'm curious how it would be to compute torques without changing the floating base. But I agree that be able to change floating base would be a good feature.

[2020-10-06 19:58] jmirabel commented on #1308
You could also achieve this without changing the current code.
1. compute the centroidal inertial forces due to the acceleration you want.
2. apply newton law on the full robot (inertial forces + weight + reaction force = 0)
3. check that the reaction force is in a friction cone, otherwise, your robot falls.
4. apply RNEA with the reaction force computed above.

[2020-10-06 21:26] Gregwar commented on #1308
@jmirabel ok thanks

Sorry if I misunderstood, but imagine that:

1. All the mass is in the support foot
2. We want to bend the legs

In that case, computing the centroidal forces will give an upward force (because it is computed in the trunk of the robot, the feet appear to be lifting). To exagerate, imagine that this inertial force is the same as weight, the reaction forces will then vanishes. H

[2020-10-07 06:52] jmirabel commented on #1308
If you apply what I told you and you get:
- a pulling reaction force, then your robot will jump.
- a force outside the friction cone, then your robot will slip.

Try yourself to bend the your leg. If you do it fast, then your leg will momentarily loose contact with the ground. So what you say is expected.

[2020-10-07 07:31] Gregwar commented on #1308
Ok, I understand that, but if the reaction force is zero, what is the difference between controlling a robot on a leg and an robotic arm?
I guess you also need to feed the desired floating base acceleration when calling rnea, isn't it?

[2020-10-07 07:40] jmirabel commented on #1308
You can compute it by assuming a rigid contact of the foot on the ground.

In the beginning, the reaction force will be opposite to the gravity. When bending your leg, the reaction force will first decrease. Then you have two cases:
- it reaches zero and the dynamic of your system changes. You cannot assume a rigid contact anymore. Instead, you have the dynamic of an articulated falling object.
-

[2020-10-07 07:53] jmirabel commented on #1308
If you aren't confident with what I told you, then I second @jcarpent suggestion to have a look at TSID.

[2020-10-07 08:07] Gregwar commented on #1308
I am confident with what you said, and I totally agree on using TSID since it looks like a great framework that solves much more complicated problems in the general case.

Still, do you agree that your method also implies feeding `rnea()` with desired acceleration for the floating base universal joint?

[2020-10-07 08:43] jmirabel commented on #1308
Yes, you have to provide it to RNEA.

[2020-10-07 09:22] mehdi-benallegue commented on #1308
I would just add that this example is not good because you cannot use forward dynamics with massless objects, and thus inverse dynamics is meaningless.

Also, if you have a bilateral contact (a contact where we can pull, push and apply basically any force) then your dynamics would be the same as a fixed base manipulator robot.

[2020-10-07 09:34] Gregwar commented on #1308
This is just a checking example, think of epsilon masses everywhere except in foot; you expect the torques to be epsilon as well to actuate the upper body of the robot (and thus the result of rnea to be epsilon torques with the input you will feed it)

I agree, only with a different root in the kinematic tree (which is the origin of this issue)

We can continue to talk but I guess I can close the

[2020-10-07 09:34] #1308 closed

[2020-10-07 10:11] mehdi-benallegue commented on #1308
The forces computed by the centroidal dynamics are related to the acceleration of the center of mass, but in your example, the CoM is basically in the foot, so bending the knee will not give it any acceleration, and thus the reaction forces are identical to those of a static robot and the torques will be epsilon as expected.

We can control a manipulator by placing the root in any part of the robo

[2020-10-09 22:17] hammoudbilal opened #1312 "lower triangle of "data.M" for "pinocchio::getKKTContactDynamicMatrixInverse()""
Hi,

if calling `pinocchio::getKKTContactDynamicMatrixInverse()` right after `pinocchio::forwardDynamics()` do i need to modify the mass matrix to include the lower triangular part ?
I can see that you do this in the unit test [here](https://github.com/stack-of-tasks/pinocchio/blob/380fdefb172efa07f2dd9112ce2d389e25aa7a41/unittest/contact-dynamics.cpp#L122) but I am not sure if it is needed for `p

[2020-10-10 06:58] jcarpent commented on #1312
No. This one is directly filled symmetrically.

[2020-10-10 12:12] #1312 closed

[2020-10-11 08:31] matteoparigi commented on #1307
Thanks for your reply. I did and all the tests passed.  Yet I still get the error when compiling, unless I comment line 351 in se3-tpl.hpp

[2020-10-11 16:07] jcarpent commented on #1307
I think you just forgot to include the file: `pinocchio/autodiff/casadi.hpp` as done here for instance: https://github.com/stack-of-tasks/pinocchio/blob/820d0f85fbabddce20924a6e0f781fb2be5029e9/unittest/casadi-basic.cpp#L5

[2020-10-11 18:05] matteoparigi commented on #1307
Yes, you are right. Thanks a lot!

[2020-10-11 18:06] jcarpent commented on #1307
Perfect. Good news!

[2020-10-11 18:06] #1307 closed

[2020-10-12 23:43] rshum19 opened #1313 "Jacobian structure clarification"
Hi,

I'm somewhat unclear on the structure of the Jacobian matrix obtained from
[code]
For the 6-D Jacobian `J(q)` I'm not sure if the first 3 rows correspond to the position or velocity. If I multiply `J(q)*dq` does the resulting 6-D vector have the linear velocity in the first 3 entries and the angular velocity in the last 3 entries or the other way around?

Thank you!

[2020-10-13 07:38] jcarpent commented on #1313
The first three rows mactches the linear velocity. The three next correspond to the angular one.
In case you have some doubts, just remind that the spatial velocity `v = J(q)*dq/dt`, and then the former sentence makes sense and is helpful to retrive the correct meaning.

[2020-10-13 07:38] #1313 closed

[2020-10-13 08:10] jcarpent commented on #1308
Your contributions are of course more than welcome dear @mehdi-benallegue. I don't know which tools you are currently using at AIST?

[2020-10-13 15:28] gabrielebndn opened #1316 "Normalization of SpecialEuclidean and SpecialOrthogonal joint configuration where input has zero norm."
Normalization methods SpecialEuclidean and SpecialOrthogonal rely on Eigen's `normalize()` method. According to [the method's doc](https://eigen.tuxfamily.org/dox/classEigen_1_1MatrixBase.html#ad16303c47ba36f7a41ea264cb26bceb6), if the vector's norm is too small, then it is left unchanged. Because of this, if the input vector contains all zeroes at the place of quaternions/continuous joints, the o