[2019-09-27 15:10] ddliugit commented on #893
It works fine now. Thanks!

[2019-09-30 09:00] markusgft commented on #867
I would like to add my vote here for a standalone-interface to the hessian of the kinematics! This would be a very useful feature, ideally in isolation from the above mentioned Hessian-external-wrench product!

[2019-09-30 09:42] jcarpent commented on #867
@markusgft Sure. Which operations do you need? Do you need access to the elements of the matrix?

[2019-09-30 09:54] markusgft commented on #867
@jcarpent thanks for the quick reply! Yes, ideally I need access to the full derivative tensor dJ/dq (i.e. the derivative of a frame-jacobian w.r.t. the joint angles). Is this somehow doable?

[2019-09-30 12:43] jmirabel commented on #867
As long as you have a function returning `tensor * vector`, you can easily build the hessian by calling the function with the canonical base of R^n.

I have no idea how slow this is compare to a function which would compute the hessian directly.

[2019-09-30 13:48] markusgft commented on #867
yes, this is what I am currently using as intermediate solution... I simply call
"pinocchio::computeJointJacobiansTimeVariation(model_, data_, jointConfig, jointVel);" N times using different unit joint velocities. This works, however it is not optimum speed ;)

[2019-09-30 15:39] matteoparigi opened #894 "Getting jacobians with float scalar type does not compile"
Hi all,
in my group we are using your library together with `casadi` for automatic differentiation and optimization, with some success! However, we have troubles when trying to compute symbolic jacobians, meaning that our scalar type is `casadi::SX`. We also noticed that the same code does not compile even if the scalar type is just a float, as in the example below:

[code]

More specifically, the

[2019-09-30 15:47] jcarpent commented on #894
Dear @matteoparigi, thanks for the issue. I've found the bug, which will be fixed by #895. Can you confirm this fix is working now?

[2019-09-30 15:57] matteoparigi commented on #894
Yes, I confirm that it now compiles with both float and casadi::SX scalar type.
Thank you very much for your promptness!

Best,
Matteo

[2019-09-30 16:21] jcarpent commented on #894
Sounds great. Thanks a lot for your quick feedback.

[2019-09-30 16:49] jcarpent commented on #894
Fixed by #895.

[2019-09-30 16:49] #894 closed

[2019-10-01 09:57] cmastalli opened #897 "Compilation error with CppADCodeGen"
My setup is as follows:
  - Ubuntu 16.04
  - CppAD (v20190200)
  - CppADCodeGen (master branch > v2.3.0)
which cmake flags that enable AutoDiff, CodeGen, unittest and benchmarks.

And this is the segment of the error message:
[code]

How can I fix this?

[2019-10-01 14:33] proyan opened #898 "Error parsing urdf"
When parsing a robot through robotwrapper (BuildFromURDF function), I get the following error:
[code]
I tried the urdf of hyq (with collada dae meshes), and of talos (with stl meshes). Both give the same error. I am on the current devel branch of hpp-fcl, and pinocchio.
Any clues on what is happening would be welcome.
Thanks.

[2019-10-01 14:34] jcarpent commented on #898
Could you provide a standalone example with robot examples and scripts?

[2019-10-01 14:40] jmirabel commented on #898
I think the library your executable is linked with at run-time is not the one generated from the source found at compile time.

In other words:
- check your LD_LIBRARY_PATH and PKG_CONFIG_PATH
- check that who gets loaded with ldd
- eventually, remove robotpkg from your environment.

[2019-10-01 14:53] cmastalli commented on #897
Thanks for the feedback. I'll close the issue

[2019-10-01 14:54] jcarpent commented on #898
@proyan Apparently, robotpkg forced Pinocchio to be compiled with C++11 flags on. It might the origin of your issue.

[2019-10-01 14:57] proyan commented on #898
Thanks Joseph. I checked the installation paths of pinocchio, hpp-fcl, and urdf.
I don't have separate installations. And I am installing by source from the devel branches.

Since I'm loading from robotwrapper, I'm not sure which executable would be useful here?

[2019-10-01 15:07] jmirabel commented on #898
You should check all the so files that you find in folder $PYTHONPATH/pinocchio

[2019-10-01 15:21] proyan commented on #898
I found the problem. It seems that we changed python installations between site-packages and dist-packages. I'm surprised that I missed this change.

Thanks @jmirabel and @jcarpent. I'll close this.

[2019-10-01 15:21] #898 closed

[2019-10-02 10:51] cmastalli commented on #897
it compiles the unittest with the following setup:
  - CppAD: v2019200.5 (latest release in github)
  - CppADCoGen: (master branch)

but it doesn't compile the benchmark code.

Additionally, using both master branches, it doesn't compile the unittest and benchmarks.

[2019-10-02 11:52] jcarpent commented on #897
@cmastalli There are some missing definitions in CppADCodeGen about new features of CppAD. I will try to fix them, but those details are not really related to Pinocchio.

[2019-10-02 11:55] cmastalli commented on #897
In the meantime, which versions should I use? In particularly interested in running the benchmark and possibly create some extra benchmarks for the contact dynamics.

[2019-10-02 12:11] cmastalli commented on #897
Another thing -- if I add this flag -DCMAKE_BUILD_TYPE=Release in Pinocchio, then it doesn't compile neither.

[2019-10-02 13:21] jcarpent commented on #897
I will try to fix those bugs. Unfortunately, I don't remember the correct versions as they are evolving too fast. Sorry @cmastalli

[2019-10-02 13:22] cmastalli commented on #897
Don't worry, keep me updated since this is very important for me.

[2019-10-02 18:07] jcarpent commented on #897
Fixed by #900

[2019-10-02 18:07] #897 closed

[2019-10-02 18:08] cmastalli commented on #897
Thank you for this fast action

[2019-10-02 23:28] gsutanto opened #901 "Computation of Time-Derivative of Jacobian (Jd)"
Dear Pinocchio Authors,

I have a question:
suppose if R is the orientation of the end-effector w.r.t. robot base frame as rotation matrix, and if local_J is the result of pinocchio.jointJacobian(), then the end-effector Jacobian w.r.t. base frame is (similar to the example/demo [https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_b-examples_i-inverse-kinematics.html

[2019-10-02 23:29] gsutanto commented on #901
Nicolas Mansard's response by email is as follows:
"Dear Giovanni,

please post your question on github, as a new issue.

Don't compute the Jdot for computing the coriolis acceleration of the hand. Rather use the method to compute the acceleration of the bodies with qddot = 0.

I also suggest that you follow the spirit of Featherstone and Murray (which drives the implementation of Pinocchio) and w

[2019-10-03 00:01] gsutanto commented on #901
Dear Nicolas and Pinocchio Authors,

Do you mean something like this:
[code]
?

I realized that the above computations are spatial velocities, i.e. if the end effector pose is expressed by rotation R and translation p, the end effector linear velocity p_dot, and the end effector angular velocity omega, then (according to Murray et al.'s "A Mathematical Intro. to Robotic Manipulation" book, equatio

[2019-10-03 08:09] jcarpent commented on #901
Dear @gsutanto,
First of all, thanks a lot for using Pinocchio in your own research activity.

In Pinocchio, you have two functions called `computeJointJacobiansTimeVariation` which performs general computations and `getJointJacobianTimeVariation` which retrieves the Jacobian time derivative for your joint either in the local or the world frame.

Is this reply provides some helpfull directions?

[2019-10-03 11:29] gabrielebndn commented on #901
Hi @gsutanto,

It is not. In Pinocchio, we tend to use Featherstone's notation for velocities. With `pinocchio.ReferenceFrame.WORLD)` we mean the velocity of the point *at the origin of the world frame*, expressed *in the world frame itself*.
The correct identity would be `world_J = [R, skew(p)*R; zeros(3,3), R] * local_J`.
The matrix `J = [R, zeros(3,3); zeros(3,3), R] * local_J ` can be computed

[2019-10-03 13:25] cmastalli commented on #897
Hi @jcarpent

It might be not Pinocchio issue, but probably you know what it's going on.

If I compile Pinocchio without defining any flag in CMAKE_BUILD_TYPE, it works everything. And when I run the benchmark it prints
[code]

Any advice is welcome.

[2019-10-03 17:10] cmastalli commented on #897
There is bug in CppAGCodeGen. My PR solves it: https://github.com/joaoleal/CppADCodeGen/pull/26

[2019-10-04 08:17] jcarpent commented on #867
Dear @markusgft,
We have two options to expose the data structure for the Kinematic Hessian:
- either as en Eigen::Matrix<Data::Matrix6x,Eigen::Dynamic,1> (compatible with all Eigen versions)
- or as Eigen::Tensor which requires C++11

I would vote for the second option, which will be a long term solution I would say.
What is your opinion?

[2019-10-04 08:29] markusgft commented on #867
What is your opinion?

I second that!  Thanks a lot!

[2019-10-05 00:37] jviereck opened #904 "Using wrapper.frameJacobian with reference frame"
Hi folks,

I am confused by what's the best way to get jacobians and calling the compute functions. Especially, I am interested in getting the LOCAL_WORLD_ALIGNED jacobian.

One way to do this is

[code]

If I want to avoid the call to `pin_robot.computeJointJacobians(q)`, the other method is

[code]

However, in the later [1], passing the reference frame to `frameJacobian` is depricated.

Is ther

[2019-10-05 09:04] jcarpent commented on #904
Dear @jviereck,

As soon as you are dealing with WORLD or LOCAL_WORLD_ALIGNED reference frames, you have to know the world placement of the bodies (data.oMi). And then, it appears that you need to perform a forwardPass over the joints. computeJointJacobians is doing that in a very effective way (both computing the forwardKinematics and the Jacobian of all the joints).

Then, the way you proceed is

[2019-10-05 21:16] markusgft opened #905 "Selectively "fixing" (actuated) joints at URDF-parsing time"
Dear all,

I would like to bring up the following issue, regarding parsing URDF's including highly redundant URDFs in pinocchio.
The issue is best explained using an example: let's consider a setup where we have a manipulator, e.g. a robot arm combined with a very dexterous gripper, e.g. a hand with a three finger gripper. Usually, for controlling the arm, we can neglect the dynamic behaviour of t

[2019-10-06 09:37] jcarpent commented on #905
Dear @markusgft,

This is a very good initiative and suggestion.
I would suggest to not put this feature at the URDF level but at the model level.
In Pinocchio, we already have some functions acting on two models to append them together.
We can imagine having a new function called:
`Model lockJointsInModel(const Model & model, const std::vector<std::string> & list_of_joints_to_lock)` which will re

[2019-10-06 10:48] markusgft commented on #905
Indeed that makes sense, I'd also prefer this solution!

I'd propose to even go so far to provide 2 different joint-locking-API's. One function could be called

as you suggested above. But it could even be that the "inverse" of above solution with a list of joints to keep unlocked is more useful in practice (usually we know exactly which joints we want to control, and don't care about the rest!) S

[2019-10-06 14:31] jcarpent commented on #905
Sounds great for me! @markusgft Do you validate the two new signatures:
```Model lockSomeJoints(const Model & original_model, const std::vector<std::string> & list_of_joints_to_lock)```
and for the second signature:
```Model keepSomeJointsUnlocked(const Model & original_model, const std::vector<std::string> & list_of_**unlocked**_joints)```
?

[2019-10-06 14:31] jcarpent commented on #905
Concerning the suggested naming, feel free to adjust them ;)
I may be not good at choosing correct namings.

[2019-10-06 14:32] jcarpent commented on #901
@gsutanto Do you have any feedback on our replies?

[2019-10-06 16:11] traversaro commented on #905
I totally agree with the proposal to have an API to just list the "not-locked" joints, we have that in iDynTree (see [`iDynTree::createReducedModel`](https://github.com/robotology/idyntree/blob/c8bf721b771fa4b1e7c3a940632e121060719a19/src/model/include/iDynTree/Model/ModelTransformers.h#L65) and is fundamental for the users of whole-body control, as typically for the iCub robot we may have a lot o

[2019-10-06 16:15] jcarpent commented on #905
Thanks @traversaro for this nice reply.
I think indeed important to specify the value of the locked joint. I will add this feature to both signatures.

[2019-10-06 16:22] gsutanto commented on #901
Dear @jcarpent  and @gabrielebndn ,

Thanks for your response. Sorry I have been busy the past two days. I will have one more test tomorrow (Monday) on my side. If I have further questions, I will post it here. Otherwise I will close this case. Thanks so much!

Best Regards,

Giovanni Sutanto

[2019-10-06 17:19] markusgft commented on #905
A possible name for the signatures could also be:

`pinocchio::createReducedModel(const Model & model, const std::vector<std::string> & list_of_joints, Enum::LockType lock_or_unlock)`

But I'm happy to leave the final decision to you @jcarpent ! Thank you again for reacting so quickly!!!

[2019-10-06 18:06] jcarpent commented on #905
I will adopt your signature. It is pretty concise and clear.

[2019-10-06 18:06] jcarpent commented on #905
@markusgft @traversaro Thanks a lot for your feedback.

[2019-10-08 21:15] gsutanto commented on #901
Dear @jcarpent ,

Sorry for the delay, I tried the following:
[code]
I checked that the relationship:
local_walign_J = matmul(l2lwa, local_J)
holds, but the relationship:
local_walign_Jd = matmul(l2lwa, local_Jd)
does not hold.

I guess this makes sense, because for the computation of local_walign_Jd should be equal to matmul(l2lwa, local_Jd) + (an additional term that depends on local_J and the t

[2019-10-08 23:24] ddliugit opened #906 "python impulse model"
I am working on a project of impulse model, how to use impulse model in python with Pinocchio?

[2019-10-09 09:49] jcarpent commented on #901
@gsutanto Did you update the code to the current devel branch?
The support of `LOCAL_WORLD_ALIGNED` is new for JacobianTimeVariation.

By the way, how do you install pinocchio on your computer?

[2019-10-09 15:20] jcarpent commented on #906
Dear @ddliugit,

Without more details, it is hard for Pinocchio's support team to provide guidance.
You may have a look to the tutorials of Pinocchio which seems to a good starting point: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_1-directgeom.html

[2019-10-09 15:26] ddliugit commented on #906
I thought you implemented the model in rigid body dynamics algorithms. Where can I find the relevant Pinocchio code in that section?

[2019-10-09 16:07] jcarpent commented on #906
You can find the relevant details here: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#a3b3ac8f8d2b0bb7ec4aeea811d5d1800

The code in Python follows the same signature as in C++.

[2019-10-09 16:09] ddliugit commented on #906
Thanks. Really appreciate your help.

[2019-10-09 16:09] #906 closed

[2019-10-09 16:09] jcarpent commented on #906
@ddliugit Your welcome.

[2019-10-09 16:12] gabrielebndn commented on #906
@jcarpent not exactly. For the curent version, v2.1.8, Python is using the convention of setting `q=None` in order to employ the variant with no arguments. , which was removed and replaced by a signature more similar to C++ by #902 (a non-backward-compatible change, by choice).

If you want to avoid that some people start employing the removed signature, I suggest a new release

[2019-10-09 16:21] ddliugit commented on #906
@jcarpent can you help release a new version for install on Mac? I need q for calculation.

[2019-10-09 16:23] jcarpent commented on #906
Could do that indeed.

[2019-10-09 16:24] jcarpent commented on #906
@ddliugit How do you install it on OSX?

[2019-10-09 16:26] ddliugit commented on #906
brew install pinocchio

[2019-10-09 16:38] jcarpent commented on #901
Following discussions in #906, I will provide an new release in the next few hours. It will solve your issue.

[2019-10-09 16:55] gsutanto commented on #901
I follow the instruction in https://stack-of-tasks.github.io/pinocchio/download.html , the Linux version, with:
`sudo apt install robotpkg-py35-pinocchio`

With the new release, are you saying that the relationship:
`local_walign_Jd == matmul(l2lwa, local_Jd)`
should hold?

[2019-10-09 16:57] jcarpent commented on #901
The release is not yet available. The code you need is currently on the devel branch of the project.
I'm making a new release which will be shortly available.

Unfortunately, you will have to way for the robotpkg version.
On the other side, you will be able to install it by using Conda. Is it OK for you?

[2019-10-09 17:16] gsutanto commented on #901
Hi Justin,

I see. Yeah, conda is fine (is there already installation instruction with conda?). Right now it's not critical for me, it can wait for a 2-3 days or so, and it's still fine for me.

But on the theoretical side, I have a few questions:
[1] Is `local_Jd == time_derivative_of(local_J)`?
[2] If `local_Jd == time_derivative_of(local_J)` is true, then isn't `local_walign_Jd == matmul(l2lwa,

[2019-10-10 02:16] ddliugit commented on #906
can you update homebrew formula to link to new release

current on Mac, it is still 2. 1. 8

[2019-10-10 09:09] jcarpent commented on #906
Done!

[2019-10-10 14:45] jcarpent commented on #906
It should work already.
You just need to do `brew install pinocchio --build-from-source`

[2019-10-10 14:46] ddliugit commented on #906
That's good news!
I will test it after installing Catalina.

[2019-10-14 07:58] nmansard commented on #905
I like the idea.

I would suggest to have a method name with lock somewhere inside, as I found the wording "reduce" somehow inaccurate. Maybe simply lockJoints(...) or createModelByLockingJoints(...).

I am surprised by the API with vector of string, instead of vector of joint indexes. It does not seem to follow the (implicit) standards, is it?

I thought during 2 minutes of proposing to create th

[2019-10-14 18:09] gsutanto commented on #901
Dear @jcarpent ,

Is there an update on this case?

[2019-10-16 10:04] gabrielebndn opened #909 "Safety checks in Python"
Currently, safety checks like checking the length of the array or verifying that the `Data` object is consistent with the `Model` are only done through asserts, i.e. only in debug mode.

This leaves the users completely on their own when using the Release mode, but it is consistent with what Eigen does, and I think it should stay this way: if users want, they can still compile in Debug mode.

Howe

[2019-10-16 10:08] gabrielebndn commented on #909
Oh, I see Python actually does perform the checks! My bad, I did not remember that, I should have verified before. Still, what do you think of setting a switch?

[2019-10-16 10:11] gabrielebndn commented on #909
Also, the checks are performed, but since they are made through asserts, this actually crashes the whole program and it quits the Python interpreter. I think this is not a desirable behavior in Python. Exception would be better, in my opinion.

[2019-10-16 10:23] gabrielebndn commented on #909
Actually, this is what happens: with the apt-downloaded version (v2.1.8), it seems the asserts are enabled, but with the manually compiled version (v2.1.9, but I do not think it changed) they are not (`NDEBUG` is defined).
I am I getting it right? What are the Python compilation options for the apt version? @nim65s, do you know anything about it? If I am getting it right, I find it confusing. The

[2019-10-16 10:28] wxmerkt commented on #909
`assert` is, by default, deactivated (undefined) when you configure in any mode other than `CMAKE_BUILD_TYPE=Debug`. I think `-NDEBUG` or including `<cassert>` can be a workaround.

[2019-10-16 11:20] gabrielebndn commented on #909
This test
[code]
Does not give me any error when I use the manually-compiled version. This means the assertions are disabled and `NDEBUG` is define. I can see from the compiler output that `DNDEBUG` is indeed part of the compilation command.
But, when I run it with the apt-installed version, it fails with the following error
[code]
then the Python interpreter crashes with no possibility of recover

[2019-10-16 11:29] jcarpent commented on #909
I think the best usage is to expose the checker in Python and let the user call them if they need it. This is a safe strategy that would not interfere with the current scheme.

[2019-10-16 11:36] gabrielebndn commented on #909
What do you mean with "expose the checker"? `model.check(data)` is already exposed, if that's what you mean. This calls `checkData(model,data)`, which is not exposed, but still the instance method is just the same.
Also, this is not the only thing one might want to check: the most common errors concern the length of the input vector.
I do not think it can get quite cumbersome if users are forced t

[2019-10-16 11:41] cmastalli commented on #909
I would like to draw your attention in this nice assert library:
https://github.com/gpakosz/PPK_ASSERT
where at runtime you're able to ignore asserts.

[2019-10-16 11:47] cmastalli commented on #909
@gabrielebndn we could also add Python wrappers of Python bindings where:
 1. we could add Python assertions
 2. improve the automatic description of boost python which shows c++ objects (I personally hate it :)

This is very easy job, but it requires a lot of very boring work to wrap each function.

[2019-10-16 11:57] gabrielebndn commented on #909
I am looking at it. It seems nice

[2019-10-16 11:58] gabrielebndn commented on #909
Not only this would be long and cumbersome, it would also be harder to maintain. I would personally prefer to replace all `assert` with a configurable `PINOCCHIO_ASSERT` macro, which can be done very quickly, and is cleaner.
Plus, I like the automatic boost-python description :)

[2019-10-16 12:07] jcarpent commented on #909
One solution is would be to redefine the `PINOCCHIO_ASSERT` in the top header file of Python bindings. For that, we just need to do something like:
[code]
This will allow more generic features than the one you suggested before. @
What do you think?

[2019-10-16 12:24] wxmerkt commented on #909
I agree and it's particularly annoying in Jupyter notebooks. `assert` crashes Python (and I expect, by default, them not to be active when compiling in Release mode). If you want to be sure it's checked, perhaps an if statement (inexpensive) that throws an exception (expensive, but then otherwise you'll crash and can't catch), which is passed through the binding to Python, may be a better option?

[2019-10-16 12:27] jcarpent commented on #909
Indeed, assert should not appear in Release mode.

[2019-10-16 12:30] cmastalli commented on #909
With the header library that I shared, you can at runtime avoid a crash of an assert. This is
because sometime debugging things is convenient to ignore an assert

[2019-10-16 12:36] wxmerkt commented on #909
Would `if (q.size() != nq_) throw std::runtime_error("Wrong size");` be inconvenient to replace `assert`? Is the cost of the `if` too much to add?

[2019-10-16 12:38] jcarpent commented on #909
It is not a good idea to add throwing inside efficient algorithms, it would break the predictability. This should have be done with a checker function defined for each algorithm I would suggest.

[2019-10-16 12:43] cmastalli commented on #909
It is also still possible to include the throw runtime only when we compile the Python bindings. However, it looks a bit dirty work.

I'm still not sure is this topic is important? My opinion is "if an user wants to debug its code needs to compile Pinocchio in Debug mode and its bindings".

I like pretty much plain things where users are exposed to every aspect of the development. So, a solution c

[2019-10-16 12:53] jmirabel commented on #909
Wouldn't you break ABI compatibility in a case like :
- A: a C++ only library using Pinocchio,
- A-py: Python bindings of A
- In Python, import pinocchio and A-py...

[2019-10-16 13:08] jcarpent commented on #909
I don't think so. Why do you think so? Any hints?

[2019-10-16 13:14] jmirabel commented on #909
You have no way of knowing which `pinocchio::algo` implementation will be found (in pinocchio Python bindings or in libA.so).

It shouldn't be hard to make it not break the ABI compatibility but one should be careful with such things.

[2019-10-16 13:40] wxmerkt commented on #909
If the requirement to debug your algorithm is to compile every library in Debug mode locally, the efficiency of using dependencies as binaries goes away. E.g., when I develop Crocoddyl I want to be able to install Pinocchio binaries. If I make a mistake passing the wrong vector to say `pinocchio::forwardKinematics` (e.g., state instead of configuration), I want to see a throw, realise my mistake,

[2019-10-16 14:19] jcarpent commented on #909
Sorry @wxmerkt, I do not really understand your thoughts. Can you provide more details or an example to help my understanding?

[2019-10-16 14:40] jcarpent commented on #909
I think the argument of Microsoft about not affecting the performances might be incorrect when algorithms are working at the micro-second scales like ours. I will implement a quick bench to try it when I have some free times, before doing the complete change.

[2019-10-16 14:42] jcarpent commented on #909
In all cases, I'm not against at all throwing in Python, as it might help the beginners and the development processes such as Crocoddyl or other libraries based on Pinocchio. So, we should think about such a solution.

[2019-10-16 14:58] jcarpent commented on #909
@wxmerkt Following your suggestions, it should be only done for the algorithms folder. We might have some issues in other places (like JointComposite) but this is not at the top priority.
@gabrielebndn Your solution seems to be one good starting point, except for the global variable which should be handled with a static variable inside a function, in similar it is done in Eigen for `set_is_malloc_

[2019-10-16 15:19] jcarpent commented on #909
This is mandatory if you have several projects using Pinocchio. You did not want each one to define its own global variable, but rather to call it via a function containing a static variable. This is very similar to a singleton indeed, but simpler in the current context.

[2019-10-16 15:36] jcarpent commented on #909
No, I don't think so.

[2019-10-16 15:38] jcarpent commented on #909
In addition, and to simplify the current API in terms of Macro management of Pinocchio, I would be in favor of:
- keeping `PINOCCHIO_ASSERT` as it is done now
- adding `PINOCCHIO_THROWING_ASSERT` which will implement the throwing in Release mode and use the classic PINOCCHIO_ASSERT in the Debug mode.

[2019-10-16 15:42] gabrielebndn commented on #909
But users would *not* be able to choose Release/Debug mode if they are using the bindings from apt. This would force you to either *always* have the checks or *never* have them (and force them to compile Pinocchio from source if they want them, in this last case).

[2019-10-16 15:50] gabrielebndn commented on #909
@jcarpent, sorry, I am not following you.

We do not have a macro called `PINOCCHIO_ASSERT` at the moment. We have `PINOCCHIO_ASSERT_MATRIX_SPECIFIC_SIZE`
[code]
which would not change a lot and is not systematically used (most algorithms use plain `assert`). And `PINOCCHIO_STATIC_ASSERT`
[code]

I really do not understand this suggestion. I thought you were against the checks in Release mode, and

[2019-10-16 15:54] jcarpent commented on #909
I mean by `PINOCCHIO_ASSERT` which can be a static assert or something that the user may want to overload for personal reasons. So, using a Macro is well-defined way.
On the other side, defining `PINOCCHIO_THROWING_ASSERT` will enable us to optionally throw for certain quantities like the vector dimensions mentioned by @wxmerkt.

[2019-10-16 16:11] gabrielebndn commented on #909
I really don't see the point of having exceptions in `Release` mode and assertions in `Debug` mode. If you have exceptions in `Release` mode, I do not see the point of turning them to assertions in `Debug` mode, we might as well keep the assertions, it would get away with all complications and be more consistent. Besides, you seem to suggest that the checks will be performed in `Release` mode, whi

[2019-10-16 16:12] wxmerkt commented on #909
Extra macros and definitions add complexity.

I agree that assert as currently is the right way to go for internal quantities such as models that affect Pinocchio developers.

For public facing methods/functions, is there an argument _against_ the `if (input.size() != member_) throw std::runtime_exception("wrong size");`. I would not define a macro and I would not switch between Debug and Release

[2019-10-16 16:18] wxmerkt commented on #909
One further argument regarding **efficiency** I'd like to add:

The robotpkg binaries currently include the `assert` - an `if` should be the same cost or faster. This means that they do perform these checks _for all of them_ at runtime already (plus whatever else is activated by `DEBUG`). On my computer there is a **3x difference in runtime** between me pulling the binaries vs compiling on the mac

[2019-10-16 16:27] jcarpent commented on #909
@gabrielebndn I just want to make the distinction between internal assert as @wxmerkt mentioned and the one that might THROW if the compilation flag is active (which should be by default ON if there is no drastic overhead -- which needs to be checked). But for benchmarking the algorithms in general, I would be in favor of silent them.

@wxmerkt I think here a MACRO will simplify the reading of the

[2019-10-16 16:28] jcarpent commented on #909
I strictly do not understand why robotpkg is doing this thing in the back of the user. @nim65s Do you have any clue on this issue?

[2019-10-16 16:40] gabrielebndn commented on #909
But this has nothing to do with `Release` vs `Debug` mode

Yes. But then you would need to control this behavior by defining an extra macro.

Agree on this: defining `PINOCCHIO_ASSERT` is easy, its use would intuitive and legible, and the macro would be more flexible.

[2019-10-16 16:46] wxmerkt commented on #909
Perhaps, prior to making a final decision, let's gather numbers on whether the `if` actually adds an overhead. If it turns out to be negligible in benchmarks, there is no need for flags to turn on/off and it can be left on by default.

[2019-10-16 16:53] nim65s commented on #909
I have already noticed and reported that `-O3 -DNDEBUG` is stripped from `CXX_COMPILER_FLAGS_NDEBUG` at some point, but we don't understand why yet. I'll look more deeply into this as soon as I'm back from my vacation :)

[2019-10-16 17:08] wxmerkt commented on #909
# Current devel, `MinSizeRel`

## Results
[code]

# Current devel, assert redefined as if(), `MinSizeRel`

In `macros.hpp`, this is the change:
[code]

## Results
[code]

[2019-10-16 17:17] jcarpent commented on #909
Why are you so slow?

[2019-10-16 17:20] jcarpent commented on #909
By the way, `model.check(data)` should slow your timings a lot. This is not appearing in your results.

[2019-10-16 17:33] gabrielebndn commented on #909
-O3 is removed too? This is Bad. BTW, I had missed that. Where did you report it? Where can we find a reference for this?

[2019-10-16 17:34] jcarpent commented on #909
@wxmerkt Could you try this code instead:
[code]
? I just changed the condition account in the `if`.
It seems that this code is not called.

[2019-10-16 18:08] wxmerkt commented on #909
Thank you for pointing this out @jcarpent. I did a search-replace on the entire workspace to define a new variable and verified it throws the exception when the if condition is flipped:

[code]
and preg-replace `assert(` with `TEST_NEW_ASSERT(`.

## `MinSizeRel`, with if() on everything including `model.check(data)`
[code]

## `MinSizeRel`, with all `model.check(data)` removed - the rest with the

[2019-10-16 18:17] wxmerkt commented on #909
Cf. https://github.com/stack-of-tasks/pinocchio/pull/910 for the changes used in the benchmark above. Please take a look and re-verify in your machine. For us, we did not see a penalty - counterintuitively, it was even slightly faster with the `if` on at all times than with it being `void(0);`.

[2019-10-16 18:32] olivier-stasse commented on #909
Another solution is to package dbg version of the library. The other advantage of this is that you have the export of the symbols for debugging.

[2019-10-16 18:52] olivier-stasse commented on #909
Sorry for maybe just adding noise, but after reading this thread I looked at the two following files:
[code]
it appears that the python wrapper is compiled with the std=c++11 flags, which I do believe is not correct.

Moreover I found out moreover this is probably due to the inclusion of the following file in the robotpkg Makefile of py-pinocchio
[code]
The corresponding line
https://github.com/ni

[2019-10-16 21:29] jcarpent commented on #909
Dear @olivier-stasse,

I also found this weird C++11 forcing flag some weeks ago. It was added by maintainers of robotpkg for compatibility issues with recent versions of URDFDOM which are forcing the compatibility with C++11 sadly.
Normally and @nim65s may confirm, this flag should be removed soon from robotpkg. I just hope nobody will suffer from it.

[2019-10-17 09:34] olivier-stasse commented on #909
I did some testing.
1. Switching
[code]
to
[code]
do fix the matter, i.e. we have -O3 -DNDEBUG compilation
2. Making the switch and adding the following lines from the c++11.mk makes the problem reappearing:
[code]

[2019-10-17 09:43] olivier-stasse commented on #909
And I will stop here as it is not related with the initial topic of this thread.

[2019-10-18 08:53] alejandroastudillo opened #911 "Are AD (CasADi)-interface capabilities possible in Pinocchio for Python?"
Dear all,

I have built a C++ "library" which generates CasADi's symbolic expressions for robot dynamics, kinematics, joint torque regressor, generalized gravity, etc,  from a URDF file. This library depends on Eigen, Pinocchio and CasADi.

I was wondering if it is possible to create such "library/module" in Python 3, which depends on EigenPy, Pinocchio and Casadi?

I am asking this because I have

[2019-10-18 09:05] cmastalli commented on #911
Dear @alejandroastudillo

Inside Gepetto team and MEMMO project, we're working on very efficient optimal control for robots. The name of our library is Crocoddyl, and you can find it here:
https://gepgitlab.laas.fr/loco-3d/crocoddyl

Crocoddyl has novel solvers and very efficient formulations. We solve optimal control problems for quadrupeds, humanoids, etc at very high frequencies (from 200-800 H

[2019-10-18 09:28] jcarpent commented on #911
Dear @alejandroastudillo,

First of all, thank you very much for your useful feedback on your current usage of Pinocchio.

I can confirm that I'm working on making AutoDiff and CodeGen accessible in Python. This is ongoing work, where I'm also trying to really expose Eigen::Matrix and Eigen::Vector with autodiff scalars in EigenPy. I also know that this feature would be essential for @andreadelpre

[2019-10-18 12:21] alejandroastudillo commented on #911
Thank you for your fast reply.

@cmastalli your work is really interesting. I'll give it a try starting with the arm_manipulator example, since is the one of greatest interest for me. The idea of the module I am building is to fill a gap inside a more complex toolchain built in my [research team](https://github.com/meco-group), but Crocoddyl seems like a good complement for what the toolchain aims

[2019-10-18 15:22] cmastalli commented on #911
If our tool is useful for you, you can help us to make better!

[2019-10-18 16:10] jcarpent commented on #901
@gsutanto, sorry for my late reply, but those days are very full from my side.
I will answer to your request (I haven't read fully yet) on Monday. Is it OK?

[2019-10-18 16:12] gsutanto commented on #901
OK

[2019-10-19 00:31] ddliugit opened #912 "Model without mesh error"
I want to do a small experiment for a simple Urdf file without mesh etc.

see this Urdf file with only one bar:

[code]

**However, Gepetto gui doesn't show the box .**
BOX does not exist.: unspecified iostream_category error
Node "world/pinocchio/collisions/link1_0" does not exist.
BOX does not exist.: unspecified iostream_category error
Node "world/pinocchio/visuals/link1_0" does not exist.

In

[2019-10-19 10:19] gabrielebndn commented on #912
May be related to #726. In short, right now Pinocchio's routines are only able to show meshes. This should be fixed by enhancing GepettoVisualizer https://github.com/stack-of-tasks/pinocchio/blob/master/bindings/python/pinocchio/visualize/gepetto_visualizer.py

[2019-10-21 12:05] jcarpent commented on #909
Solved by #910. Thanks to @wxmerkt for this nice and useful contribution.

[2019-10-21 12:05] #909 closed

[2019-10-22 10:54] alejandroastudillo commented on #911
@cmastalli yes it is. I will first focus on building my toolchain, but I'll check more about Crocoddyl later and see what can I improve there.

@jcarpent Are you working on AutoDiff/CodeGen in your own fork/branch of EigenPy/Pinocchio?

[2019-10-22 16:36] gabrielebndn commented on #912
So, this requires python bindings for [hpp-fcl](https://github.com/humanoid-path-planner/hpp-fcl).
I was about to make them myself inside Pinocchio, but @jmirabel told me that they are being made inside hpp-fcl itself: they are basically ready on the [refactoring](https://github.com/humanoid-path-planner/hpp-fcl/tree/refactoring) branch, which should be merged in a matter of weeks, after the neces

[2019-10-22 16:38] ddliugit commented on #912
OK, I see. Thanks.

[2019-10-22 16:54] gabrielebndn commented on #912
@ddliugit, I think we can keep this issue open until it is solved

[2019-10-22 23:02] ddliugit commented on #912
OK, that's great.

[2019-10-23 12:34] wxmerkt opened #914 "Generate and install CMake config"
Analog to https://github.com/stack-of-tasks/eigenpy/issues/98

[2019-10-23 13:00] jcarpent commented on #914
I will try to work on it but it will require some work to cast all the pkg-config files as standard CMake dependency.

[2019-10-23 18:30] wxmerkt commented on #849
I also just ran into this: This happened despite being in a **C++11 project** - I didn't get a good error/warning pointing me to include `pinocchio/fwd.hpp` prior to any other header. Via Google I came across the original issue by Carlos, and then found the fix here. Is there a way to fix it without having to first include `fwd.hpp` for C++11 and onwards?

[2019-10-24 06:24] jmirabel commented on #849
Does catkin uses the same compilation flags as the one in the pc file ?

[2019-10-24 08:58] jcarpent commented on #849
@wxmerkt Have you tried the last release (2.1.9). They should fix your issue even on C++11

[2019-10-24 10:01] jmirabel commented on #849
Is it possible that any of the other dependencies also set BOOST_MPL_LIMIT_LIST_SIZE ?

[2019-10-24 10:06] jcarpent commented on #849
You should use `${PINOCCHIO_CFLAGS}` I think.

[2019-10-24 10:34] wxmerkt commented on #849
Previously, I included a ROS header _before_ Pinocchio - that broke it. ROS on Melodic still has Boost in it, so potentially? [I don't know].

[2019-10-24 10:38] wxmerkt commented on #849
**CFLAGS_OTHER** is:
[code]

**CFLAGS** is:
[code]
I have already taken care of the `include_directories` so `PINOCCHIO_CFLAGS_OTHERS` should suffice.

[2019-10-24 12:15] jmirabel commented on #849
Could you provide:
- the compilation command,
- the standard output of the same command with the additional gcc option `-E` ?

[2019-10-24 17:25] wxmerkt opened #916 "Tag new version"
Similar to eigenpy, it would be great if we can add a new tag - there are a few important changes since 2.1.9 including the Hessians for the kinematics, the argument checking with exceptions, and the package.xml that has been added.

As part of this tag, I will deprecate the previous catkin wrapper and release directly from this repository to the ROS buildfarm.

Packages depending on `ros-[melodic

[2019-10-24 22:40] jcarpent commented on #916
I will do it tomorrow morning. Small question, did you manage to get ride from the issues your mentioned in #914? In other words, is it still a priority for you?

[2019-10-25 09:57] wxmerkt commented on #916
We can work with the PkgConfig for now but CMake as in #914 would still be preferable - it is not a priority and not blocking for the new tag though.

[2019-10-25 10:55] jcarpent commented on #916
Done. Thanks a lot @wxmerkt for pushing the ROS integration.

[2019-10-25 10:55] #916 closed

[2019-10-25 11:15] wxmerkt commented on #916
Thank you @jcarpent :-)

[2019-10-25 14:05] wxmerkt commented on #916
I realised we didnt update the package version in the package.xml to 2.1.10. I just added a commit to update it to 2.1.10. Is it okay to re-tag to https://github.com/stack-of-tasks/pinocchio/commit/6476dcf48691e28e0c31e0aad185ebe544efdbac?

[2019-10-25 14:59] nim65s commented on #916
If you are speaking about removing a published tag, and then tagging another commit with the same name, I would really like that we don't do that.

But we could make another, like v2.1.11

[2019-10-25 15:52] wxmerkt commented on #916
I don't think that tag has seen any use since it was just made this morning. Happy to do 2.1.11 if we before update the package.xml

[2019-10-27 10:03] jcarpent commented on #916
@wxmerkt I did it. Is it fine now?

[2019-10-27 17:48] wxmerkt commented on #916
Thank you, perfect :-)

[2019-10-29 19:21] jcarpent commented on #901
Dear @gsutanto,

Sorry for the delay, but the last two weeks were very busy for me.
To answer your questions, the answer to [1] is YES while the answer to [2] is NO.

I provided a code snippet to help you in the understanding below.
The idea is that `J_lwa` is just the transformed Jacobian from the local Jacobian by applying the LOCAL to WORLD action of the relative transform SE3((0,0,0),R) betwee

[2019-10-30 18:40] sbarthelemy opened #919 "support MSVC compiler"
Hello.

I'm trying to get pinocchio working on Windows (only the core lib, not the bindings), compiled with MSVC.
I'm making some progress, but for the support to be sustainable, some CI would be needed.
I think the CI could be provided by appveyor, but I doubt the current cmake scripts, based on PkgConfig will work on Windows.

I'm thinking of adding another build system (either raw modern CMake,

[2019-10-30 19:25] jcarpent commented on #919
Dear @sbarthelemy ,

First of all, thanks for the great effort you're providing to support Pinocchio on Windows.
I'm totally OK for adding a CI for Windows build. Either appveyor or Action by GitHub which will be open to everyone soon (13rd of November).

For the packaging of the project, I think a modern CMake is definitely the right option and I was thinking of it for a while because jrl-cmake i

[2019-10-31 10:09] nim65s commented on #919
Hi,

First, yes, supporting windows and setting a CI on it would be really nice, thanks !

About the method, I don't see why modern CMake would be incompatible with the JRL-cmakemodule, as I'm using 3.15.

I also don't understand how you plan to add a raw modern CMake while keeping the JRL-cmakemodule ;
or if you want to remove the JRL-cmakemodule and use only a modern CMake (I guess this is what

[2019-10-31 16:43] jcarpent commented on #901
@gsutanto I will close this issue as it seems to be solved. Feel free to reopen it if needed.

[2019-10-31 16:43] #901 closed

[2019-10-31 16:51] sbarthelemy commented on #919
Hello all, thank you for the feedback and welcoming messages!

I'm answering the various questions in one go.

Thank you for the hint at github actions! I'm giving it a try. It seems more convenient than appveyor as it supports Mac OS in addition to Windows and Ubuntu.

not yet, I'll publish it as soon as a subset builds on CI.

I feared that pkg-config would be hard to make work on Windows.

I tr

[2019-10-31 20:52] alexswerner opened #923 "hide mimicJoints in model"
Hi,

when importing a model with buildModelFromUrdf, i get all joints which are marked as mimicJoints listed as joints. This is e.g. used in the romeo model distributed with pinocchio, typically for coupled finger joints. Is there a way to remove these joints/links from the model to (a) reduce computation time (b) make the number of joints and actuators match. I think that would simplify developme

[2019-10-31 22:47] jcarpent commented on #923
Hi @alexswerner,

Your request is very similar to the one from @markusgft in #905. If you confirm, I will try to implement it tomorrow. Is it fine for you?

[2019-11-01 14:57] alexswerner commented on #923
Great, i will comment on #905. Thanks

[2019-11-01 15:00] jcarpent commented on #923
Duplicate with #905.

[2019-11-01 15:00] #923 closed

[2019-11-01 15:02] alexswerner commented on #905
Very useful feature. Maybe another possible API would be to first build the model and the call a function: aggregateTree(joint_id). I also think that would solve the problem with joint indexes vs. joints name because you can look up the ids before. However i cannot judge the complexity of this way, but it would make this feature independant from the urdf loader.

[2019-11-01 18:30] olivier-stasse commented on #919
Dear @sbarthelemy
They are discussing  about creating CMake Target ( see https://github.com/jrl-umi3218/jrl-cmakemodules/issues/247) , would that solved your problem with pkg-config ?

[2019-11-05 19:57] sbarthelemy commented on #919
Hi again,

Yes, I suspect that cmake's export targets would be better/easier than pkg-config on Windows.
It is nice if jrl-cmakemodules embraces them.
@olivier-stasse : Thank you for the link! I'll follow the thread.

However, since Francois showed that pkg-config had worked (at least once) on Windows already, I tried the pkg-config way. Here is an update.

I could get perl-provided pkg-config.bat

[2019-11-06 07:34] jcarpent commented on #905
Solved by #927.

[2019-11-06 07:34] #905 closed

[2019-11-06 15:48] sbarthelemy commented on #919
Hi again,

the test now passes on Windows. It is there:
https://github.com/sbarthelemy/pinocchio/commit/ad525407370265f69926d9d15715266e6e8e343b/checks?check_suite_id=298567012

Feedback is welcomed!

The next steps are to get it working on windows-2019 and maybe to factor the powershell code between vagrant and github-action.

Cheers

[2019-11-06 16:19] jcarpent commented on #919
Very nice @sbarthelemy. Small question, why the current job is failing on 16.04? It seems that you've forced a C++11 compilation flag somewhere but I was not able to see it in your modifications.

[2019-11-06 17:53] sbarthelemy commented on #919
Thanks!

It is weird indeed, I'll look into it.

[2019-11-06 18:48] gsutanto opened #934 "Speeding Up Computation Time of Inverse Dynamics"
Dear Pinocchio Authors,

I am using Pinocchio's RNEA inverse dynamics computation in a real-time control loop at 1000 Hz, which means 1ms control window. However, I measured the RNEA computation time itself is 0.5ms. Is there anyway to make it compute faster?

Best Regards,

Giovanni Sutanto

[2019-11-06 18:52] gabrielebndn commented on #934
Normal execution times are in the order of a few microseconds.
Are you sure you are compiling your project with the correct compilation flags? `-O3` should give best performances

[2019-11-06 19:33] gsutanto commented on #934
Oh yeah, you're right. Once I use Release mode and -O3 flag, the computation time goes down to 3 microseconds. Thanks a lot @gabrielebndn !

[2019-11-06 19:33] #934 closed

[2019-11-07 11:18] jcarpent commented on #934
@gsutanto Just for information, what is the model of your robot? model.nq? model.nv?

[2019-11-07 16:28] sbarthelemy commented on #919
When I replaced ``IF(UNIX)`` with ``IF(${PROJECT_NAME}_SOURCES)``,
I though it would not change anything for the ubuntu runners.
I was wrong: those runners compile with ``BUILD_WITH_LUA_SUPPORT==OFF``, and (surprisingly) the other options (urdf, python,...) do not contribute any non-header source file and ${PROJECT_NAME}_SOURCES is empty.

So I "fixed" it with ``IF(${PROJECT_NAME}_SOURCES OR UNIX)

[2019-11-07 16:43] jcarpent commented on #919
@sbarthelemy Thanks for the quick answer.

Yes, we support C++ 98/03/11/14/17/20. We plan in some future to only supports C++11 and more and provide some huge simplification of the codes with this respect.
Currently, unfortunately, and because they might be some users still using C++98 (16.04 user for instance), we need to maintain the portability of the code.

[2019-11-07 18:43] gabrielebndn opened #937 "Checking version"
In [src/utils/version.hpp](https://github.com/stack-of-tasks/pinocchio/blob/1542b09b7e7d3982e92c7c96c05d992d12b918f3/src/utils/version.hpp), we have the methods `printVersion(delimiter)` and `checkVersionAtLeast(major_version, minor_version, patch_version)`.

However, in [cmake/config.hh.cmake](https://github.com/jrl-umi3218/jrl-cmakemodules/blob/77f090f48bb32ccaea39a2670a74670a5e3be928/config.hh.

[2019-11-07 18:47] jcarpent commented on #937
The macro `PINOCCHIO_VERSION_AT_LEAST` is only for compilation purposes, to enable some features, and so on, according to the version of Pinocchio installed on the computer.

The `checkVersionAtLeast` is for runtime, like in Python if needed.

I'm not against putting `PINOCCHIO_VERSION_AT_LEAST` inside the jrl-cmake.

[2019-11-07 19:16] gabrielebndn commented on #937
In C++, I would say `checkVersionAtLeast` is completely redundant. It could be turned into a simple wrapper around the macro. There is no need to have it. Compare Eigen, for instance, they only have the macro. In Python, there *will* be the need of a wrapper. So in the end it's only a matter of where the wrapper is put: in the core C++ or in the bindings only.

As for `printVersion`, I really see

[2019-11-07 22:58] jcarpent commented on #937
In my case, I'm using checkVersionAtLeast in some of my codes in Python.
I do not think we should discuss to suppress such basic functions now. They are not offending anyone and I have currently some usage.

[2019-11-07 23:11] gsutanto commented on #934
Hi @jcarpent , model.nq=7, model.nv=7

[2019-11-07 23:14] gabrielebndn commented on #937
It just that from https://github.com/humanoid-path-planner/hpp-fcl/pull/93 we had the idea of centralizing version-related commands, but as I looked into them I formed the opinion they are not useful, so we might as well remove them, just to have a uniform interface among all packages.

I fully understand the need of `checkVersionAtLeast` in Python, I just do not understand why it should also be a

[2019-11-07 23:14] #937 closed

[2019-11-08 08:11] nim65s commented on #937
`checkVersionAtLeast` in python would be just a `pinocchio.__version__ >= (1, 2, 3)` if version was a tuple with Major, Minor, Patch numbers.

[2019-11-08 08:25] gabrielebndn commented on #937
That is so cool, didn't know that!

[2019-11-08 08:56] cmastalli commented on #937
We shouldn't add package related code in jrl-cmake. It is a bad idea, imagine that every package does it.

[2019-11-08 08:56] proyan opened #939 "updating only the momentum quantities."
We need a function in crocoddyl, that updates the centroidal momentum hg, without additional computations Currently the version that we have (computeCentroidalDynamics) computes the kinematics as well, and thus is not as efficient.

I'm willing to implement it here, but I wish to affirm that there is an appetite for such a function in Pinocchio. What do you think?

[2019-11-08 09:00] cmastalli commented on #937
You can always expose the Pinocchio macros in Python, despite that I don't think it's a good approach. The Pythonic way of doing things will as @nim65s suggested us (through `__version__`)

[2019-11-08 09:02] jcarpent commented on #939
This is fine for me. I can also handle it before doing a new release. What do you think?

[2019-11-08 09:02] gabrielebndn commented on #937
Please check https://github.com/jrl-umi3218/jrl-cmakemodules/pull/276 to see what we mean by "centralizing `PINOCCHIO_VERSION_AT_LEAST`". We are actually talking about a macro `${PACKAGE}_VERSION_AT_LEAST` to be put in the cmake-generated `config` file, where `${PACKAGE}` depends on the specific package and is computed by cmake, and becomes `PINOCCHIO` in the case of Pinocchio. That is how we are

[2019-11-08 09:05] cmastalli commented on #939
There is two ways of doing, I'm not sure what it's the Pinocchio way of doing:
 1. `updateCentroidalDynamics(model, data)`
 2. `computeCentroidalDynamics(model, data) #we don't pass q and qd`

Which option should we pursue @jcarpent ?

[2019-11-08 09:07] jcarpent commented on #939
I think the best naming is `updateCentroidalDynamics` as done in other places in Pinocchio.

[2019-11-08 09:08] proyan commented on #939
If you can handle it, I'm not going to say no :smiley:

[2019-11-08 09:09] cmastalli commented on #937
Ok, this is reasonable; sorry for the noise. However I still support the `__version__`. It is what I expect as an Python user

[2019-11-08 09:10] gabrielebndn commented on #939
My bit: I think `computeCentroidalDynamics(model,data)`. Most methods (think of `forwardDynamics`) can work with or without the configuration.
This way we could establish a nice pattern in all methods: if the configuration is passed, then it is used to compute the kinematics, otherwise the kinematics is not computed

[2019-11-08 09:12] gabrielebndn commented on #937
I do agree on that. We already have it in Pinocchio. The point is wether to remove other options or not. Following @nim65s's suggestion, I think `checkVersionAtLeast` is also redundant in Python.

[2019-11-08 09:15] jcarpent commented on #939
@gabrielebndn Not for `forwardDynamics`, because you don't know if you want the zero, first or second kinematics. The same applied for `computeCentroidalDynamics`. One has to understand the update by `update from the current value in Data`.

[2019-11-08 09:23] cmastalli commented on #939
Unfortunately, I don't have time. Thanks for making this effort @proyan :smiley:

[2019-11-08 09:38] jcarpent commented on #939
@cmastalli Rohan was talking to me ;)

[2019-11-08 10:16] proyan commented on #939
@jcarpent Worth the try :D
No problem, I'll make the PR within next week. I'll prefer `updateCentroidalDynamics`.
By the way, I don't think that I can do it with simply `updateCentroidalDynamics(model, data)`. Correct me if I am wrong, we'll need `v` in order to update the centroidal dynamics. And just inputting `v`, without `q` seems bad.

[2019-11-08 10:25] gabrielebndn commented on #939
For `forwardDynamics` and the like, we assume that the forward kinematics has been computed up to the first time derivative. So I do not think you need to take `v` into account. As long as the `data.v[i]` are filled with the correct values, I do not think you need anything else

[2019-11-08 11:42] andreadelprete opened #940 "pc (pkg-config) file missing space around ">=" sign"
Installing the latest version of pinocchio (devel) from source I got an apparently faulty pc file, which contained the following line:
[code]
The lack of a "space" before and after ">=" gave problem to pkg-config on my machine (Ubuntu 16.04). For instance:
[code]
Adding the missing spaces solved the problem.

[2019-11-08 11:51] nim65s commented on #940
Hi @andreadelprete,

This has already been reported by @wxmerkt  here: https://github.com/stack-of-tasks/pinocchio/pull/933#issuecomment-551333575 ; and @sbarthelemy  is on it.

[2019-11-08 11:52] nim65s commented on #940
You can just temporarily and locally revert 2adf778 to fix this, if necessary

[2019-11-08 12:18] andreadelprete commented on #940
ok thanks!

[2019-11-08 13:52] jcarpent commented on #940
@andreadelprete https://github.com/jrl-umi3218/jrl-cmakemodules/pull/278 should fix the current issue.

[2019-11-08 13:53] jcarpent commented on #940
@sbarthelemy I have proposed a fix because it is affecting current users. Sorry for the bypass.

[2019-11-08 14:08] jcarpent commented on #939
The answer from @gabrielebndn is correct. But, I was thinking to add a enum to say that we want:
`computeCentroidalDynamics(model,data,q,v)` maching `computeCentroidalDynamics(model,data,FIRST_ORDER)` and `computeCentroidalDynamics(model,data,q,v,a)` matching `computeCentroidalDynamics(model,data,SECOND_ORDER)`.

What do you think?

[2019-11-08 14:26] gabrielebndn commented on #937
@nim65s :your suggestion is cool, but `__version__` is a string. As such, it needs parsing and/or third-party modules to checked the way we do it with `checkVersionAtLeast` (see https://stackoverflow.com/questions/11887762/how-do-i-compare-version-numbers-in-python) So, I think a wrapper is still useful.

[2019-11-08 14:44] jcarpent commented on #934
You may have a look at the paper https://hal-laas.archives-ouvertes.fr/hal-01866228 which describes Pinocchio. And you will see some benchmarks on several robots.
You can expect to go below 1us for the RNEA. Can you run:
[code]
It will show the bench for a standard humanoid robot, but you can also do
[code]
for your specific robot.

Thanks in advance for your reply.

[2019-11-08 15:01] nim65s commented on #937
I think a `__version_tuple__ = tuple(int(n) for n in __version__.split('.'))` should be enough as long as we only une integers in our version numbers. Or we could be more fancy and use a namedtuple.

[2019-11-08 15:06] jcarpent commented on #937
It seems that `checkVersionAtLeast` is much more simplet ;)

[2019-11-08 15:12] gabrielebndn commented on #937
I do agree.` __version_tuple__` is completely nonstandard. We can expose the version numbers one by one (we are doing it in Pinocchio) and then use the tuple comparison, but still `(PINOCCHIO_MAJOR_VERSION,PINOCCHIO_MINOR_VERSION,PINOCCHIO_PATCH_VERSION) >= (2,1,3)` is long, tedious, and error-prone to write. A `checkVersionAtLeast` method is simple and intuitive. But, I still think, only in Pytho

[2019-11-08 15:20] nim65s commented on #937
if checkVersionAtLeast is just a bindings to https://github.com/jrl-umi3218/jrl-cmakemodules/pull/276, why not.

[2019-11-08 17:28] jcarpent commented on #940
Solved by #941.

[2019-11-08 17:28] #940 closed

[2019-11-08 18:03] gsutanto commented on #934
Dear @jcarpent ,

I see. Thanks for the references. For now, this is fine for our need. If we need optimize further, we will refer to (and potentially re-open) this thread.

Thanks!

Best Regards,

Giovanni

[2019-11-09 11:18] cmastalli commented on #881
Could you elaborate the explanation?

I don't see differences between the forward dynamics, where Pinocchio doesn't allocate memory.

For Crocoddyl team, it is quite important this issue. It creates issue for the multi-threading deployment (see. https://gepgitlab.laas.fr/loco-3d/crocoddyl/issues/286).

I know you're very busy, however, it would be extremely grateful if this issue can be solved in

[2019-11-09 14:07] gabrielebndn commented on #939
@jcarpent ooh, now I understand the issue... You have two computeCentroidalDynamics, one being first order and the other one second order, but without the arguments you cannot tell which one you want...
In my opinion, I've always found the name computeCentroidalDynamics to be confusing... You could rename them computeCentroidalMomentum and computeCentroidalMomentumTimeDerivative, it would be more

[2019-11-09 17:25] ddliugit opened #943 "python3 installation on Mac"
I need to upgrade python2 to python3 and tried the following command. However, the error appears.

`brew install pinocchio-python3`

Can you help me check?

error:

[2019-11-09 19:15] jcarpent commented on #881
It is just allocating memory at the first call. Not during the second normally. Can you check it?

[2019-11-09 19:16] jcarpent commented on #943
I will have a look at it. On which OS are you working on: 10.14 or 10.15?

[2019-11-09 19:51] ddliugit commented on #943
10.14

[2019-11-09 23:45] ddliugit commented on #943
My python version is 3.7

[2019-11-10 07:20] jcarpent commented on #943
@ddliugit The bug is coming from a new release of assimp. I will fix it asap.

[2019-11-10 09:26] jcarpent commented on #943
There is a bug in Assimp since version 5. I have proposed a fix https://github.com/assimp/assimp/pull/2758.
In the meantime, before any new release, I've also suggested a fix in hpp-fcl https://github.com/humanoid-path-planner/hpp-fcl/pull/95.
This fix has been included in the brew packages of pinpcchio's dependencies.

The mirror is now ok, you should be able to do:
`brew reinstall pinocchio-pyth

[2019-11-10 09:26] #943 closed

[2019-11-10 09:29] jcarpent commented on #939
Sounds a good idea indeed. I will provide such functions.

[2019-11-10 15:07] proyan commented on #939
I agree with @gabrielebndn, centroidalDynamics is quite vague.
So I create the new function with `computeCentroidalMomentum(model, data)`, and deprecate and rename the original functions?

[2019-11-10 15:42] ddliugit commented on #943
**I just tried, but it doesn't work.**

$ brew reinstall pinocchio-python3
==> Reinstalling gepetto/gepetto/pinocchio-python3
==> Downloading https://github.com/stack-of-tasks/pinocchio/releases/download/v2

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "pinocchio-python3"
Download failed: https://github.com/stack-of-tasks/pinocchio/releases/download

[2019-11-10 16:08] jcarpent commented on #943
Are you up to date with brew? Try first:
[code]
If it does not work properly, do:
[code]
Best,

Justin

[2019-11-10 16:09] jcarpent commented on #939
As I mentioned above, I will take in charge @proyan. I do apply some other modifications elsewhere.

[2019-11-10 16:10] jcarpent commented on #939
@proyan But, if it is urgent for you, please go ahead, I will adjust my code accordingly.

[2019-11-10 16:14] jcarpent commented on #939
Anyway, I think you can keep the current functions, but the two signatures you need:
[code]
because
[code]
are clear enough I think, no?

We may add shortcut with the naming proposed by @gabrielebndn.
@proyan @gabrielebndn @cmastalli What do you think?

[2019-11-10 16:25] jcarpent commented on #939
After thinking a bit, it will too much redundant to cope these namings. So, it would nice indeed to mark the former naming as deprecated.
Sorry for the noise ;)

[2019-11-10 17:01] gabrielebndn commented on #939
I think `computeCentroidalDynamics` is a bit confusing. I suggest imoplementing the four signatures
[code]
and deprecating
[code]
which will just call `computeCentroidalMomentum` and `computeCentroidalMomentumTimeDerivative`, respectively. It is better if the methods keep the same names in the version with and without arguments

[2019-11-10 18:12] ddliugit commented on #943
Now it works!

However when I try to run some examples of Pinocchio, it doesn't work!

:wsmemmo_pinocchio dongdong$ python arm3d.py
Traceback (most recent call last):
  File "arm3d.py", line 1, in <module>
    from robots import loadTalosArm
  File "/Users/dongdong/repos/wsmemmo_pinocchio/robots.py", line 2, in <module>
    from pinocchio.utils import *
ModuleNotFoundError: No module named 'pinocc

[2019-11-10 18:13] ddliugit commented on #943
Did you change the module? or should I change the PYTHONPATH in the bash_profile?

[2019-11-10 18:46] ddliugit commented on #943
import pinocchio as pin
from pinocchio.utils import *

print(eye(6))

error:

  File "5.py", line 8, in <module>
    print(eye(6))
NameError: name 'eye' is not defined

[2019-11-10 21:18] jcarpent commented on #943
Yes, you should change the PYTHONPATH to something like:
[code]

[2019-11-10 21:23] ddliugit commented on #943
export PYTHONPATH=$PYTHONPATH:/usr/local/lib/python3.7/site-packages
export PATH="/opt/local/bin:/opt/local/sbin:$PATH"
export PATH=$PATH:/Users/dongdong/bin
export PATH=/usr/local/bin:$PATH
export PYTHONPATH=/opt/drake/lib/python3.7/site-packages:${PYTHONPATH}
export PATH=/usr/local/opt/python/libexec/bin:${PATH}

[2019-11-10 21:23] ddliugit commented on #943
I have already added it to PYTHONPATH though

[2019-11-10 21:27] ddliugit commented on #943
I check the file inside the /usr/local/lib/python3.7/site-packages/pinocchio
I can only find the visualize folder inside and it is empty.
The software is not installed to the right directory?

[2019-11-10 22:25] jcarpent commented on #943
it works on my computer.
So, it seems it come from your side. Could do something like:
[code]

[2019-11-10 23:27] ddliugit commented on #943
OK. Now the error changes:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/pinocchio/__init__.py", line 6, in <module>
    from .robot_wrapper import RobotWrapper
  File "/usr/local/lib/python3.7/site-packages/pinocchio/robot_wrapper.py", line 5, in <module>
    from . import libpinocchio_pywrap as pin
ImportError: dlopen(/us

[2019-11-11 01:43] ddliugit commented on #943
It works after reinstall hpp-fcl!

[2019-11-11 10:19] jcarpent commented on #943
Thank you?!

[2019-11-11 19:00] cmastalli commented on #881
Yes, I confirm that it only allocates memory during the first call of `impulseDynamics`

[2019-11-11 19:08] cmastalli commented on #881
@jcarpent do you know when it could be available the new impulse function?

[2019-11-12 01:04] gabrielebndn commented on #881
*There is no way to avoid this*. Matrix J has a variable number of rows, it is of type Matrix<Scalar,Dynamic,Dynamic>. This implies that the size of all related quantities such as JMinvJt *cannot* be known a priori and is *also* of type Matrix<Scalar,Dynamic,Dynamic>. Therefore
1. When Data is created, these matrices have size 0
1. When the method is first called, the memory is allocated through t

[2019-11-12 06:10] jcarpent commented on #881
Thanks @gabrielebndn for these explanations.

Reading again @cmastalli's comment:

it is worth mentioning that both `impulseDynamics` and `forwardDynamics` do memory allocation at the first call. You have not seen one this allocation because you were certainly using the same Data.
To avoid memory allocation, and contrary to what @gabrielebndn mentioned, there are two ways:
- fix a maximum size for

[2019-11-12 07:09] cmastalli commented on #881
@jcarpent thanks a lot for the effort!

I understand that it shouldn't limit myself, however I have wrong behavior when I use the impulses in a multithreading app. In this case I am using the new API of the impulse dynamics.

[2019-11-12 07:13] cmastalli commented on #881
@gabrielebndn thanks for the explanation.

[2019-11-12 09:11] jcarpent commented on #939
Solved by #944.

[2019-11-12 09:11] #939 closed

[2019-11-12 18:36] wxmerkt opened #947 "robotpkg binary does not depend on libeigen3-dev"
Similar to https://github.com/stack-of-tasks/eigenpy/issues/112

[2019-11-12 18:42] jcarpent commented on #947
Thanks a lot @wxmerkt for the issue. I hope it will be fixed soon.

[2019-11-13 10:41] cmastalli opened #949 "Adding dDifference function for multi-joints"
Dear all,

It would be nice to have this function in Pinocchio. Currently, I am retrieving these Jacobians from the dIntegrate in Crocoddyl. However, I believe that making a full matrix factorization is very inefficient. Therefore, this task has to be done at the Pinocchio level.

Unfortunately, I don't fully understand the Pinocchio implementation. And it would take me a lot of time, more than av

[2019-11-13 11:09] jcarpent commented on #949
I can handle it, but I don't know when exactly.

[2019-11-13 11:11] jcarpent commented on #947
I think all the discussions are discussed there: stack-of-tasks/eigenpy#112. I will close this issue.
Thanks @wxmerkt for raising it.

[2019-11-13 11:11] #947 closed

[2019-11-13 11:12] wxmerkt commented on #947
Has it been addressed in a new release though? I don't think we should close issues until they have been fixed

[2019-11-13 11:34] cmastalli commented on #949
This is not urgent, since I have provided an inefficient solution through full factorization.

However, whenever, it is implemented. Could you post it here? So I can track changes and updates Crocoddyl.

Merci

[2019-11-13 12:02] jcarpent commented on #947
Yes, it will be handled for the next release, following the discussions you have in stack-of-tasks/eigenpy#112. The release process of the Pinocchio project is independent of the binaries delivered by robotpkg. But if you think important to reopen it, feel free to do it. But I prefer to not have similar channels of discussions on a similar topic.

[2019-11-14 09:36] duburcqa commented on #671
I'm trying myself to modify `aba` to take into account the armature. It does not have to be generic and clean, I just want something working and easy to implement. @proyan mentioned that one must "call calc_aba in AbaForwardPass2", but it is not clear for me what to do exactly. Someone can give be more insight about it ? Thanks !

[2019-11-14 10:54] proyan commented on #671
Hi Alexis,
If you look at the algorithm for ABA, there is a forrward pass, a backward pass, and then a second forward pass. The simplest way to add armature, is to add it as a diagonal term in the `M` matrix (`M+rI`), and let everything else intact. However, ABA uses an iterative algorithm to compute `M_inv` inverse, and this means that if we want to compute `(M+rI)_inv`, we lose the iterations gi

[2019-11-14 10:57] jcarpent commented on #671
The second option is to use compute all terms + adding information on the diagonal of the mass matrix and then perform the Cholesky on the mass matrix.
We will add soon (when? I don't know exactly but this is the in the pipe) the notion of actuator and transmission which will do that automatically. More manpower on this task would be helpful.

[2019-11-14 10:58] jcarpent commented on #671
Just to mention that the solution proposed by @proyan does not take into account the Coriolis effects due to the spin of the motor and the motion of supporting joint!

[2019-11-14 11:06] duburcqa commented on #671
@jcarpent Yes I know it does not take into account the Coriolis effects but I cannot afford to increase significantly the computational time. I'm more interested in fast computation rather than accurate modelling. I will have a look to the proposal of @proyan but I only have a vague idea of what to do.

[2019-11-14 11:06] proyan commented on #671
@jcarpent, duburcqa Just for info, after this issue was raised, I found that the update of ABA to take into account the rotor parameters (without taking into account the Coriolis effects, as Justin mentioned) has already been done in Featherstone's book at equation 9.28. It is simply:
`D_i = S_i^{T} * U_i + I_rot`

This, as Featherstone notes, is an easy way that does only takes into account the l

[2019-11-14 11:32] duburcqa commented on #671
@proyan Great, It seems easy ! I implemented it, however I did some experiment to check the results and it does not look right. If I set `f_ext` to 0 and compute
[code]
then I do
[code]
It evaluate to True. But if do
[code]
It evaluate to False, but the maximum residual error is not very large.

[2019-11-14 12:11] jcarpent commented on #671
It won't cost so much. Performs the bench and you will see ;)

[2019-11-14 12:17] jcarpent commented on #671
@duburcqa Could you provide me a link to `abaWithMot`implementation?

[2019-11-14 12:35] duburcqa commented on #671
@jcarpent Yes no problem. I only replaced `AbaBackwardStep`
[abaWithMot.txt](https://github.com/stack-of-tasks/pinocchio/files/3846475/abaWithMot.txt)

[2019-11-14 12:44] jcarpent commented on #671
Simple question: all your joints are revolute along the X axis?

[2019-11-14 12:44] duburcqa commented on #671
Ok I will benchmark it and let you know !

[2019-11-14 12:45] jcarpent commented on #671
Could you provide the real value that you obtained?

[2019-11-14 12:45] duburcqa commented on #671
See my edit, no but I only added inertia to joints of this type. The system is the exoskeleton Atalante :)

[2019-11-14 13:15] duburcqa commented on #671
I did the benchmark, `aba` is between 20% and 25% faster than Cholesky using `vectorN_t a = model_->pncData_.M.llt().solve(u - b);` to compute the accelerations. The dimension of the configuration vector and velocity vectors are 37 and 32, respectively.

[2019-11-14 13:28] duburcqa commented on #671
About the error, I have this for a random state:

[code]

[2019-11-14 14:28] duburcqa commented on #671
@jcarpent @proyan OK I found the bug in my implementation. Now it's working perfectly. thank you for your help!

[2019-11-14 15:54] jcarpent commented on #671
What was your error finally?

[2019-11-14 15:55] jcarpent commented on #671
By the way, you should use the Sparse Cholesky decompostion of pinocchio, located in `pinocchio::cholesky` namespace. It will be faster than the `Eigen::LLT`

[2019-11-14 16:21] duburcqa commented on #671
Line 61 in the attached file in my previous message. I forgot to replace `data` from `calc_aba` for joint revolute by `jdata.derived()` in `AbaBackwardStep`.

I didn't know about this function. I will benchmark it later if I have time just to get an idea of the speed up wrt `Eigen::LLT`.

[2019-11-14 16:25] jcarpent commented on #671
You can run:
[code]

[2019-11-14 16:58] jcarpent commented on #949
fixed by #950.

[2019-11-14 16:58] #949 closed

[2019-11-14 17:44] jcarpent commented on #671
Even if I'm not totally convinced by the fact to not update the Coriolis and centrifugal effects with the rotor inertia, we may investigate the fact of at least adding the term to the diagonal elements of the mass matrix or its inverse.
It simple enough to do that before adding the notion of transmission + actuators.

@proyan @cmastalli @duburcqa Are you still interested in this feature?

[2019-11-14 17:47] jcarpent commented on #671
@duburcqa By the way, I think in your code you have forgotten the influence of the gear ratio ;)

[2019-11-14 21:05] cmastalli commented on #671
@jcarpent I am not convinced neither if we need to model this elements in the optimal control problem. I would expect that a low-level controller handle it.

My point of view is you can avoid this task, and if it is needed, then we come back to you

[2019-11-14 21:57] jcarpent commented on #671
@cmastalli This term should help the stabilisation of the robots dynamics inside DDP ;)

[2019-11-14 22:43] duburcqa commented on #671
Good point. But its ok because in practice in my case I know the rotor inertia including gear ratio.

I agree with you. Plus personality I use Pinocchio as the core component of a physics engine (mainly used for reinforcement learning), ando I really need to be able to take in account the armature.

It simple enough to do that before adding the notion of transmission + actuators.
@proyan @cmastall

[2019-11-14 22:45] cmastalli commented on #671
Yes, It helps but it couldn't be necessary an important factor (centroidal component) for most motion and robots. Note that currently, we have implemented the armature model inside inertia matrix as proposed in 1. However I wouldn't pursue point 1 in Pinocchio, only 2.

I have listened for some time the option to extend Pinocchio with mechanism model. I am not sure if this is good design, I see Pi

[2019-11-14 23:37] proyan commented on #671
@jcarpent It would definitely be useful if implemented. That is why I started this issue. Obviously it is not an immediate concern for crocoddyl, since there are ways around a proper implementation that we are using. But I see that you feel motivated to finally close this issue, so I don't want to discourage you ;).

[2019-11-15 08:13] gabrielebndn commented on #671
Adding Coriolis effects to the motor rotations would certainly make the model a bit more precise, but I think usually they are sort of negligible due to the high gear ratio. For one thing, they are usually neglected when modelling series elastic actuators (Spong assumption).
If we limit ourselves to *rigid* robots: does `JointMimic` support dynamic computations? Because, if it does, I think the mo

[2019-11-15 08:21] jcarpent commented on #671
From my point of view, the actual state of JointMimic is not the correct design choice. I would rather suggest handling the presence of a gear ratio only for JointRevolute, with dedicated math for it but yet simple.

But the very long-term strategy would be to add the notion of transmission and actuation, and I do think, as @nmansard, that this should be done in Pinocchio to take into account the

[2019-11-15 08:37] jcarpent commented on #671
I think SDF format is the right choice.

[2019-11-15 09:45] jcarpent commented on #546
This transition is now achieved on the devel branch.

[2019-11-15 09:45] #546 closed

[2019-11-15 14:45] ddliugit opened #955 "Can pinocchio calculate the minimum distance between two meshes"
I am working on an optimization problem which need a kinematic constraint of calculating the minimum distance between two meshes.

Can I use _pinoccchio_ to get the minimum distance between two meshes for a certain configuration `q`?

like so:

`x = minimumdistance(robot, data, q, partId1, partId2)`

[2019-11-15 14:49] jmirabel commented on #955
You have *computeDistances(model, data, geomModel, geomData, q)*. Then you have to find the minimum distance yourself from the distance results (geomData.distanceResults).

Mind that you will have to filter the collision pairs in order to have relevant results.

[2019-11-15 15:01] ddliugit commented on #955
Thanks for your timely reply!

I check the function and find cpp version of that function. I am using python right now and do you have any plan to add that function in python version?

Another issue is that I also need to calculate the derivative of distance with respect to robot configuration, would that be possible in Pinocchio?

[2019-11-15 15:06] jmirabel commented on #955
If you have the source, it shouldn't be hard to expose computeDistances.

The DistanceResult objects of hpp-fcl, in geomData.distanceResults, contains all the info you need to compute that derivative. I doubt the algorithm is implemented in Pinocchio but it isn't hard to write.

[2019-11-15 15:08] jcarpent commented on #955
For the second question, is just related to the Jacobian of the witness points, so its very easy to write by hand ;) I do not think that a dedicated function is needed currently, but we may think to add it in Future.

[2019-11-15 15:17] ddliugit commented on #955
Thanks, all.

@jcarpent I see. I just don't think too much about that. The derivative of the distance between one point on the robot and the ground can be considered the derivative of pose of that point with respect to `q`, which equals to the Jacobian of that point.

Is that what you want to say?

[2019-11-15 15:18] gabrielebndn commented on #955
@ddliugit, `computeDistances` is already exposed in Python

[2019-11-15 15:22] ddliugit commented on #955
I see that function in expose-geometry.cpp.

Thanks for your reminder.

[2019-11-15 15:27] jcarpent commented on #955
Yes, this is correct. Just check by Finite differences to be sure your result is correct.

[2019-11-15 15:42] ddliugit commented on #955
Thanks all!

[2019-11-15 15:42] #955 closed

[2019-11-15 19:09] rstrudel opened #957 "Support model pickling"
Hi,

When I try to dump a model using pickle, I get the following error:
`RuntimeError: Pickling of "pinocchio.libpinocchio_pywrap.Model" instances is not enabled (http://www.boost.org/libs/python/doc/v2/pickle.html)`

Here is a short snippet to reproduce the error:
[code]

Would it be possible to include this feature ?
Thanks,

Robin

[2019-11-16 15:20] jcarpent commented on #957
Solved by #958.

[2019-11-16 15:20] #957 closed

[2019-11-19 01:09] ddliugit commented on #893
I moved to python 3 and it doesn't work well while I am using _Pinocchio_ with _gepetto-gui:_

The errors is like so:

[code]

Can you help me?

[2019-11-19 06:35] jcarpent commented on #893
Yes, this is because the module is currently compiled for Python2. I don't have the time now to produce the image. It is generated now.

[2019-11-19 06:48] jcarpent commented on #893
`brew install gepetto-viewer-corba-python3`

[2019-11-19 06:48] #893 closed

[2019-11-19 15:21] jcarpent commented on #470
@olivier-stasse There is now the notion of subtrees in Pinocchio, allowing to extract all the joints ids of this subtree. I plan to add the `forwardKinematics` of subtree in the very next future. Are you still interested by this feature?

[2019-11-20 10:03] wxmerkt opened #960 "New release"
2.1.11 still has the version computation issues in CMake. Can we have a new release please?
I noticed we had a deprecation/API change in between. Are there any other breaking changes?

[2019-11-20 10:05] jcarpent commented on #960
I will make a release tomorrow. There is normally no change of API, just deletion of deprecated functions (one year ago). Before making the release, I would like to adjust the packaging to handle new CMake export policy. Is it OK for you?

[2019-11-20 13:52] wxmerkt commented on #960
Yes, that is okay. Thank you for the effort going into this

[2019-11-20 18:00] ddliugit commented on #893
I try it, but same error still appears.

Also, I tried:

[code]
Any idea why does this happen?

[2019-11-21 11:59] cmastalli opened #961 "Adding aligned vector for df_dq, df_dv and df_dtau"
Dear @jcarpent,

I believe you will somehow release a version with the derivatives of the contact dynamics.
Then, we will need to add aligned vector (per each joint) for these derivatives inside `pinocchio::Data`.

So, I propose to first include these data. This is a blocking point for me now because I can't access the force data inside cost functions in Crocoddyl. I would like to fill my custom c

[2019-11-21 13:26] jcarpent commented on #961
I don't really get which field you are talking about. Can you provide a link or an example?

[2019-11-21 13:57] cmastalli commented on #961
`df_dq`, `df_dv` and `df_dtau`, derivatives of the contact forces expressed in the parent frame.

[2019-11-21 14:06] jcarpent commented on #961
In my mind, we should not think of contact derivatives at the joint level. In other words, you might want to evaluate a frame derivative (linked to a joint), but we will never fill the corresponding joint df_dtau (because this is not needed). So, I think populating Data with these quantities will not be useful.
I would rather propose an interface where you can provide output arguments to be filled

[2019-11-21 14:36] cmastalli commented on #961
We could generate an empty vector that can be assigned its size according to the case. We will need this to compute the derivatives of forces as explained in Crocoddyl paper: https://cmastalli.github.io/publications/crocoddyl20unpub.pdf

What do you mean with interface? is an interface to `pinocchio::Data`? Could you provide an example code?

[2019-11-21 17:32] jcarpent commented on #961
As it is application dependant, I would suggest not doing that in Pinocchio, but rather in the related project by deriving from Data.

I just mean in the function signature, you can pass output arguments of the function.

[2019-11-22 13:10] jcarpent commented on #961
I will close this issue. If you need, feel free to reopen it when needed.

[2019-11-22 19:49] #961 closed

[2019-11-25 10:01] jcarpent commented on #960
Done.

[2019-11-25 10:01] #960 closed

[2019-11-25 14:09] gabrielebndn opened #965 "Install Pinocchio URDF models"
Right now, we have lots of test URDF models (plus a Python model and a Lua one) in folder [models](https://github.com/stack-of-tasks/pinocchio/tree/master/models).
However, if I understand correctly, they are not installed. It would be nice to do it so that they are available to all users, even those without access to the repo.

I propose to install them at `CMAKE_INSTALL_PREFIX/share/pinocchio/mo

[2019-11-25 19:56] nim65s commented on #965
On the other hand, all those models are available in the release tarball: it is currently 39Mo including those, and would be only 3.6Mo without.

And these models are stritcly speaking the ones from [example-robot-data](https://github.com/gepetto/example-robot-data), which is installable by itself, including from a binary package.

So I think we should not install the models in `models/others`, an

[2019-11-25 19:58] wxmerkt commented on #965
In other words, if there is a package-level dependency on `example-robot-data`, it shouldn't also be a submodule?

[2019-11-25 20:02] nim65s commented on #965
@wxmerkt I agree, but @jcarpent may find it handy to get the models from a submodule.

Also we would have a kind of circular dependency issue, as pinocchio will depend on the models in example-robot-data, and the python scripts in py-example-robot-data already depend on pinocchio. I can easily handle this in robotpkg, but this might be harder in others distributions.

[2019-11-25 20:04] gabrielebndn commented on #965
I was just looking at what @nim65s is saying... Currently, Pinocchio is a required dependency for example-robot-data. I think this is a mistake, it should be optional. Only the Python scripts depend on Pinocchio, the rest is a collection of URDF files which works perfectly well without Pinocchio

[2019-11-25 20:09] nim65s commented on #965
@gabrielebndn I'm pretty sure this is already working as you describe. Otherwise, please double check that, and fill an issue in example-robot-data with a link showing what makes you say so, as this is clearly a bug :)

[2019-11-25 20:10] gabrielebndn commented on #965
I've just checked it... It is a required dependency if `BUILD_PYTHON_INTERFACE` is `ON`

[2019-11-25 20:10] jcarpent commented on #965
I do not think Pinocchio should depend on an extra package as a build dependency. And I do agree with @nim65s that 39 Mo is quite huge. I do have a correct solution right now, except adding only a useful URDF model for Pinocchio.

[2019-11-25 20:28] nim65s commented on #965
@jcarpent and this is the compressed size :)
I should also add that the `git clone --recursive` in pinocchio now automatically download the 37Mo of example-robot-data's `.git` tree.

[2019-11-25 21:08] gabrielebndn commented on #965
Ok, I see everything more clearly now.
So [example-robot-data](https://github.com/gepetto/example-robot-data) is an independent package, installable and even apt-installable. If you want those models, you can just install it.

Therefore, I think there is actually no need to have all those models *in* Pinocchio.
Also, I think that this situation of [example-robot-data](https://github.com/gepetto/ex

[2019-11-25 21:11] gabrielebndn commented on #965
Actually, agree with @wxmerkt that making example-robot-data a dependency would be nice, but if @jcarpent does not want an extra dependency and if we have the problem of circularity, I see no other solution than the above one

[2019-11-25 21:23] jcarpent commented on #965
The idea of including all the examples of robots is for examples and documentation purposes. Having access to common and used models such as UR5 or Talos is nice (Romeo is less appealing, because not used anymore).
I'm not afraid about the size of the arxiv, because this one is never downloaded when using package managers such as **robotpkg, conda, brew, etc.**
Another but useful solution would be

[2019-11-25 21:27] jcarpent commented on #965
From my side, I would like to not change the way things are working now, but rather to focus on improving unit tests, the documentation and the full integration with `hpp-fcl` Python bindings. I think this is the main priority now.

[2019-11-25 21:39] gabrielebndn commented on #965
@jcarpent I think that for examples and documentation a couple of models is enough.
If we insist on [example-robot-data](https://github.com/gepetto/example-robot-data) bing a separate folder, then the right solution is a dependency I think, if only we hadn't the problem of circularity.
I find it not well made that there is a huge folder in Pinocchio containing lots of code that is not used anywher

[2019-11-26 07:25] jcarpent commented on #965
@gabrielebndn Just to let you know that most of the models will be used for benchmarks soon, to have all in one. So no precipitation is needed. Again, there are more much more important priorities at this time.

[2019-11-26 09:40] gabrielebndn commented on #965
I still think a dependency would work better, but I do agree it is not a priority at all. I will close the issue

[2019-11-26 09:40] #965 closed

[2019-11-26 18:27] ddliugit commented on #893
@jcarpent  Can you help me out?

[2019-11-27 10:35] jcarpent commented on #893
I cannot guess what happens. Please provide consistent log.

[2019-11-27 15:18] ddliugit commented on #893
10-18-226-182:~ dongdong$ python i
/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python: can't open file 'i': [Errno 2] No such file or directory
10-18-226-182:~ dongdong$ cd repos/humanoid_control/IntegratedTest/
10-18-226-182:IntegratedTest dongdong$ python integratedTest.py
eigenpy warning: you use the deprecated class numpy.matrix w

[2019-11-27 16:53] jcarpent commented on #893
@ddliugit It is fixed now!

[2019-11-27 19:19] ddliugit commented on #893
I still have errors on my machine. Is this caused by the environment setting?

The error changes:
[code]

[2019-11-27 21:01] erwincoumans commented on #625
I ran into the same issue when using pip install pinocchio.
Is there any pip command to include buildModelFromUrdf?

[2019-11-27 23:07] jcarpent commented on #625
Dear @erwincoumans,
I'm not aware of any installation setup for Pinocchio using pip. But for Python bindings, you can use conda:
[code]
Is it working for you?
Best,

Justin

PS: for info, we are not currently supporting pip because it is too hard to check and get access to dependencies such as `urdf`, `boost`, etc.

[2019-11-28 10:49] hammoudbilal opened #969 "boost container limits"
I have a library with boost-bindings that depends on pinocchio, when trying to compile,
i get the following error

usr/local/include/pinocchio/container/boost-container-limits.hpp:29:7: error: "BOOST_MPL_LIMIT_LIST_SIZE value is lower than the value of
      PINOCCHIO_BOOST_MPL_LIMIT_CONTAINER_SIZE"
    # error "BOOST_MPL_LIMIT_LIST_SIZE value is lower than the value of PINOCCHIO_BOOST_MPL_LIMIT_C

[2019-11-28 11:04] jcarpent commented on #969
- Do you a link to your code for inspection?
- Do you use pkg-config to retrieve Pinocchio settings?
- One quick fix is to include pinocchio before all others include:
[code]

[2019-11-28 12:40] Leph opened #970 "Runtime Eigen assertion (TensorStorage.h) on 16.04 in Debug mode"
I am facing a runtime assertion from Eigen related to Tensor on 16.04, both with current master and devel branch.
This assersion is not showing up when compiling in Release (-DNDEBUG) mode.
In Release mode, Pinocchio is running fine.
Note that the unittests are fine as well, even when compiled in Debuig mode.

Here is a way to reproduce:

[code]

Compiling command:
`g++ -DBOOST_SYSTEM_NO_DEPRECATE

[2019-11-28 12:51] Leph commented on #970
As @wxmerkt pointed out, the data shoudn't be initialized as the model is empty.

[2019-11-28 12:51] #970 closed

[2019-11-28 12:54] hammoudbilal commented on #969
yes I use pkg-config, the solution was to move #include <boost/python.hpp> to be the last one. Thanks for the help

[2019-11-28 12:54] #969 closed

[2019-11-28 14:41] Leph commented on #970
It turns out my problem was related to this issue concerning the constructor of the Data structure: #641:
By adding Tensor objects to Data, using an empty model as default constructor is not possible anymore.

[2019-11-28 16:16] jcarpent commented on #970
A fix was proposed in #971

[2019-11-28 16:28] jcarpent commented on #893
You can proceed as follows:
[code]

[2019-11-28 16:29] micko-plz opened #972 "Clone in to catkin_ws and build"
Hi all,
Is it possible to build pinocchio directly in the catkin workspace using catkin build, whilst also building my own catkin packages which depend on pinocchio? I'm currently having some troubles with it and what seem like suitable edits to the CMakeLists.txt file of my own ros/catkin packages not working out. Pinocchio seems to build correctly, but my own package fails with a CMake error and

[2019-11-28 16:29] jcarpent commented on #893
By default, omniORB is not built for Python3. I've fixed it by creating a new package for brew.

[2019-11-28 16:30] jcarpent commented on #972
Dear @micko-plz,
I think the best candidate to answer your issue is @wxmerkt. Hope he will have time for it.
Best,

Justin

[2019-11-28 16:32] ddliugit commented on #893
Thanks!

I just did it and the error changes:

`10-16-22-176:IntegratedTest dongdong$ python integratedTest.py
eigenpy warning: you use the deprecated class numpy.matrix without explicily asking for it. The default behaviour will change to numpy.array at next major release.
- Either call eigenpy.switchToNumpyMatrix() before using eigenpy to suppress this warning
- or call eigenpy.switchToNumpyArra

[2019-11-28 16:38] ddliugit commented on #893
I tried to unlink and then link again, the error is like so. Did I miss something?
[code]
[code]

[2019-11-28 16:41] ddliugit commented on #893
I think the error is caused by the syntax of python 3. I changed it manually, it works!

[2019-11-28 16:54] gabrielebndn commented on #893
@ddliugit you might want to update gepetto-viewer corba. That problem seems to be fixed in the current release (and in the current binary apt release as well). I think pretty much all of our code is compatible with Python 3 by now (@nim65s can confirm).
In our team we make frequent fixes, addition, and changes, and frequent releases, particularly for Pinocchio, so please always make sure that what

[2019-11-28 16:59] ddliugit commented on #893
Thanks. BTW, how to update the `gepetto-viewer-corba`

[2019-11-28 16:59] nim65s commented on #893
I can confirm that I can run pinocchio, example-robot-data & gepetto-gui all in python3 to load some robot models and display them in their initial pose, so yes, this works.

I am also taking care of any python 2 only syntax I can find, but I might miss a few lines, especially if they are added now without CI checks about that or a review from someone who cares about that… So please tell us if you

[2019-11-28 17:20] ddliugit commented on #893
I try to install gepetto-gui in python 3. The error appears in this code `/usr/local/lib/python3.7/site-packages/gepetto/corbaserver/client.py`, which is caused by `print e` in python2 syntax. I changed it to `print(e)`.That's it.

[2019-11-28 17:28] wxmerkt commented on #972
HI @micko-plz,
Yes, you can build pinocchio in a catkin workspace and have packages depend on it - we do this quite a lot internally. How are you trying to include Pinocchio?

Note: This is a 3rd party package built with catkin, i.e., you _cannot_ do `find_package(catkin REQUIRED COMPONENTS pinocchio)`, but you can use PkgConfig (CMake should be possible soon, but I havent tested it yet):

[code]

[2019-11-28 17:35] nim65s commented on #893
This was fixed 8 months ago, and included in releases v5.3.2, v5.3.1, v5.3.0 & v5.2.1: https://github.com/Gepetto/gepetto-viewer-corba/commit/21cf4c1d97160e19906a068b9aeb3327a47079be

[2019-11-28 18:02] gabrielebndn commented on #893
@ddliugit that's what I was saying. You should update gepetto-viewer-corba, because that problem is currently fixed, both in the source release and in the apt release

[2019-11-28 18:05] gabrielebndn commented on #893
How did you install `gepetto-viewer-corba`?

If bu source, then just go to the source folder, `git pull` the latest changes, and proceed to build and install.
If by apt, use `sudo apt-get install --reinstall [...]`

[2019-11-28 18:10] micko-plz commented on #972
That did the trick, wonderful. I was previously attempting the include using :
`find_package (pinocchio REQUIRED)
`
But all sorted now, thank you @jcarpent @wxmerkt for the quick response.
All the best,
Michael

[2019-11-28 18:10] #972 closed

[2019-11-28 18:29] ddliugit commented on #893
Thanks all. I see.

[2019-11-28 20:48] micko-plz opened #973 "Urdfdom shared pointer"
Hi again,

On integrating the changes kindly proposed in  #972 I have since come upon the issue mentioned in (https://github.com/stack-of-tasks/pinocchio/issues/654#issue-404991645), ie. the conflicting declarations between urdf_model/types.h which I guess ships with ros-melodic-desktop-full (I didn't install anything else relating to urdf's) and your own file parsers/urdf/types.hpp

The error mes

[2019-11-28 22:07] jcarpent commented on #973
Dear @micko-plz,
I think the issue is coming from the fact that you are not using the flags provided by the pkg-config pinocchio.pc file to compile your library which depends on Pinocchio.
For instance when writing in your terminal something like:
[code]
you will obtain something like:
[code]
that I've truncated.
You should use the PINOCCHIO_CFLAGS_OTHER to use these flags when compiling your own

[2019-11-28 22:10] jcarpent commented on #893
@gabrielebndn @nim65s. I think you did not notice, but @ddliugit is MAC OS X systems. I'm currently making the update of the packages on homebrew. Sorry for the delay, but it is hard to be on all the fronts.

[2019-11-28 22:14] gabrielebndn commented on #893
Oh! No, hadn't noticed. Sorry @ddliugit, it seems you will have to wait for the updated brew repo, or install by source

[2019-11-28 23:18] jcarpent commented on #893
@ddliugit I've updated all the packages. It should work now.

[2019-11-28 23:28] ddliugit commented on #893
Thank you. @jcarpent

[2019-11-29 08:58] micko-plz commented on #973
That worked wonderfully. Thank you @jcarpent

[2019-11-29 08:58] #973 closed

[2019-12-02 19:21] jcarpent commented on #881
@cmastalli Can you provide a link for the multi-threading in your code? I will copy past it to make sure evrything goes fine ;)

[2019-12-02 20:06] cmastalli commented on #881
I developed the impulse dynamics here: https://github.com/loco-3d/crocoddyl/blob/devel/src/multibody/actions/impulse-fwddyn.cpp.

Is this what you need?

[2019-12-03 07:53] nmansard commented on #881
I believe you want to point to the memory alloc here:
https://github.com/loco-3d/crocoddyl/blob/devel/src/multibody/actions/impulse-fwddyn.cpp#L68
Yet @jcarpent was mentioning multi-threading.

[2019-12-03 07:54] nmansard commented on #881
Sorry, I close my answered too early. Multi-threading is done in the shooting calc-diff:
https://github.com/loco-3d/crocoddyl/blob/devel/src/core/optctrl/shooting.cpp#L65

[2019-12-03 14:07] rstrudel opened #975 "Support data pickling"
Hello,

First, thanks for adding the support of model pickling I mentionned in #957 ! I noticed that the same error occurs when trying to pickle data objects. If it is possible, it would be nice to have both model and data instances picklable.

Here is a short snippet which produces an error:
[code]

Cheers,

Robin

[2019-12-03 15:43] nmansard opened #976 "buildReducedModel ... for geometries"
Thanks for the nice buildReducedModel algorithm. I would need to extend the algorithm to geometry model (collision, visual). Is anybody working on this issue?

[2019-12-03 16:39] nmansard commented on #976
Here is a python version of the algo we might want to add in Pinocchio
[code]

[2019-12-03 20:42] jcarpent commented on #975
Do you really need the pickling of data? In which context?

[2019-12-03 22:24] rstrudel commented on #975
For multiprocessing purposes. If you want to compute a function which output a Data instance (using joblib or dask for example). It will output a pickling error.

Along the same lines you cannot pass a RobotWrapper instance to a function you want to parallelize because pickling is required.

Another example is when you want to snapshot a running experiment. Pickling the current state of the robot

[2019-12-04 09:53] gabrielebndn opened #977 "Python bindings for the Lie groups"
Lie groups are missing Python bindings. So, I believe they should be implemented.
Side note: is there a way to automatically get the amount of C++ which has Python bindings, and which parts are missing them? Something like coverage, run on the code implementing the bindings?

[2019-12-04 09:57] jcarpent commented on #977
I won't have time to do the bindings, so @gabrielebndn I let you manage it. I'm not sure that these expositions are really necessary at first glance.
For the coverage, it seems to be hard, as Pinocchio is pure template ;)

[2019-12-04 10:33] gabrielebndn commented on #977
I do not have much time for that either, I was just pointing it out as something that needs to be done.
Indeed, I can just apply the straightforward formulas, I do not strictly need them right now.
But if we think that the Lie groups are useful as independent entities (as done in [this Pinocchio example](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_a-features_

[2019-12-04 10:35] jcarpent commented on #977
So, I think you should move this topic on the board dedicated to Python bindings. I would prefer to let the issues empty (even it there is a lot of noise in the current version).

Can you do it?

[2019-12-04 10:38] nim65s commented on #977
There is. It was done before. Putting this back is one of the oldest things in my todolist.

[2019-12-04 10:39] gabrielebndn commented on #977
Ok, I'll move it to the Python bindings board

[2019-12-04 10:40] jcarpent commented on #977
Thanks!

[2019-12-04 10:40] #977 closed

[2019-12-04 11:10] gabrielebndn opened #978 "Meshcat refuses to connect"
When I run https://github.com/stack-of-tasks/pinocchio/blob/devel/examples/meshcat-viewer.py
the browser opens with a window saying
[code]
I do not understand why, it was not doing it before
@wxmerkt, can you help me?
I am on Ubuntu 16.04, Chrome, python2. It is doing the same on my Macbook

[2019-12-04 11:11] gabrielebndn commented on #978
Also, the script prints
[code]

[2019-12-04 11:15] jcarpent commented on #978
Have you tried:
[code]

[2019-12-04 12:45] gabrielebndn commented on #978
Didn't work. Plus, on my Mac, it was a clean install (but my Mac is old, so probably not a good reference)

[2019-12-04 12:49] wxmerkt commented on #978
Sorry, @gabrielebndn I don't have any advice right now on how to resolve it. I won't have time before next week to investigate.

[2019-12-04 13:11] jcarpent commented on #978
@gabrielebndn I think this issue is not related to Pinocchio and should be open inside the meshcat project. I will close this issue then.

PS: on my side, everything is working well with the last version of meshcat. Try to restart your computer if needed or see with other colleagues' computer.

[2019-12-04 13:11] #978 closed

[2019-12-04 13:51] gabrielebndn commented on #978
Of course I tried, but it wasn't working yesterday on my Ubuntu, it is not working today either, and it is not working with a clean reinstall on my Mac after. No idea what's going on. I agree it is an issue for meshcat. Thank you for checking on your computer

[2019-12-08 00:08] ddliugit opened #980 "Calculate moment of inertia around the CoM"
Is there a function to calculate the moment of inertia around the CoM in Pinocchio?

[2019-12-08 00:23] jcarpent commented on #980
Yes, sure. This is called `ccrba` and the desired quantity is available through `data.Ig`, the naming being related to the paper of Orin and Goswami.
[code]

[2019-12-08 00:34] jcarpent commented on #980
@ddliugit It would be nice if you can write a simple example of computing and using such quantities. This small example will be helpful for other users. Thanks in advance for your contribution if you are willing to.

[2019-12-08 12:01] gabrielebndn commented on #980
I've always found that algorithm kind of funny. If all you want is Ig, then v is not needed... Instead, v is there so to compute hg from Ig... There should be st least one version of ccrba without v, I think

[2019-12-08 12:20] jcarpent commented on #980
@gabrielebndn `Ig` comes from free from many algorithms. It is not a quantity that you have to compute separately from other quantities in general ;)
Having one algorithm for each quantity contained in Data will increase a lot the current API, without any gain in performances.

[2019-12-09 10:23] micko-plz opened #984 "Forward dynamics with constraints"
Hi all,

I'm controlling a mobile manipulator with a two wheel differential drive base (segway like) using the whole body EoM. The control policy is not respecting the constraint I am defining and I'm unsure if its due to lack of understanding of the pinocchio functions I am calling or if its a solver issue so my apologies if this post veers away from purely a pinocchio related dilemma. I am hopin

[2019-12-10 11:17] nim65s opened #987 "Issue with Eigen < 3.3 & C++11"
Hi,

https://github.com/stack-of-tasks/pinocchio/blob/5d0d1a951941bb5b67593e424a26a00cf5a22c74/src/math/tensor.hpp#L11

This is included if we compile with C++11, but this is not available until Eigen 3.3.

[2019-12-10 11:30] proyan opened #988 "Problem with the configuration vector size in pinocchio algorithms"
I'm trying this simple example with `example_robot_data`, `eigenpy`, and `pinocchio`. I'm not sure where the problem is coming from, but unfortunately, this simple code is not working:

[code]
I get the following error:
[code]

When I check the size being compared inside `PINOCCHIO_CHECK_INPUT_ARGUMENT` in the code, I see that `q.size()` gives a random value, and is not equal to `model.nq`.

I'm n

[2019-12-10 11:34] cmastalli commented on #988
It seems to be related to https://gepgitlab.laas.fr/gepetto/example-robot-data/issues/17. Could you try to use NumPy matrix before loading the robot?
[code]

[2019-12-10 11:44] proyan commented on #988
Does the code sample above work for you? I just want to know whether this is an installation issue.
I don't think the issue is with example_robot_data. It is either in my installation, or in pinocchio.

[2019-12-10 11:53] proyan commented on #988
Confirmed with Carlos. This is an installation issue.

[2019-12-10 12:12] proyan commented on #988
I'm using `eigenpy` from devel, and `pinocchio` from devel. I moved `eigenpy` to `v1.6.9`. Now I don't have the problem anymore.

This issue should be transferred to https://github.com/stack-of-tasks/eigenpy

[2019-12-10 12:25] jcarpent commented on #988
Why should be transfered to eigenpy?

[2019-12-10 12:25] #988 closed

[2019-12-10 12:34] proyan commented on #988
Because this seems to be arising because I was using the devel version of eigenpy. When I switch to the last release v1.6.9, it disappears.

[2019-12-10 13:03] jcarpent commented on #987
Should be solved by #986.

[2019-12-10 13:23] jcarpent commented on #980
@ddliugit Any feedback or comments?

[2019-12-10 13:56] jcarpent commented on #987
Solved by #986

[2019-12-10 13:56] #987 closed

[2019-12-10 15:16] ddliugit commented on #980
Sorry for late reply.

I try that method, it works.

I will try to implement that, but it may take some time.

[2019-12-10 15:32] jcarpent commented on #984
@micko-plz

This is possible, but not trivial. You should formulate a QP problem for that.

Indeed, you have to solved an equality constrained problems in your context. In other words, choosing the joint acceleration `a` will change the contact forces and vice-versa. The two quantities are coupled.

I can help you with it, but I think it would much simpler to discuss it an private thread, and if y

[2019-12-10 15:32] jcarpent commented on #980
OK. @ddliugit Thanks for your feedback. Hope you will be able to implement those examples.

[2019-12-10 15:33] jcarpent commented on #980
In the meantime, I close the issue as it seems to be solved!

[2019-12-10 15:33] #980 closed

[2019-12-11 13:39] micko-plz commented on #984
Hi @jcarpent,

Thank you for your reply. I had misunderstood what frame the vector of torques acted in. The torques regarding the base which I supplied to the forward dynamics function were acting in the world frame, rather than the base frame, something which I should have noticed given the definition of the generalized coordinate vector. I have everything working for now, but thank you for your

[2019-12-11 13:39] #984 closed

[2019-12-11 14:39] jcarpent commented on #984
OK. Good that things work well for you now.
Best continuation!

[2019-12-12 13:51] paLeziart opened #991 "Undefined control sequence in documentation"
Hello,

I was browsing through the documentation and I found this yellow square:
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/structpinocchio_1_1DataTpl.html#a71869f4dc2a2c2e0d118794db771495b.

It may just be a typo in the source code, I do not know how to check that.

Best,

[2019-12-12 13:54] jmirabel commented on #991
Just a typo. \JMinv... should be replaced by something like \f$ J_M^{-1} J_t\f$.

[2019-12-12 13:56] jcarpent commented on #991
Thanks @paLeziart. It is fixed in #992. Next time, I would encourage you to give a try with `grep` in the src folder of Pinocchio to find the source code and give a try to fix it.

[2019-12-12 15:28] #991 closed

[2019-12-12 18:26] ddliugit opened #993 "Expose data.dhg in python"
I just happen to use `computeCentrodialMomentumTimeVariation` to compute angular momentum derivative and I can find `data.hg`, but the `data.dhg` is missing in python.

The install procedure follows the website.
`https://stack-of-tasks.github.io/pinocchio/download.html`

I do find a issue which is relevant to this #760, but I didn't see you add `dhg` in the code.

[2019-12-12 18:37] jcarpent commented on #993
Done through #994. Thanks for the report.

[2019-12-12 20:09] ddliugit commented on #993
Thanks for your timely reply.

Do I need to build from source? Or should I repeat the same procedure in this website to install from binary?

I am using Mac and linux

[2019-12-12 21:06] ddliugit commented on #993
I download the dependencies, revised the code by following your code, recompile it and install it.

The error still appears:
[code]

[2019-12-12 21:08] ddliugit commented on #993
Did I miss something? I only add the following in the `data.hpp`
[code]

[2019-12-13 07:20] jcarpent commented on #993
A simple brew reinstall pinocchio —head should work.

[2019-12-13 09:53] #993 closed

[2019-12-13 13:13] ddliugit commented on #993
For linux, without brew, how to do that

[2019-12-13 13:30] gabrielebndn commented on #993
@ddliugit, since the change is not released, the only way to have it now it to build it from source on the branch devel. You can find instructions [here](https://stack-of-tasks.github.io/pinocchio/download.html)

[2019-12-13 13:46] ddliugit commented on #993
I did that, but it doesn’t work. Should I use different cmake flag

[2019-12-13 13:56] gabrielebndn commented on #993
I do not think it has anything to do with the CMake flags.
1. If you were using APT binaries before, make sure to remove them:
[code]
2. If you have made changes to your repo, clean it:
[code]
(assuming the main Pinocchio remote is called origin).
This will completely clean your repo of any change you have made to the repo. Then, you can proceed with a new installation.
While installing, pay atten

[2019-12-13 14:03] ddliugit commented on #993
Thanks.
I think it is caused by binary problem. First I followed robotpkg installation. I will do remove thing.

[2019-12-13 14:31] nmansard commented on #638
I re-start on this issue. I just checked that it is still pending.
[code]
This outputs (matrix([[nan, nan, nan]]), matrix([[nan, nan, nan]]).

As suggested by @jmirabel this should come from an improper setting of my gmodel.collisionRequest. Any idea of what I should set to have FCL computing the position and normal.

NB: I could compute the position with the computeDistance function (this works,

[2019-12-13 14:34] jcarpent commented on #638
The example is not clear. Could you provide a full example to reproduce it?

[2019-12-13 14:39] jmirabel commented on #638
You should enable the contacts. Something like `gmodel.collisionRequest.enable_contact=True`.

[2019-12-13 14:44] jmirabel commented on #638
It is
[code]

[2019-12-13 17:01] jcarpent commented on #638
@nmansard Does this solve your issue?

[2019-12-13 19:43] jcarpent commented on #638
@nmansard Is it working now since @jmirabel's update?

[2019-12-16 11:11] nmansard commented on #638
Sorry, my time to work on this is limited.
I am following both suggestions. Trying to make a self-contained example for @jcarpent , I saw that the normal seem to be computed on the UR-5 robot, but they were not with my capsule-based robot. Following @jmirabel I tried to switch to the newest hpp-fcl, which caused other problems that the new release by @nim65s should fix.
I will come back with a con

[2019-12-16 15:52] nmansard commented on #638
So I confirm the proposition of @jmirabel works. Here is an example using example-robot-data.
There is maybe two pending questions:
* first, the normals were properly computed for the meshes of the UR5, but not for the capsules (check in the code, the patch of @jmirabel is only set after the normals of the UR5 collisions were computed). Is this normal?
* second: should we set gdata.collisionReques

[2019-12-16 16:56] jmirabel commented on #638
For some pairs of primitives, computing the contact points does not add any computational overhead. For others, it does. When enable_contact is false, you get the contact point for the first set of pairs of primitives.

[2019-12-16 16:57] jmirabel commented on #638
this is the theoretical behavior that is intended. Obviously, it may not be respected for all pairs of primitives.

[2019-12-16 17:25] jcarpent commented on #638
What do you mean?

[2019-12-17 08:35] jmirabel commented on #638
When enable_contact is false, you get the contact point for pairs of primitives for which computing them does not add any computational overhead.

[2019-12-17 08:56] jcarpent commented on #638
OK. Thanks. I think we can close this issue as it seems to be solved now.

[2019-12-17 08:56] #638 closed

[2019-12-18 16:45] gabrielebndn opened #999 "BUILD_TESTING vs BUILD_UNIT_TESTS"
Module CTest automatically creates a `BUILD_TESTING` option that selects whether to enable testing support, ON by default, see [here](https://cmake.org/cmake/help/latest/module/CTest.html).
In Pinocchio, this is included by the cmake submodule by [post-project.cmake](https://github.com/jrl-umi3218/jrl-cmakemodules/blob/54ece258eed16da94c7f10979588fcb47b744eb8/post-project.cmake#L44). This variable

[2019-12-18 17:24] jcarpent commented on #999
I do agree. We can indeed remove it.

[2019-12-19 12:22] jcarpent commented on #999
Solved by #1000.

[2019-12-19 12:22] #999 closed

[2019-12-22 13:17] jcarpent commented on #975
Solved by #998

[2019-12-22 13:17] #975 closed

[2019-12-23 18:04] jcarpent commented on #808
This issue does not have any activity since a while. @gabrielebndn If you have time, do not hesitate to reopen and solve this issue.

[2019-12-23 18:04] #808 closed

[2019-12-23 21:10] jcarpent commented on #976
Solved by #1002.

[2019-12-23 21:10] #976 closed

[2020-01-07 18:56] gabrielebndn opened #1005 "Force HPP-FCL bindings dependency"
Currently,  Pinocchio Python bindings can be built:
1. Without FCL
1. With FCL, but without FCL bindings
1. With FCL, including the bindings

I believe the second option is unreasonable and only adds complexity. If Python bindings are built with HPP-FCL, then HPP-FCL bindings should be enforced. Ideally, we should add something like this to the [CMakeLists.txt](https://github.com/stack-of-tasks/pi

[2020-01-07 19:30] jcarpent commented on #1005
We cannot check FCL bindings with pkg-config. I mean this is not a standard way of doing it. In addition, we are not sure yet to get the latest FCL version on all the platforms.

@nim65s Is hpp-fcl latest release available on robotpkg?

To do it correctly, I would suggest using directly the packaging of CMake, which allows exporting additional targets, such as the Python bindings.

[2020-01-07 22:58] gabrielebndn commented on #1005
For this, it will be enough to do a new HPP-FCL release and then increase the minimum version required by Pinocchio. This way everybody using HPP-FCL will be forced to upgrade (I do not see why anybody should want to keep old versions).

Yes, I think this may be the correct way.

[2020-01-08 07:02] jcarpent commented on #1005
Changing the minimal version number is indeed in the pipe. As I mentioned previously,I’m waiting the update from robot from robotpkg first. I will close the issue and I will take care of all it soon.

[2020-01-08 07:02] #1005 closed

[2020-01-08 10:25] gabrielebndn commented on #912
Solved by #1004

[2020-01-08 10:25] #912 closed

[2020-01-08 10:25] gabrielebndn commented on #726
Solved by #1004

[2020-01-08 10:25] #726 closed

[2020-01-08 13:45] nim65s commented on #1005
On robotpkg, hpp-fcl is on v1.2.1. The current latest is 1.2.2. I'll update it.

[2020-01-10 10:06] nim65s commented on #1005
@jcarpent  1.2.2 is available

[2020-01-10 15:59] gabrielebndn opened #1007 "Documentation is not up to date"
The documentation https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/ is not up to date.
The latest release is 2.2.3 (the latest apt release is 2.2.2 instead), but the online doc appears to be 2.2.1.
I know this can be fixed by manually copying the doc on `/net/pongo`, but I think there should be an automatic solution. @nim65s?

[2020-01-10 16:13] jcarpent commented on #1007
This is already done normally by the internal tools of LAAS, but I remember that @nim65s told be that there are some trubles. I think you should discuss it in private with him.

[2020-01-10 16:49] gabrielebndn commented on #1007
Yes, I remember that. I just wanted to point to the fact that the problem is still there. I'll close the issue

[2020-01-10 16:49] #1007 closed

[2020-01-11 06:18] Linjackffy opened #1008 "Please add collision check example in C++"
I've run the example geometry-models.cpp and load UR5's geometry mode. I want to check collision between UR5's links, but do not find any example in C++. Could you please add an exapmle in C++?

[2020-01-11 08:30] jcarpent commented on #1008
I will do it today.

[2020-01-12 03:43] mklvcm commented on #919
Hey guys, I just tried to build Pinocchio on Windows and it complains it cannot find eigen3.
I have eigen3 v3.3.7 in "C:\Progream Files\eigen3" folder and it builds just fine by the way.
I use pkg-config.exe from pkg-config-lite.
Any suggestions please?

![Shot1](https://user-images.githubusercontent.com/54096564/72213827-dc1d1680-3549-11ea-890d-5b4b5be2cbc9.png)

[2020-01-13 01:17] Linjackffy commented on #1008
It help me a lot!
Thanks!

[2020-01-13 10:46] jcarpent commented on #375
With no activity for a while, I will close this issue.

[2020-01-13 10:46] #375 closed

[2020-01-13 14:30] jcarpent commented on #1008
This is now done. @Linjackffy Feel free to provide feedback if needed.

[2020-01-13 14:30] #1008 closed

[2020-01-13 14:32] jcarpent commented on #919
I think @sbarthelemy and @francois-keith are the best to provide guidance to your issue.

[2020-01-13 14:47] jmirabel opened #1011 "checkData fails on empty model"
The following code returns 1 (checkData returns false):
[code]

By the way, when try to compile the unittest on v2.2.3, I get the following error
[code]

[2020-01-13 15:10] francois-keith commented on #919
Hi @mklvcm

Is eigen3 found by pkg-config ?
What is the result of the following command ?
<pre>
pkg-config.exe --print-errors "eigen3 >= 3.0.5" --cflags
</pre>

If the answer is something similar to this
<pre>
Package eigen3 was not found in the pkg-config search path.
Perhaps you should add the directory containing `eigen3.pc' to the PKG_CONFIG_PATH environment variable
No package 'eigen3' found

[2020-01-13 15:40] jcarpent commented on #1011
Which version of Eigen are you using?

[2020-01-13 15:54] jmirabel commented on #1011
3.2.92

[2020-01-13 16:02] jcarpent commented on #1011
Thanks. I have fixed the bug related to the Tensor class.
But, unfortunately, I was not able to reproduce the bug for the checking of the data. I will wait for Travis and co to provide some feedback on it.

[2020-01-13 16:15] jmirabel commented on #1011
with gdb, this faulty line seems to be:
https://github.com/stack-of-tasks/pinocchio/blob/e038c7bf283b1df56a35014455e0e2d6f36e03ac/src/algorithm/check.hxx#L124

[2020-01-13 16:29] jcarpent commented on #1011
I see. This is because there is a bug in Eigen 3.2.92 with the Tensor that cannot be initialized with zero-dimensions. I will provide a fix for it. Thanks a lot for this report!

[2020-01-13 16:35] jcarpent commented on #1011
I've fixed the bug on the current open PR #1012. Hope it will work now.

[2020-01-13 17:08] jcarpent commented on #1005
@nim65s Thanks a lot!

[2020-01-14 09:05] jcarpent commented on #1011
Solved by #1012.

[2020-01-14 09:05] #1011 closed

[2020-01-14 23:34] mklvcm opened #1015 "Walking robot ground contact question"
Sorry for a newbie question.

I'm trying to use Pinocchio to drive a walking robot (both simulator and real) walking on uneven terrain.
I'm not sure what would be the rigth thing to do when foot couches the ground.

In simulator, do I need to run collision detection on each iteration to see if it stands on the ground?
If contact detected, how do I take it into account? Do I supply it as external f

[2020-01-15 09:47] jcarpent commented on #1015
Dear @mklvcm,

You've several possibilities. You can do either Task Space Inverse Dynamics (instantaneous control) or Model Predictive Control (preview control).

In your case, you have to compute the correct contact forces when there are some parts of the robots that are in contact in order to drive your motion while avoiding the fall. This can be stated as QP problem where the contact forces (wh

[2020-01-15 13:33] NoelieRamuzat opened #1016 "[Bindings] container::aligned_vector<Force> in python"
Hi !
I would like to use the `rnea` algorithm with the external forces in python.
The binding of the method `rnea(Model, Data, Configuration q, Velocity v, Acceleration a, External forces f)` does exist.
But the external forces should be expressed as a `container::aligned_vector<Force>` vector, which is an object of pinocchio.
I have seen that there is a binding in [std-aligned-vector.hpp](https:/

[2020-01-15 13:39] jcarpent commented on #1016
You should indeed use `pin.StdVec_Force` which has the same API than a list in Python.
Then, you should fill this `pin.StdVec_Force`with all the external forces for each joint expressed in the local frame of joint.

[2020-01-15 13:40] jcarpent commented on #1016
One thing to do is to extend the current bindings with functions taking Python list as input and converting them to std::vector.

[2020-01-16 14:22] NoelieRamuzat commented on #1016
Hi sorry for the delay,
It is working well thank you !
I've created a `pin.Force`object for each forces I had and append them to a ` pin.StdVec_Force`.
The `rnea` method works well then with this vector.
Thus, I close the issue.

[2020-01-16 14:22] #1016 closed

[2020-01-17 11:19] dadouz opened #1018 "Calculating the xyz coordinates of the joints"
[cr35ia.urdf.txt](https://github.com/stack-of-tasks/pinocchio/files/4076563/cr35ia.urdf.txt)
[fanuc_cr35ia.pdf](https://github.com/stack-of-tasks/pinocchio/files/4076564/fanuc_cr35ia.pdf)

Hello together,
i have following issue and dont know how to solve it.
We have a fanuc robot CR35iA which is providing through OPC
- the xyz coordinates of the TCP (Tool center Point)
- w,p and r of the TCP and
-

[2020-01-17 12:40] gabrielebndn commented on #1018
Actually, there is an example.
You can find it at https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/index.html#OverviewIntro under the section "More complex example with C++ and Python".
The examples are [overview-urdf.py](https://github.com/stack-of-tasks/pinocchio/blob/master/examples/overview-urdf.py) and [overview-urdf.cpp](https://github.com/stack-of-tasks/pinocchio/

[2020-01-17 12:58] dadouz commented on #1018
thank you very much. Can you tell me how to pass real time data to the variable q. How to build this q?. if there any command for the initiating this with the joints values (see picture)
in the code you provided the q is created randomly --> q  = pinocchio.randomConfiguration(model)

i m using python.

thanks in advance.

[2020-01-17 13:01] nim65s commented on #1018
q is the configuration of your robot. In your case, this is just a list of your «joint angles (for all 6 joints).»

[2020-01-17 13:05] dadouz commented on #1018
but if i want to initiate q with specific fixed joint angle values, how this looks like in python?
how can i declare it?
thanks in advance

[2020-01-17 13:06] nim65s commented on #1018
To initiate a list in Python, here is the documentation: https://docs.python.org/3/tutorial/introduction.html#lists ; in your case, you have to change those numbers by the value of your angles.

[2020-01-17 13:10] dadouz commented on #1018
the void:
forwardKinematics(const ModelTpl<Scalar,Options,JointCollectionTpl> & model,
                                DataTpl<Scalar,Options,JointCollectionTpl> & data,
                                const Eigen::MatrixBase<ConfigVectorType> & q)

is expecting q with following type: const Eigen::MatrixBase<ConfigVectorType>

after declaring a list the error looks like this

Traceback (most recen

[2020-01-17 13:12] gabrielebndn commented on #1018
In Python, q is a numpy matrix or array, depending on the eigenpy settings. In the provided example, we use matrices

[2020-01-17 13:14] nim65s commented on #1018
My bad, that would be:
[code]

[2020-01-17 13:31] dadouz commented on #1018
thanks. it works.
BUT what about w ,p and r of the TCP. are these not important for the calculation?

[2020-01-17 13:52] florent-lamiraux commented on #1018
If you mean the orientation of the joint, you can get it by
`data.oMi[k].translation`
as a rotation matrix.
If you mean something else, please explain what w, p and r are.

[2020-01-20 10:31] gabrielebndn opened #1019 "Installation on Ubuntu 19.10"
Hallo!
I am trying to install Pinocchio via apt on Ubuntu 19.04, following the procedure outlined [here](https://stack-of-tasks.github.io/pinocchio/download.html).

Everything goes smoothly until `sudo apt-get update`. When I do it, I get the error:

[code]

I could dig into `apt-secure`, but I am reluctant to change security-related settings.
Any explanation about the cause of this error?
Can it

[2020-01-20 11:05] stonneau commented on #1019
group 20
​
buttons as well as app (2 interqctions means)​
arent using object recogbition just trays​
just forget buttons​
localisation (no gps in room)​
qpp for elderly​
turtlebot 20 kg​
clear sketch / ​
clear market for product , more research on topic​
​
​
19​
gambling no good app domain (card games, no poker) ​
is it too hard ?​
navigation around table too hard(obstacles) ? does it really need

[2020-01-20 11:14] gabrielebndn commented on #1019
@stonneau I think you accidentally sent me your planning :D

[2020-01-20 11:41] stonneau commented on #1019
sorry :)

[2020-01-20 12:08] jcarpent commented on #1019
@gabrielebndn EOAN is the name for Ubuntu 19.10, which is not yet supported by robotpkg. Please use either an LTS or 19.04.

[2020-01-20 12:46] nim65s commented on #1019
19.04 is supported by robotpkg, in the sense that builds are tested on it:http://robotpkg.openrobots.org/rbulk/robotpkg/index.html
But I don't think it has binary builds:  http://robotpkg.openrobots.org/debian.html

If you need that at wondercraft, we can probably add it.

[2020-01-20 13:14] gabrielebndn commented on #1019
@jcarpent oh! Hadn't seen that! Thanks!

[2020-01-20 13:20] gabrielebndn commented on #1019
@nim65s as @jcarpent made me notice, I am actually on 19.10. Any plans to release Pinocchio on 19.10?

[2020-01-20 13:32] nim65s commented on #1019
The VM should be upgraded to 19.10, yes, but nobody ever asked for it, so there is no priority on this at all.

So if this is going to be really important for you, we can try to speed up on this point.

But if this is only for a corner case on one development laptop that can be easily workarounded, we could as well wait for 20.04 LTS :)

[2020-01-20 13:42] gabrielebndn commented on #1019
@nim65s well, it's on my desktop computer, so it would be handy for me in this moment, but I don't know how many people in Wandercraft use it, I will try to update you soon.
As for myself, it is not that important, and I can easily resort to a source build anyway

[2020-01-20 13:46] gabrielebndn commented on #1019
I'll close the issue since the problem is now clear. Thanks for the clarifications!

[2020-01-20 13:46] #1019 closed

[2020-01-20 13:49] jcarpent commented on #1015
@mklvcm Any news?

[2020-01-20 13:49] jcarpent commented on #1018
@dadouz Is your issue now solved?

[2020-01-21 12:19] dadouz commented on #1018
Hi again,
based on the urdf file and your function the result is different to the output of the PLC. I dont know where is the problem. Here is one example. Why the xyz of the TCP totally different from the j6 xyz provided by your function?
![experiment4_python output](https://user-images.githubusercontent.com/16778700/72804277-5e938d80-3c50-11ea-9535-120ee7cb1db9.PNG)
![joints from robot](https://

[2020-01-21 12:24] dadouz commented on #1018
Hi florent-lamiraux
with w, p and r i mean yaw pitch and roll values for the TCP as you can see in the last figure.

[2020-01-21 12:25] dadouz commented on #1018
Do you have an alternative to extract xyz of all the joints starting with the xyz yaw, roll and pitch of the TCP?. I mean inverse kinematic.

[2020-01-21 13:15] jcarpent commented on #1018
It seems that you're providing a value for the configuration vector `q`which are in `degrees`, while Pinocchio is using `radians`. Please consider using the formula:
[code]

[2020-01-21 22:59] gabrielebndn opened #1021 "Compiling for Python 3"
How do I compile Pinocchio for Python 3?

[2020-01-22 07:08] jcarpent commented on #1021
You should search on the web a bit for that normally. You should easily find a solution.
A solution is:
[code]

[2020-01-22 07:38] gabrielebndn commented on #1021
Well, I saw many Python-related options and these things tend to be tricky, with potential for a huge mess. I will try your suggestion, thanks. I suggest to add a single unambiguous option that takes care of this to facilitate the process, especially a Python 2 is being phased out. Also, Python 3 should probably become the default quite soon

[2020-01-22 07:40] gabrielebndn commented on #1021
Anyhow, I had searched in the doc, but found nothing. Maybe some information about it could help too

[2020-01-22 07:43] jmirabel commented on #1021
I think `cmake .. -DPYTHON_EXECUTABLE=${which python3)` is sufficient, isn't it?

[2020-01-22 07:46] jcarpent commented on #1021
I've tried on mac, and it was not (because if you have several Python 3 on your OS, it won't use the right one).

[2020-01-22 08:38] nim65s commented on #1021
`-DPYTHON_EXECUTABLE=$(which python3)` always works for me, except on a dirty build directory where python2 has already be found. In this case… Clearing the build directory is enough :)

[2020-01-22 08:50] jcarpent commented on #1021
If it had been easy to do it, for sure we would have done it for sure. The problem is that on your OS you may have several Python 3.x installed, and then, most of the scripts coming with cmake failed.

[2020-01-22 08:59] nim65s commented on #1021
The default option is decided at the OS level: if the main `python` interpreter of the system (usually `/usr/bin/python`) is python 3, you will have Python 3. On Arch, it's already Python 3 by default, and hopefully, in 20.04 it will also be the case. So we don't need to take any action here.

This would be different if we decided to drop python 2 support ; in this case it would make sense to enfo

[2020-01-22 09:00] jcarpent commented on #1021
The question is also when you have Python3.6 and Python3.7 installed, often, I have seen the script from cmake failling. But this is only my personal experience with cmake.

[2020-01-22 10:05] gabrielebndn commented on #1021
I confirm that simply `-DPYTHON_EXECUTABLE=$(which python3)` works for all packages I tried (eigenpy, hppfcl and pinocchio) on Ubuntu 19.10. The system was basically clean, with no previous Python2 installations.
I'll let you know if I try it on my Mac (which is also quite dirty).
Thanks a lot for your help!
I'll close the issue.

[2020-01-22 10:05] #1021 closed

[2020-01-22 12:10] dadouz commented on #1018
thank you very much for this information. I will try it and keep you informed with the result

[2020-01-22 14:40] dadouz opened #1023 "Distance between located person and robot"
Hi Team,

do you have a python script enabling the distance calculation (for collision avoidance) between a person (his coordiantes xyz are available) and a robot. What i did is following:
- using an example (overview-urdf.py) from your repositoty i m able to calculate the xyz of all the axes

In order to avoid:
- interpolation approach for defining new points between all the axes
- generating the

[2020-01-22 17:49] wxmerkt opened #1025 "getJointId should throw if out of range"
Currently, if I query a joint that does not exist, I get the index of `vector.end()` which is out of bounds of `njoints`. Instead, if a joint does not exist, it should throw an exception (without me calling `existJointName`).

[2020-01-22 18:06] jcarpent commented on #1025
I won't really consider as a bug. You just need to take care of the fact that if the joint input name does not exist in the kinematic tree, then you have as return an index out of the bounds.

Would you think it should be better to throw?

[2020-01-22 18:17] wxmerkt commented on #1025
Yes, I don't think it is good to expect to first look up whether it exists by `existJointName` - because the value that comes back looks _reasonable_ even though it's out-of-bounds. Two ways to resolve it would be to return `-1` (but can't because it's unsigned) or to throw an exception with a meaningful message ("A joint with this name does not exist."). I'd prefer the latter. It clearly identifi

[2020-01-22 18:33] jcarpent commented on #1025
OK. I share the same opinion as you at some points, and really would like to avoid other issues with respect to similar issues.
Then, the next question is do you have time to handle it? It may have some other places where this strategy should be applied.

[2020-01-22 19:43] gabrielebndn commented on #1025
I do agree that the current getJointId interface is counterintuitive and error-prone. Returning -1 would force returning a signed variable, and I do not think we want that. So throwing sounds like a good solution.
Keep the following in mind:
- Throwing on fail will force to scan the name vector twice if you are not sure whether a joint is indeed there, or use an (expensive) try-catch. This probabl

[2020-01-22 20:31] jcarpent commented on #1025
This is indeed the main issue: I don't think this change will break existing code. @jmirabel I think you're concern.

[2020-01-23 08:41] jmirabel commented on #1025
My opinion on this is that this is an endless discussion that never goes well beyond Pinocchio. To me, there is no good answer whether an exception or some integer indicating a bad entry.

It will. I suggest to:
- change the prototype to: `JointId getJointId (std::string name, bool throwIfNotFound = false)`.
- and add to the TODO list for version 3 a rework of this function.

This delays the API c

[2020-01-23 08:57] gabrielebndn commented on #1025
I think it is extremely possible that it would break existing code. Consider
[code]
It would not surprised me if code such as the above existed, as it is perfectly legit code and the current behaviour of returning `njoints` is documented as a part of the normal interface.
Indeed, I am pretty sure code like the above exists, I think I wrote it in the past.
The point is: do we care that the interfac

[2020-01-23 09:52] jcarpent commented on #1025
Sorry @gabrielebndn, I wrote a mistake. I wanted to say:

`I do think this change will break existing code`

[2020-01-23 09:54] jcarpent commented on #1025
@jmirabel I think your suggestion seems to be indeed a smooth transition.

[2020-01-23 10:23] gabrielebndn commented on #1025
To push for a smooth transition, it would be nice to issue a runtime warning if the joint is not found:
[code]

[2020-01-23 10:36] jmirabel commented on #1025
I think we should stick to the current behavior for version 2. This warning message would pollute the std err of the people carefully doing what the current API expects you to do, that is:
[code]

[2020-01-23 10:59] cmastalli commented on #1025
I do disagree, 'throw'-sentences aren't a pollution; it makes the code robust to human error. Furthermore, it is very unlike to affect code performance.

Instead, it is trickier to have a boolean that switches behaviors. I would avoid this kind of "hacks", they make our life unnecessarily harder (simpler --> better) :)

[2020-01-23 11:10] jmirabel commented on #1025
@cmastalli the quote you mention was an answer to @gabrielebndn proposition to print a warning message (to std::cerr I guess).

I am not against throwing an exception. I only propose a method to smoothly change the behavior of getJointId so that user upgrading to version 2.x do not have to adapt their code while people upgrading to version 3.x will have to adapt their code.

[2020-01-23 11:31] gabrielebndn commented on #1025
I do agree with this

[2020-01-23 12:16] jmirabel commented on #1025
I do agree too. But we cannot change the API right now. Please, propose a way of providing the future API without breaking the code of people using correctly the current API. I am open to other propositions.

[2020-01-23 13:39] jcarpent commented on #1025
Another solution would be adding a macro of type:
`PINOCCHIO_THROW_IN_MODEL_GET_METHODS` to allow it, by default unset.

I don't know which solution (this one or the one from @jmirabel) is better. Any idea?

[2020-01-23 13:44] wxmerkt commented on #1025
I think all these options of additional flags or macros make the whole process too complex. When is it possible to increase the major version to include these changes?

[2020-01-23 14:20] jmirabel commented on #1025
PINOCCHIO_THROW_IN_MODEL_GET_METHODS to allow it, by default unset.

The counterpart is that you have one more configuration option. There are already plenty...

Maybe creating a TODO list for Pinocchio v3 is a first step and is a good enough answer to this issue.

[2020-01-24 12:19] dadouz commented on #1018
we changed the values to radian. We got in specific positions correct values but by moving the robot to different positions, the values of joint 5 and joint 6 are not compatible with the reality. There is a big difference. mainly in X and z coordinates. I don't know where is the problem. Can you help me.

[2020-01-24 12:46] dadouz commented on #1018
here are some data regarding the problem of joint 5 and 6, as you can see the joint 3, 4, 5 and 6 are aligned on the same level. Normally the value of Z for joint 5 and 6 should be close to joint 4 values in Z.

![WhatsApp Image 2020-01-24 at 13 37 08](https://user-images.githubusercontent.com/16778700/73070019-92202300-3eaf-11ea-9823-2fe603701015.jpeg)

![problem](https://user-images.githubuserco

[2020-01-24 12:56] gabrielebndn commented on #1018
@dadouz, are you sure the value for joint 3 is correct? Based on the pictures you sent, it seems you set it to 1 degree, but it looks closer to <a href="https://www.codecogs.com/eqnedit.php?latex=\pm&space;45" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\pm&space;45" title="\pm 45" /></a>

[2020-01-24 13:09] dadouz commented on #1018
here are screenshots from the opc server and the PLC itself with the data we are getting
![WhatsApp Image 2020-01-24 at 14 07 54](https://user-images.githubusercontent.com/16778700/73071496-2cce3100-3eb3-11ea-9374-9b317590c0a3.jpeg)
![WhatsApp Image 2020-01-24 at 14 07 32](https://user-images.githubusercontent.com/16778700/73071497-2cce3100-3eb3-11ea-80fe-7867e3ebfc7a.jpeg)

[2020-01-24 13:12] dadouz commented on #1018
what about this j2/j3 interaction value, mentioned in the second picture? is there any relation maybe with the problem. This valie is chaging from movement to movement.

[2020-01-24 13:32] gabrielebndn commented on #1018
It seems to me that the orientation of the joint frames on the real robot is unusual.
There is some liberty in the positioning of the joint frames, and this might affect the position of the joint zero in particular.
You should check whether the URDF frame placement is coherent with what you have on the robot. It is possible that there might be some offsets to take into account. This is a job only

[2020-01-24 13:42] dadouz commented on #1018
is it possible to use these examples with only the urdf file i already have or do I need also the same directory structure including the files like for romeo and ur5

[2020-01-24 13:58] gabrielebndn commented on #1018
You will need the meshes. The directory structure needs not be identical, but it will be similar (you need to pass the location of the meshes as an argument)

[2020-01-24 15:59] gabrielebndn opened #1026 "Switching to array in Pinocchio"
Hi there!
Python2 has reached its end of life, and `numpy.matrix` is now officially deprecated.
As such, there is now a strong push to switch to `numpy.array`. In particular, we are considering this in Wandercraft.
In general, Pinocchio methods handle this through eigenpy, with its methods `switchToNumpyMatrix` and `switchToNumpyArray`.
However, there is a small subset of Pinocchio methods which a

[2020-01-24 18:35] jcarpent commented on #1026
Yes, you can proceed to the support of both I think, knowing that some functions are already in C++, it would be worthy to expose them instead of coding them in Python ;)

[2020-01-26 20:56] jcarpent commented on #904
Solved by #1029.

[2020-01-26 20:56] #904 closed

[2020-01-27 00:51] mklvcm commented on #1015
Hi Justin,

thanks for getting back to me and asking if I have any news! So nice :)

Just to give you a context of what I'm doing, see this: https://www.youtube.com/watch?v=TiRZ2_23Esk
I designed that from scratch and I'm now trying to do software.
I'm absolute newbie to the field, I'm a bit overwhelmed :)

Well I was looking at TSID library that you suggested.
I can see what it does but maybe it

[2020-01-27 09:27] dadouz commented on #1018
how can I get them? are these specific to our robot? I dont have an idea about that. I m only applying your approach and need to show the results in a journal paper related to my researches.

[2020-01-28 09:25] pFernbach opened #1035 "robot_wrapper.centroidalMomentumVariation do not work with Numpy Array"
See the code: https://github.com/stack-of-tasks/pinocchio/blob/722236daec20e4d9c39e458fba6ace2f3e38357d/bindings/python/pinocchio/robot_wrapper.py#L69-L71

The * operator should be replaced with .dot() .

[2020-01-28 09:27] pFernbach commented on #1035
Related to https://github.com/stack-of-tasks/pinocchio/issues/1026

[2020-01-28 10:58] jcarpent commented on #1035
@pFernbach Thanks for the report. #1036 has fixed your issue.

[2020-01-28 10:58] #1035 closed

[2020-01-29 10:54] jcarpent commented on #1026
@gabrielebndn What is your timeline?

[2020-01-29 12:28] gabrielebndn commented on #1026
I don't have a set timeline but I am working on it. I will make a PR for the RPY module

[2020-01-29 21:36] jcarpent commented on #1026
Solved by #1042.

[2020-01-29 21:39] gabrielebndn commented on #1026
I am sorry, but #1042 di not solve this issue. There are still things to do in the other modules

[2020-01-30 04:39] ddliugit opened #1044 "Linear Interpolation between two SE3s"
I am working on a problem which needs to insert interpolation poses between initial SE3 and final SE3 with respect to time knots.

The issue is how to interpolate the middle poses for two rotation matrices.

I am wondering if there is a library to do that in Pinocchio? such as spherical linear interpolation (SLERP)?

[2020-01-30 07:16] jcarpent commented on #1044
You can use directly the following example: https://github.com/stack-of-tasks/pinocchio/blob/master/examples/interpolation-SE3.cpp

[2020-01-30 17:22] ddliugit commented on #1044
I am using python library. How can I expose this API to python

[2020-01-30 17:27] jmirabel commented on #1044
As far as I know, it isn't bound.

[2020-01-30 17:28] ddliugit commented on #1044
how to bind that API  with python?

[2020-01-30 17:37] gabrielebndn commented on #1044
I confirm it is not bound. There is a specific issue on it, but we closed it because we did not plan to work on it https://github.com/stack-of-tasks/pinocchio/issues/977, it can be found in [the Python bindings project](https://github.com/stack-of-tasks/pinocchio/projects/3).

 @ddliugit if you want to make the bindings you can take inspiration from the existing ones (https://github.com/stack-of-t

[2020-01-30 17:59] ddliugit commented on #1044
Thanks.

Converting to python is difficult and I will try to do that if I am available.

[2020-01-30 17:59] #1044 closed

[2020-01-30 18:06] jmirabel commented on #1044
Anyway, @ddliugit for your specific problem, you can workaround the issue by using something like

    M = a * exp6( u * log6(a.inverse()*b))

where a and b are your SE3 objects, and u is in [0,1].

[2020-01-30 18:10] ddliugit commented on #1044
Thanks!

That's a good idea. I will try that!

[2020-01-31 10:11] vpadois opened #1047 "Does Pinocchio provide an analytical expression for the mass matrix ?"
Hello,

I am not sure that the following feature comes with Pinocchio : analytical expression for the mass matrix. Is it the case ? If yes is there a running example that I could rely one ?

Thanks in advance.

best
Vincent

[2020-01-31 10:12] jcarpent commented on #1047
Hi Vincent,

Nice to meet you here.

What do you mean an analytical expression:
- the computation graph?
- the whole formula?

Best,

Justin

[2020-01-31 10:19] vpadois commented on #1047
From our perspective we could potentially make use of both. I guess you rather provide the graph than the whole formula ?  Or can you do both by default ?

Thanks
Vincent

[2020-01-31 10:35] jcarpent commented on #1047
Thanks to CppAD, we can do both in fact.

[2020-01-31 10:36] jcarpent commented on #1047
When do you need it?

With the current status of Pinocchio, I can only provide you a C++ example. Is it fine?

[2020-01-31 10:44] vpadois commented on #1047
Whenever you can  / the sooner the better  :slightly_smiling_face:

Sure.  We are actually planning to use it with a 7 dof manipulator.

Thanks in advance. Let us know what we can do to help.

[2020-02-02 18:10] jcarpent commented on #1026
#1050 has solved many point of this issue. We can now consider this issue as solved.

[2020-02-02 18:10] #1026 closed

[2020-02-02 22:53] mklvcm opened #1052 "Why is there no reverseDynamics with contacts?"
Maybe another ignorant question, sorry.
I can see forwardDynamics function that takes contacts as parameters.
But inverseDynamics does not.
Why is that?
And what would be a way to implement it?

[2020-02-03 09:07] gabrielebndn commented on #1026
@jcarpent if you are convinced that the transition is completed, could you publish a new release, at leat a source release? It would help us switching to `numpy.array` here at Wandercraft

[2020-02-03 09:09] gabrielebndn commented on #1026
I recommend increasing at least the minor version: `2.3.0`

[2020-02-03 09:15] wxmerkt commented on #1026
Since this is change to `np.array` is already an API breaking change, should we also include #1025?

[2020-02-03 09:28] jmirabel commented on #1026
This isn't an API breaking change, isn't it ? At least, it shouldn't be.

[2020-02-03 09:28] gabrielebndn commented on #1026
Well, it's not exactly the same thing. The API change is not in Pinocchio, but in eigenpy, which was increased in major version switching to 2.0.0. Actually, the whole adaptation work I did was to ensure that the current API would _still_ work even with array

[2020-02-03 09:30] gabrielebndn commented on #1026
Code will be broken for those who are using matrix and haven't put `switchToNumpyMatrix()` in their code. But again, this is something that concerns eigenpy, rather than Pinocchio, and we have been issuing warnings for a long time about this change

[2020-02-03 09:35] jcarpent commented on #1052
Dear @mklvcm,

You can have a look at [TSID](https://github.com/stack-of-tasks/tsid) repository, which is a layer on top of Pinocchio to do what you want to achieve.
Best,

Justin

[2020-02-03 09:55] jcarpent commented on #1052
I will close this issue as it seems to be solved. @mklvcm Feel free to reopen it if needed.

[2020-02-03 10:34] mklvcm commented on #1052
Hi Justin,

I'm afraid I'm testing your patience here and annoy the hell out of you but I can't help but ask :)
Similar question was asked long time ago here: https://github.com/stack-of-tasks/pinocchio/issues/61
Back then you said "You just need to compute the jacobian of contacts..." and apparently topic starter was happy.
Because I'm more ignorant than that guy, can I ask you to provide a sampl

[2020-02-03 12:28] jcarpent commented on #1052
A first answer was indeed provided in #61, in the case where you know the contact forces you may want to apply, for instance, in the context where the contact forces are related to the sole deformation with a spring-damper model.

Before going further into my answer, could you provide a typical setup where you want to perform inverse dynamics?

[2020-02-03 13:16] jcarpent commented on #1026
For this, we can add a compilation flag 'PINOCCHIO_ENABLE_3x_FEATURES` if you want.

[2020-02-03 13:17] jcarpent commented on #1026
Yes, but they can still fix it by just calling `switchToNumpyMatrix`, so no worry about it.

[2020-02-03 14:56] jcarpent commented on #1026
Before making the release, I would like to fullfil this issue #914. Someone is on it now?

[2020-02-04 03:30] Linjackffy opened #1055 "bug report : CHECK_DATA for data.kinematic_hessians.dimension"
I loaded an urdf model that only include a box like this:

[code]

After I created model data and gemotry data,  I used  updateGeometryPlacements and met an error  "data is not consistent with model."
data.kinematic_hessians.dimension(1) is not equal with model.nv.
Could you fix this bug?

[code]

[2020-02-04 04:49] mklvcm commented on #1052
Hi Justin,

My case is 4-legged robot walking on uneven terrain.
I'm trying to use inverseDynamics to calculate torques.
I understand that I need to know external forces but I don't know them.
Instead I know which out of 4 legs are in contact with the ground.
If there was an overload of inverseDynamics that takes contacts that would solve my problem.
Now I see that such overload exists for forward

[2020-02-04 07:25] jcarpent commented on #1055
Dear @Linjackffy,

This bug is fixed on the devel branch of Pinocchio. Can you compile it on your side and provide us feedback.

PS : This bug is coming in fact from Eigen 3.0-beta, provided by Ubuntu 16.04.

[2020-02-04 07:34] jmirabel commented on #1055
For reference: duplicates https://github.com/stack-of-tasks/pinocchio/issues/1011.

[2020-02-04 09:30] jcarpent commented on #1055
I will close this issue as it seems to be solved.

[2020-02-04 09:30] #1055 closed

[2020-02-04 10:13] mrsp opened #1056 "pinocchio ros-kinetic version"
Hello

Did any updates happened to the ros-kinetic version of pinocchio ?

The version you get by:

` sudo apt-get install ros-kinetic-pinocchio
`
is not traceable by ros as a standard ros package:

[code]

and furthermore if you manage to fix this issue you get a missmatch in the ros boost version and pinocchio requirements:

e.g.
[code]
any ideas how to surpass the latter issues within an easy w

[2020-02-04 10:46] jcarpent commented on #1056
The main issue is that you should pass some compilation arguments that are not inside the pinocchioConfig.cmake

A quick fix for it is just to add the line to your CMake project:
[code]

We are now working on having pinocchioConfig.cmake integrating these flags directly. This is planned for Pinocchio 2.3.0.

[2020-02-04 10:47] jcarpent commented on #1056
I think @wxmerkt can provide you some guidance.

[2020-02-04 11:35] wxmerkt commented on #1056
Hi @mrsp,
How are you trying to find the package? Using `catkin` or `cmake` or `pkg-config`? The version in Kinetic is 2.2.1 and I think we also need to have a look at your include order. It is imperative that you include `pinocchio/fwd.hpp` before any ros.h header due to the MPL limit sizes.

[2020-02-04 13:33] mrsp commented on #1056
Hello again and thanks for the quick response

this is my CMakeLists

so its through the catkin, still this does not compile as it used to some time ago but rather you receive the error that pinocchio is not found.

Additionally, in my code #include <ros/ros.h> is the first thing included and that was the case for more than a year now.  I'll try to include the pinocchio headers first and provide m

[2020-02-04 13:40] jcarpent commented on #1056
`add_definitions("-DBOOST_MPL_LIMIT_LIST_SIZE=30")` should do the trick without changing your code.

[2020-02-04 14:06] mrsp commented on #1056
ok adding the definitions and finding pinocchio through:

Started the compilation now i get multiple errors about redefinitions for example:

what I do in the code is to parse a urdf file with:

any ideas on this?

Thanks again for the support

[2020-02-04 14:56] jcarpent commented on #1056
You should use ` pkg-config --cflags pinocchio` to watch the missing flags.
In your case, you should add:
`-DPINOCCHIO_URDFDOM_TYPEDEF_SHARED_PTR -DPINOCCHIO_URDFDOM_USE_STD_SHARED_PTR -DBOOST_MPL_LIMIT_LIST_SIZE=30 -DPINOCCHIO_WITH_URDFDOM`

[2020-02-04 14:57] jcarpent commented on #1056
@mrsp Sorry for the durty fix, but normally Pinocchio 2.3.0 will provide the fix.

[2020-02-04 15:36] wxmerkt commented on #1056
There are actually two different fixes:

1. Use the CMake, not the catkin way to find it. We deprecated and removed the catkin configs in favour of regular CMake:  `find_package(pinocchio REQUIRED)`.
2. Add the cflags when using PkgConfig:

[code]

[2020-02-04 17:54] mrsp commented on #1056
@jcarpent  and @wxmerkt many thanks for the fixes/quick responses i will properly update my repository tomorrow, try it in a clean ubuntu 16.04 ros-kinetic environment and let you know about it.

In my work i use pinocchio built by source and never encountered such errors, nevertheless I suggested my users to get the ros pinocchio package since it was easier and faster to install.

thanks again

[2020-02-05 09:17] mrsp commented on #1056
Good morning @jcarpent  and @wxmerkt

The issue is resolved with the cflags in PkgConfig everything functions fine once again!

Once again I appreciate the help!

[2020-02-05 09:27] jcarpent commented on #1056
Thanks for the quick feedback. We can then consider the issue solved.
Enjoy !

[2020-02-05 09:27] #1056 closed

[2020-02-05 09:49] hammoudbilal opened #1057 "memory allocation in pinocchio::integrate"
Hi,
I am trying to improve the speed of some code depending on pinocchio, I am using
Eigen::internal::set_is_malloc_allowed(false);
to disable memory allocation for eigen, it seems that the only function to allocate some memory is pinocchio::integrate(). Is there a way around it ?

[2020-02-05 09:50] jcarpent commented on #1057
Could you provide a snipset of your code?

[2020-02-05 09:54] jcarpent commented on #1057
Yes, in fact, you should call in fact:
[code]

[2020-02-05 09:55] hammoudbilal commented on #1057
sure, pinocchio::aba doesn't seem to create an issue.

Eigen::internal::set_is_malloc_allowed(false);
pinocchio::aba(*model_, *data_, q_, v_, tau_);
dv_ = data_->ddq;
vMean_ = v_ + dv_ * .5 * sub_dt;
vMeanDt_ = vMean_ * sub_dt;
qnext_ = pinocchio::integrate(*model_, q_, vMeanDt_);
v_ += data_->ddq * sub_dt;
Eigen::internal::set_is_malloc_allowed(true);

[2020-02-05 09:55] hammoudbilal commented on #1057
thanks alot !

[2020-02-05 09:55] #1057 closed

[2020-02-05 10:43] jcarpent commented on #1052
@mklvcm Sorry for the late reply, but a quick answer to your question is that:
while the forward dynamics is a well-posed problem because for any torque you apply on the joints of the robot, then you can get the joint acceleration of the system submitted to gravity, the inverse dynamics is an ill-posed problem in the sense you don't know the actuation for the free-floating joint of your robot.

Th

[2020-02-05 11:02] Neotriple commented on #1018
@dadouz The meshes you will need will be specific to your robot, either something made by you, or something that can be provided by the robot manufacturer.

[2020-02-05 17:02] jcarpent commented on #1047
@vpadois I'm on it now, just to be sure of your needs. Do you only want to:

- evaluate the Mass Matrix according to the current configuration of the robot, in this case:
`crba(model,data,q)` will do the job
- having a function of type `computeMassMatrix(q)`, in this case code generation will do the job
- or having a Latex file with the whole formula

Pinocchio can provides the three, but I would

[2020-02-06 06:40] #1052 closed

[2020-02-06 07:43] vpadois commented on #1047
Thx @jcarpent.

What we really need is a symbolic expression of the mass matrix, possibly in the form of a function.  I guess this corresponds to the second option you describe ? The more this expression is factorized with respect to the symbolic variable q, the better it is for us.

best
Vincent

[2020-02-06 17:27] jcarpent commented on #1047
Dear @vpadois, you can find the solution of your issue in #1059.
I will add the feature for generating latex equations soon.

[2020-02-06 17:31] vpadois commented on #1047
Thank you so much for your reactivity. We will work on it and give you feedback as soon as possible.

Best
Vincent

[2020-02-06 17:31] #1047 closed

[2020-02-06 21:41] proyan opened #1061 "ABA timings with pyrene arm"
Hi Justin,

I'm checking the performance of ABA in crocoddyl, since there seems to be something off.
When I run the timings benchmark in pinocchio (which is for a 36 DoF system), I get the following times for ABA
`ABA = 	11.3696 us`

which is not great, but bearable in my computer.

Now I made a small program to test the performance with the talos arm (7 DOF system)
[code]

The output of this is:

[2020-02-06 22:52] wilderfield commented on #831
I install pkg-config in the conda environment, and all problems go away...

[2020-02-07 01:10] olivier-stasse commented on #1061
@proyan
Thanks for the benchmarking. Looking at your code, IMHO you should remove std::cout << "ABA = \t" . The way it is written it looks that it is including in the timing. Given the fact that only 1000 iterations are done, and that stdout is notoriously time consuming, the stats are probably wired.
Finally looking at src/timer.hpp the method with toc(std::ostream,...) relies in the compiler to

[2020-02-07 01:56] olivier-stasse commented on #1061
@proyan could you confirm that you are not in DEBUG mode ?
I just tried with the following code and in DEBUG mode I have 711 us and in RELEASE mode I got 2.3 us on a Intel(R) Core(TM) i7-4710MQ CPU @ 2.50GHz.
[code]

[2020-02-07 07:33] jcarpent commented on #1061
@proyan, I think @olivier-stasse is right and you aren’t using O3 flags when compiling.

[2020-02-07 07:33] jcarpent commented on #1061
@proyan, I think @olivier-stasse is right and you aren’t using O3 flags when compiling.

[2020-02-07 09:00] cmastalli commented on #1061
aba goes particularly slow in DEBUG mode (slower than forward dynamics).
It seems the difference is there.
In any case, it will help to know the compilation command that you're using it

[2020-02-07 09:19] vpadois opened #1062 "Eigenpy not found at configuration time"
Hello,

I am installing pinocchio from source in order to use the devel branch. I installed Eigenpy as indicated here : https://github.com/stack-of-tasks/eigenpy but when running cmake for pinocchio I get the following error :
`-- eigenpy >= 1.5.0 is required.
-- Checking for module 'eigenpy>=1.5.0'
--   No package 'eigenpy' found
CMake Error at /home/vpadois/.local/lib/python2.7/site-packages/cma

[2020-02-07 09:30] proyan commented on #1061
@olivier-stasse @jcarpent thanks for the quick help. You were right, I was under the misapprehension that RELEASE is the default compilation mode. It seems that not using -O3 is as slow as DEBUG, and without any debugging symbols.

I used -O3 in the flags, and now the time is ~3us. Thanks.

@cmastalli: I was simply compiling, and didn't use any optimization params.

I'll close this issue.

[2020-02-07 09:30] #1061 closed

[2020-02-07 09:40] florent-lamiraux commented on #1062
Hello Vincent,

It seems that the detection of eigenpy by  pkgconfig fails. Can you check

1. that executable `pkg-config` is installed (and accessible by your `PATH`). Simply type
`pkg-config --version` in the terminal in which you run `make`,
2. that eigenpy is installed and that `eigenpy.pc` is in a directory listed in `PKG_CONFIG_PATH` ?
`pkg-config --modversion eigenpy` should return somethin

[2020-02-07 09:49] vpadois commented on #1062
Hello Florent,

Thank you for your help. This is what I get :

`vpadois@ychoux:~/Documents/Softs/pinocchio/build$ pkg-config --version
0.29.1`

`vpadois@ychoux:~/Documents/Softs/pinocchio/build$ pkg-config --modversion eigenpy
Package eigenpy was not found in the pkg-config search path.
Perhaps you should add the directory containing `eigenpy.pc'
to the PKG_CONFIG_PATH environment variable
No pack

[2020-02-07 09:59] florent-lamiraux commented on #1062
It is rather a PKG_CONFIG_PATH. When you install several packages that depend on one another from source, you should define a few environment variables to detect the files installed in non-standard directories.
For instance, if you install in a prefix called `PREFIX`, you should add
- `${PREFIX}/lib/pkgconfig` in your `PKG_CONFIG_PATH`,
- `${PREFIX}/lib` in your `LD_LIBRARY_PATH`
- `${PREFIX}/bin`

[2020-02-07 10:03] vpadois commented on #1062
I understand that well but the point is that I did not use a specific PREFIX (I did not install eigenpy from source but using the proposed bionic package) so I did not expect that I would have some environment variable to define. Does this make sense or am I missing something ?

[2020-02-07 10:23] florent-lamiraux commented on #1062
Unfortunately, binary packages from third party sources are not installed in standard directories:
- `robotpkg` installs in `/opt/openrobots`,
- `ros` installs in `/opt/ros/melodic` (for `ros-melodic` packages).
Therefore, you still need to set environment variables.

[2020-02-07 10:35] lesteve commented on #831
@wilderfield note `pinocchio` is available from `conda-forge`:
[code]

so you don't have to compile pinocchio yourself unless of course you have a good reason to (for example, you care about some features in the `devel` branch).

This is what I observed as well, e.g. I install `pkg-config` in the conda environment in  https://github.com/stack-of-tasks/pinocchio/issues/831#issuecomment-511692617.

[2020-02-07 10:47] vpadois commented on #1062
Ok. I will do that. Thank for your help.

[2020-02-07 10:47] #1062 closed

[2020-02-07 10:47] jcarpent commented on #1062
By the way, @vpadois you can set `BUILD_PYTHON_INTERFACE` to `OFF` when compile Pinocchio.

[2020-02-07 10:48] vpadois commented on #1062
OK. Will do. Thx

[2020-02-07 19:46] proyan opened #1064 "aba-derivatives without aba"
Hey Justin,
Would there be an appetite for a function in pinocchio which computes the aba-derivatives, and assumes that aba has already been called?

[2020-02-07 19:47] jcarpent commented on #1064
Yes, I have it in mind indeed. But, the problem is that classic ABA is using local coordinates to representent the physical quantities, while the derivatibes are using global coordinates systems for efficiency.

[2020-02-07 19:48] jcarpent commented on #1064
So, I first need to bench the current ABA to know if it worthy or not.

[2020-02-07 19:51] jcarpent commented on #1064
But, anyway, you won't gain so much. What is costly in ABA is Minv.

[2020-02-07 20:34] proyan commented on #1064
Do you know if and when this might be available?

Only ABA might not be that much, but ABA is running in a serial manner multiple times.  So what I hope to gain is not simply t(aba) but t(aba)*number_of_nodes.

[2020-02-08 07:17] jcarpent commented on #1064
The gain you can expect is something around 3 micro per node, no more. Is it really worthy?

[2020-02-08 07:21] jcarpent commented on #1064
In addition, I really advise you to not use your computer as a reference for timings. You have indeed a pessimist configuration.

[2020-02-10 06:59] olivier-stasse commented on #476
Why not running an Askbot server as it is done with ROS ?

[2020-02-10 13:03] proyan commented on #1064
That is true, unfortunately :(

However, regarding this issue, I can spend a day on it later this week if you have constraints. Depending on how much we can improve multithreading, I think we could have a benefit of 50-100 us in the backward pass of DDP.

[2020-02-10 13:11] jcarpent commented on #1064
I'm currently evaluating the benefits of such tricks. I will let you know the gains if any.

[2020-02-10 17:26] jmirabel commented on #969
Hi @jcarpent

I keep having this problem and the only solution that works is the inclusion of pinocchio/fwd.hh. Only using the compilation flags from the pc file does not work. Does it work for you ?

[2020-02-10 17:27] jmirabel commented on #969
I have boost 1.58, on Ubuntu 16.04.

[2020-02-11 10:43] jmirabel commented on #969
And this is not the case on 18.04.

[2020-02-11 14:02] dadouz opened #1065 "Compatibility issue"
Hi,
i m trying to install pinocchio python library on a raspberryPi4.
The system is blocking the installation and says that the architecture (aarch64) is not supported at following stage: sudo apt install robotpkg-py27-pinocchio
On a linux virtual machine (architecture x86_64) installed on Windows OS, everythimng works fine.

Can you provide me with a workaround to solve this problem on the Raspbe

[2020-02-11 14:03] dadouz commented on #1018
The problem has been solved. The issue was the urdf file that was needed to be adjusted. Thank you for your support. GREAT support.

[2020-02-11 14:31] gabrielebndn commented on #1018
Excellent, happy of being able to help. Thanks for the feedback!

[2020-02-11 14:31] #1018 closed

[2020-02-11 14:49] jcarpent commented on #1065
Dear @dadouz,

In short, current binairies are only available for amd64 architecture (not ARM). To install it on another architecture, I would advise you to rely on the following instructions to install all the dependencies using either robotpkg (https://stack-of-tasks.github.io/pinocchio/download.html#Install_3) or directly from sources (https://stack-of-tasks.github.io/pinocchio/download.html#In

[2020-02-11 15:29] wxmerkt commented on #1065
The binaries provided via the ROS buildfarm should support arm

[2020-02-11 17:36] gabrielebndn commented on #1026
@jcarpent, I would really appreciate it if you could publish a new release.
Can #914 wait for the next one?

[2020-02-12 15:44] jcarpent commented on #1064
@proyan Just to tell you that I've done the bench, and it seems that reformulating ABA in the world coordinates system is decreasing the performances of 0.5 us on 36-dof humanoid robot.
So, it seems reasonable to integrate this feature for the analytical derivatives of ABA to avoid additional computations of the joint vector acceleration if the computations have already been performed.

When will

[2020-02-12 18:31] proyan commented on #1064
The sooner the better. I'm not blocked by this, since I have some other avenues of improvement as well. But I can integrate this in crocoddyl as soon as it is available.

[2020-02-12 18:41] mohamdev opened #1066 "[bionic 18.04] robotpkg-osg-dae and robotpkg-ur5-description does not exist"
Hello everyone,

Im posting this issue because i'm trying to view my robot on gepetto-gui. I get an error which says that it is impossible to read .dae files and the latter should be converted in .osg. I tried to install robotpkg-osg-dae, but this package doesn't exist in robotpkg bionic (I checked on this link : http://robotpkg.openrobots.org/packages/debian/pub/dists/bionic/robotpkg/binary-amd64

[2020-02-12 18:47] jcarpent commented on #1066
A quick answer to your issue is that you have to add robotpkg-wip to the list of known servers. See http://robotpkg.openrobots.org/robotpkg-wip.html for further details.

PS: for information, wip packages are not totally stable but almost ready for production.
@nim65s We should move osg-dae to the main robotpkg repository I think.

[2020-02-12 21:08] mohamdev commented on #1066
Thank you very much, it works fine with wip :)
I followed the instructions there : https://github.com/stack-of-tasks/pinocchio/issues/705#issuecomment-467835859

[2020-02-12 21:42] jcarpent commented on #1066
Great. I will close this issue then.

[2020-02-12 21:42] #1066 closed

[2020-02-13 00:47] proyan commented on #1064
This is more a comment on crocoddyl than Pinocchio, but I think I could extend this performance bump you saw in ABA to other feature computations as well. For e.g, when calculating the frame position and jacobians, LOCAL frame is much more costly that WORLD frame. I'll try to benchmark this as well and let you know if there is any improvement.

[2020-02-13 08:10] jmirabel commented on #1064
@jcarpent could you precise the following please ?
- wall time or CPU time ?
- 0.5us is the order of magnitude of a few (3-5) *worst case* cache misses. I would be curious to have both wall time and cpu time to see how this time improvement is shared.
- what is the total time of either version (to know what percentage this represents) ?

[2020-02-13 09:13] jcarpent commented on #1064
According to the bench in Pinocchio, the bench only measures the wall time, not the CPU time of a given algorithm.

Concerning ABA, the current ABA takes 5.70 us on my i7 Core @ 2.5 Ghz without hyperthreading against 6.12 us for the new version.

We would need to update the current bench to really measure the CPU time, this should be something really helpful I think.

[2020-02-13 09:16] jcarpent commented on #1065
@dadouz Any feedback?

[2020-02-13 09:16] jmirabel commented on #1064
Thanks for the clarifications.

[2020-02-13 15:35] perak96 commented on #705
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
List of GroupNodes :
   gepetto-gui
   hpp-gui
   python-pinocchio
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
Node "world/pinocchio/collisions/ee_

[2020-02-13 15:51] perak96 commented on #1066
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
List of GroupNodes :
gepetto-gui
hpp-gui
python-pinocchio
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
Node "world/pinocchio/collisions/ee_link_0" d

[2020-02-14 07:42] jcarpent commented on #1066
Can you share your code to see what is missing. By the way, in the folder examples, you have an example of using Pinocchio with the viewer.

[2020-02-14 08:19] jmirabel commented on #1066
Line *BOX does not exist.: iostream error* means a) you are not up to date and b) that you have a specific UR5 model because I think there is no box in the official UR5 model.

[2020-02-14 09:59] jcarpent commented on #1026
I would prefer to have it fixed, it is a matter of version numbering and also, it is important for all the partners. I would really appreciate if someone other than me can handle it.

[2020-02-14 11:58] gabrielebndn commented on #1026
Impossible for me. I think it would not be really time-consuming if I knew exactly how to do it, but the truth is that I don't and that I have zero time :grimacing:

[2020-02-14 19:00] perak96 commented on #1066
@jcarpent
This is my code( I followed the example):
from pinocchio.robot_wrapper import RobotWrapper
import pinocchio
import gepetto
import numpy
pinocchio.switchToNumpyMatrix()

URDF = '/opt/openrobots/share/ur5_description/urdf/ur5_gripper.urdf'

robot = RobotWrapper.BuildFromURDF(URDF)
robot.initViewer(loadModel = True)
#rgbt = [0.0, 0.0, 1.0, 1.0]  # red, green, blue, transparency
#robot.viewe

[2020-02-14 19:52] jcarpent commented on #1066
you can do `robot.display(robot.q0)` to display the neutral configuration. You will see the whole robot then.

[2020-02-14 20:08] perak96 commented on #1066
It worked. One more question: Although I see seven links, I get this message:
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
BOX does not exist.: iostream error
Node "world/pinocchio/collisions/ee_link_0" does not exist.
Node "world/pinocchio/collisions/tool0_0" does not exist.
Node "world/pinocchio/collisions/tool0_1" does not exist.
No

[2020-02-16 11:28] thomasfla opened #1068 "Time execution of robot_wrapper.display are dependent on the call frequency ?"
To give a little bit of context, I'm planning on making the connection with the viewer non blocking by using a shared memory and the multiprocess module. While doing so, I realized some strange behavior, that someone might be able to explain :

I ran some test and realized that execution time of python calls to robot_wrapper.display are dependent on the call frequency.

If called a few times, disp

[2020-02-16 12:17] jmirabel commented on #1068
Using `gui.setRefreshIsSynchronous(False)` before the benchmark should give a more stable behavior. It makes the call to refresh de-synchronized with the rendering loop.

[2020-02-16 14:55] mohamdev opened #1069 "mobilerobot source code unavailable"
Hello, i'm trying to follow the tutorial "Drag and drop (aka inverse kinematics)", but I can't access to the mobilerobot module. In fact, in the tutorial, it is specified that the module is available on this link : https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/mobilerobot_8py_source.html

But when I click on the link I have a 404 error. I guess I can't perform the tut

[2020-02-16 15:20] thomasfla commented on #1068
Many thanks @jmirabel this solved my timing issues.
In the meantime, i also implemented a very simple multiprocess class to call the viewer an other process:

[code]
benchmarks give for 10k calls delayed by 10ms:
default : 333.11 s
Asynchronous gui : 106.87 s
shared memory : 101.55 s

So basically, the shared memory only saves 0.5ms per display calls.
This is still useful in my case since I'm call

[2020-02-16 15:54] jmirabel commented on #1068
A few remarks:
- the accuracy of `time.sleep` is not so high and is close to the actual computation cost of the function you want to benchmark. Running the following script gives me ~101.30 seconds
[code]

- from your benchmark, I understand that the asynchronous gui takes about 0.6ms per call. This is reasonable because there are inter-process communications. However, 0.155ms is extremely high. Y

[2020-02-16 17:07] thomasfla commented on #1068
You are right, the shared memory method is basically the reference point (Comparable of doing nothing), this should not really be part of the benchmark.
As you point out, I can still deduce the time of the display with asynchronous gui, witch is, as you said closer to 0.6ms than 0.5ms.

[2020-02-16 20:44] jcarpent commented on #1069
@gabrielebndn I think this issue issue is coming from your side. Could you provide some help please?

[2020-02-16 20:45] jcarpent commented on #1068
Why to not set this value by default in gepetto-gui?

[2020-02-16 21:17] gabrielebndn commented on #1069
@jcarpent he is actually referring to https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_d-practical-exercises_3-invkine.html, which is not my work. There is currently some confusion and overlap between the different tutorials and examples etc.

The link is inside the webpage, but it is currently not working. I think the best person to answer this is @nmansard. Eith

[2020-02-16 21:28] jcarpent commented on #1069
@gabrielebndn I found the bug and I think you did want it, but it seems your made the modifications that lead to the current behavior ;) Please see https://github.com/stack-of-tasks/pinocchio/commit/68bed7b27b95e9e9569474bf02a4b420309cfd8f
I will provide a fix.

[2020-02-16 22:31] gabrielebndn commented on #1069
Oooh, I see... I will comment on the PR.
Speaking of which, wouldn't it be time to manually update the uploaded doc, at least partially addressing #1007 before an automatic solution is put back in place?

[2020-02-16 23:41] gabrielebndn commented on #1069
Meanwhile, @mohamdev, while waiting for the fix, all Python sources for the preactical exercises can be found in the Pinocchio repo, in the subfolder [doc/d-practical-exercises/src](https://github.com/stack-of-tasks/pinocchio/tree/e038c7bf283b1df56a35014455e0e2d6f36e03ac/doc/d-practical-exercises/src). You can either copy and paste the files one by one from Github when you need them, or you can cl

[2020-02-17 06:53] jcarpent commented on #1069
Solved by #1071.
@mohamdev We will provide a new release of the doc soon. Thanks a lot for raising this very helpful issue.

[2020-02-17 06:53] #1069 closed

[2020-02-17 08:17] jmirabel commented on #1068
I asked myself the same thing. I think the only reason was for code like:
[code]
When not synchronous, you don't know which image will be rendered to the file. However, after thinking twice about it and checking the source code, I think you are still guaranteed to render to latest one.

I will change the default for some time on my laptop to see if I encounter any other issues.

[2020-02-17 14:49] mohamdev commented on #1069
That's fine, thank you very much for your feedback :)

[2020-02-18 10:25] Neotriple commented on #470
Just wanted to chime in to say that I would definitely love this feature. Pretty similar to what @cmastalli was referring to, having a subtree of the feet would be a really nice feature.

[2020-02-18 10:35] Neotriple opened #1072 "Linking to header files in CMakeLists.txt"
Hey all,

I'm actually trying to link to the header files that I've installed in a directory which I'll call:
pinocchio_DIR

However, when I try to build a simple test application to load a URDF, and do a 'make' on the folder, I run into this issue:

[code]

For reference, my CMakeList.txt looks something like this:

[code]

I'm sure I'm just doing something quite stupid, but I can't quite figure

[2020-02-18 15:28] jcarpent commented on #914
Solved by #1067

[2020-02-18 15:28] #914 closed

[2020-02-18 15:29] jcarpent commented on #1072
@Neotriple If can pull the devel branch of Pinocchio and then add to your CMakeLists.txt these two lines:
[code]
and:
[code]

[2020-02-18 16:20] jcarpent commented on #1065
I will close this issue hopping that the problem is now solved.

[2020-02-18 16:20] #1065 closed

[2020-02-18 16:21] jcarpent commented on #1068
Thanks @jmirabel for solving this issue.

[2020-02-18 16:21] #1068 closed

[2020-02-19 10:05] jcarpent commented on #1015
I will close the issue. @mklvcm Let us know if you need more help.

[2020-02-19 10:05] #1015 closed

[2020-02-19 10:06] jcarpent commented on #1072
@Neotriple Any news?

[2020-02-19 10:25] Neotriple commented on #1072
Sorry for the lack of update. I forgot to mention that I'm building using the catkin build toolset. When I went to rebuild after switching to the devel branch, the catkin build toolset failed due to an error in eigenpy. Once I figure out this error, I can try your method above.

As a general question, the documentation notes that pinocchio is now header-only, however, from my understanding, find_p

[2020-02-19 10:50] wxmerkt commented on #1072
@Neotriple The CMake find_package won't work for you yet. I'll come find you to debug

[2020-02-19 11:04] jcarpent commented on #1072
@wxmerkt Could you update ROS with the new release of Pinicchio with full cmake package support now.

[2020-02-19 11:11] mohamdev opened #1073 "Drag and drop (Inverse kinematics) issues"
Hello :),

I have some issues performing the Drag and drop (aka inverse kinematics) tutorial.

1) When I try to import the URDF of the mobile ur5 using the command

`robot = MobileRobotWrapper(URDF, [PKG])`

I get the following error :

I tried to use the command `MobileRobotWrapper.BuildFromURDF(URDF)`, it works fine, but it imports the 6 DOF ur5 (robot.nq = 6), yet the mobile version of ur5 shou

[2020-02-19 11:43] wxmerkt commented on #1072
I've made the releases. Thank you very much for the updates and CMake package support :-).

[2020-02-19 11:59] gabrielebndn commented on #1073
Indeed, the tutorials are very out of date. `BuildFromURDF` is the current method.

but it imports the 6 DOF ur5 (robot.nq = 6), yet the mobile version of ur5 should be 9 DOF (robot.nq should be equal to 9), so I guess it imported it wrong.

That's because if the base is not fixed the root joint must be provided externally (this info is not contained in the URDF, thus there is no way for Pinocchio

[2020-02-19 12:24] jcarpent commented on #1073
@gabrielebndn I think you have a correct understanding of what is missing now in the tutorial to be up to date. It would be great if you can correct them in such a way nobody will be annoyed. Can you take it in charge?

[2020-02-19 12:38] gabrielebndn commented on #1073
I will see what I can do, but I am full of work, so it will be very low priority

[2020-02-19 12:38] gabrielebndn commented on #1073
Mostly, I think we should find a way to unit test them

[2020-02-19 13:05] jcarpent commented on #1073
Yes, sure for the CI.

[2020-02-19 13:06] jcarpent commented on #1073
From my side, I'm also full and I think you might be much more efficient than me on it. @nmansard @nim65s Do you think that you have some times to fix it?

[2020-02-19 13:07] jcarpent commented on #1072
@wxmerkt Thanks a lot for the release.

[2020-02-19 13:22] nim65s commented on #1073
@nmansard created new tutorials. He is waiting for me to review them. I am planning to do that in a week or 2.
This will come with proper CI integration.

[2020-02-19 14:19] gabrielebndn commented on #1073
Excellent then!

[2020-02-19 16:25] wxmerkt opened #1074 "Substantial increase in memory required to build between v2.2 and v2.3"
I've noticed this on my notebook with 16 GB before and it's currently failing on the ROS buildfarm (i.e., releases beyond 2.2.1 may not work):
[code]

The changes between 2.2.1 and 2.3.0 increased memory usage substantially. E.g., with 16 GB memory I can only build with a maximum of 2 threads without exhausting the built-in memory. Using 16 threads I needed ~40-50 GB memory (for Crocoddyl).

Do yo

[2020-02-19 16:28] jcarpent commented on #1074
There is no apparent reason I would say, except for a change in Boost. This is happening for the Python bindings or the unit tests?
One possibility is the serialization of Data and Model, which requires to stear the whole mechanism behind Boost.Variant.

[2020-02-19 16:29] jcarpent commented on #1074
On your side, can you compile the Python bindings without exposition of Data and Model?

[2020-02-19 16:34] jcarpent commented on #1074
Or by just commenting the lines:
https://github.com/stack-of-tasks/pinocchio/blob/7765909f1aed41dd9471baaf8e492be5fcc99523/bindings/python/multibody/model.hpp#L331
and:
https://github.com/stack-of-tasks/pinocchio/blob/7765909f1aed41dd9471baaf8e492be5fcc99523/bindings/python/multibody/model.hpp#L328

[2020-02-19 16:35] wxmerkt commented on #1074
I am using the default CMake settings as if you were to run `mkdir build ; cd build ; cmake .. ; make`. I can compile (on two cores max without excessive swap) on my notebook but I have no possibility to debug the buildfarm directly.

[2020-02-19 16:35] jcarpent commented on #1074
By the way, the bindings of Crocoddyl are not done correctly. The exposition is not made in individual files, requiring a lot of memory usage.

[2020-02-19 16:37] wxmerkt commented on #1074
Sorry, I should have been clearer:

a) We see the increase in compiling just Pinocchio with its default CMake settings. This is what causes the ROS buildfarm to fail. It also makes the notebook ache/swap a lot.

b) In Crocoddyl, we see peaks of 40-50GB RAM usage when using 16 threads to compile.

I am mainly interested in solving (a) right now.

[2020-02-19 16:39] jcarpent commented on #1074
I think this is coming then from the serialization. I may find a trick to avoid this burden in memory.

[2020-02-19 16:40] nim65s opened #1075 "[Python] exception handling issue"
Hi,

https://github.com/stack-of-tasks/pinocchio/blob/7765909f1aed41dd9471baaf8e492be5fcc99523/examples/display-shapes.py#L40

On my system, this leads to the following error:
[code]

I can probably fix this if no one else is available.

[2020-02-19 16:41] jcarpent commented on #1075
Please go ahead with the fix. Thanks in advance @nim65s.

[2020-02-19 16:55] mohamdev commented on #1073
@gabrielebndn Thank you very much for your feedback, it was really helpful :)
I'm glad to hear that tutorials will be updated. Thank you for your helpful work

[2020-02-19 17:27] wxmerkt commented on #1074
This is an example output in case it helps debugging:
[code]

[2020-02-19 17:30] nim65s opened #1076 "[Tests] Missing link to urdfdom"
Hi,

https://github.com/stack-of-tasks/pinocchio/blob/7765909f1aed41dd9471baaf8e492be5fcc99523/unittest/multiprecision.cpp#L75

On my system, this code lacks link to urdfdom:
[code]
(demangled: `urdf::parseURDFFile()`)

This can be fixed there :
https://github.com/stack-of-tasks/pinocchio/blob/7765909f1aed41dd9471baaf8e492be5fcc99523/unittest/CMakeLists.txt#L125

with
[code]

Am I missing anything

[2020-02-19 17:33] jcarpent commented on #1076
I've a fix for it.

[2020-02-19 17:36] jcarpent commented on #1074
Yes, I will deactivate this test by default.

[2020-02-19 17:36] jcarpent commented on #1074
This is due to Boost.Multiprecision rootings.

[2020-02-19 18:06] jcarpent opened #1078 "Compiling URDF and SRDF parsers"
Current implementations of URDF and SRDF parsers are header-only, meaning that the private flags related to the various versions of URDFDOM are transferred for correct compilation. In addition, for each new executable, we have to compile the signatures again and again, while by default, URDF and SRDF assumes double scalar type.

I would like to pass these parsers to the existing but empty Pinocchi

[2020-02-19 19:15] jcarpent commented on #1076
Solved by #1077.

[2020-02-19 19:15] #1076 closed

[2020-02-19 22:04] jcarpent commented on #1074
#1079 partially solves the issue. The last missing point is the visitor test.

[2020-02-19 23:46] wxmerkt commented on #1074
Thank you for the record-time resolution of this :-)

[2020-02-20 06:42] jcarpent commented on #1074
@wxmerkt Do we need a new release to get the latest change on the ROS build farm?

[2020-02-20 08:48] wxmerkt commented on #1074
Yes, please.

[2020-02-20 09:06] jmirabel commented on #1078
I like the idea but I fear it is gonna be hard to achieve. In HPP, we are using a different JointModelCollection. I think this would be an issue, right ?

[2020-02-20 10:19] jcarpent commented on #1078
No, because the JointCollection is also in the signature of default Model in Pinocchio.
But, this means that we still need to export the compilations flags.

[2020-02-20 10:20] jcarpent commented on #1078
Another solution would be to proceed to a cast.

[2020-02-20 10:22] jmirabel commented on #1078
That's the point. We don't use the default Model signature.

[2020-02-20 10:24] jmirabel commented on #1078
We could also use a visitor design pattern.

[2020-02-20 10:25] jcarpent commented on #1078
What do you mean?

[2020-02-20 10:32] jmirabel commented on #1078
Add a class UrdfVisitor that has a prototype such as:
[code]

Then a child class
[code]

Then, the URDF parser becomes independant of class Model.

[2020-02-20 10:46] jcarpent commented on #1078
My initial goal would be to not have to export URDF related flags when compiling Pinocchio. I don't see how it will happen in your case?

[2020-02-20 11:41] jmirabel commented on #1078
In the library, you will have a code that depends on URDF related flags like this:
[code]
Then, the UrdfVisitor::addRevolute function will not depend on anything related to urdfdom. You should not need to include any urdfdom header.

[2020-02-20 12:05] jcarpent commented on #1078
OK. Thanks for the clarification. As you seems much more aware on the topic, would you have time to implement it?

[2020-02-20 12:07] jcarpent commented on #1075
@nim65s I plan to make a new release with bug fixes. Could you handle this issue today?

[2020-02-20 12:09] jcarpent commented on #1075
In fact, I will handle it by myself

[2020-02-20 12:27] jmirabel commented on #1078
I can put this onto my task list but it won't have a high priority. There is no hurry for this, is there ?

[2020-02-20 13:09] jcarpent commented on #1075
Solved by #1081.

[2020-02-20 13:09] #1075 closed

[2020-02-20 13:09] jcarpent commented on #1078
No, of course.

[2020-02-20 13:10] jcarpent commented on #1078
Thanks a lot @jmirabel for handling this feature.

[2020-02-20 15:42] jcarpent commented on #1072
@wxmerkt Could update ROS with the new release?

[2020-02-20 15:50] jcarpent commented on #1074
Solved by #1079 and #1077.

[2020-02-20 15:50] #1074 closed

[2020-02-20 15:58] wxmerkt commented on #1072
Done :-)

I will close the issue as Paarth and I debugged this in person yesterday.

[2020-02-20 15:58] #1072 closed

[2020-02-20 16:05] jcarpent commented on #1072
@wxmerkt Thanks a lot.

[2020-02-20 17:03] ialong opened #1082 "No available formula with the name "eigenpy-python3""
Running `brew install pinocchio` currently fails due to eigenpy now using python3 by default (there is no `eigenpy-python3` formula anymore).

This is the output:

[code]

[2020-02-20 17:04] jcarpent commented on #1082
@ialong I'm currently regenerating the images. In 10 minutes, it should be available.

[2020-02-20 17:05] ialong commented on #1082
great thanks! (amazing response speed :))

[2020-02-20 17:20] jcarpent commented on #1082
Done! The binaries are now available.
Best,
Justin

[2020-02-20 17:20] #1082 closed

[2020-02-20 17:24] ialong commented on #1082
It seems I'm still getting the same issue (after running brew update)...

[2020-02-20 17:37] jcarpent commented on #1082
I would advise you to proceed as follows:
[code]
or, for Python 2:
[code]

[2020-02-20 17:41] ialong commented on #1082
@jcarpent unfortunately still the same error.

[2020-02-20 17:42] jcarpent commented on #1082
OK. I've found the bug.

[2020-02-20 17:43] jcarpent commented on #1082
I just need 5 mins to solve it and regenerate the correct image

[2020-02-20 17:53] jcarpent commented on #1082
Done. Thanks @ialong for your quick feedback.

[2020-02-20 17:59] ialong commented on #1082
It worked! @jcarpent thank you very much for fixing this so quickly

[2020-02-20 18:33] jcarpent commented on #1082
You're welcome.

[2020-02-22 18:56] #1073 closed

[2020-02-23 22:16] hzyjerry opened #1088 "Parallel forward kinematics & collision checking"
Thanks for your awesome work on pinocchio.

I'm wondering if it's possible to perform batch collision checking? For instance, I would like to sample 1000 different poses for my robot model in a fixed workspace, and check % of them collide with the obstacle. This would be very helpful for performing sampling-based motion planning tasks.

Thanks!

[2020-02-24 08:18] jmirabel commented on #1088
Yes, it is. The easiest is to have one Data and GeomData object per threads.

[2020-02-24 09:51] jmirabel opened #1089 "Frame tree"
Hi,

I think there is a bug in the URDF parser. Consider the following URDF and python script.
[code]
It prints
[code]

Clearly, the parent frame of joint_2 should be link_1 and not joint_1. Do we agree ?

[2020-02-24 10:56] jcarpent commented on #1089
You're right I think too. Indeed, the tree of Frames should keep the URDF tree ordering.

[2020-02-24 10:59] jcarpent commented on #1089
By the way, the same applies for joint_1 parent should be the base_link too.

[2020-02-24 11:02] jcarpent commented on #1089
@jmirabel Can you handle the fix?

[2020-02-24 16:53] cmastalli opened #1090 "Pinocchio `getNumpyType` is not found in `def zero`"
Hi guys,

I have installed the latest devel branch of Pinocchio.
And when I run the following script
[code]
I got the error message:
[code]

Could it be that I need to update EigenPy and Pinocchio is not detecting this?

Yours,
Carlos

[2020-02-24 16:59] cmastalli commented on #1090
**Update**
When I compiled the master branch of EigenPy everything works well.

The cmake needs to be updated in order to request for the right version of EigenPy. Unfortunately, I don't know which one is the minimal one.

[2020-02-24 17:00] jcarpent commented on #1090
What is your old version of EigenPy?

[2020-02-24 18:39] cmastalli commented on #1090
I think that was v1.6.1, however I am not sure about it.

[2020-02-24 22:23] jcarpent commented on #1090
Solved by #1091.

[2020-02-24 22:23] #1090 closed

[2020-02-24 23:31] hzyjerry commented on #1088
@jmirabel thanks for the note! I wonder if this would induce the same speed for 1000 GeomData object vs 1 GeomData object?

For my use case I will be using the same GeomData, at 1000 different configurations

[2020-02-25 08:43] jmirabel commented on #1088
`1000 GeomData` ?!? how many cores do you have ?

My experience of multi-threading tells me that you will not be 1000 times faster. You can expect to have more cache miss with several cores at the same time. I advice you to carefully benchmark you code. Sometimes running with 2 threads is actually slower...

[2020-02-25 08:48] jmirabel commented on #1089
I will put that with #1078

[2020-02-25 09:57] jcarpent commented on #1089
I will then close it. Thanks for handling it.

[2020-02-25 09:57] #1089 closed

[2020-02-25 10:00] jcarpent commented on #1088
I think @hzyjerry wants to do batch computations in similar way it is done in deep learning with GPUs.
A short answer to @hzyjerry is that Pinocchio is not currently done for batch computations, but very tailored for multi-{CPU,process} or parallel computations.

There is a roadmap on adjusting Pinocchio for batch computations, but we are unfortunately lacking of manpower for it.

[2020-02-25 18:37] hzyjerry commented on #1088
@jcarpent yup that's the ideal function that will suit my use case :)

Closing the issue for now. It would be very exciting to see progress in this direction (hopefully someday I can also contribute).

[2020-02-25 18:37] #1088 closed

[2020-02-25 19:30] jcarpent commented on #1088
@hzyjerry We will really appreciate your contribution then.

[2020-02-27 06:48] Linjackffy opened #1092 "Supported object shapes in pinocchio"
I have a question about the supported object shapes in pinocchio.
In the file link.h, class Geometry has four enum type:
[code]

Dose this mean that other object shapes like ellipsoid、capsule and octree supported by fcl cannot created by pinocchio‘s URDF parser?

[2020-02-27 07:06] jcarpent commented on #1092
Dear @Linjackffy,

I think the file you are mentioning is not inside Pinocchio.
In Pinocchio, to handle a geometry (Sphere, Ellipsoid, Meshes, ...), we rely on an extension of the FCL library called [hpp-fcl](https://github.com/humanoid-path-planner/hpp-fcl).

To simplify its usage, we've introduced a dedicated structure called `GeometryObject` (see https://github.com/stack-of-tasks/pinocchio/blob

[2020-02-27 07:09] jcarpent commented on #1092
Concerning the URDF parsers, it is able to handle all the geometries supported by the URDF parser and the convention then. We can then load meshes but the URDF does not support for instance the concept of capsules.

In Pinocchio in fact, we made the choice to replace the Cylinders by Capsules for convenience.

[2020-02-27 08:21] Linjackffy commented on #1092
@jcarpent Sorry for my mistake. File link.h is inside urdf_model.
I would use GeometryObject to handle those object shapes.
Thanks for your answer!

[2020-02-27 08:21] #1092 closed

[2020-02-27 09:22] jmirabel commented on #1092
To be more precise, the URDF parser of pinocchio will convert a cylinder into a capsule only in the case below (taken from the unit test `urdf.cpp`):
[code]

[2020-02-28 01:17] Linjackffy commented on #1092
@jmirabel thanks for your prompt！

[2020-02-28 09:10] jmirabel commented on #1092
Another insight: Ellipsoids are not supported by FCL. It wouldn't be hard to implement though.

[2020-03-04 06:33] tfoote opened #1096 "kinetic release of 2.3.1 is failing on 32bit architectures"
http://build.ros.org/job/Ksrc_uX__pinocchio__ubuntu_xenial__source/

Example failing build http://build.ros.org/job/Kbin_uX32__pinocchio__ubuntu_xenial_i386__binary/55/consoleFull

[2020-03-04 06:44] jcarpent commented on #1096
@tfoote Thanks a lot for this report. We have discussed a bit with @wxmerkt, and it seems that the errors are coming from the build infrastructure, as mentioned by the error:
[code]
@tfoote Do you think we can increase available resources to avoid such issues in the future?

[2020-03-09 17:11] jcarpent commented on #1078
There is still the SRDF parser to do.

[2020-03-09 17:20] jmirabel commented on #1078
You are right. I though the intend was to get rid of *urdfdom* stuff in the installed includes. The SRDF parser only relies on boost, and not on *urdfdom*.

[2020-03-10 23:17] mzwang828 opened #1101 "Questions on adding fixed model and finding jacobian for contact points"
Hi,
First of all, thanks for providing us with this great library!

I'm trying to use this library to model robot dynamics with contacts. I'm having some questions and couldn't find the solution myself.

1. What is the right way to add a static object into the model? Referring to #844 and the provided code: https://github.com/humanoid-path-planner/hpp-pinocchio/blob/77296185e895b9f6e42fa1408b44bbb

[2020-03-11 09:03] jcarpent commented on #1101
Dear @mzwang828,

First of all, thanks for raising these questions. They might indeed help us to improve the API of Pinocchio according to the users' needs.

For the first point, this seems to be a mistake from our side. Even if the root_joint already exists, we should be able to add the object to the kinematic tree. I will provide a fix in a few minutes for it.
A way to recover the right behavior