[2018-03-29 14:03] longwoo opened #450 "colwise multiplication is much more faster than the direct Eigen multiplication?"
I found a interesting thing.  The source code ```src/algorithm/center-of-mass.hxx``` line 260 says ``` I don't know why, but the colwise multiplication is much more faster than the direct Eigen multiplication```. So I had a test like this
[code]

It gives me
[code]

[2018-03-29 14:30] jcarpent commented on #450
Are you sure that your rb_data->M and rb_data->oMi[1] have been initilised with values through `crba` and `forwardKinematics` algo.

In addition, Eigen is doing here some intermediate allocation, because you are not using the noalias() strategy. Can you check that too?

[2018-03-30 02:49] longwoo commented on #450
@jcarpent here is my new test.
[code]

First, I use ```tsid::robot::computeAllTerms```,which contains
[code]
so I think ```rb_data->M``` and ```rb_data->oMi[1]``` have been initilised with values through ```crba``` and ```forwardKinematics``` algo.

Second, in pinocchio source code ```src/algorithm/center-of-mass.hxx```, I did't find noalias() strategy either.
[code]
And I add ```.noalias()``` in

[2018-03-30 06:47] jcarpent commented on #450
It is possible that your compiler is too smart and do not do the complete loop (for i = 0 until 1000), because it realizes that the intermediate computations are not useful.
Writing precise benchmark is pretty hard, and I really advise to see the ones of Eigen which are very atomic.
Just to be check what you mentioned, you can run twice the `timings` benchmark inside the benchmark folder of Pinocc

[2018-03-30 14:07] longwoo commented on #450
@jcarpent It is amazing! I test it in source code 10000 times like this
[code]
And it gives me
[code]
Eigen is a good thing!

[2018-03-30 14:13] jcarpent commented on #450
@longwoo . Cool! So this test confirms the intuition of the comment inside the code.
I will close the issue now. Do not hesitate to reopen it later if needed.

[2018-03-30 14:13] #450 closed

[2018-03-31 09:34] jmirabel commented on #450
Since you do benchmarks of Eigen, could you try to set the two last template arguments of `Eigen::Matrix< _Scalar, _Rows, _Cols, _Options, _MaxRows, _MaxCols >` (`MaxColsAtCompileTime` and `MaxRowsAtCompileTime`) to some values in this two places :
https://github.com/stack-of-tasks/pinocchio/blob/5842ba5ded84b5c39f2e06bd9b1348c6c9f7e254/src/multibody/model.hpp#L398
and
https://github.com/stack-of-

[2018-04-02 12:53] longwoo commented on #450
@jmirabel

1.  If I only change line 398 into
[code]
It gives me
[code]
2.  If I only change line 476 into
[code]
It gives me
[code]
3. If I change both of them .It gives me
[code]

[2018-04-03 08:07] longwoo commented on #446
@jcarpent May be the different is according to [http://www.master-ris.unina.it/custom-php/materiale_didattico/bruno_siciliano_1300033341.pdf](url)
There are two definition of Jacobian, Geometric Jacobian (Jg) and Analytical Jacobian (Ja).
One is mapping to angular angles while the other mapping to Euler angles.
So I guess in pinocchio, it means Geometric Jacobian.

[2018-04-03 08:20] jcarpent commented on #446
@longwoo In Pinocchio, the Jacobian corresponds to the variation of the placement variable according to a variation of the joint configuration. So it maps from the tangent space of the configuration space (denoted v in Pinocchio) to the tangent of SE3 (denoted Motion in Pinocchio).

Hope it can help you understanding the concepts behind Pinocchio.
In the context of Jcom, it maps from the tangent o

[2018-04-06 08:39] jmirabel commented on #450
Thanks for reporting the results. I do not really understand the reason for such great differences though...

[2018-04-11 06:14] longwoo commented on #446
@jcarpent Thanks for your patient. Now ,there is no doubt that it is expressed in the world frame. One more question is in which point?
According to Feathstone's book Rigid Body Dynamics Algorithms , p10, linear velocity term ```V_o``` in spatial velocity (twist) means ```velocity of the body−fixed point that coincides with O at the current instant```. Suppose ```O``` is the origin of the world fr

[2018-04-11 06:38] jcarpent commented on #446
The Jacobian can be expressed in two frames: WORLD or LOCAL:
For WORLD, the velocity indeed corresponds to the point coincident with the world origin, but linked to the joint and the twist is expressed in the world frame coordinates.
For LOCAL, it corresponds to the velocity of the center of the joint you consider expressed in the local coordinate frame of the joint.
Both Jacobians, J_in_world and

[2018-04-11 07:39] longwoo commented on #446
@jcarpent Thank you. It helps a lot to find the different. And is it also the same to ```J_com```? The result of ```v_com=J_com*dot_q``` is corresponds to the point coincident with the world origin?

And I find a function in Mujoco
[code]
which can get tradition meaning the velocity, not ```v_o```. Is there any similar function in pinocchio ? The way I use now is to do forward kinematic and then r

[2018-04-11 07:51] jcarpent commented on #446
For the first question, vcom is the velocity of the center of mass  of the whole systems expressed in the world coordinate frame. This is a vector, and we chose to express in the world frame coordinate system. Nothing more.

Now, if you want to retrieve the velocity of a given joint defined by its id, you just need to call first `forwardKInemartics(model,data,q,qdot)`and then get the velocity of t

[2018-04-12 10:18] longwoo commented on #446
@jcarpent The different Inertia Matrix (H) between Mujoco and Pinocchio may caused by my misunderstanding about the input of freeflyer. I made 2 experiment .
First ,make the robot fixed in the air, then the robot have 12 degrees. In this case , they get the exactly same result like this
[code]

Then I add the freeflyer joint  ,  and do a forward . Also get the  the exactly same result for a link p

[2018-04-12 10:33] andreadelprete opened #451 "Installation procedure through robotpkg"
I think I found a mistake in the installation procedure described on [Pinocchio's website](https://stack-of-tasks.github.io/pinocchio/download.html). In the section **Add robotpkg PPA**, point 2, it tells to add _http://robotpkg.openrobots.org/packages/debian/pub/dists_. However, in the [robotpkg website](http://robotpkg.openrobots.org/binary.html), it tells to add _http://robotpkg.openrobots.org/

[2018-04-12 11:56] jcarpent commented on #451
Hi Andrea,
Indeed, the procedure on the website of Pinocchio is wrong and should follow the instructions given by https://github.com/stack-of-tasks/pinocchio/wiki/Installation.
Thanks for reporting it here.
@nim65s Can you make the website of Pinocchio to be synchronized with the wiki of github?
Thanks in advance.

[2018-04-12 13:44] nmansard commented on #446
The inertia matrix represents a linear application from the tangent
space of configurations (aka joint velocities or accelerations) to the
cotangent space of configurations (aka joint torques):
tau_q = M a_q
With a free flyers, you would have something like tau_q = [ tau_ff;
tau_act ] and a_q = [a_ff; a_act], with _ff the free flyer components
and _act the components of the actuated joints.
In pin

[2018-04-12 14:53] nim65s commented on #451
I clearly forgot to update this page when I updated the template of the website, sorry.

Anyway, why do we even have this information duplicated on the website and the wiki, and even on https://github.com/stack-of-tasks/pinocchio-tutorials/tree/master/tp0_install ?

Please, let's choose only one of these 3, update it, remove the other and replaces them by links to the main one. I suggest keeping t

[2018-04-12 15:06] nim65s commented on #451
Got it, the website was using javascript to fetch informations from the wiki and display it, and I removed this.

Avoiding unnecessary javascript (especially if they come from an external untrusted source) on our websites would be really better, so I still suggest to display this information in only one place

[2018-04-12 15:20] jcarpent commented on #451
I do agree. The idea of putting on the wiki of Github is for simplicity of updating the content.
But, if you prefer, we can put everything on gh-pages.

[2018-04-13 09:24] longwoo commented on #446
Indeed, I made a test like this
[code]
They get the same result when there is no rotation in freeflyer.
[code]

So the inertia matrix in pinocchio will Not change w.r.t the input of first 7 element in ```q``` (the pos and orientation  of freeflyer w.r.t the world frame) by
[code]
However , In Mujoco,  the inertia matrix will change w.r.t the orientation  of freeflyer.
That is the different.

[2018-04-16 13:44] nim65s opened #453 "computeAllTerms crash on model with only one joint"
Here is a test:

[code]

Setting `nb_joints` to 2 or more works, but for 1 I get:

[code]

[2018-04-16 13:52] jcarpent commented on #453
This problem is coming from eigenpy in fact. I will try to fix it.

[2018-04-16 17:04] jcarpent commented on #453
This if fixed by stack-of-tasks/eigenpy#28.

[2018-04-16 17:04] #453 closed

[2018-04-20 09:54] #451 closed

[2018-04-20 09:55] #424 closed

[2018-05-25 16:57] nim65s opened #464 "[CMake] Installing .pyc files"
Hi,

In https://github.com/stack-of-tasks/pinocchio/blob/master/bindings/python/CMakeLists.txt#L214 we try to install .pyc files.

First of all, I don't understand why.
Does someone have an explanation ?

Then, in python 3.2+, [PEP 3147](https://www.python.org/dev/peps/pep-3147/) states that compiled files are no more `$filename.pyc`, but `__pycache__/$filename.<magic>.pyc` with `<magic>` somethin

[2018-05-25 17:00] jmirabel commented on #464
I guess it is mostly a copy-paste from https://github.com/jrl-umi3218/jrl-cmakemodules/blob/d22de8c53c3507df785b1fb3ab260d9fdfb65233/python.cmake#L183

[2018-05-25 17:05] jmirabel commented on #464
As of now, I could not find any pros and cons. You have found an important cons.

[2018-05-25 17:09] jcarpent commented on #464
It is just an historical reason.
You can remove this pass inside the CMakeLists.txt.

[2018-05-25 17:10] nim65s commented on #464
will do :)

[2018-05-25 17:11] jmirabel commented on #464
Can you open an issue in https://github.com/jrl-umi3218/jrl-cmakemodules as well ?

[2018-05-26 11:15] jcarpent commented on #464
Solved by #465

[2018-05-26 11:15] #464 closed

[2018-05-30 09:01] mpetriaux opened #467 "Visualization with Gepetto"
I'm trying to visualize a robot using gepetto viewer and pinocchio.
I'm using pinocchio version 1.2.8  and gepetto viewer version 1.1.0

The following code sample does not work:
[code]

I previously ran `gepetto-viewer-server` in another terminal.

Still I get the following error:
[code]

Is this the correct way to display the robot? What can I do to correct it?

[2018-05-30 09:48] jcarpent commented on #467
Do you start corba omninames?
Can you try with gepetto-gui?

[2018-05-30 10:36] aelkhour commented on #467
@jcarpent I'm not familiar with gepetto-gui, what is the difference with respect to gepetto-viewer-server?

[2018-05-30 11:54] nmansard commented on #467
It is an equivalent software based on QT which has proven to be slightly more reliable that GVS in the past.

[2018-05-30 14:00] aelkhour commented on #467
We have an osg install without QT plugins, so it's going to be tedious to test with gepetto-gui.
Is geppeto-viewer-server deprecated?

omniNames is already started when running the test described by @mpetriaux. I encoutered the same issue.

[2018-05-30 15:04] jmirabel commented on #467
- Does `gepetto-viewer-server` print an error message ?
- In robot_wrapper.py, in method `RobotWrapper.initDisplay`, could you catch errors of type `gepetto.Error` and print them ? @jcarpent I think it should be changed as the potentially helpful error message is hidden.

Did you manually deactivate it ? By default, it is activated. If you reconfigure OSG, use cmake flag `-DDESIRED_QT_VERSION=4`

[2018-05-30 15:38] jmirabel commented on #467
Then, for `gepetto-gui`, you have no other options than recompiling.

For `gepetto-viewer-server`, did you get the opportunity to answer my two other questions ?

[2018-05-30 16:09] aelkhour commented on #467
Thanks @jmirabel, we'll get back to you regarding our tests asap.

[2018-06-01 08:36] mpetriaux commented on #467
Thank you all for your answers.

I've been digging in initDisplay method.

First, this line `scene_l = gui.getSceneList()` doesn't works on our gepetto version, getSceneList() doesn't exist.

This doesn't seem so bad, if I just skip this line and assume the scene doesn't exist I can continue until `self.loadDisplayModel()`

Same thing here, method `gui.nodeExists()` is not defined but I can skip t

[2018-06-01 09:01] jcarpent commented on #467
@mpetriaux Just to be sure, which version of gepetto are you currently using?
Why to not use the last version on the robotpkg repository?

[2018-06-01 11:52] aelkhour commented on #467
As mentioned in the issue by @mpetriaux, we use gepetto-viewer v1.1.0, so we are indeed a bit late with respect to the latest releases.

We can try to update to the latest stable release of gepetto-viewer.

[2018-06-01 14:17] mpetriaux commented on #467
So I'm trying to update to latest releases of gepetto-viewer, gepetto-viewer-corba and eigenpy.

But then I need osg-Qt.

I tried to pass the CMake flag you advised @jmirabel but it's not used by the project.

What version of OpenSceneGraph are you using?

[2018-06-01 14:28] jcarpent commented on #467
@mpetriaux
Do you know that you can install all these sotfwares through robotpkg ppa (binairies).
You can use the same instructions than for Pinocchio:
https://github.com/stack-of-tasks/pinocchio/wiki/Installation

You just need to add the ppa of robotpkg as explained in the installation instructions of Pinocchio and run:
`sudo apt-get install robotpkg-gepetto-viewer-corba`
It will install gepetto

[2018-06-01 14:32] jmirabel commented on #467
If @jcarpent solution does not suit your needs (which is the easiest):

For OpenSceneGraph, you have two solutions (working at least on Ubuntu 14.04 and 16.04):
- `apt-get install libopenscenegraph-dev`,
- installation version 3.2 or 3.4 from source. If you choose this option, make sure you have Qt installed and is found by OSG, then add the CMake flag I mentioned earlier.

[2018-06-02 18:28] aelkhour commented on #467
I tried out @jcarpent's way and managed to launch gepetto-gui along with @mpetriaux's script. The URDF geometries (both visual and collision) are loaded in the scene, but for some reason they appear to be "black". The mesh files are stored in STL format, and used to be displayed fine in previous versions of gepetto-viewer. See below picture for comparison between gepetto-gui and meshlab for the sa

[2018-06-03 11:59] jmirabel commented on #467
This is due to a bug in the STL plugin of OSG in version 3.2. The bug is fixed in 3.4.

From binary packages, the only option (though I never tried) is to convert them in another format (using meshlab for instance).

If you do not want to modify the URDF file, you can do:
- convert `file.stl` to `file.obj` (OBJ, DAE or anything you like)
- run command `osgconv file.obj file.stl.osgb`.

Explanation

[2018-06-04 14:03] mpetriaux commented on #467
So I've found a patch to make pinocchio 1.2.8 work with our gepetto viewer version (1.1.0).

I removed calls to `getSceneList` and `nodeExists`.

Then I changed the quaternion convention in `XYZQUATToViewerConfiguration` and call this method.

For me the issue is solved.

I think we will soon update to latest versions of eigenpy and gepetto-viewer which will be a more sustainable solution.

Thank

[2018-06-06 11:09] olivier-stasse opened #470 "Extracting subtree for independent computation"
Dear all,
I need to test and port old fashion control algorithm. They need to perform computation on subtree of a humanoid robot. Typically it would consist in making inverse kinematic computations of the left and right legs seperately.
I found subtrees in the structure of pinocchio but not a proper way to extract path of joints as it is done in other libraries.
Thanks for your help.

[2018-06-06 11:51] cmastalli commented on #470
I'm working in similar topic, i.e. computation of kinematic quantities (FK and IK) at the subtree level and other functions. Those functions are implemented in a library on top of Pinocchio, with the possibility of having Python bindings too. However, I'm currently testing the code (i.e. creating unittest).

The reason to implement them in an another library is due to the fact that these functions

[2018-06-06 12:21] nim65s opened #471 "eigen 3.3.4 compatibility & Eigen::internal"
Hi,

I'm forwarding some comments from https://git.openrobots.org/issues/164:

[2018-06-06 15:59] jcarpent commented on #471
This bug has been solved by #472.

[2018-06-06 15:59] #471 closed

[2018-06-08 10:06] jcarpent commented on #397
I closed this discussion because this issue is no more essential.

[2018-06-08 10:06] #397 closed

[2018-06-08 10:07] jcarpent commented on #263
The compilation have been improved for Python bindings.
Some remain works are still necessary, but they are no more a priority.

[2018-06-08 10:07] #263 closed

[2018-06-15 07:23] miggia opened #475 "possibly outdated commands in Tutorial 1"
Hi,
I'm following the tutorials and happened to notice that the method `Model.addJointAndBody` (as used in tutorial 1.2, `model.addJointAndBody(parent, jointModel, jointPlacement, bodyInertia, jointName, bodyName)`) is not available any more
If I understand correctly, it has been substituted by `Model.addJoint` and `Model.appendBodyToJoint`.
Also it seems `Model.nbody` and `Model.njoint` have been

[2018-06-15 08:37] jcarpent commented on #475
@miggia . I want to thank you for this issue.
Can you give the link of the tutorials that you are currently using?

[2018-06-15 11:13] miggia commented on #475
Hi @jcarpenter,
I'm looking at the tutorial at https://stack-of-tasks.github.io/pinocchio/tutorials.html#Tutorial_1

As a side note, it took me a while to figure out that to instantiate `se3.SE3` objects, Pinocchio expects "vertical" matrices (differently from what is pointed out in [Tutorial 4](https://stack-of-tasks.github.io/pinocchio/tutorials.html#objective) where the `se3.SE3` object is crea

[2018-06-15 12:49] nmansard commented on #475
@nim65s integrated the new tutorials ("labs") in the documentation of the current master. It is published at the following address:
http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/

We should remove the link to the old version of the tutorial, that are referred in the github.io of pinocchio. @nim65s , would you have the time to do so?

[2018-06-18 14:44] nim65s opened #476 "Support: Question and Answers"
Hi,

This tracker is useful to maintain a todo-list and report bugs, but it seems that we need a Q&A to let our users ask general questions. For this, a general website like [Stack Overflow](https://stackoverflow.com/) seems nice.

On this website, we can find a few tags like robot & robotics, but they suggest to use another website from Stack Exchange: http://robotics.stackexchange.com/

There, w

[2018-06-18 14:51] nim65s commented on #476
An alternative to Stack Exchange would be to use [ROS Answers](https://answers.ros.org/questions/), but we should put Pinocchio in ROS first :)

[2018-06-18 16:04] nim65s commented on #475
Hi,

Thanks for the report :)

The links in https://stack-of-tasks.github.io/pinocchio/ for the tutorial and the documentation have been updated respectively in b03e1c0551e56dc0c76f5300b29b13ff1badb9ea & 95fc4f15121f45f32c72a535f9c258c7052ab490

[2018-06-18 16:04] #475 closed

[2018-06-19 10:53] miggia commented on #475
Thank you for the feedback.
I'll start looking at the new tutorials.
Best regards.

[2018-07-02 20:03] #323 closed

[2018-07-03 13:32] jcarpent commented on #476
Thanks for this list of solutions.
I recently came to this alternative solution: https://gitter.im

@nim65s What do you think?

[2018-07-03 13:32] #384 closed

[2018-07-03 13:52] nim65s commented on #476
gitter is a Instant Messaging solution, and has nothing to do with Q&A.

It is a closed-source direct concurrent to slack (closed-source), rocket.chat, mattermost, & matrix (open-source) and a billion others ([mandatory xkcd](https://xkcd.com/1810/)).

This could be discussed in a separate issue, but we can also provide support over an IM solution.
I think this is something we must do, and I alrea

[2018-07-03 14:46] jcarpent commented on #476
Ok. I see your point.

By the way, is it possible to integrate Mattermost inside Github. I mean, like a plug-in.
I'm trying to figure out this feature, but I cannot fin any hint on Internet.

[2018-07-03 14:53] nim65s commented on #476
It is possible, but it works really better with gitlab. In fact, a mattermost instance is automatically provided with a gitlab instance, and they work together. I think we should discuss this in the next HPP-Meeting, if you are here.

[2018-07-04 11:46] jcarpent opened #487 "Deletion of lab directory"
It appears that [lab](https://github.com/stack-of-tasks/pinocchio/tree/devel/lab) content have been replaced by [pinocchio-tutorials](https://github.com/stack-of-tasks/pinocchio-tutorials).

I suggest to delete it from the main repository of **Pinocchio**. @nim65s , @nmansard  What do you think?

[2018-07-10 09:37] jcarpent commented on #437
@Bilalhmd A while ago, you asked for computing derivatives in Pinocchio.
This message just to inform you that they are now available on the devel branch of Pinocchio.
There is a RSS paper which explains the computations: https://hal.laas.fr/hal-01790971

Best,

Justin

[2018-07-10 09:51] nim65s commented on #487
Well, for the records, pinocchio-tutorials has been moved to https://github.com/stack-of-tasks/pinocchio/tree/devel/doc/d-labs because I had not seen this lab folder… Thanks for removing it :)

[2018-07-11 08:31] #432 closed

[2018-08-28 09:31] jcarpent opened #505 "Improve packaging of Pinocchio"
It appears that the python_parser unit test might fail if another version of Pinocchio is already install on the system.
A way to circumnavigate it would be packaging the Python lib inside the build directory and to update the PYTHONPATH to point first to this Python lib.

[2018-09-07 07:23] nmansard opened #507 "Documentation, version 2"
I start this thread of discussion before implementing a new version of the documentation. I pushed in a new branch topic/doc-v2 (commit #29bcf0d) an outline that I suggest for the documentation. Please feedback on this proposition.

[2018-09-07 14:15] nim65s commented on #507
I suggest that we add the section `Labs`, just after `Tutorials`, as we already have them, and keeping them up to date should be easy as you use those to teach classes.

[2018-09-10 09:55] gabrielebndn commented on #507
I created a pull request with updates to the outline, as discussed with Nicolas.
I repeat the comment to the pull request here:

I think the doc should be modeled on Eigen's "long tutorial": a series of pages, each covering a topic from the user point of view, with worked examples in the form of short snippets intertwined with the code.
Then the proper tutorials will contain larger in-depth exampl

[2018-09-10 10:29] jcarpent commented on #507
Please now refer to https://github.com/stack-of-tasks/pinocchio/projects/1 for discussing and adding items topic on the re-factorization of the documentation.

[2018-09-10 10:29] #507 closed

[2018-09-10 11:33] nim65s opened #511 "Const correctness in boost::fusion::vector for ArgsType & Boost versions"
Hi,

If we consider this simple exemple:
[code]

It compiles on Boost 1.64, 1.65, doesn't n 1.66 & 1.67, and compiles again in 1.68, as you can see here: https://godbolt.org/z/aHrEBe

When it doesn't, the issue is with the `const` keyword:
[code]

I will dig a bit, but I think this is an issue in Boost, so I suggest to simply avoid those versions.

[2018-09-10 12:30] jcarpent commented on #511
And with const ref?

[2018-09-10 12:31] jcarpent commented on #511
By the way, can you shown the error provided by gcc?

[2018-09-10 12:43] nim65s commented on #511
With `typedef boost::fusion::vector<const unsigned long, int> ArgsType;`, it works in all my tests, from 1.64 to 1.68.

Without it, here is the gcc 8.2 error:
[code]

And with clang 6.0:
[code]

So should we use const ref everywhere ? :)

[2018-09-10 12:48] jcarpent commented on #511
Certainly, but it is weird, because this error is not appearing on OS X with boost form 1.63 up to 1.67.
I have other modifications that are not compatible with such fix. I would prefer to wait the next release of Pinocchio 2.0.0 with full templatization to fix it.

[2018-09-10 13:30] nmansard opened #512 "[Doc] Should we wait v2.0 to start ?"
From @jcarpent Pinocchio 1.3.0 is already published. The next important release is 2.0.0 with codegeneration and full templatization.

So, some parts of the code can be modified, but it would be important to not work on the algo part which has a lot of modifications.

[--this post is also a test for checking how much issues can be linked with project post--]

[2018-09-10 13:42] nmansard commented on #512
Looking at https://github.com/stack-of-tasks/pinocchio/blob/topic/doc-v2/doc/outline.txt

Mostly, everything that is example-based (intro, features, tutorial) and math-based could be written. The exhaustive description of the API cannot, but that just one section, more or less.

So I say we can write at least 50% of the doc now. Don't you think?

[2018-09-10 14:55] gabrielebndn opened #513 "[Doc] [Tutorials] [Unit tests]"
First of all: I think we all agree we want to follow the example of Eigen for the documentation. Now, in Eigen, the line between documentation and tutorial is blended. For instance, the basic functionalities of the Matrix class are exhaustively covered in a single page, which also includes some toy examples, and this is done for all other topics too. If we follow this model, then, for the proper t

[2018-09-10 14:57] gabrielebndn commented on #513
As for the unit tests, they were in the first sketch of the documentation outline, but I am not sure about what should be said about them, nor were to put them in the structure of the documentation.
Should we make a separate part for them, like it is done for the benchmarks?

[2018-09-10 15:31] nim65s commented on #513
the content of the pinocchio-tutorials repository has been updated and moved into pinocchio's doc, right there:
https://github.com/stack-of-tasks/pinocchio/tree/master/doc/d-labs

I just archived the repository.

[2018-09-10 15:34] nim65s commented on #513
and they were more "labs" than tutorials, so we still have to write the tutorials, and we can put them there:
https://github.com/stack-of-tasks/pinocchio/tree/master/doc/c-tutorials

writing c++ and python version in separate subfolders, which could be used as tests and included in the doxygen seems to be a good idea.

[2018-09-10 15:37] jcarpent commented on #513
Just to mention that all the codes tutorials and documentation should be independent from gepetto-gui.

[2018-09-10 15:37] jcarpent commented on #513
@nim65s Why `c-tutorials` and `d-labs` naming?

[2018-09-10 15:40] gabrielebndn commented on #513
Well then, I just recommend that the old pinocchio-tutorials repository be kept visible until we get the first revision of the SII paper, as we explicitly mention it in the submitted version

[2018-09-10 15:41] gabrielebndn commented on #513
Yes, it's also not clear to me the distinction between "labs" and "tutorials"

[2018-09-10 15:46] nim65s commented on #513
I prefixed those folder with a letter, becaus doxygen includes them in an alphabetical order

The pinocchio-tutorials repo is still visible. For github, "Archived" means "read-only".

"labs" are part of a course @nmansard gives to master students. They are extensive, cover the science part, and are mainly composed of questions a studend has to work on.
" tutorials" are a more classical collection

[2018-09-10 16:02] nim65s commented on #511
the patch is here:
https://github.com/nim65s/robotpkg/blob/master/math/pinocchio/patches/patch-ab

[2018-09-10 17:29] gabrielebndn commented on #513
I know, I meant let's keep it this way

I see. So, as I said above, in my view the documentation should contain by itself some small, quick examples, the way Eigen does. My understanding was that the tutorials would be more extensive. That's why I said we should not repeat in the tutorials what has been shown in the "features" part. So, we should be careful not to solve the labs in the tutorials,

[2018-09-10 18:29] nmansard commented on #513
I agree with @nim65s vision: tutorials are simple piece of code with just a bit of documentation to explain it, and no math background. We may want to keep the "labs", i.e. long piece of exercices, but they should be less visible than the tutos. I would add that tutos should correspond to "killer-apps" if possible, i.e. with features that everybody wants to implement when they are using pinocchio.

[2018-09-10 20:46] jcarpent commented on #513
I guess the confusion comes from the naming.

I think the name examples or use case are the right terms, as it is already present in the examples directory of pinocchio.

And labs should be renamed practices/exercises or any equivalent term.

[2018-09-11 07:57] #513 closed

[2018-09-11 07:58] nmansard commented on #512
@jcarpent Can we agree on this? Would you like to spend the 10 minutes needed to label the subsections you believe cannot be documented before 2.0?

[2018-09-11 08:12] jcarpent commented on #512
What it can be done for sure without affecting the next release is:
- documenting spatial classes
- make simple examples as outer files of the documentation
- the joint base class

That must be not modified:
- algo
- model/data files
- all derived joints
- liegroups
Indeed, all of them are affected by the full templatization.

[2018-09-11 08:14] nmansard commented on #512
Let it be said.

[2018-09-11 08:14] #512 closed

[2018-09-11 08:22] nmansard opened #514 "[Doc] Implementation of the structure"
Once the outline has been validated, the structure of the doc can be implemented with empty sections so that files exists that we can just allocated and fill.
I think the outline is now validated enough so that we can start implementing the structure.

[2018-09-11 08:39] gabrielebndn commented on #514
Minor point we didn't comment on in the previous thread: what about the unit tests? Do they need any documentation? I don't think so, they seem self-explanatory. If we do document them, there is a "unit tests" entry as the final element of "features". Does it really belong there? Shouldn't it be in a separate part? Or maybe grouped with the benchmarks?

[2018-09-11 08:51] jcarpent commented on #514
I do not think that unit test should be documented. They are completely outside the scope of the documentation.

[2018-09-11 09:01] nmansard commented on #514
I would say they are part of the features of Pinocchio. A minimal entry (to say unit test exists, and are automatically run at merge time) would not be bad.

[2018-09-12 13:33] proyan opened #517 "Why is liegroup inside multibody?"
Hi all,

Is there a specific reason why liegroup was chosen to be put inside multibody?

[2018-09-12 14:03] jcarpent commented on #517
It is because it is closed to joints.
But normally, the basic Lie groups (SE(3),SO(3), etc) should be inside the spatial namespace.
And LieGroupMap should be related to Configuration and Vectorial Spaces.

[2018-09-12 17:01] jcarpent commented on #517
I close the issue. If you need additional information feel free to open it again.

[2018-09-12 17:01] #517 closed

[2018-09-14 12:54] gabrielebndn opened #518 "[algorithm] getJacobianComFromCrba"
I took a look to getJacobianComFromCrba.
It immediately looked clear to me that this algorithm relies on the fact that the model has a floating base (exactly one floating base to be precise).
I think the same is true for getComFromCrba.
Therefore, in particular, these algorithms would fail for fixed-base manipulators. Especially the Jacobian would probably crash if the robot has less than three de

[2018-09-14 13:02] jcarpent commented on #518
With the current CRBA version, it is true, but there is another one crbaMinimal that does not assume free floating systems.
But, getComJacobianFromCrba will be changed as soon as the official CRBA will become crbaMinimal.

[2018-09-14 13:08] gabrielebndn commented on #518
Ah, I think I see what you plan to do. Thanks!

[2018-09-14 13:18] jcarpent commented on #518
OK. I'm going to close the issue. Feel free to open it again.

[2018-09-14 13:18] #518 closed

[2018-09-19 12:31] gabrielebndn commented on #514
Saw the implementation of the structure. Seems good.
Just one thing: I see there is one "Examples" section, where each example consists of one page with a "Python" section and a "C++" section.
Is this the way we want to implement it? I think "Python Examples" and "C++ examples" could be two separate sections, or maybe two different subsections of "Examples".

[2018-09-19 12:34] jcarpent commented on #514
Or maybe, for each example, we can have its Python and C++ versions, with a sort of unrolling box when clicking!

[2018-09-19 12:39] nmansard commented on #514
At least for some examples, I would suggest to have the two codes side
by side. I don't know how easy it would be to implement that, and
whether we should have it for all examples.

BTW: I am not able to make doc on the last branch. I am investigating why.

On 09/19/2018 02:34 PM, Justin Carpentier wrote:

[2018-09-19 15:53] nim65s commented on #514
About the "examples" section, every file lies in https://github.com/stack-of-tasks/pinocchio/blob/topic/doc-v2/examples/ ; like https://github.com/stack-of-tasks/pinocchio/blob/topic/doc-v2/examples/a-model.cpp or https://github.com/stack-of-tasks/pinocchio/blob/topic/doc-v2/examples/a-model.py for the first ones.

We have to fill those files, they are included in the doxygen part, and we will als

[2018-09-19 15:58] nim65s commented on #514
I mean it doesn't matter how we will present those code samples, we can decide that later, whether they are show side-by-side, or in two separate sections, or in a fancy javascript/css way that allows a user to see only what he wants to see

[2018-09-20 04:01] jviereck opened #523 "Calling se3.aba returns "random"/unstable values"
Hi folks,

I designed a 8 DOF quadruped URDF model and try to use pinocchio for it's simulation (the URDF model is [here](https://gist.github.com/jviereck/38aac55d69c7e14ee86cde191ceed8b0)). When I call `se3.aba(...)` after loading the URDF and creating the model/data, the returned acceloration is not stable and sometimes is `nan`:

[code]

[code]

My best guess is some data was not prepared/compu

[2018-09-20 07:37] gabrielebndn commented on #523
I am sorry, I reopened the issue because I do not get your same behaviour on code containing a similar error.
I do not see any other problems in your code. May you try to follow my advice above and tell me what you obtain?

[2018-09-20 08:05] gabrielebndn commented on #523
Ok, I am now using the urdf you attached, and I get your same behaviour. I close the issue again. Hope my suggestion solves your problem.

[2018-09-20 08:05] #523 closed

[2018-09-20 08:06] jcarpent commented on #523
This lines will solve the problem:
[code]

[2018-09-20 08:07] jcarpent commented on #523
I also added some additional lines to allow you to exploit Pinocchio in depth (the clear documentation of the project is ongoing).

[2018-09-20 08:15] gabrielebndn commented on #523
So, @jviereck, as you can see @jcarpent  is using `model.nq` and `model.nv`. In general, this is the recommended way to use Pinocchio, rather than hard-coding 15 and 14.
Then he is showing you how to create a random configuration, but you do not need it.

Notice the line
`q[:7] = np.matrix(se3.utils.se3ToXYZQUAT(se3.SE3.Identity())).T`
In @jcarpent 's code, it is useless, since it is overwritten l

[2018-09-20 13:42] jviereck commented on #523
hi folks,

Spot on - this was the issue and after changing it to `tau = zero(model.nv)`, the problem disappeared.

Thanks a lot for the quick replies & help!

[2018-09-21 07:53] jcarpent opened #525 "Coverage is buggy"
It seems that the coverage of Pinocchio is not well updated at each master branch pushes.
@nim65s Can you fix this issue?

[2018-09-21 12:11] nim65s commented on #525
Are you talking about coveralls.io integration, or gitlab-ci ?

[2018-09-21 12:40] jcarpent commented on #525
coveralls.io. But of course, we can synchronize gitlab with it, if you prefer.

[2018-09-21 12:42] nim65s commented on #525
Ok, I'll look at it

[2018-09-27 13:49] cmastalli opened #528 "Downloading Pinocchio from release zone does not provide submodule"
Hi guys,

I noticed a little bug in the compilation of Pinocchio using release compress files. These compress files do not provide the information of the submodule. It's not a bit deal to put it manually however it creates confusion in the installation.

Best,
Carlos

[2018-09-27 14:36] nim65s commented on #528
Hi @cmastalli

I don't understand your issue.
The content of the folders in the submodules seems to be inside the .tar.gz file.

Could you detail a bit more what do you need ?

[2018-09-27 14:42] cmastalli commented on #528
I didn't see them inside the zip files. I didn't try the other formats.

[2018-09-27 14:49] nim65s commented on #528
Now I understand :)

The last two archives, "Source code", in zip and tar.gz versions, are generated by Github for each tag, but doesn't work.
This is why we release and upload the files like "pinocchio-1.3.1.tar.gz", which contains the content of the submodules, plus a few aditionnal stuff to make it an actual release, like a `.version` file.

Please use this one :)

[2018-09-27 14:49] #528 closed

[2018-09-27 14:54] cmastalli commented on #528
Thanks for clarifying this. Is there a way to disable the generation of this file for GitHub?

[2018-09-27 14:56] jcarpent commented on #528
No, there is no way to remove this automatic generation. Unfortunately.

[2018-10-01 12:01] nmansard commented on #514
We have the structure ready. I close this issue.

[2018-10-01 12:01] #514 closed

[2018-10-02 12:45] gabrielebndn opened #529 "[bindings] Function naming inconsistencies between Python and C++"
The following methods have a Python name which is different from the C++ name:
- impulseDynamics (impactDynamics in C++)
- nle (nonLinearEffects in C++)

[2018-10-02 13:51] jcarpent commented on #529
I do not which one is the most correct between `{impulse,impact}Dynamics`.
`nle` is just a shortcut for `nonLinearEffects`, so I think it can be kept and `nonLinearEffects` can be added.

[2018-10-02 13:55] cmastalli commented on #529
I vote for impulse

[2018-10-02 13:59] gabrielebndn commented on #529
Agreed for `nle`

[2018-10-02 14:03] gabrielebndn commented on #529
As for `{impulse,impact}Dynamics`, I had switched the two, it was actually `impact` in python and `impulse` in C++. I corrected now.

I also prefer `impulseDynamics`. Also, this way the C++ interface stays the same. Python's `impactDynamics` would become deprecated then

[2018-10-03 07:06] jmirabel commented on #312
I think all issues have been addressed. Please, re-open is not.

[2018-10-03 07:07] #312 closed

[2018-10-03 07:28] jcarpent commented on #321
This issue has been solved by new release 1.3.0

[2018-10-03 07:28] #321 closed

[2018-10-03 07:30] jcarpent commented on #215
I'm going to address this issue in the very next weeks.
The idea is to replace `namespace se3`by `namespace pinocchio` and to add a shortcut to `pinocchio`namespace with `se3` nickname.

[2018-10-03 12:49] jcarpent commented on #525
Solved by #530!

[2018-10-03 12:49] #525 closed

[2018-10-03 13:17] proyan commented on #529
For 'nle' and 'nonlineareffects', we have another nomenclature in robotwrapper, called 'bias'.
I would propose uniformizing this as well.

[2018-10-03 13:19] jcarpent commented on #529
I think `bias`should be made deprecated.

[2018-10-03 13:29] gabrielebndn commented on #529
I agree. What about `mass`?

[2018-10-03 18:01] gabrielebndn opened #533 "[python] python test folder is broken"
The whole python folder is a mess. Most tests seem to be broken.
- One test did not even parse properly because of a typo. I discovered it while working on pull request #531, the correction is there, but that's the only thing I corrected
- Still, once the typo is corrected, tests.py does not even run to completion because some tests load the romeo model and the path is wrong, raising an uncaught e

[2018-10-03 18:16] nim65s commented on #533
Clément Bonnefont already worked on that, but I can't find it again.
Making this work has been in my todolist for a long time, but I'm surprised that there is not already an issue about that.

[2018-10-04 08:38] jcarpent opened #534 "Improving coverage"
The coverage of the project seems pretty good (91 %).
I think we can still improve by modifying the way the coverage is done.

I suggest to remove from coverage:
- the files related to the exposition of Pinocchio in Python (bindings/python/ folder)

I will then go back to the coverage status to look which part of the code is not covered by the unit tests.

@nim65s Can you remove the folder `bindin

[2018-10-04 08:40] jcarpent commented on #533
This is also due to the fact that Python is not more tested during the unit tests procedure.
It should be reactivated for producing much more stable releases.

[2018-10-04 08:51] nim65s commented on #534
I can do that for now, but I think we should add those back when we will have the CI launch the python tests.

This way, we could also get the coverage of the .py files.

[2018-10-04 09:33] jcarpent commented on #534
Yes, it seems indeed a good solution.

[2018-10-05 07:31] jcarpent commented on #534
http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/coverage/ does not seem to reflect your modifications.

[2018-10-05 07:35] nim65s commented on #534
Because those modifications are not in the `master` branch of the `stack-of-tasks` repository of gitlab.
You can see the list of available organisation / project / branches here:
http://projects.laas.fr/gepetto/doc/

So, for now, they are available on
http://projects.laas.fr/gepetto/doc/gsaurel/pinocchio/devel/coverage/
And, because you merged those changes on github, and I mirrored that to gitlab

[2018-10-05 07:46] jcarpent commented on #534
Thanks for this reply.
It appears then some files related to Python bindings remain active.
See for instance include/pinocchio/bindings/python/multibody/joint/joints-variant.hpp in http://projects.laas.fr/gepetto/doc/gsaurel/pinocchio/devel/coverage/.

Can you update your PR to reflect this observation?

[2018-10-05 07:50] nim65s commented on #534
that's true, gcovr's man page was misleading… I'm on it :)

[2018-10-05 12:20] nmansard opened #540 "[doc] Create the overview section"
The outline of the overview is
- ABSTRACT (taken from SII paper)
- Installation link
- Simplest example with compilation command (load urdf and run rnea)
- More complete example with C++ and Python (load model and run a loop for an IK with 3D task)
- About Python wrapings (philosphy and example)
- How to cite Pinocchio
- Presentation of the content of the documentation.

I think all this subsectio

[2018-10-05 13:42] jcarpent commented on #534
Thank you very much for this fix.

[2018-10-05 13:42] #534 closed

[2018-10-09 15:25] jcarpent opened #542 "dIntegrate_dq and dIntegrate_dv"
The two functions `dIntegrate_dq` and `dIntegrate_dv` correspond to the partial derivatives of the LOG of integrate operation with respect to the configuration and the tangent vector.

I will also implement a similar object but with respect to the coordinates of the configuration vectors resulting from the integration process. In other words, if we denote `y = x ⊕ dx` with x the configuration vect

[2018-10-09 15:45] jmirabel commented on #542
I do not understand why you talk about the logarithm. `y = x ⊕ dx` does an exponential and `dIntegrate_dv` and `dIntegrate_dq` represent its derivative.

It could be interesting to add (or rename, I do not remember if I worked on it...) `dDifference_dq1` and `dDifference_dq2`, the derivatives of the log operation: `v = q1 - q2`. The names are open for discussion.

[2018-10-09 15:54] jcarpent commented on #542
For instance,  in your implementation of `Jexp6` works from the tangent to the tangent.
What I mean is that I would like to have something like:
`M_next = M ⊕ dm` with `M_next`and `M` being two SE(3) elements and dm belongs to se(3).
and I would like to have an operator dM_next/dm when `dm` goes to zero.

You can go to the unit test to see https://github.com/stack-of-tasks/pinocchio/blob/054d4bdd2

[2018-10-09 18:32] jmirabel commented on #542
and I would like to have an operator dM_next/dm when dm goes to zero.

Let `M_next = f(M, v)`. Is this not `df/dv (M,0)` ?

This matrix maps velocities (relative to 0) in se(3) expressed in 1 with the velocity expressed in 0, with `M = ^0M_1`. If it does not, them it is a mistake.

[2018-10-09 22:09] jviereck commented on #511
Hi folks, I came across this issue. For me it showed up when I started to use the pinocchio headers for another (macOS) project, that used C++11 features. I provided my fixes here:

  https://github.com/jviereck/pinocchio/commit/250aada7d808bc2c4a612e23793bc735a4760c96

[2018-10-10 06:38] jmirabel commented on #542
I precise that it *should* also be the case for `dIntegrate_dq` and `dIntegrate_dv`. If it isn't, then it is a mistake.

[2018-10-10 08:58] jcarpent commented on #542
From my side, when you write `M_next = f(M,v)`, `df/dv` provides the variation of `M_next` With respect to the variation of v around 0.

What you mention concerns the change of reference frame to express a quantity.
Do you agree ?

In this case, the naming you chose is confusing. I would suggest to modify the naming to reflect it.

[2018-10-10 09:01] jcarpent commented on #511
This problem is coming from boost itself.
Boost has two different C++ signatures if you are compliant with C++98 or C++11 .
The welcome solution is to not provide a library with Pinocchio. This will be a part of the very next release.

[2018-10-10 10:02] traversaro commented on #511
@jcarpent You are probably aware of this, but a relevant discussion on the boost side is in https://groups.google.com/forum/#!topic/boost-developers-archive/EWG5NVOZo_g (found via https://github.com/Microsoft/vcpkg/issues/4004#issuecomment-414188408).

[2018-10-10 12:13] jcarpent commented on #511
@traversaro Thank you a lot for pointing out these interesting discussions.

[2018-10-10 13:11] jmirabel commented on #542
`df/dv` is itself a function a M and v so `df/dv(M,v)` gives the variation of M_next around M and v.

[2018-10-10 13:17] jcarpent commented on #542
But, in your case, your provide the variation in the tangent of M_next, which is not directly the variation of the components of M_next.
While integrate goes from the tangent of SE(3) to SE(3) itself.
Then, it is mostly a naming and documentation issue.

[2018-10-10 13:47] jmirabel commented on #542
I think putting the word *log* is a bad idea. It is very misleading.

After discussing with @florent-lamiraux : we expect the derivative to represent:

![image](https://user-images.githubusercontent.com/2388209/46740697-c6b0a100-cca3-11e8-897a-414d368ae3d2.png)

[2018-10-16 07:36] nmansard commented on #540
I did a first version of the overview. Please review and validate.

[2018-10-16 07:38] jcarpent commented on #540
I will have a look before the end of the week.

[2018-10-16 07:39] #542 closed

[2018-10-16 10:20] nmansard opened #544 "[doc] Create the main section (and give it a name)"
Yet the section is named "features" in the outline. The content is forecast as follows:
- Spatial Algebra module
- Model and data
- Joints [pending v2.0]
- Loading the model  # how to load from an external file
- Dealing with Lie group geometry
- Kinematic algorithms [pending v2.0]
- Dynamic algorithms [pending v2.0]
- Operational frames
- Geometric models   # with related algos
- Analytical deriv

[2018-10-16 12:58] gabrielebndn opened #545 "[jointJacobian] different behavior between C++ and python"
Python method `jointJacobian` DOES NOT call its corresponding C++ function. Instead, it internally calls `computeJointJacobians` followed by `getJointJacobian`. This causes three differences in the behavior:
- first, the unimportant, obvious ones: at the end of the python method, the overall Jacobian is computed, while at the end of the C++ method it is not. Also, the python method defeats the pur

[2018-10-16 13:21] nmansard opened #546 "Add ur5 model (and replace Romeo)"
For the examples of the documentation, it is kind of necessary to have easy access to some urdf models. We already have Romeo, which is good. It would be nice to have a manipulator model. I suggest to include UR5, but any alternative is welcome. The doc yet proposes to use this repo:
https://github.com/humanoid-path-planner/universal_robot
However, this repo does not have a plain urdf model but ra

[2018-10-16 13:38] nim65s commented on #546
I agree, and if no one disagree, I will do this.

[2018-10-16 13:38] jcarpent commented on #546
We must keep romeo for the unit tests at least.

[2018-10-16 13:44] jcarpent commented on #546
https://github.com/humanoid-path-planner/ur_description is correct

[2018-10-16 15:03] gabrielebndn commented on #545
Update: actually, python's `jointJacobian` behavior is still different than that: it takes a boolean `update_kinematics` parameter (for which no default value is provided) and if this is true, then `computeJointJacobians`, otherwise not, and  and then `getJointJacobian` is called. This is explicitly documented in the python docstring which says (true = update the value of the total jacobian).

So,

[2018-10-16 15:05] jcarpent commented on #545
I don't have time to investigate further, but the main idea is that Python follows C++, not the reverse.

[2018-10-16 15:05] jcarpent commented on #545
But, I would suggest to let open this issue and to solve it after the release.

[2018-10-16 15:14] nmansard commented on #545
The main 2 functions should be computeJointJacobians (compute data.J from root to leaves) and getJointJacobian (get some columns of data.J). These 2 should be bind in Python.

The secondary function should be jointJacobian --possibly with another name-- that compute a single jacobian from leaf to root. It is more user friendly. Two solutions might be proposed to implement it: either compute the ja

[2018-10-16 15:16] olivier-stasse commented on #546
The ros way is to do:
rosrun xacro xacro --inorder -o model.urdf model.urdf.xacro
This generates the urdf file.

[2018-10-16 16:01] nmansard commented on #546
Ok: let's do: keep romeo ; add the UR5 repo proposed by Justin and containing the .urdf file.
I also suggest to add Talos repo and implement future humanoid tests with Talos and not Romeo.

[2018-10-16 16:28] gabrielebndn commented on #545
I would not say asking the user to allocate memory is not following the style of Pinocchio: that's exactly what getJointJacobian does.
Writing the result in data.J (which corresponds to the behavior of a deprecated method) is particularly bad, since `data.J` would represent different things depending on what methods are called. I'm not only talking about the overall Jacobian vs specific Jacobians,

[2018-10-17 09:57] nmansard opened #547 "Pinocchio 2.0"
@jcarpent is preparing a major change of API. Here are some suggestions to prepare the release.
- initial candidate release should be proposed as 1.99.x
- propose a guideline to convert developments based on 1.3 to 2.0
- don't move master to a 2.0 version until the main dependencies of Pinocchio have given their agreement.
- during the transition phase, pinocchio/devel will be in 2.0, while pinocc

[2018-10-17 11:28] nmansard opened #548 "Geometry objects in python (and connection with Gepetto-viewer)"
I am currently working with models that have no meshes but only simple geometries (capsule). As far as I know, simple geometries are not bind to python (yet). Could anybody tell me what is the current status of this development, and if anybody as some on-going development that I could finalize and merge?

Once I have simple geometries in Python, I guess it would be nice to have them displayed in G

[2018-10-17 11:31] cmastalli commented on #546
We might want to create a robot data repository. This doesn't intend to replace real robot models, it just for algorithm benchmarking (not only for Pinocchio).

[2018-10-17 13:13] jcarpent commented on #548
We already discussed this point a while ago.
We should handle the simple geometries through the FCL bindings.
I have already binded some of them, but it would be great to directly deal with the official Python bindings of FCL for compatibility reasons.

For the viewer part, it should be easy to do that.
But the main question is: do you we want to rely on gepetto-gui? My guess is no. And we should

[2018-10-17 13:15] jcarpent commented on #547
From my side, I will merge the current devel branch into 2.0.0 to have an aligned history.
It would be nice to not modify the current devel branch in order to not add more stuff in my todo list.
The PR can remain open and would be merged in the new version by their authors.

[2018-10-17 13:17] jcarpent commented on #545
The point is that algo in Pinocchio should not return their results but should take as input their returns.
For instance, `jointJacobian`or `computeJointJacobian`should take at the last argument `const Eigen::MatrixBase<Matrix6Like> & Jout`.

[2018-10-17 13:38] nim65s commented on #547
I can take care of the robotpkg part

[2018-10-17 14:51] nmansard commented on #548
Do you have the pointers for the bindings of FCL and the work you started to do on bindings the geoms?

Let's keep the discussion about GepettoViewer out of this. Once I have the geoms in Python, forwarding them to GepettoViewer or any other viewer would be simple work.

[2018-10-17 14:53] nmansard commented on #547
When merging devel, please follow the guidelines I described upper (or discuss it beforehand).

[2018-10-17 14:55] nmansard commented on #545
This makes the following approximate code:
MatrixXd J;
jointJacobian(model,data,q,J);
Sorry, but I prefer:
J = jointJacobian(model,data,q);
especially in Python. Let's say my taste is not relevant.

[2018-10-17 15:02] nim65s commented on #545
I also prefer the second version.

In python, it is highly unconventional to update one of the input of a function, return nothing, and expect the user to understand what happened.

[2018-10-17 15:51] olivier-stasse opened #549 "Switch to BSD v2.0"
Dear all,
We will soon switch to BSD License v2.0 to ease our collaborations.
Let me know if there is a problem with this.
Cheers,
Olivier.

[2018-10-17 16:07] jcarpent commented on #545
But to be efficient, the first approach is expected.
New algorithms in Pinocchio have been developed following this paradigm.

For Python, you may have a different API for the return type, no matter the solution in C++.

[2018-10-17 16:07] jcarpent commented on #549
This has to be discussed with all the partners of the project: Wandercraft, INRIA, ... and also the Authors.
From my side, this change of license has to be discussed and justified further.

[2018-10-17 16:11] jcarpent commented on #547
Yes, this is pretty standard. No worry!

[2018-10-17 16:15] gabrielebndn commented on #545
I agree with @jcarpent. In C++ the users gives the memory, but in python the matrix is returned. It is just a different way of returning the matrix.

As a compromise, we might have the C++ method zero out the provided matrix and return a reference to the same matrix which was passed as input. This way we could write
[code]
which is more compact than
[code]

[2018-10-17 16:19] jcarpent commented on #547
By the way, I will release a new version of Pinocchio before proposing 2.0.0-beta.
This will add the last fixes already present in the current devel branch.

[2018-10-17 16:31] jcarpent commented on #548
It is in a local repository. I will try to extract it from there asap.

[2018-10-17 21:33] jcarpent commented on #533
Solved by #550

[2018-10-17 21:33] #533 closed

[2018-10-17 23:58] gabrielebndn opened #551 "[Versioning] Pinocchio still says current release is 1.2.9"
Macros
[code]
were not updated correctly since we switched to 1.3.0.
We are at 1.3.1 now, but Pinocchio still returns 1.2.9. `checkVersionAtLeast(1,3,0)` fails.

How should we handle this?
Is there a way to back-fix this problem in the previous two releases?
Should we correct to 1.3.1 immediately?
Should we leave it as it is and only correct in the next release, the one just before 2.0?

[2018-10-18 05:57] jcarpent commented on #551
I have a fixe for this which is for the next release. This was due to the cmake module which was not able to handle it.
Unfortunately, there is no fix for the previous releases. I will just to make a patch for the current devel branch asap.

[2018-10-18 06:15] jcarpent commented on #546
This indeed a good idea to collect all the models in a single repository. I already found such a repository on github, but I'm not able to remind where exactly.

[2018-10-18 07:30] jcarpent commented on #546
Before creating something from scratch, can you check if a similar repository does not already exist?

[2018-10-18 07:48] cmastalli commented on #548
Guys this is another solution that I found, it works on Linux, Mac OSX and Windows:
https://github.com/OTL/urdf-viz

[2018-10-18 07:55] cmastalli commented on #546
I didn't find a such kind of repository (15 min searching on github). The only database, that I know, are inside bullet3 and dartsim. They're not sub-modules and not necessarily interesting robots for us.

[2018-10-18 07:58] nim65s commented on #546
I have made https://github.com/stack-of-tasks/pinocchio-benchmarks/tree/master/models, but only with urdf. I think we also need the meshes

[2018-10-18 08:02] nim65s commented on #548
This depends on the https://github.com/sebcrozet/kiss3d 3d engine and the https://github.com/OTL/k kinematics library. I think we don't want to depend on a kinematics library. But thanks for the link, I will add it in pinocchio-benchmarks

[2018-10-18 08:06] jcarpent commented on #546
Indeed, we need meshed too, and srdf!

[2018-10-18 08:32] nim65s commented on #546
I will extract this folder from pinocchio-benchmarks to create a new repo. I was also thinking about something like robots/robot_db.

[2018-10-18 08:38] jcarpent commented on #546
I think you can keep the robot_description organization with urdf, meshes and srdf folders.

[2018-10-18 09:11] gabrielebndn commented on #551
Ok, I also think we should wait for a new release to correct the problem, it does not make sense to change those values between two different releases, it would only make the problem worse.

So, I did not understand, for correcting the release number we wait, but should I fix the binding for `printVersion()`? In python, `se3.printVersion('.')` works, but `printVersion()` does not: it was returning

[2018-10-18 10:04] jcarpent commented on #549
@olivier-stasse The first package that should be modified for the license is the jrl-cmake-modules, which is LGPL.
Please consider this package as your first priority.

[2018-10-18 12:14] gabrielebndn commented on #551
Looks cool. Thanks

[2018-10-18 12:45] nmansard commented on #549
I will contact WAN to check. I don't think it is a problem.
Sorry, but INRIA is not yet a partner of this project. We can revert any commit by INRIA if you believe that some of your recent commit is more than just release your previous work done when under CNRS contract.

[2018-10-18 12:49] nmansard commented on #545
How many other algorithms in Pinocchio have the same behavior? I guess all other derivative algorithms?
As Jacobian is a very standard algo, to be used by newcommers, what about adding another matrix field in data to avoid the preallocation of J by the user in the "more compact" form proposed by @gabrielebndn ?

[2018-10-18 12:50] nmansard commented on #547
It was propose to release in 1.99.0 for the candidate.

[2018-10-18 13:35] gabrielebndn commented on #545
@nmansard I advise against it. At first I thought it could be a solution, but then I realise it has its own problems, because the same matrix would potentially represent different joint Jacobians and this in not good either. Again, consider the problems potential users could incur to if they did:
[code]
The only *clean* way to do so would be to add a whole new vector field containing one Jacobian

[2018-10-18 13:38] jcarpent commented on #549
The code I'm writing now (with new features) and I'm pushing now is INRIA.

[2018-10-18 13:43] jcarpent commented on #545
I agree with @gabrielebndn, the whole idea of Jacobian is initially to not allocate memory for each joint.
We cannot revert it because it is the correct things should go.
Adding new data.Jjoint would be inefficient in terms of memory footprints for instance when we need to have all the data in the L1 cache for instance.

The correct way to handle the sparsity through MotionSet. it is also what I s

[2018-10-18 13:44] gabrielebndn commented on #545
The same behavior of jointJacobian is followed by all other derivative algorithms, plus a couple of recent convenience methods called getFrameVelocity and getFrameAcceleration (but I think we could easily switch to a more user-friendly behaviour for those two, I will investigate this further).

[2018-10-18 13:46] jcarpent commented on #549
Just to be clear, release 2.0.0 has been made (also) during my stay at INRIA, under the LGPL license. I won't revert any commit from it as I'm about to release my code.

[2018-10-18 13:54] jcarpent commented on #547
1.99.0 or 2.0.0-alpha makes no difference in terms of semantics, but it does for the checking of the version.
When using the macro PINOCCHIO_AT_LEAST_VERSION(2,0,0), which what we have to use to ensure at compile time the current version of Pinocchio, is the correct of ensuring that we are the correct version, not PINOCCHIO_AT_LEAST_VERSION(1,99,0).
By the way, this is also how Eigen works.

So I

[2018-10-18 14:04] jcarpent commented on #545
An easy solution is to rely on computeJointJacobians and getJointJacobian.

[2018-10-18 14:40] aelkhour commented on #549
@nmansard @olivier-stasse Wandercraft agrees with switching to the standard three-clause BSD license (BSD License v2.0).

[2018-10-18 14:50] gabrielebndn commented on #545
@jcarpent that would not address Nicolas' comments, since getJointJacobian *also* asks the user to allocate for J. Indeed, I think that whatever we choose for jointJacobian w.r.t. the return policy, we should make the same in getJointJacobian, frameJacobian, and getFrameJacobian.
If you were referring to PR#540, then I agree, I think this discussion is blocking the progress, and to avoid any incon

[2018-10-18 14:53] jcarpent commented on #549
@aelkhour Thanks for your answer.

[2018-10-18 14:55] jcarpent commented on #545
No, when you ask the user, you only require that the user allocates just needed memory for his stuff, not for all the joints.

[2018-10-18 14:56] jcarpent commented on #549
@aelkhour The same applies for eigenpy. Does Wandercraft agree?

[2018-10-18 15:04] aelkhour commented on #549
Yes Wandercraft also agree to switch eigenpy to the standard three-clause BSD license (BSD License v2.0).

I'm not sure it's the case for eigenpy, but Wandercraft has authored a number of commits in pinocchio. @olivier-stasse Could you ensure that Wandercraft still appears as author after making the license switch ?

[2018-10-18 15:08] gabrielebndn commented on #545
@jcarpent I am not following you. Right now, jointJacobian and getJointJacobian both ask the user to allocate a single J, where the result will be put. They are identical w.r.t. that aspect, as for now.

[2018-10-18 15:11] jcarpent commented on #545
If the user calls several times jointJacobian for the same joint, then you will have at each call memory allocation. While this is not true when first allocating, then calling getJointJacobian

[2018-10-18 15:21] gabrielebndn commented on #545
What? I do no think this is the case right now. The following two pieces of code should make the same number of memory allocations:
[code]
[code]

[2018-10-18 15:33] jcarpent commented on #545
Yes, but not the one suggested 'J = se3::jointJacobian(model,data,q,JOINT_ID)'

[2018-10-18 15:42] gabrielebndn commented on #545
Exactly. That's why I think we should not do that.

[2018-10-18 15:51] olivier-stasse commented on #549
@aelkhour. We will pay attention with respect to eigenpy.
@jcarpentier. LGPL is problematic for code which are embedded. This has
happen for a lot of projects where embedded application are being
developped.
The code is statically embedded in the application and thus become
contaminent.
I think this is not nice for our industrial partner.

The LGPL licence has further problem: most of our code is

[2018-10-18 15:56] olivier-stasse commented on #549
One important detail after discussion with our legal department:
* We do not need to put the license on each of the files as long as it is on the main repo

[2018-10-18 16:35] jcarpent commented on #549
@olivier-stasse Thanks a lot for these details that should be available for Pinocchio users to clearly understand the change of license. (I mean this is not obvious why the changing of license is so important).

[2018-10-19 10:02] nmansard opened #553 "Contributor list"
Currently, contributors are formally listed in the README.md as Carpentier, Valenza, Mansard et al. We are now thinking of transferring or duplicating this info in the documentation, hence the opportunity to update it. I do not think that the initial developments by @fvalenza make him in the top 3 dev of Pinocchio. We might either decide of the top 3, or find a way of more generally and versatilit

[2018-10-19 10:55] jcarpent commented on #553
A clear contribution list is available here:
https://github.com/stack-of-tasks/pinocchio/graphs/contributors
I think the idea of Eigen contributors is good: the name of the main (or original) developers + and others (similar to Pinocchio development team).
The idea of having the name of the main developers is really for academic, hiring reasons and for recognition in the community mostly.

[2018-10-19 11:11] jmirabel commented on #553
I don't think you can trust the graph provided by git/github to have a relevant contribution list. The list you are talking about includes correction of types, re-indention, dummy changes... I personally don't trust it.

I agree Eigen's method is better although it has to be manually maintained (so one has to think of doing this).

[2018-10-19 11:17] jcarpent commented on #553
Yes, I agree. The Github one will artificially increase the contributions. But, it has the advantage of listing the contributors in an automatic way, that was my point.

[2018-10-19 11:55] nmansard commented on #553
So @jcarpent you are suggesting we keep 3 names in the author list of the bib ref, and chose the 3 names as the automatic top 3 contributors. I dont care as long as we have a policy decided. But I think this policy is not very fair, only automatic.

[2018-10-19 12:08] jcarpent commented on #553
From my observation as the main maintainer of the project, the main contributors in Pinocchio I see are:
- Joseph for the Lie group support among others
- Nicolas for the implementation of the first features among others
- Justin for the core developments among others

Florian was originally a core member, but the project has also evolved a lot since then. So his name should appear at least in the

[2018-10-19 12:47] jcarpent opened #555 "[bindings] Expose C++ vectors as python lists"
This issue is a follow-up from a previous project note called: **Fix inconsistent naming: StdVec vs StdVect**

*Low priority. The templated classes of* std::vector *and of its subclass* se3::container::aligned_vector *are exposed in Python as, for instance,* StdVec_Inertia *or* StdVect_Force. *This naming scheme is inconsistent. The python classes should be either all* StdVec *or all* StdVect

@jc

[2018-10-19 12:49] jcarpent commented on #555
To just continue this discussion in a more formal way.
You can bind a std::vector to a list without any allocation. This how we must handle std::vector in Python, not the reverse.
Currently, we use the Boost.Python wrapper of std::vector. But this one is just a way to expose vector as a list (in terms of API).

For Model and Data this will behave the same. The std::vector will appear as a Python l

[2018-10-19 14:13] gabrielebndn commented on #553
I'm only writing Pinocchio development team for the time being. Feel free to change it later.

[2018-10-19 14:36] jcarpent commented on #553
You can take this one I guess is much more closer to the original one which is already used by the way: Carpentier, Mirabel, Mansard and the Pinocchio development team

[2018-10-19 14:42] jcarpent commented on #553
Just for information, this is the way that drake (https://drake.mit.edu/) from MIT is cited:
[code]

[2018-10-19 14:44] jcarpent commented on #553
And the title should be something like:
**Pinocchio: a fast and flexible implementation of Rigid Body Dynamics algorithms and their analytical derivatives**

[2018-10-19 15:37] gabrielebndn commented on #553
I tend to agree with @jcarpent about the author list, by think this should be done in agreement with everybody and I do not want to push any particular view.
As for the title proposed, I think it is way too long. I would keep it simple, like "Pinocchio: Rigid Body Dynamics Algorithms [and their Derivatives]", but whatever.
But I know one thing: whatever choice is made, it should be reflected as th

[2018-10-19 15:42] jcarpent commented on #553
Yes, the website is not really up to date and should be modernized after the documentation is done.
I think the mention to derivatives is important. We should keep it!

[2018-10-19 15:46] nmansard commented on #553
If you have to select three names, let's choose the three followings. Just keep in mind that we may have to revise that in the future, and that it might become an unpleasant discussion.

There are many features in Pinocchio, so I don't think we should focus the title on the derivatives, also it is true it is a good selling argument as it is quite a unique feature. But let's use it as one of the ma

[2018-10-19 15:58] jcarpent commented on #553
I don't think that we have to restrict Pinocchio to forward and inverse dynamics (this is very suited for the SoT for instance). Pinocchio goes beyond and it is very related to rigid body dynamics algorithms.

[2018-10-19 16:08] jmirabel commented on #553
I would go for
- *Pinocchio: Rigid Body Dynamics algorithms*,
- *Pinocchio: Rigid Body Dynamics for articulated systems* (my favorite because I do not think the word algorithm adds anything).

[2018-10-19 17:48] gabrielebndn commented on #553
In my view, "Rigid body dynamics algorithms" *includes* the derivatives, but it is true that the derivatives are a unique feature of Pinocchio and thus a good selling point. I like @jmirabel's last proposal

[2018-10-19 18:02] gabrielebndn commented on #553
Going for "Justin Carpentier and Joseph Mirabel and Nicolas Mansard and the Pinocchio Development Team", I'll let you guys modify the title

[2018-10-19 18:06] proyan commented on #553
Shouldn't there be "efficient" there somewhere? Or the fact that it is templated?
Eigen's one line introduction reads: "Eigen is a C++ template library for linear algebra"

[2018-10-20 13:05] jmirabel commented on #553
Since we talk about title and important features, we can first list the features we want to put forward. As far as I know, the features are (with no specific order):
- Pinocchio is fast:
  - C++ template library,
  - cache friendly,
  - automatic code generation.
- Pinocchio implements rigid body dynamics algorithms:
  - forward and inverse dynamics,
  - analytical derivatives of inverse and forwa

[2018-10-22 18:44] gabrielebndn commented on #540
Solved by #541

[2018-10-22 18:44] #540 closed

[2018-10-23 08:03] proyan commented on #553
@jcarpent @nmansard

While I agree that pinocchio has evolved a lot since @fvalenza's contributions, I see that his name has been removed even from the credits list. I am not sure what the policy regarding the credits is, but this seems to be a mistake to me.

[2018-10-23 08:11] nim65s commented on #553
@proyan he has not been removed from this list ; this is just a new list that has been added [here](https://github.com/stack-of-tasks/pinocchio/commit/6be296ecac0a6e4cdc77451c8f8d958ebbbf8780#diff-04c6e90faac2675aa89e2176d2eec7d8R80), before this discussion started.

Now, we are discussing this list :)

[2018-10-23 08:12] jcarpent commented on #553
This is a mistake. I did not put all the names in the credit lists at all.

[2018-10-23 08:14] jcarpent commented on #553
@proyan  By the way, it is clearly written:
`If you have taken part to the development of **Pinocchio**, feel free to add your name and contribution here.`

[2018-10-23 08:30] jcarpent commented on #553
I've just added his name on the REAME.md. See 0ee62897b93fb4b30c3dde58ca75a74a83d1bbf6.

[2018-10-23 08:48] gabrielebndn commented on #553
@jcarpent, I see there's an additional commit you put in master but not in devel:  6bcdc2a (README: add Pinocchi features). Could you put that in devel too?

[2018-10-23 08:50] jcarpent commented on #553
@gabrielebndn: Done!

[2018-10-23 08:57] gabrielebndn commented on #553
By the way, I see the README only mentions the pinocchioweb entry. Shouldn't we also mention the SII article, as we do in the new Overview?
(For the time being we can directly write the bib entries into README.md because it seems there is a problem displaying files we \include on a browser)

[2018-10-23 08:58] jmirabel commented on #553
I see that someone has added the feature list I mentioned. When I said
- *Pinocchio is cross-platform*,

I think this is a bit overselling. I think we should say
- *Pinocchio is supported on MacOs and many Linux distribution ([See build status here](http://robotpkg.openrobots.org/rbulk/robotpkg/math/pinocchio/index.html))*

[2018-10-23 09:05] jcarpent commented on #553
@gabrielebndn As the paper is still under review, I would suggest to wait until the final version.
@jmirabel You're right. I'll modify it.

[2018-10-24 07:11] nmansard opened #556 "Git tree"
I am surprise by the current development of the repo tree.
- we had a fork between devel and master. Why is so? The policy of the project has always been to keep master behind devel. I think we should stick to this policy, and in case of real need, discuss it here beforehand.
- we merge @nmansard/devel into topic/doc-v2 . @nmansard/devel was meant to be merged in devel , while topic/doc-v2 was sup

[2018-10-24 07:31] nmansard commented on #556
Wrong reading of the tree for the second point. Forget it.

[2018-10-24 07:34] jcarpent commented on #556
It is just at the README level. It because we have used the internal editor of GitHub to edit the README.md and using cherry-pick.
I have aligned both histories in https://github.com/stack-of-tasks/pinocchio/tree/devel-sync, that I can now push forward to devel if you agree on this point.

[2018-10-24 07:51] nmansard commented on #556
Ok.

[2018-10-24 08:01] #556 closed

[2018-10-24 12:45] jcarpent commented on #549
Please wait for release 2.0.0 to proceed to the change of license.

[2018-10-24 12:45] jcarpent commented on #553
I will close this issue, I think the issue has been solved. Feel free to reopen if needed.

[2018-10-24 12:45] #553 closed

[2018-10-24 16:37] aelkhour commented on #547
Is there currently a target date for this release?

[2018-10-24 16:44] jcarpent commented on #547
I hope by the end of the next week.

[2018-10-25 09:37] aelkhour opened #559 "[math] Build error with SINCOS macro on Linux and float"
On Linux, the `SINCOS` macro simply forwards the call to the [sincos](http://man7.org/linux/man-pages/man3/sincos.3.html) function.

As the output arguments are pointers, `sincos` only compiles for `double` but not `float`. This renders explog functions unusable with scalars other that `double`.

I don't know what a proper fix would be in this case.

[2018-10-25 09:39] jcarpent commented on #559
I will provide one in version 2.0.0.
But maybe, you need a fix now?

By the way, why float and not double?

[2018-10-25 10:05] aelkhour commented on #559
Thanks @jcarpent, it's not urgent so we can wait until v2.0.0.

We internally use pinocchio with float, never with double. I don't have a proper justification for that, other than performance issues. We did not benchmark this choice, so I can't exclude that we will revert back to using double some day.

[2018-10-25 10:11] aelkhour opened #562 "[spatial] Symmetric3Tpl::rotate triggers assert with float in some cases"
`Symmetric3Tpl::rotate` contains an assert which relies on [isApprox](https://eigen.tuxfamily.org/dox/classEigen_1_1DenseBase.html#title47). When using `float` scalars, this assert is sometimes triggered in Debug as the precision argument is kept to its default value.

IMHO it would make sense to rely on something like `std::numeric_limits<_Scalar>::epsilon()` and pass it to `isApprox`.

[2018-10-25 11:09] jcarpent commented on #562
`std::numeric_limits<_Scalar>::epsilon()` is sensitive to rounding errors for two pipelines of computations, while `Eigen::NumTraits<Scalar>::dummy_precision() ` will lower this precision.

In Eigen, this is the value of the dummy_precision for a float:
[code]
for a precision of a float of 5.96e-08, which seems reasonable.

Can you output the results of `(R.transpose()*R)` when it occurs?

[2018-10-25 11:13] olivier-stasse commented on #559
My own experience is that computation are *really* less precise/stable with float than double.
If your CPU can handle directly 64 bits I would suggest to stick with it.
If not then indeed you are on a very constrained environment.
Then you probably would benchmark pinocchio more closely. The prediction capabilities of your CPU can have an impact.

[2018-10-25 12:48] matthieuvigne commented on #562
In fact, the problem comes from the fact that we typically mix float and doubles in our code.

The following code will trigger the assert

[code]
Output:
[code]

However, this comes from the fact that the assert is done with double precision on a matrix casted from float (dummy_precision for double is 1e-12). If we were to do this with a float inertia object, things would work fine.

[2018-10-25 12:54] jcarpent commented on #562
You can use for your computations something like:
[code]
and do all your computations with it.
But, this error is expected if you mixed both float and double.

One solution we would be to select the highest dummy_precision() value from the two Scalar types.
This feature has then to be spaned in the whole code.

[2018-10-25 12:56] jcarpent commented on #559
It should be fixed by #563.
@aelkhour Can you try it?

[2018-10-25 13:05] matthieuvigne commented on #562
For our own purpose, we will as you said set this assert to work with float precision on doubles. But I don't think this change is required for pinocchio itself - working with a higher than normal precision means we could miss some numerical errors when working with doubles.  pinocchio in itself works fine on both double and float.
I think we can close this issue, @aelkhour do you agree?

[2018-10-26 10:01] nmansard commented on #549
INRIA confirms that we do not have to ask their permission if changing license of 1.3.
PAL confirms that BSD is better for them.
As all parties involved in 1.3 agree, I think we should change it now. This does not impact the code, so no need to synchronize with v2.0.

[2018-10-26 11:08] jcarpent commented on #549
I'm almost done with Pinocchio 2.0.0-alpha.
The merging was a painful task. I propose to change the license just on top of it (it will change all the headers by the way).

[2018-10-26 11:10] jcarpent commented on #549
By the way, I will do it by myself.

[2018-10-26 17:38] aelkhour opened #566 "Build error related to fcl on pinocchio v1.3.2"
While trying to build pinocchio v1.3.2, I encountered this build error:

[code]

Is this the expected behavior when hpp-fcl (optional dependency) is not installed ?

[2018-10-26 17:42] jcarpent commented on #566
Not expected at all. The addGeometry module should be dependent of HPP_FCL.
Thanks for raising this bug!

[2018-10-26 19:48] gabrielebndn commented on #566
In the future, to avoid this kind of problems, maybe automated tests should also be run for build configurations where optional dependencies are not installed. @nim65s, what do you think?

[2018-10-27 07:35] nim65s commented on #566
I think that at some point I already did that, but we changed our minds and I removed it.
I also think that we already run 10 tests that takes up to more than 2h.
And I also think that nobody run those tests anyway: https://gepgitlab.laas.fr/stack-of-tasks/pinocchio/pipelines the last one was 3 weeks ago.

[2018-10-27 08:30] #559 closed

[2018-10-29 07:06] jcarpent commented on #566
#568 has normally fixed the issue. @aelkhour Can you check it?

[2018-10-29 09:07] #566 closed

[2018-10-29 09:19] jcarpent commented on #547
As release 1.3.2 is buggy, I will make a new one called 1.3.3 with the fix.
Thanks to @aelkhour for raising this issue.

[2018-10-29 09:40] aelkhour commented on #566
@jcarpent Tested, it builds now :+1:

[2018-10-29 09:48] jcarpent commented on #566
OK. Very nice.
I will make a new release now.
Thanks again for reporting the bug.

[2018-10-29 13:47] gabrielebndn commented on #551
Hate to raise this, but after the version macros were correctly updated to 1.3.2, now that we switched to 1.3.3 they still say 1.3.2...

[2018-10-29 13:49] jcarpent commented on #551
Yes, you're right. I forgot to do it manually.
I think this is not dramatic for this release.

And in the future, this will be handled automatically thanks to https://github.com/jrl-umi3218/jrl-cmakemodules#162

[2018-10-29 13:55] gabrielebndn commented on #551
Yes, it is not dramatic, it's just an additional patch. I just wrote it to let it be known.
Looking forward for the automated solution.

[2018-10-29 16:13] jcarpent commented on #547
I've just opened a PR #569.
This PR should normally compile on Mac OS X and ubuntu 14.04. I did try on other systems yet.

I will test it on the Gitlab of LAAS.

I hope that all the algorithms will continue to work with most of the projects relying on Pinocchio.

[2018-10-29 16:56] jcarpent commented on #547
I've just merged #569.
I also added the tag `2.0.0-alpha` for this pre-release version

[2018-10-29 16:59] jcarpent commented on #551
This issue has been solved by #569.

[2018-10-29 16:59] #551 closed

[2018-10-29 17:18] jcarpent commented on #511
@nim65s Can you check that branch devel is solving this issue?

[2018-10-29 17:23] jcarpent opened #570 "From the pre-release 2.0.0-alpha to the official release 2.0.0"
What to do next?

Before releasing the new version of Pinocchio 2.0.0, I would suggest fixing the following bullet points:

- [x] fix the issues related to 2.0.0-alpha on dependencies;
- [x] adjust the current open PRs to the current pre-release;
- [x] change the main namespace from se3 to pinocchio and make se3 namespace deprecated;
- [x] change macro naming to follow the standard PINOCCHIO_"MACR

[2018-10-29 17:34] gabrielebndn commented on #547
I confirm it is building on ubuntu 16.04

[2018-10-29 18:31] gabrielebndn commented on #570
Completely agree, especially on warnings, header-only and macro-naming

[2018-10-29 18:38] jmirabel commented on #570
A CMake option to generate a library containing a default implementation would be nice as well and should not be hard to obtain. The compilation time was already an issue and keep increasing a lot. It would save time to developers and energy...

The method on how to do it and the content of the library should not be discussed here.

[2018-10-29 18:44] jmirabel commented on #570
And a *porting from 1.3 to 2* note.

[2018-10-29 18:54] jcarpent opened #571 "Version 2.0.0: generation of a library with default implementation"
It has been suggested in #570 to generate a dynamic library that contains the compiled version of a default implementation (e.g. Model, Data and all the default algorithms).

This issue is opened to discuss this implementation and the technical details.

[2018-10-30 08:07] gabrielebndn commented on #570
I believe we should study a "rationalization" of Pinocchio headers, as @nmansard put it in the Overview of the doc. That is to say, super-headers that include smaller headers, grouped by theme, the way they do in Eigen with `#include <Eigen/Core>`. This will definitely make Pinocchio easier to use in C++, but we should keep in mind that, if done incorrectly, this may non-negligibly further increas

[2018-10-30 08:08] gabrielebndn commented on #570
I also think that when Pinocchio 2.0.0 is officially out, a "minimal" doc should be available in the master branch. By minimal, I mean what we have now in topic/doc-v2 + clean doxygen comments

[2018-10-30 08:10] jcarpent commented on #570
This is already in the pipe ;)
But in any case, by gathering headers, it won't improve compilation times.

[2018-10-30 08:12] jcarpent commented on #570
When I said in the pipe, I meant that I have already implemented such a structure.
But this one should be added carefully to the repository, to avoid breaking of inclusion for current projects using Pinocchio.

[2018-10-30 08:12] gabrielebndn commented on #570
@jcarpent of course it won't improve it, I'm saying the opposite: it risks degrading it a lot. That's why I say the grouping should be done in a clever way, so that you do not end up including too many useless headers.

[2018-10-30 08:13] jcarpent commented on #570
I have used the inclusion naming of the current directory of src, which are pretty evident.

[2018-10-30 08:14] gabrielebndn commented on #570
I was thinking of a more granular approach, say, a header which only contains kinematics-related methods, one for dynamics, one for geometry, etc.

[2018-10-30 08:20] jcarpent commented on #570
Then I think the current organization is sufficient.

The idea of grouping by theme is also to manage in the correct order all the inclusions.

[2018-10-30 08:34] jcarpent commented on #570
Inclusion order is a problem to avoid undefined forward declaration when using the codes.
This is where Eigen is very strong: they have a very high level to organize their files in order to avoid double inclusions and so on.

[2018-10-30 08:34] jmirabel commented on #571
You do not need C++ 11 to do that. As an example, see [here](https://github.com/humanoid-path-planner/hpp-constraints/blob/fff0a71766f9191d8da1ccbaebb922ca06e405c0/src/generic-transformation.cc#L525).

[code]
Do you know what `extern` keyword adds in this case ?

[2018-10-30 08:36] jcarpent commented on #570
You can have something like:
- pinocchio/Spatial
- pinocchio/Multibody
- pinocchio/Parsers
- pinocchio/Liegroup
- ...

[2018-10-30 08:37] jcarpent commented on #570
But I think the idea of @jmirabel  of generating code for double is the right way of saving compilation times, and should be the priority.

[2018-10-30 08:39] jcarpent commented on #571
I checked and your version is not necessarily handled by all the compilers.
Here, the extern mentions that the template has been generated in another .o file.
Your version will generate the template only for the current .o file, not for the others.

So if you set your example in several .cpp files, they will also generate the template and duplicate the code.

[2018-10-30 08:45] gabrielebndn commented on #570
I think@jmirabel had a very good idea, but I also think that if the pre-compiled library becomes the default way of using Pinocchio it kind of defeats the purpose of making Pinocchio header-only. I don't see what the problem would be in having a simple pinocchio/Kinematics

[2018-10-30 08:49] jcarpent commented on #571
So in one cpp file, you will set:
[code]
and in the orders, you just need to say:
[code]

[2018-10-30 08:51] jcarpent commented on #570
We never said that this is the default way.
The reason why I have worked so far on the version 2.0.0 is really to make Pinocchio header-only. But providing a way to use existing compiled code is ALSO an important direction that we need to consider and implement.

[2018-10-30 08:52] jcarpent commented on #570
Then, you have to decide what is Kinematics (forward Kinematics of course, center of mass?). And the level of granularity, which is hard to define.

[2018-10-30 09:28] jmirabel commented on #571
But, yes, this has only been checked with gcc. I didn't try with other compilers.

[2018-10-30 09:34] jcarpent commented on #571
This means that we need to really split declaration from definition in our classes, which is a tedious work.

[2018-10-30 09:47] jmirabel commented on #571
I agree. I check how FCL or PCL do. I know understand the piece of code which achieves this.

They add at the beginning of each definition file the line you mentioned (`extern template class Foo<0>;`). I wonder what happen if you compile a file that contains this line and you do not link to the library that provides its implementation: Will the compiler compile `Foo<0>` or fail with a linking erro

[2018-10-30 09:49] nmansard commented on #571
Indeed, I do not see any alternative to that: even if you manage to
pre-compile a specialized version of the template, you still need to
have access to the declaration in the 3rd-party code, is it not?

Re-organizing would have the advantage to also enable faster compilation
in 3rd parties, that would then only include declaration in their
header, and some definitions in their sources.

But this i

[2018-10-30 09:58] jmirabel commented on #571
For the purpose of the library, I do not think you need a clear separation of the declaration and definition. I think it isn't that hard to achieve.

For decreasing the compilation time and provide declaration-only headers, I agree the work is long and tedious. This is not for v2.0.

[2018-10-30 10:03] jcarpent commented on #571
So then let's skip the code generation part for the current release.
Anyway, by using the keyword 'extern template', we have to rely on C++11 (which is not bad).
Of course, if people still need to compile only with C++98 standard, they will be able to do it through the header-only part.

[2018-10-30 10:03] jcarpent commented on #571
It will depend if you a partial or a complete definition of your class I guess.

[2018-10-30 10:04] jcarpent commented on #570
@gabrielebndn any suggestion?

[2018-10-30 10:16] gabrielebndn commented on #570
As a general guideline, I would say anything that touches inertial data is dynamics. I can try to come up with atentative list in a separate issue later today

[2018-10-30 11:06] nim65s opened #572 "PROJECT_CUSTOM_HEADER_EXTENSION change"
Hi @jcarpent,

Could you explain why you changed the header extension in https://github.com/stack-of-tasks/pinocchio/commit/751d4bcc42495b48d04f2ba11efd3b2c0f313d62 ?

This breaks robotpkg's detection of pinocchio version.

[2018-10-30 11:19] nim65s commented on #511
It does not ; I will provide a fix soon.

[2018-10-30 12:32] jcarpent commented on #572
It should not break. I just mentioned that the default extension if .hpp and no more .hh.
Can you explain the impact?
How does it work with robotpkg?

[2018-10-30 13:17] nim65s commented on #572
To check if a package is installed and which is is current version, one can teach to robotpkg to look into a certain file for a certain string.

For [pinocchio](https://github.com/nim65s/robotpkg/blob/master/math/pinocchio/depend.mk), it is:
[code]

So we are looking for a line with the string `PINOCCHIO_VERSION` in a file called `include/pinocchio/config.hh`

Then, if we change this .hh suffix to

[2018-10-30 13:45] #572 closed

[2018-10-30 13:47] nim65s commented on #572
So you believe that it is better to change the "default behavior of cmake forcing the user to make use of *.hh"  into a "default behavior of pinocchio forcing the user to make use of *.hpp even if it was *.hh before, and this change will probably break a few things" ?

What is the mistake in using a .hh ?

I really don't get it, but it's up to you.

[2018-10-30 14:02] jcarpent commented on #572
The idea is to have all the headers in Pinocchio in .hpp and .hxx.
Choosing .hh instead of .hpp is another choice. But the JRL cmake module previously forced to have {config,warning, etc}.hh

[2018-10-31 08:53] jmirabel commented on #572
When you think renaming a file or a directory is a good idea, then, I think it is good practice to provide deprecation warning.
For instance, when renaming config.hh into config.hpp, add a file config.hh with
[code]

[2018-10-31 09:07] nim65s commented on #572
@jmirabel in this particular case, this will not prevent some people to ask me why they have an error message saying that pinocchio is not installed, even if they lost hours recompiling and reinstalling it, while they are trying to install py-pinocchio, sot-pinocchio, or hpp-pinocchio, but yes, it would still be a bit better :)

[2018-10-31 09:10] jcarpent commented on #572
@jmirabel This will be indeed a good way!

[2018-10-31 09:11] jmirabel commented on #572
Yes, I know it won't fix robotpkg.

I merely mentioned something that I think is a good general rule for backward compatibility.

[2018-10-31 09:17] jcarpent commented on #572
@nim65s Why `'lib/pkgconfig/pinocchio.pc:/Version/s/[^0-9.]//gp'`is not working as a substitute? It is weard!

[2018-10-31 09:21] jmirabel commented on #572
Isn't it a AND operation rather than a OR ?

[2018-10-31 09:33] nim65s commented on #572
I opened this error because it was not working, so I think this is an AND

[2018-10-31 09:46] jmirabel commented on #572
I think you should simply use this.
[code]

[2018-10-31 09:47] jcarpent commented on #572
I do agree!

[2018-10-31 10:50] jcarpent commented on #204
This has been solved in Pinocchio 2.0.0

[2018-10-31 10:50] #204 closed

[2018-10-31 10:50] jcarpent commented on #201
Some of the computations are now in-place operators since Pinocchio 2.0.0

[2018-10-31 10:50] #201 closed

[2018-10-31 10:51] jcarpent commented on #200
This feature is now covered by Pinocchio 2.0.0

[2018-10-31 10:51] #200 closed

[2018-10-31 10:51] jcarpent commented on #198
This was in fact not necessary for Pinocchio 2.0.0

[2018-10-31 10:51] #198 closed

[2018-10-31 10:52] jcarpent commented on #202
This is not needed either. Other approaches have been followed in Pinocchio 2.0.0.

[2018-10-31 10:52] #202 closed

[2018-10-31 11:28] nim65s commented on #572
I was going for https://github.com/nim65s/robotpkg/commit/3975805ac0f404093e502295d863328d527daca8 as I was hoping this will not be changing again too much… But your right, it will be more wise to just remove it.

[2018-10-31 13:43] aelkhour opened #577 "Cannot build pinocchio v2.0.0-alpha from tarball"
pinocchio v2.0.0-alpha builds correctly when the package is cloned.

However, when I try to build it from the release tarball, since the `.version` file is added, it seems that `cmake/version.cmake` does not compute the major, minor and patch versions. As a result the beginning of the `config.hh` looks like this

[code]
and `bindings/python/utils/version.cpp` fails to compile.

This might need a f

[2018-10-31 14:18] jcarpent commented on #577
Yes, it is indeed coming from the submodule.
Thanks for reporting this bug. I will fix it.

[2018-11-02 09:22] jcarpent commented on #577
@aelkhour I've just updated the tar.gz of the version 2.0.0-alpha. Can you check that everything works fine from your side?

[2018-11-02 09:28] aelkhour commented on #577
@jcarpent it works now, thanks! You can close this issue.

[2018-11-02 09:34] aelkhour opened #579 "Add option to choose to build static or shared library"
In some cases it can be handy to generate a static library instead of a shared one.

Do you think such a patch could be integrated?

[code]

[2018-11-02 09:42] jcarpent commented on #579
Release 2.0.0 of Pinocchio will not have any shared library, because we aim at making Pinocchio a header only library.

In the meantime, we also want to give access to the user to a compiled library with default scalar being double. We are discussing this point in #571. You are certainly very interested in this feature?

[2018-11-02 09:42] #577 closed

[2018-11-02 10:11] aelkhour commented on #579
As we need to cross-compile pinocchio anyway, I'm not sure a pre-generated binary is of interest to us for the moment.

If pinocchio will be header-only, then I agree that there is no need for this option. Closing.

[2018-11-02 10:11] #579 closed

[2018-11-02 11:18] jcarpent commented on #579
What do you need by cross-compiling?
We can think of making a new project on top of Pinocchio to facilitate the compatibility with your goals, and it will compile the library for a specific architecture.

[2018-11-02 11:18] jcarpent commented on #579
@aelkhour What do you think?

[2018-11-02 14:46] jcarpent opened #581 "Taylor expansion threshold"
It appears that Jlog6 and Jlog3 do not have the same threshold for the Taylor expansion.
1e-4 for [Jlog6](https://github.com/stack-of-tasks/pinocchio/blob/912418bd2d1b707800162f131e2013d6acb3bfc6/src/spatial/explog.hpp#L488) and 1e-6 for [Jlog3](https://github.com/stack-of-tasks/pinocchio/blob/912418bd2d1b707800162f131e2013d6acb3bfc6/src/spatial/explog.hpp#L209).
It would be nice to make uniform t

[2018-11-02 14:52] florent-lamiraux commented on #581
I agree.

[2018-11-02 16:12] aelkhour commented on #579
For now we need to cross-compile our code for the QNX OS, using a proprietary compiler.

[2018-11-02 17:34] aelkhour commented on #467
@jcarpent Assuming we use the robotpkg PPA to install everything, does the above script work with pinocchio v2.0.0-alpha and gepetto-gui?

[2018-11-02 19:10] jcarpent commented on #467
They should in practice.

[2018-11-04 12:33] aelkhour commented on #467
I installed pinocchio v2.0.0-alpha on Ubuntu 18.04, and installed gepetto-viewer-corba from the robotpkg PPA.

I launched gepetto-gui and ran the following simple script

[code]

I get an empty scene in gepetto-gui, with the following log:

[code]

Am I doing something wrong? Maybe I'm not using RobotWrapper the way it's supposed to be used?

`pendulum.urdf` is as follows:

[code]

[2018-11-04 13:59] jmirabel commented on #581
I agree too.

[2018-11-05 08:41] nmansard commented on #548
@jcarpent did you manage to find your early work on FCL bindings?

[2018-11-05 08:41] nmansard commented on #467
The pinocchio implementation of Gepetto-viewer does not allow yet to display urdf files including simple geometries.
To do so, we would need to wrap FCL objects, in order to recover the geomtries parameters, and then to add the dedicated code to call Gepetto-Viewer routines in the RobotWrapper class, display method. See #548

[2018-11-05 08:56] aelkhour commented on #467
Strange, this worked for at least pinocchio v1.2.8. Also, I'm pretty sure I have the same problem when loading meshes, which is our real issue (I will double check).

[2018-11-05 16:33] jcarpent commented on #548
Not at all. Sorry about that.

[2018-11-06 19:15] jcarpent commented on #581
Fixed by #584.

[2018-11-06 19:15] #581 closed

[2018-11-06 20:18] hammoudbilal commented on #437
Hi, this have been really helpful, it seems to me that the terms regarding the contact/external forces are not included in the code, for example in the forward dynamics derivative  dFD/dq should i just simply add (dM_inv/dq).J^T.f_{ext}  + M_inv.(dJ^T/dq).f_{ext}  ?

best
Bilal

[2018-11-06 20:59] jcarpent commented on #437
They are taken into account on the devel branch.

[2018-11-06 21:34] hammoudbilal commented on #437
found it, thanks! it seems that only the python binding was missing for the extended version of the function, i will stop posting on this thread.

[2018-11-06 22:34] jcarpent commented on #437
Do you need them?

[2018-11-07 14:42] hammoudbilal commented on #437
no everything works fine, thanks again

[2018-11-09 16:46] jcarpent commented on #570
After merging #592, I will be done of all my tasks.
@jmirabel @nim65s Do HPP and SoT are now compatible with Pinocchio 2.0.0-alpha?
@aelkhour have you encountered any other troubles with Pinocchio 2.0.0-alpha?

[2018-11-09 16:58] aelkhour commented on #570
No issues on our side so far, thanks for the fast issue resolutions !

[2018-11-09 17:52] jcarpent commented on #549
Fixed by #592.

[2018-11-09 17:52] #549 closed

[2018-11-09 18:09] jmirabel commented on #571
Is this going to be in v2 ?

[2018-11-09 19:08] jcarpent commented on #571
It can be, but it requires some refactoring work.

The question is first: do we want to impose C++11 for `extern template`keywords use?

[2018-11-09 22:47] jcarpent commented on #215
Solved by #588.

[2018-11-09 22:47] #215 closed

[2018-11-10 15:39] jmirabel commented on #571
What about a incomplete but already better solution of encapsulating all `#include <foo.hxx>` by some #ifndef PINOCCHIO_USE_LIBRARY ... #endif` and adding the flags to pkg-config file ?

[2018-11-10 22:04] jcarpent commented on #571
I think we should keep .hxx files and just add between an `#ifdef` the `extern template` keywords.
In this way, the compiler won't compile the template if we refer them through keywords.

In particular, I think only `Model`, `Data` and all the algorithms and parsers should be externalized. It should be sufficient for HPP and other frameworks.

@jmirabel What do you think?

[2018-11-10 22:07] jcarpent commented on #570
Yes, the visitors have been simplified a lot. There is no more need to add the macro inside the Algo struct.

The derived class of a `JointVisitorBase` should on declare the type of arguments (`ArgsType`). The rest is handled by `JointVisitorBase`  internally. This simplifies a lot the writing of new algorithms I think.

[2018-11-12 11:19] jmirabel commented on #571
Fine, go ahead for this.

[2018-11-12 13:29] nmansard commented on #571
Are you sure you can keep the compatibility with C++ 98?

[2018-11-12 13:43] jcarpent commented on #571
Yes. Just people using C++98 won't have access to this feature, as it requires C++11.

[2018-11-13 12:54] nmansard commented on #180
A python interface on top of webgl:
http://www.glowscript.org/docs/VPythonDocs/index.html

[2018-11-13 12:58] jcarpent commented on #180
I don't think it can read colada files for instance.

[2018-11-13 15:39] jcarpent commented on #570
@jmirabel Are you convinced by this answer?

[2018-11-19 08:45] jcarpent commented on #570
I would like to make the release of Pinocchio as soon as possible.
Wandercraft, Willow and HPP are ready for this merging.
@olivier-stasse, @nim65s Are you ready for the SoT?

[2018-11-20 09:41] #272 closed

[2018-11-22 10:34] nim65s commented on #511
So… It's still not working in #601, and I can't understand why.

This issue occurs in Boost 1.66 & 1.67, with any other c++ standard than c++98.

Then, if nobody else provide a fix, I guess that we should drop support for this c++11 and more on Boost 1.66 & 1.67.

In the list of distributions supported by robotpkg, this will affect fedora 28 & 29 (boost 1.66) and netbsd8 (which provides 1.65, 1.66

[2018-11-22 14:47] jcarpent commented on #511
C++11 is mandatory for lib generation and code source generation. So we cannot drop C++11 support.

[2018-11-22 14:49] jcarpent commented on #511
By the way, a simple fix would be to use pointers instead of references.

[2018-11-22 16:35] nmansard commented on #511
@nim65s is suggesting to drop support for [C++11] AND [boost 1.66-7] (not OR). I believe that this is acceptable. Possibly, you may document this problem by adding, using one way or the other, the tests you did to try to solve this issue.

[2018-11-22 16:48] nim65s commented on #511
Yes, this is what I meant.
Affected users (on fedora) will still be able to install a more recent version of Boost.

[2018-11-22 16:55] jcarpent commented on #511
I think it would be worth to test the pointer version. @nim65s It requires just few minutes for you to test.

[2018-11-23 14:04] cmastalli commented on #379
Joint desired order could be described through a SDF.

[2018-11-23 14:19] cmastalli commented on #33
I would like to add a comment to this discussion line. Indeed it's very tricky to bind Eigen data with Numpy. During the period at IIT, I used SWIG to bind Eigen data. Basically you need to write an interface file, this file can be re-used for any project. Here you find the file:
https://github.com/robot-locomotion/dwl/blob/master/swig/eigen.i

[2018-11-25 01:51] hammoudbilal opened #607 "aba derivative returns different values for same states and controls"
I have been playing with the analytical derivatives on the devel branch for a while
I set q, dq, and tau to constant value, then I call computeABADerivatives multiple times for the same q, dq, and tau values. the resulting matrices start increasing in value for each time I call it.
I tried following the unit tests but it seems that the data object is created separately for each case.
I also tried

[2018-11-25 09:59] gabrielebndn commented on #607
Hi @hammoudbilal, could you post a minimal example that reproduces your problem? Have you tried in C++? If yes, do you experience the same behavior?

[2018-11-25 10:11] jcarpent commented on #607
@hammoudbilal I have found the origin of this bug. I will fix it by tomorrow.
Thanks for reporting it!

[2018-11-25 23:50] jcarpent commented on #607
#608 has normally solved your issue. @hammoudbilal can you confirm it?

[2018-11-26 09:52] #607 closed

[2018-11-26 14:57] hammoudbilal commented on #607
everything works perfectly, thanks

[2018-11-26 20:01] ShihaoWang opened #610 "Eigenpy installed but cannot be found"
Hi,

I was able to install the Eigenpy according to the instruction https://github.com/stack-of-tasks/eigenpy. However, when I run the cmake command to configure the pinocchio, I was told that
Checking for module 'eigenpy >= 1.4.0'
--   No package 'eigenpy' found
Here is the result of showing the installed Eigenpy
: dpkg -l | grep -i eigenpy
ii  robotpkg-py27-eigenpy

[2018-11-26 20:13] jcarpent commented on #610
You have to configure pkg-config path to let `cmake` find eigenpy.
In your case, as you are relying on the PPA of robotpkg to install EigenPy from binairies, you have to add the install path to the pkg-config path.
The EigenPy binairies are installed in /opt/openrobots. So the pkg-config files are installed in: `/opt/openrobots/lib/pkgconfig`.
You then need to add this path to your environment var

[2018-11-26 21:11] ShihaoWang commented on #610
Yes, after changing these two environment variables, the cmake .. returns a successful result. However, when I proceed to the make -j4 command, an error with the numpy occurs as follows:
/opt/openrobots/include/eigenpy/fwd.hpp:23:31: fatal error: numpy/numpyconfig.h: No such file or directory
 #include <numpy/numpyconfig.h>
                               ^
compilation terminated.
In file included

[2018-11-26 21:22] jcarpent commented on #610
Is numpy installed on your computer?

[2018-11-26 21:31] jcarpent commented on #610
Can you show me the content of the file eigenpy.pc located in /opt/openrobots/lib/pkgconfig

[2018-11-26 21:35] ShihaoWang commented on #610
Yeah, numpy is installed and I have tried to set the PYTHONPATH to the python package path in my path (/usr/local/lib/python2.7/dist-packages/). Sure, the content in the eigenpy.pc is as follows:
prefix=/opt/openrobots
exec_prefix=/opt/openrobots
libdir=/opt/openrobots/lib
bindir=/opt/openrobots/bin
pkglibdir=/opt/openrobots/lib/eigenpy
includedir=/opt/openrobots/include
datarootdir=/opt/openrobot

[2018-11-26 21:37] ShihaoWang commented on #610
Okay, I think that I got it! The path leading to the core/include in this eigenpy.pc file is not the same as the one I have. Let me change it to the /usr/local/lib/python2.7/dist-packages/numpy/core/include and see what will happen.

[2018-11-26 21:39] jcarpent commented on #610
Is /usr/lib/python2.7/dist-packages/numpy/core/include pointing to an existing path? Otherwise, you have ton install numpy for all the users with pip or you can install by hand eigenpy. It is simple as installing Pinocchio from source

[2018-11-26 21:52] jcarpent commented on #610
I just saw your answer. This seems that this will solve your issue. Let’s me know!

[2018-11-26 22:04] ShihaoWang commented on #610
Yes, after I manually change the include path in the eigenpy from /usr/lib/python2.7/dist-packages/ path to /usr/local/lib/python2.7/dist-packages/, the make -j4 and make install commands successfully build this package.
Thanks a lot for your help.

[2018-11-26 22:08] jcarpent commented on #610
It’s my pleasure.

[2018-11-26 22:08] #610 closed

[2018-11-29 10:45] mehdi-benallegue opened #611 "[documentation] Tutorials not working"
Hi all,

I tried to install and experience Pinocchio as a simple user and I can report on some difficulties I met during the process.

In the beginning, I was on the tutorial of the home page of the project http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/index.html which does generally not work by following the displayed steps (I can provide details if needed) then @jcarpent se

[2018-11-29 11:04] gabrielebndn commented on #611
As for the loading, it is not a bug. `initDisplay` just loads the meshes and puts them in the gui, but does not place them. If after `initDisplay` you do `robot.display(<whathever>)`, it should be correct. Maybe it can be a good idea to have this first call done automatically so to show a correct robot

[2018-11-29 11:08] gabrielebndn commented on #611
Why do you say the installation procedure misses the essential package robotpkg-py27-pinocchio ?
It seems to be correctly indicated in [https://stack-of-tasks.github.io/pinocchio/download.html](https://stack-of-tasks.github.io/pinocchio/download.html). The installation line is provided as
[code]

[2018-11-29 11:32] mehdi-benallegue commented on #611
OK for the display, it means that the error messages on the gepetto-gui terminal must be ignored.  I should have gone further. I am actually having other troubles with another robot (Sawyer), but this is not relevant to this issue.

With regard to the official tutorial:
-The installation procedure here http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-labs_1-directgeom.h

[2018-11-29 11:35] gabrielebndn commented on #611
We are in the process of re-making the whole documentation.
You can find more up-to-date tutorials in the `topic/doc-v2` branch, which has just been updated to Pinocchio 2.0

[2018-11-29 11:36] gabrielebndn commented on #611
Yes, gepetto-gui produces a lot of noisy warnings which can usually be ignored, but that's a matter with gepetto-gui.

[2018-11-29 11:39] gabrielebndn commented on #611
As for the URDF, I do not understand why you changed the name of the ur5 directory, instead of simply changing, in the tutorial
[code]
to
[code]
I think the robotpkg naming scheme is the correct one. Both the ZIP and the tutorial should be modified to reflect it.

[2018-11-29 11:42] gabrielebndn commented on #611
Thanks for reporting these problems! I think we can close the issue

[2018-11-29 12:01] mehdi-benallegue commented on #611
It seems not that simple!
https://drive.google.com/open?id=12x9XyFymDuznMF8QGsshChX36QgXHrDs

[2018-11-29 12:17] jmirabel commented on #611
Install ros-kinetic-ur-description to get it work.

Having a package ur5_description in robotpkg is a bad idea. We should only rely on ur_description. However, as of now, it is not possible to generate the URDF string from xacro file and pass this to Pinocchio. It should not be hard to achieve as Pinocchio can parse URDF passed as string.

[2018-11-29 12:19] jmirabel commented on #611
So ur5_description merely provide the generated URDF files.

[2018-11-29 12:19] gabrielebndn commented on #611
I am not having this problem.
I think I understood why.
From what you posted, it seems robotpkg-ur5-description contains a mistake, but mine doesn't.
I guess that's because I have robotpkg/wip in my apt list. The version there is correct and overrides the normal one. I'll check

[2018-11-29 12:20] gabrielebndn commented on #611
@jmirabel his example is working fine for me.

[2018-11-29 12:21] mehdi-benallegue commented on #611
@jmirabel that is what I did. But it means ROS is necessary just to get URDF description. I don't know if the zip solution is good either.

@gabrielebndn you may want to try on the virtual machine

[2018-11-30 09:54] gabrielebndn commented on #611
I confirm that the error is originating from the robotpkg-ur5-description folder being broken, but repaired in robotpkg/wip. The problem is solved by
[code]

![install](https://user-images.githubusercontent.com/7643149/49281825-dbccd380-f48d-11e8-8d9d-280ba1ccbd3b.png)
![run](https://user-images.githubusercontent.com/7643149/49281831-dec7c400-f48d-11e8-80dc-24fb17a3bc70.png)

I will push for the r

[2018-11-30 09:55] #611 closed

[2018-11-30 09:56] nim65s commented on #611
Yes, I fixed it in robotpkg-wip, but this is not a satisfactory solution… I still have to work on it.

[2018-12-03 11:28] gabrielebndn opened #613 "[geometry] Templatization of GeometryModel by type in Pinocchio 2.0"
I don't find any discussion on this. If it is a known issue, I apologize.

In  Pinocchio 2.0, all classes and algorithms are templated. In particular, one parameter is the scalar type. However, I see `GeometryModel` and all related stuff are *not* templated by type, as they only work with `double`.
I think it only makes sense that `GeometryModel` also support other scalar types, given everything e

[2018-12-03 12:06] jcarpent commented on #613
This indeed a known issue. We have already discussed that with @jmirabel and @florent-lamiraux.
They are planning to merge back to the official FCL repository but it will require some tough work.

[2018-12-05 11:37] jcarpent commented on #613
I will close this issue as there is no feedback. Feel free to open it again.

[2018-12-05 11:37] #613 closed

[2018-12-05 13:57] gabrielebndn commented on #613
I talked with @florent-lamiraux . He told he was rather thinking of implementing scalar type parametrization on hpp-fcl and keep it separate from the official FCL distribution

[2018-12-17 10:29] nim65s opened #617 "Can't compile devel with CppADCodeGen"
Hi,

If I try to compile the current devel branch on 16.04 with clang (both 3.8 & 6.0), CppAD 20180000.0 and CppADCodeGen 2.3.0, I get the following errors:

[code]

And with GCC 5.4.0:
[code]

[2018-12-17 10:34] jcarpent commented on #617
I think your problem is coming from your version of Eigen. Can you check with Eigen 3.3.5, which is working fine for me?

[2018-12-17 12:02] nim65s commented on #617
I was having issues with 3.2.92 (16.04 default version).
With 3.3.5, I can confirm that I can (almost, cf #618) build Pinocchio, and that tests regarding CppADCodeGen are passing.

[2018-12-17 18:01] jcarpent commented on #617
The bug is then coming from the CppAD itself.
I will propose a fix there.
I close this issue. Feel free to re-open if needed.

[2018-12-17 18:01] #617 closed

[2018-12-18 13:54] jcarpent commented on #617
Yes, the version 2016 is too old.
I have made some modifications inside CppAD and CppADCodeGen that I have been merged by their maintainers.
We should use these specific versions to make our framework working well.

[2018-12-18 14:06] nim65s commented on #617
In this case, we should use `ADD_OPTIONAL_DEPENDENCY( "cppad >= 20180000")`

[2018-12-18 14:12] kabukunz commented on #180
Hello, I was looking for animation systems and stumbled here.
Now Panda3d has python bindings working. I'm on Os X and I tried a couple of weeks ago.
Or you could embed something like libigl, which has python bindings and is able of 3d debug display
Or maybe python on top of imgui like https://github.com/swistakm/pyimgui or https://github.com/podgorskiy/bimpy for something really light, but you ha

[2018-12-18 15:52] jcarpent commented on #180
@kabukunz Thank you for this nice feedbacks on using Panda3d.
The idea is to have something easy to install and to use with additional formats such as Collada.

[2018-12-20 06:12] olivier-stasse opened #621 "Minor pb."
In https://github.com/stack-of-tasks/pinocchio/blob/d2026ed40574314da4f6b0e2d554a3b4a547332b/unittest/finite-differences.cpp#L37
should not it be model.nv instead of model.nq ?

[2018-12-20 06:17] jcarpent commented on #621
You’re right. But it should not lead to any bug or segmentation fault because `nq > nv`.
Do you have seg faults?

[2018-12-20 16:58] olivier-stasse commented on #621
Dear Justin, that was just a very minor pb. Nothing is going wrong, btw I am very impressed by the coverage of pinocchio.

[2018-12-20 20:44] nmansard opened #622 "robotwrapper integrate?"
What happen to the integrate / increment method of robotwrapper? Removed? when? why?
Thanks.

[2018-12-20 22:04] nmansard opened #623 "Reset pinocchio random seed in python"
Any idea of how to reset Pinocchio (hence eigen) random seed from python?

for i in range(np.random.randint(1000)): pinocchio.SE3.Random()

[2018-12-21 13:33] jcarpent commented on #623
There is no direct access to the seed of the std library used by Eigen for random sampling.
This feature should be added to EigenPy, not to Pinocchio.

[2018-12-21 13:40] jcarpent commented on #622
For this issue, you can use `git blame`to understand the deletion. From my side, I have no idea, except that I remember that the previous integrate method was only working for free-floating base systems.

It will be easy to recover this feature if you really need it.

[2018-12-21 15:57] #622 closed

[2018-12-21 15:58] #623 closed

[2018-12-28 16:14] nmansard opened #624 "Forward dynamics: J and gamma in the API ... why?"
The forward dynamics algo computes the model acceleration given some torques and contact info. It is indeed requesting the explicit jacobian J and contact drift gamma to be provided by the user, while these info can be computed from the state q,vq, also given in input.
Shouldn't we provide a simpler API where J and gamma are already computed. At least, we could provide that for 6D contact, maybe a

[2018-12-28 17:12] olivier-stasse commented on #624
Sounds good to me.

[2018-12-28 17:55] jcarpent commented on #624
I have already implemented such a solution. 
I will provide it in two weeks if you are able to wait until then.

Le Vendredi, Décembre 28, 2018 17:14 CET, Nicolas Mansard <notifications@github.com> a écrit:
 
The forward dynamics algo computes the model acceleration given some torques and contact info. It is indeed requesting the explicit jacobian J and contact drift gamma to be provided by the us

[2018-12-29 01:28] ShihaoWang opened #625 "ImportError: No module named pinocchio"
Hi,
I have already successfully installed pinocchio on my OS ubuntu **14.04** according to the instruction(**build from source**). However, when I run the python examples, I was told that pinocchio cannot be found:
[code]
I think that it should be a path problem, so I add **/usr/local/lib/python2.7/site-packages/** to the python sys.path. However, this path addition brings about another error
[cod

[2018-12-29 08:09] jcarpent commented on #625
Hi @ShihaoWang,

It seems that you have correctly installed Pinocchio and its Python bindings.
In order to debug your configuration, can you display the content of **/usr/local/lib/python2.7/site-packages/pinocchio** with:
[code]

[2018-12-29 08:10] jcarpent commented on #624
@nmansard Is it fine for you?

[2018-12-29 09:05] jmirabel commented on #625
Check the LD_LIBRARY_PATH environment variable.

[2018-12-29 09:09] jcarpent commented on #625
@jmirabel is right. It seems that you do not have correctly configured your `LD_LIBRARY_PATH`.

[2018-12-29 14:49] ShihaoWang commented on #625
Hi @jcarpent,
Sure, the output from this command is
[code]
The **libpinocchio.so** is actually installed in
[code]
I am not sure whether I should copy **libpinocchio.so** to **/usr/local/lib/python2.7/site-packages/pinocchio/**

Hi @jmirabel ,
Yes, I think that my LD_LIBRARY_PATH should be configured correctly. This is the output
[code]
Should I change this LD_LIBRARY_PATH to be sth else?

[2018-12-30 08:19] jcarpent commented on #625
Yes, you need to compile Pinocchio with URDF support by first installing `urdfdom`.
@ShihaoWang Do you know that Pinocchio can be installed automatically on your computer with all the required dependencies? All the details are reported here: https://stack-of-tasks.github.io/pinocchio/download.html

[2018-12-30 10:47] jcarpent commented on #624
Another answer to this issue comes from historical reasons.
The idea behind J and gamma is to enable the user to define his/her own contact model like rolling contact.
The current API is then much more flexible than the one assuming rigid contact model.

[2018-12-30 20:59] ShihaoWang commented on #625
Hi @jcarpent ,
Thanks for telling me about it. I will try to use this robotpkg method to make things easier.

[2019-01-02 09:09] jcarpent commented on #625
@ShihaoWang Does it work well?

[2019-01-02 17:07] ShihaoWang commented on #625
@jcarpent Yeah, thanks for checking out with me and I do appreciate the help from you and @jmirabel.

[2019-01-02 17:42] jcarpent commented on #625
@ShihaoWang Ok. Sounds good to me. I'm going to close this issue then.

[2019-01-02 17:42] #625 closed

[2019-01-08 09:24] markusgft opened #627 "build error related to URDF class pointers"
Dear all,
I installed the package-version of Pinocchio on a standard Ubuntu 16.04 alongside ROS kinetic.
When trying to build code which uses pinocchio's URDF parser, I obtain the error shown below.
I can confirm that this error occurs on multiple independent machines (tested on 3 Ubuntu installations).
It seems that you already fixed it in the devel version by introducing a PINOCCHIO_ prefix, but

[2019-01-08 14:01] nim65s commented on #570
Hi @jcarpent,

We are now ready for the SoT, so you can release v2 when you want, and I will put it on robotpkg afterwards.
Sadly, this can't include CppAD / CppADCodeGen by default in 16.04, as the default Eigen version is too old (ref https://github.com/stack-of-tasks/pinocchio/issues/617#issuecomment-447939232)

[2019-01-08 14:22] #627 closed

[2019-01-08 15:36] jcarpent commented on #570
Yes. I will do it.
@nim65s Thank you for all the work you have done so far!

[2019-01-08 15:38] jcarpent commented on #627
@markusgft You're welcome. It was a pleasure!

[2019-01-09 09:56] jcarpent opened #629 "Good news, Travis now supports 16.04"
It would then be nice to make a smooth transition to this version of Ubuntu, 14.04 will be deprecated soon.
@nim65s Do you think that you can make it?

See https://docs.travis-ci.com/user/reference/xenial/ for further details.

[2019-01-09 10:45] jcarpent commented on #621
Fixed by #630. Thanks to @olivier-stasse for this report.

[2019-01-09 10:45] #621 closed

[2019-01-09 12:54] nim65s commented on #629
will do :)

[2019-01-09 12:55] jcarpent commented on #629
Thank you very much!

[2019-01-09 14:30] jcarpent commented on #505
This issue is now solved.

[2019-01-09 14:30] #505 closed

[2019-01-09 15:08] proyan opened #632 "How to use rnea with fext in python?"
I am trying to use `se3.rnea` with `fext` in python. How do I provide the argument corresponding to the external forces at the joints?

Currently I am giving the force vector in the form of a list, and it is not working.
`force_list = [se3.Force.Zero()]*robot.model.njoints`
`se3.rnea(robot.model, robot.data, q, v, ddq_ref, force_list)`

Concretely, what is the python equivalent of `container::alig

[2019-01-09 15:13] jcarpent commented on #632
@proyan You should use StdVec of Forces as mentioned in #626
This should change with #555.

[2019-01-09 15:19] proyan commented on #632
Thanks. This solves my problem for now. I'll close this issue.

[2019-01-09 15:19] #632 closed

[2019-01-09 17:35] jcarpent opened #634 "Changing SquaredDistanceStep API"
Currently, `SquaredDistanceStep` takes a vector of double as return type and the index of the distance value to fill.
I would like to change this behavior to just return a scalar value of the computed distance.

@jmirabel What do you think of this change of API?

[2019-01-09 18:30] jcarpent commented on #511
Fixed by #635.

[2019-01-09 20:43] nim65s commented on #511
Sorry about that, but it's still not building on Fedora 28:
[code]

[2019-01-09 20:43] #511 closed

[2019-01-09 20:44] nim65s commented on #511
You may just be missing a few `&` here and there, if I compare #635 & #601

[2019-01-10 08:37] jcarpent commented on #511
Ok. I'm going to investigate that now.
@nim65s Thanks for this fast reporting.

[2019-01-10 08:56] jcarpent commented on #629
Solved by #633.

[2019-01-10 08:56] #629 closed

[2019-01-10 09:50] jmirabel commented on #634
I think the pros are rather limited and the major cons is that users may have to change their code.

[2019-01-10 10:50] jcarpent commented on #634
We can keep both also.

[2019-01-10 10:51] jcarpent commented on #634
Yes, the pro is that it will simplify a bug fix ;)

[2019-01-10 10:52] jcarpent commented on #511
Fixed by #636.

[2019-01-10 11:35] jmirabel commented on #634
I don't think it has much impact. Do as you want.

[2019-01-10 17:07] proyan opened #637 "Error when verifying rnea derivatives (with and w/o fext) by finite differencing"
I made this small script (attached) to test the rnea-derivatives with external force from Pinocchio.
Here I am verifying derivatives wrt q.

1) I first verify that the rnea-derivative _without_ external force are indeed (dM/dq ddq + d (bias)/dq).
2) Then I compute the dJ/dq for the set of contacts, and verify that dJdt = dJdq * v
3) Then I try to verify that
rnea_derivative_without_fext - (dJdq)^T

[2019-01-11 12:48] nmansard commented on #637
I checked on my side that the rnea derivative (with and without forces) matches the finite-diff of rnea. I also did the same with aba and checked that the derivatives are linked through M^-1. As we already checked the derivatives of the jacobians by finite diff, and that rnea with forces is rnea plus jacobian transpose time forces, everything should match.

You should check first that rnea with fo

[2019-01-11 12:50] nmansard commented on #624
I agree with the historical reason, that is still valid: we should offer the largest API to the user, which is the one defined now. But I would like to see the two classical cases (rigid 3D and 6D) implemented with a simpler API.

[2019-01-11 12:54] nmansard opened #638 "Collision normal not evaluated after compute collisions"
I am trying to re-do the tutorial 4 (contact simulation) using FCL -- it is yet implemented with capsules only and with the distances computed manually. However, I am not able to obtain properly the collision point and normals. I believe it is do to my lack of understanding of FCL, or to an unproper implementation in Pinocchio. I would appreciate some advices.

When using computeCollisions, the co

[2019-01-11 12:55] nmansard commented on #624
I suggest to close the issue. Please re-open it if you would like to see this functionality implemented soon.

[2019-01-11 12:55] #624 closed

[2019-01-11 12:56] nmansard commented on #546
Could we make a decision on this issue? I would need an answer for the Pinocchio class at the end of the month.

[2019-01-11 13:08] jmirabel commented on #638
Welcome to the FCL world !

Did you check your CollisionRequest ?

[2019-01-11 13:17] proyan commented on #637
I did it. The jacobian is consistent with the rnea.

`rnea_with_ext_force =se3.rnea(robot.model, robot.data, q, v ,ddq_ref, force_vec)`
`rnea_wo_ext_force =se3.rnea(robot.model, robot.data, q, v ,ddq_ref)`
`np.isclose(rnea_with_ext_force, rnea_wo_ext_force-np.matmul(Jc_ref.T, lambda_ref))`

[2019-01-11 13:19] nim65s commented on #546
I have been working on this recently, and this is now OK for romeo-description in robotpkg, and I am almost ready for universal-robot-description.

@stonneau & @pFernbach added https://github.com/humanoid-path-planner/hpp-rbprm-robot-data with HRP-2, HyQ & Talos, and I will add this in robotpkg soon, so this can also be useful

[2019-01-11 15:31] #570 closed

[2019-01-11 15:31] #547 closed

[2019-01-14 11:06] jcarpent opened #639 "Problem computeForwardKinematicsDerivatives"
It seems that the results coming from `computeForwardKinematicsDerivatives` and `computeRNEADerivatives` are not fully consistent. Which means that `computeForwardKinematicsDerivatives`must be called at each time where `getJointAccelerationDerivatives`is required.

[2019-01-15 15:48] nmansard commented on #546
After another oral discussion with @nim65s and @olivier-stasse , here is a proposition of solution:
- @nim65s will create new git packages with hard-coded urdf files (i.e. no xacros, no pre-treatment needed) for a selection of robots of used by gepetto friends.
- @nim65s will also create a git meta-package gathering all these models using submodules.
- finally, @nim65s (again) will package this me

[2019-01-16 15:56] jbmouret opened #640 "Python 3?"
Hello

Does the library works with Python3? I see in the brew script that it explicitly depends on python2, but all the "modern" frameworks in python (e.g. pytorch) require python3.

Thanks.

[2019-01-16 15:56] gabrielebndn opened #641 "More constructors for Data object?"
Currently, class `Data` only has one constructor, taking a `Model` object as input.
It may be useful to add some other ways of building the object. For instance:
- A default constructor
- A copy constructor
- An assignment operator
- A new method called something like `setModel(Model)`, which would basically make the `Data` object identical to a newly-created object

This would allow more flexibil

[2019-01-16 16:10] gabrielebndn commented on #641
Is there a specific reason why this was not done? Otherwise I can do it

[2019-01-16 16:15] jcarpent commented on #641
Copy and assignment operators are already implicit.
The copy constructor is also implicit.

The default constructor would mean nothing because a data is defined from a model. This is how Pinocchio has been thought initially. In addition, if you provide later the information of the model, then it means that you will do dynamic memory allocation, which may be bad in some sense. That's also why we ha

[2019-01-16 16:16] jcarpent commented on #640
Yes, Pinocchio is compatible with Python 3. I need to update the https://github.com/Gepetto/homebrew-gepetto/blob/master/Formula/pinocchio.rb formula to take into account the latest Pinocchio version as well as Python 3.

@jbmouret Thanks for this kind report.

[2019-01-16 16:52] gabrielebndn commented on #641
I just was not sure that the implicit copy/assignment operators would work fine, but on a second thought they should.

I was thinking of a particular use-case where those features might be needed, but I think I solved my problem.

Thanks, I'll close the issue

[2019-01-16 16:52] #641 closed

[2019-01-16 17:17] nim65s commented on #640
Hi @jbmouret,

We have been working on assuring compatibility with Python3, but sadly it is still not a first class citizen.

To develop a bit @jcarpent answer, I would say that Pinocchio should be working with Python 3, but:
- It is not as tested as Python 2 because our user base is still using almost only Python 2 ;
- [An annoying bug in eigenpy](https://github.com/stack-of-tasks/eigenpy/issues/

[2019-01-16 17:21] jbmouret commented on #640
Thanks. So far I managed to compile half of the source with: `cmake .. -DPYTHON_EXECUTABLE=/usr/local/opt/python/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -DPYTHON_LIBRARY=/usr/local/opt/python/Frameworks/Python.framework/Versions/3.7/lib/python3.7/config-3.7m-darwin/libpython3.7m.dylib -DPYTHON_INCLUDE_DIR=/usr/local/opt/python/Frameworks/Python.framework/Versions/3.7/include -DCXXFL

[2019-01-16 17:32] jcarpent commented on #640
It is because you've installed eigenpy for Python2 (through brew I guess).
I've just updated the homebrew-gepetto repository for this purpose.

[2019-01-16 17:47] jcarpent commented on #640
@jbmouret I've just updated the Formulas for pinocchio.
You can now install pinocchio with Python3 support through:
`brew install pinocchio-python3`

[2019-01-16 20:18] jbmouret commented on #640
Perfect! it's working.

[2019-01-16 20:18] #640 closed

[2019-01-17 14:17] FCam1 opened #642 "Encountering issues in examples"
Hi,
I am trying to execute some examples like [this](http://homepages.laas.fr/nmansard/teach/robotics2018/tp3_example_mobilerobot_py.html) one but I have an error at the line `robot.increment(q,vq*DT)`. It seems that this function doesn't exist anymore, by which one can I replace it ? Thanks

[2019-01-17 14:18] proyan commented on #642
`se3.integrate(robot.model, q, vq*DT)`

[2019-01-17 15:10] proyan commented on #642
I'll close this.

[2019-01-17 15:10] #642 closed

[2019-01-17 17:03] FCam1 opened #643 "Encountering issues in 1st example"
Hi,
I am trying to execute this ["example"](https://github.com/stack-of-tasks/pinocchio/blob/f665f3f93669860beb8e80388ed3b52043ddd868/doc/d-practical-exercises/1-directgeom.md) but `visualRef  = robot.viewerNodeNames(visualObj)` doesn't exist anymore, by which one can I replace it ? I tried `viewerVisualGroupName` and others but is not working.
Thanks

[2019-01-17 20:31] Adrien987k opened #644 "Error when trying to import pinocchio"
Hi,

I am trying to import pinocchio on linux (ubuntu) but I get the following error :

[code]

I installed pinocchio and configured environment variables exactly as it is described. Moreover assimp is installed on my system.

Thank you in advance.

[2019-01-17 21:34] nim65s commented on #644
Hi @Adrien987k

On my system on 16.04, where `import pinocchio as pin` works, I have:
[code]

Can you check if you have something similar, and if the package `libassimp3v5` is correctly installed ?
If this does not leads you to the solution of your issue, can you provide your ubuntu version ?

[2019-01-17 21:35] nim65s commented on #644
I assumed that you installed it with the APT package `robotpkg-py27-pinocchio`, otherwise, can you tell me which method did you use ?

[2019-01-18 13:13] gabrielebndn commented on #643
Ho @FCam1, the method functionality has been replaced by
`robot.getViewerNodeName(geometry_object, geometry_type)`
For a visual object, as in your case, you should use
`robot.getViewerNodeName(visualObj, pinocchio.GeometryType.VISUAL)`

[2019-01-18 13:13] #643 closed

[2019-01-19 07:58] jcarpent commented on #644
@Adrien987k everything goes fine?

[2019-01-19 12:19] Adrien987k commented on #644
Yes, I am sorry I forgot to reply.

FinaIly, I am using the virtual machine where everything is already installed.

[2019-01-19 13:42] jcarpent commented on #644
Ok. Sounds good.

[2019-01-19 13:42] #644 closed

[2019-01-19 18:23] lliill opened #646 "non-correspondence between number of joints and number of neutralConfiguration parameters"
We work with NAO in inverse kinematics.
NAO have 44 joints while the `model.neutralConfiguration` gives 65 parameters. There is a non-correspondence between number of joints and number of neutralConfiguration parameters, so we cannot program the next step by setting each joint.

[2019-01-20 09:40] jcarpent commented on #646
With the model I have in the attached file, everything goes well. Which model of Nao are you using?

[nao.urdf.zip](https://github.com/stack-of-tasks/pinocchio/files/2776440/nao.urdf.zip)

[2019-01-20 10:07] Adrien987k commented on #646
We have a NAO h25V33,

The problem is that a configuration is of size 65 and there are 44 joints. We want to find out which value of the configuration correspond to wich joint. Is there an easy way to do that with pinicchio ?

[2019-01-21 21:04] nmansard commented on #637
@proyan I close this issue, feel free to reopen if need be.

[2019-01-21 21:04] #637 closed

[2019-01-21 21:07] nmansard opened #648 "Derivatives of impulse dynamics"
I need to compute the derivatives of the impulse dynamics, i.e of the function:
i(q,dv) = M(q) dv + J(q)^T f
I need the derivative of i with respect to q di/dq.
i(q,dv) can indeed be computed from rnea: i(q,dv) = rnea(q,v=0,a=dv) when gravity is null, or less efficiently i(q,dv) = rnea(q,v=0,a=dv) - rnea(q,v=0,a=0). I can of course either turn gravity of just before calling drnea, or calling drnea

[2019-01-24 21:59] #646 closed

[2019-01-27 07:59] nmansard commented on #648
Ok. I can wait but would need this feature soon.
I can surely implement what I described in the top text, from drnea, by removing unecessary terms related to gravity and centrifugal forces, but would certainly prefer that you provide the full impact derivatives if you already have them.

[2019-01-27 08:04] nmansard opened #651 "Distance / projection on configuration manifold"
I need to put a constraint in an optimization problem to keep my configuration parameter on the configuration manifold. Typically force the quaternion to be unit. In Python.
I can off course implement that explicitly (if the joint is a freeflyer, then constraint the norm of q[3:7] to be 1) but I am wondering if such a "distance-to-manifold" function is already implemented in the C++ api. Surely, H

[2019-01-27 08:14] jcarpent commented on #648
I let it open because it is a requested feature.

[2019-01-27 08:19] jcarpent commented on #651
As far as I know, there is no reason to do that. You should instead work on the tangent manifold directly and use the dedicated integrators: that all the goals of Pinocchio, i.e. working on the correct geometry!

If you need to normalize your configuration vector, then there is in the Lie group API something called `normallize`, but this is NOT inside the Joint API and it is not recommended to use

[2019-01-27 08:20] jcarpent commented on #648
By the way, you can just do better than you suggest for getting the impulse dynamics. I will provide it soon.

[2019-01-29 08:52] jcarpent commented on #651
I close this issue. Feel free to reopen it.

[2019-01-30 16:53] nmansard commented on #651
I dont agree. Most solvers do not provide a manifold-able interface. Here I was using SciPy SLSQP, which is a good solver, but must work with the constraint. Alternatively, you can work in the tangent space to a reference point that will not be automatically adapted during the optimization, and this is costly and can lead to discrepancy when working to far from the reference point.

@jmirabel  How

[2019-01-30 17:01] jmirabel commented on #651
Yes.

[2019-01-30 22:22] wxmerkt opened #654 "urdfdom shared pointer redefinition on Ubuntu 18.04"
On Ubuntu 18.04, the ROS-shipped urdfdom already has the types (casting) that are defined in `types.hpp` when using the define to turn std_shared_ptr on. Pinocchio can be compiled and used when commenting out (the same definitions are shipped with urdfdom):

[code]

[2019-01-30 22:43] jcarpent commented on #654
This is shipped with urdfdom since 0.4.0
I guess you are not able to detect the version of urdfdom with pkg-confit. Can you show the value of URDFDOM_VERSION in cmake?

[2019-01-31 09:11] wxmerkt commented on #654
The compilation of Pinocchio is actually fine, packages that depend upon it using pkg-config suffer - the issue appears to be that catkin generates its own pkg-config files that do not contain the definitions added via `PKG_CONFIG_APPEND_CFLAGS`.

I have implemented a `CFG_EXTRAS` [CMake workaround](https://github.com/ipab-slmc/pinocchio_catkin/commit/9f2aaa3fcfab9b673502ac2bdebfc69e45a0670e) that

[2019-01-31 09:11] #654 closed

[2019-01-31 09:17] jcarpent commented on #654
Ok. Is there something special in their pkg file? Would it be possible to overwrite it?

[2019-01-31 09:22] wxmerkt commented on #654
The challenge is that we are using an `ExternalProject_Add` logic for packaging and then copy/install the required files. The Pinocchio-generated pkg-config have all paths defined at the top of the pkg-config, and we would need to replace those when overwriting the pkg-config file.

[2019-01-31 09:53] jcarpent commented on #654
Certainly, we have to adapt the jrl-cmake-modules to be more compliant with Catkin.

[2019-01-31 10:37] olivier-stasse commented on #654
Dear Wolfgang I am not sure I get the problem.
For now what I have seen is the following problem. When installing through binaries on bionic, pinocchio is also installing robotpkg-urdfdom which is the 0.3.0 version. This is problem on our side that we can probably fix and use the default bionic version.

[2019-01-31 10:46] wxmerkt commented on #654
Hi Olivier,
We are using a different approach and not `robotpkg`. The aim is to be able to fully build `pinocchio` in a catkin workspace and depend on it by `find_package(catkin REQUIRED COMPONENTS pinocchio)` (in lieu of `pkg_check_modules(pinocchio)`). The background is that all required dependencies can be resolved via `rosdep install -iy --from-path` - and most users right now suffered from re

[2019-01-31 11:08] olivier-stasse commented on #654
If this is just a matter or adding a package.xml file in the main repository following
http://wiki.ros.org/bloom/Tutorials/ReleaseThirdParty
then we could probably consider it.

[2019-01-31 11:19] wxmerkt commented on #654
We already completed the packaging:

- https://github.com/ipab-slmc/eigenpy_catkin
- https://github.com/ipab-slmc/pinocchio_catkin

We are happy to maintain this and release it upstream via the ROS buildfarm. For now the only thing not working is _the catkin-generated pkg-config as it does not support the add_definitions added preprocessor directives_. This is due to a limitation with the `.pc` fi

[2019-01-31 11:57] olivier-stasse commented on #654
Excellent !
Thanks a lot for this work.
Just out of curiosity, how are you handling hpp-fcl ? I was a bit worry because this is a fork from fcl. It has a different namespace so this should not a problem. I guess that in your current setup this not selected.

[2019-01-31 13:04] wxmerkt commented on #654
We are not using `hpp-fcl` for the packaging or in the catkin wrapper. It could be as easily exposed though (we are exposing the latest `fcl` as `fcl_catkin`, which is also available via ROS binaries). What are the differences to the mainstream fcl and are there any plans to upstream them?

[2019-01-31 13:54] jcarpent commented on #654
I think @jmirabel and @florent-lamiraux are the right persons to answer this last question?

[2019-01-31 14:09] jmirabel commented on #654
Additional features:
- collision with tolerance (i.e. in collision if d < thr, and not d < 0, where thr >= 0),
- computation of a lower bound of the distance in collision queries.

Other changes:
- removal of dead code or code not relevant to collision detection library,
- restriction to only one GJK algorithm (remove dependency to libccd),
- bug fixes + unit-test in collision / distance query bet

[2019-01-31 14:50] wxmerkt commented on #654
Thank you very much for the detailed summary - and those improvements are much needed and appreciated (alas, I only learnt about the advantages now - we spent a lot of time looking into debugging FCL issues).

[2019-01-31 14:52] jcarpent commented on #654
Then, @wxmerkt do you think possible to put `hpp-fcl`inside ROS in order to provide Pinocchio with collision checking for instance?

[2019-01-31 15:45] jmirabel commented on #654
Currently, the only possible collision between FCL and hpp-fcl is the C++ namespace.

It is blocking only for people who plan to use both FCL and hpp-fcl in their code. It will be a problem if, by means of dynamic library loading, both libfcl.so and libhpp-fcl.so gets loaded. The application will crash in such case.

We should probably change the namespace in hpp-fcl.

[2019-01-31 15:48] jmirabel commented on #654
I opened an issue: https://github.com/humanoid-path-planner/hpp-fcl/issues/51

[2019-01-31 16:08] wxmerkt commented on #654
Thank you for pointing this out. I have created a wrapper for hpp-fcl and will test it with Pinocchio for packaging. It would be good though if the namespace clash is resolved before we target a release.

[2019-02-01 13:26] proyan opened #656 "Definition of neutral configuration"
We currently have two definition for a neutral configuration for a model.
1) model::neutralConfiguration, which can be set by srdf, and is being used for loading the half-sitting posture of a robot.

2) pinocchio::neutral(model) in joint-configurations.hpp, which returns the equivalent of zero for the joint manifold.

In my opinion, we should change one of these names. Both of these could be used

[2019-02-01 13:47] jcarpent commented on #656
We already discussed this point with @jmirabel and we decided to modify the neuralConfiguration.
I would be more to remove it completely and let the SRDF parser returns the value as a ConfigVector type.

[2019-02-01 14:58] proyan commented on #656
I would be okay with this change.
However, we still need to give a name to what used to be neutralConfiguration for loading with srdf.
If you are not saving it in model anymore, I would recommend defaultConfiguration as the replacement.

[2019-02-01 15:11] jcarpent commented on #656
I would prefer `referenceConfigurationVector`but this one should not be in Model class.

[2019-02-01 15:54] proyan commented on #656
I like that name.

I'll put neutralConfiguration and the srdf function to deprecated, and create a PR with the new names.

[2019-02-01 16:03] jcarpent commented on #656
OK. Sounds good to me!

[2019-02-02 11:19] nmansard commented on #656
If not added to model, where do you want to put it?

[2019-02-02 11:31] jcarpent commented on #656
I think this information should not be inside model because you may have various referenceConfigurationVector. But we may provide just a function to load it from a SRDF file.

[2019-02-02 14:40] jmirabel commented on #656
For me, referenceConfigurationVector means there are several configurations. I don't think Vector adds anything. I would name it referenceConfiguration(s) depending on the number of reference configuration.

If there are several configurations, I think I would store them into a map in order to assign a name to each.

Having a function to extract it from a SRDF is not convenient. It forces develope

[2019-02-03 17:42] wxmerkt opened #657 "Unbundle gepetto-viewer dependency - alternative visualisers"
`gepetto-gui` is fairly brittle (requires nameserver restarts and manual deletion of files). Ideally, we'd like to have a viewer that works out of the box. Pinocchio is currently bundled so I think it would be good if we could swap in/place other viewers as desired (e.g., as options provided to the `RobotWrapper`).

While `rviz` may be a good alternative for people working with ROS, it's not the b

[2019-02-03 19:41] jmirabel commented on #657
You are not the only one having troubles with the omniorb name server. I dig a bit and discovered that it is *not too* hard to get rid of the name service. I will try to implement it soon.

If you are familiar with Meshcat, it shouldn't be hard to hack RobotWrapper class to use it.

[2019-02-04 06:51] jcarpent commented on #657
@wxmerkt We have been discussing this topic for a while (see #180) but without taking a final decision. We were mostly thinking on using Panda3d which is available on all the common OS and with Python bindings. For instance, we must be able to load dae files, and Panda provides such a parser.
@wxmerkt What is your opinion?

[2019-02-04 10:03] wxmerkt commented on #657
Thank you for the pointer to the previous discussion. We generally have bad experiences with VTK (version conflicts with Qt that are non-trivial to resolve, especially when used on machines with more dependencies, e.g., ROS, PCL, third-party libraries using VTK). Less important, the `PreMultiply`, `PostMultiply` operation order for transforms is not as straightforward as we'd hope for.

Panda3D lo

[2019-02-04 11:08] proyan commented on #656
I think srdf files are meant to be customizable by the developers. So saving this map `name->configuration` in an srdf file, and making this file available in the <robot>-description should not be a  problem.
As developers, we are storing the urdf filenames as well when we load a robot. i don't see why srdf should be different.

[2019-02-04 13:52] jcarpent commented on #657
Browser rendering seems a very nice feature. I would vote for it.
I will have a try with MeshCat then.

[2019-02-04 14:04] gabrielebndn opened #658 "Joint-configuration algorithms are performing memory allocation"
A lot of emphasis is put on the idea that Pinocchio algorithms *never* perform any memory allocation, relying on storage inside `Data` or in the user passing the required memory,  as in the case of `getJointJacobian(model, data, jointId, rf, J)`, where the result is written in matrix `J`.

However, pretty much all algorithms contained in [joint-configuration.hpp](https://github.com/stack-of-tasks/

[2019-02-04 14:31] wxmerkt commented on #657
Thank you, Justin! I am happy to be your beta tester :-)

[2019-02-04 14:58] jcarpent commented on #658
For simplicity, both should exist, an extended signature with output results in the arguments, and the simpler one, with the default return value. What do you think?

[2019-02-04 16:48] gabrielebndn commented on #658
I agree

[2019-02-04 19:39] aelkhour commented on #657
Ping @matthieuvigne who is also getting desperate with gepetto-gui :-)

[2019-02-04 22:17] matthieuvigne commented on #657
Thanks, that sounds promising!
I was indeed a bit disappointed by the performances of the latter releases of gepetto-gui, and I was thinking of trying to code something more simple and straightforward, getting rid of the corba server and using simple IP protocol. MeshCat  seems to be doing just that, with ZMQ sockets. I'll give it a try and see how it goes.

[2019-02-05 09:10] nim65s commented on #657
As I have been saying internally for a few years, I would be reaaaally happy if we could use ZMQ instead of Corba :)

[2019-02-05 09:29] cmastalli opened #659 "Problem with getNeutralConfiguration"
Recently I installed from source pinocchio v2.0.0 in my Ubuntu 16.04 machine. So far I managed to install it without any problem. However I found the following error:
[code]
when I run the following python code:
[code]

**I tested this code with talos-data**

[2019-02-05 09:39] cmastalli opened #660 "Compiling pinocchio v2.0.0 and RobotWrapper"
RobotWrapper doesn't work with default cmake settings for pinocchio v2.0.0. compilation. Indeed, pinocchio (Python) module haven't functions such as `buildGeomFromUrdf`.

I figured out that it's needed to enable BUILD_UTILS in the cmake setup. I wonder if there is any reason for this, or if this is a compilation bug.

[2019-02-05 10:10] cmastalli commented on #659
I figured out the problem. The latest release of talos-data uses ongoing development (inside devel branch).

@olivier-stasse please note that version talos-data v0.0.21r3 isn't working with Pinocchio v2.0.0. Instead v0.0.21r2 works pretty well.

[2019-02-05 10:10] #659 closed

[2019-02-05 13:02] jcarpent commented on #660
Do you have installed hpp-fcl?

[2019-02-05 13:07] cmastalli commented on #660
No, I don't

[2019-02-05 13:08] jcarpent commented on #660
`buildGeomFromUrdf` is only compiled if hpp-fcl is found. Because it loads meshes and so on. But, the `RobotWrapper` should still work.

[2019-02-05 13:10] jcarpent commented on #660
Can you provide a self-content example?

[2019-02-05 20:03] jcarpent commented on #660
@cmastalli do you still face this issue?

[2019-02-06 10:11] #660 closed

[2019-02-06 12:47] cmastalli commented on #660
I just want to report that I don't face this issue if I install hpp-fcl.

[2019-02-06 22:06] matthieuvigne commented on #657
I gave a quick trial to Meshcat, developping in python a basic example of what a "RobotWrapper" could look like.  Here are the files for testing it on your own: it contains tow simple examples that display the Katana robotic arm in random configuration, using Meshcat or gepetto-gui.

[katana.zip](https://github.com/stack-of-tasks/pinocchio/files/2838381/katana.zip)

I invite you to give it a try a

[2019-02-07 08:03] matthieuvigne commented on #657
Concerning performances, here is something else to give toughts to. I'm only encountering performance issues when displaying large number of meshes (typically around 40) in gepetto-gui. So I tried to see how meshcat would behave when displaying more meshes - to do that, I simply displayed several copies of the katana arms.
This shows that, as I add more meshes, the execution time of the meshcat ex

[2019-02-07 08:44] jcarpent commented on #657
@matthieuvigne Thanks for your quick feedback on MeshCat. The performances seem to be convincing.

@matthieuvigne Can you make a PR for the RobotWrapper in order to integrate the support of MeshCat? The ideal would be to keep the compatibility with the previous gepetto-gui, but to be also able to use MeshCat with a flag when initializing the display.

[2019-02-07 08:48] jmirabel commented on #657
This is also implemented in gepetto-gui but not used by Pinocchio. It could be done automatically though.

[2019-02-07 08:54] jcarpent commented on #657
@jmirabel Can you add this feature too in Pinocchio?

[2019-02-07 09:04] cmastalli commented on #657
@matthieuvigne  very nice. It just missing the DAE and STL support

[2019-02-07 11:58] wxmerkt commented on #657
Very nice and thank you so much for the benchmark @matthieuvigne. Adding DAE and STL support is easy - three.js has loaders for it and it's just another switch statement in the MeshCat code (I used to have that in a local copy but can't find it right now). Happy to add the DAE/STL support once the main PR is in :) Also agree with a C++ client interface...

[2019-02-07 15:29] jmirabel commented on #657
https://github.com/Gepetto/gepetto-viewer/pull/77 enables automatic caching of the meshes.

[2019-02-07 16:29] jcarpent commented on #657
@jmirabel What do you mean by automatic caching. It will load all for once the meshes, avoiding duplication?

[2019-02-07 16:42] jmirabel commented on #657
It will not load twice the same file. It also implements https://github.com/Gepetto/gepetto-viewer-corba/issues/103

[2019-02-07 18:41] jmirabel commented on #657
@matthieuvigne I bet in your case, the majority of the 60% of communication time is spent in creating the communications, rather than sending data because it only sends small amount very often.

Last time I had troubles with connection being slow with gepetto-gui, I solved it by using applyConfigurations rather than applyConfiguration, which sends several configuration at the same time. The case w

[2019-02-07 21:32] matthieuvigne commented on #657
Thanks for the feedback.

I'll start by integrating Meshcat support in RobotWrapper  - @wxmerkt I'll leave you the STL/OBJ support. I'll then see as I use it - and as the changes you mentioned @jmirabel are merged in gepetto-gui - if performance is still an issue for my use case. If needed I'd give a try to a C++ implementation to see how much faster it can get, and depending on the results develo

[2019-02-08 09:12] nmansard opened #663 "Separating the functionnalities of RobotWrapper"
This is related to #657

RobotWrapper implements 3 very different sets of functionalities:
- it loads the 3 models (kinematics, visuals, collisions) and create the corresponding data.
- it implements nice object-oriented wrappers around pinocchio main algorithms, useful for newcommers.
- it implements the bindings with the viewer, by creating the viewer client, loading the geoms, computing their p

[2019-02-08 09:15] jcarpent commented on #663
I would change also the syntax:  not using `loadModelsFromUrdf` but rather `loadModelsFromURDF`

[2019-02-08 09:16] jcarpent commented on #663
Concerning `RobotWrapper`, is already compatible with the creation from a Pinocchio `Model`.

[2019-02-08 09:17] jcarpent commented on #663
@nmansard Can you say in your discussion what are 1, 2 and 3?

[2019-02-08 09:26] jmirabel commented on #657
Modifying RobotWrapper to use applyConfigurations, using comprehension list and make the conversion in C++ (`se3ToXYZQUATtuple`), as show above, I divide the execution time by 2. It could be divided further by caching the list of objects and indices to send to the viewer.

Anyway, I think there is something wrong with the test. It does not make sense to send at more than 50Hz new object poses to a

[2019-02-08 09:29] jmirabel commented on #657
See branch conversions on my fork.

[2019-02-08 09:33] nim65s commented on #663
Conventions in python are `RobotWrapper` for class names, and `load_model_from_urdf` for functions / methods: https://www.python.org/dev/peps/pep-0008/#class-names / https://www.python.org/dev/peps/pep-0008/#id45

[2019-02-08 09:39] jcarpent commented on #663
@nim65s But we need to stick to the C++ conventions I think, because we are only doing Python bindings and we want our code to interoperate between both languages.

[2019-02-08 09:51] nim65s commented on #663
I disagree. I don't see why we could not respect c++ standards in c++ and python standards in python.

Also, this will upset users that are used to python and not c++. And this will also upset linters, if we ever come to use them.

And we agreed on using Google Coding Style, which says to follow this PEP8 for python.

And Boost Python is also using this style.

But these discussions have nothing t

[2019-02-08 09:53] jcarpent commented on #656
@proyan Can you take in charge the requested modifications?

[2019-02-08 09:54] gabrielebndn commented on #663
I do agree on separating the visualization from the wrappers functions, but I do not see any point on implementing a loadModelsFromURDF function. We have buildModelFromUrdf and buildGeomFromUrdf. What would a loadModelsFromURDF change? Writing one line instead of three? I think functionalities 1 and 3 can easily stay merged

[2019-02-08 09:55] jcarpent commented on #663
When discussing this point with @nmansard , the idea was to load geometries, mechanism at the same time by just providing once the URDF file.

[2019-02-08 10:03] gabrielebndn commented on #663
Really, the only advantage I see is that the user writes one line instead of three. The current interface is complete and intuitive enough, I think. Or maybe you want to fully rewrite the C++ function so that the URDF is only parsed once, for performance reasons? But I do not see much point in that, as URDF parsing is not time-critical in any way, and such a move would just complexify maintainance

[2019-02-08 10:51] gabrielebndn commented on #663
What about:
- Defining a common interface for a generic viewer: each viewer client class is expected to implement methods initDisplay and display(q). They could also take care of the loading part, or maybe not
- Implement a GepettoViewerClient class for Gepetto Viewer
- Implement a MescatViewerClient class for Meshcat
- keep a viewer variable inside RobotWrapper, set by the user, which will be eit

[2019-02-08 10:54] nmansard commented on #663
I like this proposition.

In Python, I do think that writting 3 lines instead of 1 matters. A
little bit at least. I will not fight for this idea, but I will fight
for applying the same policy in RobotWrapper, otherwise people will
continue using RobotWrapper to spare the 2 extra lines of code while not
really using RobotWrapper.

I don't think that having the same Pinocchio::Data in both the view

[2019-02-08 14:10] proyan commented on #656
I am not sure if we all agree on the same modifications. Are you okay if I implement the suggestion of @gabrielebndn?

[2019-02-08 14:53] jcarpent commented on #656
I think we all agree that `neutralConfiguration`is now deprecated, and should be replaced by something much more generic like referenceConfigurations.
I think the idea of @jmirabel of having a map<string,ConfigVectorType> is nice and very flexible.

Then, the loading of a reference configuration vector from a SRDF file should take as input the name of the reference configuration inside the SRDF fi

[2019-02-08 20:36] gabrielebndn commented on #656
@jcarpent so you would keep the map<string,ConfigVectorType> as a variable inside the Model class?

[2019-02-09 08:37] traversaro commented on #657
Back in time I was investigating as well the possibility of having a C++ library for MeshCat for integration in [iDynTree](https://github.com/robotology/idyntree). I never progressed due to the lack of time, but I had some relevant links in https://github.com/traversaro/not-working-meshcat-cpp/issues/1 , perhaps they could be interesting.

One of the things I was not sure about was if the C++ libr

[2019-02-09 13:47] matthieuvigne commented on #657
I agree this isn't the intended use, this test was just a quick way of measuring how fast the communication was. Even if for a typical application you would want to communicate at 50Hz, it doesn't change the fact that I feel the communication for both gepetto-gui and MeshCat takes a lot of client time, I think due to the fact that communication and rendering are synchronized. Typcially, for my exa

[2019-02-09 14:28] jmirabel commented on #657
in `robot.display(q)`, the only synchronized call is *refresh*. It would not be hard to make it asynchronous. It is not always desirable but it can be parametrized.

Apply the client-side changes I mentioned and you already divide it by 2. I believe with little work you can even improve it. I can give you some hints.

Are you sure of this statement ? TCP involves synchronous inter-process communic

[2019-02-10 10:22] matthieuvigne commented on #657
I'm no communication expert so it's more of an intuition than anything. Clearly there is a major overhead for sending individual messages, so I was thinking more along the line of sending one large message, ideally using UDP, to some rendering server - and I think we agree that shouldn't take long. I know there are inter-communication protocols faster than TCP/UDP but I also never gave them a try.

[2019-02-10 13:06] olivier-stasse commented on #657
On the same computer good middleware used either IPC or multithread communication. The use of TCP, UDP is normally left to inter-computer communication. Benchmarking CORBA on real-time OS on a 5ms loop, the cost of a CORBA/omniorb call was negligeable compare to the other computation.

WRT to middleware, at least two middlewares used in the past transformed on meta-middleware: ROS1->ROS2 and a LAA

[2019-02-10 13:30] olivier-stasse commented on #657
On the other hand, I really like the idea of having a viewer using web-gl. wviz is another project related to this approach

[2019-02-10 15:10] jmirabel commented on #657
I like that too.

[2019-02-11 06:57] olivier-stasse commented on #657
See #662 and #663, at least we should avoid to avoid too many dependency in pinocchio. For me a GUI inside a library initially targeted to do computation for control is *not* a necessary dependency. I would be fine for a package making the link between meshcat and pinocchio and everything necessary (including ZeroMQ)

[2019-02-11 09:40] jmirabel commented on #663
Just a thought: Is there a reason to organize RobotWrapper such that it contains some Viewer member, rather that letting the Viewer having a RobotWrapper member ?

[2019-02-11 10:24] matthieuvigne commented on #663
@gabrielebndn I like this idea of a generic viewer interface - it will be much more maintainable than the current (long) ```RobotWrapper``` code. As @jmirabel proposed, I think it would make sense to have a RobotWrapper instance as a member of the viewer.

[2019-02-11 10:36] aelkhour commented on #657
Side question, how hard is to have python3 support for either solution?
- `gepetto-gui` seems to require a lot of install from source on Ubuntu 18.04, down to omniorb python3 bindings (I couldn't find `python3-omniorb`)
- I managed to run `pip3 install meshcat` but haven't tried it yet.

[2019-02-11 10:45] jmirabel commented on #657
It isn't hard but requires compilation. OmniORB has Python3 support but it isn't packaged yet so you must compile OmniORB and OmniORBpy. In https://github.com/Gepetto/gepetto-viewer-corba/issues/85, it was reported to be straightforward.

[2019-02-11 10:51] jcarpent commented on #663
@jmirabel I think if we split Viewer and Wrapper, then there is no need of having information relative to the viewer inside the RobotWrapper, and reversely.

[2019-02-11 13:10] jmirabel commented on #663
@jcarpent I guess there has to be some shared information, hasn't it ?

[2019-02-11 13:14] jcarpent commented on #663
Only the Model and the GeomModel for both collision and visualization, but they can be built by just copying information. But nothing else.
I think we should really split both structures for clarity and simplicity.

[2019-02-11 14:49] gabrielebndn commented on #663
I think it's convenient to keep the functionality in the wrapper. Once the viewing part is modularized, there is no reason not to give an interface in the wrapper. Besides, completely removing the display functionalities would instantly break pretty much everybody's Python code. That is also a reason for putting the viewer inside the wrapper and not vice versa: compatibility

[2019-02-11 14:56] gabrielebndn commented on #663
Actually, I do not see the point of putting a wrapper inside the viewer classes. If the wrapper is meant to be used internally by the viewer, then the normal Pinocchio functions might as well be used. If the wrappers methods are meant to be employed by the user, then I do not see it as a nice solution that the user should access them through an instance variable. A more elegant and python-like way

[2019-02-11 14:59] gabrielebndn commented on #663
The collision model is only needed by the wrapper, I think, while the visual model is only needed by the viewer, and the Model is needed by both. Corresponding data objects might or might not be shared (I favor sharing them)

[2019-02-11 16:18] jcarpent commented on #663
@gabrielebndn you may want to plot the collision shapes too.

[2019-02-11 20:24] pFernbach commented on #656
Related to https://github.com/humanoid-path-planner/hpp-pinocchio/issues/83 in hpp-pinocchio. I am also in favor of a map name->configuration and a method that initialize this map with all the group_state tags defined in the srdf.

[2019-02-11 20:38] jcarpent commented on #656
@pFernbach It sounds reasonable.

[2019-02-11 20:39] jcarpent commented on #656
@gabrielebndn Sorry for the late reply, but currently this is the only option I see.

[2019-02-11 21:15] gabrielebndn commented on #663
I am thinking that one of the stated purposes of separating the visualization part from the wrapper is so that "robot wrapper would not be systematically used". If we put a wrapper inside the viewer, that would basically defeat that purpose. So, I would rather keep the viewers as a completely separate entity that knows nothing about the wrapper, but then put a viewer inside the wrapper, as an addi

[2019-02-12 12:13] jcarpent commented on #639
Another point related to #664 is to make uniform the step used in finite differences checking.

[2019-02-12 13:09] proyan commented on #656
Ok. I'll implement this change.

[2019-02-13 06:26] markusgft opened #667 "ssh-path in .gitmodules limits easy access for certain users."
Hi all,
when cloning the source-code of the current master, certain users may encounter the following problem: currently, there is a SSH-address hard-coded in ".gitmodules", namely
`
url = git://github.com/jrl-umi3218/jrl-cmakemodules.git
`
From within some institutions and universities, it is impossible to access external sources via SSH. It would be great if you could change the URL to
`url = ht

[2019-02-13 06:38] markusgft opened #668 "Passing static constructors of Eigen-types to pinocchio methods"
Hi all,
this is not an urgent issue, but for the sake of documentation, let me note it here:

For newer Eigen versions (tested with 3.3.5 and 3.3.3), there is a compilation error when passing statically constructed arguments to pinocchio methods.

For example, if you try to compile
`pinocchio::forwardKinematics(model_, data_, JointPosition_t::Zero());`

you will obtain the compiler-error
`
/usr/lo

[2019-02-13 08:11] jcarpent commented on #667
Ok. Sounds reasonable.
I will fix it now.

[2019-02-13 08:15] jcarpent commented on #668
Ok. I won't have time to fix today, but I will do it in the next few days.
@markusgft Thanks a lot for raising this important issue.

[2019-02-13 08:36] jcarpent commented on #658
@gabrielebndn Can you take in charge the corresponding PR?

[2019-02-13 08:39] jcarpent commented on #651
@nmansard Do you want to add additional functions to perform this projection?
From my side, the function `normalize`does the trick for us and it is not needed to add the distance version, as it is just a call to `normalize` and `distance` algos.

[2019-02-13 08:39] jcarpent commented on #638
@nmansard Ping. Do you want to maintain this issue opened?

[2019-02-13 08:40] jcarpent commented on #571
I will provide a solution for this issue soon.

[2019-02-13 08:41] jcarpent commented on #375
@florent-lamiraux Would you have time to solve this issue?

[2019-02-13 08:41] jcarpent commented on #545
@gabrielebndn Ping. What is the status of this issue?

[2019-02-13 08:42] gabrielebndn commented on #658
Ok. Will do it as soon as possible

[2019-02-13 08:57] jcarpent commented on #667
Solved by #669.

[2019-02-13 09:14] gabrielebndn commented on #545
We haven't talked about it, but it's still in my mental list of TODOs. I am reluctant to take action because I feel any change might potentially change some behavior and I feel any decision on this should be shared. If you agree, I will leave C++ untouched and I will change Python's jointJacobian to reflect C++ . Then I will probably take similar measures with the frameJacobian

[2019-02-13 09:20] nim65s commented on #667
For me, the solution is `url = ../../jrl-umi3218/jrl-cmakemodules`
This way, if you use `git clone --recursive https://github.com/stack-of-tasks/pinocchio` the submodule will be cloned in https, and if you use `git clone --recursive git@github.com:stack-of-tasks/pinocchio` the submodule will be cloned in ssh.

[2019-02-13 10:00] jcarpent commented on #667
Looks fine to me too.
I will update my PR with it. @nim65s Thanks for this nice detail.

[2019-02-13 11:33] proyan opened #671 "Dealing with armature in crba, computeAllTerms and other dynamics algos"
Currently we can load the rotor parameters inside Pinocchio, but they are not used anywhere in the algorithms.
As a result, forwardDynamics, and ImpulseDynamics are useless if you need the armature, since both internally computes the mass during computeAllTerms.

I can take care of adding the armature values to crba and computeAllTerms by either:
1) Modify the current algos and add a (by default a

[2019-02-13 11:56] jcarpent commented on #671
The problem of the armature is for multi-dof joints.
Currently, I do not see how to handle them correctly in this meaning.

[2019-02-13 11:57] jcarpent commented on #667
Solved by #670.

[2019-02-13 11:57] #667 closed

[2019-02-13 12:23] jcarpent commented on #545
I do agree. You can then move forward.

[2019-02-13 12:35] gabrielebndn commented on #545
Will do

[2019-02-13 15:45] nmansard commented on #571
Most of the teams using pinocchio are just in the middle of the merge toward pinocchio v2. Please be very careful not to damage the current API in any mean.

[2019-02-13 15:49] jcarpent commented on #571
Yes, it won't be the case. It will just use the C++11 feature.
If C++98 is used, then this feature won't be activated and all the code will be compiled as it is the case now.

[2019-02-13 15:51] jcarpent commented on #671
The correct way to deal with armature information would be by implementing #440 features, but no one is available to implement it.

[2019-02-13 15:57] proyan commented on #671
#440 would require plenty of work. It has been open for more than a year, and I don't see that it will be done anytime soon.
However, just adding the available aramature to the mass matrix would provide an acceptable solution for the time being. This would be beneficial for anyone doing control.

[2019-02-13 15:58] proyan commented on #671
Plus, we already save the information in model class.

[2019-02-13 16:05] jcarpent commented on #671
Indeed, we save it as it is now because we have not implemented a convenient and generic solution, as suggested in #440.

[2019-02-13 16:10] jcarpent commented on #671
To conclude, I think you can proceed as 1 but this is not the most elegant and generic solution.
By the way, you should assert that the armature is indeed a positive vector.

[2019-02-13 16:11] proyan commented on #671
I agree it isn't generic. The solution will just be a placeholder untill #440 is solved.
I'll work on it.

[2019-02-13 16:26] nim65s opened #674 "RNEA test fails on 18.04"
Hi,

If I add two `std::cout` to the rnea test on 18.04, I get those results:
[code]

[2019-02-13 16:37] jcarpent commented on #674
Which commit version?

[2019-02-13 17:03] nim65s commented on #674
It was on https://github.com/nim65s/pinocchio/commit/e5a390e75cfe56c02683092787e479e459f65c4b, which is #645 + #673 ; but I can run this test on other commits if you prefer

[2019-02-13 17:06] jcarpent commented on #674
Yes, sure.

[2019-02-14 02:55] proyan commented on #671
Extending Armature to ABA and RNEA:

I understood how to add the armature to the aba (and by extension, abaderivatives). It requires me to:
1) call calc_aba in AbaForwardPass2
2) define a constraintAxisSelector in the constraintBase class (akin to the jointConfigSelector). It takes as input a 6D vector, and returns the segment where jdata.S() is active.

Proposals:
1) (1) seems more intrusive than

[2019-02-14 08:15] jcarpent commented on #656
Solved by #666

[2019-02-14 08:15] #656 closed

[2019-02-14 08:45] nmansard commented on #671
About ABA: adding a new aba-with-armature method seems interesting to
me. I think we can make the assumption that armature is always 0 for
free flyers (as i) it is not mechanically relevant to have armature on a
free flyer and ii) I believe it is equivalent to add armature to a free
joint or modifying the inertia matrix).

About RNEA: I don't think you should consider armature at all in RNEA
and C

[2019-02-14 08:58] gabrielebndn commented on #671
Side note: if armature data are taken into account, then they should also be considered in a lot of other places. In particular, in the corresponding derivative algorithms, in the kinetic energy algorithm, in the centroidal momentum algorithm, and probably somewhere else

[2019-02-14 09:11] proyan commented on #671
I do need to add the armature to the compute-all-terms, since it is used
internally for computations of dynamics and mass is not an output. For
RNEA and CRBA, I am happy with either option. It would not be much of a
difference computationally whether the armature is dealt within
Pinocchio, or outside by the user in case of RNEA and CRBA. The only
reason I would have added is to maintain consistenc

[2019-02-14 09:16] jcarpent commented on #671
So, currently and for your purpose, I think adding armature to CRBA is sufficient and I would prefer to think twice before adding it to other places.
Indeed, by just adding the armature to the mass matrix only, you are not taking into account the Coriolis and centrifugal effects I guess.

Concerning the modification of ABA to take account the armure, I already implemented an elegant solution which

[2019-02-14 09:17] jcarpent commented on #671
So, in conclusion, only implements the account for armature for the computeAllTerms and add a vector to define the generic armature, make suppress the other ones because I think you were the only to use it.

[2019-02-14 09:18] jcarpent commented on #671
From my side, I will implement the efficient ABA version with armature.

[2019-02-14 10:56] jcarpent commented on #671
@traversaro @DanielePucci How do you take into account the armature from your side?

[2019-02-14 11:32] gabrielebndn opened #677 "Python unit tests failing in non-Release mode"
Python unit tests [bindings_com.py](https://github.com/stack-of-tasks/pinocchio/blob/devel/unittest/python/bindings_com.py), [bindings_dynamics.py](https://github.com/stack-of-tasks/pinocchio/blob/devel/unittest/python/bindings_dynamics.py) and [explog.py](https://github.com/stack-of-tasks/pinocchio/blob/devel/unittest/python/explog.py) seem to pass in Release mode, but they fail badly in other co

[2019-02-14 12:19] jcarpent commented on #677
This also means that we need to enforce the debugging check with Travis too.

[2019-02-14 12:46] gabrielebndn commented on #677
I do agree

[2019-02-14 13:10] jmirabel commented on #677
To avoid making Travis take longer by increasing the number of compilations, you also have the possibility to force the compilation flags.

Something like `-O3`, without `-DNDEBUG` and `-g`, would keep the assertions while still doing some optimization. It should do the work.

[2019-02-14 13:11] gabrielebndn commented on #677
I think @jmirabel's solution is a good compromise. At least the assertions will be checked.

[2019-02-14 13:29] traversaro commented on #671
I think @gabrielenava is the right person to point to the relevant code and papers, as he is the one dealing with this. In particular, he also developed a *reflected inertia* controller that accounts also on the coupled joints of iCub.

However, from the technical point all  those modifications are done on the Matlab/Simulink side, i.e. none of the terms that a they are not contained in the floati

[2019-02-14 13:37] gabrielebndn commented on #671
There *are* use cases where you do not want the rotor moment of inertia in your inertia matrix.
Forcefully embedding them in the dynamic computations assumes a strong rigid link  between motor and joint which might not be there.
For instance, for Series Elastic Actuators, the equations are

M ddq + n = K(theta-q)
B ddtheta + K(theta-q) = tau

Where M *does not* include the rotor inertia moments.

[2019-02-14 13:39] jcarpent commented on #671
That motivates the need for transmission and actuation models.

[2019-02-14 14:06] proyan commented on #671
@gabrielebndn @traversaro wrt the issue you raise about adding armature being error prone, this is what @nmansard is proposing in #676 : a separate file armature.hpp which wraps the original algorithms with a suffix withArmature (or something else). This way, the set of algorithms which deal directly with the robot dynamics, and the set of algorithms which include in some way the armature are easi

[2019-02-14 14:21] jcarpent commented on #677
I would add that using O3 and no hard compilation flags won't provide the computation tree, and they may lead to different results.
I think it would be better to add also the Debug flag in Travis too, at least on 16.04. By the way, we may think to stop 14.04, as it will be deprecated in two months now.

[2019-02-14 16:08] gabrielenava commented on #671
The main documentation and theory concerning the `reflected inertia controller` is inside a private organization in github, therefore I copied the relevant info, link to the paper and other important links inside another issue that can be found at the following link:

https://github.com/robotology/whole-body-controllers/issues/61

In particular, adding the motors reflected inertia to the system's

[2019-02-14 16:19] jcarpent commented on #671
@gabrielenava Thank you very much for taking these and providing very nice and useful explanations.

[2019-02-14 16:59] gabrielebndn commented on #677
Solved by #678

[2019-02-14 16:59] #677 closed

[2019-02-14 20:40] DanielePucci commented on #671
In addition to what @traversaro and @gabrielenava said, let me add that [exploiting friction and motor reflected inertia](https://ieeexplore.ieee.org/document/8594505) **in the case of iCub** increased the balancing performances basically from

https://www.youtube.com/watch?v=9XRI4BeXN78&

to

https://www.youtube.com/watch?v=33F2G5mYiHY

@gabrielebndn
Just for your eventual information, if you wer

[2019-02-15 07:10] markusgft commented on #667
Thanks for addressing this issue. Would you mind, however, to also cherry-pick this to the master branch?

[2019-02-15 13:02] proyan opened #681 "examples/overview-simple.cpp does not compile"
After the recent commits, examples/overview-simple.cpp is not compiling anymore.
I get the error: fatal error: cppad/cppad.hpp: No such file or directory

I believe cppad needs to be linked.

[2019-02-15 13:16] jcarpent commented on #681
@proyan Thanks for raising this issue.
I found the bug, I will fix it asap.

[2019-02-15 14:18] jcarpent commented on #658
solved by #679

[2019-02-15 14:18] #658 closed

[2019-02-16 16:53] proyan opened #683 "Why do we have the JointData::F variable?"
This is just a small question. Why do we have the F variable inside some JointData classes? I tried to look for the use, but couldn't find one. Perhaps I haven't been thorough enough.

Is it useful?

[2019-02-16 17:18] jcarpent commented on #683
We don't need it at all. It has been implemented at the origin of the project.
It should be removed in a future release.

[2019-02-16 17:19] proyan commented on #683
Ok. Thanks. I'll close this.

[2019-02-16 17:19] #683 closed

[2019-02-18 09:12] nim65s commented on #674
I'm able to reproduce this on the current devel branch:
[code]

I created a [Dockerfile](https://github.com/Gepetto/gepetto-utils/blob/master/docker/pinocchio/Dockerfile) to help reproduce this.
To run tests on 18.04 / python 2, you can just use `docker run --rm -it gepetto/utils:pinocchio-18.04`; and if you want to enter into a container to debug it: `docker run --rm -it gepetto/utils:pinocchio-1

[2019-02-18 09:13] nim65s commented on #674
(launching a `docker run` on an image which is not available locally will automatically download it)

[2019-02-18 10:18] jcarpent commented on #674
Perfect. I will have a look today. Thanks a lot for this help.

[2019-02-18 10:24] nim65s commented on #674
I forgot to add that now, the test `joint-configurations` is also failing

[2019-02-18 10:38] jcarpent commented on #674
Thanks for the report. I will have a look at it too.

[2019-02-19 10:02] #651 closed

[2019-02-19 10:03] #548 closed

[2019-02-19 15:02] markusgft opened #686 "v2.0 on robotpkg"
Dear pinocchio developers,
I have adopted pinocchio v2.0 and find it an outstanding and well-made tool.
Is there any update on when you are planning to release v2.0 via robotpkg?
Thanks!

[2019-02-19 15:39] proyan commented on #671
How do you propose to replicate a new namespace in python?

[2019-02-19 15:41] gabrielebndn commented on #671
@proyan a submodule?

[2019-02-19 17:11] jcarpent commented on #686
hi @markusgft. Thanks for this question. The main person in charge of this release on robotpkg is @nim65s.
You may also think to use the release on ROS. In this case, @wxmerkt is the right person to help you.

[2019-02-19 17:39] wxmerkt commented on #686
v2.0 has been released for ROS Kinetic and Melodic. `eigenpy` is already in the default repositories and `pinocchio` is currently in the shadow repository and will be after the next sync (for Kinetic, early next week, Melodic likely shortly thereafter).

[2019-02-19 18:04] nim65s commented on #686
Hi @markusgft,

Thanks for your views on Pinocchio !

About the release on robotpkg, we are waiting for all of the packages of the Gepetto group  to be compatible with it (we don't want to release anything on robotpkg that might break our robots…). This imply making a release of all of them : http://homepages.laas.fr/gsaurel/graph.svg
Obviously, this takes a lot of time, but we are almost done, an

[2019-02-19 19:17] markusgft commented on #686
Thanks all for your comments! Looking forward to the release, I will closely follow your developments. Keep up the great work! 👍

[2019-02-20 14:16] jcarpent commented on #668
solved by #689.

[2019-02-20 14:16] #668 closed

[2019-02-20 14:16] jcarpent commented on #681
Fixed by #688.

[2019-02-20 14:16] #681 closed

[2019-02-20 19:26] #634 closed

[2019-02-20 23:24] jcarpent commented on #667
@markusgft Sorry, I did not see your comment. I will do that tomorrow.

[2019-02-21 09:26] jcarpent commented on #674
Solved by #690.

[2019-02-21 09:26] #674 closed

[2019-02-21 10:01] jmirabel opened #694 "Eigen minimum version"
Currently, the minimum version is 3.0.4 and it is not correct. I know that 3.2.4 does not work and 3.2.92 does. Is it fine to update the minimum version to 3.2.92 (ubuntu 16.04) ?

[2019-02-21 10:07] nim65s commented on #694
I think Pinocchio is still working on 14.04 with eigen 3.2.0

[2019-02-21 10:10] jmirabel commented on #694
@ksyy had this error with 3.2.4:
[code]

[2019-02-21 10:20] nim65s commented on #694
https://travis-ci.org/stack-of-tasks/pinocchio/builds/496407364 : job .1 is trusty, and job .2 is xenial,

[2019-02-21 10:23] jmirabel commented on #694
Then, likely, there is one function which is not unit-tested.

[2019-02-21 12:09] jcarpent commented on #694
The minimal version is 3.0.5.

[2019-02-21 12:44] jmirabel commented on #694
@jcarpent Then, there is a bug at `multibody/joint/joint-revolute.hpp:157`

[2019-02-21 12:45] jmirabel commented on #694
It can be repeated by compiling hpp-pinocchio devel branch, with branch topic/fcl-release of Pinocchio and Eigen 3.2.4.

[2019-02-21 13:52] jcarpent commented on #694
The main question is in the end why @ksyy is working with 3.2.4? Because not LTS is furnished with such version.

[2019-02-21 14:04] jcarpent commented on #667
@markusgft Done!

[2019-02-21 14:09] nim65s commented on #694
This is the version of robotpkg-eigen3, so I suppose he got it from there, but I have no idea why this one was installed on his desktop.

[2019-02-21 14:11] jmirabel commented on #694
It was unintended. It was a forgotten installed version which is now deleted. I opened the issue for reporting. It is not blocking us.

[2019-02-21 15:22] jcarpent commented on #694
Solved by #695.

[2019-02-21 15:22] #694 closed

[2019-02-21 16:54] jcarpent commented on #686
@nim65s I think we can proceed now to release hpp-fcl. I will then rebase topic/fcl-release and merge it on devel.

When do you have time to do that?

[2019-02-21 16:59] nim65s commented on #686
hpp-fcl v1.0.1 source package has been released. It has not been pushed to robotpkg yet as it would break other packages that have not been released.

So I think we should merge topic/fcl-release on devel, and then make a source release of pinocchio, and then make source release of all other packages of the SoT / HPP / RBPRM, and then make a binary release of all those source releases at once, and

[2019-02-23 06:11] littleggghost opened #699 "Could you release the examples?"
Hi,  @jcarpent  @nim65s
The examples under /pinocchio/examples path you give now are empty, and I hope you can release them as soon,  especially the c++ version!
![pino](https://user-images.githubusercontent.com/5058791/53282552-264faa80-3774-11e9-9a5f-381d9f911905.PNG)

By the way, I really hope the v2.0.0 version with robotpkg can be released too.

Best regards!

[2019-02-23 07:57] nim65s commented on #686
ref #697

[2019-02-23 08:00] nim65s commented on #699
Hi @littleggghost,

Those examples have not been written yet. We are trying to find a way to get them ASAP. Meanwhile, you can maybe have a look at the practical exercises:
- https://github.com/stack-of-tasks/pinocchio/tree/master/doc/d-practical-exercises for the source
- http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/md_doc_d-practical-exercises_intro.html for a built versio

[2019-02-23 08:17] littleggghost commented on #699
Thanks for your quick reply! @nim65s
The practical exercises are all python type, and I wonder if there have some c++ exercises?
And, I really want to confirm the release date of examples, one month, or half a year?
Regards!

[2019-02-23 08:34] nim65s commented on #699
Hopefully between one month and half a year. @nmansard thinks we should organize some kind of hackathon to gather people to write those examples. We just need to find a good date for it.

[2019-02-23 08:53] littleggghost commented on #699
It's my great honor to participate in this young project.

[2019-02-23 08:53] #699 closed

[2019-02-25 12:25] jcarpent opened #700 "Serialization of Model in Pinocchio"
I would like to raise the question of serialization of Model in Pinocchio.
A lot of users are asking for this feature, which seems to be common for many applications.

I suggest relying on Boost.Serialization to achieve this objective, which will require to also serialize Spatial classes.
Concerning Data, I do not think worthy to serialize such a class, because data contained in it are just tempor

[2019-02-25 12:31] jmirabel commented on #700
I implemented serialization of BVH objects in hpp-fcl, using Boost. It wouldn't be hard to extend it to shapes. It is very easy to serialize Eigen Matrices so I guess spatial classes won't be hard either.

I haven't been very far in comparing with other serialization libraries. It was really amazed by the easiness of use of Boost.Serialization.

[2019-02-25 12:51] olivier-stasse commented on #700
I would also be for boost::serialization, mostly because it would allow to have a clean separation with specific format. Maintaining serialization for various formats is known to be a pain.

[2019-02-25 13:00] jcarpent commented on #700
OK. Thanks for your feedback.
I will then rely on Boost.Serialization, and make explicit serialization for binaries, XML and text files.

[2019-02-26 02:38] littleggghost commented on #686
Hi, @nim65s
I wonder if the v2.0.0 can be released today? It has been a week since your first reply about this.
Or where could i read the v1.3.3 documentation like the [current docs]?(http://projects.laas.fr/gepetto/doc/stack-of-tasks/pinocchio/master/index.html)

[2019-02-26 03:35] littleggghost opened #701 "Build v2.0.0 from source?"
Hi, all
Your work is very remarkable and admirable, and your accomplishment is higher, performance is better, and it is more suitable for robot development, compared to ODE, Bullet, etc.
Your physics engine is really amazing, I really can't help but use them now. Considering that v2.0.0 has not been released yet, I plan to compile it myself. But I meet some errors:
![compile fail](https://user-ima

[2019-02-26 05:07] jcarpent commented on #701
You forgot to include the git submodule with your download.
You can do `git submodule init && git submodule update`

[2019-02-26 06:06] littleggghost commented on #701
Really thanks!

[2019-02-26 07:53] nim65s commented on #686
Hi @littleggghost

I was waiting for @jcarpent to make a new source release, and then release this one on robotpkg.
@jcarpent : but maybe you prefer that I do it ? Or are you waiting for something ?

[2019-02-26 07:58] jcarpent commented on #686
You should first release 2.0.0 if it not online. There is no reason to have waited so long for this one.

[2019-02-26 08:00] jcarpent commented on #686
For the next release, I guess I would like to be sure that all the tests we are making are working well. Can you setup on the LAAS gitlab tests with the latest release of hpp-fcl?

[2019-02-26 08:05] nim65s commented on #686
We would have to make one release for hpp-fcl v0.7 / pinocchio v2.0 and another for hpp-fcl v1.0 v2.1. I know that it would take twice the time, and I don't see how this could be better for anybody.

The LAAS gitlab tests are working with the latest release of hpp-fcl, this is the whole point of #697

[2019-02-26 08:21] jcarpent commented on #686
Currently, a lot of people are waiting for the release 2.0.0. And we have not tested at all the release 2.1.0. So, for safety reasons, I suggest to release hpp-fcl 0.7.0 and pinocchio 2.0.0 and then we proceed to the other releases when we have time. I think the first set of release would have performed a while ago, and we cannot make people wait longer.

[2019-02-26 08:31] jcarpent commented on #686
@nim65s Concerning hpp-fcl, I just fix a bug related to Eigen version. See humanoid-path-planner/hpp-fcl/pull/61 for further details. Can you add this patch on top of robotpkg? It will then allowed the compilations under 12.04.

[2019-02-26 09:01] nim65s commented on #686
Then we have been waiting for weeks for nothing. But let's do this.

About hpp-fcl, let's continue the discussions on the PR, but yes I can add a patch.

[2019-02-26 09:04] nim65s commented on #686
Before I start… @jmirabel is it OK for you if I make a release of HPP with hpp-fcl 0.7 / pinocchio 2.0, just after that another release of HPP with hpp-fcl 1.0 / pinocchio 2.1 ?

[2019-02-26 09:05] nim65s commented on #686
For me this really looks like a waste of time. But as @jcarpent said we might have pinocchio v2 a bit earlier this way.

[2019-02-26 09:11] jmirabel commented on #686
Put aside the waste of time, is this even possible ?

[2019-02-26 09:15] nim65s commented on #686
This is what I was looking at. And this looks really tricky, as all devel branches of HPP are already on hpp-fcl 1.0+ / pinocchio 2.0+

[2019-02-26 09:15] nim65s commented on #686
So I suggest to stick to the initial plan, and release pinocchio 2.1 :P

[2019-02-26 09:19] jmirabel commented on #701
@jcarpent Maybe we should add
[code]

[2019-02-26 09:21] jcarpent commented on #701
Yes, sure! I will add it! Thanks!

[2019-02-26 09:41] littleggghost commented on #701
I am sorry to reopen this issue because I meet some further problems while compiling it.
The error says:
`/home/xxx/pinocchio/build/include/pinocchio/parsers/urdf/model.hxx:30:52: error: ‘LinkConstSharedPtr’ in namespace ‘urdf’ does not name a type
       FrameIndex getParentJointFrame(const ::urdf::LinkConstSharedPtr link,`
I have checked the **urdfdom** version which version is v0.4.1.
I alse ch

[2019-02-26 09:57] jcarpent commented on #701
Have you already installed Pinocchio on your computer?

[2019-02-26 09:58] jcarpent commented on #701
_LinkConstSharedPtr_ is declared in `urdf_model/types.h` through the macro `URDF_TYPEDEF_CLASS_POINTER`.

[2019-02-26 10:04] littleggghost commented on #701
I haven't install Pinocchio v2.0.0 successfully since I haven't built it successfully.
I'm sorry I find no _LinkConstSharedPtr_ under /usr/include/urdf_model/types.h
![test22](https://user-images.githubusercontent.com/5058791/53404566-e517fe80-39f0-11e9-9668-ccc6c054f2f0.PNG)

[2019-02-26 10:05] jcarpent commented on #701
Yes, it is done through the `URDF_TYPEDEF_CLASS_POINTER` macro. You can have a look to its definition.

[2019-02-26 10:06] jcarpent commented on #701
@littleggghost By the way, we are about to make the new release of Pinocchio, it is a matter of hours now. We just internally validate that Pinocchio is passing on 14.04, 16.04 and 18.04 and will be then able to publish the release and provide the binaries.

[2019-02-26 10:07] jcarpent commented on #701
Which feature of Pinocchio do you exactly need?
Because currently, you can deal with Pinocchio 1.3.3 on robotpkg.

[2019-02-26 10:17] littleggghost commented on #701
Yes, you are right. I find it.
My favorite points is Contact dynamic in c++ version, and the GUI for visualization.
Well, with 1.3.3, I less the c++ examples and I meet errors before while compiling it. Some parameter of functions may have changed. I also can't find the documentation of 1.3.3.

[2019-02-26 10:40] jcarpent commented on #701
Provide a fix through #703

[2019-02-26 10:42] jcarpent commented on #701
@littleggghost We will do our best to have a clean solution in a few hours. It is indeed hard to understand why it is not compiling on your system. Have you looked at https://stack-of-tasks.github.io/pinocchio/download.html?

[2019-02-26 11:43] littleggghost commented on #701
I directly check this [link](http://robotpkg.openrobots.org/packages/debian/pub/dists/xenial/robotpkg/binary-amd64/).

[2019-02-26 12:30] littleggghost commented on #701
Hi, @jcarpent
I forget to tell you I add `set (CMAKE_CXX_STANDARD 11)` in CMakeLists.txt, or I will meet errors about **std**.

[2019-02-26 12:37] jcarpent commented on #701
Why? There is no reason to add it. Pinocchio is compatible with C++98 and laters.
What is your compiler?

[2019-02-26 12:41] littleggghost commented on #701
My gcc and g++ version are 5.4.0.

[2019-02-26 12:42] jcarpent commented on #701
Can you try to install Pinocchio without adding `set (CMAKE_CXX_STANDARD 11)`please?

[2019-02-26 12:49] littleggghost commented on #701
The initial error I meet is `/opt/ros/kinetic/include/eigenpy/fwd.hpp:21:22: fatal error: Eigen/Core: No such file or directory`

[2019-02-26 12:53] jcarpent commented on #701
In the root of the Pinocchio, can you show the output of:
`mkdir build-debug && cd build-debug && cmake ..`

[2019-02-26 13:03] littleggghost commented on #701
The output is:
[debug.txt](https://github.com/stack-of-tasks/pinocchio/files/2905522/debug.txt)

[2019-02-26 13:21] littleggghost commented on #701
`cmake ..` works normal, but crashed in `make -j4`.

[2019-02-26 13:31] jcarpent commented on #701
It seems that you have several versions of urdfdom at least, Eigen too. You should clean your set up on your computer before going further.
The errors of compilation you have are then expected.

[2019-02-26 14:47] littleggghost commented on #701
I use a clean environment now. The output of _cmake .._ is:
[debug.txt](https://github.com/stack-of-tasks/pinocchio/files/2906018/debug.txt)

[2019-02-26 15:33] jcarpent commented on #701
You need to install first eigenpy, as it is mentioned by the output of cmake.

[2019-02-26 15:49] jcarpent commented on #686
I'm now running the final test [here](https://gepgitlab.laas.fr/stack-of-tasks/pinocchio/pipelines/3051). Let see the final status of CI and I will release Pinocchio then.

[2019-02-27 03:10] littleggghost commented on #686
So, today will release out?

[2019-02-27 03:44] littleggghost commented on #701
I have installed eigenpy through `sudo apt install robotpkg-py27-eigenpy`, but it still the same:
`-- eigenpy >= 1.4.0 is required.
-- Checking for module 'eigenpy >= 1.4.0'
--
CMake Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:532 (_pkg_check_modul

[2019-02-27 04:22] littleggghost commented on #701
Ohh, I forgot to add
`export PATH=/opt/openrobots/bin:$PATH
export PKG_CONFIG_PATH=/opt/openrobots/lib/pkgconfig:$PKG_CONFIG_PATH
export LD_LIBRARY_PATH=/opt/openrobots/lib:$LD_LIBRARY_PATH
export PYTHONPATH=/opt/openrobots/lib/python2.7/site-packages:$PYTHONPATH`

[2019-02-27 05:53] jcarpent commented on #686
Yes, sure!

[2019-02-27 06:42] littleggghost commented on #701
Thanks @jcarpent from my heart!
Thanks all your hardwork and patience!

[2019-02-27 06:42] #701 closed