[2021-08-04 07:20] timothy233 commented on #1486
Thanks again for your quick reply! I will use this equation then.

[2021-08-06 13:14] jcarpent commented on #1481
@kozakromch Any news on this?

[2021-08-08 14:49] #1481 closed

[2021-08-10 14:27] kozakromch commented on #476
Hello, Guys. I hope that I am asking a question in the right section, if not, please tell me where it is worth asking questions of this kind. I'm sorry to bother you. Thank you for such a wonderful library.

I do not know how to solve the following problem:
I have an anthropomorphic model. all joints are spherical or revolute. Pelvis -- free floating, No loops. Just a tree topology. I know the glo

[2021-08-10 14:37] jcarpent commented on #476
This is not the right place indeed. There is a place called discussions in GitHub https://github.com/stack-of-tasks/pinocchio/discussions
To quickly answer your question, you have to solve an IK problem to retrieve the best configuration estimate.
We do not provide an algo for that, but from the tutorials and the examples, this is pretty straightforward.

[2021-08-12 03:42] hauptmech opened #1491 "How to add and remove temporary bodies?"
My best idea so far is that I have to fake it by manipulating the inertia of the Joint that I want to attach a mass body to. Is this correct?

It would be nice to mark a Frame for dynamic inclusion/exclusion to the mass parameters of a Model. Are the references to Bodies (nbodies, etc) an unimplemented start on this?

[2021-08-12 06:11] jcarpent commented on #1491
@hauptmech It would be nice to a give a context where you aim at adding or removing a body. Do you have a tiny example?

I will then try to provide a precise answer according to this context.

[2021-08-12 07:00] hauptmech commented on #1491
An example would be a manipulator gripper picking up an object and then releasing it. Though grippers imply a final Joint.

Another example would be attaching or removing (during one session of operation) a mission payload to a Joint in the middle of the tree.

An object has an SE3 relative to a Joint and an Inertia

[2021-08-12 07:22] jcarpent commented on #1491
From an algorithmic point of view, I would say that simply adding or removing the spatial inertia supported by the joint itself is sufficient for your case:
[code]

[2021-08-12 07:23] jmirabel opened #1492 "Homogenize GeometryObject and Frame"
Hi,

GeometryObject and Frame classes both have a parent joint and parent frame attributes but with different names. I keep forgetting which uses what.

I wonder whether it is a good idea to take the opportunity of version 3 to homogenize this. It's an API change, although it would be easy for users to update their code. Any opinion on this ?

[2021-08-12 07:33] jcarpent commented on #1225
@jmirabel Could you list some functions that should be changed according to you?
We will try to handle that in Pinocchio-3x.
At least, we should provide a compilation warning at this stage to inform the user (which can be discarded if disable of course).

[2021-08-12 07:36] hauptmech commented on #1491
Yeah, I opted to use a Frame (I need the SE3 of the object during use) and since there is no operator- for inertias, a memo of the starting inertia.

[2021-08-12 07:36] jmirabel commented on #1492
I am fine with any naming (though I would say it is easier for users if only one of Frame or GeometryObject API do change).

I agree there are similar information but there are fields (type, inertia) of Frame which do not apply to GeometryObject and they are conceptually different. I would keep then separated or I would introduce a top class `TreeItem` that has parent joint and frame, name and pla

[2021-08-12 07:46] jcarpent commented on #1492
OK. `previousFrame` seems fine for me. There is no ambiguity at all. Thanks for proposing the notion of `TreeItem`. Or `ModelItem` because we are not only dealing with trees.

[2021-08-12 09:16] vincentberenz opened #1493 "Failing to compile from source (ubuntu 14.04 , g++ 9.4.0)"
I am trying to compile pinocchio from source. Alas, I am for the moment stuck with  ubuntu 14.04 (because of some xenomai kernel that we fail for the moment to compile on newer versions of ubuntu).

I updated g++ to 9.4 and  cmake to 3.15.3 . I also installed eigenpy after compilation from source. boost is at version 1.54.0

```cmake``` runs with success:

[code]
but ```make``` fails:

[code]
I un

[2021-08-12 09:20] jcarpent commented on #1493
Could you send the full report? Could you use instead llvm/clang?

[2021-08-12 09:31] jcarpent commented on #1225
We just need to check if the type is PlainObjectBase or not, I would say.

[2021-08-12 09:31] vincentberenz commented on #1493
thanks a lot for the rapid answer.

Full report:
http://people.tuebingen.mpg.de/mpi-is-software/miscs/pinocchio_make.txt

I'll try llvm/clang

[2021-08-12 10:17] vincentberenz commented on #1493
The same error occurs with clang:

http://people.tuebingen.mpg.de/mpi-is-software/miscs/pinocchio_make_clang.txt

I am afraid Max is not around these days.

[2021-08-12 10:37] jcarpent commented on #1493
The issue is coming from Boost and not Pinocchio. Boost 1.54 is not totally compliant with C++11.
The thing you can do is to rely on an older version of urdfdom < 1.0.0.

This is the maximum help I can provide to you.

[2021-08-12 14:00] totosolat opened #1494 "Generation of analytical (symbolic) model"
I am not sure i understand correctly the features of pinocchio:

I used [SYMORO](https://github.com/symoro/symoro) in the past in order to obtain analytical models of robots, I would like to do the same thing with pinocchio.

At the moment, I had a look at the various examples but I could only obtain numerical results (with forward-dynamics-derivatives.py for instance). From what I understand, Cpp

[2021-08-12 14:06] jcarpent commented on #1494
You can use either CppAD or Casadi support for that. To make the variables visible with naming like `mass1` for the mass associated to link1, then you should set `model.inertias[1].mass() = casadi::SX::sym("mass1",1)`. The same thing can be performed for CppAD. Then, when requiring the output of an algo, like ABA, you will see in the computational graph the name `mass1` appearing.
I cannot provide

[2021-08-12 19:00] wxmerkt opened #1495 "Pinocchio 2.6.3 on Conda contains broken path to urdfdom"
I've installed Pinocchio in a fresh conda environment and can't configure projects based on Pinocchio:
[code]

and then when configuring a downstream project I get:
[code]

**Indeed, the urdfdom library directory is `lib` and not `lib64` as in the exported interface.**

[2021-08-12 21:42] jcarpent commented on #1495
I've rerun the build of Pinocchio here: https://github.com/conda-forge/pinocchio-feedstock/pull/64
The issue might come from https://github.com/conda-forge/urdfdom-feedstock/

[2021-08-12 21:42] jcarpent commented on #1495
Thanks @wxmerkt for the report, even if I think the best place would be https://github.com/conda-forge/pinocchio-feedstock/

[2021-08-13 07:41] jcarpent commented on #1495
It does work well on my side in a fresh docker image with the new Pinocchio conda update `hbcdfc36_1` (https://anaconda.org/conda-forge/pinocchio/files).

[2021-08-13 07:41] #1495 closed

[2021-08-13 07:41] jcarpent commented on #1493
I will close this issue. @vincentberenz Feel free to reopen it if needed.

[2021-08-13 07:41] #1493 closed

[2021-08-13 08:33] jcarpent commented on #1495
cf

[code]

[2021-08-13 09:31] wxmerkt commented on #1495
Thank you for the swift resolution @jcarpent - it's working now. I'll report to the feedstock in case of future issues

[2021-08-19 14:59] proyan commented on #1479
Handled in https://github.com/stack-of-tasks/pinocchio/pull/1496

[2021-08-22 19:12] jcarpent opened #1498 "Simplifying project organization"
Split the project into smaller parts:

- pinocchio-headers
- pinocchio-parsers
- pinocchio-fcl
- pinocchio-algorithms [template instantiation with double]
- pinocchio-algorithms-casadi [template instantiation with Casadi::SX]
- pinocchio-algorithms-cppad [template instantiation with CppAD::AD<double>]

and keep pinocchio main target as a collection of:
- pinocchio-headers
- pinocchio-parsers
- pin

[2021-08-22 19:12] jcarpent commented on #1498
@proyan Could you handle it?

[2021-08-23 09:04] nim65s commented on #1498
I can help with this if you want

[2021-08-23 09:09] jcarpent commented on #1498
OK. Perfect. Sounds very nice. Thanks @nim65s.

[2021-08-23 11:56] braunzel opened #1499 "Clarify employed licenses"
Dear Pinocchio developers,
thank you for your incredibly valuable work. When browing through the repository, I saw that there seem to be inconsistencies in licensing. while the majority of the repo employs a permissive license, some files are explicitly marked as L-GPL. This includes
 * src/algorithm/chol.m
 * unittest/udut.cpp
 * bidings/Cmakelists.txt
 * unittest/fusion.cpp
 * doc/Overview.md
 *

[2021-08-23 12:00] jcarpent commented on #1499
Thanks for this issue @braunzel. In the beginning, Pinocchio was L-GPL.
Now, the whole project is BSD-2 (soon BSD-3 for Pinocchio 3.x)
I will fix the aforementioned files.

[2021-08-23 12:07] jcarpent commented on #1499
Fix provided in #1500.

[2021-08-23 15:09] braunzel opened #1501 "deprecated.hpp does not seem to exist."
deprecated.hpp does not seem to exist:
https://github.com/stack-of-tasks/pinocchio/blob/5daf5de1c158363e835d322435bab4aa2f9b9b0b/src/deprecation.hpp#L8

[2021-08-23 15:19] jcarpent commented on #1501
It does. You need to correctly configure your project via CMake.

[2021-08-23 15:19] wxmerkt commented on #1501
It gets generated at configuration time: https://github.com/jrl-umi3218/jrl-cmakemodules/blob/master/deprecated.hh.cmake

[2021-08-23 15:37] jcarpent commented on #1499
Solved via #1500.

[2021-08-23 15:37] #1499 closed

[2021-08-23 15:37] jcarpent commented on #1501
I will close this issue as it seems to be solved.
Thanks @wxmerkt for your quick and precise answer.
@braunzel Feel free to reopen it if needed.

[2021-08-23 15:37] #1501 closed

[2021-08-23 17:00] jcarpent commented on #1078
@nim65s or @proyan Could you handle this (SRDF)?

[2021-08-23 17:03] proyan commented on #1078
This issue is in liaison with https://github.com/stack-of-tasks/pinocchio/issues/1498, and normally this should be resolved when 1498 is handled

[2021-08-24 08:23] jcarpent commented on #1492
@proyan Could you handle it?

[2021-08-24 10:31] #775 closed

[2021-08-24 10:32] #476 closed

[2021-08-24 10:34] #1494 closed

[2021-08-24 12:52] proyan commented on #1356
I'll close this issue, since this is already handled in pinocchio3-preview branch

[2021-08-24 12:52] #1356 closed

[2021-08-24 15:08] #33 closed

[2021-08-25 14:01] traversaro commented on #33
If anyone ever needs that, a possible strategy to test is to use the Pinocchio Python bindings in MATLAB. Recent version of MATLAB have quite advanced Python interoperability features, see https://www.mathworks.com/help/matlab/call-python-libraries.html, https://github.com/dic-iit/bipedal-locomotion-framework/issues/53#issuecomment-789058776 and https://github.com/robotology/robotology-superbuild/

[2021-08-25 14:38] jcarpent commented on #33
Fantastic. I didn't know that.
We may give it a try once. @proyan Would you may give it a try?

@traversaro What is your feedback on it?

[2021-08-25 14:52] traversaro commented on #33
We only tried it for some examples for now (see https://github.com/dic-iit/bipedal-locomotion-framework/issues/53#issuecomment-789058776) but it seems quite promising, but to be honest we never had any serious use of it (like, a student that did all the computation for a paper/thesis in it). To quickly test it, if you have access a possible option is to install pinocchio via conda in [MATLAB Onlin

[2021-08-26 03:10] WangXingfang opened #1512 "How to make a simple shape move in the gepetto-viewer ?"
How to make a simple shape move according to a certain law in the gepetto-viewer ?

[2021-08-26 05:15] #1512 closed, assigned to nobody

[2021-08-26 13:26] EpicDuckPotato opened #1513 "Getting Kinematic Hessians in Python API"
Hi,
Is there a way to use getJointKinematicHessian in the Python API?

[2021-08-27 08:32] YaoweiFan opened #1514 "Compute gravity with c++ api wrong"
I use python api to compute the gravity and the result is [-0.11936972  0.98543975  0.          0.9855705   0.03554471 -0.05846138]. That's what I expected.
[code]
I use c++ api to compute the gravity of the same model, but the result is [0 0 0 0 0 0].
[code]
What's wrong in my c++ code? Could you give me some hints?

[2021-08-27 13:11] #1513 closed, assigned to nobody

[2021-08-27 14:10] #1514 closed, assigned to nobody

[2021-08-30 07:16] WangXingfang opened #1515 "How to obtain the Jacobian at a certain position on the manipulator link"
Now, I can use pin.getJointJacobian to obtain the Jacobian of the specified joint, and use pin.getFrameJacobian to obtain the Jacobian of the specified link. But, for a certain position on the link, how can I obtain its Jacobian.

[2021-08-30 08:30] jcarpent commented on #1515
At the time being, you should add a Frame to your model for that.
Soon, this won't be necessary anymore with Pinocchio 3x

[2021-08-30 08:30] #1515 closed

[2021-08-30 08:40] WangXingfang commented on #1515
Great! Can you give me some examples or descriptions about how to add a Frame to my model?
Thanks for your fast response!

[2021-08-30 08:50] jcarpent commented on #1515
`model.addFrame(Frame("name",joint_support_id,0,placement))`

[2021-08-30 09:02] WangXingfang commented on #1515
Okay, thanks :)

[2021-08-30 12:39] braunzel commented on #1499
//
// Copyright (c) 2015 CNRS
//
// This file is part of Pinocchio
// Pinocchio is free software: you can redistribute it
// and/or modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation, either version
// 3 of the License, or (at your option) any later version.
//
// Pinocchio is distributed in the hope that it will be
// useful, but WIT

[2021-08-31 02:08] EpicDuckPotato opened #1516 "Derivative of Buoyant Force with Respect to State"
Hi,
I posted an issue previously concerning the robot below.
![humrs](https://user-images.githubusercontent.com/11475715/131429649-2f0cc314-5e7a-4fd5-8477-a094e08b6557.png)
I'm interested in adding buoyant forces to my model, where each link is subject to a constant upward force. Since the generalized buoyant force on the robot is dependent on the configuration, the forward dynamics derivatives wo

[2021-08-31 05:54] jcarpent commented on #1516
Please provide a set of equations to get more insight ?

[2021-08-31 07:05] jcarpent commented on #1516
We mostly need to know how does this external forces evolved, because I do think they are simply local forces ;)

[2021-08-31 07:27] jmirabel opened #1517 "Add support for PyBind11"
Hi,

for several projects, I made Python bindings with PyBind11 and I needed to be able to pass back and forth Pinocchio objects. I have a slightly different implementation in each project, which is not very clean.

As people usually prefers PyBind11 to Boost, I think it is reasonable to have in this project one header which contains everything one needs to do the conversions. Another reasonable o

[2021-08-31 07:29] #1517 closed

[2021-08-31 07:33] cmastalli commented on #1516
The buoyancy forces are the ones obtained using the Archimedes principles. Therefore, if my understanding is correct, these forces are applied in the CoM point of each body, which indeed could be expressed as local forces.

[2021-08-31 11:18] EpicDuckPotato commented on #1516
![buoyancy](https://user-images.githubusercontent.com/11475715/131492734-d35025ae-9cae-4a97-aa50-e8174f4455e0.png)

In the image, F_b is the total buoyant force, and the summation is over links. J_l is the frame Jacobian for the center of buoyancy of link l. R_w^l rotates from the world frame into the local frame of link l. m_{l, b} is the mass of water displaced by the link, and g = -9.81. pinocc

[2021-08-31 11:30] jcarpent commented on #1516
Yes, you can use the LOCAL_WORLD_ALIGNED coordinate system.
Also, you can easily translate the expression of your external forces to express it in the LOCAL coordinate systems.
I think you have your answer. I will then close the issue.

[2021-08-31 11:30] #1516 closed

[2021-08-31 11:42] EpicDuckPotato commented on #1516
Just to clarify, the force is always directed upward in the world frame, so the orientation in the local frame is actually not constant, which is why I'm not sure that I can do what you described.

[2021-08-31 12:07] traversaro opened #1520 "Semantics of AMENT_PREFIX_PATH variable?"
In https://github.com/stack-of-tasks/pinocchio/issues/1358 and https://github.com/stack-of-tasks/pinocchio/pull/1359, for supporting ROS2 the feature of reading from the `AMENT_PREFIX_PATH` variable was added, treating it as it contained the same directories contained in `ROS_PACKAGE_PATH` .

However, debugging another problem, I investigated this and it seems that while `ROS_PACKAGE_PATH` contain

[2021-08-31 12:29] jcarpent commented on #1520
@traversaro Thanks for raising this issue.
As I'm not a ROS expert, I let @wxmerkt providing his thoughts.
@wxmerkt Could you provide your feedback on this issue?

[2021-09-01 06:57] jcarpent commented on #1520
I've just checked robotology/robotology-superbuild#832, and the solution sounds fine for me.
@traversaro Could you translate your change to Pinocchio?

[2021-09-01 08:44] traversaro commented on #1520
Sure, let's wait to see if @wxmerkt has any feedback as I will be interested in it even for iDynTree/iCub's models. I wonder if @olivier-stasse may have any comment as he is the one that originally created https://github.com/stack-of-tasks/pinocchio/issues/1358 .

[2021-09-01 08:55] wxmerkt commented on #1520
Hi @traversaro and @jcarpent,
Apologies for the slow response to this; yesterday and today are filled with meetings. I haven't used ROS2 myself and hence not tested the `AMENT_PREFIX_PATH` - but what you wrote about changing to `<install-prefix>` sounds familiar. It may be worth testing in a Docker with a commonly used/binary-available robot description package to confirm any fixes

[2021-09-01 14:35] EpicDuckPotato opened #1521 "Derivative of Buoyant Force with Respect to State: Follow-Up"
Hi,
Thanks for the help with stack-of-tasks/pinocchio#1516, but I just wanted to clarify, the forces I mentioned have a constant magnitude and direction in the world frame, not the local frame. If I transform them to the local frame and then compute the ABA derivatives, is this still correct? Because for an infinitesimal change in state, the local direction of the forces will change.

[2021-09-01 15:23] jcarpent commented on #1521
Please continue the discussion in #1516. Otherwise, issues will become a nightmare to follow and sort.

[2021-09-01 15:23] #1521 closed

[2021-09-01 17:34] EpicDuckPotato commented on #1516
I followed up in stack-of-tasks/pinocchio/#1521 since this issue was closed, but I guess I should just continue here. Do you have an answer my previous comment? i.e. if my forces are constant in the world frame (not local frame), is it still correct to transform them to the local frame and then compute the ABA derivatives? Because for an infinitesimal change in state, the local direction of the fo

[2021-09-01 17:43] jcarpent commented on #1516
You need to add to the current derivatives wrt to q the term M^-1J^T where J is the Jacobian related to the point of application of your Buoyant force.

[2021-09-01 17:45] jcarpent commented on #1516
@EpicDuckPotato I do think these answers go a bit beyond what someone can expect from software developers. Isn't it?

[2021-09-01 17:55] EpicDuckPotato commented on #1516
Alright yeah sorry I guess as far as understanding fundamental physics, I should probably consult elsewhere

[2021-09-01 20:57] olivier-stasse commented on #1520
Dear all, the solution implemented in  robotology/robotology-superbuild#832 sounds fine for me too.

[2021-09-03 08:48] WangXingfang commented on #1515
Hello, @ jcarpent.
While using _model.addFrame_, does _framePlacement_ depend on the _parent_idx_ coordinate system?
And after adding a frame, how can I change its _parent_idx_ and _framePlacement_ ?

"_model.addFrame(Frame (frame_name, parent_idx, 0, framePlacement, OP_FRAME))_"

[2021-09-03 08:49] WangXingfang commented on #1515
Hello, @ jcarpent.
While using _model.addFrame_, does _framePlacement_ depend on the _parent_idx_ coordinate system?
And after adding a frame, how can I change its _parent_idx_ and _framePlacement_ ?

"_model.addFrame(Frame (frame_name, parent_idx, 0, framePlacement, OP_FRAME))_"

[2021-09-03 08:50] jcarpent commented on #1515
The frame placement is wrt the parent joint frame.

[2021-09-03 08:51] jcarpent commented on #1515
Why do you need to change it?
But you can do by changing the fields within the frame (model.frames[your_frame_id].placement)

[2021-09-03 09:22] WangXingfang commented on #1515
Because I want to get the Jacobian of a certain point on the manipulator, and the point's placement changes in real time. So  I need to change its parent and placement, do you have a better idea?

[2021-09-03 09:25] jcarpent commented on #1515
My previous answer will be then sufficient.

[2021-09-03 09:33] WangXingfang commented on #1515
Okay, I will try to solve the problem with your answer. Thanks :)

[2021-09-06 12:17] arjunskumar commented on #786
Thanks

[2021-09-06 17:05] amrn9674 opened #1522 "Same value for different frames when using getFrameJacobianTimeVariation"
Dear all,

I am using Pinocchio in my project (thanks for creating this package :+1: ), and I need to have access to the Hessian matrix elements, but as I went through other issues, I found it is not possible right now. So, I decided to compute it with the help of Jacobian time Derivation (getFrameJacobianTimeVariation). I need these derivations to be in LOCAL_WORLD_ALIGNED, however, as I tested i

[2021-09-06 17:23] jcarpent commented on #1522
The things is that we cannot anything with such a little amount of details and information.

[2021-09-06 17:37] amrn9674 commented on #1522
First of all thanks for your very quick response. Now, let me describe my project a little bit more. I want to use Crocoddyl to find an optimal controller for my robot (a very simple robot 5-link 2-D planner manipulator). For the dynamic aspect, I am using Pinocchio. In this project, not only should I found optimal input commands, but also optimal external forces. Because of this, I should know th

[2021-09-06 17:39] jcarpent commented on #1522
Could you please look here: https://github.com/stack-of-tasks/pinocchio/issues/1513
You will have all your answers.

[2021-09-06 17:39] #1522 closed

[2021-09-07 07:36] amrn9674 commented on #1522
I actually do the same thing you mentioned at #1513, I map my external forces to local joint coordinates and use computeRNEADerivatives(model, data, q, v, a, Fext) to compute the derivatives. However, the derivatives do not agree with my analytical solution. The system is a very simple system (please see the attached picture). I test the results for when all q's, v's, and u's are zero and an exter

[2021-09-07 08:10] jcarpent commented on #1522
Could you share your code?

[2021-09-07 21:21] jcarpent commented on #1522
Sorry, I won't be able to help you. Your code is not clear/clean enough for fast debug.

[2021-09-07 22:26] amrn9674 commented on #1522
Thanks for your help till now. Is there any way that I can make it more clear? My question is that why ddq_dq_analyt (in the code) is not equal to ddq_dq (calculated by Pinocchio). I think if the derivatives of J be presented in the LOCAL_WORLD_ALIGNED the problem would be solved and these two would be equal. However,  'getFrameJacobianTimeVariation' gives me the same answer noo matter which refer

[2021-09-08 05:24] jcarpent commented on #1522
The thing is that you are using `getFrameJacobianTimeVariation` while you should rather use `getFrameJacobian`.

[2021-09-08 07:14] amrn9674 commented on #1522
But I want its derivation, not itself.

[2021-09-08 07:48] jcarpent commented on #1522
But you are calling the time derivatives here.
`J_frame = dM/dq` where M is the placement of the frame.
You should first write the math.

[2021-09-08 08:17] amrn9674 commented on #1522
Yes, I want to calculate other derivatives with help of the time derivative. Mathematically speaking, we have
`ddq = M^{-1} [(tau + J^T F_{ext}) -nle]`. I want to find ddq_dq, so I have to take the derivative of the right-hand side of this equation. The j-th column of ddq_dq is the derivation of ddq w.r.t. q_j which is equal to `ddq(:,j) = d(M^{-1})_dq_j [(tau + J^T F_{ext}) -nle] + M^{-1} [( (dJ_

[2021-09-08 08:21] jcarpent commented on #1522
Why do you use `getFrameJacobianTimeVariation`? This is time derivatives
You should use the derivatives of Pinocchio as mentioned in #1222 with external forces (expressed in the local frame of the joints).
You should also add the fact that your forces are not constant in the local frame.

[2021-09-08 08:27] amrn9674 commented on #1522
I did want to use time derivative to calculate the hessian like `dJ_dt = dJ_dq1 v1 + dJ_dq2 v2 + ...`. Regarding your last point, How should I consider that? Probably this is the problem.

[2021-09-08 08:46] jcarpent commented on #1522
I do think you should read #1222.

[2021-09-08 09:41] amrn9674 commented on #1522
I think you mean #1513, don't you? I have read it for multiple times, there I think it is mentioned that the forces are constant w.r.t. the local frame, which is not the case here. However you mentioned that we should add` M^{-1}J^T` to the derivatives, do you mean this? this should be added to Fu, not Fx, am I right? Also, this issue is very related to #1516.

[2021-09-08 09:44] jcarpent commented on #1522
Yes.

[2021-09-08 09:46] amrn9674 commented on #1522
I do not understand this, where we should add it, to ddq_dq? Can you explain why?

[2021-09-08 09:47] jcarpent commented on #1522
Do you realize that you're really demanding? Do you have a supervisor to help you?

[2021-09-08 09:50] amrn9674 commented on #1522
Sorry for bothering you. My problem was to understand Pinocchio. I already have the analytical solution to this problem.

[2021-09-08 10:41] jcarpent commented on #1522
Please see Eq (14) here https://hal.laas.fr/hal-01790971v2/document

[2021-09-08 13:15] jcarpent commented on #1522
Which means that, you need to add to your derivatives:
[code]
where `J` is the Jacobian of your joint frame.
J and fext should be expressed in the same coordinate system.

[2021-09-08 15:42] braunzel opened #1523 "extractCartesianAxis does not account for negative axis values?"
Dear all,
the method [extractCartesianAxis()](https://github.com/stack-of-tasks/pinocchio/blob/280005c8d99c2485ee942b6a38c4dc0edf75c706/src/parsers/urdf/model.hxx#L262)
only considers positive unit vectors, and does not account for negative axes, such as (-1, 0, 0).
URDF, by contrast, explicitly allows negative axes, http://wiki.ros.org/urdf/XML/joint, the constraint is only that the vector should

[2021-09-08 15:46] jcarpent commented on #1523
You're totally correct. But I would say even Joint{Revolute,Prismatic}Unaligned are already extremely optimized.

We may think to either:
- add Joint{Revolute,Prismatic}{X,Y,Z}Minus, but at the price of increase of compilation timings
- handle this context by applying a Rotation which the joint axis into its opposite.
- let's at it is now.

@jmirabel @nim65s @proyan @nmansard @traversaro @wxmerkt

[2021-09-08 15:49] jcarpent commented on #1523
I'm mostly in favor of option 2., which is fast to implement.

[2021-09-09 06:25] jmirabel commented on #1523
I would rather be in favor of a runtime solution rather than a compile-time one (like having a boolean in JointRX that tells you whether you should use `theta` or `-theta`. Not sure if this breaks the API.

If you go for 2, you should factorize the code of the positive and negative axis in the same template class.

[2021-09-09 07:42] braunzel commented on #1523
Also, maybe consider preferring the notation `Vector3::UnitX()` over `(1., 0., 0.)`.

[2021-09-09 08:05] traversaro commented on #1523
I am not sure I got all the details of this proposal, but if the idea is to change the link frames to be aligned with the joint axis, I think it would be ideal if it could be made explicit (for example with an explicit function that process the model and return a new model in output), so that users interested in squeezing all the performance can opt in, while users that are interested in keeping t

[2021-09-09 08:15] jmirabel commented on #1523
@traversaro proposal is better than mine.

[2021-09-09 08:38] traversaro commented on #1523
I see, then I think I got it. I wonder if it could make sense to have a `buildOptimizedModel` (name bike-shedding would be welcome : ) ) similar to `buildReducedModel` .

[2021-09-09 09:04] jmirabel commented on #1523
Yep, and it could replace all unaligned joints.

[2021-09-09 10:24] proyan commented on #1523
@jmirabel's suggestion about a simple boolean should be easy to implement, but would add conditional branches at a very low level for cppad and casadi scalars. I don't think they would like that.

Once the model is parsed, is there any advantage to keeping the original minus sign for the axis, or the original axis information? I don't see any, but perhaps I'm missing something.

We already have be

[2021-09-09 14:15] jcarpent commented on #1522
@amrn9674 Any news on that?

[2021-09-10 08:16] amrn9674 commented on #1522
Sorry for my late reply, and thanks a lot for your consideration. I was not familiar with spatial algebra, so I started reading Featherston's book to understand the equations a little bit more. After learning how to apply `x` operator, I started implementing it. After testing different ideas, I found that the second J in the above equation should be changed a little. As the location of the applied

[2021-09-10 08:23] jcarpent commented on #1522
Good point: using Pinocchio without knowing what is Spatial Algrebra is indeed a bit tricky.
Enjoy your reading: it is a nice universe.

[2021-09-10 08:30] amrn9674 commented on #1522
Thanks a lot for your help and your motivational words.

[2021-09-10 10:52] nielsvd opened #1524 "The ${libdir} variable in pinocchio.pc file wrong when built with catkin"
Since recently, the `pinocchio.pc` file generated in a Pinocchio build with catkin (`ros noetic`) contains an error. This also holds for the package that is distributed by the ros package repository. I can confirm that the same error does not occur when building Pinocchio manually without catkin.

It seems that `CMAKE_INSTALL_FULL_LIBDIR` is somehow set to be `/opt/ros/noetic/lib/x86_64-linux-gnu`

[2021-09-10 11:39] nim65s commented on #1524
additionally, `libeigenpy.so` & `eigenpy.pc` are in `/opt/ros/noetic/lib/x86_64-linux-gnu`, while I would expect this to be at least consistent with pinocchio

[2021-09-10 12:14] wxmerkt commented on #1524
Hi @nielsvd
Thank you very much for reporting this. It should work correctly with CMake, but I have not tested this with PkgConfig.

The reason is that we are applying a patch to change the install directory (and amended that patch for EigenPy recently in response to a user request building for Nix). I'll verify the patches for eigenpy and pinocchio and will check that it's consistent -- this may

[2021-09-10 12:28] nielsvd commented on #1524
@wxmerkt , thanks for the response. I'll have a look into using a CMake target instead. Currently, I'm actually patching the pkg-config file manually.

In the meantime there is a bit of extra insight gained. It seems that the problem starts to appear when building Pinocchio with the Python interface. If built without, the PkgConfig file looks correct. To correct an earlier statement, the problem d

[2021-09-10 14:00] nielsvd commented on #1524
I found the source of the problem (from which `eigenpyConfig.cmake` is generated):
https://github.com/jrl-umi3218/jrl-cmakemodules/blob/b56525c1ba639275892c073e6ef7e54de7672c08/Config.cmake.in#L27

Possible solutions:
* unset the `_PKG_CONFIG_LIBDIR` variable by the end of the `Config.cmake` file.
* prepend the `_PKG_CONFIG_LIBDIR` variable name with the `@PROJECT_NAME@`.
* Avoid setting `_PKG_CON

[2021-09-10 16:39] FirasAbiFarraj opened #1525 "Jacobian calculation in Local and World"
Hello,

I was trying to estimate the jacobian of the end effector with respect to the base frame. I thought doing things in these two ways should give the same result but it does not really give the same result. In fact, i am lost of what the jacobian calculated in the _World_ reference is.

Method 1 (not giving what I expect):
[code]

Method 2  (giving what I expect):
[code]

I did not really und

[2021-09-10 19:27] Kongx231 opened #1526 "Question about using analytical derivatives for contact"
I'm a little confused where the contact Jacobian J comes in when calling computeRNEADerivatives or computeABADerivatives for constrained modes. I know the f_ext contains the reaction forces, but I'm not sure where how it has information about the contact. Is there a barebone example (preferably in python)? I see the unit test contact-dynamics-derivatives.cpp computes the derivative, and I'm assumi

[2021-09-11 14:25] FirasAbiFarraj commented on #1525
Sorry if the question is redundant. Maybe I haven't read all previous issues (I read quite a bit though). Of course I have seen the LOCAL_WORLD_ALIGNED and I saw it in the documentation too.

My question was more because I am interested in understanding what the jacobian calculated in WORLD means as it seems to be some new concept. Like why would somebody use it?
I saw the reference to  Feathersto

[2021-09-11 15:36] jcarpent commented on #1525
The WORLD coordinate system refers to the origin of the world. So when you expressed a velocity of a joint in the WORLD, it refers to the velocity of the point coincident with the origin of the world, but attached to the joint in motion. This coordinate system is not useful in general, except to enhance the computations.

[2021-09-13 07:22] FirasAbiFarraj commented on #1525
Perfect ! Thank you !

[2021-09-14 18:48] Kongx231 commented on #1526
Thanks! I see computeConstraintDynamicsDerivatives which contains the contact model. Are there python wrappers for these functions/objects?

[2021-09-14 21:07] EpicDuckPotato opened #1527 "Pinocchio Derivatives with Respect to Orientation"
When you calculate the derivative of the forward dynamics with respect to the orientation, are you calculating the derivative I'm showing in the attached images? I'm using q_0 as the current quaternion, and q as the perturbed version.

![dfd_ddtheta](https://user-images.githubusercontent.com/11475715/133333841-6f2b5c7f-58e3-4f92-9900-22a81dcf6a8f.png)

where

![error_quaternion](https://user-image

[2021-09-14 21:17] jcarpent commented on #1527
Pinocchio is totally operating on the tangent space of the configuration space. So yes.
This leads to more stable and robust optimization schemes.

More details in https://hal.laas.fr/hal-01866228/document and https://hal.laas.fr/hal-01790971/file/18-rss-analytical-derivatives-carpentier.pdf

[2021-09-14 21:17] #1527 closed

[2021-09-14 21:18] jcarpent commented on #1526
Yes, of course.

[2021-09-15 22:59] Kongx231 opened #1528 "No module named 'pinocchio.pinocchio_pywrap'"
I've built and installed pinocchio through the installation procedure, but I'm having trouble importing pinocchio from the build

From make install I get that pinocchio_pywrap is installed:

-- Set runtime path of "/usr/local/lib/python3/dist-packages/pinocchio/pinocchio_pywrap.cpython-36m-x86_64-linux-gnu.so.2.6.3" to ""
-- Installing: /usr/local/lib/python3/dist-packages/pinocchio/__init__.py
--

[2021-09-16 05:48] jcarpent commented on #1528
Please remove all the Pinocchio path within your site packages folder. It seems you have a very dirty installation. Otherwise use pip or conda to get a fresh and clean install.

[2021-09-16 05:48] #1528 closed

[2021-09-16 06:50] nim65s commented on #1528
Your setup from source in `/usr/local` and your setup from robotpkg binaries in `/opt/openrobots` are for the python interpreter of your system, which is python 3.6. The error you show at the end is a python 3.8 from conda.

Conda is not compatible with anything else: please use only conda, or don't use conda at all.

Also, in your path, `/usr/local/lib/python3/dist-packages/pinocchio` is wrong: y

[2021-09-16 16:04] Kongx231 commented on #1528
Making those changes fixed the issue. Thank you!

[2021-09-17 08:55] TheCamusean opened #1529 "Feature proposal: Batch Computation of FK, Jacobian ..."
Hello,

I was wondering if Pinocchio provides the option of batch computation of the robot kinematics and dynamics. In sample based optimization problems, it might be interesting to evaluate multiple possible robot configurations in batch.

Is this property already implemented? In case is not; are there future plans of adding batch computation properties? I guess it could be done by modifying the

[2021-09-17 09:00] jcarpent commented on #1529
Yes, we have this support for some algos. The principles have been implemented with the notion of ModelPool (https://github.com/stack-of-tasks/pinocchio/blob/master/src/multibody/pool/model.hpp).
Please see here for further details: https://github.com/stack-of-tasks/pinocchio/tree/master/src/algorithm/parallel

I did not have time to parallelized the evaluation for all the algorithms, but this is

[2021-09-17 09:00] #1529 closed

[2021-09-17 09:01] jcarpent commented on #1524
@wxmerkt Any update on this?

[2021-09-17 09:01] TheCamusean commented on #1529
Thanks alot! :)

[2021-09-17 09:12] jcarpent commented on #1529
If you think a signature is missing, do not hesitate to provide it with a PR.

[2021-09-17 10:42] wxmerkt commented on #1524
I am on annual leave right now and have not investigated further -- the above update that it also affects non-catkin builds makes me think the problem is in jrl-cmakemodules and outside of the patch applied for the ROS buildfarm?

Based on this, happy to remove the issue assignment or look at it when I'm back at the end of the month.

[2021-09-17 11:11] jcarpent commented on #1524
No problem, we can wait until you're back. Enjoy your holidays!

[2021-09-17 16:29] Kongx231 opened #1531 "Using constraint dynamics within python"
I had a couple of questions about using functions like impulseDynamics, computeImpulseDynamicsDerivatives, constraintDynamics, and computeConstraintDynamiscDerivatives in python. Specifically, how do you initialize the contact model? And do you have any tips on getting these functions to work in python?

I know in C++ you use

`  const PINOCCHIO_STD_VECTOR_WITH_EIGEN_ALLOCATOR(RigidConstraintModel

[2021-09-17 16:46] proyan commented on #1531
Hi Kongx231

You can see the use of constraint dynamics in examples at https://github.com/proyan/pinocchio/blob/pinocchio3-preview-ci/examples/simulation-contact-dynamics.py

Regarding the use of contact jacobian, I recommend you to read the associated paper https://hal.inria.fr/hal-03271811/file/rss-proximal-and-sparse.pdf to understand the proposed API

[2021-09-17 16:54] Kongx231 commented on #1531
Thanks! I think the example will help a lot.

[2021-09-17 21:54] Kongx231 commented on #1531
The example works for me. However, when I try to compute the derivatives, I get a pywrap error saying the signatures don't match. I also cannot get the impulse to work either. I've looked at the source files, and I feel like this is the correct input for them especially since the constraint dynamics works. Do you have any suggestions?

I've modified the code to compute the derivatives after I comp

[2021-09-18 15:34] jcarpent commented on #1531
It is just a matter of adding
[code]
at the top of the files exposing the impulseDynamics or derivatives functions.

[2021-09-18 15:34] #1531 closed

[2021-09-18 16:36] Kongx231 commented on #1531
The constrained derivatives file was missing

`#include "pinocchio/bindings/python/utils/std-vector.hpp"`

and adding it in fixed the issue for that file. However, the impulse dynamics files already have that include in and still returns the same error as before.

Traceback (most recent call last):
File "/home/nathankong/pinocchio3/examples/simulation-contact-dynamics.py", line 125, in
pin.impulse

[2021-09-18 16:40] jcarpent commented on #1531
You're missing the config and velocity vectors

[2021-09-18 16:41] Kongx231 commented on #1531
Great, thanks!

[2021-09-21 04:55] braunzel opened #1532 "Get parent joint index from frame index?"
Dear all,
what is the most efficient way to retrieve the index of a frame's parent joint?

Let's say I have given a `pinocchio::FrameIndex` frame_id, I was hoping to find something like
joint_id = getParentJointIndex(frame_id)

Did I overlook some method like this? What would be the best way to retrieve the index of the parent joint of a frame?

[2021-09-21 06:43] jmirabel commented on #1532
`model.frames[frame_id].parent`

[2021-09-21 09:11] braunzel commented on #1532
Cool, thanks for the quick resolution!

[2021-09-21 09:11] #1532 closed

[2021-09-27 02:03] edward9503 commented on #1340
Hi there,

I've got the same problem when I want to build the model from URDF. I installed Pinocchio and I follow the tuto from https://stack-of-tasks.github.io/pinocchio/download.html in section "Linux". All the libraries were installed in /opt/openrobots/lib. Then I tried to use these libraries to build the model from URDF file in my catkin ros workspace. When I run catkin_build, I got the same

[2021-10-05 18:10] Kongx231 opened #1534 "Joint accelerations using forward dynamics seem large"
I'm trying to get the forward dynamics for walking, and I have been using constraintDynamics. However, the joint accelerations seem rather large for the swing legs. When I compare the joint accelerations to other solvers, they don't seem to match well.

I've simplified the problem to calling aba and having just a pendulum with length=2, mass=1, inertia=1, g=9.81, center of mass located at 1 and sw

[2021-10-05 18:17] jcarpent commented on #1534
Dear @Kongx231,

First of all, thanks for the clean code.
It appears you have forgotten to normalize the configuration vector as follows:
[code]

[2021-10-05 18:17] #1534 closed

[2021-10-06 16:34] Kongx231 commented on #1291
I see that damping shows up in the model parameter in Pinocchio3, but doesn't seem to be applying damping forces when applying forward dynamics. That's okay if its still not supported, I can use the solution from above. I just wanted to double check.

[2021-10-06 16:51] jcarpent commented on #1291
Not yet, this will be present in the final version ...
Sorry for the delay.

[2021-10-18 00:36] JhonPool4 opened #1535 "I cannot find "computeJointJacobiansTimeVariation" in robot_wrapper.py"
Hi, I am using Ubuntu 20.04 with python3.8. I followed the installation instructions of [link](https://stack-of-tasks.github.io/pinocchio/download.html) and just modify the installation line as  `sudo apt install -qqy robotpkg-py38-pinocchio`. After the installation, I configured the environment variables. Now, I can load a file .urdf, compute inertia matrix and jacobian, but when trying to comput

[2021-10-18 11:56] jcarpent commented on #1535
`pin.computeJointJacobiansTimeVariation(robot.model, robot.data, q0, dq0)` should then work smoothly.

[2021-10-18 11:57] jcarpent commented on #1535
Currently, we did not expose the method yet. If you think this feature is missing, you can easily collaborate on the project by adding it.

[2021-10-21 09:56] rubengrandia opened #1537 "Auto differentation of the impact dynamics"
We are trying to use pinocchio::impulseDynamics in combination with CppAd codegen. However, the autodiff complains that there is a comparison operation with a dependent variable.

It seems that this happens inside Eigen::LLT that is used here data.llt_JMinvJt.compute(data.JMinvJt):
https://github.com/stack-of-tasks/pinocchio/blob/5daf5de1c158363e835d322435bab4aa2f9b9b0b/src/algorithm/contact-dynam

[2021-10-21 09:59] #1537 closed

[2021-10-21 13:26] GiulioRomualdi opened #1539 "randomConfiguration generates inf position with a model loaded from urdf"
Hi all!

I'm trying to understand how to load an `urdf` in Pinocchio. As a small exercise, I tried to load a `talos` `urdf` stored in the [`example-robot-data`](https://github.com/Gepetto/example-robot-data) repo.

I noticed that when I try to generate a random configuration using `randomConfiguration` I got the following result
[code]

If I load the model with `example_robot_data.load('talos')`,

[2021-10-21 15:24] jcarpent commented on #1539
You need to set the lower and upper bounds on the Free Flyer joint manually, because they are not defined by default due to no default value.
It is hard to find a good default value.
Best,
Justin

[2021-10-26 16:43] Kongx231 opened #1540 "computeImpulseDynamicsDerivatives returns zeros in the column associated to the joint velocity closest to the impact surface"
I'm currently using Pinocchio3 and I'm using computeImpulseDynamicsDerivatives for a quadruped model where each leg has 3 joints (2 on the hip and 1 in the knee). When I apply the function, it returns zeros in the columns associated to joint velocities closest to the ground (knee joint velocities). However, if I use impulseDynamics and do a finite difference where I vary the knee velocity, I get v

[2021-10-29 22:43] wxmerkt commented on #1524
ROS releases for EigenPy are out (pending merge & sync):
- Noetic: https://github.com/ros/rosdistro/pull/31090
- Melodic: https://github.com/ros/rosdistro/pull/31091

[2021-10-30 18:16] jcarpent commented on #1524
Nice to hear that. I've merged the new cmake feature in #1542.

[2021-10-30 18:16] #1524 closed

[2021-11-01 18:32] manumerous opened #1543 "Converting force vectors to local frame for rnea"
Hi I am trying to call this [inverse dynamics rnea function ](https://github.com/stack-of-tasks/pinocchio/blob/5daf5de1c158363e835d322435bab4aa2f9b9b0b/src/algorithm/rnea.hpp#L55) with some external forces.

Does the pipeline already contain functionalities to convert a vector from the world frame to the local frames of the joints using a joint name or joint ID?

So far I could not find it.

[2021-11-01 18:46] jcarpent commented on #1543
Not yet. You should do that manually. This feature will be present in Pinocchio 3

[2021-11-01 18:46] #1543 closed

[2021-11-01 19:01] manumerous commented on #1543
Okay thanks a lot for the fast feedback! I am in need of that feature for a project of mine, so I will implement it manually then.

[2021-11-03 23:03] manumerous opened #1544 "Using external force applied not at joint location for rnea inverse dynamics"
I am trying to use pinocchios [rnea](https://github.com/stack-of-tasks/pinocchio/blob/5daf5de1c158363e835d322435bab4aa2f9b9b0b/src/algorithm/rnea.hpp#L55) to compute the needed feed forward torques for a bipedal robot.

If I understood the documentation correctly the fext should be the custom aligned_vector type with an entry for each joint, where the entry is a 3D vector expressing the external f

[2021-11-04 09:43] bhtxy0525 opened #1545 "Whether Pinocchio supports closed-chain robot dynamics？"
Whether Pinocchio supports closed-chain robot dynamics？

[2021-11-04 09:44] jcarpent commented on #1545
Thanks for your interest in Pinocchio.
Your issue duplicates #1274.

[2021-11-04 09:44] #1545 closed

[2021-11-04 09:49] jcarpent commented on #1544
You just need to account for the transform between the contact point and the center of the joint supporting the body in contact.
`f_local = iMc.act(f_contact)`

[2021-11-04 09:56] bhtxy0525 commented on #1545
thank you very much.

[2021-11-05 00:33] manumerous commented on #1544
Thanks for your response. I will give that a try.

[2021-11-05 03:48] bhtxy0525 opened #1548 "Inertia Matrix derivative"
Is there a function in Pinocchio that supports taking derivatives of the inertia matrices?
I want to verify whether M-2*C (C is the first kind Christoffel) obtained by Pinocchio satisfies the anti-symmetric property, which is an important characteristic in robot dynamics control.

[2021-11-05 05:02] yangyanboxiaoyao commented on #1548
I have the same question about the Coriolis matrix

[2021-11-05 09:01] jcarpent commented on #1548
Thanks for raising this interesting question.
@bhtxy0525 I guess you meant `dM\dt - 2*C` should anti-symmetric.
@yangyanboxiaoyao you can use `computeCoriolisMatrix` to efficiently compute C

Concerning both concerns, here is a script to compute an estimate of the `dM/dt`
[code]

@bhtxy0525 Do you really need an algorithm to get `dM/dt`? I may take some to add it within Pinocchio but I do not thin

[2021-11-05 10:37] bhtxy0525 commented on #1548
@jcarpent  thanks you so much.
I  have run your recommended program and the result showed that dM/dt - 2*C satisfies the anti-symmetric property. So i guess the C realized by **computeCoriolisMatrix**   satisfies the first kind of Christoffel, am I right?
Finally, i don't think there is an independent algorithm to get dM/dt, thank you again.

[2021-11-05 11:08] jcarpent commented on #1548
Yes, you're totally right.

[2021-11-05 11:08] #1548 closed

[2021-11-05 11:43] bhtxy0525 commented on #1548
@jcarpent Thank you for taking the time to reply.

[2021-11-05 11:46] yangyanboxiaoyao commented on #1548
@jcarpent ,thank you for your reply, could you tell me which paper or textbook method is used to calculate function `computeCoriolisMatrix ` ?

[2021-11-05 12:34] jcarpent commented on #1548
I wrote this algorithm on my own, following the development of the analytical derivatives (https://hal.archives-ouvertes.fr/hal-01790971). It was already 4 years ago.
I did not take the time to write a proper document on it, but if you think it is worth it, I may spend some time. It is just I have limited working bandwidth at this time.

Thanks for considering Pinocchio. Any feedback is much more

[2021-11-07 01:53] manumerous commented on #1544
After implementing the wrenches of the impact forces on the knee joints I observed that the algorithm produced torques for the unactuated base coordinates (x, z and theta in the case of the planar 5-link) which is not physical. This reminded me that the rnea algorithm is only defined for fully actuated systems, which i guess i should have known in hindsight.

I could solve this now by using the fo

[2021-11-07 07:58] jcarpent commented on #1544
Your first comment was not clear enough to understand your setup.
This is not directly available in Pinocchio but rather in TSID which is rooted on Pinocchio. We will add this feature to Pinocchio next year.

[2021-11-07 07:58] #1544 closed

[2021-11-08 12:51] proyan commented on #1540
Hi Kong231,
Thanks for your report. I'll have a look at it this week. Did you advance on your side, or is the status still the same as reported in this issue?

[2021-11-08 16:06] Kongx231 commented on #1540
I still haven't been able to advance on my side and the issue still persists. Thanks for looking into the issue.

[2021-11-11 14:23] duburcqa opened #1550 "Problem accessing `geometryObjects` in Python on MacOS."
I'm compiling pinocchio on MacOS. Almost everything works fine excepts on small bug that is unfortunately blocking for me. I cannot access methods and properties of derived primitive shapes. For instance if I do this:
[code]
I get this error:
[code]

Note that if I create primitive shapes like `Sphere` directly using `hppfcl` bindings, I can access all its proprieties as expected. Moreover, everyt

[2021-11-11 16:17] jcarpent commented on #1550
With Pinocchio installed with conda, it works totally fine.
I suspect this is coming from the way you installed Pinocchio+HPP-FCL on OS X.

[2021-11-11 16:48] duburcqa commented on #1550
Hum... ok I'm not really surprise. Thank you for checking!

[2021-11-11 17:06] Kongx231 commented on #1540
If it helps, I've implemented the full finite difference and I validate that the finite difference with some random perturbation.
[impulse-dynamics-debugging-finite-diff.tar.gz](https://github.com/stack-of-tasks/pinocchio/files/7522050/impulse-dynamics-debugging-finite-diff.tar.gz)

[2021-11-11 22:36] duburcqa commented on #1550
Just for you to know, I can confirm 100% that it comes from the fact that I statically build hpp-fcl.

[2021-11-11 22:40] #1550 closed

[2021-11-14 07:25] annan-tang commented on #802
Hi, thanks very much for the great Pinocchio library! I also have some small questions related to the "Frames":
1. when I built a floating-base humanoid with 38 joints, the len(iMf) is 40, but the len(Frames) is 79, they didn't match with each other, why it happened?
2. It seems that the Frames are built **automaticall**y when load from URDF file, but these operations frames aren't the target poin

[2021-11-14 08:05] jcarpent commented on #802
@annan-tang could you provide a tiny example to show 1?

[2021-11-14 08:30] annan-tang commented on #802
Thank you for the reply. Here is my example:
[code]
And then, I use the python console in pycharm to find the data structure like this:
in ```robot.model```: ```frames={stdVec_Frame:79}```
in ```robot.data```: ```iMf={stdVec_SE3:40  oMf={stdVec_SE3:79}```
While the joint number of my robot is 38 joints + 1 virtual root joint of 6 Dof + 1 universe = 40.

[2021-11-14 08:59] jcarpent commented on #802
iMf is not really concerned with Frames in fact. This is an intermediate quantity that is not useful for the end-user in general.
You can easily add a frame to your kinematic tree like that:
`model.addFrame(frame)`

We do not support the removing of frames, but if this feature is needed, we may add it. Do you really need it?

[2021-11-14 09:22] annan-tang commented on #802
Oh! Thank you very much!! The ```addFrame()``` is really what I want.

For the iMf, I got the information in [This tutorial](https://github.com/MeMory-of-MOtion/summer-school/blob/master/tutorials/pinocchio/1_geometry_and_dynamics.ipynb): **by iMf the fixed placement of the operational frame with respect to the parent joint frame, the placement of the operational frame with respect to the world is

[2021-11-14 09:33] jcarpent commented on #802
Your detailed answer looks perfect.
Here it is: https://matrix.to/#/!xlvgaTQeHHVMafeNDX:matrix.org/$XixToKnEsZcnwImJvVPL0HaBcMisAxEJ6MkEMRAQtdI?via=matrix.org&via=laas.fr

[2021-11-15 04:44] wchengh2010 opened #1553 "Closed loop dynamics constraints with Pinocchio preview 3"
Hi,

Thank you for maintaining this very well known repo. It has been greatly helpful for our research work. We are working on Cassie and Digit robot which have closed loop 4-bar linkage. We have been using RBDL with closed loop dynamics and want to switch to Pinocchio preview 3. We have the following 3 questions. Thanks a lot for taking your time to answer our questions!

1. In RBDL, there is 'Ad

[2021-11-15 05:48] jcarpent commented on #1553
The current API for closed loops handling is not fixed yet: we will provide some updates to make it more compliant and easy to use.

You're totally correct. We will release soon the documentation of all these features. In the meantime, the example https://github.com/stack-of-tasks/pinocchio/blob/74c574f1e6b9cc1d9eb417855a6112d56a981146/examples/simulation-contact-dynamics.py should help you.

[2021-11-15 05:49] jcarpent commented on #1553
We are supporting SDF parsing. You can compile these parser using cmake.
Closed-loop constraints for Cassie for instance are handled via 6d constraint. While the computational is a bit increased, the advantage is that we kept the entire kinematic tree in the Model.

[2021-11-15 05:50] jcarpent commented on #1553
You are totally right. It seems you have completely understood the current API for closed kinematic chains and contact constraints.

[2021-11-15 05:51] jcarpent commented on #1553
By the way, to which research team do you belong to?

[2021-11-15 18:23] NmBoyd commented on #1553
@wchengh2010 works with me at Georgia Tech on Cassie and an incoming Digit at LIDAR. Currently we are refactoring a lot of the software tools we are using. Hence the questions on the progress of closed loop kinematics. Digit atm also does not have the most put-together API at the low-level and does not provide much for dynamics/kinematics or control unfortunately.

[2021-11-16 07:58] #1553 closed

[2021-11-19 10:15] proyan commented on #1540
@Kongx231
I see that the mesh names in your laikago folder point to example-robot-data path. Do you have Laikago locally in example-robot-data? If so, could you please make a PR there to officially add it to the main repo?

[2021-11-19 11:01] proyan commented on #1540
I just added the laikago_description from unitree site here: https://github.com/proyan/example-robot-data
Could you make a PR of your modifications on top of the devel branch please, so we could push to the main repo?

[2021-11-19 11:03] junlileeds commented on #1534
Dear @jcarpent ,

There is no complex joints such as floating-base joint or continuous joint in the pendulum system, why we still need to normalize the configuration vector before calling forward dynamics algorithms?

Thanks.

[2021-11-19 11:09] jcarpent commented on #1534
Because it is using continuous joints formulation, parametrized by q = [cos(theta),sin(theta)].

[2021-11-19 11:20] junlileeds commented on #1534
so sorry for disturbing.

[2021-11-19 12:03] jmirabel commented on #1534
For others bumping into this, it should be
`q = pin.normalize(model, q)`.

[2021-11-19 13:50] grizzi commented on #1524
Hi. I am facing a probably connected issue. The tag I am working on `v2.6.4` seems to have the correct path. I install pinocchio from source and when searching the library with PkgConfig, the library is not found. The `pinocchio.pc` seems to contain a spurious reference to a default path `/opt/openrobots/lib` even though the package is installed in a custom INSTALL_PREFIX location:
[code]

[2021-11-19 14:08] nim65s commented on #1524
Hi @grizzi,
Can you show us which binary packages you have from robotpkg ? With something like `dpkg -l robotpk-\*`

[2021-11-19 16:19] grizzi commented on #1524
Hi, this is the output of the previous command:
[code]

[2021-11-19 20:56] Kongx231 commented on #1540
Just submitted the pull request. Please let me know if you need anything else.

[2021-11-22 01:30] nim65s commented on #1524
hpp-fcl v1.7.5 is older than the fix provided in https://github.com/jrl-umi3218/jrl-cmakemodules/pull/499 ; please upgrade it to 1.7.8, and try again to configure and build pinocchio. For this, `sudo apt update && sudo apt upgrade` should be enough.

[2021-11-22 16:00] grizzi commented on #1524
thanks! I can confirm that with the newest version of hpp-fcl the problem is gone :)

[2021-11-22 19:19] proyan commented on #1540
@Kongx231  Could you please try https://github.com/proyan/pinocchio/tree/pinocchio3-preview branch and see if it works?

[2021-11-23 04:45] Kongx231 commented on #1540
Both derivatives are still off on my end when using that branch. I've uploaded the full finite diff code that I'm working with now.
[impulse-dynamics-finite-diff-updated.tar.gz](https://github.com/stack-of-tasks/pinocchio/files/7585850/impulse-dynamics-finite-diff-updated.tar.gz)

[2021-11-23 08:05] proyan commented on #1540
I checked your fd from this file, and compared against my own.

The problem is solved with the above branch, I'll upload the file, look at the implementation of dRdq_fd and dRdv_fd, and compare against the original

[code]

[code]

[impulse-derivatives-laikago-2.zip](https://github.com/stack-of-tasks/pinocchio/files/7586519/impulse-derivatives-laikago-2.zip)

Have a look, and let me know if there

[2021-11-23 19:23] Kongx231 commented on #1540
Great, I had an issue with my environment and was able to fix it and get the fix working. Thanks!

[2021-11-23 19:23] #1540 closed

[2021-11-24 15:04] kploeger opened #1555 "ImportError: cannot import name 'casadi' from 'pinocchio'"
Dear all,

I would like to use Pinocchio preview 3 together with Casadi in Python to do some trajectory optimization.

Since https://github.com/conda-forge/pinocchio-feedstock#installing-pinocchio installed version 2.6.4, I tried `conda install pinocchio -c conda-forge/label/main` in a clean Python 3.8 conda environment on a fresh Ubuntu 20.04 which according to `conda list` successfully installed

[2021-11-24 16:06] jcarpent commented on #1555
You should install it manually sorry.
2.9.x should not have been published so far. We were not ready to support it via.

But manual install is really easy from the pinocchio3-preview branch.
Where are you working? And how do you know this extended feature of Pinocchio?

[2021-11-24 16:55] kploeger commented on #1555
Ahh okay, then I'll try the manual install.

I read somewhere, that Pinocchio works with CasADi, but didn't realize that it was only referring to C++. Then I randomly stumbled over the release notes of 2.9.0 https://github.com/stack-of-tasks/pinocchio/releases/tag/v2.9.0.

[2021-11-24 17:21] jcarpent commented on #1555
It does work well. Many people around us are using it actually.

[2021-11-24 17:21] #1555 closed

[2021-11-27 00:17] mhr opened #1556 "Unilateral contact dynamics for MuJoCo-esque locomotion experiments"
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_b-examples_k-qp.html

Hello! I was hoping as I was reading through the documentation to find an example of how to use Pinocchio with unilateral contacts so I could do some experiments similar to the MuJoCo locomotion tasks. However, it seems such an example has not been implemented yet. Would it be possible to provi

[2021-11-29 09:24] proyan commented on #1556
Hi @mhr
Contacts and their derivatives are a new feature that are currently in the (still unstable) branch pinocchio3-preview. You can see the example of contact simulation here: https://github.com/stack-of-tasks/pinocchio/blob/pinocchio3-preview/examples/simulation-contact-dynamics.py

The derivatives of the contacts, similarly, can be computed simply by the `computeConstraintDynamiscDerivatives(

[2021-11-29 14:20] jcarpent commented on #1556
@mhr Thanks for your interest in using Pinocchio.
We will provide soon the whole support for unilateral contact models. It is mostly a matter of limited work bandwidth.
Currently, as mentioned by @proyan, we only support bilateral contact models and their derivatives.

[2021-11-29 14:59] xeonz1 opened #1557 "wrong generation of config cmake files"
pinocchioConfig.cmake

windows 10, MinGW gcc

the lib file name should be *pinocchio.lib.a instead of *pinocchio.lib
[code]

[2021-11-29 15:24] xeonz1 commented on #1557
Most likely because it was compiled by mingw.

[2021-11-29 15:29] jcarpent commented on #1557
We may add a specific case for MinGW then. Do you really need to use MinGC?

[2021-11-29 15:34] xeonz1 commented on #1557
I am not sure.... I need to use C++/C on windows for the sake of communication with simulink. Personally I prefer mingw rather than MSVC. So far I dont think preparation for development using MSVC is easier than mingw...
 Any better suggestions on using pinocchio with C++? Currently I am stuck in the generation of crocoddyl makefiles, which threw a error CMake generation problem.

Already thinking

[2021-11-29 15:35] jcarpent commented on #1557
Croco is not yet compatible with Windows. It is not exporting the symbols.
I would say for Pinocchio, cmake tool is very intuitive and easy to use. Please check with the Windows CI (https://github.com/stack-of-tasks/pinocchio/blob/master/.github/workflows/windows-conda-v142.yml).

[2021-11-29 16:11] proyan commented on #1557
Related to https://github.com/loco-3d/crocoddyl/issues/1014

[2021-11-29 16:44] shubhamsingh91 opened #1558 "cppadcg_eigen.hpp missing"
When I try to compile the timings-cg.cpp in benchmark to test the codegen algos, then I get the following error.

fatal error: cppad/cg/support/cppadcg_eigen.hpp: No such file or directory
 #include <cppad/cg/support/cppadcg_eigen.hpp>
          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

Does building Pinocchio doesn't build CppADCodeGen automatically?

Thanks

[2021-11-29 16:47] proyan commented on #1558
Did you turn ON `BUILD_WITH_AUTODIFF_SUPPORT` (for cppad) and `BUILD_WITH_CODEGEN_SUPPORT` (for cppadcodegen) when doing cmake?

[2021-11-29 17:01] shubhamsingh91 commented on #1558
Thanks for the reply.
Is it as simple as -BUILD_WITH_AUTODIFF_SUPPORT=ON -BUILD_WITH_CODEGEN_SUPPORT=ON added to the cmake command?

[2021-11-29 17:48] shubhamsingh91 commented on #1558
Figured it out!

For anyone else stuck on this-

1. I changed the flags BUILD_WITH_AUTODIFF_SUPPORT and BUILD_WITH_CODEGEN_SUPPORT in the CMakeLists to ON,
2. Built cppAD from https://coin-or.github.io/CppAD/doc/install.htm using cmake.
3. Built cppADcg from https://github.com/joaoleal/CppADCodeGen using cmake.
4. compiled the Pinocchio source file.

[2021-11-29 17:48] #1558 closed

[2021-11-29 19:36] jcarpent commented on #1557
@xeonz1 If you just need to install Pinocchio, then relying on conda for that is the easy way.

[2021-11-30 06:42] xeonz1 commented on #1557
Not familiar with conda. Can I still use c++ with conda ver. pinocchio?

[2021-11-30 06:54] jcarpent commented on #1557
Yes. Of course !

[2021-11-30 07:19] #1557 closed

[2021-12-01 15:33] xeonz1 opened #1559 "Confliction when building on Windows"
In pinocchio_math_fwd_hpp,

it defines :
PINOCCHIO_OVERLOAD_MATH_BINARY_OPERATOR(min)

pinocchio/fwd.hpp includes windows.h, which includes winddef, and then minwindef. This leads to confliction.

Using conda version pinocchio for c++ building currently.

cmakelists:

`cmake_minimum_required(VERSION 3.0.0)
project(pytest)

find_package(pinocchio REQUIRED)
# find_package(Eigen3 REQUIRED)
# find_pac

[2021-12-01 15:35] jcarpent commented on #1559
I don't get the problem. Could you be more precise?

[2021-12-01 15:35] xeonz1 commented on #1559
also I got this
![image](https://user-images.githubusercontent.com/56295370/144264291-d66382ba-1a96-4f6c-af3b-743f1783157d.png)

![image](https://user-images.githubusercontent.com/56295370/144264245-7f888428-aa3e-4665-9b6a-2e68711b33d2.png)

[2021-12-01 15:37] xeonz1 commented on #1559
stuff like this about macros stopped the building

the min in the figure is already defined in minwindef
![image](https://user-images.githubusercontent.com/56295370/144264447-33cb7d50-5f3c-4688-9b25-f4d69ce93ff2.png)

[2021-12-01 15:38] jcarpent commented on #1559
You need to include nominmax in the Windows build in CMake.

[2021-12-01 15:41] jcarpent commented on #1559
See https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/src/CMakeLists.txt#L33

[2021-12-01 15:44] xeonz1 commented on #1559
Gracias!

[2021-12-03 17:59] traversaro opened #1560 "LaTeX formula on the documentation not displayed due to Missing \end{eqnarray} error"
The math part of the documentation of `pinocchio::forwardDynamics` is not displayed due to an error `Missing \end{eqnarray}`:

![forwarddyndocs](https://user-images.githubusercontent.com/1857049/144650187-0371a47d-2c1a-41ae-9b47-ffc2e57e635d.PNG)

See also https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#ab26c1ca5d01d5885b329fc35793682df .

The re

[2021-12-03 18:12] jcarpent commented on #1560
Thanks @traversaro for raising this point, pretty useful as usual. I've also noticed this issue on my side without taking time to analyse it.

[2021-12-04 23:03] Kl33n3x opened #1564 "Differentiation question using Jlog3"
**[This is a question and not an issue, if there is a better place for this do not hesitate to tell me]**

With the following code we can see how `Jlog3` works (from a given rotation, how adding a small twist will affect the new rotation):

[code]

My question is, if I had something like this:

[code]

How would I compute the differentiation of this using pinocchio ?

[2021-12-04 23:19] Kl33n3x commented on #1564
Ok I'm answering my own question
We can use another twist `w` so that `R2 w = v`

Thus, `e^v = e^{R2 w} = R2 e^w R2.T`
We can find the jacobian for `w` that is `pin.Jlog3(R1 @ R2)`

Since `v = R2.T w` the jacobian for `v` is then `pin.Jlog3(R1 @ R2) @ R2.T`

[2021-12-04 23:19] #1564 closed

[2021-12-06 16:34] jcarpent commented on #1560
Solved by #1567.

[2021-12-06 17:37] proyan commented on #1523
This issue would be handled along with the TransmissionModel in pinocchio3.

[2021-12-06 18:20] #1560 closed

[2021-12-07 09:08] proyan commented on #1520
Fixed with #1568.

[2021-12-07 09:08] #1520 closed

[2021-12-07 14:22] xeonz1 opened #1569 "casadi support in python interfaces"
is it supported by pinocchio 2.9.1 to export the casadi symbolic expression of dynamics, i.e., aba, rnea ...?

[2021-12-07 14:25] #1569 closed

[2021-12-07 16:44] spykspeigel opened #1571 "Undefined symbol error in libpinocchio_pywrap.so"
Hello,
I tried a source installation.
But received the following error
[code]

On turning off Build_unit_test, the compilation was complete. But on importing Pinocchio I receive the following import error.
[code]
 The dependencies with,
`ldd /usr/local/lib/libpinocchio.so.2.6.4 ` are

[code]

I suspect there is an issue with the libboost but not sure about the specific issue.
Any help is greatly a

[2021-12-07 16:55] spykspeigel commented on #1571
Hey @jcarpent. Yes, I had a binary installation. But working on a new stateclass in Crocoddyl library and for this I wanted  python binding of dIntegrateTransport. There is no binding related to dIntegrateTransport in Pinocchio. Is it not exposed for any specific reason?
For this requirement, I did add the corresponding bindings but faced the above issue.

[2021-12-07 16:57] jcarpent commented on #1571
So just remove it and let's play.
The `dIntegrateTransport` will be added soon. We already have a fix for that thanks to @ManifoldFR.

[2021-12-07 16:58] jcarpent commented on #1571
I think we can now close the issue which seems to be solved.

[2021-12-07 16:58] #1571 closed

[2021-12-07 17:36] cmastalli commented on #1571
This is great!
These bindings are blocking us, we are keen to implement (or support you) ourselves if this will take time to be available.
Could you tell us when you think it will be available (in devel branch)?

Many thanks ;)

[2021-12-07 17:39] proyan commented on #1571
The python bindings of `dIntegrateTransport` are already present in the main lib: https://github.com/stack-of-tasks/pinocchio/blob/master/bindings/python/multibody/liegroups.hpp#L194

Is there something specific that you are searching @spykspeigel @cmastalli ?

[2021-12-07 17:46] cmastalli commented on #1571
We need the bindings of the joint algo: https://github.com/stack-of-tasks/pinocchio/blob/a1df23c2f183d84febdc2099e5fbfdbd1fc8018b/src/algorithm/joint-configuration.hxx#L174-L220, which I think it should be implemented here: https://github.com/stack-of-tasks/pinocchio/blob/master/bindings/python/algorithm/expose-joints.cpp

[2021-12-07 18:11] ManifoldFR commented on #1571
Hi, I cherry-picked a commit from my working branch and proposed PR #1572 to add this functionality.

[2021-12-07 18:37] spykspeigel commented on #1571
Thanks. :)

[2021-12-09 07:16] tianbaoloin opened #1573 "Rnea inverse dynamics solution display error (did not match C++ signature:)"
I write an example of solving inverse kinematics by Python,  The command can be executed when there is no external force. However, when there is an external force, the command prompts an error.  Some codes are as follows:
    pos_inf = tuple(All_joint_pos_inf[:3]) + tuple(All_joint_pos_inf2[3:])
    vel_inf = tuple(All_joint_vel[:3]) + tuple(All_joint_vel2[3:])
    acc_inf = tuple(All_joint_acc[:3

[2021-12-09 07:25] jcarpent commented on #1573
external_forces Should be a list of Force elements expressed in the local frame of each joint. The list size should be equal to the total number of joints contained in the Model

[2021-12-09 07:25] #1573 closed

[2021-12-09 07:38] tianbaoloin commented on #1573
The model has six joints and a floating base.  Should the external_forces applied be [forcex, forcey, forcez] multiplied by 6 ?

[2021-12-09 07:59] jcarpent commented on #1573
Spatial forces. pin.Force() and the number of joints is given by model.njoints.

[2021-12-09 08:23] tianbaoloin commented on #1573
There are too few application examples about RNEA(add external force). Can you give me a simple example? For example, a two-degree-of-freedom floating robotic arm.  For a floating robotic arm with two freedoms, model.njoints should be 4. How should the external force applied in the Rnea function be written ?  I tried several times just now, the above error continues to appear.

[2021-12-09 08:34] jcarpent commented on #1573
This test file should help you: https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/unittest/python/bindings_inverse_dynamics_derivatives.py

[2021-12-09 11:03] alme96 commented on #1274
Hi all,

Just to be sure: the closed chain kinematics support will be available for a future version of Pinocchio 3.x and is not currently available for the version 2.6.4 that can be downloaded from GitHub?

I need this information as I am doing a project on control that involves a delta arm and I would like to make use of Pinocchio and OCS2

Thank you for clarifying.

[2021-12-09 11:10] proyan commented on #1274
@alme96 The beta version is released in the pinocchio3-preview branch at https://github.com/stack-of-tasks/pinocchio/tree/pinocchio3-preview. The branch, however is not fully supported, and the full support would be available from Pinocchio3 release.

[2021-12-09 11:24] tianbaoloin commented on #1573
The problem has been solved, thank you very much

[2021-12-09 11:24] tianbaoloin commented on #1573
The problem has been solved, thank you very much

[2021-12-09 12:48] PangDaCAT opened #1574 "c++ compilation error"
According to the build from source in Installation Procedure,I installed pinocchio 2.6.4 under ubuntu 18.04. But when I run the example,an error occurred.
In the function ‘pinocchio::ModelTpl<
double, 0, pinocchio::JointCollectionDefaultTpl>& pinocchio::urdf::buildModel<double, 0, pinocchio::JointCollectionDefaultTpl>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator <char>>

[2021-12-09 12:50] PangDaCAT commented on #1574
#include <iostream>

#include "pinocchio/parsers/urdf.hpp"
#include "pinocchio/algorithm/joint-configuration.hpp"
#include "pinocchio/algorithm/kinematics.hpp"
#include "pinocchio/algorithm/jacobian.hpp"
#include "pinocchio/algorithm/rnea.hpp"

// PINOCCHIO_MODEL_DIR is defined by the CMake but you can define your own directory here.
#ifndef PINOCCHIO_MODEL_DIR
  #define PINOCCHIO_MODEL_DIR "/home

[2021-12-09 13:09] jcarpent commented on #1574
you need to add the C++11 flags when compiling your file: `g++ -O3 -std=c++11 $(pkg-config --cflags --libs pinocchio) test.cpp -o test` if you file is name `test.cpp`

[2021-12-09 13:09] #1574 closed

[2021-12-09 14:21] PangDaCAT commented on #1574
This doesn't seem to work.
try2.cpp:(.text.startup+0x68): to'pinocchio::urdf::details::parseRootTree(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char >> const&, pinocchio::urdf::details::UrdfVisitorBaseTpl<double, 0>&)' undefined reference

[2021-12-09 14:25] jcarpent commented on #1574
The reverse then. You need to use std=c++98

[2021-12-09 14:30] PangDaCAT commented on #1574
sorry, the same error..

[2021-12-09 14:43] jcarpent commented on #1574
Could you check in the history of issues. Similar issues appear with the trouble.

[2021-12-13 13:54] alme96 opened #1575 "building error pinocchio3-preview"
Hi all,

I am trying to compile pinocchio but I get always the same error:
![Screenshot from 2021-12-13 14-39-59](https://user-images.githubusercontent.com/37303359/145822916-ad48a1d3-c3b8-498d-b59b-7f88029144a5.png)
I tried the branches "pinocchio3-preview", "v2.9.1" and "v2.6.4". Is this issue related to pinocchio or to my computer?

Thank you for helping.

[2021-12-13 14:26] proyan commented on #1575
Hi @alme96
Please include your system information, installation instructions that you followed etc when asking for assistance on an open source repository. If we can't reproduce/understand your setup, no one can help you.

[2021-12-13 14:33] wxmerkt commented on #1575
The above error happens when your system runs out of memory when compiling. It's likely to freeze up just before the compiler gets killed. Try `make -j1` (if you have 16GB and compile with gcc, I would not go higher than `-j2`/`-j3`). The other option would be to use clang which uses less memory during the compilation

[2021-12-13 14:34] jcarpent commented on #1575
Just do a `make -j1` without parallel compilation.

[2021-12-13 14:39] jcarpent commented on #1575
I would also suggest using clang instead of gcc, which is smarter and more efficient

[2021-12-13 18:27] #1575 closed

[2021-12-13 18:39] proyan commented on #1492
Fixed by #1570

[2021-12-13 18:39] #1492 closed

[2021-12-15 09:07] xeonz1 opened #1576 "how to import pinocchio.casadi"
I compiled pinocchio 3 along with casadi support and py bindings. I have
![image](https://user-images.githubusercontent.com/56295370/146156563-f5b01a26-b700-47f9-bef9-f2e894d9d5f5.png)
But I still cannot use pinocchio.casadi module. What should I do?

[2021-12-15 09:40] jcarpent commented on #1576
Did you install it?
If so, `import pinocchio.casadi as cpin` should work.

[2021-12-15 09:42] xeonz1 commented on #1576
It works for me. How should I use this module?

[2021-12-15 09:44] jcarpent commented on #1576
As normal Pinocchio, you can transform a classic model into a casadi one and perform as usual.
[code]

[2021-12-15 09:44] #1576 closed

[2021-12-15 09:49] xeonz1 commented on #1576
What about using symbolic q? I use ConfigVectorType variables and assign SX variables to them in C++. How to do in py?

[2021-12-15 11:07] jcarpent commented on #1576
You can directly pass Casadi Matrix types as usual with Casadi.

[2021-12-15 19:01] chriswang1991 opened #1577 "Updates about calculations for jacobians at a certain position on the manipulator link"
Justin mentioned in the following post that in order to to obtain the Jacobian at a certain position on the manipulator link, we need to add a frame for that particular point.

https://github.com/stack-of-tasks/pinocchio/issues/1515

However, in Pinocchio 3.x, this feature is added. Is this feature added in pinocchio3-preview? Also is there a function to remove a frame for the current distribution

[2021-12-18 11:09] xeonz1 commented on #1576
I use pinocchio.casadi.jointJacobian(robot, data, cs_q, 1) where cs_q is a casadi MX, but it says

`Python argument types in
    pinocchio.pinocchio_pywrap_default.computeJointJacobian(Model, Data, MX, int)
did not match C++ signature:
    computeJointJacobian(struct pinocchio::ModelTpl<double,0,struct pinocchio::JointCollectionDefaultTpl> model, struct pinocchio::DataTpl<double,0,struct pinocchio

[2021-12-18 11:12] jcarpent commented on #1576
It should be a Casadi SX.

[2021-12-20 17:09] xeonz1 opened #1578 "Sudden Termination of Python when importing pinocchio.casadi"
The Import failed without any message and python just exit. I can still compile c++ codes with pinocchio. What should I do to debug? It still works days ago.

[2021-12-20 17:13] xeonz1 commented on #1578
pinocchio can be normally imported. only pinocchio.casadi is unavailable

[2021-12-20 17:37] jcarpent commented on #1578
On which commit are you working now? What was the former one?

[2021-12-20 18:06] xeonz1 commented on #1578
I debugged for a while and found that when import pinocchio.casadi a SX is created with value a tuple (0), which may caused exception. I guess it may use import casadi.casadi instead of import casadi

[2021-12-20 18:12] jcarpent commented on #1578
Sorry, but you are hard to follow.
Could you provide a tiny example that is not working on your side in such a way we can try on our side?

[2021-12-20 18:13] xeonz1 commented on #1578
Just import pinocchio.casadi. I see Process finished with exit code -1073741819 (0xC0000005)

[2021-12-20 18:21] jcarpent commented on #1578
I'm using casadi 3.5.5 and everything works perfectly well.
If it was working well a few days ago, it should remain the case. I suspect some change on your side.

Please consider reinstalling a clean version in a clean environment.

[2021-12-20 18:21] #1578 closed

[2021-12-30 05:18] manumerous opened #1579 "Using RigidConstraintModelTpl in new pinocchio3-preview branch"
Hi

I would like to use the new impulse-dynamics in the pinocchio3-preview branch for the foot impact of a biped and I therefore need to use the new `RigidConstraintModelTpl` and `RigidConstraintDataTpl` in [pinocchio/algorithm/contact-info.hpp](https://github.com/stack-of-tasks/pinocchio/blob/pinocchio3-preview/src/algorithm/contact-info.hpp)

I was a bit confused by the required inputs of the Ri

[2021-12-30 09:11] proyan commented on #1579
Hi Manuel,
The joint1 and joint2 correspond to the two joints on the kinematic tree which are in contact. For example, if we put the hands together in a "Namaste" sign, that would mean joint 1 corresponds to left hand joint, and joint 2 corresponds to the right hand joint.

The origin corresponds to the joint 0 in the multibody tree. Since you are making a contact with the ground, which is fixed w

[2021-12-30 17:41] manumerous commented on #1579
Hi Rohan,

I have not thought about the possibility of contacts between two joints of the robot. it makes a lot of sense now.
Thank you very much for the great response!

[2021-12-30 17:41] #1579 closed

[2021-12-31 05:50] manumerous opened #1580 "Extremly long build time for pinocchio3-preview"
Hi,

While trying out hte new pinocchio3-preview branch I observed that the build time is extremely long. To build the package using `catkin build pinocchio` it takes me 1h and 15 min to build compared to the about 20 seconds (excluding hpp-fcl) it takes me to build the current master branch. I found this stark difference quite strange.

I was wondering if you experienced similar build times? Are

[2021-12-31 09:14] jcarpent commented on #1580
I'm very surprised by your 20 seconds. It seems there is no compilation at all as the package is already compiled. You should start from scratch.
Concerning Pinocchio 3, we have added a lot of new features, among them extended Python bindings, constrained dynamics support, etc. with a lot of additional unit testings to validate implemented algorithms.

My first advice would be to deactivate the co

[2021-12-31 09:15] jcarpent commented on #1580
By the way, we are adding the template instantiation within the main library to really shorten the whole compilation timings of the project.

[2021-12-31 18:43] manumerous commented on #1580
I achieve the 20s build time when I first clean my catkin workspace using `catkin clean` followed by `catkin build pinocchio`.
Could it be that the preinstalled `robotpkg-pinocchio` and `robotpkg-py38-pinocchio` apt packages (which i have installed) contain most of the already compiled components for building pinocchio master?

I will give the deactivation of the unit tests a try.
Thanks for your

[2022-01-02 09:12] jcarpent commented on #1580
I do not know how catkin operates, but they might be a catch mechanism behind it.
Catkin can also install the binary version built on the building farm of ROS.

PS: thanks for the kind and french thought.

[2022-01-03 15:56] #1580 closed

[2022-01-03 16:20] florent-lamiraux opened #1581 "Model.addJoint does not test the input joint Id"
I am using `pinocchio` for teaching robotics to students. Building a kinematic chain, one of them made `python` crash by simply adding a joint with a wrong parent joint id. The following code reproduces the bug:
[code]

[2022-01-04 10:04] wxmerkt commented on #1580
Hi @manumerous
Happy New Year!

Is it possible that you are using ccache [first hunch] or not correctly clearing the package? It definitely won't pick up any binary installed Pinocchio versions, whether robotpkg or ROS, to reduce buildtime. You can get rid off the ccache cache by removing `~/.ccache` for more reliable compile timings from scratch, or deactivating ccache temporarily.

`catkin build

[2022-01-04 14:51] jcarpent commented on #1581
You're totally right @florent-lamiraux. We should put more safe-guard in the Model of Pinocchio, following existing discussions in #1025.

[2022-01-05 02:15] #1577 closed

[2022-01-05 03:05] chriswang1991 opened #1584 "GreaterThanZero cannot be called for non-parameters for eigen determinant"
Hi,

I am trying to use CppADCG with pinocchio to compute the gradient of the manipulability determinant index. However, it gives the "GreaterThanZero cannot be called for non-parameters" when the codes are generated. For sure, it's not a problem of pinocchio, but just curious did you encounter similar issues by any chance before? My code snippet is listed below:

`void RigidBodyDynamicsPinocchio:

[2022-01-07 03:50] chriswang1991 commented on #1584
Close this issue. For me, I separate the manipulability into two parts, linear and rotation, this can make sure J*J^T is 3x3 which is a small matrix with closed form determinant. Eigen library uses this to calculate determinant instead of LU decomposition. The inequality branches happens in the LU decomposition method. Otherwise, we have to wrap if/else around with CppAD::CondExpLt.

[2022-01-07 03:51] #1584 closed

[2022-01-07 04:09] proyan commented on #1581
From #1025, we never really fixed the way forward. The propositions of discussion that I see is:
1) Adding a macro to throw, which is by default set to False (needlessly complex).
2) Similar to (1), throwing with default argument in the function (needlessly complex)
3) Throwing by default (breaks API)
4) Warning messages (pollutes cout)

I would be in favor of throwing by default, but that breaks

[2022-01-07 06:29] florent-lamiraux commented on #1581
Unlike #1025, calling `addJoint` with a wrong parent joint Id makes the program crash. So I think there is no problem in throwing by default.

[2022-01-07 08:15] jcarpent commented on #1581
I do agree with Florent.

[2022-01-07 09:14] proyan commented on #1581
Makes sense. I can provide a solution to this instead of linking with the previous issue then.

[2022-01-10 16:12] florent-lamiraux opened #1587 "Is GeometryObject::ngeoms really useful ?"
https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/src/multibody/geometry.hpp#L168
Is there any difference between `ngeoms` and `geometryObjects` ?
If no, the first one should be deprecated and replaced by a const reference to the second one.
For some robotics demo, I add and remove geometries from my model and I got confused since `geometryObjects.erase(it)`

[2022-01-10 16:17] jcarpent commented on #1587
Yes, of course.

[2022-01-10 16:18] jcarpent commented on #1587
Why not. How do you see the solution?

[2022-01-10 16:30] florent-lamiraux commented on #1587
In class `GeometryModel`:
[code]
and in the constructor:
[code]
If the compiler accepts, this should do the job.

[2022-01-10 16:37] jcarpent commented on #1581
Fixed by #1586.

[2022-01-10 16:37] #1581 closed

[2022-01-10 16:42] florent-lamiraux commented on #1587
I do not think so. There is no memory allocation involved.

[2022-01-10 16:46] jcarpent commented on #1587
Yes, but the return object is a temporary variable: it is not held by the std::vector object.

[2022-01-10 17:07] florent-lamiraux commented on #1587
Let see what the compiler thinks about it. I will try tomorrow.

[2022-01-10 17:17] jcarpent commented on #1587
Let's then bet a 🍺  dear Florent!?

[2022-01-11 06:39] florent-lamiraux commented on #1587
I think you are right. My solution won't work. Then I will propose a PR to add a method that removes an object. Calling this method, users will not need to handle variable `ngeoms`.

[2022-01-12 22:28] manumerous commented on #1580
Thank you for your comments. They were rally helpfull!

[2022-01-17 09:42] fennel-labs opened #1589 "Algorithm for getCoriolisMatrix"
Just for satisfying my curiosity: Which algorithm is used for the computation of the Coriolis-matrix?

Best regards,
Michael

[2022-01-17 12:52] #1589 closed

[2022-01-19 14:43] xeonz1 opened #1590 "Derive placement of frame in another joint frame/change the parent joint"
version: pinocchio3-preview casadi module
I have a frame at the contact point of a wheel to the ground, which is defined based on the wheel revolute joint, i.e. the center of the wheel and the wheel radius.  Currently, I express the contact point by the oMf of the wheel frame which is in the world coordinate and I use the "universe" as the parent joint so as to ensure the proper position.

Parent

[2022-01-20 15:37] JonathanKuelz opened #1591 "Remove Body"
Hey,
I am working on modular robotics with pinocchio, which means I build lots of robots composed of the same modules. It would be convenient if it was possible to add and remove bodies and joints for this purpose (as mentioned in #1451 ) instead of building every combination from scratch.

I am only working with the python wrappers, where I was able to add as many joints / bodies as I want. Howev

[2022-01-21 03:00] moliqingwa opened #1592 "Is Denavit Hartenberg parameters supported for industrial robots?"
Is Denavit Hartenberg parameters supported for industrial robots?

[2022-01-21 06:18] #1590 closed

[2022-01-21 07:22] jcarpent commented on #1592
The quick answer is not directly but it should be easy to write a converter. Do you have a URDF model of your robot?

[2022-01-21 07:48] moliqingwa commented on #1592
Thanks for your quick response. No URDF models at hand currently but I'll dig into it some time :)

[2022-01-21 07:48] #1592 closed

[2022-01-21 14:57] jcarpent commented on #1591
Indeed, it would be a nice feature to add to Pinocchio
The only missing part is the need of rebuilding a Data struct as soon as the model has changed. Do you have in mind typical applications for that?

[2022-01-21 15:10] JonathanKuelz commented on #1591
My personal application for that is the evaluation of different modular robots for a given task - like e.g. finding a good combination from a large set of possible modules to reach multiple poses in a work space. ([Whiman et al.](https://www.semanticscholar.org/paper/Modular-Robot-Design-Synthesis-with-Deep-Learning-Whitman-Bhirangi/290780f81eb42ba0d22f5335e7eed53b3829e0c8) have done something lik

[2022-01-22 15:58] xeonz1 opened #1593 "Problem about joint jacobian reference frame and floating base pose"
I have a floating base model with root_joint=pinocchio.JointModelFreeFlyer()

According to https://stack-of-tasks.github.io/pinocchio/assets/math-concepts.pdf, one can compute relative velocity between two joint-connected body 1 and 2 by = 2_v_12  = 2_J * v_j
Seems like the connection in pinocchio is a bit different from the URDF definition.
[code]

[2022-01-23 08:32] jcarpent commented on #1593
You have provided an incomplete example. We don’t have access to the model.
@proyan could you provide help on this issue please?

[2022-01-23 14:01] xeonz1 commented on #1593
Sorry, I uploaded the urdf in:
https://github.com/xeonz1/hello-world/blob/master/robot.urdf

[2022-01-24 06:02] xeonz1 commented on #1593
I may have solved the problem. Analysis is given by:
1. The generated quaternion may be irregular and lead to wrong SE3 transform. Therefore one can use:
[code]
2. One should use only the joint velocity v_j instead of the generalized velocity of the model.

[2022-01-24 06:02] #1593 closed

[2022-01-24 07:52] proyan commented on #1593
Glad you solved the problem. Regarding your analysis,
1a) there is a `randomConfiguration(model, lowerLimits, upperLimits)` function available in pinocchio that you could use to generate random configurations, without worrying about quaternion normalization
1b) you could also use `.normalize()` function in quaternion in order to normalize the randomly generated quaternion.

Have fun using pinocchi

[2022-01-26 03:06] Cfather opened #1594 "pinocchio 3.0.0?"
How can I build model from sdf or srdf file? It seems I would require a 3.0.0 version.

[2022-01-26 09:15] jcarpent commented on #1594
Hi @Cfather!
It is hard to answer issues with such a little level of politeness.
Best,
Justin

[2022-01-26 10:23] nkashiri opened #1595 "Get the current configuration"
Hello,
As I would like to do a set of verifications for my implementation, while at one stage I set a configuration on my Data using forwardKinematics, I would like to get the configuration that is stored in my Data in another stage. Can I somehow retrieve/get the current joint configuration set the Data?
Thanks

[2022-01-26 10:28] jcarpent commented on #1595
Hi !

We do not store the configuration, velocity or any input arguments within Data for efficiency reasons.
You can easily add this feature, by inheriting from Data in Python or C++ and storing these quantities within the new class.

[2022-01-26 10:41] nkashiri commented on #1595
I see, thanks for the quick reply

[2022-01-26 10:41] #1595 closed

[2022-01-26 16:33] xeonz1 opened #1596 "Problem about JointModelFreeFlyer initial placement"
Hi,

I want to ask if the initial placement of a JointModelFreeFlyer is related to the definition of floatingbase in urdf? For example:
[code]
I have a robot with leg and tried to find the foot position with some configuration. It appears that the orientation of the floating base is not as expected because when the foot position sign is opposite to expected.
Of course this can also be caused by th

[2022-01-26 17:02] jcarpent commented on #1596
Sorry, but your issue is not clear at all.
I don't get what do you expect.

[2022-01-26 17:14] xeonz1 commented on #1596
Thanks for the reply. I have a floating_base link defined as
[code]
Then I run
[code]
with the output
[code]
Why it is not the same as <inertial><origin xyz> and appears that the floating_base is revoluted by 180 degree w.r.t. its x-axis?

[2022-01-26 17:23] jcarpent commented on #1596
It depends on your convention for Euler angles I would say.
Use the eigenpy (Eigen Python bindings) to get the correct convention.
You can also use `pin.SE3ToXYZQuat(pin.SE3.Identity())`

[2022-01-26 17:38] xeonz1 commented on #1596
For
[code]
I get [0. 0. 0. 0. 0. 0. 1.]
and for my `euler2quat_math` I get for non-rotation quaternion [1,0,0,0]
What is the definition of quaternion in pinocchio?

[2022-01-26 17:50] jcarpent commented on #1596
This is the one of Eigen (x,y,z,w).

[2022-01-26 17:53] xeonz1 commented on #1596
Ok. My problem is solved.

[2022-01-26 17:53] #1596 closed

[2022-01-27 12:52] #1594 closed

[2022-01-31 07:37] jmirabel commented on #1592
Going from DH to URDF is very easy. You can even use [online resources](https://adohaha.github.io/DH2URDF/) for this. It wouldn't be hard to implement, in case you happen to have some time for this.

The reverse is not as straightforward, but is also less useful.

[2022-01-31 12:36] JonathanKuelz opened #1597 "model.nbodies != number of body frames"
Hello,
this is issue is partly issue, but also a question:

while playing around with runtime modification of pinocchio models in Python (see #1591 ), I realized that the model parameter nbodies is not equal to the number of body frames. At first I thought this could be explained by multiple frames being attached to a single body (could imagine reasons for that). However, seeing that the methods `

[2022-01-31 13:23] jcarpent commented on #1597
Bodies are indeed physical bodies defined by spatial inertia.
Both `existBodyName` and `getBodyId`operates from Frame with BODY type.

For real applications, you don't really need the notion of `nbodies` which is a counter incremented when calling `addBodyToJoint`.
In Pinocchio, we cumulate the body inertia to the inertia supported by a given joint.

In addition in Pinocchio, if you append a BODY

[2022-01-31 13:50] JonathanKuelz commented on #1597
Thanks, so could wrap it up as follows: `nbodies` is a helper that's not really necessary, inertias are updated automatically when adding a frame and "one body, one frame" more or less sums it up.

Assuming that's right, I'm gonna close this issue as this allows me to continue working with bodies in the model 👍🏾

[2022-01-31 13:50] #1597 closed

[2022-01-31 16:22] kozakromch opened #1598 "Wrong index in ABAChecker"
Hello, Thanks for such great library

 ABAChecker Has the following code
[code]

I think there is an index error and instead `
(model.inertias[j].inertia().data()[3] < 1e-5) ||`
should be `(model.inertias[j].inertia().data()[2] < 1e-5) ||`

As my checker falling at my model with following debugging data
 joint = 3  m = 9.475
  c = -2.92879e-06 -1.28519e-06      14.5843
  I =
     1639.16 -2.00142e

[2022-01-31 16:29] jcarpent commented on #1598
You're totally right. I fixed it here #1599.

[2022-01-31 16:29] #1598 closed

[2022-01-31 16:29] jcarpent commented on #1598
@kozakromch Thanks a lot for raising this issue.
Do you run Pinocchio in debug mode then?

[2022-01-31 16:35] kozakromch commented on #1598
@jcarpent Yes, I run pinocchio in Debug mode.
But i catch this error at checking my model

[2022-02-01 01:11] stevenjj opened #1600 "Jacobian for q1 \ominus q0"
Hi,
Perhaps this is straightforward, but I'm unable to figure this out. I have two configuration vectors, q0 and q1. I know that I can find the tangent vector that brings q0 to q1 using the difference function, namely:

difference(q0, q1) = v, such that  q1 = integrate(q0, v)

However, what I'm trying to achieve is a Jacobian for the difference function so that
v = J*(q1-q0) where J is fixed about

[2022-02-01 03:05] proyan commented on #1600
Hi Steven

There is also a dDifference that seems to be what you are looking for

Best

On February 1, 2022 6:41:27 AM GMT+05:30, Steven Jens Jorgensen ***@***.***> wrote:

[2022-02-01 16:39] jmirabel commented on #1600
You seem confused about some facts.
- In `v = J*(q1-q0)`, `J` has to have `model.nv` columns.
- The Jacobian `J` of the difference `q1 - q0` wrt `q1` is such that `[ (q1 + v) - q0 ] - [ q1 - q0 ]` is equivalent to `J v` when the norm of `v` tends to zero.

[2022-02-01 17:36] stevenjj commented on #1600
Thanks for getting back to me @proyan  @jmirabel!
@proyan I thought so too, but dDifference also operates in tangent spaces only for Delta q.

@jmirabel I don't think I I follow.  Let's take the case of a single spherical joint which would be represented as a quaternion.
Here q is size 4, and v would be size 3. What I'm trying to achieve is a linear approximation of v = q1 \ominus q0 w.r.t. q0.  S

[2022-02-01 18:07] jmirabel commented on #1600
I understand what you want. This isn't implemented in Pinocchio. If you want to stick to the coeff wise formulation, I advise you to write a proper limited development. `dv = J1 dq1 + J2 dq2` where `dq` are understood coeff wise.

Now, if you go down this road, you are on your own. Pinocchio will not be of much help.

[2022-02-01 18:09] stevenjj commented on #1600
OK. Thank you very much for the clarification. I just wanted to make sure that the function didn't exist.

[2022-02-01 18:09] #1600 closed

[2022-02-02 03:29] plancherb1 opened #1601 "Scalar of Type Float for Code Generation"
Hi, I've been trying to use the code generation features and have found that for some reason I can only get them to support a ```Scalar``` of type ```double```. Is there any way to get them to accept a ```Scalar``` of type ```float```?

For example setting the type parameter ```T``` in the below code snippet to ```double``` works fine, but setting it to ```float``` results in a compilation error s

[2022-02-02 07:36] jcarpent commented on #1601
Hi @plancherb1!
You just need to cast your input model as follows and similarly to Eigen:
[code]

[2022-02-02 07:36] #1601 closed

[2022-02-02 07:37] jcarpent commented on #1601
I've closed the issue as the issue seems to be solved. Feel free to reopen it if needed

[2022-02-02 16:34] nmansard commented on #1600
In case it might be useful, there was a class about this question,
material and video available here:

https://memory-of-motion.github.io/summer-school/materials

On 01/02/2022 19:09, Steven Jens Jorgensen wrote:

[2022-02-03 09:32] JunningHuang opened #1602 "Computing the dynamics via RNEA"
Hey,

I tried to use pinocchio to construct regression matrix and extract dynamic parameters from urdf files.
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_b-examples_c-dynamics.html#autotoc_md40,
from the above link, it seems you plan to provide an explicit way to compute the inverse dynamics via Netwon-Euler equation, are you going to release this example rec

[2022-02-03 09:39] jcarpent commented on #1602
What do you want to do exactly @JunningHuang?

[2022-02-03 13:18] jcarpent commented on #1602
Otherwise, you can do inverse dynamics as `tau = rnea(model, data, q, v, a, fext)`.

[2022-02-05 19:31] vnghia opened #1605 "`BaseVisualizer` shouldn't have its own data ?"
Hi everyone !

I find it unexpected that the method `rebuildData` creates a new copy of the data:
https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/bindings/python/pinocchio/visualize/base_visualizer.py#L40-L43

Inside `RobotWrapper`, if I call `rebuildData` on it, I will get 2 source of data, one inside that instance and one inside its `viz`.
https://github

[2022-02-05 23:11] jcarpent commented on #1605
Thanks for raising this question @vnghia.
I would say that your solution should also check that initially, the data between the viewer and the RobotWrapper were shared or not.
Could you add this feature by checking the addresses of the objects?

[2022-02-05 23:26] vnghia commented on #1605
@jcarpent It is actually a deeper problem. Normally, the user will call this function:
https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/bindings/python/pinocchio/robot_wrapper.py#L265-L272
which leads to
https://github.com/stack-of-tasks/pinocchio/blob/593d4d43fded997bb9aa2421f4e55294dbd233c4/bindings/python/pinocchio/visualize/base_visualizer.py#L12
Unfort

[2022-02-05 23:31] jcarpent commented on #1605
You can force them to be equal in the initViewer by adding an argument shared_data. Is it clear?

[2022-02-07 21:37] jcarpent commented on #1605
Solved by #1606.

[2022-02-07 21:37] #1605 closed

[2022-02-07 21:37] #1602 closed

[2022-02-07 22:27] vnghia opened #1607 "Empty `Model` has one joint"
I would like to ask why there is a joint in the empty model ?
[code]

If we need an universal joint, does the size of [`fext`](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/namespacepinocchio.html#a26d94ea6486d0eed1934b94767124a01) need to be equal to the number of real joints + 1 as that seems unnecessary to me ?

[2022-02-07 22:30] jcarpent commented on #1607
This joint is related to the universe. It has no meaning by the way. It is just the result of having it by default set to JointModelRX, as it is the default variant.
Fext should be of size `model.njoints`.

[2022-02-07 22:30] #1607 closed

[2022-02-12 09:28] muzi2018 commented on #988
maybe :  the type of joint in your urdf isn't supported by pinocchio
pinocchio just support the following joint type:
https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/md_doc_c-maths_c-joints.html
Revolute
Prismatic
cylindrical
Spherical
Translation
Free-flyer

[2022-02-14 10:18] JunningHuang opened #1608 "JointTorqueRegressor"
Hi, team of pinocchio, thanks for the powerful library first!

Now I am trying to do some SysID to identify the inertia parameters, and I noticed that there is a function called "computeJointTorqueRegressor" which utilize the linearity between torque and dynamic parameters (without the friction term). I guess the computation of the regression matrix is referred to chapter 6.3 Inertia parameter est

[2022-02-15 17:27] jcarpent commented on #1608
@JunningHuang Thanks for your interest in Pinocchio.
From your questions, it is not clear why do you need the joint rotation axis or the relative transformation between two joints. Could you depict your need?

As you mentioned, the joint torque regressor maps the dynamic parameters of the links to the joint torque following the relation: https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/mast

[2022-02-15 19:43] #1587 closed

[2022-02-16 11:07] JunningHuang commented on #1608
Thanks for the quick reply and the link of the documentation. The document is well explained for the regressor.

Now I am trying to implement the regressor myself, I follow the equations in chapter 6.3 Inertia parameter estimation in the Springer handbook of robotics by Bruno Siciliano, page 122-124. It would require the joint rotation axis and the relative transformation between two joints.

But

[2022-02-16 11:26] JunningHuang commented on #1608
By the way, have you considered add the damping term in the dynamic parameters? And the regressor would need an extra column for joint velocities.

[2022-02-16 17:56] jcarpent commented on #1608
This is a good point. We should add it to the estimation stage indeed.

[2022-02-16 22:39] JunningHuang commented on #1608
Another question is, I loaded an urdf file of a furuta pendulum to test the interface of dynamic parameters, namely toDynamicParameters(). But it seems there are some terms in the vectorized inertia not compatible with the value retrieve by model.inertias. I guess the terms in the vectorized inertia should be exactly the same with the model.inertias except the inertia of the universe joint.

[2022-02-17 05:47] rancheng commented on #1044
I wrote a script to do the interpolation:

[https://github.com/rancheng/SE3_Pose_Interp](https://github.com/rancheng/SE3_Pose_Interp)

hope it can help!

[2022-02-17 11:21] jmirabel commented on #1044
I couldn't find the info of what kind of interpolation you do. Slerp between two consecutive transforms ?

[2022-02-17 12:42] stephane-caron opened #1609 "Documentation is unavailable"
Hi guys! The documentation at https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/ seems currently unavailable. It returns a 403 Forbidden:
[code]

[2022-02-17 12:54] nim65s commented on #1609
Hi @stephane-caron,
This is a technical issue on my side, I'm currently checking this with our sysadmins. Sorry for the inconvenience.

[2022-02-17 14:02] ddliu365 commented on #1044
@rancheng thanks for providing this script. I actually used another library ([ndcurves](https://github.com/loco-3d/ndcurves)) for the final implementation. Just post here for your reference.

[2022-02-18 08:54] nim65s commented on #1609
This is fixed, sorry for the delay !

[2022-02-21 10:55] cmastalli opened #1610 "Normalized function in Pinocchio Quaternion leads to segfaul under -march=native flag"
The following Python code leads to segfaul if you compile `eigenpy` and `pinocchio` with `-march=native` flag.
[code]

fyi @wxmerkt

[2022-02-21 10:59] jcarpent commented on #1610
Your code might be wrong as R is not a rotation matrix as assumed by Eigen.

This is not due to Pinocchio here. I transfer it to EigenPy.

[2022-02-21 10:59] #1610 closed

[2022-02-21 15:18] #1608 closed

[2022-02-26 03:32] edward9503 commented on #1252
Hi @jcarpent , just suddenly one short question: You have mentioned that computeCentroidalMomentum computes the total angular momentum quantity expressed in the frame centered at the center of mass and with axes aligned to the world frame. Is it also the same for the linear momentum?

Thanks in advance.

[2022-02-26 03:52] ddliu365 opened #1611 "Casadi python issue"
Hi, folks,

Here I report two issues for the Casadi Pinocchio Python module.

I found an issue with the `rpy` class for the Casadi Pinocchio Python interface.

[code]

the log is:

Another issue occurs when I tried to access the frame position like previous Pinocchio
[code]
after running the program in the jupyter notebook, the server shut down immediately.

[2022-02-26 04:19] jcarpent commented on #1252
Yes, sure.

[2022-02-26 09:50] jcarpent commented on #1611
Thanks for the report. The first issue was known and fixed in the future Pinocchio 3 which should come soon.
For the second one, please provide a complete test.

[2022-02-26 15:10] ddliu365 commented on #1611
After rebooting the machine, I found the second error disappears. Look forward to the coming update.

[2022-02-26 15:10] #1611 closed

[2022-03-12 01:14] enzorevo opened #1614 "How to build a reduced model for Tiago for only the 7DOF arm"
Hi, first of all I would like to say I'm impressed by the excellent work made in this project. It's astonishing. Great!

I started working with your tools today, and I'm currently stuck into a (seemingly) stupid problem. In practice, I would like to build a simplified - reduced - model of the Tiago robot, starting from the URDF provided in the **example_robot_data** repository.

I load it this way

[2022-03-12 02:03] #1614 closed

[2022-03-12 02:05] enzorevo commented on #1614
I found out the correct way to do this is to reduce two times the model, in order to avoid problems as I mentioned. I tested the inverse kinematics and works as I expected. Great!

[2022-03-15 02:42] skywoodsz opened #1615 "program compilation problem with ROS"
Hi, I want to use pinocchio in ROS. However, when I  compile the program with catkin_make, I get the following error:

In file included from /opt/openrobots/include/pinocchio/fwd.hpp:25:0,
                 from /opt/openrobots/include/pinocchio/spatial/fwd.hpp:9,
                 from /opt/openrobots/include/pinocchio/multibody/model.hpp:9,
                 from /opt/openrobots/include/pinocchio/p

[2022-03-15 08:22] nim65s commented on #1615
1. Upgrade your system. 16.04/kinetic is way too old for anything.
2. Don't mix robotpkg binaries and ROS stuff, as pinocchio and its dependencies are provided by both and they are usually not compatible with each other.
3. Read the error message. It says that you should check in `/home/skywoodsz/MQuadruped_ws/src/champ_exter_control/src/pinocchio_control_test.cpp` that the first header you includ

[2022-03-15 14:18] wxmerkt commented on #1615
To add to (3), include `#include <pinocchio/fwd.hpp>` _prior_ to the `ros.h` header since ROS implicitly includes Boost. Here is a minimal example for how to use Pinocchio with ROS: https://github.com/wxmerkt/pinocchio_ros_example

[2022-03-16 12:51] Ren911 opened #1616 "Old version in documentation (2.6.4 instead of 2.6.5)"
Hello! You have released version 2.6.5 about a month ago. https://github.com/stack-of-tasks/pinocchio/releases/tag/v2.6.5
But if I go to the documentation, there I find old version 2.6.4 ( https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/ on main github page)

There was some bug with wrong Latex formula (https://github.com/stack-of-tasks/pinocchio/pull/1567), and still i

[2022-03-16 13:09] nim65s commented on #1616
Hi,

It looks like master was stuck on 47e600e3287ee033be7ee19a82ab25f2eb366b58 on the mirror that generate the doc. I just made a force push ; the doc should update itself in a couple hours.

[2022-03-16 15:30] #1616 closed

[2022-03-17 02:51] bhtxy0525 opened #1617 "Pinocchio::log6 question"
Hi, I would like to know which way is used to express the rotation in function **pinocchio:: log6** , is it quaternion?

[2022-03-17 06:10] jcarpent commented on #1617
The log6 operation takes as input a placement SE3 and outputs a Motion, is it answering your question?

[2022-03-17 08:23] bhtxy0525 commented on #1617
thanks for your reply, i have understood.

[2022-03-17 08:23] bhtxy0525 commented on #1617
@jcarpent thanks for your reply, i have understood.

[2022-03-17 10:19] #1617 closed

[2022-03-20 06:14] bhtxy0525 opened #1618 "Inverse kinematics"
Hi
I would like to ask  a problem regarding series-chain inverse kinematics.
I have run the IK example program, and it performs very well.
However, when I change the example model with my own .urdf file(actually ur5.urdf), the iteration doesn't converge at all.
I hope that you could give me some solutions for debugging it. Thank you very much.

Here is my code (I only change the .urdf file on the

[2022-03-20 07:03] #1618 closed

[2022-03-21 08:34] bhtxy0525 opened #1619 "Joint limit"
Hey,
I wonder if joint limits in _.urdf file_ have any effect on the inverse kinematics solution？
I noticed that if no limits were added in _.urdf file_, the joint angles obtained by CLIK would exceed 2π.

[2022-03-21 10:03] jcarpent commented on #1619
What is CLIK?
You should use a dedicated QP solver to properly account for the joints limits for IK.

[2022-03-21 10:03] #1619 closed

[2022-03-21 10:24] cmastalli opened #1620 "Broken collision support with latest changes in hpp-fcl"
Dear all,

I just updated `hpp-fcl` with the latest devel branch.
After that, I encounter the following compilation issue in Pinocchio:

[code]

The compilation issue happens in both: gcc and clang.

[2022-03-21 10:35] jmirabel commented on #1620
Overlooking at it, it looks like a missing declaration of a forward declared class (i.e. a missing header inclusion).

[2022-03-21 10:37] jcarpent commented on #1620
This is expected. The current devel branch of hpp-fcl use std::shared_ptr because it is now C++11, while Pinocchio is still C++98, so relying on boost::shared_ptr.
The current devel of FCL is compliant with Pinocchio-3x, which will be released soon.

[2022-03-21 10:37] #1620 closed

[2022-03-21 10:38] jmirabel commented on #1620
Indeed I overlooked at it :laughing:

[2022-03-21 10:41] arjung128 opened #1621 "Position and orientation of end-effector"
I'm working with the frank panda robot:

[code]

When I do:

[code]

then `data.oMf.tolist()` contains 25 frames. `model.frames[19]` corresponds to panda_hand_joint, and `model.frames[20]` corresponds to panda_hand -- which of these should I look at for the end-effector position? Thanks!

[2022-03-21 10:44] jcarpent commented on #1621
It seems you've added a free-flyer joint to your robot. Is it on purpose?

[2022-03-21 10:45] jcarpent commented on #1621
For control, you should always refer to the parent joint (frame.parent) quantity to get the closest supporting joint.
Is it answering your question?

[2022-03-21 10:46] arjung128 commented on #1621
But `model.frames[frame_id].parent` for `frame_id` in `[15:20]` is `8` -- which of these do I look at?

[2022-03-21 10:49] jcarpent commented on #1621
model.joints[8] corresponds to the supporting joint.

[2022-03-21 10:51] arjung128 commented on #1621
That gives me:

[code]

What would the frame_id be? Sorry I'm not following.

[2022-03-21 11:02] jcarpent commented on #1621
What is the name of your end-effector? This is on your side that you should know this information.

[2022-03-21 11:08] bhtxy0525 commented on #1619
@jcarpent  the example code of inverse kinematics in pinocchio document is called CLIK.
So, the joint limits in _.urdf file_  do not affect the final inverse solution? I want to confirm this.
Looking forward to your reply！
Thank you very much.

[2022-03-21 11:14] jcarpent commented on #1619
Yes.

[2022-03-21 11:19] bhtxy0525 commented on #1619
@jcarpent Thank you.
I will consider the QP-based solver.

[2022-03-21 11:58] arjung128 commented on #1621
Got it, thanks!

[2022-03-21 13:27] jcarpent commented on #1621
Perfect.

[2022-03-21 13:27] #1621 closed

[2022-03-22 12:43] jcarpent commented on #911
@proyan Could you guide @traikodinev?

[2022-03-22 12:57] proyan commented on #911
Hi @traikodinev
This feature is fully functional and will be released with pinocchio3.
Also, a functioning beta version is also available in pinocchio3-preview branch. In order to install it, you would need to

[2022-03-24 10:54] jmirabel commented on #1225
I came across this issue in my code.
[code]
`R1` is not a valid rotation matrix while `R2` is. I have not dug further but I suspect that for `R1`, the input expression is evaluated several times giving a different random value each time.

[2022-03-24 11:02] jcarpent commented on #1225
Yes, in some sense this is expected, no? We should use a const expression.

[2022-03-24 11:25] jmirabel commented on #1225
I don't see how *`pinocchio::exp3(0.5 * Vector3::Random())` not giving a proper rotation matrix* can be expected. It can be understood but not expected.

What do you mean ? Are you talking about the prototype of `exp3` ?
I think it is already a const expression (Eigen forces you to do that) and it won't change the fact that the expression is evaluated several times.

[2022-03-25 18:00] kousheekc opened #1623 "Documentation fo building/installing on windows"
Hi,

I would like to use the Pinocchio library on a windows system since I would like to generate a custom dll using the library for further use in my project. The documentation provides clear instructions for installing the library on Linux and Unix systems but the installation procedure is not clear on windows.

I am assuming that I would have to build from source. I have downloaded the necessar

[2022-03-25 18:02] jcarpent commented on #1623
Dear @kousheekc,

I would recommend you to use conda if possible.
[code]

[2022-03-25 18:02] jcarpent commented on #1623
It will install all the dependencies you need for that.

[2022-03-25 18:02] #1623 closed

[2022-03-25 18:16] kousheekc commented on #1623
Hi @jcarpent, thank you for the quick response. I have tried the conda approach and this was the issue I faced.

The library installed successfully, however when I tried to compile the example c++ code using the command provided in the documentation:
`g++ -std=c++11 overview-simple.cpp -o overview-simple $(pkg-config --cflags --libs pinocchio)`

I received the error:
`g++: error: $(pkg-config: No

[2022-03-25 19:14] jcarpent commented on #1623
You have to use the `/bigobj` compilation flag

[2022-03-25 19:47] kousheekc commented on #1623
This worked thank you.

[2022-03-26 11:08] arjung128 opened #1624 "Position-only Inverse Kinematics"
I'd like to move the end-effector along a given trajectory. I only have the 3d positions of the end-effector along the trajectory, not the orientations of the end-effector.

When I try doing IK with the rotation fixed and a small delta in the position, it often does not converge (the error plateaus), which I think is an indication that no valid configuration exists.

How can i do position-only IK?

[2022-03-26 11:14] jcarpent commented on #1624
Hello @arjung128 !
Could you provide a tiny example?

PS: politeness is more than welcome when you ask for advises

[2022-03-26 11:24] arjung128 commented on #1624
Hello @jcarpent,

I'm very sorry if I came across as a bit rude, that was not my intention at all. I really appreciate your prompt responses -- the prompt replies are extremely helpful, especially when stuck on something!

I have the robot end-effector pose at t=0:

[code]

And I want to move the end-effector position a little bit along the x-direction, e.g. to `p = 0.50032 -0.10624 0.961281`.

Wh

[2022-03-26 11:27] traversaro commented on #1624
Given that you refer to https://github.com/stack-of-tasks/pinocchio/issues/1336, are you sure that you are using the `pin.LOCAL_WORLD_ALIGNED` jacobian as described in https://github.com/stack-of-tasks/pinocchio/issues/1336#issuecomment-723419697 ?

If I am not wrong, that is the only jacobian that, if multiplied by the robot velocity, returns a quantity where the three rows of the jacobian relate

[2022-03-26 11:40] arjung128 commented on #1624
@traversaro I am using `pinocchio.computeJointJacobian()` as used in the IK tutorial rather than `pinocchio.getJointJacobian()`, which doesn't have a `localFrame` parameter.

[2022-03-26 12:01] traversaro commented on #1624
I am definitely not an expert of Pinocchio internals (so @jcarpent feel free to correct me if I am wrong) but, under this assumptions:
* we have the frame a (inertial/absolute frame) and e (the joint frame of interest), and the transform between this two frames is represented by ᵃRₑ ∈ SO(3)  ᵃoₑ ∈ ℝ³
*  (.)ᵛ represents the mapping between the skew-symmetrix matrix and the related vector in ℝ³, i.e

[2022-03-26 13:07] arjung128 commented on #1624
@traversaro Thanks for such a detailed response!

How can I get ᵃRₑ? Sorry, I am new to Pinocchio and this area in general.

Also, I tried using pinocchio.getJointJacobian() with pin.LOCAL_WORLD_ALIGNED similar to #1336:

[code]

However, this does not seem to converge either (in fact, doesn't seem to converge for the end-effector pose at t=0 either, let alone the modified pose at t=1). Any ideas

[2022-03-26 13:50] traversaro commented on #1624
Ack, my intuition failed then. As asked before, then it would be great if you could provide a tiny (self-contained) example. It is not possible to understand what is going on just by the loop you posted, see https://stackoverflow.com/help/minimal-reproducible-example for more details.

[2022-03-26 14:55] jcarpent commented on #1624
You can see this example : https://github.com/stack-of-tasks/pinocchio/blob/master/examples/inverse-kinematics.py

Thanks @traversaro for your kind help.

[2022-03-26 17:00] arjung128 commented on #1624
@traversaro Thanks for your support! Much appreciated.

@jcarpent This is very helpful. I didn't realize setting the rotation to identity would get rid of this constraint. Thanks a lot for your help!

[2022-03-26 17:00] #1624 closed

[2022-03-26 20:45] muzerobot opened #1625 "Jacobian in World Coordinate Frame"
Hi!

I have been trying to get the Jacobian of the Franka Panda robot in the world coordinate frame, but somehow, the results aren't as expected. Here's a minimal example of what I've tried:

[code]

`J` has shape `(6, 15)` -- this is a little puzzling to me, because `q.shape` is `(16,)`... how do I know which element of the state space is missing in the Jacobian?

Additionally, `data.J` gives me

[2022-03-26 20:46] jcarpent commented on #1625
You need to remove the free flyer from your model. You don't need it ;)

[2022-03-26 20:47] jcarpent commented on #1625
You need to first call `pin.computeJointJacobians(model,data,q)`.

[2022-03-26 20:48] jcarpent commented on #1625
You should work with LOCAL_WORLD_ALIGNED frame or the LOCAL frame for task control.
The WORLD has the meaning of being the frame centred on the origin of the WORLD but moving the given body.

[2022-03-26 20:50] jcarpent commented on #1625
When you work with a Free Flyer, the configuration vector is composed of a translation vector + a quaternion vector to depict the orientation of the joint. This means that you need 7 components while you have 6 degrees of freedom in reality.
You then need to make the distinction between the size of the configuration vector and the size of the real controlled elements. In Pinocchio, these 2 quantit

[2022-03-26 20:50] #1625 closed

[2022-03-26 20:51] jcarpent commented on #1625
Hope I've answered your issue. I've closed it, but feel free to reopen it if needed.

[2022-03-26 20:52] jcarpent commented on #1625
Just to be sure, who is behind @muzerobot?

[2022-03-29 17:15] arjung128 opened #1626 "Inverse Kinematics result does not seem to satisfy joint limits"
Hello,

I'm doing inverse kinematics using the exact code from the examples, and the solutions I'm getting don't seem to satisfy the joint limits specified in the URDF file. Here's a minimal example:

[code]

When I run this, the last element of the result, `q[-1]`,  is `-0.20580117405759688`, which is outside of the `[0, 0.04]` joint limits specified in the URDF file. Is there anything additional

[2022-03-30 02:55] magic-alt opened #1627 "macos python : import pinocchio error"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/Cellar/pinocchio/2.6.3/lib/python3.9/site-packages/pinocchio/__init__.py", line 6, in <module>
    from .pinocchio_pywrap import *
ImportError: dlopen(/usr/local/Cellar/pinocchio/2.6.3/lib/python3.9/site-packages/pinocchio/pinocchio_pywrap.cpython-39-darwin.so, 2): Library not loaded: /usr/local/opt/urdfdom

[2022-03-30 06:52] jcarpent commented on #1627
Hello!

Could you use instead conda to install Pinocchio?
Best,

Justin

[2022-03-30 06:52] #1627 closed

[2022-03-30 06:53] jcarpent commented on #1626
As already mentioned in #1624, you have to use a QP solver to enforce the bound constraints.

[2022-03-30 06:53] #1626 closed

[2022-03-30 07:47] arjung128 commented on #1626
Hi @jcarpent,

I'm sorry but I don't see where this was mentioned in #1624. The only instance of QP in #1624 seems to be from code that I posted, which I got from #1336. Is this what you were referring to?

I modified the above code to use a QP solver (based on the code from #1336). Here are the changes I made:

[code]

While this converges, the last element of the result still seems to be out of

[2022-03-30 07:58] jmirabel commented on #1626
Inverse kinematics involves numerical optimization. Without joint bound, it is a very simple problem. With joint bound, it is a little harder and it requires you (i.e. someone willing to write an IK solver) to have some numerical optimization understanding.

Given your answers, I guess you are not familiar with numerical optimization. Before even trying to code anything, I suggest you try to under

[2022-03-30 08:37] olivier-stasse commented on #1626
We have already a repo implementing Inverse Dynamics and they are some ongoing effort to add Inverse Kinematics too.
The repo is available here:
https://github.com/stack-of-tasks/tsid

If you want to do model predictive control:
https://github.com/loco-3d/crocoddyl

[2022-03-30 09:06] jcarpent commented on #1626
I was referring to #1619

[2022-04-05 09:15] alaurenzi opened #1628 "Optimal way to compute Jdot-times-v ?"
Hello Pinocchio community,
What is the recommended way to compute the frame acceleration component that is due to to the joints motion alone, i.e. `a_bias = Jdot*v`? Is there a more efficient way than (i) to compute the whole `Jdot`, or (ii) to call `forwardKinematics` with zero acceleration?
Note that, in my application, (ii) would be kind of a "waste" since `forwardKinematics` must anyway be cal

[2022-04-05 13:41] jcarpent commented on #1628
Hi @alaurenzi,

The fatest way is to call `forwardKinematics(model, data, q, v, Eigen::VectorXd(model.nv))`.
This is a very fast operation, near `1us` for a humanoid robot on modern CPUs.

[2022-04-05 13:41] #1628 closed

[2022-04-11 16:16] arjung128 commented on #1626
@jmirabel Thanks so much for the detailed response! Enforcing the joint limits in the numerical optimization loop seemed to resolve the issue, too.

@olivier-stasse Thanks for the pointers!

@jcarpent Got it, thanks!

[2022-04-11 16:20] arjung128 opened #1632 "Collision checking with point cloud in world coordinate frame"
Hello,

I am trying to detect collisions between a point cloud (in the world coordinate frame) and the robot. It seems like the collision checking example ([here](https://github.com/stack-of-tasks/pinocchio/blob/master/examples/collisions.py)) is checking for self-collisions -- how can this example be extended to check for collisions with an arbitrary point cloud in the world coordinate frame?

Ap

[2022-04-11 18:37] leo4life2 opened #1633 "Cannot install through pip with pip 22.0.4 & python 3.9"
I'm getting the following error message:

`ERROR: Could not find a version that satisfies the requirement pin (from versions: none)`
`ERROR: No matching distribution found for pin`

[2022-04-11 18:41] nim65s commented on #1633
Hi @leo4life2,

I don't understand your error.

This is working for me, in a clean docker with python 3.9 and pip 22.0.4
[code]

What are your setuptools and wheel versions ?

I have the following
[code]

[2022-04-11 18:43] nim65s commented on #1633
Oh, wait, what is your operating system ?

[2022-04-11 18:45] leo4life2 commented on #1633
Sorry, just saw the line saying that pip only works for Linux. I'm using a mac and I'll install with conda.

[2022-04-11 19:04] leo4life2 commented on #1633
Tried installing with conda, but it didn't work and was stuck with the following messages (conda 4.10.3):
[code]

Then I tried installing with brew and brew tap failed:

[code]

[2022-04-11 19:24] nim65s commented on #1633
wheels for mac will be available, eventually, but not yet, sorry.

And I can't help with conda :/

[2022-04-11 20:22] #1633 closed

[2022-04-12 04:04] WangXingfang opened #1634 "Can the input of pinocchio.forwardKinematics() be a set of joint angles?"
For a 6-DOF robot, we have a set of joint angles as follows.
q_all = np.array([[0, 0, 0, 0, 0, 0],[1, 1, 1, 1, 1, 1],[2, 2, 2, 2, 2, 2]]), which is a 3x6 matrix.
So can we take “q_all” directly as an input “q” to pinocchio.forwardKinematics(model, data, q)?
Because the method used _for_ loop is time-consuming, let's say "q_all" is a 1000* 6 matrix.

[2022-04-12 05:37] jcarpent commented on #1634
Batch computation is not yet supported by Pinocchio. What is your application?

[2022-04-12 10:12] oliwiermelon commented on #867
Dear @jcarpent ,
Sorry to be reopening this old issue but I have a related question.

_Context:_
In my problem formulation, I am optimising for end-effector position `p` and velocity `pdot`, which I then express in the base frame (`B`). Then, I obtain the Jacobian matrix `J(q)` using `getFrameJacobian(..., EE_FRAME, LOCAL, ...)` which relates joint velocities `qdot` to `pdot_B`. For the optimisati

[2022-04-13 09:07] jcarpent commented on #1632
Could you provide an example of a point-cloud?
I will add a short tiny example using Pinocchio and hpp-fcl.

[2022-04-13 09:08] jcarpent commented on #1634
What is the application for? Which computations do you want to perform after this batch computation?

[2022-04-13 09:35] arjung128 commented on #1632
I have object meshes (with file type `.obj` / `.glb`) which I would like to place at various positions / orientations and detect collisions with the Franka panda robot. I was thinking of converting these meshes into 3D point clouds (i.e. a numpy array of 3D points in the world coordinate frame) to be used for collision checking... unless there's another representation which is better suited for th

[2022-04-13 10:01] jcarpent commented on #1632
OK. Could you give me an example of such a point cloud?
Best,

Justin

[2022-04-13 10:15] arjung128 commented on #1632
For example, I created a point cloud of a box with dimensions 1x1x1 using: `verts = np.random.rand(3, 100000)`. This box currently has one corner at the origin, but if I were to move this box around to an arbitrary position / orientation, I'd still like to detect collisions against an arbitrary pose of the robot with it.

I hope this is clearer!

[2022-04-13 14:41] WangXingfang commented on #1634
I want to use it in the reinforcement learning application of 7-DOF robot. For example, input 1000 joint angle samples to calculate their forward kinematics. If the _for_ loop is used for serial calculation, it takes a long time. Therefore, I want to use parallel computing to improve computing efficiency.

[2022-04-13 14:42] WangXingfang commented on #1634
I want to use it in the reinforcement learning application of 7-DOF robot. For example, input 1000 joint angle samples to calculate their forward kinematics. If the for loop is used for serial calculation, it takes a long time. Therefore, I want to use parallel computing to improve computing efficiency.

[2022-04-13 19:09] BolunDai0216 opened #1635 "SystemError: initialization of pinocchio_pywrap raised unreported exception"
I just install pinocchio using `conda install -c conda-forge pinocchio` on a 20.04 Ubuntu machine. and I got the following error when importing it
[code]

This did not occur when following the same procedure for installation on a MacBook. Can someone help me take a look and see what might be the issue?

Thanks in advance.

[2022-04-14 13:55] jcarpent commented on #1635
@proyan will take care of the answer.

[2022-04-14 14:09] proyan commented on #1635
Hi BolunDai0216,
Unfortunately, boost python hides the exceptions that python raises, and it becomes difficult to debug. This was reported in boost python some time ago:
https://github.com/boostorg/python/issues/280

If you wish to debug this issue, I would suggest that you try to install the more updated version of boost python and try to see what the python raised error is.

However, if that is

[2022-04-14 15:12] jcarpent commented on #1635
I've been able to start Pinocchio cleanly from a clean environment made from a fresh docker image of ubuntu 20.04.
I guess you have multiple install of Pinocchio on your system. Could you check it with `locate libpinocchio`?

[2022-04-14 15:29] BolunDai0216 commented on #1635
When running `locate libpinocchio` actually I get nothing back. I do have multiple pinocchio installations on my system. I was able to get it working yesterday by building from source.

[2022-04-14 15:32] #1635 closed, assigned to proyan

[2022-04-14 15:36] BolunDai0216 commented on #1635
I ran `updatedb` and now I do see multiple libpinocchio
[code]
any idea on how to handle this and not confuse conda?

[2022-04-14 15:37] jcarpent commented on #1635
you should remove the one installed with apt and the ones in `/usr/local/lib`

[2022-04-15 08:19] WangXingfang commented on #1634
Thanks for your advice!
I'm working in Python. And I will consider the multi-threading computation.

[2022-04-15 08:19] WangXingfang commented on #1634
Thanks for your advice!
I'm working in Python. And I will consider the multi-threading computation.

[2022-04-15 08:19] #1634 closed

[2022-04-17 14:35] kousheekc commented on #1623
Hi @jcarpent , unfortunately, I am facing another issue...

I have tried compiling the first example in the documentation, i.e:
`#include "pinocchio/parsers/sample-models.hpp"
#include "pinocchio/algorithm/joint-configuration.hpp"
#include "pinocchio/algorithm/rnea.hpp"

int main()
{
  [pinocchio::Model](https://gepettoweb.laas.fr/doc/stack-of-tasks/pinocchio/master/doxygen-html/structpinocchio_1_

[2022-04-19 12:52] traversaro commented on #1623
Hi @kousheekc, I am not sure, but I am afraid that you are trying to use with the `x86_64-w64-mingw32` compiler a library compiled with MSVC. C++ libraries that are compiled with MSVC can't be be linked with mingw due to the fact that the symbol name mangling rules are different, that I think is the reason why the symbol  `__imp__ZN9pinocchio4urdf7details13parseRootTreeERKNSt7__cxx1112basic_string

[2022-04-20 13:55] kousheekc commented on #1623
Hi @traversaro, I am trying to use visual studio this time to make use of the MSVC compiler, however, I am confused about how to set the include directories in the project properties. I began by including the following into the "additional include directories":

```C:\Users\kousheek\anaconda3\Library\include```

and the following to the "additional library directories"

```C:\Users\kousheek\anacon

[2022-04-20 14:03] traversaro commented on #1623
Hi @kousheekc, this is probably out of scope here but you should not build a Visual Studio Solution from scratch, but rather use CMake either directly from Visual Studio (https://docs.microsoft.com/en-us/cpp/build/cmake-projects-in-visual-studio?view=msvc-170) or by using CMake to generate a Visual Studio solution. In this way you can use directly pinocchio's via `find_package(pinocchio REQUIRED)`

[2022-04-25 08:36] #1632 closed

[2022-04-25 19:53] RolandZhu commented on #1456
Hi, just curious whether your code for jacobian and dot_jacobian gives the correct task space behavior? I'm using a similar controller for an RL project.

[2022-04-26 06:44] DavidYaonanZhu opened #1638 "Fixed joint in URDF seems being merged when loading model"
Fixed joint in URDF seems to be merged when loading model.

I loaded a tiago dual arm robot URDF,

`model    = pinocchio.buildModelFromUrdf(self.urdf_filename)`
then,
`model.njoints`
it gives 34,
however If I,
`model.getJointId("arm_left_tool_joint")`

**some of the joints give the same ID.**

In addition, does this library support Jacobian acquisition of different base_link and tool_link, like KD

[2022-04-26 07:05] jcarpent commented on #1638
Could you provide a full example? I will provide a complete answer then

[2022-04-26 07:50] jcarpent commented on #1638
I don't the API of KDL, but for sure, you can retrieve the Jacobian of any link with Pinocchio.

[2022-04-26 08:14] DavidYaonanZhu commented on #1638
How to do that? can you give me some examples?

[2022-04-26 08:47] Vassil17 opened #1639 "buildModelsFromUrdf: ValueError: Mesh package could not be found"
Hello,

I've been trying to get pinocchio (and gepetto-viewer) to work on a custom robot model (that of the Go1), but while the URDF gets loaded without a problem, when I try loading the mesh model get the following error:
[code]
For reference, I have sourced everything and added the "/opt/openrobots/share" to the ROS_PACKAGE_PATH. The other robots in the example-robot-data package load just fine.

[2022-04-26 09:25] jcarpent commented on #1639
You should export ROS_PACKAGE_PATH as `/opt/openrobots/share/example-robot-data/robots` or set 'mesh_dir=/opt/openrobots/share/example-robot-data/robots`

[2022-04-26 09:25] #1639 closed

[2022-04-26 10:52] DavidYaonanZhu commented on #1638
Yes, can you give some hints on how to do that indirectly?

[2022-04-26 10:53] DavidYaonanZhu commented on #1638
I will update information of KDL tool shortly

[2022-04-26 12:50] cmastalli opened #1641 "Compilation issue with OSX Monterey M1"
Hi guys,

I am starting to move all my development to an OSX Monterey PC, and I am still learning how to do it.
I wish to compile Pinocchio from source, and this is the error that I encountered
[code]

I have installed Boost from source, since the homebrew formulae doesn't work well.
I have also installed `hpp-fcl` and `eigenpy` from source.

I have installed the following packages using homebrew:

[2022-04-26 12:58] jcarpent commented on #1641
Please use conda, it works pretty well for Mac M1.

[2022-04-26 12:58] #1641 closed

[2022-04-26 14:20] traversaro commented on #1641
I think the problem is related the issue https://github.com/ros/urdfdom_headers/issues/73 . Basically recent versions of urdfdom/urdfdom_headers changed the location where headers are installed, but that breaks existing binaries with cmake config files that expect the headers in a different location.

[2022-04-26 15:14] jcarpent commented on #1641
From your log, your are using the one from brew.

[2022-04-26 15:15] jcarpent commented on #1641
You can install pinocchio for M1 with conda without any problem

[2022-04-26 15:18] cmastalli commented on #1641
Yes, I was indeed using it.
And the issue still stands with brew.

 But now I sorted it out using the Conda one.

[2022-04-26 16:16] jcarpent commented on #1638
You just need to collect the column indexes which are related to the joints supporting the path between the two links in questions
For a given joint, you can retrieve its starting index and the size of the motion subspace by using `model.joints[joint_id].idx_v, model.joints[joint_id].nv`

[2022-04-26 17:36] cmastalli commented on #1639
That's fine. We are happy to review your PR.

[2022-04-26 19:29] kousheekc commented on #1623
Hi @traversaro, I am now trying to use CMake to build a project but I am confused about how "find_package" can be used. I have used conda to install pinocchio and my current CMakeLists.txt looks like this:

[code]
However, under the find_package line I receive the message:

[code]

[2022-04-27 06:55] traversaro commented on #1623
Are you sure you are running CMake in a command line in which first you activated the environment in which pinocchio is installed?

[2022-04-27 09:24] kousheekc commented on #1623
@traversaro, I am running CMake within the environment in which pinocchio is installed. The CMake generates a solution but when I try to open and run the solution, I get the following error:

```the code execution cannot proceed because boost_serialization.dll was not found. Rainstalling the program may fix this problem.```

I am new to using CMake and conda environments on windows, please excuse

[2022-04-27 09:58] traversaro commented on #1623
Are you opening the Visual Studio solution in a terminal where the environment is activated?

[2022-05-02 12:21] traversaro commented on #1623
I think you need to compile in `Release` mode, `conda-forge` does not `Debug` binaries.

[2022-05-03 22:25] bulvara opened #1642 "Compilation failure in unit tests"
I'm using GCC 12 and boost 1.78:
[code]

[2022-05-04 05:31] jcarpent commented on #1642
What is your OS?

[2022-05-04 05:32] jcarpent commented on #1642
@proyan could you handle this issue please?

[2022-05-04 05:37] proyan commented on #1642
Could you post the full compile log?

On May 4, 2022 12:25:40 AM GMT+02:00, bulvara ***@***.***> wrote:

[2022-05-04 08:21] jcarpent commented on #1078
@proyan Could you handle this issue in pinocchio-3x?

[2022-05-04 08:21] jcarpent commented on #1064
Done in pinocchio-3x which should be release soon.

[2022-05-04 08:21] #1064 closed

[2022-05-04 08:22] jcarpent commented on #911
Done in Pinocchio-3x which should be released soon.

[2022-05-04 08:22] #911 closed

[2022-05-04 08:22] jcarpent commented on #1274
Done in pinocchio-3x which should be release soon.

[2022-05-04 08:22] #1274 closed

[2022-05-04 08:23] jcarpent commented on #1178
@proyan Could you handle this issue in pinocchio-3x?

[2022-05-04 08:23] jcarpent commented on #881
Done in pinocchio-3x which should be released soon.

[2022-05-04 08:23] #881 closed

[2022-05-04 08:24] jcarpent commented on #648
Done in pinocchio-3x which should be released soon.

[2022-05-04 08:24] #648 closed

[2022-05-04 08:24] jcarpent commented on #571
Done in pinocchio-3x which should be released soon.

[2022-05-04 08:24] #571 closed

[2022-05-04 08:24] jcarpent commented on #267
No more need as Pinocchio-3x now supports the broadphase.

[2022-05-04 08:24] #267 closed

[2022-05-04 08:25] jcarpent commented on #671
Done in pinocchio-3x which should be released soon.

[2022-05-04 08:25] #671 closed

[2022-05-04 12:37] proyan commented on #1178
For any configuration "a" in ModelA or ModelB, I see two situations:
1) ModelA and ModelB both have configuration "a"
2) Either ModelA or ModelB (but not both) has configuration "a".

We could take a union of the two configurations, and set the unknown values to zero, which seems to be okay to me. Does that work for you?

[2022-05-04 12:43] cmastalli commented on #1178
It would be ideal if we can append the reference configurations with the same key.

Additionally, the Python interface is not friendly. It would be also ideal to be able to print the keys in Python.
Crocoddyl has a much nicer 'std::map' conversion that could be propagate in Pinocchio.

[2022-05-04 13:00] jcarpent commented on #1178
I think you should use the neutral configuration for missing data. For the same key, we should append the two configurations I would say.

[2022-05-04 13:01] jcarpent commented on #1178
A simple trick is to use the conversion to Python's `dict` object and get the related keys.

[2022-05-04 13:23] cmastalli commented on #1178
This is indeed how it is implemented in Crocoddyl. But, at least in Pinocchio 2 is not the same.
This code doesn't work:
[code]

[2022-05-04 13:26] cmastalli commented on #1178
I would go even further. I would suggest to have a print option, as it is nicely done in the Pinocchio model object.

[2022-05-04 13:27] proyan commented on #1178
[code]
is the syntax that works here

[2022-05-04 13:40] xeonz1 opened #1643 "ZYX Spherical Joint velocity order"
Hi,

I wonder if the coordinate of ZYX spherical is (yaw, pitch, roll), what is the definition for the velocity?

The derivative of (yaw, ptich, roll), or the local angular spatial velocity?

[2022-05-04 18:43] jcarpent commented on #1623
Thanks @traversaro for your precious help.

[2022-05-06 13:16] Senwei-Huang opened #1644 "AttributeError: module 'pinocchio' has no attribute 'rpy'"
代码：
[code]

报错：
[code]

环境：
[code]

@jcarpent
@proyan

[2022-05-06 13:28] jcarpent commented on #1644
Where did you get pinocchio?
I don't think you are using the right way to install it: `pip install pin` as Pinocchio corresponds to another project.

[2022-05-06 13:53] Senwei-Huang commented on #1644
噢噢，我知道了，是我安装错误了，我是这样安装的
`pip install pinocchio`

window系统不能安装python版本的吗？我这样安装不行诶
`pip install pin`

[2022-05-06 14:14] jcarpent commented on #1644
Please use conda for installing Python bindings of Pinocchio for windows. We do not support yet pip on Windows.

[2022-05-06 14:14] #1644 closed

[2022-05-06 14:45] Senwei-Huang commented on #1644
Thank you again. I used this to solve the problem
`conda install pinocchio -c conda-forge`
@jcarpent

[2022-05-06 16:00] xeonz1 opened #1645 "Fix one axis of ZYX joint"
Hi,

I wonder if there is any way to fix the z-axis rotation of ZYX spherical joint?

[2022-05-06 16:15] jcarpent commented on #1645
What do you mean?
If you want to fix it, you can use QP solvers by adding a constraint on the motion along the Z-axis.

[2022-05-06 16:34] jcarpent commented on #1642
I will close this issue as there is no answer from the reporter.

[2022-05-06 16:34] #1642 closed

[2022-05-06 17:22] cmastalli commented on #1645
You could append two rotating joints. This will avoid unnecessary complex optimization scheme.

[2022-05-07 16:38] undefinedcodezhong opened #1646 "any demo for system identification?"
Could you provide any demo about the function "computations of kinematic and dynamic regressors for system identification"? Thank you.

[2022-05-07 18:08] #1645 closed

[2022-05-07 18:08] jcarpent commented on #1646
Sorry. We don't have resources for that currently. Could you handle this task?
Which system do you want to identify?

[2022-05-07 18:09] jcarpent commented on #1646
By the way, @undefinedcodezhong, it would be nice to add more politeness to your request: we are human beings.

[2022-05-09 07:31] jmirabel opened #1647 "Log3 corner case bug"
Hi,

I encountered what looks like a bug in the `log3` implementation to me.

[code]
which gives
[code]

Comparing with `scipy`, it seems it is `log3` fault.
[code]

I tried this on a fresh conda install (pinocchio 2.6.7)

[2022-05-09 07:51] jmirabel commented on #1647
The bug comes from https://github.com/stack-of-tasks/pinocchio/blob/5c93f4e043886ec43659a10a79701263a1e8fa18/src/spatial/log.hxx#L47

The equations implemented in this function come from https://github.com/humanoid-path-planner/hpp-constraints/blob/master/doc/rotation.tex

Indeed when `R(i,j) == R(j,i)`, the sign of `r[k]` is ill-defined.

[2022-05-09 08:13] jcarpent commented on #1647
Could you have a look at pinocchio-3x. You should have access to.

[2022-05-09 08:33] jmirabel commented on #1647
`quaternion::log3` does not suffer this bug. Haven't tried to compile `pinocchio-3x` but the implementation of `pinocchio::log3` *looks like* `pinocchio::quaternion::log3` so the bug may not be there anymore.

[2022-05-09 09:05] jmirabel commented on #1645
Mind that a 2-dimension rotation group does not exist. The dimension is necessarily uneven. Most commonly in robotics, 1D for rotations in the plane and 3D for rotation in the euclidean space.

[2022-05-10 12:20] duburcqa commented on #1201
Nowadays, more and more python packages are distributed with at least such AVX support, and I'm wondering if there is still no plan to fix this issue. Storing objects in shared pointers is fixing the issue but it seems to impede performance. Therefore, I suggest to use a preprocessor macro to add the necessary argument iif `__AVX__` is defined. This way, it has no effect by default, and the perfor

[2022-05-10 12:23] jcarpent commented on #1201
Pinocchio and its dependencies are compliant with AVX support, even in Python.
Currently, as far as I know, there is no rule to force deployment with AVX support on apt, conda, etc. but maybe I'm a bit outdated.

[2022-05-10 12:25] jcarpent commented on #1201
Overall, I won't go into the non-standard approach (e.g., forcing AVX compilation) to avoid multiplying the management time that @nim65s and I are already spending a lot. @duburcqa Are you willing to support this deployment on your own time?

[2022-05-10 12:26] duburcqa commented on #1201
What do you mean ? I could reproduce the segfault described in this issue on my machine after enabling `-march=native`. You think it is because it is enabling more than AVX but also AVX2 and AVX512...etc ?

[2022-05-10 12:26] jcarpent commented on #1201
Did you try to recompile eigenpy and hpp-fcl with the same flags?

[2022-05-10 12:27] jcarpent commented on #1201
The original issue was coming initially from Eigen which does not use the same constructor/destructor whether the objects are aligned or not in memory.

[2022-05-10 12:30] duburcqa commented on #1201
Yes of course, I'm compiling the whole stack, from ground zero including boost. It works just fine for everything I do, except the specific example provided in the issue.

You mean the PR about using smart pointers [here](https://github.com/stack-of-tasks/pinocchio/pull/1204) is outdated and I should update eigenpy ? I'm still using 2.6.4.

For now it is more about discussing in which direction th

[2022-05-10 12:35] jcarpent commented on #1201
Here: https://github.com/stack-of-tasks/pinocchio/blob/5c93f4e043886ec43659a10a79701263a1e8fa18/bindings/python/multibody/data.hpp#L102

You should replaced `bp::init<Model>` by `bp::init<const Model &>`.

[2022-05-10 12:37] jcarpent commented on #1201
This has been fixed in pinocchio-3x.

[2022-05-10 12:47] duburcqa commented on #1201
Ah amazing! Is it based on this patch ? Do you know if it was an isolated "bug" for `pinocchio::data in particular` and AVX is otherwise fully supported by pinocchio<2.9 in Python ?

[2022-05-10 12:49] jcarpent commented on #1201
There are many places in Pinocchio where this has been fixed. But I guess for your case, this is the only place that matters.

[2022-05-10 12:52] duburcqa commented on #1201
OK I see. For the record, the patch you proposed is not working on my machine. But I have the feeling waiting for Pinocchio before taking into action seems more reasonable as there is no rush anyway.

[2022-05-11 07:15] jmirabel commented on #807
I came across some issues when trying to load a serialized model. I haven't completely finalized the introspection but I think the issue is that the model is serialized with a newer version of Boost Serialization than the one used for loading the model.
If my hypothesis is true, it is a rather annoying issue for us.

I am writing this here since it bumped into this while searching and I also bumpe

[2022-05-11 07:34] jcarpent commented on #807
One possible issue is that the class Model evolves with time, and some fields are missing in the serialization file.

[2022-05-11 07:35] jcarpent commented on #807
@jmirabel If you are ready, you can add the support of protobuff or a better solution in Pinocchio and hpp-fcl.

[2022-05-11 07:42] jmirabel commented on #807
I just tried a reproducible example.
In a fresh ubuntu:20.04 docker container, I install pinocchio and serialize `pinocchio.buildSampleModelManipulator()`. I then move the file into a fresh ubuntu:18.04 container where I install pinocchio and try to deserialize.
I get the following assertion:
[code]
I suppose this exception is thrown by boost (ref https://www.boost.org/doc/libs/1_66_0/libs/seriali

[2022-05-11 07:51] jmirabel commented on #807
I don't know whether protobuf would solve the problem.

[2022-05-11 10:12] FenglongSong opened #1650 "Set fext when computing inverse dynamics with rnea()"
Hi, first of all, thanks for developing such a great tool. I'm trying to use the rnea(model, data, q, v, a, fext) function to compute inverse dynamics of a quadruped robot. The documentation says fext is:

In my case, the external forces are contact forces at the foot tips and there are no joints there. How should I do to deal with this? Should I transform the force to the knee joint frame? This s

[2022-05-11 13:47] jcarpent commented on #1650
If you know the relative placement of the tip frame wrt the knee joint frame, let's say `kMt`, you can get the force expressed in the local frame of the tip to the local frame of the knee joint as `f_k = kMt.act(f_t)`.

[2022-05-12 12:08] FenglongSong commented on #1650
Hi, thanks for the reply, but I'm not quite clear how to get `kMt`. I assume `kMt` should be a `pinocchio::SE3` object representing the homogeneous transformation from frame k to frame t, and `f_t` is a `pinocchio::Force` object.

Therefore, what I did was:
[code]
 but the compiling failed with the following error:
[code]

How should I fix this? I will be much appreciated!

[2022-05-12 12:17] FenglongSong commented on #1650
I found that I actually have exactly the same questions as #1544, @jcarpent  your answer is quite helpful and I would be grateful if you can provide a bit more detail about the implementation.

[2022-05-12 12:45] jcarpent commented on #1650
Your code is not complete, but you should work at the level of Force element and not std::vector<Force>. This is what the compilation info gives you.

[2022-05-12 14:26] #1178 closed

[2022-05-12 14:26] #1646 closed

[2022-05-12 16:45] Toefinder opened #1651 "Error when integrating SO2 with the same vector given as input and output"
The integration method `integrate_impl` for SO2 group fails when the same vector reference is used both for input and for storing output. The code and the documentation do not indicate that they must be different.
- version: `v2.6.3`
- how to reproduce: pass the same reference into `integrate` method of SO2 like `SpecialOrthogonalOperationTpl<2,_Scalar,_Options>().integrate(q, v, q)`

The snippet

[2022-05-12 16:53] Toefinder commented on #1651
Removing the reference from `const Scalar & ca = q(0);  const Scalar & sa = q(1);` fixes the issue

[2022-05-13 11:50] jcarpent commented on #1651
SOlved via #1652

[2022-05-13 11:50] #1651 closed

[2022-05-15 14:51] manumerous commented on #1650
@jcarpent May I ask if you know whether and why my method would be faster/slower than using the rnea function from Pinocchio? Your insights would be much appreciated!

[2022-05-15 15:20] cmastalli commented on #1650
@manumerous you are not exploiting the  sparsity induced by the kinematic tree. This is what the Recursive Newton-Euler algorithm does.

If I remember correctly, the algorithm complexity of CRBA is also higher than RNEA. In short, it is terribly inefficient to do the computation yourself.

For more details, I advise you to read Rigid Body Dynamics from Featherstone.

[2022-05-15 17:54] manumerous commented on #1650
Thanks for your answer! I guess I should have been more precise, but I think your comments and the book reference guided me in the right direction.

Although i was aware of the way RNEA leverages the kinematic sparsity for fixed-base kinematic trees I was unsure what it would do in the case of several fixed contact points. Please correct me if I am wrong, but according to my current understanding

[2022-05-16 12:40] cmastalli commented on #1650
You could artificially define the root of your system as a single contact point, and then use RNEA for that. However, you cannot do this for multiple contacts (you only have one root). This would be the most efficient way, but it is SO restrictive that (I might say) it is out of interest.

Imposing acceleration-based holonomic constraints can be done with TSID or any general-purpose QP algorithm.

[2022-05-17 09:40] #1650 closed

[2022-05-17 19:35] FenglongSong commented on #1650
Thanks for the great insights too from my side! Back to my original question, it's finally solved and in case anyone is also looking for a solution, I would refer to this example [here](https://github.com/leggedrobotics/ocs2/blob/main/ocs2_pinocchio/ocs2_centroidal_model/src/CentroidalModelRbdConversions.cpp) (line 189-225) which used `rnea()` to solve inverse dynamics for quadruped robot. This ex

[2022-05-21 21:14] FenglongSong commented on #1137
Hi Justin @jcarpent , thanks for your nice explanation. I'd like to ask about the case when the orientation of the floating-base frame is expressed by ZYX Euler angle.
1. By my understanding, when creating the PinocchioInterface, if I use a free flyer joint, the base orientation will be automatically represented by a quaternion, because I found `model.nq = model.nv+1`. But if I use a `JointModelTr

[2022-05-23 08:11] PepMS opened #1655 "Jacobian computation using Pinocchio & CasADI"
Hello,

I was trying the new release of Pinocchio and its support for CasADI. Such a great and helpful tool, congrats and thanks!
I'm writing this because I'm facing an issue when computing a Jacobian of a cost function and I'd appreciate a little bit of help.

Here's a little bit of context. I played with CasADI and Pinocchio and tried to solve an OCP using a quadrotor as the robot model. Since I

[2022-05-23 09:32] jcarpent commented on #1655
@PepMS Thanks for reaching us with this concern.
This is just to let you know that this code is working perfectly on the current pinocchio-3x devel version. This version is not yet made available but should be released soon.

If you need more details, contact me on Element for further discussions.
Best,

Justin

[2022-05-23 09:32] #1655 closed

[2022-05-23 13:28] FenglongSong opened #1656 "Definition of floating base generalized acceleration"
Hi,

Thanks for the replies in https://github.com/stack-of-tasks/pinocchio/issues/1357 and https://github.com/stack-of-tasks/pinocchio/issues/1137, I got to know the generalized velocities are defined in local joint frames, which means for floating-base dynamics, the linear and angular velocities of the base are expressed in their own frames rather than world frame. Therefore, I'd like to confirm

[2022-05-23 13:53] jcarpent commented on #1656
Yes, you are correct. For the next question, I guess it would be better to use the discussion feature of GitHub to exchange on the topic. I think this might be of interest to others.

[2022-05-27 15:19] xeonz1 opened #1661 "Add contact frame for wheels"
Hi,

How to add a contact frame for wheels? Since the wheel is rotating, adding the frame directly to the wheel may not be suitable. Could you share some suggestions?

[2022-05-29 21:11] jakewelde opened #1662 "Christoffel-consistent factorization and covariant derivatives"
Hi there,

I have some followups to the question [#1548](https://github.com/stack-of-tasks/pinocchio/issues/1548) about whether the $C(q,v)$ computed by Pinocchio is consistent with the Christoffel symbols. Just to make sure, does your answer mean that $C(q,v) = \Gamma^i_{jk} v^k$, where $\Gamma^i_{jk}$ are the Christoffel symbols (of the first kind)?

Furthermore, is this still the case for float

[2022-05-30 07:43] jcarpent commented on #1662
Dear Jake,

Thanks for raising these questions.
The algorithm developed in Pinocchio for computing $C(q,v)$  has been developed together with the analytical derivatives of forward and inverse dynamics in 2017 and 2018 (https://hal.archives-ouvertes.fr/hal-01790971) and has been recently published in [the paper](https://arxiv.org/pdf/2010.01033.pdf) you mentioned.
After discussing with Patrick Wens

[2022-05-30 07:45] jcarpent commented on #1661
What do you have in mind exactly?
As the contact change all the time, you will have to update the placement of the Frame with respect to the wheel at each time step. This is a clean solution I think.

[2022-05-30 12:53] FenglongSong opened #1664 "Dimension of aba_partial_dq in computeABAderivatives()"
Hi, I have two questions.
1. By my understanding, aba-derivatives should be providing the derivatives of **generalized acceleration** w.r.t q, v,  and tau. Is the **generalized torque vector** in the following comment a typo?
https://github.com/stack-of-tasks/pinocchio/blob/5c93f4e043886ec43659a10a79701263a1e8fa18/src/algorithm/aba-derivatives.hpp#L29
2. I would expect the size of `aba_partial_dq`

[2022-05-30 13:29] jcarpent commented on #1664
This is indeed a copy-pasting mistake. Sorry for that. It refers in fact to the generalized joint acceleration.

You are working on the tangent space of the configuration space. For instance, for the free-flyer, the joint configuration space is SE(3) represented by a translation and a quaternion, while the tangent space is so(3), corresponding to a Motion quantity composed of the linear and angula

[2022-05-30 14:07] FenglongSong commented on #1664
Thanks for your reply. I guess dq is something like as a velocity *time, rather that a numerical difference of quaternion. That will be clear. I will close this issue soon.

And BTW, what I want to get is the analytical derivatives of accelerations w.r.t the joint configuration. In free flyer case, it should contain a submatrix of size (3,4) describing the derivatives of angular acceleration w.r.t

[2022-05-30 14:11] #1664 closed

[2022-05-30 16:24] jcarpent commented on #1664
You can indeed think of it like this.

[2022-05-31 18:36] mahyaret opened #1666 "When I run ctest I received the following failed tests"
[code]

[2022-05-31 18:45] jcarpent commented on #1666
Could use the option of ctest output-on-failure to show the issue on the URDF test?

[2022-05-31 19:08] mahyaret commented on #1666
Thanks for your hint! I ran `ctest -V` I've figured the problem was that it could not find the urdf file for the test robot:
```src/models/example-robot-data/robots/ur_description/urdf/ur5_robot.urdf does not contain a valid URDF model.```
For some reason it was not pulled properly during `git clone --recursive https://github.com/stack-of-tasks/pinocchio`.
Any idea what could be the reason or it w

[2022-05-31 19:13] jcarpent commented on #1666
Indeed you were missing the sub module. We can try to add some check within cmake to help users. Nice you have found the solution.

[2022-05-31 19:13] #1666 closed

[2022-06-06 01:43] pwensing commented on #1548
@bhtxy0525  @yangyanboxiaoyao In case this topic is still of interest, please see an updated resolution in discussion #1663  and associated changes in #1665. Many thanks to @jcarpent for the recent updates.

[2022-06-06 03:47] bhtxy0525 commented on #1548
@pwensing thanks you very much! I have read discussion #1663  and noticed that a matrix C satisfying the skew-symmetric property is not unique. Indeed, the previous C obtained by Pinnochio is inconsistent with the C calculated using MATLAB （satisfied the Christoffel symbol of the first kind ）. Now, i can't wait to verify this new Coriolis matrix modified by @jcarpent .
Thank you all ！！！

[2022-06-06 06:51] jcarpent commented on #1548
@bhtxy0525 You can access it on the devel branch (install from source).

[2022-06-07 06:59] IvanVnucec opened #1672 "How to include pinocchio library in a project as a header only library?"
How to include pinocchio library in a project as a header only library? Is it possible?

[2022-06-07 07:01] IvanVnucec commented on #1672
Question moved to https://github.com/stack-of-tasks/pinocchio/discussions/1673

[2022-06-07 07:01] #1672 closed

[2022-06-08 00:49] zapplelove commented on #1553
It's a amazing work, and I hope the version 3 can be released soon. And I hope the docs can be more detailed and provide some examples using sdf parser.
Best wishes!

[2022-06-08 07:33] IvanVnucec opened #1675 "installing from source documentation is outdated"
https://stack-of-tasks.github.io/pinocchio/download.html

There are a few issues I've stumbled upon:
1. `Optional dependencies` are not optional rather mandatory because I could not get `cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local` to pass.
2. `Eigenpy 2.6` is hard to install on Ubuntu because you cannot just install it with `apt-get` rather you must first download it fro

[2022-06-08 08:39] jcarpent commented on #1675
Do you want to use the Python bindings? Otherwise, you can add to the cmake command line `-DBUILD_PYTHON_INTERFACE=OFF` to deactivate the building of the Python interface.

[2022-06-15 21:03] jcarpent commented on #1675
I'm closing the issue as there is no answer from the original author.

[2022-06-15 21:03] #1675 closed

[2022-06-15 21:21] dhruvthanki opened #1680 "MuJoCo xml parser?"
With the recent open-sourcing of MuJoCo and significant increase in use of mujoco xmls in the community, is there any hope of having a mujoco XML parser soon?

[2022-06-15 22:13] cmastalli commented on #1675
Hi @jcarpent

I don't know if this is the current behaviour. However, I think it should not compile the Python bindings if eigenpy (and perhaps boost Python) is not detected.

You might also print a message that the python bindings are not going to be generated as it was not detected those dependencies.

[2022-06-16 05:07] jcarpent commented on #1680
Yes, sure. This is in the roadmap

[2022-06-16 07:15] #1647 closed

[2022-06-16 12:24] IvanVnucec commented on #1675
I think that the problem still persist and closing it will not solve it. I have no intentions to contribute.

[2022-06-18 14:54] akhilsathuluri commented on #1471
Hello, I am trying to reproduce the exact scenario as above. The iCub model loads to the viewer by,
[code]
as shown below,
![image](https://user-images.githubusercontent.com/12780967/174443554-04432a68-0ca2-4ca7-9eee-7b83c48d8677.png)

However, when I modify the pose of the robot (or even in neutral) by setting certain angles and upon visualising it using,
[code]
the robot model completely disappe

[2022-06-18 14:58] jcarpent commented on #1471
Could you use a more recent version of Pinocchio?

[2022-06-18 17:38] akhilsathuluri commented on #1471
Thanks for a super quick reply. I had a bunch of dependency issues between `tsid` and `pinocchio` versions. But finally `pinocchio=2.6.3` with `tsid=1.6.1` fixed the issue.

[2022-06-21 03:04] hxrkpib opened #1685 "Aborted (core dumped) when run example-cpp-collisions"
https://github.com/stack-of-tasks/pinocchio/blob/master/examples/collisions.cpp

version:
ubuntu 18.04
pinocchio master branch(v2.6.8)
hpp-fcl 1.7.3 or 1.8.0

run`./example-cpp-collisions`

I received the following

[2022-06-21 08:44] jcarpent commented on #1685
Thanks @hxrkpib for reporting this issue. Do you have several installations of Pinocchio and hpp-fcl (locate libhpp-fcl.so, libpinocchio.so)?

[2022-06-21 09:37] jcarpent commented on #1685
Could you run `ldd /usr/local/lib/libhpp-fcl.so`?

[2022-06-21 09:39] hxrkpib commented on #1685
![image](https://user-images.githubusercontent.com/28836328/174769043-f0d575ed-a5ca-4176-9aba-acb9a3af7eb4.png)

[2022-06-21 11:20] fabinsch commented on #1685
Hi, I created an Ubuntu 18.04 docker image installing hpp-fcl (v.1.8.0) and pinocchio master branch (v.2.6.8) that you can access here: [Pinocchio-example-collisions](https://hub.docker.com/layers/fabinsch/pinocchio-example-collisions/latest/images/sha256:7c9a1ffe8b331e1c42b47911ad802bd04d26f1c4aef91e2ec4252d9405158f3c)

`docker run` executes the cpp-example-collisions and everything works fine.

[2022-06-21 16:12] jcarpent commented on #1675
Have you been able to install Pinocchio finally @IvanVnucec?

[2022-06-21 16:52] IvanVnucec commented on #1675
Yes I did but with a lot of fiddling around.

It was really a brute-force approach. Fortunately for me, I have a little bit of experience with programming and building/installing other dependencies was successful, but not easy.

If someone who is novice in programming tries to install Pinocchio from source, I'm afraid one will not succeed.

[2022-06-22 03:42] hxrkpib commented on #1685
@fabinsch @jcarpent
Thanks a lot for you help! I found the problem that I build hpp-fcl under debug mode.

[2022-06-23 12:17] aamorel opened #1686 "Collision detection between multi instances of the same model ?"
First of all thank you for the amazing work on Pinocchio.

I am trying to simulate forward kinematics and collision detection for a multi-robot setup.
Each robot has the same URDF source.

What would be the correct way to implement forward kinematics and collision detection in that case ?

For now I succeeded for the forward kinematic part with this code, but I don't know how to adapt the collisio

[2022-06-23 12:25] jcarpent commented on #1686
@aamorel Could you explain shortly what do want to do?

[2022-06-23 12:27] jcarpent commented on #1686
@aamorel Could you also tell us who are you?

[2022-06-23 12:39] aamorel commented on #1686
Thank you for your fast answer !

I am a new PhD student at EPFL (Lausanne, Switzerland) and I will work on self-reconfigurable modular robotics.

I am working on self-reconfiguration planning: having the modules locomote individually to eventually form a shape. I already have a MDP representation of the problem and have a search algorithm. However, in order to check that an action is valid, I nee

[2022-06-23 14:43] jcarpent commented on #1686
Thanks for the complete details and happy to see that you are using Pinocchio for your research. For collision detection, you have this tiny example: https://github.com/stack-of-tasks/pinocchio/blob/master/examples/collisions.py.
I hope it will be sufficient for you to move forward.

[2022-06-23 15:02] aamorel commented on #1686
Actually, I have seen this example but it is not sufficient to implement collision detection between two robots.
I've tried many tricks but I can't find a solution.

My best bet so far was to create a "global geometry model" and add a copy of all geometryObjects inside it.
However, in that case I don't know how to properly set the geometryData as I can't use the UpdateGeometryPlacements() method.

[2022-06-23 15:06] jcarpent commented on #1686
The best would be to merge the two robots into a single one ...
Or simply to add all the geoms of a given robot into the first one, as attached to the world frame. And then updating manually the placement of these geometries by changing the placement field of the geometry objects contained in the geometry model.

[2022-06-23 15:16] aamorel commented on #1686
I'm not sure if I understand well what is inside geometryModel and what is inside geometryData.

In the second solution so you mention, how would you generate the geometryData for the new global geometryModel ?

[2022-06-23 15:48] jcarpent commented on #1686
geom_data = pin.GeometryData(geometryModel)

[2022-06-23 16:05] aamorel commented on #1686
Ok so if I understand well you suggest to create a global geometryModel such as:
[code]
giving me such structure if we make the hypothesis that I have two robots:
`geometryModel: {geomObject1, geomObject2, geomObject1, geomObject2}`

I write 1 and 2 two times because the two robots are identical and composed of two geomObject

then i use:
`geom_data = pin.GeometryData(geometryModel)`

and then I s

[2022-06-23 16:09] jcarpent commented on #1686
Yes. You can use `appendModel` to append two models together and create a joint and unified model.

[2022-06-23 19:15] jcarpent commented on #1686
I will close this issue as it seems to have been correctly answered.

[2022-06-24 13:52] aamorel opened #1687 "Python scripts stops and no error when using pin.appendModel()"
I'm trying to merge two kinematic chains into one. For this I am trying to use pin.appendModel() to create a new model from the two that represent the two initial kinematic chains. The kinematic chains are identical (coming from the same URDF).
However, when I use this method, the Python script just stops without any error message.

Here is a minimal example ('succeeded' is not printed):
[code]
I

[2022-06-24 13:58] jcarpent commented on #1687
Don't use deepcopy as the objects are managed by C++.
Here is the working example:
[code]

PS: next time, you should provide the URDF model of your robot.

[2022-06-24 14:09] aamorel commented on #1687
There is still a problem I think. I updated the code (and now use a pre-given URDF).
Now, the script succeeds approximately once in 3 times. The other times, it does the same as before and exits without any error.
[code]

[2022-06-24 17:50] jcarpent commented on #1687
I will handle it on Monday.

[2022-06-25 17:55] MaximilianDio opened #1688 "Grasp matrix and frame jacobians"
Hi,

I am currently researching multi-robot manipulation. A very important quantity is the grasp matrix G.
It maps forces from the end-effectors to the COM of an object.

Also, the transpose of the grasp matrix defines the relation between the twist at the COM of the object and the twist at the grasp points (same rigid object).
So x_i = Gi^T*xo, where x_i is the twist at grasp point i and xo is th

[2022-06-26 15:19] #1688 closed

[2022-06-27 11:30] jcarpent commented on #1687
@aamorel Thanks for raising this issue. We have found the bug with @fabinsch and the solution is here #1693.
You can install it manually or I will try to make a new release soon.

[2022-06-27 15:39] GiulioRomualdi opened #1694 "Unable to compile pinocchio3-preview branch"
Hi all! First of all thanks for developing and maintaining Pinocchio! It's a great library!
I'm trying to compile the `pinocchio3-preview` branch since I would like to test the casadi + python feature https://github.com/stack-of-tasks/pinocchio/issues/1569#issuecomment-987974103.

I tried to compile Pinocchio from sources and I installed all the dependencies through `conda`.
Enabling the casadi su

[2022-06-27 21:44] jcarpent commented on #1694
@GiulioRomualdi Thanks for using Pinocchio at IIT, we really appreciate it.
I've pushed a fix on the `pinocchio3-preview` branch.
It should solve your issue.

[2022-06-28 07:48] GiulioRomualdi commented on #1694
Hi @jcarpent! Thanks for the quick replay! The code you pushed fixes the problem! Thanks for helping.

[2022-06-28 07:48] #1694 closed

[2022-06-28 08:47] jcarpent commented on #1694
With great pleasure. We have also a more advanced version of pinocchio3 which we plan to release soon (we are late as usual).

[2022-06-28 15:58] iBims1JFK opened #1696 "URDF spherical joints"
Hello,
I got the following problem: I try to load a URDF file with a spherical joint. It seems that the URDF parser does not [support spherical](https://github.com/ORB-HD/URDF_Parser/blob/master/src/joint.cpp) joints. What is the correct way then to import a model with spherical joints? I am using the ```pinocchio.buildModelFromUrdf(urdf_path)``` function.

Thank you for your help
Greetings Jonath

[2022-06-28 16:05] jcarpent commented on #1696
Which system do you have in mind?

[2022-06-28 21:19] iBims1JFK commented on #1696
Thank you for your very fast response. I want to control a spherical pendulum on a 4 DOF Barrett WAM. Therefore I got the URDF for the WAM and modified it, so that a pendulum is attached to the end. Pybullet is very confident in rendering that URDF. It is very unfortunate that the URDF reader is not capable of reading that file. It is possible to read that URDF file anyway and just attach that pen

[2022-06-29 10:54] iBims1JFK commented on #1696
Thank you for your reply. Is there any documentation about the python bindings for building your own models? At this point, I have not found anything.

[2022-06-29 12:32] jcarpent commented on #1696
See https://github.com/stack-of-tasks/pinocchio/blob/master/examples/simulation-pendulum.py

[2022-06-29 12:35] fabinsch commented on #1696
here you have an example loading an URDF model, building one from scratch and appending them.

[code]

[2022-06-30 17:57] joansola opened #1700 "Installation on macOS"
Trying to install on macOS Monterey, following the MacOS installation instructions:

Starting with
[code]
and then the first instruction line:
[code]
produces the following errors:

[code]

[2022-06-30 21:16] olivier-stasse commented on #1700
conda is the way to go.
`conda install pinocchio -c conda-forge `

[2022-06-30 21:19] joansola commented on #1700
thanks Olivier!

Maybe you want to update the doc :-)

[2022-06-30 21:21] joansola commented on #1700
May I ask this here: Does conda apply also to gepetto-viewer and croccoddyl?

[2022-06-30 22:03] joansola commented on #1700
Hahaha found it!!

thanks!!

[2022-07-01 01:05] Jiayuan-Gu opened #1701 "Segmentation fault for ComputeCollisions"
https://github.com/stack-of-tasks/pinocchio/blob/c2ad2c60eecc04555e265a8f80a9765d3b84f5f1/examples/collisions.py#L37-L42

I find that it is necessary to create `geom_data` after `geom_model.addAllCollisionPairs()`, otherwise there will be a segmentation fault. Can you help explain the reason briefly if it is expected? Otherwise, it might be a bug. The version of `pinocchio` is 2.6.8 from conda.

B

[2022-07-01 08:26] jcarpent commented on #1696
Solved and enhanced via #1698.

[2022-07-01 08:26] #1696 closed

[2022-07-01 08:26] jcarpent commented on #1700
I will try to update the recipes on Brew, but honestly, conda is much more flexible.

[2022-07-01 08:26] #1700 closed

[2022-07-01 08:26] jcarpent commented on #1700
@joansola Happy to see you onboard.

[2022-07-01 08:30] #1701 closed

[2022-07-01 10:53] joansola commented on #1700
Justin, conda is ok, don't bither to do this brew update!

[2022-07-01 10:54] joansola commented on #1700
I will migrate all my brew packages to conda, though, since they seem to conflict quite a lot. Any suggestion?

[2022-07-01 11:20] jcarpent commented on #1700
If you have conflicts, I wouldsay just do brew unlink to shadow them from the rest.

[2022-07-01 20:05] joansola commented on #1700
It is difficult to see what is going on. I will post here the number of conflicts I had when installing gepetto-viewer via conda, and also all the brew packages I have. Conflicts and packages do not match much... so maybe someone can shed some light to see what is the recommended course of action.

[2022-07-01 20:08] joansola commented on #1700
1. CONDA INSTALLATION OF GEPETTO-VIEWER
[code]

[2022-07-01 20:08] joansola commented on #1700
2. BREW LIST

[code]

[2022-07-01 20:12] joansola commented on #1700
This installation process took several hours.

[2022-07-01 20:18] jcarpent commented on #1700
Hi Joan.
You cannot mix brew and conda ... This is not compatible.
I would say that gepetto-viewer is not the right choice as it is no more maintained by Gepetto.
On the other side, I would encourage you to use meshcat as main viewer: it simple and easy to use and install.

What are your needs?

[2022-07-01 20:20] jcarpent commented on #1700
I will update gepetto-viewer recipe from conda to account for latest release.
You also should use mamba instead of conda (c++ version of conda with better conflict managers).

[2022-07-01 20:21] joansola commented on #1700
I need to install pinoccio, croccoddyl, and a viewer. Pep Marti, oru student, is using them in his PhD thesis. Also, he is using gepetto-viewer. But maybe we can change to this other viewer meshcat.

Thanks for all this. Since I barely started with conda, and I still have to get rid of brew packages, I will then switch directly to mamba if you say it's more convenient!

[2022-07-01 20:22] olivier-stasse commented on #1700
mamba is working beautifully with robostack.

[2022-07-01 20:24] joansola commented on #1700
robostack is kind of an improved robotpkg?

[2022-07-01 20:25] joansola commented on #1700
Sorry I'm super newbie on these things

[2022-07-01 20:27] jcarpent commented on #1700
robostack  is ROS in conda. Nice port by the conda creators, which is pretty useful for computations over clusters, etc.

[2022-07-01 20:28] jcarpent commented on #1700
For me, brew is too restrictive and too monolithic. Conda is very flexible and very powerful.

[2022-07-01 20:30] joansola commented on #1700
Oh, having ROS in MacOS is allso something that I would like. So robostack offers this? cool!

Then between conda and mamba, what should I chose?

[2022-07-01 20:31] jcarpent commented on #1700
both. Install conda and mamba within your conda base environment.

[2022-07-01 20:31] jcarpent commented on #1700
Yes.

[2022-07-01 20:32] joansola commented on #1700
ah ok

[2022-07-01 20:32] joansola commented on #1700
OK I'll do all this and see how it works. Thanks!

[2022-07-01 20:35] jcarpent commented on #1700
See https://arxiv.org/abs/2104.12910

[2022-07-01 20:38] olivier-stasse commented on #1700
An alternative is that with the robotstack you have use rviz (noetic) or rviz2 (galactic).

[2022-07-01 20:40] joansola commented on #1700
Cool! Should I use this (closed issue) communication channel with you guys until I have my system running?

[2022-07-01 20:40] jcarpent commented on #1700
Could you move to Gepetto's riot channel instead?

[2022-07-01 20:41] joansola commented on #1700
Sure. Can you put a link here?

[2022-07-01 20:46] jcarpent commented on #1700
https://matrix.to/#/%23pinocchio:matrix.org

[2022-07-01 20:55] cmastalli commented on #1700
@joansola  I am preparing a large PR next week, which it will contain more support of meshcat in Crocoddyl. Currently, you can use it but without the display of contact forces (only robot motion)

The only thing you will need to compile Crocoddyl by source, as it might take a month to release this code.

[2022-07-03 11:52] joansola commented on #1700
OK I got you on Matrix, but for what concerns this thread I will just post updates here. Thanks Justin, Olivier and Carlos for your inputs!

So: I managed to get my Mac clean of Brew and reinstalled all from conda. It is indeed quite powerful and I could find all packages I needed --- with the exception of yaml-cpp which I compiled from source.

Now on to croccoddyl and other geppetto packages :-D

[2022-07-03 13:48] traversaro commented on #1700
Hi @joansola ! In theory there is yaml-cpp in conda-forge (see
https://github.com/conda-forge/yaml-cpp-feedstock). There is any feature missing there for which you had to compile it from source? Thanks!

[2022-07-03 16:24] joansola commented on #1700
Hi Silvio @traversaro ! Nice to meet you here

Let me recap a little bit and tell you what I found missing. It was a bit of a chaos and I am not sure of all the details.

I think it was only the `apriltag` library. The only option through conda was via a robostack ros module and I did not like it. I tried however, but conda replied it was incompatible with my OS version (Monterey). So since I had

[2022-07-03 17:35] traversaro commented on #1700
Perfect! Sorry for the direct question, I was just afraid something was wrong with the yaml-cpp package from conda-forge .

[2022-07-04 13:30] iBims1JFK commented on #1696
Just another question, thank you for answering my last questions. The joint configuration got enhanced by 4 more dimensions after adding the spherical joint. I suppose that these 4 dimensions are quaternions. Could you tell me in which order they are? And is there any documentation about the python binding which I have not found yet.

Thank you for your time!

[2022-07-04 15:01] jcarpent commented on #1696
We use the same as Eigen for the convention (x,y,z,w).
In Python, you can get the Quaternion object by simply:
[code]

[2022-07-04 20:13] fabinsch commented on #1696
Hi @iBims1JFK , for questions like this it is very helpful to quickly check the docstring. In this case here:

[code]
yields all the necessary information:
[code]

[2022-07-04 20:14] fabinsch commented on #1696
We are working on a proper documentation of the python bindings, for now you can already check out the cheat sheet #1705.

[2022-07-06 00:16] mrunaljsarvaiya opened #1707 "Get joint torques after calling computeRNEADerivatives"
I'm looking to solve the general inverse dynamics problem for a simple manipulator to calculate the required torques to achieve desired velocities and accelerations at a set of given positions. After calling `pin.computeRNEADerivatives(model, data, q, v, a)`, how would I use `data.tau` to get the required torques at each joint? I'm confused because model.njoints= 14 but len(data.tau) = 18

[2022-07-06 00:47] #1707 closed

[2022-07-06 04:54] winkhoo opened #1708 "Why do I get extra number of frames when I do model.buildModelFromUrdf()?"
Hello all,

I am fairly new to pinocchio. Pardon me if the question is considerably naive. According to RVIZ,

It should have only 3 frames as shown below:
![Screenshot from 2022-07-05 21-39-29](https://user-images.githubusercontent.com/92617946/177469596-258f9529-ac5c-4340-a075-141c22dcfbf4.png)

But as pinocchio returns 7 frames, namely with the additional frames named "universe", "root_joint",

[2022-07-06 04:59] jcarpent commented on #1708
universe is a default frame in Pinocchio related to the universe.
Then, for each joint, the URDF parser in Pinocchio adds a Frame in such a way you can operate some easy operations just by using frames.

[2022-07-06 04:59] #1708 closed

[2022-07-06 05:08] winkhoo commented on #1708
Thank you mate, this is helpful to me.

[2022-07-13 07:20] aelkhour opened #1713 "Jax support"
I understood from a quick discussion with @perrin-isir that [JAX](https://github.com/google/jax) is becoming the standard for high-performance machine learning research, offering significant performance gains compared to pytorch and tensorflow.

I was wondering whether pinocchio can be interfaced as-is with JAX, or if some additional development work is needed.

/cc @duburcqa

[2022-07-13 07:31] jcarpent commented on #1713
We already support Just-In-Time paradigm for CPU, see the [paper](https://hal.laas.fr/hal-01866228v2/file/19-sii-pinocchio.pdf).
We will add support for GPUs and FPGAs.
It will be also supported in Python.

I don't think using JAX will lead to better performances in this aspect, mostly because the library has been tailored for ML applications, not properly supporting operations on Lie algebra. In

[2022-07-14 09:45] stephane-caron opened #1715 "Shared libraries from "pip install pin" with Bazel"
Using Pinocchio as a Python dependency via the ``pip_install`` rule of Bazel's [rules_python](https://github.com/bazelbuild/rules_python) does not work.

I haven't figured out a working solution yet. Here are some ongoing notes, all suggestions welcome :slightly_smiling_face:

### Symptom

The ``pip_install`` rule itself does not fail at build time, but trying to import Pinocchio then fails at run

[2022-07-15 08:12] stephane-caron commented on #1715
Sounds good, I'll keep an eye on https://pypi.org/project/pin/#history and try again when the new version comes out.

[2022-07-19 22:47] shubhamsingh91 commented on #1650
Hi FenglongSong,
@FenglongSong Thanks for the issue. @jcarpent thanks for the suggestion here.
@FenglongSong  You could essentially use your approach here for computing the force on the knee, right? But for that, don't you need T_kf instead? And then it could be T_kf.act(force_on_foot). is that correct? Also, did you instead use the OCS2 method here instead of yours? I find Justin's suggestion (al

[2022-07-20 08:02] FenglongSong commented on #1650
Hi shubhamsingh91 @shubhamsingh91, yes I think it's my mistake and it should be T_kf.act(force_on_foot).

I did use these [lines](https://github.com/leggedrobotics/ocs2/blob/3566993b9fc5162f4c57ccb6f3d93aab92c5c2b1/ocs2_pinocchio/ocs2_centroidal_model/src/CentroidalModelRbdConversions.cpp#L190) in OCS2 because they match my requirements perfectly and just take copy and paste.  And I trid to simply

[2022-07-29 14:55] waillyam23 opened #1721 "rnea() computation issue"
Hello,

I am working on a controller for the TIAGo based upon the package [pal/gravity_compensation_controller_tutorial](https://github.com/pal-robotics/gravity_compensation_controller_tutorial), and I wish to use Pinocchio to replace RBDL.
I have already written a bit of code, but the computation of `pinocchio::rnea()`  and `RigidBodyDynamics::InverseDynamics()` give different joint torque values

[2022-07-29 15:00] jcarpent commented on #1721
The conventions between RBDL and Pinocchio are not the same for writing configurations.
I guess you are at LAAS, please see directly with Pierre Fernbach (@pfernbach). I've already helped to find the right conversions between the two libraries.

After that, it would be nice to report the solution in Pinocchio documentation.
@waillyam23 Is it fine for you?

[2022-07-29 15:06] olivier-stasse commented on #1721
Thanks @jcarpent for the pointer. We will report the solution in the Pinocchio documentation.

[2022-07-29 15:10] jcarpent commented on #1721
Perfect. Thanks in advance for your contribution.

[2022-08-01 19:40] BolunDai0216 opened #1722 "Using pinocchio within a ROS package"
Hi,

I am trying to use pinocchio within a ROS package. When running `catkin_make --only-pkg-with-deps package_name` I get the following error:

[code]

Would it be possible to help me take a look at this? My understanding of the build system is limited so I really appreciate any help. Thanks in advance!

[2022-08-01 19:43] BolunDai0216 commented on #1722
My `CMakeLists.txt` file is:

[code]

[2022-08-01 20:02] jcarpent commented on #1722
It seems that the compile definitions of Pinocchio are not taken into account.
@wxmerkt or @nim65s Do you know why?

[2022-08-01 20:17] wxmerkt commented on #1722
I put together an example on how to use Pinocchio in a ROS package here: https://github.com/wxmerkt/pinocchio_ros_example

Key is the following note from the README:

[2022-08-01 21:02] jcarpent commented on #1722
Thanks for the quick answer @wxmerkt and the quick solution.

[2022-08-01 21:02] #1722 closed

[2022-08-01 21:09] BolunDai0216 commented on #1722
Thanks for the quick response! After moving the header files on top it successfully compiled!

[2022-08-01 21:26] hh2564 opened #1724 "Couldn't Catkin_make pinocchio_ros_example"
When I cloned the pinocchio_ros_example to my local working catkin workspace and trying to `catkin_make` without changing anything, it says:

[code]

I installed Pinocchio on Ubuntu 20.04, and I think the installation doesn't have any problem because I could import Pinocchio while using python.

Thank you very much in advance!

[2022-08-01 21:34] wxmerkt commented on #1724
I just tried to reproduce using the ROS buildfarm released Pinocchio (`ros-noetic-pinocchio`) and both catkin_make and catkin-tools. It did not trigger this issue. How did you install Pinocchio? How is your workspace configured?

Can you provide us with the output of `locate sample-models.hpp` and `ls /opt/ros/noetic/include/pinocchio/parsers`?

[2022-08-01 21:39] hh2564 commented on #1724
crrl@crrl-HP-Z440-Workstation:~/catkin_ws$ locate sample-models.hpp
/opt/openrobots/include/pinocchio/bindings/python/parsers/sample-models.hpp
/opt/openrobots/include/pinocchio/parsers/sample-models.hpp
/opt/ros/noetic/include/pinocchio/bindings/python/parsers/sample-models.hpp
/opt/ros/noetic/include/pinocchio/parsers/sample-models.hpp

crrl@crrl-HP-Z440-Workstation:~/catkin_ws$ ls /opt/ros/noet

[2022-08-01 21:40] hh2564 commented on #1724
I installed Pinocchio using
 sudo apt install -qqy robotpkg-py38-pinocchio

[2022-08-01 21:59] wxmerkt commented on #1724
You most likely have a conflict between the two installations - robotpkg & the ROS provided distributions are unlikely to be compatible, I would recommend using one or the other. While I am not sure why this would lead to the above configuration error, can you please make sure to only have one sourced on your paths (i.e. no export ...=/opt/openrobots). You can also add a `message(WARNING ${pincchi

[2022-08-01 22:20] hh2564 commented on #1724
I deleted ros-noetic-pinocchio. Now my `CMakeLists.txt` is:

[code]

When running `catkin_make --only-pkg-with-deps pinocchio_ros_example` I get the following error

[code]

[2022-08-01 22:26] wxmerkt commented on #1724
Did you delete the build directory / clean prior to rebuilding? It may still point to the old configuration. Also I noticed my earlier message has a typo, it's missing an "o" in pinocchio_INCLUDE_DIRS

[2022-08-01 22:43] hh2564 commented on #1724
Hi I was able to solve this problem by creating another workspace and have the example compiled and running in the new workspace. I'm wondering if you know what might be the problem with the old workspace that could cause this error?  Thank you so much for your help!

[2022-08-02 06:27] jcarpent commented on #1724
Thanks @wxmerkt for solving this issue.

[2022-08-02 06:27] #1724 closed

[2022-08-02 09:13] wxmerkt commented on #1724
Hi @hh2564, happy to hear you have been able to resolve things! I dont have a way of telling what was wrong with the other workspace based on the available information

[2022-08-05 06:33] jcarpent commented on #1721
@waillyam23 Any update on this issue?

[2022-08-05 06:59] olivier-stasse commented on #1721
Sorry @jcarpent but Pierre is in holidays until next week. As @waillyam23 has other things to look into we will fix the matter next week.

[2022-08-06 04:53] arjung128 opened #1725 "Segmentation Fault during Collision Checking"
Hi, I have been experiencing strange behavior during collision checking. For some specific qpos-point combinations, I have been getting a segmentation fault. An example is the following:

[code]

Here is the error I am getting:

[code]

Interestingly, if either `q[8]` changes by a little bit, or the point `new_pts` changes by a little bit, the segmentation fault goes away. When I visualize the qpo

[2022-08-06 06:45] jcarpent commented on #1725
Could you provide all the scripts and data needed to reproduce this potential bug and the versions of hppfcl and Pinocchio used?

[2022-08-06 06:50] jcarpent commented on #1725
Certainly, some mesh of your robots are not convex and then, leading to a failure of the GJK algorithm

[2022-08-06 06:53] arjung128 commented on #1725
Here is a zip file containing the contents of misc_data/panda, this should have all the data needed to reproduce the bug
[panda.zip](https://github.com/stack-of-tasks/pinocchio/files/9274538/panda.zip).

Running the script above with this data should reproduce the bug.

I am on pinocchio version `2.5.6` and hppfcl version `1.7.8`.

[2022-08-06 07:23] jcarpent commented on #1725
You are working with old versions of both packages

[2022-08-06 07:24] jcarpent commented on #1725
Could you use Pinocchio 2.6.8 and hppfcl 2.1.2?

[2022-08-06 07:25] jcarpent commented on #1725
And then report the new issues if any?

[2022-08-06 19:32] arjung128 commented on #1725
Are the two latest versions compatible? When I try to build using conda using the following commands:

[code]

I get:

[code]

Is this expected? Or do I have to build from source to get the latest versions of both?

[2022-08-06 20:12] jcarpent commented on #1725
There is something weird on your install. It should move down to hpp-fcl 2.01, not 1.6.0. On which OS are you?

[2022-08-06 20:14] arjung128 commented on #1725
Ubuntu 18.04

[2022-08-06 20:28] arjung128 commented on #1725
I just tried Ubuntu 20.04, and I'm getting conflicts there as well:

[code]

[2022-08-06 20:31] jcarpent commented on #1725
Create a new env. It will be fine.

[2022-08-06 20:34] jcarpent commented on #1725
And please update conda, everything seems very old. Check with conda info.

[2022-08-06 23:20] arjung128 commented on #1725
Ok, I do not get the segmentation fault with Pinocchio `2.6.8` and hppfcl `2.1.2`. Thank you so much for your help!

[2022-08-06 23:20] #1725 closed

[2022-08-06 23:28] arjung128 opened #1726 "Cmake error when building from source"
Hi, I have been trying to build pinocchio from source but am running into an issue when I cmake. Here are the commands I'm using:

[code]

And here's the output:

[code]

This is on Ubuntu 20.04. Any ideas what might be happening and what can be done to resolve this? Thanks in advance!

[2022-08-07 05:59] jcarpent commented on #1726
Please use the devel branch for that, which contains the fix.

[2022-08-07 05:59] #1726 closed

[2022-08-07 07:12] jcarpent commented on #1725
Sounds great. Happy to see it works well.

[2022-08-08 18:40] FenglongSong commented on #1726
Hi Justin @jcarpent thanks for the reply. I also encountered this issue when I tried to build the pinocchio3-preview branch since I'd like to try the casadi support in pinocchio3. Will the fix for pinocchio3 be released recently?

[2022-08-09 14:00] fenaux opened #1728 "in conda (spyder) No module named 'pinocchio.pinocchio_pywrap'"
I installed Pinocchio with
sudo apt-get install robotpkg-py38-pinocchio

then add the path to my conda environment with
conda develop /opt/openrobots/lib/python3.8/site-packages

but when running "import pinocchio" I get
   import pinocchio

  File /opt/openrobots/lib/python3.8/site-packages/pinocchio/__init__.py:6 in <module>
    from .pinocchio_pywrap import *

ModuleNotFoundError: No module nam

[2022-08-09 14:22] jcarpent commented on #1728
You should install Pinocchio via conda and not via apt. These are two different package managers and as far I understand, you want to use spyder with conda integration.

[2022-08-09 15:33] jcarpent commented on #1728
In addition, be careful, that you are using Python 3.9 while you have installed Pinocchio bindings for Python 3.8 (the default version on your Ubuntu)

[2022-08-09 15:46] fenaux commented on #1728
Many Thanks for your prompt answer.

It's not my wish to use Pinocchio bindings for Python 3.8. It's just the version name I saw when reading some of the previous issues. If there is a better match with Python 3.9 I will be happy to use it
If you are kind enough to give me the command line to install pinocchio with conda ;)...

[2022-08-09 18:15] FenglongSong opened #1729 "Built from source, encoutered ImportError: libeigenpy.so: cannot open shared object file: No such file or directory"
Dear Pinocchio team,

First of all thanks for the great project. I'm trying to use pinocchio3 casadi-python interface. And when I run a simple script, the first line `import pinocchio` fails.
[code]
I was following the tutorial on Pinocchio website [here](https://stack-of-tasks.github.io/pinocchio/download.html)  and I did add these lines into `~/.bashrc` and run `source ~/.bashrc`
[code]
I'm susc

[2022-08-09 18:24] jcarpent commented on #1729
Could you display `echo $LD_LIBRARY_PATH`?

[2022-08-09 18:24] jcarpent commented on #1729
On which version of ubuntu are you?

[2022-08-09 18:28] FenglongSong commented on #1729
Hi Justin, by `echo $LD_LIBRARY_PATH`:
[code]
I'm using Ubuntu 20.04

[2022-08-09 18:39] jcarpent commented on #1729
can you show the output of `ls /opt/openrobots/lib`?

[2022-08-09 18:40] FenglongSong commented on #1729
fenglongsong@ubuntu:~/Documents/pinocchio3/pinocchio/build(pinocchio3-preview)$ ls /opt/openrobots/lib
cmake  libeigenpy.so  libhpp-fcl.so  libpinocchio.so  libpinocchio.so.2.6.8  pkgconfig  python3.8

[2022-08-09 18:42] jcarpent commented on #1729
`ldd /usr/local/lib/python3/dist-packages/pinocchio/pinocchio_pywrap_default.so`?

[2022-08-09 18:43] jcarpent commented on #1729
It is weird because you have Pinocchio 2.6.8 also installed.

[2022-08-09 18:43] jcarpent commented on #1729
You need to first deinstall pinocchio 2.6.8 of your system.

[2022-08-09 19:07] xeonz1 opened #1730 "Fail to generate code for pinocchio::aba with CppAD"
Hi,

Pinocchio version : 2.6.8 installed from Conda
CppAD: v20220705, CppADCg: v2.4.3

code:
[code]

The code is adapted from the unittest `cppadcg-algo.cpp`. The code generation for `CentroidalMomentum` and `rnea` were successful, while for `aba` the generation failed and it prints:

[code]